<!-- 1.1    QBurst    27/02/2020    Added Hyperlink to Inquiry -->
<apex:page showHeader="false" standardStylesheets="false" sidebar="false"
   applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" standardController="Inquiry__c" extensions="ActivityTimelineController">
      <apex:slds />
      <html xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-init.min.js')}"></script>
      <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-modal.min.js')}"></script>
      <script src="{!$Resource.jQuery_UI_JS}"></script>

      <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

         <title>Activity Timeline</title>

      <apex:includeScript value="{!$Resource.svg4everybody}" />
      <script src="/soap/ajax/33.0/connection.js" type="text/javascript"></script>

      <style>
        select {
           background-color: #fff;
           color: #16325c;
           border: 1px solid #d8dde6;
           border-radius: .25rem;
           width: 100%;
           transition: border .1s linear,background-color .1s linear;
           display: inline-block;
           padding: 0 1rem 0 .75rem;
           line-height: 1.875rem;
           min-height: calc(1.875rem + (1px * 2));
           text-transform: none;
       }
       .row{
           padding: 1%;
           box-shadow: 0px 0px 11px 1px #888888;
           border-radius: 23px;
           margin: 2%;
           margin-top: 2%;
       }
       .slds-scope .slds-timeline__icon {
           border: 2px solid #fff;
           border-top-width:0!important;
           border-bottom-width: 0!important;
       }
       .floatRight {
            float: right;
            margin-bottom: 1%;
       }
       .floatLeft {
            float: left;
       }
      </style>
      </head>

      <apex:slds />
      <apex:form id="formId">
      <apex:outputPanel id="timelineid">
      <body class="slds-scope">
          <div class="row">
              <!-- Start of spinner -->
            <div class="demo-only" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0;
                                opacity: 0.75; z-index: 1000; background-color: #ddd;display: none" id="spinner">
            <div role="status" class="slds-spinner slds-spinner_medium">
            <span class="slds-assistive-text">Loading</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
            </div>
            </div>
            <!-- End Of Spinner -->

            <center>
            <div class="slds">
              <button class="slds-button slds-button_neutral" onClick="closeWindow();">
                  Close
              </button>
              
              <button class="slds-button slds-button_neutral" onclick="createTaskRecord('{!inq.Id}');">New</button>
            </div>

            </center>

              <div class="slds-tabs_default">
                  <ul class="slds-tabs_default__nav" role="tablist">
                      <li class="slds-tabs_default__item slds-active" title="Item One" role="presentation">
                          <a class="slds-tabs_default__link" href="javascript:void(0);"
                              role="tab" tabindex="0" aria-selected="true"
                              aria-controls="tab-default-1" id="tab-default-1__item">
                              Activity
                          </a>
                      </li>
                      <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                          <a class="slds-tabs_default__link" href="javascript:void(0);"
                              role="tab" tabindex="-1" aria-selected="false"
                              aria-controls="tab-default-2" id="tab-default-2__item">
                              Sales Tours
                          </a>
                      </li>
                  </ul>
                  <div id="tab-default-1" class="slds-tabs_default__content slds-show"
                      role="tabpanel" aria-labelledby="tab-default-1__item">
                        <div class="slds-text-heading_medium floatLeft">Activities related to 
                            <b><a href="/{!inq.Id}">{!inq.name}</a></b>   <!--- 1.1 --->
                        </div>
                     
                        <hr/>
                        <div class="slds-page-header paginationHeader"
                            style="{!IF((taskIterator.size > 0),'display:none','display:block;')}">
                            No records found!
                        </div>
                        <apex:outputPanel id="timelineid1">
                        <ul class="slds-timeline" >
                          <apex:repeat value="{!taskIterator}" var="taskCounter">
                             <li>
                                <div class="slds-timeline__item_expandable slds-timeline__item_task " style="line-height:2.5">
                                   <div class="slds-media">
                                     <div class="slds-media__figure">
                                        <div class="slds-icon_container slds-icon-standard-task slds-timeline__icon">
                                           <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                              <use xmlns:xlink="https://www.w3.org/1999/xlink"
                                              xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#task')}" />
                                           </svg>
                                        </div>
                                     </div>
                                      <div class="slds-media__body">
                                         <div class="slds-grid slds-grid_align-spread slds-timeline__trigger ">
                                            <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                                               <span class="slds-checkbox">
                                                  <input type="checkbox" name="options" id="checkbox-14" value="checkbox-14" />
                                                  <label class="slds-checkbox__label" for="checkbox-14">
                                                  </label>
                                               </span>
                                               <h3 class="slds-truncate" title="{!inquiryTaskList[taskCounter].subject}">
                                                  <a href="javascript:void(0);">
                                                     <strong >{!inquiryTaskList[taskCounter].subject}</strong>
                                                  </a>
                                               </h3>
                                               <div class="slds-no-flex">
                                                  <span class="slds-icon_container slds-icon-utility-rotate" title="Recurring Task">
                                                     <svg class="slds-icon slds-icon_xx-small slds-icon-text-default slds-m-left_x-small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#rotate')}" />
                                                     </svg>
                                                     <span class="slds-assistive-text">Recurring Task</span>
                                                  </span>
                                               </div>
                                            </div>

                                            <div class="slds-timeline__actions slds-timeline__actions_inline slds-truncate slds-no-flex" style="{!IF (inquiryTaskList[taskCounter].Status == 'Completed', 'display:none;','display:block;')}">
                                                <span  onclick="editrecord('{!inquiryTaskList[taskCounter].id}');return false;"
                                                   id="mybutton" class="slds-text-link" title="Edit Activity"
                                                   aria-controls="task-item-base" aria-expanded="true" >
                                                   Edit
                                                 </span>
                                            </div>
                                         </div>
                                         <div> <apex:outputField styleClass="slds-timeline__date" value="{!inquiryTaskList[taskCounter].CreatedDate}"/> </div>
                                         <div> <apex:outputField styleClass="slds-timeline__date" value="{!inquiryTaskList[taskCounter].Status}"/> </div>
                                          <p class="slds-m-horizontal_xx-small" style="width:100%;" >
                                            <a href="javascript:void(0);"></a>
                                            {!inquiryTaskList[taskCounter].Description} <br/>
                                          </p>


                                            <!-- DESKTOP VIEW -->
                                            <apex:outputPanel rendered="{!!isSF1}"  style="height: 293px !important;">
                                            <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small " style="display:none;" id="{!inquiryTaskList[taskCounter].id}"
                                            aria-hidden="true">

                                            <div class="slds-scope">
                                              <div class="myapp">
                                                <div class="slds-grid slds-wrap">
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4 slds-truncate">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Subject</span><br/>
                                                      <p class="slds-truncate"><apex:inputText styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Subject}" /> </p>
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Due Date</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Task_Due_Date__c}"/>
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Activity Type</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Activity_Type_3__c}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Activity Outcome</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Activity_Outcome__c}" />
                                                    </div>
                                                  </div>
                                                 <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Status</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Status}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--2-of-2 slds-medium-size--4-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Comments</span><br/>
                                                      <apex:inputTextarea rows="8" styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Description}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Created By</span><br/>
                                                      <span>{!inquiryTaskList[taskCounter].CreatedBy.Name}</span>
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Last Modified By</span><br/>
                                                      <span>{!inquiryTaskList[taskCounter].LastModifiedBy.Name}</span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <button class="slds-button slds-button_brand" onclick="savetaskfn('{!taskCounter}');return false" style="line-height:2">Save</button>
                                            <button class="slds-button  slds-button_icon slds-button_neutral" onclick="closeedit('{!inquiryTaskList[taskCounter].id}'); return false" style="line-height:2">Cancel</button>
                                          </article>
                                          </apex:outputPanel>

                                          <!-- MOBILE VIEW -->
                                            <apex:outputPanel rendered="{!isSF1}"  style="height: 293px !important;">
                                            <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small " style="display:none;padding:0rem;" id="{!inquiryTaskList[taskCounter].id}"
                                            aria-hidden="true">

                                            <div class="slds-scope">
                                              <div class="myapp">
                                                <div class="slds-grid slds-wrap">
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Subject </span><br/>
                                                      <apex:inputText styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Subject}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Due Date </span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Task_Due_Date__c}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Activity Type</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Activity_Type_3__c}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Activity Outcome</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Activity_Outcome__c}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Status</span><br/>
                                                      <apex:inputField styleClass="slds-input" value="{!inquiryTaskList[taskCounter].Status}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--2-of-2 slds-medium-size--4-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Comments</span><br/>
                                                      <apex:inputTextarea styleClass="slds-input" rows="8" value="{!inquiryTaskList[taskCounter].Description}" />
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Created By</span><br/>
                                                      <span>{!inquiryTaskList[taskCounter].CreatedBy.Name}</span>
                                                    </div>
                                                  </div>
                                                  <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                    <div class="slds-box_x-small slds-m-around--x-small">
                                                      <span>Last Modified By</span><br/>
                                                      <span>{!inquiryTaskList[taskCounter].LastModifiedBy.Name}</span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <button class="slds-button slds-button_brand" onclick="savetaskfn('{!taskCounter}');return false" style="line-height:2;margin-left: 3px;">Save</button>
                                            <button class="slds-button  slds-button_icon slds-button_neutral" onclick="closeedit('{!inquiryTaskList[taskCounter].id}'); return false" style="line-height:2">Cancel</button>
                                          </article>
                                          </apex:outputPanel>


                                      </div>
                                   </div>
                                </div>
                             </li>
                          </apex:repeat>
                        </ul>
                        </apex:outputPanel>
                      </div>
                      <div id="tab-default-2" class="slds-tabs_default__content slds-hide"
                            role="tabpanel" aria-labelledby="tab-default-2__item">
                          <div class="slds-text-heading_medium">Sales Tours related to 
                          <b><a href="/{!inq.Id}">{!inq.name}</a></b></div>  <!--- 1.1 --->
                          <hr/>
                          <div class="slds-page-header paginationHeader"
                                style="{!IF((tourIterator.size > 0), 'display:none', 'display:block;')}">
                                No records found!
                          </div>
                          <apex:outputPanel id="timelineid2">
                          <ul class="slds-timeline" style="margin-top: 30px !important;">
                              <apex:repeat value="{!tourIterator}" var="tourCounter">
                                  <li>
                                    <div class="slds-timeline__item_expandable slds-timeline__item_task " style="line-height:2.5">
                                       <div class="slds-media">
                                          <div class="slds-media__figure">
                                             <div class="slds-icon_container slds-icon-standard-task slds-timeline__icon">
                                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                   <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#task')}" />
                                                </svg>
                                             </div>
                                          </div>
                                          <div class="slds-media__body">
                                             <div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
                                                <div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
                                                   <span class="slds-checkbox">
                                                      <input type="checkbox" name="options" id="checkbox-14" value="checkbox-14" />
                                                      <label class="slds-checkbox__label" for="checkbox-14">
                                                      </label>
                                                   </span>
                                                   <h3 class="slds-truncate" title="{!inquirySalesToursList[tourCounter].Name}">
                                                      <a href="javascript:void(0);">
                                                         <strong>{!inquirySalesToursList[tourCounter].Name}</strong>
                                                      </a>
                                                   </h3>
                                                   <div class="slds-no-flex">
                                                      <span class="slds-icon_container slds-icon-utility-rotate" title="Recurring Tours">
                                                         <svg class="slds-icon slds-icon_xx-small slds-icon-text-default slds-m-left_x-small" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#rotate')}" />
                                                         </svg>
                                                         <span class="slds-assistive-text">Recurring Tours</span>
                                                      </span>
                                                   </div>
                                                </div>

                                                <div class="slds-timeline__actions slds-timeline__actions_inline slds-truncate slds-no-flex">
                                                  <span onclick="editrecord('{!inquirySalesToursList[tourCounter].id}');return false;"
                                                     id="mybutton" class="slds-text-link" title="Edit Activity"
                                                     aria-controls="task-item-base" aria-expanded="true" >
                                                     Edit
                                                 </span>
                                                </div>
                                             </div>
                                             <div class="slds-truncate ">
                                                 <apex:outputField styleClass="slds-timeline__date" value="{!inquirySalesToursList[tourCounter].CreatedDate}"/>
                                             </div>
                                             <p class="slds-m-horizontal_xx-small"><a href="javascript:void(0);"></a>{!inquirySalesToursList[tourCounter].Comments__c} </p>
                                             <!-- DESKTOP VIEW -->
                                            <apex:outputPanel rendered="{!!isSF1}"  style="height: 293px !important;">

                                             <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small" style="display:none" id="{!inquirySalesToursList[tourCounter].id}"
                                                aria-hidden="true">
                                                <div class="slds-scope">
                                                  <div class="myapp">
                                                    <div class="slds-grid slds-wrap">
                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Inquiry Name</span><br/>
                                                          <apex:outputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Inquiry_Name__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>PC Name</span><br/>
                                                          <apex:outputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Inquiry_PC__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Check In Date</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Check_In_Date__c}" />
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Check Out Date</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Check_Out_Date__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Tour Outcome</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Tour_Outcome__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Pickup Location</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Pickup_Location__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--2-of-2 slds-medium-size--4-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Notes</span><br/>
                                                          <apex:inputTextarea styleClass="slds-input"  rows="8"  value="{!inquirySalesToursList[tourCounter].Comments__c}" />
                                                        </div>
                                                      </div>

                                                    </div>
                                                  </div>
                                                </div>
                                                <button class="slds-button slds-button_brand btnCls" onclick="saveTourfn('{!tourCounter}');return false" style="line-height:2">Submit</button>
                                                <button class="slds-button  slds-button_icon slds-button_neutral" onclick="closeedit('{!inquirySalesToursList[tourCounter].id}'); return false" style="line-height:2">Cancel</button>
                                             </article>
                                           </apex:outputPanel>

                                           <!-- MOBILE VIEW -->
                                            <apex:outputPanel rendered="{!isSF1}"  style="height: 293px !important;">

                                             <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small" style="display:none;padding:0rem;" id="{!inquirySalesToursList[tourCounter].id}"
                                                aria-hidden="true">
                                                <div class="slds-scope">
                                                  <div class="myapp">
                                                    <div class="slds-grid slds-wrap">
                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Inquiry Name</span><br/>
                                                          <apex:outputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Inquiry_Name__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>PC Name</span><br/>
                                                          <apex:outputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Inquiry_PC__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Check In Date</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Check_In_Date__c}" />
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Check Out Date</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Check_Out_Date__c}" />
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Tour Outcome</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Tour_Outcome__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--2-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Pickup Location</span><br/>
                                                          <apex:inputField styleClass="slds-input" value="{!inquirySalesToursList[tourCounter].Pickup_Location__c}"/>
                                                        </div>
                                                      </div>

                                                      <div class="slds-col slds-size--1-of-1 slds-small-size--2-of-2 slds-medium-size--4-of-4">
                                                        <div class="slds-box_x-small slds-m-around--x-small">
                                                          <span>Notes</span><br/>
                                                          <apex:inputTextarea styleClass="slds-input"  rows="8"  value="{!inquirySalesToursList[tourCounter].Comments__c}"/>
                                                        </div>
                                                      </div>

                                                    </div>
                                                  </div>
                                                </div>
                                                <button class="slds-button slds-button_brand btnCls" onclick="saveTourfn('{!tourCounter}');return false" style="line-height:2;margin-left:3px">Submit</button>
                                                <button class="slds-button  slds-button_icon slds-button_neutral" onclick="closeedit('{!inquirySalesToursList[tourCounter].id}'); return false" style="line-height:2">Cancel</button>
                                             </article>
                                           </apex:outputPanel>

                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              </apex:repeat>
                          </ul>
                          </apex:outputPanel>
                      </div>
                  </div>
              </div>
          </body>
          <apex:actionFunction name="savetaskactfun" action="{!saveTask}"
              rerender="timelineid1" oncomplete="closespinner()" >
              <apex:param name="counter" value="" assignTo="{!taskCounter}"/>
          </apex:actionFunction>
          <apex:actionFunction name="redirectNewPage" action="{!createTaskRecord}"
              rerender="timelineid1" oncomplete="closespinner()" >
          </apex:actionFunction>
          <apex:actionFunction name="saveTourFun" action="{!saveTour}"
              rerender="timelineid2" oncomplete="closespinner()">
              <apex:param name="counter" value="" assignTo="{!tourCounter}"/>
          </apex:actionFunction>

          <script >
              svg4everybody();
              function editrecord(taskid){
                  //alert('heloo' + taskid);
                  //$("#task-item-base").css("display:block");
                  var x = document.getElementById(taskid);
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }

              function closeedit(taskid){
                  var x = document.getElementById(taskid);
                  x.style.display = "none";

              }

              function savetaskfn(taskCounter){
                  var x = document.getElementById('spinner');
                  x.style.display = "block";
                  //alert('taskCounter @@'+taskCounter);
                  savetaskactfun(taskCounter);

              }

              function closespinner(){
                  var x = document.getElementById('spinner');
                  x.style.display = "none";
              }

              function saveTourfn(tourCounter){
                  var x = document.getElementById('spinner');
                  x.style.display = "block";
                  saveTourFun(tourCounter);
              }

              // When the user clicks on <span> (x), close the modal
          /* var span = document.getElementsByClassName("close")[0];
              span.onclick = function() {
                  window.close();
              }*/
          </script>
      </apex:outputPanel>
      </apex:form>
      <script>
          var $j = jQuery.noConflict();
          $j(document).ready(function() {
            /*SLDS Tabs JS*/
              $j('.slds-tabs_default__link').click(function() {
                  $j(this).parent().parent().find('.slds-tabs_default__link').attr('aria-selected', 'false');
                  $j(this).attr('aria-selected', 'true');
                  $j(this).parent().parent().find('.slds-tabs_default__link').attr('tabindex', '-1');
                  $j(this).attr('tabindex', '0');
                  //$j(this).parent().removeClass('slds-is-active');
                  $j(this).parent().addClass('slds-active').siblings().removeClass('slds-active');
                  $j(this).parent().parent().parent().find('.' + $j(this).parent().parent().parent().find('.slds-tabs_default__content')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
                  $j(this).parent().parent().parent().find('#' + $j(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');

                  $j(".selectedTab").val($j(this).parent().parent().parent().find('#' + $j(this).attr('aria-controls')).attr("id"));
              });
              /*SLDS Tabs JS */
          });
          /**
           * Method redirect to the detail page on Close Click
           */
          function closeWindow() {
            if( (typeof sforce.one != 'undefined') && (sforce.one != null) ) {
                var paramName = getUrlParameter("view");
                var apexstr =  '/apex/RecentInquiries'; 
                 if(paramName == "global") {
                    sforce.one.navigateToURL(apexstr);
                }  else {  
                    sforce.one.navigateToSObject('{!inq.Id}','detail');
                }
            } else {
              window.close();
            }
          }
        /**
         * Method to get the value of the Parameter Name passed
         */
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
        /**
         * Function to create Task Record related to the Inquiries
         */
         function createTaskRecord(inqId) {
            if( (typeof sforce.one != 'undefined') && (sforce.one != null) ) {
                var apexstr =  '/apex/CreateNewTask?inqId='+inqId; 
                sforce.one.navigateToURL(apexstr);
            }  else {
                redirectNewPage();;
                return false;
            }
            
         }
      </script>
   </html>
</apex:page>