<apex:page standardController="Account" extensions="custEditPage">
    <style type="text/css">
        .progressStyle{
            background-image: url('/img/loading.gif');
            background-repeat: no-repeat;
            padding-left: 25px;
            font-family: 'Trebuchet MS';
            font-size: larger;
            font-weight: bold;
            color: #222;     
        }
    </style>

    <apex:form id="custP" >
        <apex:pageBlock title="Additional Customer Profile - {!Account.Name}" mode="edit">
            <apex:actionStatus id="Progress" startText="Updating. Please wait..."
                startStyleClass="progressStyle">
            </apex:actionStatus>  
            <apex:actionFunction name="SetPageValues" action="{!SetCustValues}" rerender="custP" status="myStatus"/>     
            <apex:pageBlockSection title="Customer Information" columns="3" collapsible="true">
               <apex:inputField value="{!Account.Gender__c}" />
               <apex:inputField value="{!Account.Eductaion__c}" onchange="SetPageValues()"/>
               <apex:inputtext value="{!Account.Education_Others__c}" disabled="{!if(Account.Eductaion__c=='Others, please state',False,True)}"/>
               <apex:inputField value="{!Account.Company_Name__c}"/>
                <apex:inputField value="{!Account.Industry}"/>
                 <apex:inputField value="{!Account.Position__c}"/>
                <apex:inputField value="{!Account.Marital_Status__c}"/>
                <apex:inputField value="{!Account.Religion__c}" />
                <apex:inputField value="{!Account.Mother_Language__c}"/>
                <apex:inputField value="{!Account.Additional_Language__c}"/>
               <apex:inputField value="{!Account.Age_of_Birth__c}"/>           
                <apex:inputField value="{!Account.Disabilities__c}"/>
                <apex:inputField value="{!Account.Type_of_Car__c}"/> 
                 <apex:inputField value="{!Account.Home_Town__c}"/>   
                <apex:inputField value="{!Account.Hobbies__c}" onchange="SetPageValues()"/>
                <apex:inputtext value="{!Account.Hobbies_Others__c}" disabled="{!if(Account.Hobbies__c=='Others, please state',False,True)}"/>
                <apex:inputField value="{!Account.Favorite_Sport__c}" onchange="SetPageValues()"/>
                 <apex:inputtext value="{!Account.Sport_Others__c}" disabled="{!if(Account.Favorite_Sport__c=='Others, please state',False,True)}"/>
                <apex:inputField value="{!Account.Favorite_TV_shows_music_Movie__c}"/>
                <apex:inputField value="{!Account.Personal_Interests__c}"/>
                <apex:inputField value="{!Account.Favorite_Vacation_City__c}" onchange="SetPageValues()"/>
                <apex:inputtext value="{!Account.Vaccation_city_Others__c}" disabled="{!if(Account.Favorite_Vacation_City__c=='Others, please state',False,True)}"/>
                <apex:inputField value="{!Account.Festivals_Celebrations__c}"/>
                <apex:inputField value="{!Account.Favorite_Music__c}" onchange="SetPageValues()"/>
                  <apex:inputtext value="{!Account.Music_Show_Others__c}" disabled="{!if(Account.Favorite_Music__c=='Others, please state',False,True)}"/>
                  <apex:inputField value="{!Account.Favorite_Personality__c}"/>
                <apex:inputField value="{!Account.Favorite_Evenings__c}"/>
                <apex:inputField value="{!Account.Frequent_Website_visit__c}"/>
                <apex:inputField value="{!Account.Blogs_regularly_read__c}"/>
                 <apex:inputField value="{!Account.What_product_improve_your_life__c}"/>
                 <apex:inputField value="{!Account.Work_Anniversary__c}"/>
                <apex:inputField value="{!Account.Cuisine_Preferences__c}"/>
                <apex:inputField value="{!Account.Holiday_Destinations__c}"/>
             <apex:inputField value="{!Account.Favorite_Brands__c}"/>
            <apex:inputField value="{!Account.Favorite_Cravings__c}"/>
            <apex:inputField value="{!Account.No_of_Children__c}"/>
            <apex:inputField value="{!Account.Child_1_DOB__c}"/>
            <apex:inputField value="{!Account.Child_2_DOB__c}"/>
             <apex:inputField value="{!Account.Child_3_DOB__c}"/>
               <apex:inputField value="{!Account.Child_4_DOB__c}"/>
               <apex:inputField value="{!Account.Child_5_DOB__c}"/>
                   <apex:inputField value="{!Account.Child_6_DOB__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="both">
                <apex:commandButton action="{!customSave}" value="Save" status="progress"
                    oncomplete="window.top.location.href = '/{!Account.Id}'"/>
                   <apex:commandButton action="{!cancel}" value="Cancel" status="progress" 
                   oncomplete="window.top.location.href='/{!Account.Id}'"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>