<!--
Name : Pratiksha Narvekar
Created Date : 30-08-2017
Description : Created new page for agent portal.
-->
<apex:page showheader="false" sidebar="false"
    controller="AgentPortalAnnounsmentController"
    standardStylesheets="false">
    <head>
<title>Damac | Agent Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="utf-8" http-equiv="encoding" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport" />
<apex:includeScript value="{!URLFOR($Resource.AgentportalPaninationjs)}" />
<style type="text/css">
a.remove {
    background-image: url({!URLFOR($Resource.AgentPortalRemoveIconWhite)});
}

a.config {
    background-image: url({!URLFOR($Resource.AgentPortalConfigIconWhite)});
}

a.reload {
    background-image: url({!URLFOR($Resource.AgentPortalReloadIconWhite)});
}

a.expand {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}

a.collapse {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}
.gridster-agent-portal .offic-block {
    overflow-x: hidden;
}

#pageNavPosition span {
    background-color: #14a4fa;
    color: #fff;
    padding: 7px 20px;
}
</style>
<apex:stylesheet value="{!$Resource.AgentPortalComponent}" />
<apex:stylesheet value="{!$Resource.AgentPortalIconicons}" />
<apex:stylesheet value="{!$Resource.AgentPortalLayout}" />
<style type="text/css">
.portlet.box>.portlet-title>.tools>a.collapse {
    background-image: url=({!($Resource.AgentPortalCollapseIconWhite)})!important;
    }
.portlet.box>.portlet-title>.tools>a.config {
    background-image: url=({!($Resource.AgentPortalConfigIconWhite)})!important;
}
.resizable-grid-wpr li {
    min-height: 0px;
}

.btndownload {
    border-radius: 4px !important;
    padding: 10px 20px !important;
    background-color: rgba(0, 0, 0, 0.86);
    color: #fff;
    width: 110px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    /* background-color: #26a69a; */
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
</style>

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-ui-1.10.3.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/raphael-min.js')}" />

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.sparkline.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-1.2.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-world-mill-en.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.easy-pie-chart.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/fullcalendar.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.knob.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/daterangepicker.js')}" />

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap3-wysihtml5.all.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/icheck.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.gridster.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.touch-punch.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.shapeshift.js')}" />
<!-- <apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/App.js')}" /> -->
<apex:includeScript value="{!$Resource.AgentPortalGridster}" />
<apex:includeScript value="{!$Resource.AgentPortalQuickSidebar}" />
<apex:includeScript value="{!$Resource.AgentPortalQuickNavjs}" />
<apex:includeScript value="{!$Resource.AgentPortalApp}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.shapeshift.resizable.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/dashboard.js')}" />

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/ionicons.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.gridster.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/morris.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-1.2.2.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/fullcalendar.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/daterangepicker-bs3.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap3-wysihtml5.min.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/style.css')}" /> -->
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/AgentPortalFont')}" /> -->
<!-- <apex:stylesheet value="{!$Resource.AgentPortalStyle}" /> -->
<apex:stylesheet value="{!$Resource.AgentPortalLayout2}" />
<script type="text/javascript">
            function opennewwindow(){
             window.open('{!URLFOR($Page.AgentPortalNewlead,null)}','_Self');
            }
  function ToggleTable() {
    var x = document.getElementById('tabletog');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }

}
</script>
    </head>
    <body class="skin-black  pace-done">
        <div class="pace  pace-inactive">
            <div class="pace-progress" data-progress-text="100%"
                data-progress="99" style="width: 100%;">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <c:AgentPortalHeader />
        <div id="offcanvas" class="wrapper row-offcanvas row-offcanvas-left"
            style="min-height: 541px;">
            <c:AgentPortalSidebar />
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->


                <!-- Main content -->
                <section class="content">

                    <div style="margin: 1%;" id="Menu1">

                        <!-- /.row (main row) -->
                        <div class="row">
                            <ul
                                class="gridster-agent-portal ui-droppable shapeshifted_container_znw3u"
                                style="height: 1808px;">
                                <li data-ss-colspan="5"
                                    class="resizable-widget offic-li my-commissions my-box ui-resizable ss-active-child"
                                    style="left: -34.5; top: 0px;">
                                    <div class="col-lg-12 height100 ">
                                        <!--                                    <c:AgemtPortalCIL /> -->
                                        <div class="pace  pace-inactive">
                                            <div class="pace-progress" style="width: 100%;"
                                                data-progress-text="100%" data-progress="99">
                                                <div class="pace-progress-inner"></div>
                                            </div>
                                            <div class="pace-activity"></div>
                                        </div>

                                        <div class="wrapper row-offcanvas row-offcanvas-left"
                                            style="min-height: 611px;">

                                            <aside>
                                                <!-- Content Header (Page header) -->


                                                <!-- Main content -->
                                                <section class="content padding-0">


                                                    <div>
                                                        <div>
                                                            <apex:image url="{!URLFOR($Resource.AgentPortalImages,'images/Inquiries.jpg')}"
                                                                styleclass="img-responsive" />
                                                            <br />
                                                            <div class="">
                                                                <div class="" id="tablebody">
                                                                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                                                                    <div class="portlet box blue">
                                                                        <div class="portlet-title">
                                                                            <!--<div class="caption">
                                                                                <i class="fa fa-cogs"></i>
                                                                            </div>
                                                                            <div class="tools">
                                                                                <a href="javascript:;" class="collapse" onclick="ToggleTable();"> </a> 
                                        <a
                                            href="#portlet-config" data-toggle="modal" class="config">
                                        </a> 
                                        <a href="javascript:;" class="reload" onclick="window.location.reload();"> </a> 
                                        <a
                                            href="javascript:;" onclick="offTR('tablebody');" class="remove"> </a>
                                                                            </div>-->
                                                                        </div>
                                                                        <div class="portlet-body">
                                                                            <div class="table-responsive" id="tabletog">
                                                                                <div id="example2_wrapper"
                                                                                    class="dataTables_wrapper no-footer">
                                                                                    <table id="tablepaging"
                                                                                        class="table table-bordered table-hover dataTable no-footer"
                                                                                        role="grid" aria-describedby="example2_info">
                                                                                        <thead>
                                                                                            <tr role="row">
                                                                                                <th class="sorting_asc" tabindex="0"
                                                                                                    aria-controls="example2" rowspan="1"
                                                                                                    colspan="1" aria-sort="ascending"
                                                                                                    aria-label="Inquiry Number: activate to sort column descending">Title</th>
                                                                                                <th class="sorting" tabindex="0"
                                                                                                    aria-controls="example2" rowspan="1"
                                                                                                    colspan="1"
                                                                                                    aria-label="First Name: activate to sort column ascending">Start Date</th>
                                                                                                <th class="sorting" tabindex="0"
                                                                                                    aria-controls="example2" rowspan="1"
                                                                                                    colspan="1"
                                                                                                    aria-label="Last Name: activate to sort column ascending">End
                                                                                                    Date</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
 

                                                                                            <apex:repeat id="table_wrapper"
                                                                                                value="{!AnnouncementRequestDetail}" var="aWrap">
                                                                                                <tr role="row" class="odd">
                                                                                                    <td class="sorting_1" style="cursor:pointer;"
                                                                                                        onclick="window.location.href='{!URLFOR($Page.AgentPortalSingleAnnouncement,null)}?Id={!aWrap.Id}'">{!aWrap.Title__c}</td>
<!--                                                                                                    <td>{!aWrap.Description__c}</td> -->
                                                                                                    <td><apex:outputText value="{0, date,dd/MM/yyyy}"> <apex:param value="{!aWrap.Start_Date__c}" /> </apex:outputText></td>
                                                                                                    <td><apex:outputText value="{0, date,dd/MM/yyyy}"> <apex:param value="{!aWrap.End_Date__c}" /> </apex:outputText></td>
                                                                                                </tr>
                                                                                            </apex:repeat>
                                                                                        </tbody>
                                                                                

                                                                                    </table>
                                                                                    <div id="pageNavPosition" style="padding-top: 20px" align="center"></div>
                                                                                    <!--                                                                                    <div class="dataTables_info" id="example2_info" -->
                                                                                    <!--                                                                                        role="status" aria-live="polite">Showing 1 -->
                                                                                    <!--                                                                                        to {!AnnouncementRequestDetail} of {!AnnouncementRequestDetail} entries</div> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="float-chat-box">
                                                            <div class="box box-block">
                                                                <h3 class="title">Chat</h3>
                                                                <div class="box-body chat" id="chat-box">
                                                                    <!-- chat item -->
                                                                    <div class="item">
                                                                        <img src="Damac_CIL_files/user.jpg" alt="user image" />
                                                                        <p class="message">I would like to meet you to
                                                                            discuss the</p>

                                                                    </div>
                                                                    <!-- /.item -->
                                                                    <!-- chat item -->
                                                                    <div class="item right">

                                                                        <p class="message">They say it is going to be one
                                                                            the best themes</p>
                                                                        <img src="Damac_CIL_files/user2.jpg" alt="user image" />

                                                                    </div>
                                                                    <!-- /.item -->
                                                                    <!-- chat item -->
                                                                    <div class="item">
                                                                        <img src="Damac_CIL_files/user.jpg" alt="user image" />
                                                                        <p class="message">They say it is going to be one
                                                                            the best themes on the market</p>
                                                                    </div>
                                                                    <!-- /.item -->
                                                                </div>
                                                                <!-- /.chat -->
                                                                <div class="box-footer">
                                                                    <div class="input-group">
                                                                        <input class="form-control"
                                                                            placeholder="Type message..." />
                                                                        <div class="input-group-btn">
                                                                            <button class="btn btn-success">
                                                                                <i class="fa fa-share" aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- /.box (chat box) -->
                                                        </div>

                                                    </div>
                                                    <div class="quick-nav-overlay"></div>
                                                    <div class="float-chat-btn">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                    </div>
                                                    <div>
                                                        <div class="float-chat-box">
                                                            <div class="box box-block">
                                                                <h3 class="title">Chat</h3>
                                                                <div class="slimScrollDiv"
                                                                    style="position: relative; background-color: snow; overflow: hidden; width: auto; height: 250px;">
                                                                    <div class="box-body chat" id="chat-box"
                                                                        style="overflow: hidden; width: auto; height: 250px;">
                                                                        <!-- chat item -->
                                                                        <div class="item">
                                                                            <apex:image url="{!URLFOR($Resource.AgentPortalImages,
                  'images/user.jpg')}" />
                                                                            <p class="message">I would like to meet you to
                                                                                discuss the</p>

                                                                        </div>
                                                                        <!-- /.item -->
                                                                        <!-- chat item -->
                                                                        <div class="item right">

                                                                            <p class="message">They say it is going to be one
                                                                                the best themes</p>
                                                                            <apex:image url="{!URLFOR($Resource.AgentPortalImages,
                  'images/user2.jpg')}" />

                                                                        </div>
                                                                        <!-- /.item -->
                                                                        <!-- chat item -->
                                                                        <div class="item">
                                                                            <apex:image url="{!URLFOR($Resource.AgentPortalImages,
                  'images/user.jpg')}" />
                                                                            <p class="message">They say it is going to be one
                                                                                the best themes on the market</p>
                                                                        </div>
                                                                        <!-- /.item -->
                                                                    </div>
                                                                    <div class="slimScrollBar"
                                                                        style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px;"></div>
                                                                    <div class="slimScrollRail"
                                                                        style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                                                </div>
                                                                <!-- /.chat -->
                                                                <div class="box-footer">
                                                                    <div class="input-group">
                                                                        <input class="form-control"
                                                                            placeholder="Type message..." />
                                                                        <div class="input-group-btn">
                                                                            <button class="btn btn-success">
                                                                                <i class="fa fa-share" aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <!-- /.box (chat box) -->
                                                        </div>
                                                        <!--<nav class="quick-nav">
                                                            <a class="quick-nav-trigger" href="#0"> <span
                                                                aria-hidden="true"></span>
                                                            </a>
                                                            <ul>
                                                                <li><a href="#" target="_blank" class="active">
                                                                        <span>money</span> <img src="assets/images/money.png" />
                                                                </a></li>
                                                                <li><a href="#" target="_blank"> <span>project</span>
                                                                        <img src="assets/images/project.png" />

                                                                </a></li>
                                                                <li><a href="#" target="_blank"> <span>amenities</span>
                                                                        <img src="assets/images/amenities.png" />
                                                                </a></li>
                                                                <li><a href="#" target="_blank"> <span>building</span>
                                                                        <img src="assets/images/bulding.png" />
                                                                </a></li>
                                                            </ul>
                                                            <span aria-hidden="true" class="quick-nav-bg"></span>
                                                        </nav>-->
                                                    </div>
                                                </section>
                                                <!-- /.content -->
                                            </aside>
                                            <!-- /.right-side -->
                                        </div>
                                        
                                        <div
                                            style="position: fixed; top: 150px; right: 0px; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; border-radius: 5px 0px 0px 5px; padding: 10px 15px; font-size: 16px; z-index: 999999; cursor: pointer; color: rgb(221, 221, 221);"
                                            class="no-print">
                                            <i class="fa fa-gear"></i>
                                        </div>
                                        <div
                                            style="padding: 10px; position: fixed; top: 130px; right: -200px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 3px solid rgba(0, 0, 0, 0.7); width: 200px; z-index: 999999;"
                                            class="no-print">
                                            <h4
                                                style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Layout
                                                Options</h4>
                                            <div class="form-group no-margin">
                                                <div class=".checkbox">
                                                    <label><input onchange="change_layout();"
                                                        type="checkbox" /> Fixed layout</label>
                                                </div>
                                            </div>
                                            <h4
                                                style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Skins</h4>
                                            <div class="form-group no-margin">
                                                <div class=".radio">
                                                    <label><input name="skins"
                                                        onchange='change_skin("skin-black");' checked="checked"
                                                        type="radio" /> Black</label>
                                                </div>
                                            </div>
                                            <div class="form-group no-margin">
                                                <div class=".radio">
                                                    <label><input name="skins"
                                                        onchange='change_skin("skin-blue");' type="radio" /> Blue</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <c:AgentPortalNewCIL /> -->

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </aside>
            <!-- /.right-side -->
        </div>


        <div class="no-print"
            style="position: fixed; top: 150px; right: 0px; background: rgba(0, 0, 0, 0.7); border-radius: 5px 0px 0px 5px; padding: 10px 15px; font-size: 16px; z-index: 999999; cursor: pointer; color: rgb(221, 221, 221);">
            <i class="fa fa-gear"></i>
        </div>
        <div class="no-print"
            style="padding: 10px; position: fixed; top: 130px; right: -200px; background: rgb(255, 255, 255); border: 3px solid rgba(0, 0, 0, 0.7); width: 200px; z-index: 999999;">
            <h4
                style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Layout
                Options</h4>
            <div class="form-group no-margin">
                <div class=".checkbox">
                    <label> <input type="checkbox" onchange="change_layout();" />
                        Fixed layout
                    </label>
                </div>
            </div>
            <h4
                style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Skins</h4>
            <div class="form-group no-margin">
                <div class=".radio">
                    <label> <input name="skins" type="radio"
                        onchange="change_skin(&quot;skin-black&quot;);" checked="checked" />
                        Black
                    </label>
                </div>
            </div>
            <div class="form-group no-margin">
                <div class=".radio">
                    <label><input name="skins" type="radio"
                        onchange="change_skin(&quot;skin-blue&quot;);" /> Blue</label>
                </div>
            </div>
        </div>
        <div class="jvectormap-label"></div>
        <script type="text/javascript">
var pager = new Pager('tablepaging', 9);
pager.init();
pager.showPageNav('pager', 'pageNavPosition');
pager.showPage(1);
</script>
    </body>
</apex:page>