<!-------------------------------------------------------------------------------------------------
* Name               : AgentPortalAllEvents                                               
* Description        : An apex page controller for showing all active events                                             
* Created Date       : 30-08-2017                                                                        
* Created By         : Pratiksha Narvekar                                                               
* Last Modified Date :                                                                            
* Last Modified By   :                                                                            
* ----------------------------------------------------------------------------------------------- 
* VERSION     AUTHOR                    DATE                                                                    
* 1.0         Pratiksha Narvekar        30-08-2017           
------------------------------------------------------------------------------------------------->
<apex:page showheader="false" sidebar="false"
	controller="AgentPortalEventController"
	standardStylesheets="false">
	<head>
<title>Damac | Agent Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="utf-8" http-equiv="encoding" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<style type="text/css">
#pageNavPosition span{
background-color: #14a4fa;
    color: #fff;
    padding: 7px 20px;
}
a.remove {
    background-image: url({!URLFOR($Resource.AgentPortalRemoveIconWhite)});
}

a.config {
    background-image: url({!URLFOR($Resource.AgentPortalConfigIconWhite)});
}

a.reload {
    background-image: url({!URLFOR($Resource.AgentPortalReloadIconWhite)});
}

a.expand {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}

a.collapse {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}
.gridster-agent-portal .offic-block {
	overflow-x: hidden;
}
</style>
<apex:stylesheet value="{!$Resource.AgentPortalComponent}" />
<apex:stylesheet value="{!$Resource.AgentPortalIconicons}" />
<apex:stylesheet value="{!$Resource.AgentPortalLayout}" />
<style type="text/css">
.portlet.box>.portlet-title>.tools>a.collapse {
	background-image: url=({!($Resource.AgentPortalCollapseIconWhite)
}

)
!
important






;
}
.portlet.box>.portlet-title>.tools>a.config {
	background-image: url=({!($Resource.AgentPortalConfigIconWhite)
}

)
!
important






;
}
.resizable-grid-wpr li {
	min-height: 0px;
}

.btndownload {
	border-radius: 4px !important;
	padding: 10px 20px !important;
	background-color: rgba(0, 0, 0, 0.86);
	color: #fff;
	width: 110px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	/* background-color: #26a69a; */
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
}
</style>

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-ui-1.10.3.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/raphael-min.js')}" />

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.sparkline.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-1.2.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-world-mill-en.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.easy-pie-chart.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/fullcalendar.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.knob.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/daterangepicker.js')}" />

<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap3-wysihtml5.all.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/icheck.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.gridster.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.touch-punch.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.shapeshift.js')}" />
<!-- <apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/App.js')}" /> -->
<apex:includeScript value="{!$Resource.AgentPortalGridster}" />
<apex:includeScript value="{!$Resource.AgentPortalQuickSidebar}" />
<apex:includeScript value="{!$Resource.AgentPortalQuickNavjs}" />
<apex:includeScript value="{!$Resource.AgentPortalApp}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.shapeshift.resizable.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/dashboard.js')}" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/ionicons.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.gridster.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/morris.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-1.2.2.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/fullcalendar.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/daterangepicker-bs3.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap3-wysihtml5.min.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/style.css')}" /> -->
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/AgentPortalFont')}" /> -->
<!-- <apex:stylesheet value="{!$Resource.AgentPortalStyle}" /> -->
<apex:stylesheet value="{!$Resource.AgentPortalLayout2}" />

	</head>
	<body class="skin-black  pace-done">
		<div class="pace  pace-inactive">
			<div class="pace-progress" data-progress-text="100%"
				data-progress="99" style="width: 100%;">
				<div class="pace-progress-inner"></div>
			</div>
			<div class="pace-activity"></div>
		</div>
		<c:AgentPortalHeader />
		<div id="offcanvas" class="wrapper row-offcanvas row-offcanvas-left"
			style="min-height: 541px;">
			<c:AgentPortalSidebar />
			<!-- Right side column. Contains the navbar and content of the page -->
			<aside class="right-side">
				<!-- Content Header (Page header) -->


				<!-- Main content -->
				<section class="content">

					<div style="margin: 1%;" id="Menu1">

						<!-- /.row (main row) -->
						<div class="row">
							<ul
								class="gridster-agent-portal ui-droppable shapeshifted_container_znw3u"
								style="height: 1808px;">
								<li data-ss-colspan="5"
									class="resizable-widget offic-li my-commissions my-box ui-resizable ss-active-child"
									style="left: -34.5; top: 0px;">
									<div class="col-lg-12 height100 ">
										<!-- 									<c:AgemtPortalCIL /> -->
										<div class="pace  pace-inactive">
											<div class="pace-progress" style="width: 100%;"
												data-progress-text="100%" data-progress="99">
												<div class="pace-progress-inner"></div>
											</div>
											<div class="pace-activity"></div>
										</div>

										<div class="wrapper row-offcanvas row-offcanvas-left"
											style="min-height: 611px;">

											<aside>
												<!-- Content Header (Page header) -->


												<!-- Main content -->
												<section class="content padding-0">


													<div>
														<div>
															<apex:image url="{!URLFOR($Resource.AgentPortalImages,'images/Inquiries.jpg')}"
																styleclass="img-responsive" />
																 <div class="global-wrapper content-bg annoucement">
            <div class="global-content-w-footer">
                <apex:pageMessages id="messages"></apex:pageMessages>
                <!--<div style="padding:20px !important;" class="table-responsive height-100vh">-->
                 <!--<table class="table responsive custom-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!allEvents}" var="event">
                            <tr data-expanded="true">
                                <td>
                                    
                                    {!event.campaignName}
                                    
                                </td>
                                <td>
                                    <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!event.campaignStartDate}" /> </apex:outputText>
                                </td>
                                <td>
                                    <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!event.campaignEndDate}" /> </apex:outputText>
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>        
                </table>-->
                    <apex:repeat value="{!allEvents}" var="event">
                        <div class="slds" style="margin-bottom:10px;background:#FFFFFF !important;padding:20px">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-size--1-of-1 slds-medium-size--3-of-12" style="padding:0px 25px;border-right:1px solid #000">
                                    <div class="calander-date">
                                        <div class="day">{!event.campaignStartDay}</div>
                                        <div class="month">{!event.campaignStartMonth}</div>
                                    </div>
                                    <apex:outputPanel rendered="{!event.campaignEndDate != null}">
                                        <div class="calander-date-sep"></div>
            
                                        <div class="calander-date">
                                            <div class="day">{!event.campaignEndDay}</div>
                                            <div class="month">{!event.campaignEndMonth}</div>
                                        </div>
                                    </apex:outputPanel>
                                    
                                </div>
                                <div class="slds-size--1-of-1 slds-medium-size--9-of-12 slds-grid slds-wrap" style="padding:0px 25px;">
                                    <div class="slds-size--1-of-1 text-large" style="color:#000000">{!event.campaignName}</div>
                                    <div class="slds-size--1-of-1 text-medium" style="color:#000000">{!event.campaignDescription}</div>
                                    
                                </div>
                                
                            </div>
                            <div class="slds-grid slds-wrap" style="padding:10px 25px 0px">
                                <div class="slds-size--1-of-1" style="color:#000000;">
                                    <apex:outputPanel rendered="{!event.campaignLocation != null}"> 
                                        <li class="address">
                                            {!event.campaignLocation}
                                        </li>
                                    </apex:outputPanel>
                                </div>
                            </div>
                        </div>
                    </apex:repeat>
                
               <!-- </div>-->
            </div>
        </div>
       
      
        <script type="text/javascript" src="{!URLFOR($Resource.AgentPortal_Resources, 'assets/js/datatable.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.AgentPortal_Resources, 'assets/js/datatable.responsive.min.js')}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script> 
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script>
        $('.page-name').text('Events');
        
        $(document).ready(function(){

            
            $('.custom-table').DataTable({
                "bInfo": false,
                "pageLength": 10,
                "language": {
                    "search": "<p class='SearchTitle'>Search</p>"
                },
                "autoWidth": true,
                "lengthMenu": [10, 25, 50, 100],
                dom: 'lBfrtip',
                 buttons: [
                     ],
                "order": [],
                columnDefs: [
                   { type: 'de_date', targets: 1 }
                 ],
                "oSearch": {"bSmart": false}
            });
            $('.custom-table tr>td>span>a').each(function(i, link){
                $(link).replaceWith($(link).text())
            });
            
            /*Date Sorting*/
             jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "de_date-asc": function(a, b) {
                    var c, d;
                    if ("" !== jQuery.trim(a)) {
                        var e = jQuery.trim(a).match(/>([^<]*)/),
                            f = a.split("/");
                        c = 1 * (parseInt(f[2]) + parseInt(f[1]) + parseInt(f[0]))
                    } else c = 1 / 0;
                    if ("" !== jQuery.trim(b)) {
                        var e = jQuery.trim(b).match(/>([^<]*)/),
                            g = b.split("/");
                        d = 1 * (parseInt(g[2]) + parseInt(g[1]) + parseInt(g[0]))
                    } else d = 1 / 0;
                    var h = c < d ? -1 : c > d ? 1 : 0;
                    return h
                },
                "de_date-desc": function(a, b) {
                    var c, d;
                    if ("" !== jQuery.trim(a)) {
                        var e = jQuery.trim(a).match(/>([^<]*)/),
                            f = a.split("/");
                        c = 1 * (parseInt(f[2]) + parseInt(f[1]) + parseInt(f[0]))
                    } else c = 1 / 0;
                    if ("" !== jQuery.trim(b)) {
                        var e = jQuery.trim(b).match(/>([^<]*)/),
                            g = b.split("/");
                        d = 1 * (parseInt(g[2]) + parseInt(g[1]) + parseInt(g[0]));
                    } else d = 1 / 0;
                    var h = c < d ? 1 : c > d ? -1 : 0;
                    return h
                }
            });
        });

      
        
    </script>
														</div>


													</div>
													</section>
												<!-- /.content -->
											</aside>
											<!-- /.right-side -->
										</div>
										<script>
  $(function () {
    
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
 </script>
										<div
											style="position: fixed; top: 150px; right: 0px; background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; border-radius: 5px 0px 0px 5px; padding: 10px 15px; font-size: 16px; z-index: 999999; cursor: pointer; color: rgb(221, 221, 221);"
											class="no-print">
											<i class="fa fa-gear"></i>
										</div>
										<div
											style="padding: 10px; position: fixed; top: 130px; right: -200px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 3px solid rgba(0, 0, 0, 0.7); width: 200px; z-index: 999999;"
											class="no-print">
											<h4
												style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Layout
												Options</h4>
											<div class="form-group no-margin">
												<div class=".checkbox">
													<label><input onchange="change_layout();"
														type="checkbox" /> Fixed layout</label>
												</div>
											</div>
											<h4
												style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Skins</h4>
											<div class="form-group no-margin">
												<div class=".radio">
													<label><input name="skins"
														onchange='change_skin("skin-black");' checked="checked"
														type="radio" /> Black</label>
												</div>
											</div>
											<div class="form-group no-margin">
												<div class=".radio">
													<label><input name="skins"
														onchange='change_skin("skin-blue");' type="radio" /> Blue</label>
												</div>
											</div>
										</div>
										<!-- <c:AgentPortalNewCIL /> -->

									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- /.content -->
			</aside>
			<!-- /.right-side -->
		</div>


		<div class="no-print"
			style="position: fixed; top: 150px; right: 0px; background: rgba(0, 0, 0, 0.7); border-radius: 5px 0px 0px 5px; padding: 10px 15px; font-size: 16px; z-index: 999999; cursor: pointer; color: rgb(221, 221, 221);">
			<i class="fa fa-gear"></i>
		</div>
		<div class="no-print"
			style="padding: 10px; position: fixed; top: 130px; right: -200px; background: rgb(255, 255, 255); border: 3px solid rgba(0, 0, 0, 0.7); width: 200px; z-index: 999999;">
			<h4
				style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Layout
				Options</h4>
			<div class="form-group no-margin">
				<div class=".checkbox">
					<label> <input type="checkbox" onchange="change_layout();" />
						Fixed layout
					</label>
				</div>
			</div>
			<h4
				style="margin: 0 0 5px 0; border-bottom: 1px dashed #ddd; padding-bottom: 3px;">Skins</h4>
			<div class="form-group no-margin">
				<div class=".radio">
					<label> <input name="skins" type="radio"
						onchange="change_skin(&quot;skin-black&quot;);" checked="checked" />
						Black
					</label>
				</div>
			</div>
			<div class="form-group no-margin">
				<div class=".radio">
					<label><input name="skins" type="radio"
						onchange="change_skin(&quot;skin-blue&quot;);" /> Blue</label>
				</div>
			</div>
		</div>
		<div class="jvectormap-label"></div>
	</body>
</apex:page>