<apex:page standardController="Inquiry__c" extensions="Damac_AmeyoDialer" showQuickActionVfHeader="false">
    <apex:slds />
    <apex:form >
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" /> 
        <apex:actionFunction name="dial" action="{!dialAmeyo}" oncomplete="hideSpinner();"/>
        
        <div id="spinner">
            <center><span style="color:green;font-size:1rem"> Please wiat while we are connecting ...</span></center>
            <div class="slds-spinner_container" style="position: fixed;">
                <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
        <script>
        
            window.onload=function() {
                dial();
            };
            /* To hide the spinner */
            function hideSpinner () {
                $ ('#spinner').addClass ('slds-hide');
                var view = '{!$User.UITheme}';
                var recordId = '{!$CurrentPage.parameters.id}';
                if(view == 'Theme4d') {
                    sforce.one.navigateToSObject(recordId);
                } else {
                    window.top.location.href = '/'+recordId;
                }
            }
        </script>
    </apex:form>
    
</apex:page>