<apex:page standardController="Announcement_Section__c" extensions="AnnouncementAttachementExtension">
    <apex:form >
        <apex:sectionHeader title="Upload an Attachment to Announcement Section"/>
        <apex:pageblock >
            <apex:pageblocksection columns="1">
                <apex:inputfile value="{!newAttachment.Body}" filename="{!newAttachment.Name}" />
                <apex:commandbutton value="Attach" action="{!AttachFile}"/>
            </apex:pageblocksection>
        </apex:pageblock>   
    </apex:form> 
</apex:page>