<apex:page showheader="false" sidebar="false" id="pageID"
           standardStylesheets="false" controller="AP_FileUploadController" docType="html-5.0" language="{!strSelectedLanguage}">
    <html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <!-- Google Tag Manager --> 
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
            })(window,document,'script','dataLayer','GTM-KZBGNG8');</script> 
            <!-- End Google Tag Manager -->
            <!-- Hotjar Tracking Code for https://agents.damacproperties.com -->
            <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1130072,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
            </script>
            <title class="notranslate">DAMAC - CIL</title>
            <!-- <title>DAMAC - Registration Company Personnel</title> -->
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/style.css')}"/> 
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/responsive.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/bootstrap-datepicker.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/selectDropdown.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/dataTable.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AP_Portal_CSS,'css/dataTableResponsive.css')}"/>
            
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"></link>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
    <!-- Latest compiled and minified CSS for Boostrap Select Option -->
    <apex:includeScript value="{!URLFOR($Resource.AP_Portal_CSS,'js/jquery.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AP_Portal_CSS,'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AP_Portal_CSS, 'js/jquery-ui-1.10.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.AP_Portal_CSS,'js/dataTable.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.AP_Portal_CSS,'js/bootstrap-datepicker.min.js')}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css "/>
    
    <style>
        
        .inField{
            border: none;
            height: 32px !important;
            margin-top: 2px;
            margin-left: -10px;
        }
    .regFormBox .agencyNameBox{
        margin-bottom: 0px !important;
    }
    .errors {
        border: 1px solid #bd2034 !important;
    }
    /* Following CSS added to hide google translate bar 
                asking for "show original" (13.03.2019 03:23PM) */
    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    } 
    body {
        top: 0px !important; 
    }
    /* ends here */
    .goog-te-combo{
        display : none !important;
    }
    
    
    input#inps {
      display: inline-block;
      width: 100%;
      padding: 120px 0 0 0;
      height: 100px;
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
      border-radius: 20px;
      background-size: 60px 60px;
    }
    
    
    .bookingUploadTokenInnerBox .inputfiles {
        /* width: 0.1px; */
        height: 20%!important;
        opacity: 0!important;
        overflow: hidden!important;
        position: absolute!important;
        /* z-index: -1; */
        
    }

    html {
      margin: 30px;
    }
    .fileType {
        display: block;
        position: relative;
        width: 100px;
        margin: auto;
        cursor: pointer;
        border: 0;
        height: 50px;
        border-radius: 5px;
        outline: 0;
    }
    /*.fileType:hover:after {
        background: #FF1111;
    }*/
    .fileType:after {
       transition: 200ms all ease;
        border-bottom: 3px solid rgba(0,0,0,.2);
        background: #000000;
      /*   background-image:url('https://image.flaticon.com/icons/svg/54/54565.svg');*/
        text-shadow: 0 2px 0 rgba(0,0,0,.2);
        color: #FFF;
        font-family: MyriadPro-Semibold!important;
        font-size: 15px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: 'UPLOAD';
        line-height: 60px;
        border-radius: 5px;
        
        
       
    /*    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 0;
    padding: 18px 12px;
    padding-bottom: 17px;
    font-family: MyriadPro-Semibold;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5px;
    content: 'UPLOAD';/
       
    }

    #toast-container{
        align-items: center !important;
    }

    .toast-top-right {  
        top: 12px; 
        left: 50%; 
        margin-left: -150px; 
    }
        

    </style>
    </head>
    <body>

    
        <!-- Google Tag Manager (noscript) --> 
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZBGNG8" 
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
        <!-- End Google Tag Manager (noscript) -->
                <apex:form >
                    
                    <!-- Action Function --> 
                       
                        <apex:actionStatus id="theActionStatus" layout="block">
                            <apex:facet name="start">
                                <div id="assign-action-spinner-main " >
                                    <div id="assign-action-spinner-content" >
                                        <img src="{!URLFOR($Resource.AP_Portal_CSS, 'img/AP_Loader.gif')}"
                                        alt="Processing"/>
                                            </div>
                                        </div>
                                        </apex:facet>
                                        </apex:actionStatus>
                                        <div id="loaderId" style="display:block; z-index: 2000;">
                                            <div id="assign-action-spinner-main" style="z-index: 2000;">
                                                <div id="assign-action-spinner-content" style="z-index: 2000;">
                                                    <img src="{!URLFOR($Resource.AP_Portal_CSS, 'img/AP_Loader.gif')}"/>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <section class="registrationMainSection">
                                                <span class="notranslate" ><apex:pageMessages id="pgMsg"></apex:pageMessages></span>
                                                <apex:outputPanel id="errorBlock">
                                                <script>
                                                var err = '{!isError}';
                                                
                                                console.log(err);
                                                if (err == 'true') {
                                                
                                                $ ('#rmIdemail').addClass ('errorDiv');
                                                $ ('#rmIdemail').addClass ('error');
                                                $ ('#rmInvalidEmail').text ('Invalid Email.');
                                                }
                                                else {
                                                $ ('#rmIdemail').removeClass ('errorDiv');
                                                $ ('#rmInvalidEmail').text ('');
                                                $ ('#rmIdemail').removeClass ('error');                        
                                                } 
                                                </script>
                                                </apex:outputPanel>
                                               
                              <!--  <apex:pageMessages id="pagemessage"/>-->
                    
                    <!-- Information-->
                             
    
                              <!--information ends  -->
                              
                              <!--info example-->
                             <!--  <div class="regFormBox">-->
                                                <br/>
                                                <div class="detailCompanyPersonnelBox">
                                                 <!--   <label class="closeInfoLink notranslate">{!$Label.TR_AP_Close}</label>-->
                                                    <table >
                                                        <tbody>
                                                            <tr>
                                                                <b><i> We call, we close, you make money!</i></b><br/><br/>
                                                                
                                                                <td >
                                                                    <h5 class="notranslate">{!$Label.TR_AP_BENEFITS_TO_THE_BROKERS}</h5>
                                                                    <ul class="notranslate">
                                                                        <li>
                                                                            - FULL COMMISSION (as per your slab) &amp; 100% Lead protection for unlimited time against DAMAC Direct Team.<br/>
                                                                            - No Operation Cost for Brokers.<br/>
                                                                            - Fully dedicated Telesales Team assisting ONLY brokers generating more business.<br/>
                                                                            - Persistent approach &amp; timely follow up by dedicated Telesales Team.<br/>
                                                                            - Streamlined presentation by DAMAC staff.<br/>
                                                                            - Top notch online tools/presentation access to Broker Leads.<br/>
                                                                            - Regular Report/ Live updates through Broker dashboard on Lead progression.<br/>
                                                                            - Regular performance review with DAMAC Management to improve the overall business for brokers.<br/>
                                                                            - Manage routine broker communication &amp; feedback management.<br/>
                                                                        </li><br/>
                                                                        <li>
                                                                        <div id="flip">
                                                                        <i id="fafa" class="fa fa-angle-down" style="font-size:36px"></i>
                                                                        </div>
                                                                        </li>
                                                                        <div id="panel" style="display:none">
                                                                        <li>
                                                                            <h5 class="notranslate">STEPS TO ACHIEVE SALES USING DAMAC &#45; TELESALES TEAM</h5> 
                                                                            <br/>
                                                                            &#42;Lead data to be provided in the attached format exactly upload from portal
                                                                        </li>
                                                                        <li>
                                                                            <br/>
                                                                            - Under DAMAC 100% Lead Protection, Broker Uploads the leads on Agent Portal (Minimum 500 International Leads and Lead generation is less not older than 180 days)<br/>
                                                                            - Broker Validated Leads will get securely assigned to DAMAC Telesales Team (Exclusively working with Broker Leads)<br/>
                                                                            - DAMAC Telesales Team contacts Broker leads, qualifies, generates interest and schedules Online Meetings with Sales Team<br/>
                                                                            - Meetings will be assigned to dedicated DAMAC Sales Team<br/>
                                                                            - Sales Team will conduct the online presentation and virtual project tour to interested broker leads<br/>
                                                                            - Broker will be entitled to full commission as per the DAMAC commission policy on the sales generated from Broker Leads<br/>
                                                                        </li>
                                                                        </div>
                                                                        
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        <!--        </div> -->
                              
                              <!--info ended-->
                    
                    
                    
                    
                    
                    <div class="row">
                                
                        <div class="col-lg-2 col-md-1 col-sm-2"></div>
                            <div  class="col-lg-8 col-md-10 col-sm-8">
                                <div  class="regRightBox" style="border:none;">
                                
                                    <div class="row">
                                        <div class="col-md-3">                      
                                        </div>
                                        <div class="col-md-6">  
                                            <div class="stepHeaderBox">
                                                <h2 class="notranslate">{!$Label.Bulk_Upload_Documents}</h2>
                                            </div>  
                                            <div id="google_translate_element"></div>
                                                <!-- Download Excel template -->   
                                                <div class="regFormBox">
                                                    <h3 class="notranslate">
                                                        Step 1. {!$Label.Download_Excel_Template}            
                                                    </h3>
                                
                                                    <!-- Download Excel Button-->
                                                    <div class="DownloadExcel">
                                         
                                                        <button  onclick="downloadExcelTemplate('{!strSelectedlanguage}');return false;" 
                                                        class="common-Black-btn common-Black-btn-insidePage notranslate">{!$Label.TR_AP_Download_Excel}</button>
                                                                 
                                                    </div> <br/>
                                
                                                    <h3 class="notranslate">
                                                      Step 2. {!$Label.TR_AP_Agent_Information}            
                                                    </h3>
                                
                                                    <!-- Add Marketing Campaign Field  -->                                                                              
                                                    <div class="form-group agencyNameBox margin-top-bottom20" id="campId">
                                                        <h6 class="notranslate">{!$Label.TR_AP_Marketing_Campaigns}*</h6>
                                                        <apex:selectList value="{!marketingCampaign}" multiselect="false" id="cos" 
                                                                        styleclass="inField form-control selectpicker regFormText notranslate "
                                                                        style="border:none!important;" >
                                                            <apex:selectOptions value="{!marketingCampaigns}"/>
                                                        </apex:selectList> 
                                                    </div>
                                
                                                     <!-- Add RM Field  -->  
                                                     <div class="form-group agencyNameBox margin-top-bottom20 notranslate" id="rmIdemail">
                                                        <h6 class="notranslate">{!$Label.TR_AP_RM_Email}</h6>
                                                        <apex:inputText value="{!RMEmailId}"
                                                            Styleclass="notranslate inField form-control regFormText requiredInput requiredInputs"
                                                            html-placeholder="{!$Label.TR_AP_RM_Email}" onchange="checkRMValidation (this.value);"/>
                                                        <div id="rmInvalidEmail" style="color:#bd2034"></div>
                                                     </div>   <br/>
                                                     
                                                     <!-- Add Comments Field  -->  
                                                     <div class="form-group agencyNameBox margin-top-bottom20 notranslate" id="rmIdemail">
                                                        <h6 class="notranslate">{!$Label.TR_AP_COMMENTS}</h6>
                                                        <apex:inputText value="{!comments}"
                                                            Styleclass="notranslate inField form-control regFormText requiredInput requiredInputs"
                                                            html-placeholder="{!$Label.TR_AP_Your_Comments}"/>                                                        
                                                     </div>   <br/>
                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                             
                                <h3 class="notranslate">
                                Step 3. {!$Label.TR_AP_Upload_And_Send_Attachment}            
                                </h3>
                                
                                <apex:actionRegion >
                                    <div class="notranslate">
                                    <!--    <apex:inputFile id="inp"  styleclass="fileType" style="text-align: center;display:inline!important;" contentType="{!conType}" fileName="{!filename}" value="{!file}" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.xls,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel" onClick="emptyfile();" onchange="showDocName(event,id);return false;" />-->
                                    
                                    <!-- new submit icon-->
                            
                            <figure>
                                                                        <div id="uploadDiv_tokenInput">
                                                                            <div class="slds-file-selector__dropzone uploaddivs" id="div_tokenInput">
                                                                                <div class="bookingUploadTokenBox">
                                                                                    <div class="bookingUploadTokenInnerBox">
                                                                                        <div class="uploadBox uploaddivs" >
                                                                                            <img src="{!URLFOR($Resource.AP_Portal_CSS,'img/uploadToken.png')}"/>
                                                                                            <br/><h5 class ="notranslate">{!$Label.TR_AP_Drop_Excel_Sheet_Here}</h5><br/>
                                                                                           <!-- <input type="file" id="tokenInput" style="margin-left: 35%;position: absolute;overflow: unset;"
                                                                                                onchange="uploadFile(0, this.id);"  class="inputfile requiredTokenInput" placeholder="token" accept = "audio/*,video/*,image/*,MIME_type"
                                                                                                aria-labelledby="file-selector-primary-label file-selector-secondary-label"/>-->
                                                                                                <apex:inputFile id="inp"  styleclass="inputfile " style="text-align: center;display:inline!important;" contentType="{!conType}" fileName="{!filename}" value="{!file}" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.xls,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel" onClick="emptyfile();" onchange="showDocName(event,id);return false;" />
                                                                                                <label for="inp" class="uploadTokenLink">Upload Excel Sheet</label> <br/>
                                                                                                <span class="selected-file-name"></span>
                                                                                        </div>
                                                                                        
                                                                                        <apex:inputHidden id="fileBlobContent" value="{!fileBlobStr}" />
                                                                                        <apex:inputHidden id="filenameVar" value="{!filenameDrop}" />

                                                                                        
                                                                                        <br/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="UploadFail" style="color:red"></div>
                                                                        </div>
                                                                    </figure>
                            
                            <!-- end-->
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                    <div id="fileNameDisplay" style="color:#696969"></div>
                                    
                                </apex:actionRegion><br/><br/>
                                
                               
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                             
                                <div class="submitButton">
                                         
                                        <button  onclick="checkFileAttach(); return false;"
                                        class="common-Black-btn common-Black-btn-insidePage  notranslate">Submit</button>
                                                                 
                                </div><br/><br/>
                            
                           <!--   <div class="submitButton">
                                         
                                        <button  onclick="checkFileAttach(); return false;"
                                        class="common-White-btn notranslate-insidePage">Submit</button>
                                                                 
                                </div><br/><br/>  -->  

                            </div>
                                        <div class="col-md-3">  
                                                          
                                            </div>
                                        </div>
                                        
                                        
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                            
                            
                            
                            
                             
                             <div>
                             <footer>
                            <h5> For more queries,  please contact your Sales or Business Development Manager. Alternatively, you can email us at <a href="mailto:Agent@damacgroup.com"><span style="color:#CB8761;">Agent@damacgroup.com</span></a></h5>
                             </footer>
                             </div> 
                             
                                          
                                        </section>
                                        <apex:actionFunction name="sendEmail" action="{!sendDocAttach}"/>
                                        <apex:actionFunction name="checkRMEmail" action="{!validateRMEmail}" reRender="errorBlock" immediate="true" status="status">
                                            <apex:param name="emailid" value="" /> 
                                        </apex:actionFunction>  
                                       
                    </apex:form>
                    
                    
                    <script>
                    
                     $("#flip").click(function(){
                        $("#panel").slideDown("slow");
                        document.getElementById("fafa").style.display = "none";
                     });
                     
                     
                    
                    // To close yellow Info Box
                 /*   $(".closeInfoLink").click(function(){
                        $(this).parent().slideUp();
                    });*/
                    
                    var filesize;
                    var fileNames;
                    var nam;
                   
                    function showDocName(event,id){
                    
                       filesize = event.target.files[0].size;
                       fileNames = event.target.files[0];
                       nam = event.target.files[0];
                       console.log(nam.name);
                       $('#fileNameDisplay').text(nam.name );
                      
                        document.getElementById("uploadDiv_tokenInput").style.display = "none";
                       console.log(filesize );
                       console.log(fileNames );
    
                    }
                    
                   
                    function emptyfile(){
  
                        $('#fileNameDisplay').text('');
                    
                    }
                    function checkFileAttach(){
                    
                        var campaignId = $('.selectpicker').val();
                       if (campaignId != null && campaignId != undefined) {
                        
                           console.log(campaignId );
                            if( filesize ){
                                sendEmail();
                                toastr.success("Sending Email...");   
                            }
                            else{
                           
                               toastr.error("Please Upload A File");
                           }
                       }
                       else{
                           console.log(campaignId );
                           toastr.error("No Campaigns assigned - Please contact Agents team");
                       
                       }
                   } 
                   
                   
                    
                    var rmEmailErr = $('#rmInvalidEmail').text();
                    if (rmEmailErr != '' && rmEmailErr != undefined) {
                        $('#rmIdemail').addClass('errorDiv');
                        $('#rmIdemail').addClass('error');
                        $('#rmInvalidEmail').text('Invalid RM Email.');
                        isError = true;
                    }
                    
                    var RMEmail = '';
                    RMEmail = $('.RMEmailField').val();
                    $(document).ready(function(){
                    
                    $('.datepicker').datepicker({
                    });
                    $('#loaderId').hide();
                    //getURLParameters();
                    });



         function downloadExcelTemplate(strSelectedLanguage){
             console.log('strSelectedLanguage--------------->',strSelectedLanguage);
             //window.open('{!URLFOR($Page.AgentPortalDownloadExcel,null)}','_Self');
             if(strSelectedLanguage == null  || strSelectedLanguage === '') {
                 window.open("{!URLFOR($Page.AgentPortalDownloadExcel,null)}","_Self");
             }
             else {
                  window.open("{!URLFOR($Page.AgentPortalDownloadExcel+ '?langCode=' + strSelectedLanguage,null)}","_Self");
             }
             
         } 



                    // For drag Drop Div
                    var obj = $(".uploaddivs");
                    console.log ('obj',obj);
                    
                    obj.on('dragenter', function (e) {
                        console.log('e>>',e.type);
                        e.stopPropagation();
                        e.preventDefault();
                    });

                    obj.on('dragover', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                    });

                    obj.on('drop', function (e) {
                        $('#loaderId').show();
                        //console.log ('drop doc2000',e.target.id);
                      //  var id = e.target.id;
                        console.log ('drop doc');
                       // if (id.indexOf ('_') > -1) {
                         //   id = id.split ('_')[1];
                        //}
                        //console.log ('1179',id);
                       var files = e.originalEvent.dataTransfer.files;
                       let pseudoEvent = {
                           target: {
                               files : { 
                                   0: e.originalEvent.dataTransfer.files[0]
                               }
                           }
                       }
                       showDocName(pseudoEvent ,null);
                       
                        console.log('name',nam);
                        
                       var reader = new FileReader();
                       reader.readAsBinaryString(files[0]);
                       
                       reader.onload = function () {
                           $("input[id$='fileBlobContent']").val(reader.result);
                           $("input[id$='filenameVar']").val(nam.name);
                         console.log('reader.result',);
                       };
                       
                        $('#loaderId').hide();

                    });
                     $(document).on('dragenter', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                    });

                    $(document).on('dragover', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                    });

                    $(document).on('drop', function (e) {
                      //  console.log ('drop doc 2022',e.target.id);
                        e.stopPropagation();
                        e.preventDefault();
                    });

         
                   
                    
                    

</script>
<script type="text/javascript">


function checkRMValidation (val) {
console.log (val);
checkRMEmail (val);
}
<!--
function addNewCil(){
var insertCil = true;
RMEmail = $('.RMEmailField').val();
console.log('>>insertCil>>>>>',insertCil);

$('.required').each(function (index,element) {
if ($(this).val() == '') {
if($(this).parent().hasClass("agencyNameBox")){
$(this).parent().addClass("errors");
}else if($(this).parent().parent().parent().hasClass("agencyNameBox")){
$(this).parent().parent().parent().addClass("errors");
}else{
$(this).addClass("errors");
}
isError = true;
insertCil = false;
var attr = $(this).attr("placeholder");
                //var id = $(this).attr("id");
                console.log('attr',attr);
                var spanClass = '.'+attr;
                console.log('>>spanClass',spanClass);
                // $(this).nextAll('span:first').css("display","none");
                //if ( $(spanClass).length == 0 ) { 
                if($(this).parent().hasClass("agencyNameBox")){
                    //$(this).parent().addClass("errors");
                    $(this).parent().nextAll('span:first').css("display","none");
                    if(attr == 'Sourcing'){
                        $(this).parent().after('<span class= "'+attr+'" style="color:#bd2034"> Please Select '+ attr+'</span>');
                    }else{
                        $(this).parent().after('<span class= "'+attr+'" style="color:#bd2034"> Please enter '+ attr+'</span>');
                    }
                    
                }else if($(this).parent().parent().parent().hasClass("agencyNameBox")){
                    //$(this).parent().parent().addClass("errors");
                    $(this).parent().parent().parent().nextAll('span:first').css("display","none");
                    if(attr == 'Sourcing'){
                        $(this).parent().parent().parent().after('<span class= "'+attr+'" style="color:#bd2034"> Please Select '+ attr+'</span>');
                    }else{
                        $(this).parent().parent().parent().after('<span class= "'+attr+'" style="color:#bd2034"> Please enter '+ attr+'</span>');
                    }
                    
                } else{
                    $(this).addClass("errors");
                    $(this).nextAll('span:first').css("display","none");
                    if(attr == 'Sourcing'){
                        $(this).after('<span class= "'+attr+'" style="color:#bd2034"> Please Select '+ attr+'</span>');
                    }else{
                        $(this).after('<span class= "'+attr+'" style="color:#bd2034"> Please enter '+ attr+'</span>');
                    }
                    
                }
                //}
            } else {
                if($(this).parent().hasClass("agencyNameBox")){
                    $(this).parent().nextAll('span:first').css("display","none");
                    $(this).parent().removeClass("errors");
                }else if($(this).parent().parent().parent().hasClass("agencyNameBox")){
                    //$(this).parent().parent().addClass("errors");
                    $(this).parent().parent().parent().nextAll('span:first').css("display","none");
                    $(this).parent().parent().parent().removeClass("errors");
                } 
                    else{
                        $(this).removeClass("errors");
                        $(this).nextAll('span:first').css("display","none");
                        //$(this).after('<span class= "'+attr+'" style="color:#bd2034"> Please enter '+ attr+'</span>');
                    }
            }
        });
        var rmEmailErr = $('#rmInvalidEmail').text();
        if (rmEmailErr != '' && rmEmailErr != undefined) {
            $('#rmIdemail').addClass('errorDiv');
            $('#rmIdemail').addClass('error');
            $('#rmInvalidEmail').text('Invalid RM Email.');
            isError = true;
        }

        $('#loaderId').hide();
        
        
        $("html, body").animate({ scrollTop: 0 }, "slow");
        
        return false;
        
    } -->
    
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
  
    
    
    
   <!--
    function rerenderCamp(){
        console.log('>>>>test>>>');
        var sourcing = $('.sourceType').val();
        console.log('>>>>sourcingtest>>>',sourcing);
        if(sourcing=='Event'){
            document.getElementById('campId').style.display="block";
        }else{
            document.getElementById('campId').style.display="none";
        }
    }
    -->
    window.onload = function() {
        var languageCode = "{!strSelectedLanguage}";
        console.log("languageCode on page load -------------->",languageCode);
        if(languageCode != '' && languageCode != 'ru') {
            $('#loaderId').show();
            translate(languageCode);
            //$('#loaderId').hide();
        }
        
    }
    /* This script is added to google translate the page (12.03.2019 12:08PM) */
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            // here is where you change the language
            
            includedLanguages: "en,ru,zh-CN"
        }, 'google_translate_element');
        
        /* Following jquery is added to remove "Powered by google" logo under language picklist (12.03.2019 12:08PM) */
        jQuery('.goog-logo-link').css('display', 'none');
        jQuery('.goog-te-gadget').css('font-size', '0');
    }
    
    function translate(languageCode) {
        debugger;
        if(languageCode === 'zh_CN'){
            languageCode = 'zh-CN';
            //translate(languageCode);  
        }else if(languageCode === 'en_US'){
            languageCode = 'en';
            //translate(languageCode);  
        }
        console.log('languageCode ******------------->' ,languageCode);
        var jObj = $('.goog-te-combo');
        var db = jObj.get(0);
        jObj.val(languageCode);
        console.log("jObj_____",jObj.val());
        console.log("db______",db);
        fireEvent(db, 'change');
        //return false; 
        
        
    }
    
    function fireEvent(element,event){
        console.log("in Fire EventtranslatePage");
        console.log("in Fire element translatePage",element);
        $('#loaderId').hide();
        if (document.createEventObject){
            console.log("*** not in dispatch translatePage***");
            // dispatch for IE
            console.log("in IE FireEvent");
            var evt = document.createEventObject();
            return element.fireEvent('on'+event,evt)
            $('#loaderId').hide();
        }
        else{
            console.log("*** in dispatch ***");
            // dispatch for firefox + others
            console.log("In HTML5 dispatchEvent");
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent(event, true, true ); // event type,bubbling,cancelable
            return !element.dispatchEvent(evt);
            $('#loaderId').hide();
        }
        
    }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </body>
    </html>    
    </apex:page>