<apex:page controller="AssociatePaymentPlanController" standardStyleSheets="false" lightningStylesheets="false" 
                                    showHeader="false" title="Associate Payment Plan" docType="html-5.0" >
    <html lang="en">
        <head>
            <apex:slds />
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
            <title>Associate Payment Plan</title>
            <script src="/soap/ajax/38.0/connection.js"></script>
            <script src="/soap/ajax/38.0/apex.js"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="/soap/ajax/15.0/connection.js" type="text/javascript"></script>
            <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
            
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/font-awesome.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/style.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery.dataTables.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery-ui.min.css')}"/>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery-ui.min.js')}"></script
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.dataTables.min.js')}"></script>
            <style>
                @font-face{
                    font-family: "fontawesome-webfont";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.ttf')}") format("truetype");
                }
                
                @font-face{
                    font-family: "OpenSans-Bold";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.eot')}") format('embedded-opentype'), 
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.ttf')}") format("truetype");
                }
                
                @font-face{
                    font-family: "OpenSans-Regular";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.ttf')}") format("truetype");
                }
                
                @font-face{
                    font-family: "OpenSans-Light";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.ttf')}") format("truetype");
                }
            </style>
        </head>

        <body>
            <!-- Spinner Div -->
            <div class="slds-scope">
                <div id="spinner" class="slds-hide">
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function showSpinner () {
                    $ ('#spinner').removeClass ('slds-hide');
                }
                
                function hideSpinner () {
                    $ ('#spinner').addClass ('slds-hide');
                }
                showSpinner();
            </script>
            <header>
                <ul class="breadcrumb">
                    <li><a href="/apex/InventorySetup">Setup</a></li>
                </ul>
                <div class="header-wrap">
                    <p>Associate Payment Plan</p>
                </div>
            </header>

            <div class="content-wrap associate-payment-plan">
            <apex:form >
                <div class="sel-wrap">
                    <span class="build-sel-lbl">Projects</span>
                    <select name="build-select" id="build-select">
                        <option value="0">-- Select project --</option>
                        <apex:repeat value="{!PropertyNames}" var="name">
                            <option value="{!name}">{!name}</option>
                        </apex:repeat>
                    </select>
                </div>
                <apex:actionFunction name="getBuildingDetails" action="{!fetchBuildingDetails}" rerender="scriptTag" 
                                            oncomplete="getAssociateBuildPlanTable();hideSpinner();">
                    <apex:param name="projectName" value=""/>
                </apex:actionFunction>
            </apex:form>
                <div class="table-wrap">
                    <p class="search-placeholder"><i class="fa fa-search"></i> No Buildings</p>
                    <div class="filter-table-wrap">
                        <div class="filter-wrap">
                            <button id="sel-col-btn"  class="sel-col-btn"><i class="fa fa-search"></i><i class="fa fa-angle-down"></i></button>
                            <ul class="select-col">
                                <li class="active">All Columns</li>
                                <li>Building</li>
                                <li>Plan</li>
                                <li>Floors</li>
                                <li>Units</li>
                                <li>Inventory</li>
                                <li>Available</li>
                                <li>Sold</li>
                                <li>Restricted</li>
                            </ul>
                            <input type="text" name="search-txt" id="search-txt" class="search-txt"/>
                            <button id="search-btn" class="search-btn">Go</button>
                        </div>
                        <table id="associate-plan-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Building</th>
                                    <th>Plan</th>
                                    <th>Floors</th>
                                    <th>Units</th>
                                    <th>Inventory</th>
                                    <th>Available</th>
                                    <th>Sold</th>
                                    <th>Restricted</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </html>
    <apex:outputPanel id="scriptTag">
        <script>
            function getAssociateBuildPlanTable() {
                console.log('Inside getAssociateBuildPlanTable');
                var tableJSON = {!buildingDetails};
                console.log(tableJSON);
                buildingTable = $('#associate-plan-table').DataTable( {
                    'destroy': true,
                    'data': tableJSON,
                    'dom': 'lt<"table-bottom"ip>',
                    'columns': [
                        { 'data': 'building'},
                        { mRender: function (data, type, row) {
                                if(row.plan == 'plan available') {
                                    return '<a href="/apex/paymentPlan_Building?id=' 
                                            + row.buildingId + '" class="circle-btn"><i class="fa fa-circle"></i></a>';
                                } else {
                                    return '<a href="/apex/paymentPlan_Building?id=' 
                                            + row.buildingId + '" class="alert-btn"><i class="fa fa-exclamation-triangle"></i></a>';
                                }
                            }
                        },
                        { mRender: function (data, type, row) {
                            var returnURL = '<a href="/apex/associatePaymentPlan_Floor?id=' 
                                            + row.buildingId + '" class="floor-plan-btn">'+row.floors+'</a>';
                            return returnURL;
                        }
                        },
                        { 'data': 'units'},
                        { 'data': 'inventory'},
                        { 'data': 'available'},
                        { 'data': 'sold'},
                        { 'data': 'restricted'},
                    ],
                    'ordering': true,
                    'lengthChange': false,
                    'pagingType': "simple",
                    "language": {
                        "emptyTable":     "No Units Available for this Project",
                        "paginate": {
                            'previous': '<i class="fa fa-chevron-left"></i>',
                            'next': '<i class="fa fa-chevron-right"></i>'
                        },
                        "info": "_START_ - _END_ of _TOTAL_"
                    }
                });
                console.log(' getAssociateBuildPlanTable Ending');
            }
        </script>
    </apex:outputPanel> 

    <script>
        $(document).ready(function (){
            if('{!propertyExists}' == 'true'){
                document.getElementById('build-select').value='{!propertyName}';
                $('.search-placeholder').hide();
                $('.filter-table-wrap').show();
                console.log('Ready function');
                getAssociateBuildPlanTable();
            }

            $( '#build-select' ).change(function () {
                console.log('Changed Selection: ' + this.value);
                if(this.value != 0) {
                    showSpinner();
                    $('.search-placeholder').hide();
                    $('.filter-table-wrap').show();
                    console.log('this.value: ' + this.value);
                    console.log('Getting Building Details');
                    getBuildingDetails(this.value);
                } else {
                    $('.search-placeholder').show();
                    $('.filter-table-wrap').hide();
                }
            }); 

            // Select column for search
            $('#sel-col-btn').click( function (e) {
                $('.select-col').toggleClass('open');
                event.stopPropagation();
            });

            $('ul.select-col li').click(function() {
                $('ul.select-col li.active').removeClass("active");
                $(this).addClass("active");
                $('.select-col').removeClass('open');
            });

            // Close the select list on click outside
            $(document).on('click',function(event) {
                if($('.select-col').hasClass('open')) {
                    $('.select-col').removeClass('open');
                }
            });

            // Table filter and search
            $('#search-btn').click( function (e) {
                var colIndex = $('ul.select-col li.active').index();
                var searchTxt = $('#search-txt').val().toLowerCase();
                if (colIndex <= 0) {
                    buildingTable.columns().search('').draw();
                    buildingTable.search(searchTxt).draw();
                } else {
                    buildingTable.columns().search('').draw();
                    buildingTable.column(colIndex-1).search(searchTxt).draw();
                }
            });
            hideSpinner();
        });
    </script>
</apex:page>