<apex:page controller="BulkUpdatePriceController" standardStyleSheets="false" lightningStylesheets="false" 
                                           showHeader="false" title="Bulk Updates" docType="html-5.0" >
    <html lang="en">
        <head>
            <apex:slds />
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
            <title>Bulk Updates</title>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/font-awesome.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/style.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery.dataTables.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery-ui.min.css')}"/>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
            <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>
            

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery-ui.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.dataTables.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.datatable.ColReorderWithResize.js')}"></script>
            <script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css "/>
            <style>
                @font-face{
                    font-family: "fontawesome-webfont";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Bold";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.eot')}") format('embedded-opentype'), 
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Regular";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.eot')}") format('embedded-opentype'),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Light";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.eot')}") format('embedded-opentype'),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.ttf')}") format("truetype");
                }
                
                
        #toast-container{
            align-items: center !important;
        }

        .toast-top-right {  
            top: 12px; 
            left: 50%; 
            margin-left: -150px; 
        } 


            </style>
        </head>
        <body>
            <!-- Spinner Div -->
            <div class="slds-scope">
                <div id="spinner" class="slds-hide">
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function showSpinner () {
                    $ ('#spinner').removeClass ('slds-hide');
                }

                function hideSpinner () {
                    $ ('#spinner').addClass ('slds-hide');
                }
            </script>
            <apex:form >
            <header>
                <ul class="breadcrumb">
                    <li><a href="/apex/InventorySetup">Setup</a></li>
                    <li><a href="/apex/BulkUpdateSetup">Bulk Update</a></li>
                </ul>
                <div class="header-wrap">
            <p>Unit Upload [Price]</p>
            <div class="rgt-btn-wrap">
                <div class="step-nav-btn">
                    <button class="blue-btn step-btn upload-btn" onclick="uploadFileJS();return false;">Load</button>
                </div>
                <div class="step-nav-btn">
                    <button class="orange-btn back-btn">Back</button>
                    <button class="green-btn step-btn save-submit-btn" onclick="updateInvJS(); return false;">Save &amp; Submit</button>
                </div>
                <div class="step-nav-btn">
                    <!-- <button class="green-btn step-btn plan-btn">Submit</button> -->
                </div>
                
            </div>
        </div>
    </header>
    <div class="content-wrap unit-upload price">
        <div class="step-tabs">
            <div class="tab-separation"></div>
            <div class="tab"><p>Upload Data</p></div>
            <div class="tab"><p>Review &amp; Submit</p></div>
            <div class="tab"><p>View Updated Data</p></div>
        </div>
        <!-- <form class="form-wizard" id="uploadUnitPriceForm"> -->
            <div class="step step-one">
                <div class="step-wrap step-1-wrap unit-upload">
                    <div class="table-wrap">
                        <p>Sample Template</p>
                        <table id="upload-unit-price-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-wrap">
                       <!-- <apex:inputFile value="{!contentFile}"  id="upload-data"/> -->
                        <input type="file"  id="upload-data" accept=".csv,text/csv"/>
                        <label class="err-lbl">Choose a file to upload.</label>
                    </div>

                </div>
            </div>
            <div class="step step-two">
                <div class="step-wrap step-2-wrap">
                    <div class="table-wrap">
                        <div class="filter-wrap">
                            <button class="sel-col-btn"><i class="fa fa-search"></i><i class="fa fa-angle-down"></i></button>
                            <ul class="select-col">
                                <li class="active">All Columns</li>
                                <li>Unit</li>
                                <li>Old Price</li>
                                <li>New Price</li>
                                <li>Building</li>
                                <li>Space Type</li>
                                <li>View Type</li>
                                <li>Type</li>
                                <li>Area</li>
                                <li>Status</li>
                            </ul>
                            <input type="text" name="search-txt" class="search-txt"/>
                            <button class="search-btn">Go</button>
                        </div>
                        <table id="upload-unit-review-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>Old Price</th>
                                    <th>New Price</th>
                                    <th>Building</th>
                                    <th>Space Type</th>
                                    <th>View Type</th>
                                    <th>Type</th>
                                    <th>Area</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                        <p class="total-cnt-range"></p>
                    </div>
                </div>
            </div>
            <div class="step step-three">
                <div class="step-wrap step-3-wrap">
                    <div class="table-wrap">
                        <div class="filter-wrap">
                            <button class="sel-col-btn column-search-sel"><i class="fa fa-search"></i><i class="fa fa-angle-down"></i></button>
                            <ul class="select-col">
                                <li class="active">All Columns</li>
                                <li>Unit</li>
                                <li>New Price</li>
                                <li>Project</li>
                                <li>Building</li>
                                <li>Space Type</li>
                                <li>View Type</li>
                                <li>Type</li>
                                <li>Area</li>
                                <li>JOPD Sellable Area</li>
                                <li>Marketing Name</li>
                                <li>Status</li>
                            </ul>
                            <input type="text" name="search-txt" class="search-txt"/>
                            <button class="search-btn column-search-btn">Go</button>
                        </div>
                        <table id="view-update-unit-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Unit</th>
                                    <th>New Price</th>
                                    <th>Project</th>
                                    <th>Building</th>
                                    <th>Space Type</th>
                                    <th>View Type</th>
                                    <th>Type</th>
                                    <th>Area</th>
                                    <th>JOPD Sellable Area</th>
                                    <th>Marketing Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                        <p class="view-update-total-cnt-range"></p>
                    </div>
                </div>
            </div>
</div>

            <apex:actionFunction action="{!importDataFromCSVController}" name="uploadFile" 
                        rerender="scriptTag,scriptTag3" onComplete="afterFileLoad();hideSpinner();">
                <apex:param name="fileBlob" value=""/>
            </apex:actionFunction>
            <apex:actionFunction action="{!updateInventory}" name="updateInv" 
                        rerender="scriptTag2,scriptTag3" onComplete="afterInvUpdate();hideSpinner();">
            </apex:actionFunction>
        </apex:form>
                

        </body>
    </html>
    <apex:outputPanel id="scriptTag">
        <script>
            var invList = {!invListJSON};
            var unitsObj = [];
            var invMap = jQuery.parseJSON('{!JSENCODE(invNamePriceMapJson)}');
            console.log('invMap: ' + invMap);
           
            invList.forEach(item => { 
                var newPrice = invMap[item.Unit_Name__c];
                var oldPrice = item.Price__c;
                if(oldPrice == null || oldPrice == undefined || oldPrice == '' || oldPrice == 'undefined'){
                    oldPrice = '-';
                }
                var spclPrice = item.Special_Price__c;
                if(spclPrice == null || spclPrice == undefined || spclPrice == '' || spclPrice == 'undefined'){
                    spclPrice = '-';
                }
                var building = item.Building_Location__r.Building_Name__c;
                if(building == null || building == undefined || building == '' || building == 'undefined'){
                    building = '-';
                }
                var spaceType = item.Space_Type_Lookup_Code__c;
                if(spaceType == null || spaceType == undefined || spaceType == '' || spaceType == 'undefined'){
                    spaceType= '-';
                }
                var viewType = item.View_Type__c;
                if(viewType == null || viewType == undefined || viewType == '' || viewType == 'undefined'){
                    viewType = '-';
                }
                var type = item.Type_Mktg__c;
                if(type == null || type == undefined || type== '' || type == 'undefined'){
                    type = '-';
                }
                
                var area = item.Unit_Area_sft__c;
                if(area == null || area == undefined || area == '' || area == 'undefined'){
                    area = '-';
                }
                var status = item.Status__c;
                if(status == null || status == undefined || status == '' || status == 'undefined'){
                    status = '-';
                }
                var data = {
                    unit: item.Unit_Name__c,
                    old_price: spclPrice,
                    new_price: newPrice,
                    special_price: spclPrice,
                    building: building,
                    space_type: spaceType,
                    view_type: viewType,
                    type: type,
                    area: area,
                    status: status
                };
                unitsObj.push(data);
            });
            var reviewTableJSON = unitsObj;
            var reviewTable;    
    
            function initReviewTable() {
                reviewTable = $('#upload-unit-review-table').DataTable( {
                    'destroy': true,
                    'data': reviewTableJSON,
                    'columns': [
                        { 'data' : 'unit'},
                        { 'data' : 'old_price'},
                        { 'data' : 'new_price'},
                       // { 'data': 'special_price' },
                        { 'data': 'building' },
                        { 'data' : 'space_type'},
                        { 'data': 'view_type' },
                        { 'data': 'type' },
                        { 'data' : 'area'},
                        { 'data': 'status' }
                    ],
                    'ordering': false,
                    'lengthChange': false,
                    'bInfo': false,
                    'searching': true,
                    'paging': true
                });
                $('.total-cnt-range').text('1 - '+ $('#upload-unit-review-table tbody tr').length);
            }
                
        </script>
    </apex:outputPanel>
    
        <apex:outputPanel id="scriptTag2">
        <script>
            var invList = {!invListJSON};
            var unitsObj = [];
           
            invList.forEach(item => { 
                var price = item.Price__c;
                if(price == null || price == undefined || price == '' || price == 'undefined'){
                    price = '-';
                }
                var spclPrice = item.Special_Price__c;
                if(spclPrice == null || spclPrice == undefined || spclPrice == '' || spclPrice == 'undefined'){
                    spclPrice = '-';
                }
                var building = item.Building_Location__r.Building_Name__c;
                if(building == null || building == undefined || building == '' || building == 'undefined'){
                    building = '-';
                }
                var project = item.Property_Name_2__c;
                if(project == null || project == undefined || project == '' || project == 'undefined'){
                    project = '-';
                }
                var spaceType = item.Space_Type_Lookup_Code__c;
                if(spaceType == null || spaceType == undefined || spaceType == '' || spaceType == 'undefined'){
                    spaceType= '-';
                }
                var viewType = item.View_Type__c;
                if(viewType == null || viewType == undefined || viewType == '' || viewType == 'undefined'){
                    viewType = '-';
                }
                var type = item.Type_Mktg__c;
                if(type == null || type == undefined || type== '' || type == 'undefined'){
                    type = '-';
                }
                
                var area = item.Unit_Area_sft__c;
                if(area == null || area == undefined || area == '' || area == 'undefined'){
                    area = '-';
                }
                var jopdArea = item.Total_Area_JOPD_sft__c;
                if(jopdArea == null || jopdArea == undefined || jopdArea == '' || jopdArea == 'undefined'){
                    jopdArea = '-';
                }
                var status = item.Status__c;
                if(status == null || status == undefined || status == '' || status == 'undefined'){
                    status = '-';
                }
                var marketingName = item.Marketing_Name__c;
                if(marketingName == null || marketingName == undefined || marketingName == '' || marketingName == 'undefined'){
                    marketingName = '-';
                }
                var data = {
                    unit: item.Unit_Name__c,
                    new_price: price,
                    special_price: spclPrice,
                    project: project,
                    building: building,
                    space_type: spaceType,
                    view_type: viewType,
                    type: type,
                    area: area,
                    JOPD_sellable_area: jopdArea,
                    marketing_name: marketingName,
                    status: status
                };
                unitsObj.push(data);
            });
            var viewUpdateTableJSON = unitsObj;
            var viewUpdateTable;    
    
            
            function initViewUpdateTable() {
                viewUpdateTable = $('#view-update-unit-table').DataTable( {
                    'destroy': true,
                    'data': viewUpdateTableJSON,
                    'columns': [
                        { 'data': 'unit'},
                        { 'data': 'new_price'},
                        //{ 'data': 'special_price' },
                        { 'data': 'project'},
                        { 'data': 'building' },
                        { 'data': 'space_type'},
                        { 'data': 'view_type' },
                        { 'data': 'type' },
                        { 'data': 'area'},
                        { 'data': 'JOPD_sellable_area'},
                        { 'data': 'marketing_name'},
                        { 'data': 'status' }
                    ],
                    'ordering': false,
                    'lengthChange': false,
                    'bInfo': false,
                    'searching': true,
                    'paging': true
                });
                $('.view-update-total-cnt-range').text('1 - '+ $('#view-update-unit-table tbody tr').length);
            }
                
        </script>
    </apex:outputPanel>
    
    <apex:outputPanel id="scriptTag3">
        <script>
            var blobfile;
            
            function updateInvJS(){
                showSpinner();
                updateInv();
            }
            
            function clearFileInput(ctrl) {
              try {
                ctrl.value = null;
              } catch(ex) { }
              if (ctrl.value) {
                ctrl.parentNode.replaceChild(ctrl.cloneNode(true), ctrl);
              }
            }

            function uploadFileJS(){
                
                console.log('Uploading File');
                if($("#upload-data").val() == '') {
                    $('.err-lbl').css({'display': 'block'});
                } else {
                    var filePath = $("#upload-data").val(); 
          
                    var allowedExtensions =  /(\.csv)$/i; 
                    console.log('filePath: ' + filePath);
                    console.log('allowedExtensions: ' + allowedExtensions);
                    if (!allowedExtensions.exec(filePath)) { 
                        toastr.error('Invalid File Type,  upload CSV File');
                    }  else{ 
                        showSpinner();
                        $('.err-lbl').css({'display': 'none'});
                        var fbody= document.getElementById("upload-data").files[0];
                        var reader = new FileReader();
                        reader.readAsDataURL(fbody);
                        reader.onload = attLoaded;
                        console.log('test5: ' );
                    }
                }
            }
            
            function attLoaded(evt) {  
                console.log('test4: ' );
                var fileString = evt.target.result.replace(/^data:.+;base64,/, '');
                console.log('fileString: ' + fileString);         
                uploadFile(fileString);
            }
            
            
            function afterInvUpdate(){
                var msg = '{!loadMsg}';
                console.log('msg: ' + msg);
                if(msg == 'Inventories Updated Successfully'){
                    nextStep(1);
                    toastr.success(msg);
                } else{
                    
                    toastr.error(msg);
                }
            }

            
            function afterFileLoad(){
                var msg = '{!loadMsg}';
                console.log('msg: ' + msg);
                if(msg == 'File Uploaded Successfully'){
                    nextStep(0);
                    toastr.success(msg);
                } else{
                    clearFileInput(document.getElementById("upload-data"));
                    toastr.error(msg);
                }
            }
            
            function nextStep(n) {
                var steps = document.getElementsByClassName("step");
                var stepNavBtns = document.getElementsByClassName("step-nav-btn");

                $('.show-from-step-2').show();
                if(steps[n] != null && steps[n] != undefined){
                    steps[n].style.display = "none";
                }
                if(stepNavBtns[n] != null && stepNavBtns[n] != undefined){
                    stepNavBtns[n].style.display = "none";
                }
                $(steps[n]).addClass('finish');
                
                currentStep = n+1;
                if( currentStep == steps.length) {
                    $(steps[currentStep]).addClass('finish');
                } else {
                    showTab(currentStep);
                    if( currentStep == 1 ){
                        initReviewTable();
                    }
                    if( currentStep == 2 ){
                        initViewUpdateTable();
                    }
                }
            }
            
            function showTab(n) {
                var steps = document.getElementsByClassName("step");
                var stepNavBtns = document.getElementsByClassName("step-nav-btn");
                
                if(n < steps.length) {
                    if(steps[n] != null && steps[n] != undefined){
                        steps[n].style.display = "block";
                    }
                    if(stepNavBtns[n] != null && stepNavBtns[n] != undefined){
                        stepNavBtns[n].style.display = "block";
                    }
                    fixStepIndicator(n);
                }
                
            }
 
            function fixStepIndicator(n) {
                var i, x = document.getElementsByClassName("tab");
                for (i = 0; i < x.length; i++) {
                    $(x[i]).removeClass('active finish');
                }
                
                for (i = 0; i < n; i++) {
                    $(x[i]).addClass('finish');
                }
                $(x[n]).addClass('active');
            }
        </script>
    </apex:outputPanel>

    <script type="text/Javascript">
$(document).ready(function (){
    showSpinner();
    var priceTable,
        priceTableJSON = [
            {
                unit: 'NVET/12/121',
                price: 12300.00
            },
            {
                unit: 'NVET/12/122',
                price: 12400.00
            },
            {
                unit: 'NVET/12/123',
                price: 12400.00
            }
        ],
        
     currentStep = 0;
    showTab(currentStep);
    initDataTable();
    
    $('.back-btn').on("click", function() {
        var n = currentStep;
        var steps = document.getElementsByClassName("step");
        var stepNavBtns = document.getElementsByClassName("step-nav-btn");
        steps[n].style.display = "none";
        stepNavBtns[n].style.display = "none";

        currentStep = currentStep - 1;
        $(steps[currentStep]).removeClass('finish');
        showTab(currentStep);
        
    });

    function initDataTable() {
        priceTable = $('#upload-unit-price-table').DataTable( {
            'destroy': true,
            'data': priceTableJSON,
            'columns': [
                { 'data' : 'unit'},
                { 'data' : 'price'}
            ],
            'ordering': false,
            'lengthChange': false,
            'bInfo': false,
            'searching': false,
            'paging': false
        });
    }

    $("#upload-data").change(function(){
        ($("#upload-data").val() == '') ? $('.err-lbl').css({'display': 'block'}) : $('.err-lbl').css({'display': 'none'});
    });



    // Select column for search
    $('.step-2-wrap #sel-col-btn').click( function (e) {
        $('.select-col').toggleClass('open');
        event.stopPropagation();
    });

    $('ul.select-col li').click(function() {
        $('ul.select-col li.active').removeClass("active");
        $(this).addClass("active");
        $('.select-col').removeClass('open');
    });
    // Close the select list on click outside
    $(document).on('click',function(event) {
        if($('.select-col').hasClass('open')) {
            $('.select-col').removeClass('open');
        }
    });

    // Table filter and search
    $('.step-2-wrap #search-btn').click( function (e) {
        var colIndex = $('ul.select-col li.active').index();
        var searchTxt = $('#search-txt').val().toLowerCase();
        if (colIndex <= 0) {
            reviewTable.columns().search('').draw();
            reviewTable.search(searchTxt).draw();
        } else {
            reviewTable.columns().search('').draw();
            reviewTable.column(colIndex).search(searchTxt).draw();
        }
        updateTableLength();
    });

    function updateTableLength() {
        if($('#upload-unit-review-table').find('.dataTables_empty').length) {
            $('.total-cnt-range').text('');
        } else {
            $('.total-cnt-range').text('1 - '+ $('#upload-unit-review-table tbody tr').length);
        }
    }


    // Select column for search
    $('.step-3-wrap #sel-col-btn').click( function (e) {
        $('.select-col').toggleClass('open');
        event.stopPropagation();
    });

    // Table filter and search
    $('.step-3-wrap #search-btn').click( function (e) {
        var colIndex = $('ul.select-col li.active').index();
        var searchTxt = $('#search-txt').val().toLowerCase();
        if (colIndex <= 0) {
            viewUpdateTable.columns().search('').draw();
            viewUpdateTable.search(searchTxt).draw();
        } else {
            viewUpdateTable.columns().search('').draw();
            viewUpdateTable.column(colIndex).search(searchTxt).draw();
        }
        updateViewTableLength();
    });

    function updateViewTableLength() {
        if($('#view-update-unit-table').find('.dataTables_empty').length) {
            $('.view-update-total-cnt-range').text('');
        } else {
            $('.view-update-total-cnt-range').text('1 - '+ $('#view-update-unit-table tbody tr').length);
        }
    }
    
    function closeToaster () {
        $ ('#toast').addClass ('slds-hide');
    }
    
     function showToaster (title, type, text, theme) {
        var icon = "{!URLFOR($Asset.slds, '/assets/icons/utility-sprite/svg/symbols.svg#"+type+"')}";
        $ ('#toast').removeClass ('slds-hide');
        $ ('#msg_text').html (text);
        $ ('#msg_title').text (title);
        
        if ($ ('#theme').hasClass ('slds-theme_error'))
            $ ('#theme').removeClass ('slds-theme_error');
        
        if ($ ('#theme').hasClass ('slds-theme_success'))
            $ ('#theme').removeClass ('slds-theme_success');
        
        if ($ ('#theme').hasClass ('slds-theme_info'))
            $ ('#theme').removeClass ('slds-theme_info');
        
        if ($ ('#theme').hasClass ('slds-theme_warning'))
            $ ('#theme').removeClass ('slds-theme_warning');
        
        $ ('#theme').addClass (theme);
        $ ('#iconType').attr ('xlink:href', icon);
    }
    hideSpinner();

});


    </script>
</apex:page>