<apex:page standardController="SR_Attachments__c"
    extensions="CaseAttachmentController">
    <apex:slds />
    <div class="slds-scope">
    <apex:sectionHeader title="Upload New Documents" subtitle="Attach File" />
    <apex:form id="form_Upload">
        <apex:pageBlock >
            <apex:pageBlockButtons >
                <!--<apex:commandButton action="{!back}" value="Back" />-->
            </apex:pageBlockButtons>
            <apex:pageMessages />
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="File" for="file_File" />
                    <apex:outputpanel >
                        <apex:panelGrid columns="2">
                            <apex:inputFile id="file_File" value="{!fileBody}"
                                contentType="{!fileType}"
                                filename="{!fileName}"
                                rendered="{!ISNULL(objSRAttach.Attachment_URL__c)}"
                                required="{!objSRAttach.IsRequired__c}"/>
                            <apex:outputText value="{!objSRAttach.Name}"
                                rendered="{!NOT(ISNULL(objSRAttach.Attachment_URL__c))}" />
                            <apex:commandLink rendered="{!!ISNULL(objSRAttach.Attachment_URL__c) && rend1}" action="{!commandLinkAction}" value="Update File"/>
                            <apex:commandLink rendered="{!rend}" action="{!commandLinkAction}" value="Remove"/>
                            <apex:outputpanel rendered="{!rend}">
                                <apex:outputLabel value="Update File" for="file_updateFile" />
                                <apex:inputFile id="file_updateFile" value="{!fileBody}"
                                contentType="{!fileType}"
                                filename="{!fileName}"/>
                            </apex:outputpanel>
                        </apex:panelGrid>
                    </apex:outputpanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!objSRAttach.IsRequired__c}">
                    <apex:outputLabel value="Is the file Required?" for="visible" />
                    <apex:outputLabel value="Yes"/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!NOT(objSRAttach.IsRequired__c)}">
                    <apex:outputLabel value="Is the file Required?" for="visible" />
                    <apex:outputLabel value="No"/>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Is the file Valid?" for="visible" />
                    <apex:selectList value="{!selectedAwesomeness}" size="1"
                        id="visible">
                        <apex:selectOptions value="{!lstOptions}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Signed by DAMAC" for="SignedDamac" />
                    <apex:selectList value="{!damacSigned}" size="1"
                        id="SignedDamac">
                        <apex:selectOptions value="{!lstOptions}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Need Correction" for="needCorrection" />
                    <apex:selectList value="{!needCorrection}" size="1"
                        id="needCorrection">
                        <apex:selectOptions value="{!lstOptions}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Description" for="description" />
                    <apex:inputTextarea id="description"
                        value="{!objSRAttach.Description__c}" rows="4" cols="50" />
                </apex:pageBlockSectionItem>
                
                <!--    // 01 Nov 20: below code commented coz to delete Insurance copy start date and Insurance copy end date
                    // field, as we are not using above 2 fields as requested by Aditya.
                    <apex:pageBlockSectionItem rendered="{!isPlotHandoverCase}">
                        <apex:outputLabel value="Insurance Copy Start Date" for="startDate" />
                        <apex:inputField id="startDate" value="{!objCase.Insurance_Copy_Start_Date__c}"/>
                    </apex:pageBlockSectionItem>
                    
                    
                    <apex:pageBlockSectionItem rendered="{!isPlotHandoverCase}">
                        <apex:outputLabel value="Insurance Copy End Date" for="endDate" />
                        <apex:inputField id="endDate" value="{!objCase.Insurance_Copy_End_Date__c}"/>
                    </apex:pageBlockSectionItem>
                -->

<!--                 <apex:pageBlockSectionItem > -->
<!--                     <apex:outputLabel value="Attachment URL" for="attachUrl" /> -->
<!--                     <apex:inputText id="attachUrl" value="{!attachmentUrl}" /> -->
<!--                 </apex:pageBlockSectionItem> -->

                <apex:pageBlockSectionItem >
                    <apex:commandButton value="Save" action="{!saveCaseAttachmentURL}" />
                    <apex:commandButton value="Cancel" action="{!back}"/>
                </apex:pageBlockSectionItem>

                <!--
                <apex:pageBlockSectionItem rendered="{!ISNULL(objSRAttach.Attachment_URL__c)}">
                    <apex:outputlabel value=""/>
                    <apex:commandButton id="uploadBtn" value="Attach File"
                        action="{!processUpload}"/>
                </apex:pageBlockSectionItem>
                -->
                </apex:pageBlockSection>

        </apex:pageBlock>
    </apex:form>
    </div>
</apex:page>