<!--
  @File Name          : CheckEligibility.page
  @Description        : 
  @Author             : arjunK@@espl.com
  @Group              : 
  @Last Modified By   : arjunK@@espl.com
  @Last Modified On   : 10/8/2019, 7:17:36 PM
  @Modification Log   : 
  Ver       Date            Author                  Modification
  1.0    10/8/2019   arjunK@@espl.com     Initial Version
-->
<apex:page showheader="false" sidebar="false" standardController="Location__c" doctype="html-5.0" standardStylesheets="false" extensions="CheckEligibilityController">

    <apex:form id="frm">
        <style type="text/css">
            .errorMsg,
            .errorStyle,
            .importantWarning,
            .pbBody .errorMsg a,
            .pbBody .errorStyle a {
                color: #d74c3b!important;
            }
            .errorMsg,
            .errorStyle,
            .importantWarning,
            .pbBody .errorMsg a,
            .pbBody .errorStyle a {
                color: #c00!important;
            }
            .message {
                background-color: #ffc!important;
                border-style: solid!important;
                border-width: 1px!important;
                color: #000!important;
                padding: 6px 8px 6px 6px !important;
                border-radius: 4px!important;
            }
            .errorM2,
            .errorM3,
            .errorM4,
            .errorM6,
            .errorS1 {
                border-color: #c00!important;
            }
            .confirmM3 {
                border-color: green!important;
            }
            .warningM3 {
                border-color: sandybrown!important;
            }
            .required {
                color: red;
                font-weight: bolder;
            }
            .error {
                border: 2px solid #c00!important;
            }
            #spinnerIcon {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                z-index: 10;
                opacity: 0.6;
                filter: alpha(opacity=50);
            }
            #assign-action-spinner-main {
                position: fixed;
                left: 0;
                top: 0;
                background-color: rgba(0,0,0,.6);
                height: 100%;
                width: 100%;
                z-index: 999;
                align: center;
                vertical-align: middle;
            }
            #assign-action-spinner-content img {
                width: 32;
                height: 32;
                align: center;
                vertical-align: middle;
            }
            #assign-action-spinner-content p {
                display: inline;
                font-size: 135%;
                font-weight: bold;
            }
        </style>

        <div id="progressbar" style="margin: 0px 0px 16px 0px;">
            <span style="position: absolute;text-align: center;margin: 5px 0 0 45%;"></span>
        </div>
        <div id="filter"></div>

        <!-- Zip files -->
        <!-- <apex:includeScript value="/soap/ajax/25.0/connection.js"/> <apex:includeScript value="/soap/ajax/25.0/apex.js"/> <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/> <apex:includeScript value="{!URLFOR($Resource.JSZip)}"/> -->
        <!-- Zip files -->
        <apex:pageMessages id="pgMsg"/>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <apex:actionStatus id="blockUI" onStart="startProcess();" onStop="endProcess();"/>
        <div id="spinnerIcon" style="display:none">
            <div id="assign-action-spinner-content">
                <!-- <img src="/img/analytics/reportbuilder/icons/spinner32.gif" alt="Processing..." title="Processing..." /> <p>Processing...</p> -->
                <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px; height:50px; position:fixed; top:50%; left:50%; z-index:10;"/>
            </div>
        </div>
        <!-- <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px;height:50px;display:none;position:fixed;top:50%;left:50%;z-index:10;"/> -->

        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/>
        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"/>
        <apex:styleSheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css"/>
        <apex:includescript value="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"/>
        <apex:stylesheet value="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css"/>
        <apex:variable value="{!CONTAINS($CurrentPage.URL, 'lightning.force.com')}" var="isLightningMode"/>
        <apex:slds />
        <!-- <table> <thead> </thead> <tbody> </tbody> </table> -->
        <div location="top" style="text-align: center;">
            <apex:commandButton value="Check LHO" status="blockUI" oncomplete="bindEvents();" reRender="bookingUnitPanel,pgMsg" action="{!leaseHandover}" styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <apex:commandButton value="Check Eligibility" oncomplete="uncheckAll();bindEvents();" reRender="bookingUnitPanel, pgMsg" styleClass="slds-button slds-button_brand slds-m-around_small" onclick="checkEligibility()"/>
            <!-- <apex:commandButton status="blockUI" value="Approve" reRender="bookingUnitPanel,pgMsg" oncomplete="uncheckAll();bindEvents();" action="{!approveHandover}" styleClass="slds-button slds-button_brand slds-m-around_small"/> -->
            <apex:commandButton status="blockUI" value="Approve Handover" reRender="bookingUnitPanel,pgMsg" onclick="if(checkSelectedUnits())showHOPopup();" styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <apex:commandButton status="blockUI" value="Approve EHO" reRender="bookingUnitPanel,pgMsg" onclick="if(checkSelectedUnits())showEHOPopup();" styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <apex:commandButton status="blockUI" value="Hold" reRender="bookingUnitPanel,pgMsg" onclick="if(checkSelectedUnits())showPopup();" styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <!-- <apex:commandButton onclick="hasUnits();" oncomplete="uncheckAll();bindEvents();" value="Generate Handover Pack" reRender="bookingUnitPanel,pgMsg" styleClass="slds-button slds-button_brand slds-m-around_small"/> -->
            <apex:commandButton onclick="if(checkSelectedUnits())checkHORegeneration();" oncomplete="checkConditions('regenerateHO');bindEvents();" reRender="bookingUnitPanel,pgMsg" value="Generate Handover Pack"  styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <!-- <apex:commandButton action="{!checkHORegeneration}" oncomplete="checkConditions('regenerateHO');bindEvents();" value="Generate Handover Pack" reRender="bookingUnitPanel,pgMsg" styleClass="slds-button slds-button_brand slds-m-around_small"/> -->

            <apex:commandButton onclick="if(checkSelectedUnits())checkConditions('sendEmail');" oncomplete="bindEvents();uncheckAll();" value="Send Email" reRender="bookingUnitPanel,pgMsg" styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <apex:commandButton onclick="if(checkSelectedUnits())checkReminderPack();" oncomplete="checkConditions('reminder');bindEvents();" reRender="bookingUnitPanel,pgMsg" value="Generate Reminder Pack"  styleClass="slds-button slds-button_brand slds-m-around_small"/>
            <apex:commandButton onclick="if(checkSelectedUnits())checkReminder('reSend');" oncomplete="bindEvents();uncheckAll();" value="Send Reminder" reRender="bookingUnitPanel,pgMsg" styleClass="slds-button slds-button_brand slds-m-around_small"/>
        </div>
        <apex:actionFunction status="blockUI" name="checkHORegeneration" action="{!checkHORegeneration}" reRender="test"/>
        <apex:actionFunction status="blockUI" name="checkReminderPack" action="{!checkReminderRegeneration}" reRender="test"/>
        <apex:actionFunction status="blockUI" name="approveHandover" action="{!approveHandover}" reRender="none"/>
        <apex:actionFunction status="blockUI" name="approveEHO" action="{!approveEHO}" reRender="none"/>
        <apex:actionFunction status="blockUI" name="holdHandover" action="{!holdHandover}" reRender="bookingUnitPanel" oncomplete="bindEvents();" />
        <apex:actionFunction name="reload" action="{!getBookingUnits}" reRender="bookingUnitPanel"/>
        <apex:outputPanel id="test">
        <apex:inputHidden value="{!HOPackGenerated}" id="HOPackGeneratedCls"/>
        <apex:inputHidden value="{!ReminderPackGenerated}" id="ReminderPackGeneratedCls"/>
        </apex:outputPanel>
        <apex:outputPanel layout="block" id="bookingUnitPanel">

            <apex:datatable id="caseTable" value="{!lstBookingUnits}" var="wrap" styleClass="slds-table slds-table_bordered slds-table_cell-buffer">

                <apex:column headerValue="Action" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:facet name="header">
                        <apex:inputCheckbox styleClass="selectAllCls" onchange="checkAll(this);" id="selectAllIdCheckbox">
                            <apex:actionSupport event="onchange" reRender="bookingUnitPanel"/>
                        </apex:inputCheckbox>
                    </apex:facet>
                    <apex:inputCheckbox value="{!wrap.isSelected}"
                        styleClass="selectedClass"
                        html-data-approvalStatus="{!wrap.objBU.Approval_Status__c}"
                        html-data-status="{!wrap.objBU.Handover_Notice_Sent__c}"
                        html-data-isEHO="{!wrap.objBU.Eligible_For_Early_Handover__c}"
                        html-data-regId="{!wrap.objBU.Id}-{!wrap.objBU.Registration_ID__c}"
                        html-data-reminder="{!wrap.objBU.Reminder_2_Sent__c}"
                        html-data-eligible="{!wrap.objBu.Unit_Ok_to_Send_HO_EHO_Notice__c}"></apex:inputCheckbox>
                </apex:column>
                <apex:column headerValue="Unit Name" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <!-- {!wrap.objBU.Unit_Name__c} -->
                    <apex:outputLink rendered="{! isLightningMode == false}" value="/{!wrap.objBU.Id}" target="_blank">{!wrap.objBU.Unit_Name__c}</apex:outputLink>
                    <apex:outputLink rendered="{!isLightningMode}" value="{!'/one/one.app?#/sObject/'+ wrap.objBU.Id + '/view'}" target="_blank" id="theLinkPayment">{!wrap.objBU.Unit_Name__c}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Preview Email" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:commandLink value=" Preview Email" onclick="previewEmail('{!wrap.objBU.Id}')" reRender="bookingUnitPanel"/>
                </apex:column>
                <!--<apex:column headerValue="Unit Details">{!wrap.objBU.Unit_Details__c}</apex:column>-->
                <apex:column headerValue="JOPD Area" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.JOPD_Area__c}
                </apex:column>
                <apex:column headerValue="Approval Status" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Approval_Status__c}
                </apex:column>
                <apex:column headerValue="Handover Notice Sent" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Handover_Notice_Sent__c,'Y','N')}"/>
                    <!-- {!wrap.objBU.Handover_Notice_Sent__c} -->
                </apex:column>
                <apex:column headerValue="Nationality" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Booking__r.Account__r.Nationality__pc}
                </apex:column>
                <apex:column headerValue="Reason for hold" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Reason_for_Hold__c}
                </apex:column>
                <apex:column headerValue="Rule Engine Message" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Rule_Engine_Message__c}
                </apex:column>
                <apex:column headerValue="No of URLs Received in Notice" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.No_of_URLs_Received__c}
                </apex:column>
                <apex:column headerValue="Handover Flag" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Handover_Flag__c}
                </apex:column>
                <apex:column headerValue="Handover Readiness checklist" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Unit_Ok_to_Send_HO_EHO_Notice__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Dispute" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Dispute__c,'Y','N')}"/>
                    <!-- {!wrap.objBU.Dispute__c} -->
                </apex:column>
                <apex:column headerValue="Enforcement" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Enforcement__c,'Y','N')}"/>
                    <!-- {!wrap.objBU.Enforcement__c} -->
                </apex:column>
                <apex:column headerValue="Litigation" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <!-- {!wrap.objBU.Litigation__c} -->
                    <apex:outputText value="{!IF(wrap.objBU.Litigation__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Counter Case" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <!-- {!wrap.objBU.Counter_Case__c} -->
                    <apex:outputText value="{!IF(wrap.objBU.Counter_Case__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Overdue" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Total_due_Overdue__c}
                </apex:column>
                <!--<apex:column headerValue="Rule Engine Responce"></apex:column> <apex:column headerValue="Approving Authority"></apex:column>-->
                <apex:column headerValue="Agreement Status" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Registration_Status__c}
                </apex:column>
                <apex:column headerValue="Total Snags" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Total_Snags_Open__c}
                </apex:column>
                <apex:column headerValue="Area Variation" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    {!wrap.objBU.Area_Variation__c}
                </apex:column>
                <!-- <apex:column headerValue="JOPD Area">{!wrap.objUnitDetailsWrapper.strJOPDArea}</apex:column> <apex:column headerValue="Dispute">{!wrap.objUnitDetailsWrapper.strDispute}</apex:column> <apex:column
                headerValue="Enforcement">{!wrap.objUnitDetailsWrapper.strEnforcement}</apex:column> <apex:column headerValue="Litigation">{!wrap.objUnitDetailsWrapper.strLitigation}</apex:column> <apex:column headerValue="Counter
                Case">{!wrap.objUnitDetailsWrapper.strCounterCase}</apex:column> <apex:column headerValue="Overdue">{!wrap.objUnitDetailsWrapper.strAmountOverdue}</apex:column> -->
                <apex:column headerValue="Mortgage" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <!-- {!wrap.objBU.Mortgage__c} -->
                    <apex:outputText value="{!IF(wrap.objBU.Mortgage__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Eligible For EHO" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <!-- {!wrap.objBU.Eligible_For_Early_Handover__c} -->
                    <apex:outputText value="{!IF(wrap.objBU.Eligible_For_Early_Handover__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Reminder 1 Sent" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Reminder_1_Sent__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Reminder 2 Sent" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:outputText value="{!IF(wrap.objBU.Reminder_2_Sent__c,'Y','N')}"/>
                </apex:column>
                <apex:column headerValue="Preview Notification" style="{!IF(wrap.objBU.Reminder_2_Sent__c = true, 'background-color: #ffff9d;', If(wrap.objBU.Reminder_1_Sent__c = true, 'background-color: #9dceff;', If(wrap.objBU.Handover_Notice_Sent__c = true || wrap.objBU.EHO_Notice_Sent__c = true || wrap.objBU.LHO_Notice_Sent__c = true, 'background-color: #D3D3D3;', 'background-color: white;'))) }">
                    <apex:commandLink value="Preview Notification" onclick="previewNotification('{!wrap.objBU.Id}')" reRender="bookingUnitPanel"/>
                </apex:column>
            </apex:datatable>
        </apex:outputPanel>
        <!-- pop up code for HOLD functionality starts here -->
        <apex:outputPanel styleClass="demo-only" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Reason for hold</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <!-- <label>Reason for hold</label>
                        <apex:inputTextArea value="{!holdReason}" styleClass="slds-textarea"/> -->
                        <apex:selectList value="{!holdReason}"
                             multiselect="false" size="1" required="true" label="Choose One"
                             styleClass="slds-picklist slds-dropdown-trigger slds-dropdown-trigger--click" id="categories" >
                             <apex:selectOptions value="{!lstHoldReason}" />
                        </apex:selectList>
                    </div>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_brand" reRender="bookingUnitPanel,pgMsg" onclick="holdHandover();showPopup();uncheckAll();" value="Save"></apex:commandButton>
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showPopup();" reRender="bookingUnitPanel,pgMsg" value="Cancel" oncomplete="bindEvents();"></apex:commandButton>
                        
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>

        <!-- pop up for HO pack regeneration -->
        <apex:outputPanel styleClass="Pop-up_RegenerateHO" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate regenarate">                            
                        </h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showHORegenerationPopup();uncheckAll();" oncomplete="bindEvents();" reRender="bookingUnitPanel,pgMsg" value="Cancel"></apex:commandButton>
                        <apex:commandButton styleClass="slds-button slds-button_brand" reRender="bookingUnitPanel,pgMsg" onclick="showHORegenerationPopup();getDocumentURLs();" value="Regenerate" oncomplete="bindEvents();"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>

        <apex:outputPanel styleClass="Pop-up_MailResend" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            Handover notice has been sent for few booking units. Do you want to Resend them?
                        </h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" oncomplete="bindEvents();" onclick="showResendPopup();uncheckAll();" reRender="bookingUnitPanel,pgMsg" value="Cancel"></apex:commandButton>
                        <apex:commandButton styleClass="slds-button slds-button_brand" reRender="bookingUnitPanel,pgMsg" onclick="showResendPopup();sendEmail();uncheckAll();" oncomplete="bindEvents();" value="Resend"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>
        
        <apex:outputPanel styleClass="Pop_Up_EHOUpdate" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            I confirm personally going through and reviewing the details of the units that there are no issues with the units that would prevent us from sending the EHO offer as per the company policy.
                        </h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showEHOPopup();" reRender="bookingUnitPanel,pgMsg" value="Cancel" oncomplete="bindEvents();"></apex:commandButton>
                        <apex:commandButton styleClass="slds-button slds-button_brand" reRender="bookingUnitPanel,pgMsg" onclick="approveEHO();showEHOPopup();" oncomplete="bindEvents();" value="Confirm"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>
        
        <apex:outputPanel styleClass="Pop_Up_HOUpdate" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            I confirm personally going through and reviewing the details of the units that there are no issues with the units that would prevent us from sending the HO Notice as per the company policy.
                        </h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showHOPopup();" reRender="bookingUnitPanel,pgMsg" value="Cancel" oncomplete="bindEvents();"></apex:commandButton>
                        <apex:commandButton styleClass="slds-button slds-button_brand" reRender="bookingUnitPanel,pgMsg" onclick="approveHandover();showHOPopup();" oncomplete="bindEvents();" value="Confirm"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>
        <!-- Error message for not eligible booking units -->
        <!-- pop up for Handover Notice Already Sent -->
        <apex:outputPanel styleClass="error_popup" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <!-- <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate errorModel">Some of the units are not eligible for sending handover notice</h2> -->
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate errorModel"></h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showErrorPopup(); uncheckAll();" reRender="bookingUnitPanel, pgMsg" value="Cancel" oncomplete="bindEvents();"/> <!-- -->
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>

        <!-- pop-up for email preview -->
        <apex:outputPanel styleClass="emailPreview_popup" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Email Preview</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium emailContent" id="modal-content-id-1"></div>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showPreviewEmailPopup();" reRender="bookingUnitPanel,pgMsg" value="Close" oncomplete="bindEvents();"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>

        <apex:outputPanel styleClass="Email_Content" style="height: 640px; display:none;" layout="block">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" id="resend">
                    <header class="slds-modal__header">
                        <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                            Some of the units are not eligible for sending handover notice
                        </h2>
                    </header>
                    <footer class="slds-modal__footer">
                        <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showErrorPopup();uncheckAll();" reRender="bookingUnitPanel,pgMsg" value="Cancel" oncomplete="bindEvents();"></apex:commandButton>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>

        
        <script>
            var bookingUnitIds = [];
            var regIDs = [];
            var allRegIDs = [];
            var regIDHOs = [];
            var caseTable;
            var doNotAllowSendStatus = ['Hold', 'CC', 'PLOT_HO_HOD', 'PLOT_EHO_HOD', 'NO'];
            Visualforce.remoting.timeout = 120000;
            var lstBookingIds = [];
            var errorMessage;
            var showSize = 10;
            var HODocsCount = {!additionalHODocs};
            var EHODocsCount = {!additionalEHODocs};
            var PHODocsCount = {!additionalPHODocs};
            var urlCount;
            var urlDocs;
            var map;
            var isReminder = false;
            console.log('!!!!!!!!EHODocsCount'+EHODocsCount);
            
            function checkReminder(action) {
                var isFinanceConfirmationComplete = {!Location__c.Finance_Confirmation_Complete__c};
                console.log('check condition' + isFinanceConfirmationComplete);
                var approvalStatus;
                var isError = false;
                errorMessage = '';
                lstBookingIds = [];
                var ch = document.getElementsByClassName('selectedClass');
                console.log('selected class' + ch);
                if (isFinanceConfirmationComplete == false) {
                    errorMessage = 'Finance Confirmation is not complete.';
                    isError = true;
                }else if (ch != null && ch != undefined && ch.length > 0) {
                    for (var i = 0; i < ch.length; i++) {
                        status = $(ch[i]).attr('data-status');
                        reminder = $(ch[i]).attr('data-reminder');
                        console.log('!!!!!status'+status);
                        approvalStatus = $(ch[i]).attr('data-approvalStatus');
                        if (ch[i].checked) {
                            if ($.inArray(approvalStatus, doNotAllowSendStatus) != -1) {
                                console.log('***');
                                isError = true;
                                errorMessage = 'Some of the units are not eligible for sending reminder notice';
                                break;
                            } else if(status == "false") {
                                isError = true;
                                errorMessage = 'Handover Notice is not sent for some units';
                                break;
                            } else if (reminder == "true") {
                                isError = true;
                                errorMessage = 'Reminders are already sent for some units';
                                break;
                            } else {
                                var regId = $(ch[i]).attr('data-regid');                                
                                lstBookingIds.push(regId.substr(0, regId.indexOf('-')));
                            }
                         }
                     }
                 }
                 if (isError) {
                    showErrorPopup();
                 } else if (action == 'reSend') {
                     sendReminder();
                 }
            }
            
            function checkConditions(action) {
                console.log('!!!!action'+action);
                var isFinanceConfirmationComplete = {!Location__c.Finance_Confirmation_Complete__c};
                console.log('check condition' + isFinanceConfirmationComplete);
                var approvalStatus;
                var isError = false;
                errorMessage = '';
                lstBookingIds = [];
                debugger;
                var emailSent = false;
                var ch = document.getElementsByClassName('selectedClass');
                console.log('selected class =>>>>>' + ch);
                debugger;
                if (isFinanceConfirmationComplete == false) {
                    errorMessage = 'Finance Confirmation is not complete.';
                    isError = true;
                } else if (ch != null && ch != undefined && ch.length > 0) {
                    for (var i = 0; i < ch.length; i++) {
                        status = $(ch[i]).attr('data-status');
                        approvalStatus = $(ch[i]).attr('data-approvalStatus');
                        if (ch[i].checked) {
                            if ($.inArray(approvalStatus, doNotAllowSendStatus) != -1) {
                                console.log('***');
                                isError = true;
                                errorMessage = 'Some of the units are not eligible for sending handover notice';
                                //break;
                            } else {
                                var regId = $(ch[i]).attr('data-regid');
                                if (status == "true") {
                                    emailSent = true;
                                }
                                allRegIDs.push({
                                    'regid': regId,
                                    'isEHO': $(ch[i]).attr('data-isEHO'),
                                    'isStatus': $(ch[i]).attr('data-approvalStatus')
                                }); //HO generation
                                lstBookingIds.push(regId.substr(0, regId.indexOf('-')));
                            }
                        }
                    } //for
                } //if
                console.log('isError - ' + isError);
                if (isError) {
                    showErrorPopup();
                } else {
                    if (action == 'regenerateHO') { // will generate documents
                        regenerateHO();
                        // getDocumentURLs();
                    } else if (action == 'reminder') {
                        isReminder = true;
                        console.log('!!!!Reminder'+isReminder);
                        regenerateHO();                        
                    } else if (action == 'sendEmail') { //will send email
                        if (emailSent) {
                            showResendPopup();
                        } else {
                            sendEmail();
                        }
                    }
                }
            }

            function checkSelectedUnits() {
                if ($('.selectedClass:checkbox:checked').length > 0) {
                    return true;
                }
                else {
                    errorMessage = 'Please select booking units';
                    showErrorPopup();
                    return false;
                }
            }

            function sendEmail() {
                $('#spinnerIcon').show();
                console.log('====lstBookingIds==', lstBookingIds);
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.sendEmail}', lstBookingIds, function (result, event) {
                    // bindEvents();
                    $('#spinnerIcon').hide();
                    lstBookingIds = [];
                });
            }
            
            function sendReminder() {
                $('#spinnerIcon').show();
                console.log('====lstBookingIds==', lstBookingIds);
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.sendReminder}', lstBookingIds, function (result, event) {
                    // bindEvents();
                    $('#spinnerIcon').hide();
                    lstBookingIds = [];
                });
            }


            function regenerateHO() {
                debugger;
                var HOPackGenerated = $('[id$=HOPackGeneratedCls]').val();
                var ReminderPackGenerated = $('[id$=ReminderPackGeneratedCls]').val();
                console.log('=HOPackGenerated==', '{!HOPackGenerated}');
                //If HO pack already generated, display pop-up
                if (HOPackGenerated == 'true' || ReminderPackGenerated == 'true') {
                    showHORegenerationPopup();//Call HO pack generation logic
                } else {
                    getDocumentURLs();
                }
            }

            function showResendPopup() {
                var modal = document.getElementsByClassName('Pop-up_MailResend');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }

            //
            function showHORegenerationPopup() {
                var modal = document.getElementsByClassName('Pop-up_RegenerateHO');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    var errorMessageEle = document.getElementsByClassName('regenarate');
                    if (errorMessageEle) {
                        if (isReminder == true) {
                            errorMessageEle[0].innerText = 'Reminder notice has been created for few booking units. Do you want to Regenerate them?';
                        } else if (isReminder == false) {
                            errorMessageEle[0].innerText = 'Handover notice has been created for few booking units. Do you want to Regenerate them?';
                        }
                    }
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }

            //function to display error message for non-eligible booking units
            function showErrorPopup() {
                console.log('inside error pop up');
                var modal = document.getElementsByClassName('error_popup');
                if (modal != null && typeof modal != 'undefined') {

                    var errorMessageEle = document.getElementsByClassName('errorModel');
                    if (errorMessageEle) {
                        errorMessageEle[0].innerText = errorMessage;
                    }
                
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                   if (errorMessage == 'HO pack has been generated for all selected units' 
                       || errorMessage == 'Reminder pack has been generated for all selected units') {
                       window.location.reload();
                   }
                }
            }

            function bindEvents() {
                /*
                debugger;
                if ($('#myselect').val() ){
                    showSize = $('#myselect').val();
                } else {
                   showSize = 10;
                }*/
                
                
                console.log('!!!!!showSize'+showSize);
                if (caseTable != undefined) {
                    caseTable.destroy();
                }
                
                debugger;
               // if (caseTable == undefined) {
                caseTable = $('[id$="caseTable"]').DataTable({
                    initComplete: function () {
                        var counter = 0;
                        this.api().columns().every(function () {
                            counter++;
                            if (counter == 1 || counter == 3) {
                                return true;
                            }

                            var column = this;
                            var select = $('<select class="filterCls" style="width: 90%"><option value="">--None--</option></select>').prependTo($(column.header())).on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                console.log('!!!val'+val);
                                
                                if(!val){
                                    column.search(
                                       ''
                                     , true
                                     , false
                                    ).draw();
                                    
                                } else {
                                    column.search(
                                          val == 'blank'
                                            ? '^\s*$'
                                            : '^' + val + '$'
                                        , true
                                        , false
                                    ).draw();
                                }
                                
                                
                            });

                            column.data().unique().sort().each(function (d, j) {
                                d = d ? d : 'blank';
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });

                        $('.filterCls').on('click', function () {
                            return false;
                        });
                    },

                    oLanguage: {
                        sLengthMenu: "Show <select id='myselect' onChange='setWrapper();'><option value='10'>10</option><option value='20'>20</option><option value='50'>50</option><option value='100'>100</option></select> Entries"
                    },
                    //"iDisplayLength": 10
                    "iDisplayLength": showSize,
                    "columnDefs": [ {
                        "targets": [0],
                        "orderable": false
                    }],
                    "order": [1, "asc"]
                    
                    
                });
                
                
                
                
              //}
            }

            function setWrapper() {
                showSize = $('#myselect').val();
                            console.log('**'+showSize);
            }

            function checkEligibility() {
                if(checkSelectedUnits()) {
                    $('#spinnerIcon').show();
                }

                var actualRegId = [];
                var isEligible;
                var isEligibleError;
                errorMessage = '';
                var ch = document.getElementsByClassName('selectedClass');
                console.log('!!!ch'+ch);
                if (ch != null && ch != undefined && ch.length > 0) {
                    for (var i = 0; i < ch.length; i++) {
                        //isEligible = $(ch[i]).attr('data-eligible');
                        isEligible = "true";
                        console.log('!!!isEligible'+isEligible);
                        if (ch[i].checked && isEligible == "true") {
                            console.log('****isEligible'+$(ch[i]).attr('data-regid'));
                            actualRegId.push($(ch[i]).attr('data-regid'));
                        } else if (ch[i].checked && isEligible == "false") {
                            console.log('!!!!inside false');
                            isEligibleError = true;
                            errorMessage = 'Some of the units are not OK for Sending Notices.Some of the units in your selection are not approved by Handover Team to send Handover Notices. Please deselect those units or request Handover Team to Mark them ready in Connect.';
                        }
                    }
                }

                console.log('!!!!!!!!!actualRegId : ' + actualRegId);
                
                if (isEligibleError) {
                    console.log('!!!isError'+isEligibleError);
                    showErrorPopup();
                }
                if (actualRegId != null && actualRegId.length > 0) {
                    var deferred;
                    debugger;
                    //Calling remote action method in the chunks of 75
                    var chunkSize = 1;
                    var startIndex = 0,
                        endIndex = chunkSize;
                    while (startIndex < actualRegId.length) {
                        if (deferred == null) {
                            deferred = callRemoteAction(actualRegId.slice(
                                startIndex,
                                endIndex < actualRegId.length
                                    ? endIndex
                                    : actualRegId.length
                            ));
                        } else {
                            deferred = callRemoteActionAsync(actualRegId.slice(
                                startIndex,
                                endIndex < actualRegId.length
                                    ? endIndex
                                    : actualRegId.length
                            ), deferred);
                        }

                        startIndex = endIndex;
                        endIndex += chunkSize;
                    }
                    deferred.then(function () {
                        debugger;
                        actualRegId = [];
                        $('#spinnerIcon').hide();
                        reload(); // call rerender function
                    });
                } else {
                    $('#spinnerIcon').hide();
                    reload(); // call rerender function
                }
            }

            function callRemoteActionAsync(regIDs, currentParentDeferred) {
                var parentDeferred = $.Deferred();
                currentParentDeferred.then(function () {
                    callRemoteAction(regIDs, parentDeferred);
                });
                return parentDeferred;
            }

            function callRemoteAction(regIDs, deferred) {
                debugger;
                var parentDeferred = deferred || $.Deferred();
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.CheckEligibilityController.checkEligibility}',
                    regIDs, function (result, event
                ) {
                    if (event.status) { // When call is succesfull with event.status = true
                        debugger;
                        parentDeferred.resolve();
                    } else {
                        parentDeferred.reject();
                    }
                });
                return parentDeferred;
            }

            function getDocumentURLs() {
                
                $('#spinnerIcon').show();
                var regIdsToSend = [];
                // regIdsToSend = (action == 'send'     ? regIDs     : regIDHOs.concat(regIDs));
                regIdsToSend = allRegIDs;
                debugger;
                if (regIdsToSend != null && regIdsToSend.length > 0) {
                    var deferred;
                    for (var i = 0; i < regIdsToSend.length; i++) {
                        var regId = regIdsToSend[i]['regid'];
                        //urlCount = 0; 
                        console.log('!!!!!!regIdsToSend[i]'+regIdsToSend[i]['isStatus']);
                        var isStatus = regIdsToSend[i]['isStatus'];
                        var hoType;
                        if (isStatus == 'EHO' || isStatus == 'EHO_IF_PAY_MORE_RES' || isStatus == 'EHO - Approved' || isStatus == 'LHO')
                        {
                            hoType = 'EHO';
                        } else if (isStatus == 'HO' || isStatus == 'HO - Approved') {
                            hoType = 'NHO';
                        } else if (isStatus == 'PLOT_EHO' || isStatus == 'PLOT_HO' 
                            || isStatus == 'PLOT_HO - Approved' || isStatus == 'PLOT_EHO - Approved') {
                            hoType = 'PHO';
                        }
                        console.log('!!!!!!isEHOBln'+hoType);
                        /*var isEHOBln = regIdsToSend[i]['isEHO'] === 'true'
                            ? true
                            : false;*/
                        if (deferred == null) {
                            deferred = executeBookingUnit(regId, hoType);
                        } else {
                            deferred = executeBookingUnitAsync(regId, hoType, deferred);
                        }

                    } //for
                    deferred.then(function () {
                        bindEvents();
                        console.log('Zip created for all booking units');
                        regIDs = [];
                        allRegIDs = [];
                        regIDHOs = [];
                        bookingUnitIds = [];
                        uncheckAll();
                        if (isReminder == false) {
                            errorMessage = 'HO pack has been generated for all selected units';
                        } else if (isReminder == true) {
                            errorMessage = 'Reminder pack has been generated for all selected units';
                        }
                        showErrorPopup();
                        $('#spinnerIcon').hide();                        
                    }); //if
                    /* var sendEmailDeferred = $.Deferred();
                        deferred.then(function () {
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.sendEmail}', bookingUnitIds, function (result, event) {
                                bindEvents();
                                sendEmailDeferred.resolve();
                            });
                        });
                        sendEmailDeferred.then(function () {
                            console.log('Zip created');
                            regIDs = [];
                            regIDHOs = [];
                            bookingUnitIds = [];
                            $('#spinnerIcon').hide();
                        });*/
                } else {
                    console.log('No booking units');
                    regIDs = [];
                    regIDHOs = [];
                    $('#spinnerIcon').hide();
                }
            }

            function showPreviewEmailPopup() {
                var modal = document.getElementsByClassName('emailPreview_popup');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }
            
            function previewNotification(buId) {
                console.log('!!!!buId' + buId);
                showPreviewEmailPopup();
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.previewNotification}', buId, function (result, event) {
                    if (event.status) {
                        var emailContent = $('.emailContent');
                        console.log('!!!!result', result);
                        var str = JSON.parse(result);
                        console.log('!!!!result', str);
                        var htmlContent = '<strong>To:</strong> ' + str.toAddress + '<br/>';
                        htmlContent += '<strong>Subject:</strong> ' + str.subject + '<br/>';
                        htmlContent += str.emailBody + '<br/>';
                        if (str.attachmentURL != null) {
                            htmlContent += '<strong>Attachment: </strong><a href="/' + str.attachmentURL + '">' + str.attachmentName + '</a> <br/>';
                        }
                        emailContent.html(htmlContent);
                    }
                }, {
                    buffer: false,
                    escape: false,
                    timeout: 120000
                });
            }
            
            function previewEmail(buId) {
                console.log('!!!!buId' + buId);
                showPreviewEmailPopup();
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.previewEmail}', buId, function (result, event) {
                    if (event.status) {
                        var emailContent = $('.emailContent');
                        console.log('!!!!result', result);
                        if(result == 'Email Template Not Found!') {
                            
                            emailContent.html('Email Template Not Found!');
                        }
                        else {
                            var str = JSON.parse(result);
                            console.log('!!!!result', str);
                            var htmlContent = '<strong>To:</strong> ' + str.toAddress + '<br/>';
                            htmlContent += '<strong>Subject:</strong> ' + str.subject + '<br/>';
                            htmlContent += str.emailBody + '<br/>';
                            if (str.attachmentURL != null) {
                                htmlContent += '<strong>Attachment: </strong><a href="/' + str.attachmentURL + '">' + str.attachmentName + '</a> <br/>';
                            }
                            emailContent.html(htmlContent);
                        }
                        
                        
                    }
                }, {
                    buffer: false,
                    escape: false,
                    timeout: 120000
                });
            }

            function executeBookingUnitAsync(regID, hoType, currentParentDeferred) {
                var parentDeferred = $.Deferred();
                currentParentDeferred.then(function () {
                    executeBookingUnit(regID, hoType, parentDeferred);
                });
                return parentDeferred;
            }

            function executeBookingUnit(regID, hoType, controlDeferred) {
                debugger;
                urlCount = 0;
                urlDocs = '';
                map = {};
                var parentDeferred = controlDeferred || $.Deferred();
                var zipFile = new JSZip();
                var listDef = [];
                console.log('!!!!value of type'+hoType);
                if (hoType == "EHO") {
                    var defferred1 = makeCallout(zipFile, regID, hoType, 1);
                    var defferred2 = makeCallout(zipFile, regID, hoType, 2);
                    var defferred3 = makeCallout(zipFile, regID, hoType, 3);
                    var defferred4 = makeCallout(zipFile, regID, hoType, 4);
                    var defferred5 = makeCallout(zipFile, regID, hoType, 5);
                    var defferred6 = makeCallout(zipFile, regID, hoType, 6);
                    console.log('defferred8--'+defferred6);
                    debugger;
                    var docs = 6;
                    listDef.push(defferred1);
                    listDef.push(defferred2);
                    listDef.push(defferred3);
                    listDef.push(defferred4);
                    listDef.push(defferred5);
                    listDef.push(defferred6);
                    for (var i=1; i<= EHODocsCount; i++) {
                        var deff = makeCallout(zipFile, regID, hoType, docs+1);
                        listDef.push(deff);
                        docs++;
                    }              
                } else if (hoType == "NHO"){
                    console.log('Inside HO');
                    var defferred1 = makeCallout(zipFile, regID, hoType, 1);
                    var defferred2 = makeCallout(zipFile, regID, hoType, 2);
                    var defferred3 = makeCallout(zipFile, regID, hoType, 3);
                    var defferred4 = makeCallout(zipFile, regID, hoType, 4);
                    var defferred5 = makeCallout(zipFile, regID, hoType, 5);
                    var defferred6 = makeCallout(zipFile, regID, hoType, 6);
                    var defferred7 = makeCallout(zipFile, regID, hoType, 7);
                    var defferred8 = makeCallout(zipFile, regID, hoType, 8);
                    console.log('defferred8--'+defferred8);
                    debugger;
                    /*for (var i in defferred6 ) {
                        console.log('Key'+i);
                        console.log('value'+defferred6[i]);
                    }*/
                    listDef.push(defferred1);
                    listDef.push(defferred2);
                    listDef.push(defferred3);
                    listDef.push(defferred4);
                    listDef.push(defferred5);
                    listDef.push(defferred6);
                    listDef.push(defferred7);
                    listDef.push(defferred8);
                    
                    var docs = 8;
                    for (var i=1; i<= HODocsCount; i++) {
                        var deff = makeCallout(zipFile, regID, hoType, docs+1);
                        listDef.push(deff);
                        docs++;
                    }
                    console.log('!!!!listDef'+listDef);
                } else if (hoType == 'PHO') {
                    var defferred1 = makeCallout(zipFile, regID, hoType, 1);
                    var defferred2 = makeCallout(zipFile, regID, hoType, 2);
                    var defferred3 = makeCallout(zipFile, regID, hoType, 3);
                    var defferred4 = makeCallout(zipFile, regID, hoType, 4);
                    var defferred5 = makeCallout(zipFile, regID, hoType, 5);
                    var defferred6 = makeCallout(zipFile, regID, hoType, 6);
                    var defferred7 = makeCallout(zipFile, regID, hoType, 7);
                    var defferred8 = makeCallout(zipFile, regID, hoType, 8);
                    console.log('defferred8--'+defferred8);
                    debugger;

                    listDef.push(defferred1);
                    listDef.push(defferred2);
                    listDef.push(defferred3);
                    listDef.push(defferred4);
                    listDef.push(defferred5);
                    listDef.push(defferred6);
                    listDef.push(defferred7);
                    listDef.push(defferred8);
                    var docs = 8;
                    for (var i=1; i<= PHODocsCount; i++) {
                        var deff = makeCallout(zipFile, regID, hoType, docs+1);
                        listDef.push(deff);
                        docs++;
                    }
                    console.log('!!!!listDef'+listDef);
                }
                // var defferred3 = makeCallout(zipFile,regID, 1); var defferred4 = makeCallout(zipFile,regID, 2); var defferred5 = makeCallout(zipFile,regID, 1);
                //$.when(defferred1, defferred2, defferred3, defferred4, defferred5, defferred6).done(function () {
                $.when.apply($, listDef).then(function () {
                    console.log('!!!!!inside list deffered');
                    /*var urlCount = 0;                    
                    for (var i = 0; i < listDef.length; i++) {
                        console.log('!!!!!!!!def1.zipFile'+listDef[i]['blobDoc']);
                        if (listDef[i] != null) {
                            urlCount++;
                        }
                    }  */   
                    for (var i in map) {
                        console.log('!!!!!!!!map'+map[i]); 
                        if (urlDocs == '') {
                                urlDocs =  '<ul><li>' + map[i] + '</li></ul>';
                        } else {
                            if (urlDocs.includes("</ul>")) {
                                urlDocs = urlDocs.replace("</ul>", "");
                            }
                            urlDocs = urlDocs +'<li>' + map[i] + '</li></ul>';
                        }
                    }
                    console.log('!!!!!!!!urlDocs'+urlDocs);            
                    console.log('!!!urlCount'+urlCount);
                    saveZip(zipFile, regID.substr(0, regID.indexOf('-')), regID + '.zip', parentDeferred, urlCount, urlDocs);
                });
                return parentDeferred;
            }

            function makeCallout(zipFile, regID_BUID, hoType, index) {
                if(hoType=='EHO' && index==6)
                {
                    console.log('VAT Gen');
                    debugger;
                }
                    
                var deferred = $.Deferred();
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.getDocumentURLs}', regID_BUID, hoType, index, isReminder, function (result, event) {
                    if (event.status) {
                        var respObj = JSON.parse(result);
                        console.log('*****respObj=', respObj);
                        if (respObj != null) {
                            urlCount++;
                            console.log('!!!!!!count'+urlCount);
                            map[respObj.docNo] = respObj.docURL;
                            /*if (urlDocs == '') {
                                urlDocs =  '<ul><li>' + respObj.docURL + '</li></ul>';
                            } else {
                                if (urlDocs.includes("</ul>")) {
                                    urlDocs = urlDocs.replace("</ul>", "");
                                }
                                urlDocs = urlDocs +'<li>' + respObj.docURL + '</li></ul>';
                            }
                            console.log('!!!!!!!!urlDocs'+urlDocs);*/
                            compressFile(zipFile, respObj.docName, respObj.blobDoc);
                            deferred.resolve(zipFile);                            
                        } else {
                            deferred.resolve();
                        }
                    } else {
                        deferred.resolve();
                    }
                }, {
                    buffer: false,
                    escape: false,
                    timeout: 120000
                });
                return deferred;
            }
            // Compress a file and add it to the zip
            function compressFile(zipFile, filename, body) {
                zipFile.file(filename, body, {base64: true});
            }
            // Generate the zip file and send it back to Salesforce for attaching
            function saveZip(zipFile, bookingUnitId, zipFilename, parentDeferred, noOfURLs, urlDocs) {
                console.log('!!!!!noOfURLs'+noOfURLs);
                var data = zipFile.generate();
                debugger;
                Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.saveData}', bookingUnitId, zipFilename, data, noOfURLs, urlDocs, isReminder, function (result, event) {
                    if (event.status) {
                        if (result == 'SUCCESS') {
                            $('#message').html('Success!');
                            bookingUnitIds.push(bookingUnitId);
                            // debugger;     Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.CheckEligibilityController.sendEmail}', bookingUnitIds, function (result, event) { });
                            console.log('The files were successfully generated and a new zip file has been attached to the booking units.');
                            //window.location.reload();
                        } else {
                            $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + result);
                        }
                    } else if (event.type === 'exception') {
                        $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                    } else {
                        $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                    }

                    parentDeferred.resolve();

                });
            }

            function showPopup() {
                var modal = document.getElementsByClassName('demo-only');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }
            
            function showEHOPopup() {
                var modal = document.getElementsByClassName('Pop_Up_EHOUpdate');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }
            
            function showHOPopup() {
                var modal = document.getElementsByClassName('Pop_Up_HOUpdate');
                if (modal != null && typeof modal != 'undefined') {
                    // modal[0].style.display = 'block';
                    modal[0].style.display = modal[0].style.display === 'none'
                        ? 'block'
                        : 'none';
                }
            }
            
            // j$ = jQuery.noConflict();
            $(document).ready(function () {
                bindEvents();
            });
            function checkAll(cb) {
                // debugger;
                var inputElem = document.getElementsByClassName("selectedClass");
                for (var i = 0; i < inputElem.length; i++) {
                    inputElem[i].checked = cb.checked;
                    // if (inputElem[i] != undefined && inputElem[i].checked == false) {inputElem[i].checked = true; } else if (inputElem[i] != undefined && inputElem[i].checked == true) {     inputElem[i].checked = false; }
                }
            }

            function uncheckAll() {
                // debugger;
                var inputElem = document.getElementsByClassName("selectedClass");
                var selectAllCheckbox = $('[id$=selectAllIdCheckbox]');
                if (selectAllCheckbox != null && selectAllCheckbox != undefined && selectAllCheckbox.is(':checked')) {
                    selectAllCheckbox.attr('checked', false);
                }
                for (var i = 0; i < inputElem.length; i++) {
                    inputElem[i].checked = false;
                }
            }

            function startProcess() {
                // document.getElementById('loadingdetail').style.display = 'block';
                document.getElementById('spinnerIcon').style.display = 'block';
            }

            function endProcess() {
                // document.getElementById('loadingdetail').style.display = 'none';
                document.getElementById('spinnerIcon').style.display = 'none';
            }
        </script>
    </apex:form>
</apex:page>