<apex:page id="CREPage" showheader="false" sidebar="false" standardController="Account" extensions="CREPortalHomeExtensionClone" standardStylesheets="false" docType="html-5.0">
    <head> 
        <title>Dashboard</title> 
        <!-- <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap.min.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/style.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap-datepicker.min.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.PortalAssets, 'assets/css/bootstrap-multiselect.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/diff-theme.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/normalize.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-default.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-style-bar.css')}" />

        <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />


        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
        <apex:styleSheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" /> -->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap.min.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/style.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap-datepicker.min.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.PortalAssets, 'assets/css/bootstrap-multiselect.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/diff-theme.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/normalize.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-default.css')}" />
        <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-style-bar.css')}" />

        <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />


        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" />
        <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" />
        <apex:styleSheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
 

    </head>

    <style>
        #filter {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            z-index: 10;
            opacity: 0.6;
            filter: alpha(opacity=50);
        }

        .sideBarFixed {
            position: absolute!important;
        }

        .fontColor {
            color: black;
        }

        .main-content-section {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 0px;
            height: 100vh;
        }
    </style>

    <body>
        <apex:form id="CREForm">
            <div id="filter"></div>
            <apex:actionStatus id="blockUI" onStart="startProcess();" onStop="endProcess();" />
            <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px;height:50px;display:none;position:fixed;top:50%;left:50%;z-index:10;" />
            <apex:outputPanel id="CREPanel">
                <!---------------------- Top Navbar ------------------------>
                <!--  <nav class="navbar navbar-default navbar-fixed-top" id="navigationBar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Demac</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="top-notification-box">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                        <span class="label notification">10</span>
                                    </a>
                                </li>
                                <li class="top-notification-box">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="top-notification-box">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="top-profile-box dropdown">
                                    <a class="dropdown-trigger dropdown-toggle" data-toggle="dropdown">
                                        <img src="{!URLFOR($Resource.PortalAssets, 'assets/img/user.png')}" class="top-user-image" />
                                        <span class="top-user-name">Jane Doe</span>
                                    </a>
                                    <ul class="dropdown-menu site-dropdown user-dropdown">
                                        <li><a href="#" class="wave-button"> View Profile</a></li>
                                        <li><a href="#" class="wave-button">Settings</a></li>
                                        <li><a href="#" class="wave-button">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>-->
                <!-- Sidebar Menu -->

                <!---------------------- Main content ------------------------>
                <section class="main-content-section">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-9">

                                <section id="">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Select Customer</label>
                                                   <!--  <apex:selectList id="AccountList" title="Select a Customerr" size="1" multiselect="false" value="{!selectedAccountId}" styleClass="form-control">
                                                        <apex:selectOptions value="{!listAccountOptions}" />
                                                        <apex:actionSupport event="onchange" action="{!selectAccount}" rerender="ComponentPanel,AccountPanel" status="blockUI" />
                                                    </apex:selectList> -->


                                                    <input id="accountTextBox" type="text" class="form-control" placeholder="Quick Add" value="{!currentAccountName}"></input>

                                                    <apex:inputHidden id="searchAccountId" value="{!selectedAccountId}" />

                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>CRE SRS</label>
                                                    <apex:selectList id="AccountList" title="CRE SRS" size="1" multiselect="false" value="{!srType}" styleClass="form-control">
                                                        <apex:selectOptions value="{!listCRESRs}" />
                                                        <apex:actionSupport event="onchange" action="{!populateCreateSRBoolean}" rerender="componentContainer,ComponentPanel,MenuPanel" status="blockUI" />
                                                    </apex:selectList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <apex:outputPanel id="ComponentPanel">
                                    <apex:outputPanel rendered="{!isAccountSelected}">

                                        <apex:outputPanel rendered="{!home}">
                                            <!-- <c:CustomerDashboard /> -->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createAdditionalParking}">
                                            Create Additional Parking SR Rendered
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createAssignmentRequest}">
                                             <c:AssignmentCRE accountID="{!selectedAccountId}" srType="{!srType}" />
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createAOPT}">
                                             <c:AOPTServiceRequest accountID="{!selectedAccountId}" srType="{!srType}"/> 
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createBouncedCheque}">
                                            Create Bounced Cheque SR Rendered
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createFundTransfer}">
                                             <c:FundTransferComponent accountID="{!selectedAccountId}" srType="{!srType}"/> 
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel rendered="{!createFundTransferActiveUnits}">
                                             <c:FundTransferComponent accountID="{!selectedAccountId}" srType="{!srType}"/>
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createFurniturePackage}">
                                            Create Furniture Package SR Rendered
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createMortgage}">
                                            Create Mortage SR Rendered
                                            <!--c:MortgageProcess accountId="{!selectedAccountId}" /-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createRefunds}">
                                            <c:CRE_Refund_Component accountID="{!selectedAccountId}" srType="{!srType}" />
                                        </apex:outputPanel>

                                        <apex:outputPanel id="PWContainer" rendered="{!createPenaltyWaiver}">
                                            <c:PenaltyWaiver accId="{!selectedAccountId}" srType="{!srType}"/>
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createProofOfPayment}">
                                            <!-- Create Proof of Payment Rendered -->
                                             <c:ProofofPayment accountId="{!selectedAccountId}" srType="{!srType}"/> 
                                        </apex:outputPanel>

                                        <apex:outputPanel id="cocdPanel" rendered="{!createCOCD}">
                                             <c:ChangeOfDetailPage accountId="{!selectedAccountId}" srType="{!srType}"/> 
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createEarlyHandover}">
                                            <!--  <c:EarlyHandoverCRE accountId="{!selectedAccountId}" caseId="{!selectedCaseId}"/>-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createNOCforVisa}">
                                            <!--Create NOC for VISA SR Rendered-->
                                             <c:NOCVisa accId="{!selectedAccountId}" srType="{!srType}"/> 
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createRentalPool}">
                                            Create Rental Pool SR Rendered
                                            <!--c:RentalPoolCRE accId="{!selectedAccountId}" /-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createTitleDeed}">
                                            Create Title Deed SR Rendered
                                            <!--c:TitleDeedCRE accId="{!selectedAccountId}" /-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createHandover}">
                                            Create Handover SR Rendered
                                            <!--c:HandoverCRE accId="{!selectedAccountId}" /-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createRentalPoolTermination}">
                                            <!--<c:RentalPoolTermination accId="{!selectedAccountId}" />-->
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createRentalPoolAssignment}">
                                            Rental Pool Assignment
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!createComplaint}">
                                            <!--Create Complaint SR Rendered -->
                                            <c:ComplaintPage accountId="{!selectedAccountId}" srType="{!srType}"/>
                                        </apex:outputPanel>

                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                            <apex:outputPanel id="AccountPanel">
                                <apex:outputPanel rendered="{!isAccountSelected}">
                                    <!----------------------------------Sidebar Fixed---------------------------------------->
                                    <div class="col-md-3">
                                        <div class="well sideBarFixed profileDisplay" id="profileBar">
                                           <!-- <img src="{!URLFOR($Resource.PortalAssets, 'assets/img/customer1.jpg')}" />-->
                                            <img src="{!URLFOR($Resource.PortalAssets, 'assets/img/Male-Blank.png')}"/>
                                           <!-- <h6>#CD - 3214DSA</h6> -->
                                            <h5 align="center">Customer ID/Party Id
                                                <br/>
                                                <apex:outputLink value="{!'/one/one.app?#/sObject/' + account.Id + '/view'}" target="_blank">
                                                    <apex:outputText value="{!account.Party_ID__c}" /> 
                                                </apex:outputLink>
                                            </h5>
                                            <h4 align="center"> <apex:outputText value="{!account.Title__c+' '+account.Name}" /> </h4>
                                            <!--span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                            <label><a href="">View Portfolio</a></label -->
                                            
                                                 
                                            <!-- h6>Nationality</h6>
                                            <label><apex:outputText value="{!account.Nationality__c}" /></label>

                                            <h6>Passport Number</h6>
                                            <label><apex:outputText value="{!account.Passport_Number__c}" /></label -->
                                            
                                            <h6>Nationality</h6>
                                            <label>
                                                <apex:outputText value="{!account.Nationality__pc}" rendered="{!account.Party_Type__c == 'PERSON'}"/>

                                                <apex:outputText value="{!account.Nationality__c}" rendered="{!account.Party_Type__c == 'ORGANIZATION'}"/>
                                            </label>
                                            
                                            <h6>Passport Number</h6>
                                            <label>
                                                <apex:outputText value="{!account.Passport_Number__pc}" rendered="{!account.Party_Type__c == 'PERSON'}"/>

                                                <apex:outputText value="{!account.Passport_Number__c}" rendered="{!account.Party_Type__c == 'ORGANIZATION'}"/>
                                            </label>
                                            
                                            <apex:outputPanel rendered="{!isOrgAccount}">
                                            <h6 id='displayOrgName' style="text-align: left;">Organization Name </h6>
                                            <label><apex:outputText style="text-align: left;" value="{!account.Organisation_Name__c}" rendered="{!isOrgAccount}"/></label>

                                            
                                            <h6 id='displayCrNo' style="text-align: left;">CR No </h6>
                                            <label><apex:outputText style="text-align: left;" value="{!account.CR_Number__c}" rendered="{!isOrgAccount}"/></label>
                                            </apex:outputPanel>
                                            <!-- h6>Mobile</h6>
                                            <label><apex:outputText value="{!account.Mobile__c}" /></label>

                                            <h6>Email</h6>
                                            <label><apex:outputText value="{!account.Email__c}" /></label -->
                                            <h6>Mobile</h6>
                                            <label>
                                                <apex:outputText value="{!account.Mobile_Phone_Encrypt__pc}" rendered="{!account.Party_Type__c == 'PERSON'}"/>
                                                <apex:outputText value="{!account.Mobile__c}" rendered="{!account.Party_Type__c == 'ORGANIZATION'}"/>
                                            </label>

                                            <h6>Email</h6>
                                            <label>
                                                <apex:outputText value="{!account.Email__pc}" rendered="{!account.Party_Type__c == 'PERSON'}"/>

                                                <apex:outputText value="{!account.Email__c}" rendered="{!account.Party_Type__c == 'ORGANIZATION'}"/>
                                            </label>

                                            <h6>Address</h6>
                                            <label><apex:outputText value="{!account.PersonMailingStreet+' '+account.PersonMailingPostalCode+' '+account.PersonMailingCity+' '+account.PersonMailingState+' '+account.PersonMailingCountry}" /></label>
                                            
                                            <apex:outputPanel rendered="{!account.Party_Type__c == 'PERSON'}" layout="block">
                                                <label>

                                                <p/>{!account.Address_Line_1__pc}
                                                <p/>{!account.Address_Line_2__pc}
                                                <p/>{!account.Address_Line_3__pc}
                                                <p/>{!account.Address_Line_4__pc}
                                                <p/>{!account.City__pc}
                                                <p/>{!account.Country__pc}
                                                </label>
                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!account.Party_Type__c == 'ORGANIZATION'}" layout="block">
                                                <label>
                                                <p/>{!account.Address_Line_1__c}
                                                <p/>{!account.Address_Line_2__c}
                                                <p/>{!account.Address_Line_3__c}
                                                <p/>{!account.Address_Line_4__c}
                                                <p/>{!account.City__c}
                                                <p/>{!account.Country__c}
                                                </label>
                                            </apex:outputPanel>

                                            <h6>Party Type</h6>
                                            <label><apex:outputText value="{!account.Party_Type__c}" /></label>


                                           <!-- <h6>POA</h6>
                                            <label>Bob Woolmer</label>-->



                                           <!-- <h6>Customer Classification</h6>
                                            <label><apex:outputText value="{!account.SLA__c}" /></label>-->

                                           <!-- <h6>Bulk</h6>
                                            <label>Value</label>-->

                                            <!--<h6>Joint Buyer</h6>
                                            <label><a href="" class="btn btn-sm"></a></label>-->
                                            
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </div>

                    </div>

                </section>

            </apex:outputPanel>

            <!-- Method to change cre create sr selection -->
            <apex:actionFunction name="selectSRType" action="{!populateCreateSRBoolean}" status="blockUI" reRender="componentContainer,ComponentPanel,MenuPanel">
                <apex:param name="srTypeValue" value="" assignTo="{!srType}" />
            </apex:actionFunction>

            <apex:actionFunction name="updateComponent" />

            <apex:actionFunction name="selectAccount" action="{!selectAccount}" rerender="ComponentPanel,AccountPanel" status="blockUI" oncomplete="UpdateOrgAccount('{!isOrgAccount}')"/>

            <apex:stylesheet value="{!URLFOR($Resource.FundTransferResource,'All_Processes/assets/css/bootstrap-chosen.css')}"/>
            <!-- <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/jquery.js')}" /> -->
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/bootstrap.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, '/assets/js/bootstrap-datepicker.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/main.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/bootstrap-multiselect.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/upload.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/ease.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/modernizr.custom.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/classie.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/notificationFx.js')}" />
            <!-- <apex:includeScript value="{!URLFOR($Resource.assets, '/assets/js/bootstrap-datepicker.min.js')}" /> -->

            <script>
                $('.well input.datepicker').datepicker({});
                $(document).ready(function() {
                    console.log('=1document==isOrgAccount : ' + {!isOrgAccount});
                    $('#multi-select-demo').multiselect();
                });

                function startProcess() {
                    console.log('3. NEw method called..');
                    document.getElementById('{!$Component.CREPage.CREForm.loadingdetail}').style.display = 'block';
                    document.getElementById('filter').style.display = 'block';
                }

                function endProcess() {
                    document.getElementById('{!$Component.CREPage.CREForm.loadingdetail}').style.display = 'none';
                    document.getElementById('filter').style.display = 'none';
                }

                function UpdateOrgAccount(isOrgAccount) {
                    if(isOrgAccount == 'false') {
                        document.getElementById('displayOrgName').style.display='none';
                        document.getElementById('displayCrNo').style.display='none';
                    }
                }
            </script>

            <style>
                .displayNone {
                    display:none;
                }
                .displayBlock {
                    display:block;
                }
                .ui-autocomplete-loading {
                    background: white url(/img/loading32.gif) right center no-repeat;
                    background-size:15px 15px;
                }
                .placeHolder {
                    font-style: italic;
                }
                .ui-autocomplete { position: absolute; cursor: default;z-index:30 !important;overflow-y: auto;overflow-x: hidden;max-height: 200px;padding-right: 20px;}
            </style>


           <script type="text/javascript">
                var $ = jQuery.noConflict();
                var PLACEHOLDER = 'Enter Account Name Here';
                var movieObjects;
                var queryTerm;

                //$('[id$=accountTextBox]').val({!currentAccountName});
                //console.log('==========={!currentAccountName} : ' + {!currentAccountName});
                //selectAccount();

                /*$('[id$=accountTextBox]').autocomplete({
                    minLength: 4,
                    source: function(request, response) {
                                queryTerm = request.term;
                                CREPortalHomeExtensionClone.searchMovie(request.term, function(result, event){
                                    if(event.type == 'exception') {
                                          alert(event.message);
                                    } else {
                                         movieObjects = result;
                                         response(movieObjects);
                                    }
                                });
                           },
                    focus: function( event, ui ) {
                            $('[id$=accountTextBox]').val( ui.item.Name );
                            return false;
                            },
                    select: function( event, ui ) {
                                $('[id$=accountTextBox]').val( ui.item.Name );
                                $('[id$=searchAccountId]').val( ui.item.Id );
                                selectAccount();
                                return false;
                            },
                                // open: function() {
                                //     $("ul.ui-menu").width( $(this).innerWidth() );
                                // },
                 })
                 .data( "autocomplete" )._renderItem = function( ul, item ) {
                    var entry = "<a>" + item.Name;

                    entry = entry + "</a>";
                    entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( entry )
                        .appendTo( ul );
                };

                // Add or remove placeholder values
                $('[id$=accountTextBox]').val(PLACEHOLDER);
                $('[id$=accountTextBox]').on("focus",  function(event){
                    $tgt = $(event.target);
                    if($tgt.val() === PLACEHOLDER ){
                        $tgt.val('');
                        $tgt.removeClass('placeHolder');
                    }
                });
                $('[id$=accountTextBox]').on( "blur",  function(event){
                    $tgt = $(event.target);
                    if($tgt.val() === '' ){
                        $tgt.val(PLACEHOLDER);
                        $tgt.addClass('placeHolder');
                    }
                });*/
            </script>


        </apex:form>
    </body>

</apex:page>