<apex:page controller="CLRebateCalculatorHandler" action="{!getDetails}" docType="html-5.0">
    <apex:form >
        <style type="text/css">
            th {
            padding: 15px;
            }
        </style>
        
        <apex:pageBlock title="Advance Rebate Logic(1%)" mode="edit" >		
            <apex:pageBlockButtons >
                <apex:commandButton action="{!calculateRebateAmount}" value="Calculate Rebate Amount"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Booking Unit" columns="1">
                <apex:outputField value="{!callingList.Booking_Unit__r.Unit_Name__c}"/>
                <apex:outputField value="{!callingList.Booking_Unit__r.Requested_Price__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Rebate Details" id="RebateDetails">                
                <table style="width:100%">
                    <tr>
                        <th>Installment</th>
                        <th style="display:block; width:75px">SPA Date</th>
                        <th>Amount</th>
                        <th >Paid Date</th>
                        <th>Paid Amount</th>
                        <th>Rebate %</th>
                        <th>No of Prepayment Days</th>
                        <th>Rebate Amount</th>
                    </tr>
                    <apex:repeat value="{!finalResp}" var="record">
                    <tr>
                        <td style="padding: 10px;">{! record.installment }</td>
                        <td style="padding: 10px;">{! record.SPADate }</td>
                        <td style="padding: 10px;">{! record.dueAmount }</td>
                        <td>
                            <table>
                                <tr style="padding: 0px;">
                                    <apex:input style="width: 125px;" value="{! record.paidDateValue }" html-placeholder="Paid Date" type="date" disabled="{!if(((record.dueAmount==null || record.dueAmount=='0') || record.paidPercent=='100'), true, false)}">
                                    </apex:input>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr style="padding: 0px;">
                                    <apex:input value="{! record.paidAmount }" html-placeholder="Paid Amount" type="text"/>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr style="padding: 0px;">
                                    <apex:input value="{! record.rebatePercent }" html-placeholder="Rebate Percent" type="text"/>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 10px;">{! record.noOfPrePaymentDays }</td>
                        <td style="padding: 10px;">{! record.rebateAmount }</td>
                    </tr>
                    </apex:repeat>
                </table>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:actionFunction name="getRebateAmount" action="{!calculateRebateAmount}" reRender="RebateDetails">
            <apex:param name="curRecord" value=""/>
        </apex:actionFunction>
        <!--Request ==> {!requestBody}<br/><br/>
        Response ==> {!responseBody}-->
    </apex:form>
    <script type="text/javascript">
    function callActionMethod(wrapRec) {
        //alert('method called');
        alert('Selected Date ==> '+wrapRec.paidDateValue);
        wrapRec.rebateAmount = '121212';
        getRebateAmount(wrapRec);
    }
    </script>
</apex:page>