<!--
Name : Twinkle P
Created Date : 05-08-2018
Description : Display Collaterals for Agent Portal
-->
<apex:page showheader="false" sidebar="false"
    standardStylesheets="false" controller="CollateralsController">
    <html>
    <head>
    <meta
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport" />
<apex:stylesheet value="{!$Resource.AgentPortalComponent}" />
<apex:stylesheet value="{!$Resource.AgentPortalIconicons}" />
<apex:stylesheet value="{!$Resource.AgentPortalLayout}" />
<apex:stylesheet value="{!$Resource.AgentPortalNewStyle}" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/ionicons.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.gridster.min.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/morris.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-jvectormap-1.2.2.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/fullcalendar.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/daterangepicker-bs3.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/bootstrap3-wysihtml5.min.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/style.css')}" /> -->
<apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.bxslider.css')}" />
<!-- <apex:stylesheet value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/AgentPortalFont')}" /> -->
<!-- <apex:stylesheet value="{!$Resource.AgentPortalStyle}" /> -->
<apex:stylesheet value="{!$Resource.AgentPortalLayout2}" />
<apex:includeScript value="{!URLFOR($Resource.AgentportalPaninationjs)}" />
<style type="text/css">
#pageNavPosition span{
background-color: #14a4fa;
    color: #fff;
    padding: 7px 20px;
}
a.remove {
    background-image: url({!URLFOR($Resource.AgentPortalRemoveIconWhite)});
}

a.config {
    background-image: url({!URLFOR($Resource.AgentPortalConfigIconWhite)});
}

a.reload {
    background-image: url({!URLFOR($Resource.AgentPortalReloadIconWhite)});
}

a.expand {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}

a.collapse {
    background-image: url({!URLFOR($Resource.AgentPortalCollapseIconWhite)});
}
.gridster-agent-portal .offic-block {
    overflow-x: hidden;
}

.portlet.box>.portlet-title>.tools>a.collapse {
    background-image: url=({!($Resource.AgentPortalCollapseIconWhite)
}

)!
important






;
}
.portlet.box>.portlet-title>.tools>a.config {
    background-image: url=({!($Resource.AgentPortalConfigIconWhite)
}

)!
important






;
}
.new-launches .bx-wrapper .bx-prev, .popular-search-block .bx-wrapper .bx-prev
    {
    right: 10px;
    background: url("{!$Resource.AgentPortalArrowLeft}") no-repeat 0 0px;
    left: inherit;
}

.customer .bx-wrapper .bx-prev {
    left: -35px !important;
    background: url("{!$Resource.AgentPortalArrowLeft}") no-repeat 11px -2px;
}

.customer .bx-wrapper .bx-next {
    right: -27px !important;
    background: url("{!$Resource.AgentPortalArrowDown}") no-repeat 3px 0px;
}

button.btn-style.prev {
    left: 0px;
    background-image: url("{!$Resource.AgentPortalArrowLeft}");
    background-size: 19px;
    background-position: 3px 3px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 4px;
}

button.btn-style.next {
    right: 0px;
    background-image: url("{!$Resource.AgentPortalArrowDown}");
    background-size: 19px;
    background-position: 3px 3px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 4px;
}
<!--change by prachi sinha -->
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .changeNav{
        margin-top : -33px !important;
    }
}
 @media only screen and (max-width: 767px) {        
        #pageNavPosition{
        margin-bottom: 11%  !important;;
        }
}
 @media only screen 
 and (min-device-width : 800px) 
 and (max-device-width : 1280px){
   .btndownload{display:none}
 }
 
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    top: 35%;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>

<script type="text/javascript">
            function opennewwindow(){
             window.open('{!URLFOR($Page.AgentPortalNewlead,null)}','_Self');
            }
              function ToggleTable() {
    var x = document.getElementById('tabletog');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }

}
 
</script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<apex:includeScript value="{!URLFOR($Resource.pjs, 'jqmin.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.pjs, 'bsmin.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'css/style.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'fonts/fonts.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'css/bootstrap-select.css')}"/>

<apex:stylesheet value="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<apex:includeScript value="https://code.jquery.com/ui/1.12.1/jquery-ui.js"/>

<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<apex:includeScript value="{!URLFOR($Resource.ProjectSearchResources, 'js/bootstrap-select.js')}"/>
<script src="/soap/ajax/20.0/connection.js" type="text/javascript"></script>           
</head>
<body class="skin-black">
<apex:form >
    <c:AgentPortalHeader />
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <c:AgentPortalSidebar />
        <aside class="right-side">
            <section class="content padding-0">
                <div id="Menu1">
                    <div>
                    <apex:image url="{!URLFOR($Resource.AgentPortalImages,'images/Inquiries.jpg')}"
                                                                styleclass="img-responsive" />
                        <br/>
                        <div class="portlet-table-sec" id="tablebody">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div >                                
                            <div class="portlet-title">
                                    <!--<div class="caption">
                                        <i class="fa fa-cogs"></i>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse" onclick="ToggleTable();"> </a> 
                                        <a
                                            href="#portlet-config" data-toggle="modal" class="config">
                                        </a> 
                                        <a href="javascript:;" class="reload" onclick="window.location.reload();"> </a> 
                                        <a
                                            href="javascript:;" onclick="offTR('tablebody');" class="remove"> </a>
                                            
                                    </div>-->
                                </div>
                                <!--div class="portlet-body"-->
                                <!-- change by prachi sinha -->
                                    <div style="height : 600px ; width:100%; overflow-y:scroll;" id="tabletog">
                                    <apex:outputPanel rendered="{!announcemetIdWrapperList.size > 0}">
                                        <table id="tablepaging" class="table table-bordered table-hover">
                                            <!--<thead>
                                                <tr>
                                                    <th style="width:20%;font-size:20px;font-weight: bold;">Title</th>
                                                
                                                </tr>
                                            </thead>-->
                                                <apex:variable var="count" value="{!1}"   /> 
                                            <apex:repeat value="{!announcemetIdWrapperList}" var="inv">
                                            <tbody>
                                                <tr class="boxed">
                                                    <td data-toggle="collapse" class="leftAlign" style="width:20%;font-size:14px;" data-target="#{!count} ">
                                                        {!inv.objAcc.Title__c} 
                                                    </td>
                                                </tr>
                                             
                                                <tr>
                                                <td colspan="2" >
                                                  <div id= "{!count}" class="collapse accordion" 
                                                            style="background-color:white">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12 col-xs-12" style="font-size:14px;">
                                                            
                                                                <!-- <p style="font-size:14px;">Description</p> -->
                                                                <!-- <apex:outputField id="newDesc" value="{!inv.objAcc.Description__c}" / > -->
                                                                <apex:outputField id="newDesc" value="{!inv.objAcc.Description_2__c}"/ >
                                                                <p/>            
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                                            <div >
                                                                <div>                                                                       
                                                                        <div class="row"> 
                                                                                <div class="flex-row">
                                                            <apex:variable value="{!1}" var="counter"/>                                                                                                                        
                                                                <apex:repeat value="{!inv.contentDocumentList}" var="cont">
                                                                <apex:outputText value="</div><div class='row'>" escape="false"
                                                                    rendered="{!AND((MOD(counter, 4) == 0), (counter < inv.contentDocumentList.size))}"/>
                                                                    
                                                                                    <div class="col-sm-3">
                                                                                                    <div class="thumbImg pop" style="width: 100%;">   
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType == 'PNG' || cont.contentDoc.FileType == 'JPG' || cont.contentDoc.FileType == 'JPEG', true, false)}" style="height: 80px; background-color: white;">
                                                                                                          <!--   <img src="/sfc/servlet.shepherd/document/download/{!cont.id}" alt="" id="myImg"/>-->
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}" alt="" style="background-color: white;"/>
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType == 'PDF', true, false)}" style="height: 80px; background-color: white;">                                                                                                        
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="{!URLFOR($Resource.SLDSIcons,'doctype/pdf_60.png')}" alt="" />
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType == 'WORD' || cont.contentDoc.FileType == 'WORD_X', true, false)}" style="height: 80px; background-color: white;">
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="{!URLFOR($Resource.SLDSIcons,'doctype/word_60.png')}" alt="" />
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType == 'PPT', true, false)}" style="height: 80px; background-color: white;">
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="{!URLFOR($Resource.SLDSIcons,'doctype/ppt_60.png')}" alt="" />
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType == 'TXT', true, false)}" style="height: 80px; background-color: white;">
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="{!URLFOR($Resource.SLDSIcons,'doctype/txt_60.png')}" alt="" />
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <apex:outputPanel rendered="{!IF(cont.contentDoc.FileType != 'PPT' && cont.contentDoc.FileType != 'TXT' && cont.contentDoc.FileType != 'PDF' && cont.contentDoc.FileType != 'JPG' && cont.contentDoc.FileType != 'JPEG' && cont.contentDoc.FileType != 'PNG' && cont.contentDoc.FileType != 'WORD' && cont.contentDoc.FileType != 'WORD_X', true, false)}" style="height: 80px;background-color: white;">
                                                                                                            <a href="/sfc/servlet.shepherd/document/download/{!cont.contentDoc.id}">
                                                                                                            <img src="{!URLFOR($Resource.SLDSIcons,'doctype/attachment_60.png')}" alt="" />
                                                                                                            </a>
                                                                                                        </apex:outputPanel>
                                                                                                        <span style="background-color: white;color: black;">{!cont.contentDoc.title}</span>
                                                                                                    </div>
                                                                                    </div>     
                                                                        <apex:outputText value="</div><div class='row'>" escape="false"
                                                                            rendered="{!AND((MOD(counter, 4) == 0), (counter < inv.contentDocumentList.size))}"/>                                                                           
                                                                </apex:repeat>
                                                                
                                                                
                                                                </div>                                                            
                                                                        </div>                                                                        
                                                                    </div>                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </td>
                                            </tr>
                                            
                                            
                                            
                                            </tbody>
                                            <apex:variable value="{!count+1}" var="count"/> 
                                            </apex:repeat>
                                        </table>
                                        </apex:outputPanel>
                                    </div>                                    
                                <!--/div-->
                                
                            </div>
                            <div class="container">                             
                              <!-- Modal -->
                              <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog" style="width: 100%;">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>                                      
                                    </div>
                                    <div class="modal-body">
                                      <!--<p>No Preview Available</p>-->
                                      <embed src="/_swf/190003/sfc/flex/DocViewer.swf#view=FitH" flashvars="shepherd_prefix=/agents/sfc/servlet.shepherd&v=0689E000000HFaA&mode=chatter_bubble&in_tests=false" width="100%" height="100%" align="middle" id="renditionLarge" quality="high" bgcolor="#f3f3f3" name="renditionLarge" allowscriptaccess="always" allowfullscreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" wmode="opaque" type="application/x-shockwave-flash"/>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                              
                            </div>
                            
                            <div id="myModal" class="modal">
                              <span style="float: right;color: white;padding-right: 10%;font-size: x-large;" id="closeButton">X</span><img class="modal-content" id="img01"/>
                              <div id="caption"></div>
                            </div>
                            
                           
                            <!--div id="pageNavPosition" style="padding-top: 20px" align="center"></div-->
                        </div>
                    </div>

                  <!-- Commented By Naresh As per no need confirm from kanu sir
                    <div class="float-chat-box">
                        <div class="box box-block">
                            <h3 class="title">Chat</h3>
                            <div class="box-body chat" id="chat-box">
                                
                                <div class="item">
                                    <img src="img/user.jpg" alt="user image" />
                                    <p class="message">I would like to meet you to discuss the
                                    </p>

                                </div>
                            
                                <div class="item right">

                                    <p class="message">They say it is going to be one the best
                                        themes</p>
                                    <img src="img/user2.jpg" alt="user image" />

                                </div>
                                
                                <div class="item">
                                    <img src="img/user.jpg" alt="user image" />
                                    <p class="message">They say it is going to be one the best
                                        themes on the market</p>
                                </div>
                                
                            </div>
                        
                            <div class="box-footer">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Type message..." />
                                    <div class="input-group-btn">
                                        <button class="btn btn-success">
                                            <i class="fa fa-share" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>  -->

                </div>
                
          <!-- Commented By Naresh As per no need confirm from kanu sir     
          <nav class="quick-nav">
                    <a class="quick-nav-trigger" href="#0"> <span
                        aria-hidden="true"></span>
                    </a>
                    <ul>
                        <li><a href="#" target="_blank" class="active"> <span>money</span>
                                <img src="assets/images/money.png" />
                        </a></li>
                        <li><a href="#" target="_blank"> <span>project</span> <img
                                src="assets/images/project.png" />

                        </a></li>
                        <li><a href="#" target="_blank"> <span>amenities</span> <img
                                src="assets/images/amenities.png" />
                        </a></li>
                        <li><a href="#" target="_blank"> <span>building</span> <img
                                src="assets/images/bulding.png" />
                        </a></li>
                    </ul>
                    <span aria-hidden="true" class="quick-nav-bg"></span>
                </nav> -->
                <div class="quick-nav-overlay"></div>
                <div class="float-chat-btn">
                 <i class="fa fa-comments" aria-hidden="true" onclick="window.open('/AgentPortalChatter');" ></i>  

                </div>

            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
  </apex:form>
    <!-- ./wrapper -->

    <apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.AgentPortalNewResource, 'Css/jquery-ui-1.10.3.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery-ui-1.10.3.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/bootstrap.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/morris/morris.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/sparkline/jquery.sparkline.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery.bxslider.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/fullcalendar/fullcalendar.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/jqueryKnob/jquery.knob.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/daterangepicker/daterangepicker.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/plugins/iCheck/icheck.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery.gridster.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/quick-sidebar.min.js')}" />
<!-- <apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/quick-nav.min.js')}" /> -->
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/app.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery.touch-punch.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery.shapeshift.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/jquery.shapeshift.resizable.js')}" />
<apex:includeScript value="{!URLFOR($Resource.AgentPageJSZipFile, 'js/dashboard.js')}" />
  <script type="text/javascript">
var pager = new Pager('tablepaging', 9);
pager.init();
pager.showPageNav('pager', 'pageNavPosition');
pager.showPage(1);
$('tr.boxed').on('click', function () {
    if ($('tr.boxed').hasClass('clickable')) {
        $('tr.boxed').removeClass('clickable');
        $(this).addClass('clickable');
    } else {
        $(this).addClass('clickable');
    }
});
</script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
console.log('==============img '+img);
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
document.getElementById("closeButton").onclick = function() { 
    modal.style.display = "none";
}
</script>
</body>
    </html>
</apex:page>