<apex:page standardController="Case" extensions="CollectionMemoSender" action="{!sendCollectionMemo}">
    <apex:pageMessages ></apex:pageMessages>
    <apex:form >
        <apex:commandButton value="Return To Case" action="{!Cancel}"/>
    </apex:form>
</apex:page>