<apex:page controller="CreateWeeklyOrMonthlyReviewCntrl" action="{!createWSR}" showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" renderAs="pdf">
    
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
        <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet"/>
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"/>
        
        <style>
            .msgIcon {
            display: none!important
            }
            
            .message {
            opacity: .1;
            }
            
            .slds-scope {
            padding: 0.5rem;
            padding-top:0.2rem;
            }
            
            .slds-scope:not(html), .slds-scope body {
            font-size: .65rem !important;
            }
            
            .slds-scope .slds-vertical-tabs__content {
            padding-right:0px !important;
            }
            
            .slds-scope .slds-page-header {
            padding-top:5px; padding-bottom:5px; padding-left:5px;
            }   
            
            .slds-scope .slds-gutters {
            margin:0px !important;
            }
            
            a{
            text-decoration: none !important;
            }
            
            .prev {
            font-size: 3rem;
            cursor: pointer;
            top: 50%;
            width: auto;
            color: white;
            font-weight: bold;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            }
            
            .slds-col {
            padding:3px !important;
            }
            
            td {
            padding-left:1.5px !important;
            padding-right:1.5px !important;
            }
            
            hr {
            margin: 0.5rem !important;
            }
            
            .slds-scope .slds-card__header {
            padding: .75rem 0.5rem 0;
            margin: 0 0 .75rem;
            }
            
            .slds-scope .slds-card__body_inner, .slds-scope .slds-card__body--inner {
            padding: 0 0.25rem;
            }
            
            .salesTeamDiv {
            min-height: 39.5rem;
            width: 100%;
            overflow-y: hidden;
            }
            
            .salesTeamDiv:hover {
            overflow-y: scroll;
            }
            
            .userImg {
            border-radius: 10px;
            height: 35px !important;
            }
            
            .div-5-leftPadding {
            padding-left:5px !important;
            }
            
          
           .UnitDetails {
               height: 500px;
            }
    
            
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux, 
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox--faux, 
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked~.slds-checkbox_faux, 
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked~.slds-checkbox--faux, 
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux, 
            .slds-scope .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox_faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked~.slds-checkbox_faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked~.slds-checkbox--faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux, 
            .slds-scope .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--faux{
            border-color:green !important;
            background-color : green !important;
            }
            
            .slds-scope .slds-table_cell-buffer tr>th:first-child, .slds-scope .slds-table_cell-buffer tr>td:first-child, 
            .slds-scope .slds-table--cell-buffer tr>th:first-child, .slds-scope .slds-table--cell-buffer tr>td:first-child {
            padding-left: 3px;
            padding-right: 0px;
            }
            
            .buyerCard {
            padding: 5px;
            overflow-y: auto;
            }
            
            u {
            color: blue;
            }  
            
            table, th, td {
            border: 1px solid black;
            padding: 2px;
            }
            
            .headerClass{
            //  text-align:center !important;
            background-color: #404040;
            color: white;
            padding: 10px !important;
            }
            
            .noborder, .noborder table, .noborder tr, .noborder th, .noborder td { 
            border: 0px  !important;
            padding: 5px;
            }
            
            .tableItem{
            padding: 5px !important;
            }
            
            .titleSpan{
            font-size: 20px;
            padding-left: 30%;
            text-align:center;
            font-weight: bold;
            }
            #reviewTable {}
            
            .headerDiv{}
            
            .salesTeam{}
            
            .btnClass{
            width: 100%;
            }
            
            .dosRemarks{
            width:95%;
            min-height:60px;
            height:60px;
            }
            
            textarea {
            resize: none;
            }
            
            table.dataTableCls tr:nth-child(odd), table.mainTableCls tr:nth-child(odd) {
            // background-color: #367B96;
            //#f2f2f2;
            }
            
            table.dataTableCls tbody {
            width:100%
            }
            table.dataTableCls tr:nth-child(even), table.mainTableCls tr:nth-child(even) {
            background-color: #d4dde8 !important;
            }
            
            .td_odd{
            background-color: #366c95;
            color: white;
            font-weight: 600;
            }
            
            .td_even{
            background-color: #D4EDF6;
            font-weight: 800;
            }
            
            .td_topic{
            background-color: #f0f2cb;
            font-weight: 800;
            }
            
            .remarks{
            // background-color: #f0f0f5;
            }
            
            .textInputDOS{
            padding:3px;
            min-height:30px;
            height:30px;
            }
            
            .hosHeading{
            background-color: #366c95;
            //#0071C1;
            padding: 10px !important;
            color: white;
            }
            
            .hosItem:nth-child(odd){
            background-color: #D4EDF6;
            }
            
            
            .hosRemarks{
            min-height:60px;
            height:60px;
            width:95%;
            }
            
            .inputCloseBtn{
            padding: 0px !important;
            margin: 0px !important;
            background: transparent;
            color: red !important;
            }
            
             .modal-header .close {
                padding: 0;
                margin: 0;
                position: absolute;
                right: 10px;
                top: 5px;
            }
    
            .modal-header {
                display: flex;
                padding: 20px;
            }
            .paymet-plan .table td, .paymet-plan .table th  {
                text-align: center; 
                vertical-align: middle;
            }
            .paymet-plan .table td{
                font-size: 14px;
            }
            .paymet-plan .table th{
                border-top: none !important;
                color: #b78b96;
                font-weight: 500;
            }
            .detailsBlock select {
                border-radius: 4px;
                border: 1px solid #ccc;
                padding: 8px 12px;
            width: 100%;
            }
            
            
            .detailsBlock {
                font-size: 1rem;
                color: #6d6d6d;
            }
            .weeklyreview h2 {
                background: #4f6373;
                width: 100%;
                display: block;
                padding: 15px 0;
                color: #fff;
            }
            .detailsBlock label {
                display: inline-block;
                margin-bottom: .5rem;
                font-weight: 700;
                color: #424242;
            }
            .commonBtn {
                background: #4f6373 !important;
                border: none !important;
                border-radius: 5px !important;
                color: #fff !important;
                font-weight: normal !important;
                padding: 8px 20px !important;
            }
            table#dataTable td, table#dataTable th {
                padding: 8px 20px !important;
                font-size: 0.9rem;
            }
            .commentBox {
                width: 100%;
                border: 1px solid #bfbfbf;
                border-radius: 6px;
            }
            #filter {
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ffffff;
                    z-index: 10;
                    opacity: 0.6;
                    filter: alpha(opacity=50);
            }
           
        </style>
    </head>
    
   <body>
   <apex:outputpanel rendered="{!noaccess}">
        Access denied to this Page.<br/>
        Contact administrator for support.
    </apex:outputpanel>
   <apex:pageMessages id="pgMsg"/>
    <apex:outputpanel id="pagePanel" rendered="{!!noaccess}">
        <apex:form >                  
            <apex:outputPanel rendered="{!showPanel1}" >
            <div class="weeklyreview text-center">
                <h2>Monthly/Weekly Review</h2>
                <div class="container">
                <section class="detailsBlock text-left col-md-12"> 
                <div class="status">
                <label class="pr-2">Status: </label>&nbsp;{!objWSR.Weekly_Review_Status__c} 
                </div>
                <div class="row">
                <div class="col-md-3 my-2">
                    <label class="pr-2">Manager: </label>&nbsp;
                    <apex:outputfield id="managerId" value="{!objWSR.Weekly_Review_Manager__c}"/>                     
                </div>
                <div class="col-md-3 my-2">
                    <label class="pr-2" >Review For: </label>&nbsp;
                    <apex:outputfield id="reviewForId" value="{!objWSR.Review_For__c}"/>
                
                </div>
                <div class="col-md-3 my-2">
                   <label class="pr-2"  >Months: </label>&nbsp;
                     <apex:outputfield id="monthsId" value="{!objWSR.Months__c}" />
                
                </div>
                <div class="col-md-3 my-2">
                    <apex:outputPanel id="weeksId">
                    <apex:outputPanel rendered="{!if(objWSR.Review_For__c == 'Week',true,false)}">
                        <label class="pr-2">Weeks: </label>&nbsp;
                        
                        <apex:outputfield id="weekInputId" label="Weeks" value="{!objWSR.Weeks__c}"/>
                    </apex:outputPanel>                                         
                    </apex:outputPanel>
                
                </div>
                </div>
                
                </section>
                </div>
                </div>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!showPanel2}" >
            <div class="weeklyreview text-center">
                <h2>Monthly/Weekly Review</h2>
                <div class="container">
                <section class="detailsBlock text-left col-md-12"> 
                <div class="status">
                <label class="pr-2">Status: </label>&nbsp;{!wsrInstance[0].Weekly_Review_Status__c}  
                </div>

                <div class="row">
                <div class="col-md-3 my-2">
                      <label class="pr-2">Manager: </label>&nbsp;
                      <apex:outputField value="{!wsrInstance[0].Weekly_Review_Manager__r.Name}"/>
                     
                </div>
                <div class="col-md-3 my-2">
                    <label class="pr-2">Review For: </label>&nbsp;
                    <apex:outputField value="{!wsrInstance[0].Review_For__c}"/>
                
                </div>
                <div class="col-md-3 my-2">
                   <label class="pr-2">Months: </label>&nbsp;
                     <apex:outputField value="{!wsrInstance[0].Months__c}"/>
                
                </div>
                <div class="col-md-3 my-2">
                    <apex:outputPanel rendered="{!if(wsrInstance[0].Weeks__c != Null,true,false)}">
                   <label class="pr-2">Weeks: </label>&nbsp;
                    <apex:outputField label="Weeks" value="{!wsrInstance[0].Weeks__c}"/>
                   </apex:outputPanel>                                        
                
                </div>
                </div>
                
                </section>
                </div>
                </div>
                </apex:outputPanel>
                   
                <apex:outputPanel id="weeklyReviewPanelId" >
                
                    <!--<div class="slds-grid slds-gutters slds-shrink"  style="height:90%;">-->
                        
                        <!-- Daily Collection Review Table-->
                        <!--<div class="slds-border--bottom slds-scrollable slds-border--left slds-border--right slds-col">
                            <div class="slds-scrollable slds-col slds-shrink" >-->
                                <div class="" id="reviewTable">
                                    <apex:outputpanel id="reviewPanel" rendered="{!showReviewTable}">
                                        <apex:outputpanel >
                                         <div class="container">
                                            <div class="table-responsive"> 
                                                                                    
                                                <table id="dataTable" class="noborder dataTableCls"
                                                       style="width:100%; overflow:auto; padding:0px !important;"> 
                                                    <tr>
                                                        <th class="headerClass" style="width: 28%;">Sl No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Particular</th>
                                                        <th class="headerClass" style="width: 24%;">Weekly Review by HOD</th>
                                                        <th class="headerClass">HOD Comments</th>
                                                    </tr>
                                                    <!--sec 1 repeater -->
                                                    <tr>
                                                        <th class="td_topic" colspan="3">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Knowledge of promotions and customers managed</th>
                                                        
                                                    </tr>
                                                    <!--<apex:outputPanel id="rerenderValues">-->
                                                    <apex:repeat value="{!headerValues1}" var="fieldKey">
                                                        <tr>
                                                            
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                           
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues1[fieldKey]}" var="fieldValue">
                                                           
                                                                
                                                                <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong command of the Ongoing Promotions ?'}">     
                                                                        <!--<apex:selectList value="{!fieldValue.Manager_display_strong_command__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                         <apex:outputfield value="{!fieldValue.Manager_display_strong_command__c}" />
                                                                    </apex:outputpanel>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager have an understanding of all customers managed by his team (count, collections)'}">       
                                                                        <!--<apex:selectList value="{!fieldValue.Manager_have_understanding_of_cus__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputfield value="{!fieldValue.Manager_have_understanding_of_cus__c}"/>
                                                                    </apex:outputpanel> 
                                                                </td>
                                                                <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong command of the Ongoing Promotions ?'}">     
                                                                        <apex:outputfield value="{!fieldValue.Manager_display_strong_command_freetext__c}" styleClass="commentBox"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager have an understanding of all customers managed by his team (count, collections)'}">       
                                                                        <apex:outputfield value="{!fieldValue.Manager_knows_all_customers_freetext__c}" styleClass="commentBox"/>
                                                                    </apex:outputpanel>
                                                                </td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collection forecast
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues2}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues2[fieldKey]}" var="fieldValue">
                                                                
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong performance on forecast for the month'}">       
                                                                            <!--<apex:selectList value="{!fieldValue.Manager_display_strong_performance__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputfield value="{!fieldValue.Manager_display_strong_performance__c}"/>
                                                                         </apex:outputpanel>
                                                                       
                                                                    </td>
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong performance on forecast for the month'}">       
                                                                           <apex:outputfield value="{!fieldValue.Manager_display_strong_performance_ft__c}" styleClass="commentBox"/>
                                                                         </apex:outputpanel>
                                                                      
                                                                    </td>
                                                                
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Manager Participation in CRE Activity
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues3}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues3[fieldKey]}" var="fieldValue">
                                                                   
                                                                    <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on assisting CREs to understand customer requirement and close the collection call by participating in Customer meetings, follow-ups, negotiations etc'}">    
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_assisting_CREs__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputfield value="{!fieldValue.Managers_performance_on_assisting_CREs__c}"/>
                                                                     </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on cases raised as per customers requirement and meeting organisation objectives'}">    
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_cases_raised__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputfield value="{!fieldValue.Managers_performance_on_cases_raised__c}"/>
                                                                      </apex:outputpanel>
                                                                    </td>
                                                                       
                                                                    <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on assisting CREs to understand customer requirement and close the collection call by participating in Customer meetings, follow-ups, negotiations etc'}"> 
                                                                    <apex:outputfield value="{!fieldValue.Managers_performance_on_assisting_CRE_ft__c}" styleClass="commentBox"/>
                                                                     </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on cases raised as per customers requirement and meeting organisation objectives'}">    
                                                                        <apex:outputfield value="{!fieldValue.Managers_performance_on_cases_raised_ft__c}" styleClass="commentBox"/>
                                                                     </apex:outputpanel>
                                                                    </td>
                                                                    
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quality Check and Feedback
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues4}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues4[fieldKey]}" var="fieldValue">
                                                                  
                                                                    <td>
                                                                       <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on Quality Checks through daily audit of CRE calls, a minimum of 5 calls per week'}">  
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_performance_on_Quality_Checks__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputfield value="{!fieldValue.Managers_performance_on_Quality_Checks__c}"/>
                                                                        </apex:outputpanel>
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on audit of Promise to Pay call, a minimum of 5 calls per week'}"> 
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_performance_on_audit__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                             </apex:selectList>-->
                                                                             
                                                                            <apex:outputfield value="{!fieldValue.Managers_performance_on_audit__c}"/>
                                                                          </apex:outputpanel>
                                                                    </td>
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on Quality Checks through daily audit of CRE calls, a minimum of 5 calls per week'}">  
                                                                           <apex:outputfield value="{!fieldValue.Managers_performance_on_Quality_Check_ft__c}" styleClass="commentBox"/>
                                                                        </apex:outputpanel>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on audit of Promise to Pay call, a minimum of 5 calls per week'}"> 
                                                                              <apex:outputfield value="{!fieldValue.Managers_performance_on_audit_ft__c}" styleClass="commentBox"/>
                                                                          </apex:outputpanel>
                                                                    </td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Overall Performamce Parameters</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues5}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues5[fieldKey]}" var="fieldValue">
                                                                      
                                                                    <td>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on daily huddle and CRE performance review'}">
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_daily_huddle__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputfield value="{!fieldValue.Managers_performance_on_daily_huddle__c}"/>
                                                                       </apex:outputpanel>
                                                                       <apex:outputpanel rendered="{!fieldKey == 'Is the Managers team showing overall improvement in Collection Processes leading to a higher conversion ?'}">       

                                                                        <!--<apex:selectList value="{!fieldValue.Managers_team_showing_improvement__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputfield value="{!fieldValue.Managers_team_showing_improvement__c}"/>
                                                                        </apex:outputpanel>
                                                                         <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from >365 days OD'}">
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_Collection_from_365_days_OD__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputfield value="{!fieldValue.Managers_Collection_from_365_days_OD__c}"/>
                                                                          </apex:outputpanel> 
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from <40% paid bracket'}">
                                                                               <!--<apex:selectList value="{!fieldValue.Manager_Collection_from_40_paid_bracket__c}" size="1" >
                                                                                    <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                    <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                                </apex:selectList>-->
                                                                                <apex:outputfield value="{!fieldValue.Manager_Collection_from_40_paid_bracket__c}"/>
                                                                          </apex:outputpanel>  
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Active Promo for the month'}">
                                                                             <!--<apex:selectList value="{!fieldValue.managers_performance_on_Active__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputfield value="{!fieldValue.managers_performance_on_Active__c}"/>
                                                                           </apex:outputpanel>
                                                                            <apex:outputpanel rendered="{!fieldKey == 'Has the team collected from more units/customers vs last month'}"> 
                                                                                <!--<apex:selectList value="{!fieldValue.Managers_team_collected_more_units__c}" size="1" >
                                                                                    <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                    <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                                </apex:selectList>-->
                                                                                <apex:outputfield value="{!fieldValue.Managers_team_collected_more_units__c}"/>
                                                                             </apex:outputpanel>
                                                                   </td>            
                                                                   <td>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on daily huddle and CRE performance review'}">
                                                                        <apex:outputfield value="{!fieldValue.Managers_performance_on_daily_huddle_ft__c}" styleClass="commentBox"/>
                                                                      </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Is the Managers team showing overall improvement in Collection Processes leading to a higher conversion ?'}">       
                                                                         <apex:outputfield value="{!fieldValue.Managers_team_showing_improvement_ft__c}" styleClass="commentBox"/>
                                                                     </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from >365 days OD'}">
                                                                          <apex:outputfield value="{!fieldValue.Managers_Collections_from_365_days_OD_ft__c}" styleClass="commentBox"/>
                                                                      </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from <40% paid bracket'}">
                                                                          <apex:outputfield value="{!fieldValue.Manager_Collection_from_40_paid_brkt_ft__c}" styleClass="commentBox"/>
                                                                      </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Active Promo for the month'}"> 
                                                                          <apex:outputfield value="{!fieldValue.Managers_performance_on_Active_Promo_ft__c}" styleClass="commentBox"/>
                                                                       </apex:outputpanel>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Has the team collected from more units/customers vs last month'}"> 
                                                                             <apex:outputfield value="{!fieldValue.Managers_team_collected_more_units_ft__c}" styleClass="commentBox"/>
                                                                         </apex:outputpanel>      
                                                                 
                                                                    </td>
                                                           
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat> 
                                                  
 <tr>
                                                        <th class="td_topic" colspan="3">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remarks
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues6}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues6[fieldKey]}" var="fieldValue">
                                                                
                                                                  
                                                                    <td>
                                                                    <apex:outputPanel rendered="{!showRemarkPanel1}">
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Manager Remarks  on Actions Taken'}">       
                                                                           <apex:outputField value="{!fieldValue.Managers_Remark_On_Action_Taken__c}"/>
                                                                         </apex:outputpanel>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!showRemarkPanel2}">
                                                                        <apex:outputPanel rendered="{!fieldKey == 'Manager Remarks  on Actions Taken'}">       
                                                                           <apex:outputfield value="{!fieldValue.Managers_Remark_On_Action_Taken__c}" styleClass="commentBox"/>
                                                                         </apex:outputpanel>
                                                                    </apex:outputPanel>
                                                                      
                                                                    </td>
                                                                
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <!--</apex:outputPanel>-->                                                     
                                                </table> 
                                                <!--<apex:commandButton action="{!saveResult}" value="Draft"/> 
                                                <apex:commandButton action="{!submitResult}"
                                                value="Submit" oncomplete="sendEmail();"/>-->                                                
                                            </div>
                                            </div>
                                        </apex:outputpanel>
                                    </apex:outputpanel>
                                <!--</div>
                            </div>                           
                        </div>-->
                    </div>
                </apex:outputPanel>
                <apex:outputPanel id="weeklyReviewPanelReadOnlyId" >               
                    <!--<div class="slds-grid slds-gutters slds-shrink"  style="height:90%;">-->                        
                        <!-- Daily Collection Review Table-->
                        <!--<div class="slds-border--bottom slds-scrollable slds-border--left slds-border--right slds-col">
                            <div class="slds-scrollable slds-col slds-shrink" >-->
                                <div class="" id="reviewTableReadOnly"  >
                                    <apex:outputpanel id="reviewPanelReadOnly" rendered="{!showReviewTable2}">
                                        <apex:outputpanel >
                                        <div class="container">
                                            <div class="table-responsive">                                                                                     
                                                <table id="dataTable" class="noborder dataTableCls"
                                                       style="width:100%; overflow:auto; padding:0px !important;"> 
                                                    <tr>
                                                        <th class="headerClass" style="width: 28%;">Sl No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Particular</th>
                                                        <th class="headerClass" style="width: 24%;">Weekly Review by HOD</th>
                                                        <th class="headerClass">HOD Comments</th>
                                                    </tr>
                                                    <!--sec 1 repeater -->
                                                    <tr>
                                                        <th class="td_topic" colspan="3">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Knowledge of promotions and customers managed</th>
                                                        
                                                    </tr>
                                                    <!--<apex:outputPanel id="rerenderValues">-->
                                                    <apex:repeat value="{!headerValues1}" var="fieldKey">
                                                        <tr>
                                                            
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                           
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues1[fieldKey]}" var="fieldValue">
                                                           
                                                                
                                                                <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong command of the Ongoing Promotions ?'}">     
                                                                        <!--<apex:selectList value="{!fieldValue.Manager_display_strong_command__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                         <apex:outputField value="{!fieldValue.Manager_display_strong_command__c}"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager have an understanding of all customers managed by his team (count, collections)'}">       
                                                                        <!--<apex:selectList value="{!fieldValue.Manager_have_understanding_of_cus__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputField value="{!fieldValue.Manager_have_understanding_of_cus__c}"/>
                                                                    </apex:outputpanel> 
                                                                </td>
                                                                <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong command of the Ongoing Promotions ?'}">     
                                                                        <apex:outputField value="{!fieldValue.Manager_display_strong_command_freetext__c}"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Does the Manager have an understanding of all customers managed by his team (count, collections)'}">       
                                                                        <apex:outputField value="{!fieldValue.Manager_knows_all_customers_freetext__c}"/>
                                                                    </apex:outputpanel>
                                                                </td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Collection forecast
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues2}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues2[fieldKey]}" var="fieldValue">
                                                                
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong performance on forecast for the month'}">       
                                                                            <!--<apex:selectList value="{!fieldValue.Manager_display_strong_performance__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputField value="{!fieldValue.Manager_display_strong_performance__c}"/>
                                                                         </apex:outputpanel>
                                                                       
                                                                    </td>
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Does the Manager display strong performance on forecast for the month'}">       
                                                                           <apex:outputField value="{!fieldValue.Manager_display_strong_performance_ft__c}"/>
                                                                         </apex:outputpanel>
                                                                      
                                                                    </td>
                                                                
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Manager Participation in CRE Activity
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues3}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues3[fieldKey]}" var="fieldValue">
                                                                   
                                                                    <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on assisting CREs to understand customer requirement and close the collection call by participating in Customer meetings, follow-ups, negotiations etc'}">    
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_assisting_CREs__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputField value="{!fieldValue.Managers_performance_on_assisting_CREs__c}"/>
                                                                     </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on cases raised as per customers requirement and meeting organisation objectives'}">    
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_cases_raised__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputField value="{!fieldValue.Managers_performance_on_cases_raised__c}"/>
                                                                      </apex:outputpanel>
                                                                    </td>
                                                                       
                                                                    <td>
                                                                    <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on assisting CREs to understand customer requirement and close the collection call by participating in Customer meetings, follow-ups, negotiations etc'}"> 
                                                                    <apex:outputField value="{!fieldValue.Managers_performance_on_assisting_CRE_ft__c}"/>
                                                                     </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on cases raised as per customers requirement and meeting organisation objectives'}">    
                                                                        <apex:outputField value="{!fieldValue.Managers_performance_on_cases_raised_ft__c}"/>
                                                                     </apex:outputpanel>
                                                                    </td>
                                                                    
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quality Check and Feedback
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues4}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues4[fieldKey]}" var="fieldValue">
                                                                  
                                                                    <td>
                                                                       <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on Quality Checks through daily audit of CRE calls, a minimum of 5 calls per week'}">  
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_performance_on_Quality_Checks__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputField value="{!fieldValue.Managers_performance_on_Quality_Checks__c}"/>
                                                                        </apex:outputpanel>
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on audit of Promise to Pay call, a minimum of 5 calls per week'}"> 
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_performance_on_audit__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                             </apex:selectList>-->
                                                                             
                                                                            <apex:outputField value="{!fieldValue.Managers_performance_on_audit__c}"/>
                                                                          </apex:outputpanel>
                                                                    </td>
                                                                    <td>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on Quality Checks through daily audit of CRE calls, a minimum of 5 calls per week'}">  
                                                                           <apex:outputField value="{!fieldValue.Managers_performance_on_Quality_Check_ft__c}"/>
                                                                        </apex:outputpanel>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on audit of Promise to Pay call, a minimum of 5 calls per week'}"> 
                                                                              <apex:outputField value="{!fieldValue.Managers_performance_on_audit_ft__c}"/>
                                                                          </apex:outputpanel>
                                                                    </td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <tr>
                                                        <th class="td_topic" colspan="3">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Overall Performamce Parameters</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues5}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues5[fieldKey]}" var="fieldValue">
                                                                      
                                                                    <td>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on daily huddle and CRE performance review'}">
                                                                        <!--<apex:selectList value="{!fieldValue.Managers_performance_on_daily_huddle__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputField value="{!fieldValue.Managers_performance_on_daily_huddle__c}"/>
                                                                       </apex:outputpanel>
                                                                       <apex:outputpanel rendered="{!fieldKey == 'Is the Managers team showing overall improvement in Collection Processes leading to a higher conversion ?'}">       

                                                                        <!--<apex:selectList value="{!fieldValue.Managers_team_showing_improvement__c}" size="1" >
                                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                        </apex:selectList>-->
                                                                        <apex:outputField value="{!fieldValue.Managers_team_showing_improvement__c}"/>
                                                                        </apex:outputpanel>
                                                                         <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from >365 days OD'}">
                                                                            <!--<apex:selectList value="{!fieldValue.Managers_Collection_from_365_days_OD__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputField value="{!fieldValue.Managers_Collection_from_365_days_OD__c}"/>
                                                                          </apex:outputpanel> 
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from <40% paid bracket'}">
                                                                               <!--<apex:selectList value="{!fieldValue.Manager_Collection_from_40_paid_bracket__c}" size="1" >
                                                                                    <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                    <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                                </apex:selectList>-->
                                                                                <apex:outputField value="{!fieldValue.Manager_Collection_from_40_paid_bracket__c}"/>
                                                                          </apex:outputpanel>  
                                                                          <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Active Promo for the month'}">
                                                                             <!--<apex:selectList value="{!fieldValue.managers_performance_on_Active__c}" size="1" >
                                                                                <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                            </apex:selectList>-->
                                                                            <apex:outputField value="{!fieldValue.managers_performance_on_Active__c}"/>
                                                                           </apex:outputpanel>
                                                                            <apex:outputpanel rendered="{!fieldKey == 'Has the team collected from more units/customers vs last month'}"> 
                                                                                <!--<apex:selectList value="{!fieldValue.Managers_team_collected_more_units__c}" size="1" >
                                                                                    <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                                                    <apex:selectOption itemValue="No" itemLabel="No"/>
                                                                                </apex:selectList>-->
                                                                                <apex:outputField value="{!fieldValue.Managers_team_collected_more_units__c}"/>
                                                                             </apex:outputpanel>
                                                                   </td>            
                                                                   <td>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Evaluate the Managers performance on daily huddle and CRE performance review'}">
                                                                        <apex:outputField value="{!fieldValue.Managers_performance_on_daily_huddle_ft__c}"/>
                                                                      </apex:outputpanel>
                                                                     <apex:outputpanel rendered="{!fieldKey == 'Is the Managers team showing overall improvement in Collection Processes leading to a higher conversion ?'}">       
                                                                         <apex:outputField value="{!fieldValue.Managers_team_showing_improvement_ft__c}"/>
                                                                     </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from >365 days OD'}">
                                                                          <apex:outputField value="{!fieldValue.Managers_Collections_from_365_days_OD_ft__c}"/>
                                                                      </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Collections from <40% paid bracket'}">
                                                                          <apex:outputField value="{!fieldValue.Manager_Collection_from_40_paid_brkt_ft__c}"/>
                                                                      </apex:outputpanel>
                                                                      <apex:outputpanel rendered="{!fieldKey == 'Evaluate the managers performance/Conversion on Active Promo for the month'}"> 
                                                                          <apex:outputField value="{!fieldValue.Managers_performance_on_Active_Promo_ft__c}"/>
                                                                       </apex:outputpanel>
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Has the team collected from more units/customers vs last month'}"> 
                                                                             <apex:outputField value="{!fieldValue.Managers_team_collected_more_units_ft__c}"/>
                                                                         </apex:outputpanel>      
                                                                 
                                                                    </td>
                                                           
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat> 
                                                   
 <tr>
                                                        <th class="td_topic" colspan="3">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Remarks
</th>
                                                        
                                                    </tr>
                                                    <apex:repeat value="{!headerValues6}" var="fieldKey">
                                                        <tr>
                                                            <td scope="col" class="tableItem">
                                                                {!fieldKey}
                                                            </td>
                                                            <!--- yes/no fields of each CRE--->
                                                            <apex:repeat value="{!mapOfTopic1_ParticularsAndTheirValues6[fieldKey]}" var="fieldValue">
                                                                
                                                                  
                                                                    <td>
                                                                    <apex:outputPanel rendered="{!showRemarkPanel1}">
                                                                        <apex:outputpanel rendered="{!fieldKey == 'Manager Remarks  on Actions Taken'}">       
                                                                           <apex:outputField value="{!fieldValue.Managers_Remark_On_Action_Taken__c}"/>
                                                                         </apex:outputpanel>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!showRemarkPanel2}">
                                                                        <apex:outputPanel rendered="{!fieldKey == 'Manager Remarks  on Actions Taken'}">       
                                                                           <apex:outputfield value="{!fieldValue.Managers_Remark_On_Action_Taken__c}" styleClass="commentBox"/>
                                                                         </apex:outputpanel>
                                                                    </apex:outputPanel>
                                                                      
                                                                    </td>
                                                                
                                                                
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                     <!--</apex:outputPanel>-->                                                     
                                                </table> 
                                            </div>
                                            </div>
                                        </apex:outputpanel>
                                    </apex:outputpanel>
                                </div>
                            
                </apex:outputPanel>
        </apex:form>
    </apex:outputpanel>
    </body>
</apex:page>