<apex:page standardController="Inventory__c" renderAs="pdf"  extensions="InventoryPDFDetailPage_Clone" showHeader="false" sidebar="false"  applyBodyTag="false" applyHtmlTag="false">
    <html>
        <head>
            <link rel="shortcut icon" href="{!URLFOR($Resource.Inquiry_Resources,'assets_inquiry/images/favicon.ico')}" type="image/x-icon"/> 
            <style type="text/css" media="print">



                @page {
                    size: letter;
                    margin: 8mm;
                    background-color:#fff;
                    @top-center {
                        //background-image:url('https://damacsandbox--damacdev--c.cs88.content.force.com/servlet/servlet.FileDownload?file=00P9E000000Gh7X');
                        //background-repeat:no-repeat;
                        //background-position:right top;
                        //content: "Available Inventory";
                        //width: 100px;
                        //height:50px;
                        content: element(header);
                    }
                    @bottom-left {
                        content: element(footerleft);
                    }

                    @bottom-center {
                        content: "Page " counter(page) " of " counter(pages);
                        font-family: "Times New Roman";
                        color :#808080;
                        width:200px;
                        font-size:10px;
                    }

                    @bottom-right{
                        content: element(footerright);
                    }
                }
                div.footerleft{
                    display: block;
                    padding: 0px;
                    position: running(footerleft);
                    font-family: "Times New Roman";
                    color : #808080;
                    //margin-top:-20px;
                    font-size:10px;
                }

                div.footerright {
                    display: block;
                    padding: 0px;
                    position: running(footerright);
                    text-align:right;
                    font-family: "Times New Roman";
                    color : #808080;
                    font-size:10px;                    
                }
                .pbSubheader {
                    background:Black !important;
                    color:white !important;
                    border-bottom:2px solid Black !important;
                    font-size:11px !important;
                }

                .bEditBlock {
                    background:white !important;
                }

                .Custom52Tab .secondaryPalette, .individualPalette .Custom52Block .secondaryPalette{
                    border-color:Black !important;
                }

                body {
                    font-family: Arial Unicode MS !important;
                }

                table {
                    border-spacing: 0;
                    border-collapse: collapse;
                    text-align: left;
                }

                .table tr th {
                    font-size: 12px;
                    font-weight: bold;
                    background-color:#e7e9ed;
                    padding: 4px 8px;
                    vertical-align:middle;
                    border-bottom: 1px solid #e7e9ed;
                }


                .table tbody tr.boxed {
                    background-color: #fff;
                    -webkit-print-color-adjust: exact; 
                    border-bottom: 1px solid #e7e9ed;
                }
                
                .table tbody tr.boxed td {
                    background-color: #fff;
                    -webkit-print-color-adjust: exact; 
                }
                
                table.table tbody tr.boxed:nth-child(odd), table.table tbody tr.boxed:nth-child(odd) td {
                    background-color: red; 
                    -webkit-print-color-adjust: exact; 
                }

                .table tbody tr.boxed td {
                    padding: 8px;
                    font-size: 12px;
                    font-weight: bold;
                    vertical-align:top;
                    border-bottom: 1px solid #e7e9ed;

                }


                h1 {
                    margin: 10px 0;
                    color:#fff;
                    font-size: 36px;
                    font-weight: 900;
                    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                    font-style: normal;
                    display: inline-block;
                }


                .page-header {
                    border-bottom: 6px solid #d9c79c;
                    margin-bottom: 20px;
                }

                .page-header table {

                    width: 100%;
                    margin-bottom: 0px;
                }

                .page-header table td {
                    padding: 10px;
                }


                .details-block {
                    //margin-bottom: 16px;
                    margin-bottom: 5px;
                }

                .details-block h4 {
                    color: #000;
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 900;
                    margin-bottom: 5px;
                    border-bottom: 2px solid #9e805a;
                }

                .details-block .table {
                    font-size: 12px;
                }

                .details-block .table label {
                    width: 150px;
                }

                .details-block .table tr td {
                    border-bottom: 1px solid #e7e9ed; 
                    padding: 3px 0;
                }

                .details-block .table span {
                    font-weight: bold;
                }
                
                .table.payment {
                    font-size: 12px;
                }
                
                .table.payment tr td {
                    padding: 4px 8px;
                    border-bottom: 1px solid #e7e9ed; 
                }


            </style>
        </head>
        <body>
            <div>
                <apex:outputPanel rendered="{!IF(currentUser!='Inventory App',true,false)}">
                <div class="footerleft">
                    <apex:outputText value="Contact : {!currentUser} on {!currentUserEmail}"/> 
                </div>
                </apex:outputPanel>
                
                <apex:outputPanel rendered="{!IF(currentUser=='Inventory App',true,false)}">
                    <div class="footerleft">
                        <span style="font-size:10px"> Salesoffer generated from DAMAC Agents app. </span>
                    </div>
                </apex:outputPanel>

                <div class="footerright">
                    <apex:outputText value="{!userCurrentTime} DT">
                       
                    </apex:outputText>
                </div>
            </div>
            <apex:outputPanel rendered="{!selInventoriesList.size > 1}">
                <div class="page-header">
                    <!--<table width="100%" style="background-color:#9e805a;">-->
                    
                    <table background="{!URLFOR($Resource.ramadan_strip,'/ramadan_strip.jpg')}" width="100%">
                        <tr>
                            <td width="80%">
                                <h1 style="color: #ffffff;">SALES OFFER</h1>
                            </td>
                            <td width="20%">
                                <img src="{!$Resource.Damac_Logo_white}" width="140"/>
                            </td>
                        </tr>
                    </table>
                </div>



            </apex:outputPanel>
            <apex:pageBlock title="" mode="detail">
                <apex:outputPanel rendered="{!selInventoriesList.size > 1}">

                    <p style="font-size: 14px; margin-bottom: 10px;">
                        Thank you for your interest in DAMAC Properties. We believe the following projects would suit your requirements.
                    </p>

                    <div style="page-break-after:always;">
                        <div style="border: 1px solid #e7e9ed;">
                            <table width="100%" class="table productTable">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Unit</th>
                                        <th>Bedroom Type</th>
                                        <th>Bedrooms</th>
                                        <th>Area</th>
                                        <th>Price</th>
                                        <th>PSF/PSM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!selInventoriesList}" var="inv">
                                        <tr class="boxed">
                                            <td>
                                                {!inv.Property_Name__c}
                                            </td>
                                            <td>
                                                {!inv.Unit_Location__r.Name}
                                            </td>
                                            <td>
                                                {!inv.Bedroom_Type__c}
                                            </td>
                                            <td>
                                                {!inv.IPMS_Bedrooms__c}
                                            </td>
                                            <td>
                                                <apex:outputText value="{!inv.Area__c}"/>
                                                
                                            </td>
                                            <td>
                                                <apex:outputText value="{0, Number}">
                                                    {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)}&nbsp;
                                                    <apex:param value="{!inv.Special_Price__c*pageConversionMap[inv.id]}" />
                                                </apex:outputText>
                                            </td>
                                            <td width="12%">
                                                <apex:outputText value="{0, number, ###,###.##}">
                                                    {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)}
                                                    <apex:param value="{!ROUND(inv.Price_Per_Sqft__c*pageConversionMap[inv.id],0)}" />
                                                </apex:outputText>&nbsp;{!inv.UOM_Code__c}
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>

                        <div style="padding-top: 40px;font-size: small; background-color:#fff; color:#999">
                            <!--<label>
                                * All Prices are inclusive of VAT, where applicable
                            </label>-->
                            <!--<br/> -->
                            <label>
                                *Prices and availability are subject to change without notice
                            </label>
                        </div>
                    </div>

                </apex:outputPanel>
                <apex:outputPanel rendered="{!selInventoriesList.size == 1}">
                    <div align="center" style="padding-bottom: 10px; padding-top: 0px;">
                        <img src="{!$Resource.DAMAC_Logo}" width="150"/>
                    </div>
                </apex:outputPanel>
                <apex:variable var="cnt" value="{!0}" />
                <apex:repeat value="{!selInventoriesList}" var="inv">
                    <div style="{!if(cnt < 1, 'page-break-before:avoid;','page-break-before:always;')}">
                        <apex:variable var="cnt" value="{!cnt+1}"/>
                        <!--apex:outputPanel rendered="{!selInventoriesList.size > 1}"-->
                        <div class="page-header">

                            <!--<table width="100%" style="background-color:#9e805a;" cellspacing="0" cellpadding="0">-->
                            <table background="{!URLFOR($Resource.ramadan_strip,'/ramadan_strip.jpg')}" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td  width="60%" style="color:#fff; vertical-align: middle; padding: 0px 20px;"> 
                                        <h6 style="color: #ffffff; font-size:20px; font-weight: bold; margin:20px 0 4px;"> {!inv.Marketing_Name__c}</h6>
                                        <div style="font-size:12px; margin:6px 0 20px;">{!inv.Unit_Location__r.Name}</div>
                                    </td>

                                    <td width="40%" style="padding: 0px;">
                                        <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(inv.Marketing_Name_Doc__r.Marketing_Plan__c))}">
                                            <apex:image value="{!inv.Marketing_Name_Doc__r.Marketing_Plan__c}" width="100%" />
                                        </apex:outputPanel>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--/apex:outputPanel-->

                        <div class="details-block">
                            <h4>Property Details</h4>
                            <table class="table" width="100%">
                                <tr>
                                    <td width="20%">Product Name</td>
                                    <td width="30%"><apex:outputField value="{!inv.Marketing_Name__c}" id="marName"/></td>   
                                    <!-- <td width="20%">Gross Price</td>
                                    <td width="30%"><apex:outputtext value="{!inv.Special_Price__c + inv.Selling_Price_excl_VAT__c}" id="gross_price"/></td> -->
                                    <!-- value="{!inv.Special_Price__c'+'inv.Selling_Price_excl_VAT__c}" -->
                                    <td width="20%">Gross Price</td>
                                    <td width="30%">
                                    <!--
                                        <apex:outputText value="{0, number, 00}" id="gross_price">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                            <apex:param value="{!ROUND((inv.Special_Price__c + inv.Selling_Price_excl_VAT__c)*pageConversionMap[inv.Id],0)}" />
                                        </apex:outputText> -->
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(!ISNULL(inv.Special_Price_Tax_Amount__c) && !ISNULL(inv.Special_Price__c ),true,false)}">
                                        <span style="white-space: normal;">
                                            
                                            <apex:outputText value="{0, number, ###,###.##}" id="gross_price">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                                <apex:param value="{!ROUND((inv.Special_Price__c + inv.Special_Price_Tax_Amount__c)*pageConversionMap[inv.Id],0)}" />
                                            </apex:outputText></span>
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(!ISNULL(inv.Special_Price_Tax_Amount__c) && ISNULL(inv.Special_Price__c ),true,false)}">
                                        <span style="white-space: normal;">
                                            
                                            <apex:outputText value="{0, number, ###,###.##}" id="gross_price1">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                                <apex:param value="{!ROUND((inv.Special_Price_Tax_Amount__c)*pageConversionMap[inv.Id],0)}" />
                                            </apex:outputText></span>
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(ISNULL(inv.Special_Price_Tax_Amount__c) && !ISNULL(inv.Special_Price__c ),true,false)}">
                                        <span style="white-space: normal;">
                                            
                                            <apex:outputText value="{0, number, ###,###.##}" id="gross_price2">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                                <apex:param value="{!ROUND((inv.Special_Price__c)*pageConversionMap[inv.Id],0)}" />
                                            </apex:outputText></span>
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(inv.Special_Price_Tax_Amount__c== null && inv.Special_Price__c == null,true,false)}">
                                        <apex:outputText value="NA" styleClass="white-space: normal;">
                                        
                                        </apex:outputText>
                                        </apex:outputPanel>
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td width="20%">Price (Excl. VAT)</td>
                                    <td width="30%"><apex:outputField value="{!inv.Selling_Price_excl_VAT__c}" id="special_price"/></td>-->   
                                     <td width="20%">Property Name</td>
                                    <td width="30%"><apex:outputField value="{!inv.Building_Name__c}" id="building_name"/></td> 
                                    
                                    <td width="20%">VAT</td>
                                    <td width="30%">
                                        <!-- <apex:outputText value="{0, number, 00}" id="selling_price">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                            <apex:param value="{!ROUND(inv.Special_Price_Tax_Amount__c*pageConversionMap[inv.Id],0)}" />
                                        </apex:outputText> -->
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(!ISNULL(inv.Special_Price_Tax_Amount__c),true,false)}">
                                            <span style="white-space: normal;">
                                            
                                                <apex:outputText value="{0, number, ###,###.##}" id="selling_price">
                                                    {! if(selectedCurrency!=NULL && pageConversionMap[inv.id] != 1,selectedCurrency, inv.Currency_of_Sale__c)}
                                                    <apex:param value="{!ROUND(inv.Special_Price_Tax_Amount__c*pageConversionMap[inv.Id],0)}" />
                                                </apex:outputText>
                                            </span>
                                        </apex:outputPanel>
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(inv.Special_Price_Tax_Amount__c== null,true,false)}">
                                            <apex:outputText value="NA" styleClass="white-space: normal;"></apex:outputText>
                                        </apex:outputPanel>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%">Property Status</td>
                                    <td width="30%"> <apex:outputField value="{!inv.Property_Status__c}" id="property_status"/> </td> 
                                    <!-- <td width="20%">Net Price</td>
                                    <td width="30%"><apex:outputField value="{!inv.Special_Price__c }" id="net"/></td> -->
                                    <td width="20%">Net Price</td>
                                    <td width="30%">
                                    <!--
                                        <apex:outputText value="{0, number, 00}" id="net">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} 
                                            <apex:param value="{!ROUND(inv.Special_Price__c*pageConversionMap[inv.Id],0)}" />
                                        </apex:outputText> -->
                                        
                                        <apex:outputPanel layout="none" rendered="{!if(!ISNULL(inv.Special_Price__c),true,false)}">
                                        <span style="white-space: normal;">
                                            
                                            <apex:outputText value="{0, number, ###,###.##}" id="net">
                                            {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)}
                                                <apex:param value="{!ROUND(inv.Special_Price__c*pageConversionMap[inv.Id],0)}" />
                                            </apex:outputText></span>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="none" rendered="{!if(inv.Special_Price__c== null,true,false)}">
                                        <apex:outputText value="NA" styleClass="white-space: normal;">
                                        
                                        </apex:outputText>
                                        </apex:outputPanel>
                                        
                                    </td>
                                </tr>
                                 <tr>
                                    <td width="20%">Anticipated Completion Date</td>
                                    <td width="30%"><apex:outputField value="{!inv.Anticipated_Completion_Date__c}" id="ACD"/></td>
                                    
                                    <td width="20%">
                                        <apex:outputPanel rendered="{!inv.Is_Mixed_Use__c != '' && inv.Is_Mixed_Use__c != null}">
                                            Permitted use
                                        </apex:outputPanel>
                                    </td> 
                                    <td width="30%">
                                        <apex:outputPanel rendered="{!inv.Is_Mixed_Use__c != '' && inv.Is_Mixed_Use__c != null}">
                                            {!offer.Permitted_Usage__c}
                                        </apex:outputPanel>
                                    </td>                                    
                                </tr>
                            </table>
                        </div>

                        <div class="details-block">
                            <h4>Unit Details</h4>
                            <table class="table" width="100%">
                                <tr>
                                    <td width="20%">Unit</td>
                                    <td width="30%"><apex:outputField value="{!inv.Unit__c}" id="unit"/> </td>   
                                    <td width="20%">Bedrooms</td>
                                    <td width="30%"><apex:outputField value="{!inv.IPMS_Bedrooms__c}" id="bedrooms"/> </td> 
                                </tr>
                                <tr>
                                    <td width="20%">Unit Type</td>
                                    <td width="30%"><apex:outputField value="{!inv.Unit_Type__c}" id="unit_type"/></td>
                                    <td width="20%">Bedroom Type/Villa Type</td>
                                    <td width="30%"><apex:outputField value="{!inv.Bedroom_Type__c}" id="bedvillatype"/> </td> 
                                </tr>
                                <tr>
                                    <td width="20%">Area</td>
                                    <!--<td width="30%"> <apex:outputtext value="{!FLOOR(inv.Area_Sqft_2__c)}" id="areaSqft"/> </td>-->
                                    <td width="30%"> <apex:outputtext value="{!inv.Area__c}" id="areaSqft"/> </td>     
                                    <td width="20%">Plot Area (Sqft)</td>
                                    <td width="30%"><apex:outputtext value="{!FLOOR(value(inv.Plot_Area__c))}" id="plotarea"/> </td> 
                                </tr> 
                                <tr>
                                    <td width="20%">View Type</td>
                                    <td width="30%"> <apex:outputtext value="{!inv.View_Type__c}"/> </td>   
                                     <td width="20%"></td>
                                    <td width="30%"> </td> 
                                </tr>                               
                            </table>           
                        </div>

                        <div class="details-block">
                            <h4>Additional Charges</h4>    
                            <table class="table" width="100%">
                                <tr>
                                    <td width="20%">Land Registration Fee (A)*</td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.Land_Registration_Fee_A__c}" id="lrf"/> </td>-->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_LandRegistrationFee[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_LandRegistrationFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_LandRegistrationFee[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_LandRegistrationFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <td width="20%">Title Deed (B) </td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.Title_Deed_B__c}" id="title_deed"/> </td>-->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_TitleDeed[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_TitleDeed[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_TitleDeed[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_TitleDeed[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel> 
                                </tr>
                                <tr>
                                    <td width="20%">OQOOD Fee(C)</td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.OQOOD_Fee_C__c}" id="oqood_deed"/> </td>-->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_OQOODFee[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_OQOODFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_OQOODFee[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_OQOODFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <td width="20%">DSR Fees(D)</td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.DSR_Fees_D__c}" id="dsr_fee"/> </td> -->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_DsrFees[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_DsrFees[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_DsrFees[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_DsrFees[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                </tr>
                                <tr>
                                    <td width="20%">Other Fee(E)</td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.Total_Fees_to_DLD__c}" id="total_fees"/> </td> -->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_otherFee[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_otherFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_otherFee[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_otherFee[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                 </tr>
                                 <tr>   
                                    <td width="20%">Total Fees to DLD(A+B+C+D+E)</td>
                                    <!--<td width="30%"><apex:outputField value="{!inv.Total_Fees_to_DLD__c}" id="total_fees"/> </td> -->
                                    <apex:outputPanel layout="none" rendered="{!if(invid_Total[inv.id] != 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} {!invid_Total[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="none" rendered="{!if(invid_Total[inv.id] == 'NA',true,false)}">
                                    <td width="30%"><apex:outputText value="{!invid_Total[inv.id]}"></apex:outputText></td>
                                    </apex:outputPanel>   
                                </tr>                                
                            </table>           
                        </div>

                        <!--<apex:outputPanel layout="none" rendered="{!if(invid_Discailmer[inv.id] == 'NA',true,false)}">
                        <div style="padding:10px 0; color:#999; margin-bottom: 16px;">
                            <apex:include pageName="Damac_InventoryDisclaimer"/>
                        </div>
                        </apex:outputPanel>-->
                        
                        <apex:outputPanel layout="none" rendered="{!if(invid_Discailmer[inv.id] != 'NA',true,false)}">
                        <div style="padding:10px 0; color:#999; margin-bottom: 16px;">
                            <!--<apex:include pageName="Damac_InventoryDisclaimer"/>-->
                            <div style="font-size:12px;color:Black;font-family:Arial,sans-serif;height:20px">
                                <apex:outputText escape="false" value="{!invid_Discailmer[inv.id]}"></apex:outputText>
                                <apex:outputPanel rendered="{!inv.Is_Mixed_Use__c != '' && inv.Is_Mixed_Use__c!= null}">
                                    ** VAT will be charged at 5% of the price in case of Service Apartments.
                                </apex:outputPanel>
                            </div>
                        </div>
                        </apex:outputPanel>
                        
                        <!--<div style="page-break-after:always;">
                        </div>-->

                        <div class="details-block" style="page-break-after:always;page-break-before: always;">
                            <h4>Payment Plan</h4>
                            
                            <table width="100%" class="table payment" style="-fs-table-paginate: paginate; " cellspacing="0">
                            
                            <tr>
                            
                                <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                    <th style="font-size:12px; font-weight:bold">{!f.label}</th>
                                </apex:repeat> 
                                <th style="font-size:12px; font-weight:bold">
                                    Amount
                                </th>
                            </tr>
                            <apex:variable value="" var="planId"/>
                            <apex:repeat value="{!mpPaymentTerms[selectedpaymentPlans[inv.Id]]}" var="term">
                                                                        
                                    
                                    <tr style="{!if (planId != term.Payment_plan__c, 'border:none;padding:0px', 'display:none')}">
                                        <td colspan="4">
                                            <apex:outputPanel rendered="{!planId != term.Payment_plan__c}">
                                                <hr/>
                                                <apex:variable value="{!term.Payment_Plan__c}" var="planId"/>
                                            </apex:outputPanel>
                                        </td>
                                    </tr>
                                    <tr>
                                        <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                            <td style="font-size:12px">
                                                <apex:outputField value="{!term[f]}"/>
                                            </td>
                                        </apex:repeat>
                                        <td style="font-size:12px; font-weight:bold">
                                            <apex:outputText value="{0, number, 0,000}" 
                                                rendered="{!IF(term.Percentage__c/100*inv.Special_Price_calc__c == 0, false,  true)}">
                                                {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} <apex:param value="{!term.Percentage__c/100*inv.Special_Price_calc__c*pageConversionMap[inv.id]}" />
                                            </apex:outputText>
                                            <apex:outputText value="{0, number, 0}" 
                                                rendered="{!IF(term.Percentage__c/100*inv.Special_Price_calc__c == 0, true, false)}">
                                                {! if(selectedCurrency!=NULL && pageConversionMap[inv.id]!=1,selectedCurrency,inv.Currency_of_Sale__c)} <apex:param value="{!term.Percentage__c/100*inv.Special_Price_calc__c*pageConversionMap[inv.id]}" />
                                            </apex:outputText>
                                        </td>
                                    </tr>
                                
                            </apex:repeat>
                        </table>
                            
                        </div>
                        
                        <div style="font-size:18px; font-weight:Bold;"></div>
                        <apex:variable var="currentList" value="{!mapInvAndPlanImage[inv.Id]}"/>
                        <apex:outputPanel rendered="{!IF(CONTAINS(ChkMapKey,inv.Id) && currentList.size > 0,true,false)}" >
                        <apex:outputPanel rendered="{!inv.Unit_Plan__c != null}" layout="block" style="{!If(inv.Floor_Plan_SF_Link__c != null,'padding-bottom:10px;page-break-after:always;','padding-bottom:10px;page-break-after:auto;')}">

                                <!--<table width="100%" style="background-color:#9e805a;  margin-bottom:50px;" cellspacing="0" cellpadding="0"> -->
                                    <table width="100%" background="{!URLFOR($Resource.ramadan_strip,'/ramadan_strip.jpg')}" style="margin-bottom:50px;" cellspacing="0" cellpadding="0">
                                    <tr>

                                        <!--<td  width="100%" style="color:#fff; vertical-align: middle;"> -->
                                             <td  width="100%">
                                            <h6 style="color: #ffffff; font-size:20px; font-weight: bold; margin: 0px; padding: 10px 20px;"> Unit Plan </h6>  
                                        </td> 
                                    </tr>

                                </table>
                            



                            <div style="width: 100%; margin-top: 10px;">
                            
                                <apex:image value="{!mapInvAndPlanImage[inv.Id][0]}" height="auto" width="80%" style="margin: auto; display:block;"/>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!inv.Floor_Plan__c != null}" layout="block" style="{!If(inv.Plot_Plan_SF_Link__c != null,'padding-bottom:10px;page-break-after:always;','padding-bottom:10px;page-break-after:auto;')}">

                            <!--<table width="100%" style="background-color:#9e805a;  margin-bottom:50px;" cellspacing="0" cellpadding="0">-->
                            
                            <table background="{!URLFOR($Resource.ramadan_strip,'/ramadan_strip.jpg')}" width="100%" style="margin-bottom:50px;" cellspacing="0" cellpadding="0">
                                <tr>

                                    <td  width="100%" style="color:#fff; vertical-align: middle;"> 
                                        <h6 style="color: #ffffff; font-size:20px; font-weight: bold; margin: 0px; padding: 10px 20px;"> Floor Plan </h6>  
                                    </td> 
                                </tr>

                            </table>


                            <div style="width: 100%; margin-top: 10px;">
                                <apex:image value="{!mapInvAndPlanImage[inv.Id][1]}" height="auto" width="80%" style="margin: auto; display:block;" />
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!inv.Plot_Plan__c != null}" layout="block" style="padding-bottom:10px;page-break-after:auto;">

                            <!--<table width="100%" style="background-color:#9e805a;  margin-bottom:50px;" cellspacing="0" cellpadding="0">-->
                            <table background="{!URLFOR($Resource.ramadan_strip,'/ramadan_strip.jpg')}"  width="100%" style="background-color:#9e805a;  margin-bottom:50px;" cellspacing="0" cellpadding="0">
                                <tr>

                                    <td  width="100%" style="color:#fff; vertical-align: middle;"> 
                                        <h6 style="color: #ffffff; font-size:20px; font-weight: bold; margin: 0px; padding: 10px 20px;"> Plot Plan</h6>  
                                    </td> 
                                </tr>

                            </table>
                            <div style="width: 100%; margin-top: 10px;">
                                <apex:image value="{!mapInvAndPlanImage[inv.Id][2]}" height="auto" width="80%" style="margin: auto; display:block;"/>
                            </div>
                        </apex:outputPanel>
                        </apex:outputPanel>
                    </div>
                </apex:repeat>
            </apex:pageBlock>
        </body>
    </html>

</apex:page>