<apex:page controller="Damac_TripsAllocationController" 
           lightningStylesheets="true"
           showHeader="true" 
           sidebar="false"
           applyBodyTag="false" 
           docType="html-5.0"
           cache="false" 
           expires="0" id="page">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            
            <title>Allocate Trips</title>
            
            <apex:slds />
            <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
            <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" rel="stylesheet" />
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
            
            <script>
                url = '{!URLFOR($Asset.slds, "/assets/icons/")}';
            </script>
            <apex:includeScript value="{!URLFOR($Resource.Calendar, '/Calendar.js')}" />
            <apex:stylesheet value="{!URLFOR($Resource.Calendar, '/calendar.css')}"/>
            
            <style type="text/css">
                
                
                .datePicker{
                position: fixed;
                z-index:100001 !important;
                width: 260px;
                height:auto;
                }
                .slds-item {
                box-shadow: 0 0 10px gray;
                border: none !important;
                background-color: #fff;
                border-radius: 10 !important;
                border-left: 5px solid #56aadf !important;
                }
                .slds-title {
                border-radius: 3px;
                background-color: #e0e5ee;
                border: 1px solid #d8dde6;
                cursor: move;
                }
                .slds-col {
                height: 520px;
                overflow-y: auto;
                border-left: 1px solid whitesmoke;
                }
                .slds-item-placeholder {
                border: 2px dotted gray !important;
                height: 5rem;
                }
                .moving-card {
                opacity: 0.5;
                transform: rotate( -5deg );
                }
                .slds-scope b, .slds-scope dfn, .slds-scope strong {
                font-weight: 600 !important;
                }
                a:hover{
                text-decoration: none !important;
                }
                .itemcustom{
                height: 18rem !important;
                width: 22rem !important;
                border-radius : 20px !important;                    
                padding: 15px !important;
                border-left:5px solid grey !important;
                
                }
                .itemcustomDriver{
                height: 8.5rem !important;
                width: 25rem !important;
                border-radius : 20px !important;                    
                padding: 15px !important;
                border-left:5px solid grey !important;
                
                }
                .customradius{
                border-radius : 20px !important; 
                }
                .no-border-right {
                border-right: solid 1px #FFF!important;
                color: solidblack;
                }
                
            </style>
        </head>
        <body>
            <apex:form id="form">
                <apex:actionFunction action="{!init}" name="reload" reRender="panel, allocatedTrips, titlePanel" status="status"/>
                <apex:actionpoller interval="60" action="{!init}" reRender="panel, allocatedTrips, titlePanel" status="status"/>
                <apex:actionFunction action="{!reschduleTripTime}" name="rescheduleActn" rerender="pb" oncomplete="closeReschduleModal();reload()" status="status">
                    <apex:param name="tripId" value="" />
                    <apex:param name="startTime" value="" />
                </apex:actionFunction>
                <apex:actionFunction action="{!reassignTrip}" name="reassignTripFunc" rerender="pb" oncomplete="reload()" status="status">
                    <apex:param name="tripId" value="" />
                    
                </apex:actionFunction>
                
                <div class="slds-scope">
                    <apex:actionStatus id="status">
                        <apex:facet name="start">
                            <div>
                                <div class="slds-spinner_container" style="position: fixed;">
                                    <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                                        <span class="slds-assistive-text">Loading</span>
                                        <div class="slds-spinner__dot-a"></div>
                                        <div class="slds-spinner__dot-b"></div>
                                    </div>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionStatus>
                    <!--Page Header-->
                    <div class="slds-page-header slds-m-bottom--small" role="banner">
                        <table>
                            
                            <tr>
                                <td style="width:10%">
                                    <div class="slds-media slds-media--center">
                                        <div class="slds-media__body">
                                            <p class="slds-page-header__title slds-truncate slds-align-middle slds-text-heading--large">
                                                <strong><i class="fa fa-th" aria-hidden="true"></i>&nbsp;Trips</strong>
                                            </p>
                                            <p class="slds-text-body--small page-header__info">Coordinator View</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <table style="width:40%" border='0'>
                                        <tr>
                                            
                                            <td> Trip start date </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                
                                                <apex:inputField value="{!trip.Trip_Date__c}" styleClass="slds-input"/>
                                                
                                            </td>
                                            <td style="padding-left:5%;text-align: left;">
                                                <label>&nbsp;&nbsp;&nbsp;</label>
                                                <button class="slds-button slds-button--brand" onclick="reload();return false">Refresh</button>                                                
                                            </td>
                                            
                                            <td style="padding-left:5%;text-align: left;">
                                                <label>&nbsp;&nbsp;&nbsp;</label>
                                                <button class="slds-button slds-button_success" onclick="window.open('/apex/damac_assigncar')">Car Allocation</button>                                                
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            
                                            <td style="text-align: left;width:100px;" colspan="4">
                                                <i>(Page refreshes automatically every minute)</i>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <!--Kanban Column Headers-->
                    
                    <div class="slds-grid" style="width:100%;">
                        <div class="slds-tabs--path" role="application">
                            <ul class="slds-tabs--path__nav" role="tablist">
                                
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                        <span class="slds-tabs--path__title slds-text-heading--medium">
                                            <b>Available Drivers - <span id="availableDrivers"> {!availableDrivers.size + allocatedDrivers.size}</span></b>
                                        </span>
                                    </a>
                                </li>
                                
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                        <span class="slds-tabs--path__title slds-text-heading--medium">
                                            <b>Trips for Allocation - <span id="tripsAllocated"> {!myTrips.size} </span></b>
                                        </span>
                                    </a>
                                </li>
                                <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                    <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                        <span class="slds-tabs--path__title slds-text-heading--medium">
                                            <b>All Trips Pending Allocation - <span id="pendingTripsAllocated"> {!myPendingTrips.size} </span></b>
                                        </span>
                                        &nbsp;&nbsp;&nbsp;
                                        <apex:selectList value="{!allTrips}" style="width:140px;" multiselect="false" size="1" onchange="reload(); return false;">
                                            <apex:selectOptions value="{!allTripsOptions}" />
                                            
                                        </apex:selectList>
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                    <apex:outputPanel id="panel">
                        <div class="slds-grid" style="width:100%;">
                            
                            
                            <div class="moveDriver slds-col slds-size--2-of-12 slds-has-dividers--around-space slds-scrollable--y">
                                <apex:repeat value="{!availableDrivers}" var="driver">
                                    <div draggable="true" class="slds-item slds-m-around--small itemcustomDriver" id="{!driver.Id}" 
                                         ondragstart="driverDragStart(event);" >
                                        <div class="slds-tile slds-tile--board">
                                            <h3 class="slds-section-title--divider slds-m-bottom--small customradius">
                                                
                                                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                                {!driver.User__r.Name}  
                                                
                                                <br/><br/>
                                                <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                {!driver.Mobile__c}
                                                
                                                <!-- Create an icon wrapped by the fa-stack class -->
                                                <span class="fa-stack fa-lg" style="float:right;margin-top:-10px">
                                                    <!-- The icon that will wrap the number -->
                                                    <span class="fa fa-circle fa-stack-2x" style="color: #0070d2"></span>
                                                    <!-- a strong element with the custom content, in this case a number -->
                                                    <p class="fa fa-inverse fa-stack-1x" style="font-family:verdana">
                                                   
                                                        {!tripsAllocatedToDriver[driver.Id]}   
                                                    </p>
                                                </span>
                                                
                                            </h3>
                                            
                                            <div class="slds-tile__detail slds-text-body--small">
                                                <p>                                                    
                                                    <table border="0" class="slds-section-title--divider slds-m-bottom--large customradius" style="width:250px;">
                                                        <tr>
                                                            <td>
                                                                <!-- <img src="{!$resource.rtaplatelogo}" style="height:35px;width: 100px;"/> -->
                                                                <apex:outputText value="{!driver.Assigned_Car__r.Model_Logo__c}" escape="false"/>&nbsp;
                                                            </td>
                                                            <td>
                                                                <b style="font-size:25px"> {!driver.Assigned_Car__r.Name}  </b>
                                                            </td>
                                                        </tr>
                                                </table>
                                                
                                                <!--
<table border="2" class="customradius">
<tr>
<td  border="0" class="no-border-right">
<img src="{!$resource.rtaplatelogo}" style="height: 50px;width: 100px;"/> 
</td>
<td  border="0" class="no-border-right">
<b style="font-size: xx-large;"> {!driver.Assigned_Car__r.Name}  </b>
</td>
</tr>
</table>
-->
                                            </p>
                                            
                                            
                                        </div>
                                    </div>
                                </div>                                              
                            </apex:repeat>
                            
                            <apex:repeat value="{!allocatedDrivers }" var="driver">
                                    <div draggable="true" class="slds-item slds-m-around--small itemcustomDriver" id="{!driver.Id}" 
                                         ondragstart="driverDragStart(event);" >
                                        <div class="slds-tile slds-tile--board">
                                            <h3 class="slds-section-title--divider slds-m-bottom--small customradius">
                                                
                                                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                                {!driver.User__r.Name}  
                                                <br/><br/>
                                                <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                {!driver.Mobile__c}
                                                
                                                <!-- Create an icon wrapped by the fa-stack class -->
                                                <span class="fa-stack fa-lg" style="float:right;margin-top:-10px">
                                                    <!-- The icon that will wrap the number -->
                                                    <span class="fa fa-circle fa-stack-2x" style="color: #0070d2"></span>
                                                    <!-- a strong element with the custom content, in this case a number -->
                                                    <p class="fa fa-inverse fa-stack-1x" style="font-family:verdana">
                                                        {!tripsAllocatedToDriver[driver.Id]}   
                                                    </p>
                                                </span>
                                                
                                            </h3>
                                            
                                            <div class="slds-tile__detail slds-text-body--small">
                                                
                                                
                                                <p>
                                                    
                                                    
                                                    
                                                    <table border="0" class="slds-section-title--divider slds-m-bottom--large customradius" style="width:250px;">
                                                        <tr>
                                                            <td>
                                                                <!-- <img src="{!$resource.rtaplatelogo}" style="height:35px;width: 100px;"/> -->
                                                                <apex:outputText value="{!driver.Assigned_Car__r.Model_Logo__c}" escape="false"/>&nbsp;
                                                            </td>
                                                            <td>
                                                                <b style="font-size:25px"> {!driver.Assigned_Car__r.Name}  </b>
                                                            </td>
                                                        </tr>
                                                </table>
                                                
                                                <!--
<table border="2" class="customradius">
<tr>
<td  border="0" class="no-border-right">
<img src="{!$resource.rtaplatelogo}" style="height: 50px;width: 100px;"/> 
</td>
<td  border="0" class="no-border-right">
<b style="font-size: xx-large;"> {!driver.Assigned_Car__r.Name}  </b>
</td>
</tr>
</table>
-->
                                            </p>
                                            
                                            
                                        </div>
                                    </div>
                                </div>                                              
                            </apex:repeat>
                            
                        </div>
                        <div class="trips slds-col slds-size--2-of-12 slds-has-dividers--around-space slds-scrollable--y">
                            <apex:repeat value="{!myTrips}" var="trip">
                                <div class="slds-item slds-m-around--small itemcustom" id="{!Trip.Id}" name="{!trip.Id}" ondragover="allowDrop(event)" 
                                     ondrop="drop(event, '{!Trip.Id}')" >
                                    <div class="slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        {!Trip.Customer_Name__c}  
                                                        -&nbsp;{!Trip.trip_type__c}    
                                                        &nbsp;&nbsp; <br/>
                                                        <br/>
                                                    {!tripStartTime[trip.Id]}
                                                    
                                                    <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                            <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                            
                                                        </a> 
                                                    
                                                
                                            
                                            
                                            <br/>
                                            <br/>
                                            <a href="" onclick="cancelTrip('{!trip.Id}')" target="__blank" style="color:red;">
                                                <u>Cancel Trip</u>                                                    
                                            </a>
                                            <br/>
                                            <br/>
                                            <a href="" onclick="reschedule('{!trip.Id}'); return false" target="__blank" style="color:red;">
                                                <u>Reschedule this Trip</u>                                                    
                                            </a>
                                            
                                            
                                            <!--
<img src="https://static.thenounproject.com/png/592187-200.png" onclick="reschedule('{!trip.Id}'); return false" style="height: 16px;float: right; cursor:pointer;"/>
-->
                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--small">
                                            <p class="slds-truncate">
                                                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;<b>Pick Up</b>&nbsp;&nbsp;
                                                {!Trip.Pick_Up_Address__c}
                                            </p>
                                            <p class="slds-truncate">
                                                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;<b>Drop Off</b>&nbsp;&nbsp;
                                                {!Trip.Drop_Address__c}                                                
                                            </p>
                                            
                                            <p class="slds-truncate">
                                                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                Created Date : {!tripCreatedTime[trip.Id]}
                                            </p>
                                           <!--
                                            <p class="slds-truncate">
                                                <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>&nbsp;<b>Inquiry</b>&nbsp;&nbsp;
                                                <a href="/{!trip.Inquiry__c}" target="_newTab">{!Trip.Inquiry__r.Name}</a> - {!Trip.Inquiry__r.Inquiry_Source__c}
                                                
                                            </p>
                                            -->
                                            
                                            <div id="{!trip.Id}_comments" class="slds-hide">
                                                <p>
                                                    <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;<b>Requestor Comments</b><br/>
                                                    <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield>                                                
                                                </p>
                                                <p>                                                            
                                                    <b>Details:</b> <br/>
                                                    <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                </p>
                                            </div>
                                            <input type="hidden" id="{!trip.ID}_driver" value="{!trip.driver__c}"/>
                                            <input type="hidden" id="{!trip.ID}_car" value="{!trip.car__c}"/>
                                        </div>
                                    </div>
                                </div>                      
                            </apex:repeat>
                        </div>
                        <div class="trips slds-col slds-size--2-of-12 slds-has-dividers--around-space slds-scrollable--y">
                            <apex:repeat value="{!myPendingTrips}" var="trip">
                                <div class="slds-item slds-m-around--small itemcustom" id="{!Trip.Id}" name="{!trip.Id}">
                                    <div class="slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        {!Trip.Customer_Name__c}  
                                                        -&nbsp;{!Trip.trip_type__c}    
                                                        &nbsp;&nbsp; <br/><br/>
                                                    {!tripStartTime[trip.Id]}                            
                                                    <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;padding-top:15px"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                        <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    
                                                    
                                                    
                                            
                                            
                                            <br/>
                                            <br/>

                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--small">
                                            <p class="slds-truncate">
                                                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;<b>Pick Up</b>&nbsp;&nbsp;
                                                {!Trip.Pick_Up_Address__c}
                                            </p>
                                            <p class="slds-truncate">
                                                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;<b>Drop Off</b>&nbsp;&nbsp;
                                                {!Trip.Drop_Address__c}                                                
                                            </p>
                                           
                                            <p class="slds-truncate">
                                                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                Created Date : {!tripCreatedTime[trip.Id]}
                                            </p>
                                            <!--
                                            <p class="slds-truncate">
                                                <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>&nbsp;<b>Inquiry</b>&nbsp;&nbsp;
                                                <a href="/{!trip.Inquiry__c}" target="_newTab">{!Trip.Inquiry__r.Name}</a> - {!Trip.Inquiry__r.Inquiry_Source__c}
                                                
                                            </p>
                                            -->
                                            
                                            
                                            <div id="{!trip.Id}_comments" class="slds-hide"> 
                                                <p>
                                                    <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;<b>Requestor Comments</b><br/>
                                                    <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield> 
                                                </p>
                                                <p>                                                            
                                                    <b>Details:</b> <br/>
                                                    <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                </p>
                                            </div>
                                            
                                            <input type="hidden" id="{!trip.ID}_driver" value="{!trip.driver__c}"/>
                                            <input type="hidden" id="{!trip.ID}_car" value="{!trip.car__c}"/>
                                        </div>
                                    </div>
                                </div>                      
                            </apex:repeat>
                        </div>
                        
                    </div>
                </apex:outputPanel>
                <div style="display: none;" id="rescheduleTrip">
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeReschduleModal();return false">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 class="slds-text-heading_medium slds-hyphenate">Reschedule Trip</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label" for="text-input-id-1">Start Time *</label>
                                        <div class="slds-form-element__control">
                                            <apex:inputField styleClass="slds-input" id="tripStartTime" value="{!rescheduleTrip.Start_Time__c}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                
                                <button class="slds-button slds-button_brand" onclick="rescheduleTrip(); return false">Reschedule</button>                                
                                
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
                <div style="display: none;" id="modalId">
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal();return false">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Reason</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <div class="slds-size_1-of-1">
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="firstName"><abbr class="slds-required" title="required">* </abbr>Cancel Reason</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField value="{!trip.Coordinator_Cancel_Reason__c}" id="cancelTripReasonField" styleclass="reason slds-input"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-size_1-of-1">
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label" for="comments">Comments</label>
                                                <div class="slds-form-element__control">
                                                    <apex:inputField value="{!trip.Cancel_Comments__c}" id="cancelTripCommentsField" styleclass="reason slds-input"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                
                                <button class="slds-button slds-button_brand" id="checkInBtn" onclick="cancelAllocatedTrip(); return false">Cancel Trip</button>
                                
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>  
                
                <div style="display: none;" id="tripDetailsModal">
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeTripDetails();return false">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Trip Details</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="tripComments">
                                
                            </div>
                            
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>  
                <apex:actionFunction action="{!cancelTrip}" name="cancelTripAllocation" status="status" oncomplete="closeModal();reload();" rerender="pb">
                    <apex:param name="tripId" value="" />
                    <apex:param name="comments" value="" />
                    <apex:param name="reason" value="" />
                </apex:actionFunction>
                <!--Kanban Column Headers-->
                <div class="slds-grid">
                    <div class="slds-tabs--path" role="application">
                        <ul class="slds-tabs--path__nav" role="tablist">
                            
                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                    <span class="slds-tabs--path__title slds-text-heading--medium">
                                        <b>Allocated - <span id="allocatedTripsCount">{!allocatedTrips.size}</span></b>
                                    </span>
                                </a>
                            </li>
                            
                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                    <span class="slds-tabs--path__title slds-text-heading--medium">
                                        <b>In Progress - <span id="inprogressTrips">{!InProgressTrips.size}</span></b>
                                    </span>
                                </a>
                            </li>
                            
                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                    <span class="slds-tabs--path__title slds-text-heading--medium">
                                        <b>Completed - <span id="completedTrips">{!completedTrips.size}</span></b>
                                    </span>
                                </a>
                            </li>
                            
                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                                <a class="slds-tabs--path__link" tabindex="-1" role="tab" href="javascript:void(0);">
                                    <span class="slds-tabs--path__title slds-text-heading--medium">
                                        <b>Cancelled - <span id="cancelledTrips">{!cancelledTrips.size}</span></b>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <apex:outputPanel id="allocatedTrips">
                    <div class="slds-grid">
                        <div class="moveCar slds-col slds-size--3-of-12 slds-has-dividers--around-space slds-scrollable--y">
                            <apex:repeat value="{!allocatedTrips}" var="trip">
                                <div class="slds-item slds-m-around--small slds-size--3-of-12 itemcustom" id="{!trip.Id}">
                                    
                                    <div class="slds-tile slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius" style="{!IF(trip.Status__c=='Completed','background:#B0CCEF;',if(trip.status__c=='Cancelled','background:#cc1414;','background:#B0CCEF'))}">
                                                        <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        <span style="color:black">{!Trip.Customer_Name__c}  
                                                            -&nbsp;{!Trip.trip_type__c}    </span>
                                                        &nbsp;&nbsp;
                                                        <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;padding-top:15px"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                        <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    
                                            <br/>
                                            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="" onclick="cancelTrip('{!trip.Id}')" target="__blank" style="color:red;" class="slds-align_absolute-center">
                                                <u>Cancel Trip</u>                                                    
                                            </a>

                                            <a href="" onclick="reassignTripFunc('{!trip.Id}')" target="__blank" style="color:red;" class="slds-align_absolute-center">
                                                <u>Reassign Trip</u>                                                    
                                            </a>
                                            
                                            
                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--large">
                                            <div class="slds-tile__detail slds-text-body--large">
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!Trip.Pick_Up_Address__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;{!Trip.Drop_Address__c}                                                
                                                </p>
                                                
                                                <div id="{!trip.Id}_comments" class="slds-hide"> 
                                                    <p>
                                                        <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;
                                                        <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield> 
                                                    </p>
                                                    <p>                                                            
                                                        <b>Details:</b> <br/>
                                                        <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                    </p>
                                                </div>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.car__r.Name}  
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Name}                                                                      
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Mobile__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Trip Date : {!tripStartTime[trip.Id]}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Created Date : {!tripCreatedTime[trip.Id]}
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                 
                            </apex:repeat>
                        </div>
                        
                        <div class="moveCar slds-col slds-size--3-of-12 slds-has-dividers--around-space slds-scrollable--y">
                            <apex:repeat value="{!InprogressTrips}" var="trip">
                                <div class="slds-item slds-m-around--small slds-size--3-of-12 itemcustom" id="{!trip.Id}">
                                    
                                    <div class="slds-tile slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius" style="height: 80px;{!IF(trip.Status__c=='Completed','background:#07ED1E;',if(trip.status__c=='Cancelled','background:#cc1414;',if(trip.status__c=='In Progress','background:orange;','background:#B0CCEF')))}">
                                                        <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        <span style="color:black">{!Trip.Customer_Name__c}  
                                                            -&nbsp;{!Trip.trip_type__c}    
                                                        </span>
                                                        &nbsp;&nbsp;
                                                        <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;padding-top:15px"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                        <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    
                                            
                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--large">
                                            <div class="slds-tile__detail slds-text-body--large">
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!Trip.Pick_Up_Address__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;{!Trip.Drop_Address__c}                                                
                                                </p>
                                                
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.car__r.Name}  
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Name}                                                                      
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Mobile__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Trip Date : {!tripStartTime[trip.Id]}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Created Date : {!tripCreatedTime[trip.Id]}
                                                </p>
                                                <div id="{!trip.id}_comments" class="slds-hide">
                                                    <p>
                                                        <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;
                                                        <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield> 
                                                    </p>
                                                    <p>                                                            
                                                        <b>Details:</b> <br/>
                                                        <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                    </p>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                 
                            </apex:repeat>
                        </div>
                        <div class="moveCar slds-col slds-size--3-of-12 slds-has-dividers--around-space slds-scrollable--y">
                            <apex:repeat value="{!completedTrips}" var="trip">
                                <div class="slds-item slds-m-around--small slds-size--3-of-12 itemcustom" id="{!trip.Id}">
                                    
                                    <div class="slds-tile slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius" style="height: 80px;{!IF(trip.Status__c=='Completed','background:#07ED1E;',if(trip.status__c=='Cancelled','background:#cc1414;','background:#B0CCEF'))}">
                                                        <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        <span style="color:black">{!Trip.Customer_Name__c}  
                                                            -&nbsp;{!Trip.trip_type__c} </span>   
                                                        &nbsp;&nbsp;
                                                       <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;padding-top:15px"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                        <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    
                                            <br/>
                                            
                                            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            
                                            <b>{!trip.Driver_Feedback__c}</b>  
                                            
                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--large">
                                            <div class="slds-tile__detail slds-text-body--large">
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!Trip.Pick_Up_Address__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;{!Trip.Drop_Address__c}                                                
                                                </p>
                                                
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.car__r.Name}  
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Name}                                                                      
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Mobile__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Trip Date : {!tripStartTime[trip.Id]}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Created Date : {!tripCreatedTime[trip.Id]}
                                                </p>
                                                <div id="{!trip.id}_comments" class="slds-hide">
                                                    <p>
                                                        <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;
                                                        <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield> 
                                                    </p>
                                                    <p>                                                            
                                                        <b>Details:</b> <br/>
                                                        <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                 
                            </apex:repeat>
                        </div>
                        <div class="moveCar slds-col slds-size--3-of-12 slds-has-dividers--around-space slds-scrollable--y">   
                            
                            <apex:repeat value="{!cancelledTrips}" var="trip">
                                <div class="slds-item slds-m-around--small slds-size--3-of-12 itemcustom" id="{!trip.Id}">
                                    
                                    <div class="slds-tile slds-tile--board">
                                        <h3 class="slds-section-title--divider slds-m-bottom--small customradius" style="height: 80px;{!IF(trip.Status__c=='Completed','background:#B0CCEF;',if(trip.status__c=='Cancelled','background:#cc1414;','background:#B0CCEF'))}">
                                                        <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                        <span style="color:white">{!Trip.Customer_Name__c}  
                                                            -&nbsp;{!Trip.trip_type__c}</span>    
                                                        &nbsp;&nbsp;
                                                        <apex:outputPanel style="float:right" rendered="{!!contains(LOWER(trip.Pick_Up_Address__c), 'dubai') || !contains (LOWER(trip.Drop_Address__c), 'dubai')}">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color:red;padding-top:15px"></i>&nbsp;
                                                    </apex:outputPanel>
                                                    
                                                    <a href="" onclick="tripDetails('{!trip.Id}')" target="__blank" style="float:right">
                                                        <i class="fa fa-info-circle fa-fw fa-2x fa-1x" aria-hidden="true"></i>
                                                    </a>
                                                    
                                            
                                        </h3>
                                        
                                        <div class="slds-tile__detail slds-text-body--large">
                                            <div class="slds-tile__detail slds-text-body--large">
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-ban fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Coordinator_Cancel_Reason__c}&nbsp;  {!trip.Cancel_Reason__c}
                                                </p>
                                                
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!Trip.Pick_Up_Address__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;{!Trip.Drop_Address__c}                                                
                                                </p>
                                                
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-car fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.car__r.Name}  
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Name}                                                                      
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp;
                                                    {!trip.Driver__r.Mobile__c}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Trip Date : {!tripStartTime[trip.Id]}
                                                </p>
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Created Date : {!tripCreatedTime[trip.Id]}
                                                </p>
                                                
                                                
                                                <p class="slds-truncate">
                                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;
                                                    Cancelled Time : <span style="color:red">{!tripCancelledTime[trip.Id]}</span>
                                                </p>
                                                
                                                <div id="{!trip.id}_comments" class="slds-hide">
                                                    <p>
                                                        <i class="fa fa-info-circle fa-fw fa-1x" aria-hidden="true"></i>&nbsp;
                                                        <apex:outputfield value="{!Trip.Trip_Requester_Comments__c}"></apex:outputfield> 
                                                    </p>
                                                    <p>                                                            
                                                        <b>Details:</b> <br/>
                                                        <apex:outputfield value="{!Trip.Inquiry_Details_for_Coordinator__c}"></apex:outputfield>                                                
                                                    </p>
                                                    <p>
                                                        <b>Cancel Comments:</b>
                                                        <apex:outputfield value="{!Trip.Cancel_Comments__c}"></apex:outputfield>                                                
                                                    </p>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                 
                            </apex:repeat>
                        </div>
                        
                    </div>
                </apex:outputPanel>
                <apex:outputPanel id="titlePanel">
                    <script>
                    document.getElementById('availableDrivers').innerText = '{!availableDrivers.size +allocatedDrivers.size}';
                    document.getElementById('tripsAllocated').innerText = '{!myTrips.size}';
                    document.getElementById('pendingTripsAllocated').innerText = '{!myPendingTrips.size}';
                    
                    document.getElementById('allocatedTripsCount').innerText = '{!allocatedTrips.size}';
                    document.getElementById('inprogressTrips').innerText = '{!InProgressTrips.size}';
                    document.getElementById('completedTrips').innerText = '{!completedTrips.size}';
                    document.getElementById('cancelledTrips').innerText = '{!cancelledTrips.size}';
                    
                    </script>               
                </apex:outputPanel>
                
            </div>
            <script>
            window.onload=function(){
                lightningCal();
            }
            
            function driverDragStart(event) {
                event.dataTransfer.setData("driverId", event.target.id);
            }
            function carDragStart(event) {
                event.dataTransfer.setData("carId", event.target.id);
            }
            function allowDrop(event) {
                event.preventDefault();                 
            }
            function drop (event, tripId) {
                event.preventDefault();
                console.log(tripId);
                var existingDriverVal = $('#'+tripId+'_driver').val();
                var existingCarVal = $('#'+tripId+'_car').val();
                
                var driverId = event.dataTransfer.getData("driverId");
                var carId = event.dataTransfer.getData("carId");
                
                console.log(driverId, carId);
                if (driverId != '' && driverId != undefined && existingDriverVal == ''){
                    
                    Damac_TripsAllocationController.assignDriverToTrip(driverId, tripId, function(result, event){
                        if (event.status){
                            toastr.info( result );
                            if (result == 'Driver added to the Trip.') {
                                $('#'+tripId+'_driver').val(driverId);
                                $('#'+driverId).addClass('slds-hide');
                                
                                var driverVal = $('#'+tripId+'_driver').val();
                                var carVal = $('#'+tripId+'_car').val();
                                console.log(driverVal, carVal);
                                
                                if (driverVal != ''){
                                    $('#'+tripId).addClass('slds-hide');
                                    reload();
                                }
                            }
                        }
                    });
                }
                if (driverId != '' && existingDriverVal != '')
                    toastr.warning( "Driver is already allocated for this Trip" );
                
                if (carId != '' && existingCarVal != '')
                    toastr.warning( "Car is already allocated for this Trip" );
                
                if (carId != '' && carId != undefined && existingCarVal == ''){
                    Damac_TripsAllocationController.assignCarToTrip(carId, tripId, function(result, event){
                        if (event.status){
                            toastr.info( result );
                            $('#'+carId).addClass('slds-hide');
                            $('#'+tripId+'_car').val(carId);
                            
                            var driverVal = $('#'+tripId+'_driver').val();
                            var carVal = $('#'+tripId+'_car').val();
                            console.log(driverVal, carVal);
                            
                            if (driverVal != '' && carVal != ''){
                                $('#'+tripId).addClass('slds-hide');
                                reload();
                            }
                        }
                    });
                }
            }
            var cancelTripId, rescheduleId = '';
            function tripDetails (tripId) {
                var tripComments = document.getElementById (tripId+'_comments').innerHTML;
                document.getElementById ('tripComments').innerHTML = '<p></p>';
                document.getElementById ('tripComments').innerHTML = tripComments;
                document.getElementById("tripDetailsModal").style.display = 'block';
            }
            function closeTripDetails (tripId) {                   
                
                document.getElementById("tripDetailsModal").style.display = 'none';
            }
            function cancelTrip(tripId) {
                cancelTripId = tripId;
                document.getElementById('page:form:cancelTripReasonField').value = '';
                document.getElementById('page:form:cancelTripCommentsField').value = '';
                document.getElementById("modalId").style.display = 'block';
            }
            function closeModal() {
                document.getElementById("modalId").style.display = 'none';
                document.getElementById('page:form:cancelTripReasonField').value = '';
                document.getElementById('page:form:cancelTripCommentsField').value = '';
                cancelTripId = '';
            }
            function rescheduleTrip() {
                var startTime = document.getElementById('page:form:tripStartTime').value;
                console.log(startTime);
                if (startTime != '')
                    rescheduleActn(rescheduleId, startTime);
                else {
                    toastr.warning( 'Please enter the reschedule date.' );   
                }
            }
            function reschedule(tripId) {
                document.getElementById("rescheduleTrip").style.display = 'block';
                document.getElementById('page:form:tripStartTime').value = '';
                rescheduleId = tripId;
            }
            function closeReschduleModal() {
                document.getElementById("rescheduleTrip").style.display = 'none';
                document.getElementById('page:form:tripStartTime').value = '';
                rescheduleId = '';
            }
            function cancelAllocatedTrip() {
                var reason = document.getElementById('page:form:cancelTripReasonField').value;
                if (reason != '') {
                    var comments = document.getElementById('page:form:cancelTripCommentsField').value;
                    cancelTripAllocation(cancelTripId, comments, reason);
                } else{
                    toastr.warning( 'Please specify the cancel reason.' );   
                }
            }
            
            // Auto Refresh
            //function refresh() {
                //window.location.reload(true);
                //reloadeverymin();
                //console.log('refreshing');
            //}
            //setTimeout(refresh, 6000);
            </script>     
        </apex:form>      
    </body>
</html>    
</apex:page>