<apex:page standardController="NSIBPM__Service_Request__c" extensions="DAMAC_Upgrade_Process" lightningStylesheets="true" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" id="pg" sidebar="false" showHeader="false" standardStylesheets="true" action="{!doInit}">
    <apex:slds />  
    <script>
        url = '{!URLFOR($Asset.slds, "/assets/icons/")}';
    </script>
    <apex:form id="frm">
        <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
            <head>
                <title>Upgrade Process</title>
                <meta charset="utf-8" />
                <meta http-equiv="x-ua-compatible" content="ie=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />           
                
                <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
                <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js" />
                <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
                
                <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js" />
            </head> 
            <body>
                <div class="slds slds-container" style="margin-right:15px;margin-left:15px;">
                    <!-- scroll header start-->
                    <header>
                        <nav style="border-radius: 10px;padding-left: 10px;padding-right: 10px;">
                            <div class="slds slds-box slds-page-header" role="banner">
                                <div class="slds-grid">
                                    <div class="slds-col slds-has-flexi-truncate">
                                        <div class="slds-media slds-no-space slds-grow">
                                            <div class="slds-media__figure">
                                                <table class="slds slds-table" border="0" style="width:100%;padding-top: 10px;">
                                                    <tr>
                                                        <td>
                                                            <div class="slds-scope">
                                                                <div class="slds-media slds-no-space slds-grow">
                                                                    <div class="slds-media__figure">
                                                                        <span class="slds-icon_container  slds-icon-standard-calibration" title="New Property">
                                                                            <svg aria-hidden="true" class="slds-icon slds-icon--large">
                                                                                <use xlink:href="{!URLFOR($Resource.SLDS_VF214, '/assets/icons/standard-sprite/svg/symbols.svg#calibration')}"></use>
                                                                            </svg>
                                                                            <span class="slds-assistive-text">Property Booking</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-media__body slds-scope">
                                                                        <span class="slds-page-header__title slds-truncate">
                                                                            <h1> <b style="color: black;">UPGRADE DATA SHEET</b></h1>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <div class="slds-col slds-has-flexi-truncate">
                                                            <td>
                                                                <div class="slds-media__body slds-scope">
                                                                    <span class="slds-page-header__title slds-truncate" style="display:table;margin:0 auto;">
                                                                        <h1>
                                                                            <b style="color: black;">
                                                                                <strong>
                                                                                    <apex:outputLink value="/{!srrecord.id}" target="__blank">
                                                                                        {!srrecord.Name}
                                                                                    </apex:outputLink>
                                                                                </strong>
                                                                            </b>
                                                                        </h1>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td style="width:8%;vertical-align:top">
                                                            </td>
                                                        </div> 
                                                        
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </header>
                    <apex:outputPanel id="mainpan" layout="block">
                        <div class="slds slds-scope">
                            <div class="slds slds-box slds-page-header" role="banner">
                                <div class="slds-grid">
                                    <div class="slds-col slds-has-flexi-truncate">
                                        <div class="slds-media slds-no-space slds-grow">
                                            
                                            <table class="slds slds-table slds-scope" border="0" id="entries" style="background-color:white">
                                                
                                                <tr>
                                                    <td style="border:1px solid black;">
                                                        <b>Deal Details</b>
                                                     </td>
                                                     <td style="border:1px solid black;">
                                                        <b>Unit Name</b>
                                                     </td>
                                                    <td style="border:1px solid black;">
                                                        <b>Bedrooms</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Category</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Villa View Type</b>
                                                     </td>
                                                     <td style="border:1px solid black;">
                                                        <b>Sale Price</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>No of Units</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Sold Area</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Current Sellable Area</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Sold PSF/Proposed PSF</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Chairman PSF</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Current Discounted PSF</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>A/C AREA</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>A/C PSF</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Current Sale Value</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Gain/(Loss) on resale - exit units</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Waiver charges</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>4% DLD Waiver</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>10 Years Free Service Charges</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Penalties</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Legal Charges</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Total Loss </b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Gain on entry unit - CM price</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Total Gain</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Net Gain/(Loss)</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Damac Profit</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Recommended Price</b>
                                                     </td>
                                                  <td style="border:1px solid black;">
                                                        <b>Final Recommended Price</b>
                                                     </td>
                                                 <td style="border:1px solid black;">
                                                        <b>Final Recommended PSF</b>
                                                     </td>
                                                 </tr>
                                                 
                                                     <apex:variable value="{!0}" var="count"/>
                                                     <apex:repeat value="{!selectedexitunitsWrapper}" var="exitUnit">
                                                     <tr>
                                                     <apex:variable value="{!count+1}" var="count"/>
                                                         <td style="border:1px solid black;">
                                                           <b> Exit Unit {!count}</b>
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Unit_Name__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Bedroom_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Unit_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.View_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.salePrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            1
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.soldArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.sellableArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.soldPSF}
                                                         </td>
                                                          <td style="border:1px solid black;">
                                                              {!exitUnit.chairmanPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.currentDiscountedPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.ACAREA}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.ACPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.currentSaleValue}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.gainLossResale}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.waiverCharges}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.DLDWaiver}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.serviceCharges}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.penalties}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.legalCharges}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.totalLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.gainOnEntryUnit}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.totalGain}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.netGainLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.damacProfit}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.recommendedPrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.finalRecommendedPrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.finalRecommendedPSF}
                                                         </td>
                                                        
                                                     </tr>
                                                     </apex:repeat>
                                                     <Apex:outputPanel rendered="{!if(selectedexitunitsWrapper.size > 0,true,false)}">
                                                     <tr>
                                                         <td style="border:1px solid black;">
                                                           <b>Total</b>
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnitTotalWrapper.salePrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!count}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnitTotalWrapper.soldArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnitTotalWrapper.sellableArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                          <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.gainLossResale}   
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.waiverCharges}   
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.DLDWaiver}   
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.serviceCharges}   
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.penalties}                                                               
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnitTotalWrapper.legalCharges}                                                               
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         </tr>
                                                         </Apex:outputPanel>
                                                         <apex:variable value="{!0}" var="counter"/>
                                                     <apex:repeat value="{!selectedentryunitsWrapper}" var="exitUnit">
                                                         <tr>
                                                         <td style="border:1px solid black;">
                                                         <apex:variable value="{!counter+1}" var="counter"/>
                                                           <b>Entry Unit {!counter}</b>
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Unit_Name__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Bedroom_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.Unit_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.unit.inventory__r.View_Type__c}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.salePrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            1
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.soldArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.sellableArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.soldPSF}
                                                         </td>
                                                          <td style="border:1px solid black;">
                                                          {!exitUnit.chairmanPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!exitUnit.currentDiscountedPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.ACAREA}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.ACPSF}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.totalLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.gainOnEntryUnit}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.totalGain}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.netGainLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         {!exitUnit.damacProfit}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.recommendedPrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.finalRecommendedPrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!exitUnit.finalRecommendedPSF}
                                                         </td>
                                                      </tr>
                                                     </apex:repeat>
                                                    <!-- <tr>
                                                         <td style="border:1px solid black;">
                                                           <b>Total</b>
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!counter}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                          <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         </tr>-->
                                                         <tr>
                                                         <td style="border:1px solid black;">
                                                           <b>UPGRADE VALUE</b>
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.salePrice}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.sellableArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.soldArea}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                          <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.gainLossResale}   
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.waiverCharges}
                                                             </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.DLDWaiver}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.serviceCharges}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                            {!upgradeUnitTotalWrapper.penalties}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.legalCharges}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.totalLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.totalGain}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.netGainLoss}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                             {!upgradeUnitTotalWrapper.damacProfit}
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         <td style="border:1px solid black;">
                                                         </td>
                                                         </tr>
                                            </table>
                                            <script>
                                            onloadFillData();
                                            function onloadFillData(){
                                                $("#entries").each(function() {
                                                    var $this = $(this);
                                                    var newrows = [];
                                                    $this.find("tr").each(function(){
                                                        var i = 0;
                                                        $(this).find("td").each(function(){
                                                            i++;
                                                            if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
                                                            newrows[i].append($(this));
                                                        });
                                                    });
                                                    $this.find("tr").remove();
                                                    $.each(newrows, function(){
                                                        $this.append(this);
                                                    });
                                                });
                                            
                                                return false;
                                            }
                                            
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </apex:outputPanel>
                </div>
            </body>
        </html>
    </apex:form>
</apex:page>