<apex:page standardController="Trip__c" extensions="Damac_TrackVehicle" showHeader="false">

<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <title>Track Vehicle</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {!checkInlat}, lng: {!checkInlang}},
                zoom: 12,
                mapTypeId: 'terrain'
            });
    
            var flightPlanCoordinates = [];
            <apex:repeat value="{!locations}" var="loc">
                flightPlanCoordinates.push ({lat: {!loc.lat}, lng: {!loc.lang} });
            </apex:repeat>
            
            var marker, marker2, i = 0;
            
            var infowindow = new google.maps.InfoWindow();
            var geocoder = new google.maps.Geocoder;
            let url = "http://maps.google.com/mapfiles/ms/icons/";
            url += "green-dot.png";
      
            var checkInlatlng = {lat: {!checkInlat}, lng: {!checkInlang}};
            marker = new google.maps.Marker({
                position: checkInlatlng,
                map: map,
                icon: {
                  url: url,
                  //scaledSize: new google.maps.Size(38, 38)
                }
            });
            var address = '<b>Check In Time: </b>{!tripEventfirst.Time__c}';
            address += '<br/><b>Location :</b><br/>{!JSENCODE(checkInLocation)}'
            
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(address);
                  infowindow.open(map, marker);
                }
            })(marker, i));                  
            
            var checkOutlatlng = {lat: {!checkOutlat}, lng: {!checkOutlang}};
            i = 2;
            url = "http://maps.google.com/mapfiles/ms/icons/red-dot.png";
            marker2 = new google.maps.Marker({
                position: checkOutlatlng,
                map: map,
                icon: {
                    url: url
                }
            });
            
            var address2 = '<b>Check Out Time: </b>{!tripEventLast.Time__c}';
            address2 += '<br/><b>Location :</b><br/>{!JSENCODE(checkOutLocation)}'
            google.maps.event.addListener(marker2, 'click', (function(marker2, i) {
                return function() {
                  infowindow.setContent(address2);
                  infowindow.open(map, marker2);
                }
            })(marker2, i));                  
            
            
            
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
    
            flightPath.setMap(map);
        }
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOWuFiFnt_aU1xTt03unM8BPvoj5hSDPs&libraries=places,geometry&callback=initMap">
    
    </script>
  </body>
</html>

</apex:page>