<apex:page standardController="Email_Request__c" lightningStylesheets="true" title="preview"
           sidebar="false" extensions="Damac_SG_CreateTemplateController" action="{!getEmailTemplate}">
    <apex:form >
        
        <apex:outputText value="{!emailBody}" escape="false" id="body"/>
    </apex:form>
</apex:page>