<apex:page Controller="DAMAC_TEAM_MEETING_MANAGER" title="Activities" id="pg" showHeader="false" readOnly="false">
    <html>

        <apex:slds />
        <head>
            <script>
                url = '{!URLFOR($Asset.slds, "/assets/icons/")}';
            </script>
            <apex:includeScript value="{!URLFOR($Resource.Calendar, '/Calendar.js')}" />
            <apex:includeScript value="https://code.jquery.com/jquery-1.12.4.min.js"/> 
            <apex:includeScript value="https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js" /> 
            <apex:stylesheet value="{!URLFOR($Resource.Calendar, '/calendar.css')}"/>
            <apex:stylesheet value="https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css"/>

            <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" rel="stylesheet" />
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

            <style>
                .toast-top-center {
                    margin-top:2rem !important;
                }
                .circleSPan{
                    background: #cccccc;
                    border-radius: 1.8em;
                    -moz-border-radius: 1.8em;
                    -webkit-border-radius: 1.8em;
                    color: #ffffff;
                    display: inline-block;
                    font-weight: bold;
                    line-height: 2.6em;
                    margin-right: 9px;
                    text-align: center;
                    width: 2.6em
                }
                textarea {
                height: 70px !important;
                }
                .dropdown-display {
                width:280px !important;
                border: 1px solid #8080805c !important;
                height: 33px !important;
                padding:0px !important;

                }
                .dropdown-main {
                width:280px !important;
                }
                #calMonthPicker {
                width :auto !important;
                }
                #calYearPicker {
                width: auto !important;
                }
                select {
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(221, 219, 218);
                border-radius: .25rem;
                width: 100%;
                transition: border .1s linear,background-color .1s linear;
                display: inline-block;
                padding: 0 1rem 0 .75rem;
                line-height: 1.875rem;
                min-height: calc(1.875rem + (1px * 2));
                }
                .dateFormat {
                display:none;
                }
                a {
                    width:60px !important;
                }
                .slds-scope .slds-input:focus, .slds-scope .slds-input:active {
                    box-shadow:none !important;
                }
                
                .datePicker{
                position: fixed;
                z-index:100001;
                width: 270px;
                height:auto;
                }
                .slds-scope .slds-tabs_default__item:hover:after, .slds-scope .slds-tabs--default__item:hover:after {
                background-color: #000000 !important;
                }
                .slds-scope .slds-tabs_default__item.slds-active:after, .slds-scope .slds-tabs_default__item.slds-is-active:after, .slds-scope .slds-tabs--default__item.slds-active:after, .slds-scope .slds-tabs--default__item.slds-is-active:after
                {
                background-color: #000000 !important;
                }
                .slds-scope .slds-tabs_default__item:focus:after, .slds-scope .slds-tabs_default__item.slds-has-focus:after, .slds-scope .slds-tabs--default__item:focus:after, .slds-scope .slds-tabs--default__item.slds-has-focus:after {
                background-color: #000000 !important;
                }
                .slds-button {
                background-color: #000000 !important;
                }
                a {
                font-size: 1.2em !important;
                color: #CB8761!important;
                letter-spacing: 0;
                }
                a {
                border:none !important;
                width:60px !important;
                }
                .slds-scope img{
                    max-width:25px !important;
                }
                th {
                font-weight:bold !important;
                }
                .comboboxIcon{
                    display:none !important;
                }
                .dropdown-display {
                    border: 1px solid rgba(0, 0, 0, 0.25098039215686274) !important;
                }
                .dataTables_filter{
                    display:none !important;
                }
                .dataTables_info {
                    display:none !important;
                }
                .slds-scope hr {
                    margin: 0.8rem 0 !important;
                }
                form{
                    font-size: 0.8125em !important;
                }
            </style> 
        </head>
        <body>
            <apex:form id="frm">
                <apex:actionStatus id="status">
                    <apex:facet name="start">
                        <div>
                            <div class="slds-spinner_container" style="position: fixed;">
                                <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                                    <span class="slds-assistive-text">Loading</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionStatus>
                <apex:actionFunction action="{!init}" name="reload" reRender="pb" status="status"/>
                <!--
                action function to get comments
                -->
                <apex:actionFunction immediate="true" oncomplete="openModal()" status="status" action="{!getTaskComments}"
                    reRender="commentsModalPanel,commentsModalPanel2,commentsModalPanel3,commentsModalPanel4" name="getTaskCommentsAction">
                    <apex:param value="" name="taskID" />
                </apex:actionFunction>
               
                <apex:actionFunction oncomplete="hideModal(), reload()" status="status" action="{!upsertTask}"
                    reRender="" name="taskUpsertAction">
                    <apex:param value="" name="taskID" />
                </apex:actionFunction>  
                <!--
                end of action function
                -->
                <apex:inputHidden value="{!meetingTypeFilter}" id="meetingTypeFilter" />
                <apex:inputHidden value="{!RelatedToFilter}" id="relatedToFilter" />
                <center>
                    <table style="width:100%">
                        <tr>
                            <td style="width: 115px; text-align: right; padding-right: 10px;"><label><b>Meeting Type</b></label></td>
                            <td style="width:110px">
                                
                                <select style="width:100%;" onchange="mapMeetingType(this.value)">
                                    <option value="">--None--</option>
                                    <option value="ST">ST</option>
                                    <option value="M">M</option>                                            
                                    <option value="IM">IM</option>
                                </select>
                            </td>
                            
                            <td style="width: 80px; text-align: right; padding-right: 10px;"><label><b>Related To</b></label></td>
                            <td style="width:110px">
                                
                                <select style="width:100%;" onchange="mapRelatedTo(this.value)" id="relatedToVal" >
                                    <option value="">--None--</option>
                                    <option value="Inquiry">Inquiry</option>
                                    <option value="Agency">Agency</option>                                          
                                    <option value="Customer">Customer</option>
                                </select>
                            </td>

                            <td style="width: 55px; text-align: right; padding-right: 10px;"><label id="statusValLabel"><b>Status</b></label></td>
                            <td style="width:110px">
                                        
                                <select style="width:95%" id="statusVal" onchange="mapStatusFilter(this.value);return false;">
                                    <option value="">--None--</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="Completed">Completed</option>
                                    
                                </select>
                                <apex:inputField value="{!dateCriteria.Status}" styleClass="slds-hide"
                                style="width:95%" html-fieldLabel="Status" id="statusFilter" required="false"/>
                                <script>
                                    document.getElementById('pg:frm:statusFilter').value = '';
                                    function mapStatusFilter(val) {
                                        if (val == '--None--')    
                                            val = '';
                                        document.getElementById('pg:frm:statusFilter').value = val;
                                    }
                                    
                                </script>
                            </td>


                            <td style="width: 80px; text-align: right; padding-right: 10px;"><label><b>Start Date</b></label></td>
                            <td style="width:175px">
                                <apex:inputField value="{!dateCriteria.Start_Date__c}" styleClass="slds-input required"
                                style="width:95%" html-fieldLabel="Start Date" id="startDate"/>
                            </td>
                            
                            
                            <td style="width: 80px; text-align: right; padding-right: 10px;"><label><b>End Date</b></label></td>
                            <td style="width:175px">
                                <apex:inputField value="{!dateCriteria.End_Date__c}" styleClass="slds-input required"
                                style="width:95%" html-fieldLabel="End Date"/>
                            </td>
                            <td style="width: 80px; text-align: right; padding-right: 10px;"><label><b>My Team</b></label></td>
                            <td style="padding-left:10px;padding-right:10px;width:250px">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dropdown-mul-2" style="">
                                            <apex:selectList value="{!myTeamIds}" multiselect="true" rendered="{!myTeam.size > 0 }"
                                                             id="mul-2" html-placeholder="Select Team"
                                                             style="width:500px; padding-top:20px;display:none"> 
                                                <apex:selectOptions value="{!myTeam}"/>
                                            </apex:selectList>
                                            <script>
                                            $('.dropdown-mul-2 option:selected').removeAttr('selected');
                                            $('.dropdown-mul-2').dropdown({
                                                searchable: false
                                            });
                                            </script>
                                        </div>
                                    </div>
                                </div>                                    
                            </td>
                            <td style=" text-align: left;max-width: 10%; width: 185px">
                                <button class="slds-button slds-button--brand" 
                                onclick="validateFilters();return false">Go</button>

                                
                            </td>
                            
                        </tr>
                    </table>
                </center>
                <br/><br/>
                <apex:outputPanel id="pb" style="width:50%">
                    <apex:outputPanel rendered="{!if(message != '', true, false)}">
                        <script>
                            toastr.options.positionClass = "toast-top-center";
                            toastr.warning('{!message}');
                        </script>
                    </apex:outputPanel>
                    <table id="taskDetail" 
                        class="slds-table_cell-buffer slds-no-row-hover slds-table_bordered" style="border-top:0px;">
                        <thead>
                            <tr class="slds-line-height_reset" style="height:40px;background:lightgray">
                                <th style="padding-right:10px">
                                    Meeting Type &nbsp;
                                </th>
                                <th style="padding-right:10px">
                                    Related to &nbsp;
                                </th>
                                <th style="padding-right:10px">
                                    Name
                                </th>
                                <th style="padding-right:10px">
                                    Start Time <br/><br/>( Check-In Time)
                                </th>
                                <th style="padding-right:10px">
                                    End Time <br/><br/>(Check-out Time)
                                </th>
                                <th style="padding-right:10px">
                                    Purpose of Meeting <br/><br/>(Reason for Disqualification)
                                </th>
                                <th style="padding-right:10px">
                                    Activity Type <br/><br/>(Tour Type)
                                </th>
                                <th style="padding-right:10px">
                                    Activity Outcome <br/><br/>(Tour Outcome)
                                </th>
                                <th style="padding-right:10px">
                                    Comments
                                </th>
                                <th style="padding-right:10px">
                                    RM Comments
                                </th>
                                <th style="padding-right:10px">
                                    DOS Comments
                                </th>
                                <th style="padding-right:10px">
                                    HOS Comments
                                </th>
                                <th style="padding-right:10px">
                                    
                                </th>
                                <th style="padding-right:10px">
                                    Status
                                </th>
                                <th style="padding-right:10px">
                                    Owner Name
                                </th>
                                                                      
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat value="{!activityManager}" var="rec">
                                <tr style="height:56px;">
                                    <td html-recid="{!rec.id}">
                                        <input type="hidden" value="{!recordTypeMap[rec.Activity_or_Task_Id__c]}" 
                                        id="{!rec.Activity_or_Task_Id__c}_accountType" />
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            <span class="circleSPan" style="background:#b66945 !important;">ST</span>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Account__c != NULL}">
                                            <span class="circleSPan" style="background:#ba3737 !important;">M</span>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Inquiry__c != NULL}">
                                            <span class="circleSPan" style="background:#ba3737 !important;">M</span>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL 
                                                        && rec.Related_to_Account__c == NULL 
                                                        && rec.Related_to_Inquiry__c == NULL}">
                                            <span class="circleSPan" style="background:#7860b2 !important;">IM</span>
                                        </apex:outputPanel>
                                    </td>

                                    <td html-recid="{!rec.id}" style="padding-right:10px">

                                        
                                        <apex:outputPanel rendered="{!rec.Related_to_Account__c != NULL}">
                                            
                                            <apex:outputPanel rendered="{!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                <a href="/{!rec.Related_to_Account__c}" target="_newTab">
                                                    <span class="circleSPan" style="background:blueviolet !important;">A</span>
                                                </a>
                                            </apex:outputPanel>

                                            <apex:outputPanel rendered="{!!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                <a href="/{!rec.Related_to_Account__c}" target="_newTab">
                                                    <span class="circleSPan" style="background:blueviolet !important;">C</span>
                                                </a>
                                            </apex:outputPanel>
                                            
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Inquiry__c != NULL}">
                                            <a href="/{!rec.Related_to_Inquiry__c}" target="_newTab">
                                                <span class="circleSPan" style="background:blueviolet !important;">I</span>
                                            </a>
                                        </apex:outputPanel>

                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            <a href="/{!rec.Related_to_Sales_Tours__c}" target="_newTab">
                                                <span class="circleSPan" style="background:blueviolet !important;">I</span>
                                            </a>
                                        </apex:outputPanel>
                                        
                                    </td>

                                    <td style="padding-right:10px">
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            {!rec.Related_to_Sales_Tours__r.Inquiry__r.Full_Name__c}
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Account__c != NULL}">
                                            {!namesMap[rec.Related_to_Account__c]}
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Inquiry__c != NULL}">
                                            {!activityORSTDetails[rec.Related_to_Inquiry__c].Full_Name__c}
                                        </apex:outputPanel>
                                    </td>

                                    <td style="padding-right:10px">                                                
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                            <apex:outputText value="{0, date, MMMM d','  yyyy h:mm a}">
                                                <apex:param value="{!activityORSTDetails[rec.Activity_or_Task_Id__c].Start_Date__c+offset}" /> 
                                            </apex:outputText>
                                        </apex:outputPanel> 
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            <apex:outputText value="{0, date, MMMM d','  yyyy h:mm a}">
                                                <apex:param value="{!activityORSTDetails[rec.Activity_or_Task_Id__c].Check_In_Date__c+offset}" /> 
                                            </apex:outputText>
                                        </apex:outputPanel>                                             
                                    </td>

                                    <td style="padding-right:10px">                                                
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                            <apex:outputText value="{0, date, MMMM d','  yyyy h:mm a}">
                                                <apex:param value="{!activityORSTDetails[rec.Activity_or_Task_Id__c].End_Date__c+offset}" /> 
                                            </apex:outputText>

                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            <apex:outputText value="{0, date, MMMM d','  yyyy h:mm a}">
                                                <apex:param value="{!activityORSTDetails[rec.Activity_or_Task_Id__c].Check_Out_Date__c+offset}" /> 
                                            </apex:outputText>

                                        </apex:outputPanel>                                             
                                    </td>

                                    <td style="padding-right:10px">
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            {!activityORSTDetails[rec.Activity_or_Task_Id__c].Description__c}                                            
                                        </apex:outputPanel>
                                        
                                        
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                            {!activityORSTDetails[rec.Activity_or_Task_Id__c].Subject}
                                        </apex:outputPanel>                                           
                                    </td>

                                    <td style="padding-right:10px">  
                                        <div class="slds-truncate" >
                                            <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                                
                                                <apex:outputPanel rendered="{!rec.Related_to_Account__c != NULL}">
                                                    <apex:outputPanel rendered="{!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Type__c}
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Type_3__c}
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!rec.Related_to_Account__c == NULL}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Type_3__c}
                                                </apex:outputPanel>
                                            </apex:outputPanel> 
                                            <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Tour_Type__c}
                                                </apex:outputPanel>         
                                        </div>                                  
                                    </td>

                                    <td style="padding-right:10px">   
                                        <div class="slds-truncate">                                             
                                            <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                                <apex:outputPanel rendered="{!rec.Related_to_Account__c != NULL}">
                                                    <apex:outputPanel rendered="{!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Sub_Type__c}
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!!CONTAINS(recordTypeMap[rec.Activity_or_Task_Id__c], 'Agency')}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Outcome__c}
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!rec.Related_to_Account__c == NULL}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Activity_Outcome__c}
                                                </apex:outputPanel>


                                            </apex:outputPanel>
                                            <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                                        {!activityORSTDetails[rec.Activity_or_Task_Id__c].Tour_Outcome__c}
                                                    </apex:outputPanel>
                                        </div>                                              
                                    </td>
                                     <!-- Comments -->
                                    <td style="padding-right:10px">                                                
                                        <div style="width: 300px;white-space: break-spaces;word-break: break-word;">
                                            
                                                <apex:outputPanel id="descriptionsPanel" rendered="{!activityORSTDetails[rec.Activity_or_Task_Id__c].Description != NULL}">
                                                    <span title="{!activityORSTDetails[rec.Activity_or_Task_Id__c].Description}">       
                                                        {!activityORSTDetails[rec.Activity_or_Task_Id__c].Description}
                                                    </span>
                                                </apex:outputPanel>                              
                                                <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].Comments__c}
                                                </apex:outputPanel>                                             
                                        </div>
                                    </td>
                                    <!-- RM Comments -->
                                    <td style="padding-right:10px">                                                
                                        <div style="width: 250px;white-space: break-spaces;word-break: break-word;">
                                            
                                                <apex:outputPanel id="RMcommentsPanel" rendered="{!activityORSTDetails[rec.Activity_or_Task_Id__c].RM_Comments__c != NULL}">
                                                    <span title="{!activityORSTDetails[rec.Activity_or_Task_Id__c].RM_Comments__c}">       
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].RM_Comments__c}
                                                    </span>                                                        
                                                </apex:outputPanel>                                      
                                        </div>
                                    </td>
                                    <!-- DOS Comments -->
                                    <td style="padding-right:10px">                                                
                                        <div style="width: 250px;white-space: break-spaces;word-break: break-word;">
                                            
                                                <apex:outputPanel id="DOScommentsPanel" rendered="{!activityORSTDetails[rec.Activity_or_Task_Id__c].DOS_Comments__c != NULL}">
                                                    <span title="{!activityORSTDetails[rec.Activity_or_Task_Id__c].DOS_Comments__c}">       
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].DOS_Comments__c}
                                                    </span>
                                                </apex:outputPanel>                                             
                                        </div>
                                    </td>
                                     <!-- HOS Comments -->
                                    <td style="padding-right:10px">                                                
                                        <div style="width: 250px;white-space: break-spaces;word-break: break-word;">
                                            
                                                <apex:outputPanel id="HOScommentsPanel" rendered="{!activityORSTDetails[rec.Activity_or_Task_Id__c].HOS_Comments__c != NULL}">
                                                    <span title="{!activityORSTDetails[rec.Activity_or_Task_Id__c].HOS_Comments__c}">       
                                                    {!activityORSTDetails[rec.Activity_or_Task_Id__c].HOS_Comments__c}
                                                    </span>                                                        
                                                </apex:outputPanel>                                             
                                        </div>
                                    </td>

                                    <td style="padding-right:10px" title="Edit Comment"> 
                                        <a onclick="editComments('{!rec.Activity_or_Task_Id__c}'); return false">
                                            <img src="{!$Resource.ActivityManager}" style="width:20px " />
                                        </a>
                                    </td>

                                    <td style="padding-right:10px">                                                
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c == NULL}">
                                            <span style="{!IF(activityORSTDetails[rec.Activity_or_Task_Id__c].Status == 'Completed','background:lightgreen','background: rgb(194, 57, 52);color: white;')}">
                                            {!activityORSTDetails[rec.Activity_or_Task_Id__c].Status}
                                            </span>
                                        </apex:outputPanel> 
                                        <apex:outputPanel rendered="{!rec.Related_to_Sales_Tours__c != NULL}">
                                            <span style="{!IF(activityORSTDetails[rec.Activity_or_Task_Id__c].Status__c == 'Completed','background:lightgreen','background: rgb(194, 57, 52);color: white;')}">
                                            {!activityORSTDetails[rec.Activity_or_Task_Id__c].Status__c}
                                            </span>
                                        </apex:outputPanel>                                             
                                    </td>

                                    <td style="padding-right:10px"> 
                                        {!activityORSTDetails[rec.Activity_or_Task_Id__c].Owner.Name}
                                    </td>

                                    
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </apex:outputPanel>
               
                <div id="commentsModal" class="slds-hide" >
                    
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                                 aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                             <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <h2 class="slds-text-heading_medium slds-hyphenate">EDIT DETAILS/ATTENDEES</h2>
                                </header>
                                
                                <div class="slds-modal__content slds-p-around_medium" id="taskComments" style="height:100%">
                                     
                                     <input type="hidden" id="taskID" />
                                    <div style="{!if($ObjectType.Task .fields.Description.Updateable, '', 'display:none')}">
                                        <label class="slds-form-element__label">Comments </label>
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                                    <div>
                                                        <apex:outputPanel id="commentsModalPanel">
                                                            <apex:inputField id="Comments" value="{!taskRecord.Description}" styleClass="field slds-input"/> 
                                                        </apex:outputPanel> 
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>  
                                    </div>
                                </div> 
                                
                                <div class="slds-modal__content slds-p-around_medium" id="taskRMComments" style="height:100%">
                                    <div style="{!if($ObjectType.Task .fields.RM_Comments__c.Updateable, '', 'display:none')}">
                                        <label class="slds-form-element__label">RM Comments </label>
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                                    <div>
                                                        <apex:outputPanel id="commentsModalPanel2">
                                                        <apex:inputField id="RMComments" value="{!taskRecord.RM_Comments__c}" styleClass="field slds-input"/>  
                                                        </apex:outputPanel> 
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>  
                                    </div>
                                </div> 
                                
                                <div class="slds-modal__content slds-p-around_medium" id="taskDOSComments" style="height:100%">
                                    <div style="{!if($ObjectType.Task .fields.DOS_Comments__c.Updateable, '', 'display:none')}">
                                        <label class="slds-form-element__label">DOS Comments </label>
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                                    <div>
                                                        <apex:outputPanel id="commentsModalPanel3">
                                                        <apex:inputField id="DOSComments" value="{!taskRecord.DOS_Comments__c}" styleClass="field slds-input"/>  
                                                        </apex:outputPanel> 
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>  
                                    </div>
                                </div> 
                                <div class="slds-modal__content slds-p-around_medium" id="taskHOSComments" style="height:100%">
                                    <div style="{!if($ObjectType.Task .fields.HOS_Comments__c.Updateable, '', 'display:none')}">
                                        <label class="slds-form-element__label">HOS Comments </label>
                                        <div class="slds-form__row">
                                            <div class="slds-form__item" role="listitem">
                                                <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                                    <div>
                                                    <apex:outputPanel id="commentsModalPanel4">
                                                        <apex:inputField id="HOSComments" value="{!taskRecord.HOS_Comments__c}" styleClass="field slds-input"/>  
                                                        </apex:outputPanel> 
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>  
                                    </div>
                                </div> 
                                
                                <footer class="slds-modal__footer">
                                    
                                    <button onclick="saveTask();return false;" id="saveBtn" 
                                        class="slds-button slds-button--brand">
                                            Save
                                    </button>
                                    <button style="background-color:white !important" class="slds-button slds-button_neutral"
                                           onclick="hideModal();return false;" >Cancel</button>   
                                                                                 
                                </footer>
                            </div>                           
                        </section>         
                    <div class="slds-backdrop slds-backdrop_open"></div>
                    
                </div>
                
            </apex:form>
            <script>
                function validateFilters(){
                    var fieldsMissing = '';
                    $('.required').each(function() {
                        var val = $(this).val();
                        var fieldLabel = $(this).attr('fieldLabel');
                        if (val == '' && fieldsMissing == '')
                            fieldsMissing = 'Required Fields Missing: '+fieldLabel;
                    });
                    
                    if (fieldsMissing == '')
                        reload();
                    else {
                        toastr.options.positionClass = "toast-top-center";
                        toastr.warning(fieldsMissing); 
                    }

                }
                function mapMeetingType(val){
                    document.getElementById('pg:frm:relatedToFilter').value = '';
                    document.getElementById('relatedToVal').value = '';
                    document.getElementById('pg:frm:meetingTypeFilter').value = val;
                    document.getElementById('statusVal').value = '';
                    document.getElementById('statusVal').options[0].selected = 'selected';
                    document.getElementById('pg:frm:statusFilter').value = '';
                
                
                    if(val == 'ST') {
                        document.getElementById('pg:frm:statusFilter').value = '';
                        document.getElementById('pg:frm:statusFilter').disabled= true;
                        document.getElementById('statusVal').style.display='none';
                        document.getElementById('statusValLabel').style.display='none';
                    } else {
                        document.getElementById('pg:frm:statusFilter').disabled= false;
                        document.getElementById('pg:frm:statusFilter').value = '';
                        document.getElementById('statusVal').style.display='block';
                        document.getElementById('statusValLabel').style.display='block';
                    }

                    if ($("#relatedToVal option[value='Customer']").length > 0) {} else {
                        $("#relatedToVal").append('<option value="Customer">Customer</option>');
                    }
                    if ($("#relatedToVal option[value='Agency']").length > 0) {} else {
                        $("#relatedToVal").append('<option value="Agency">Agency</option>');
                    }

                    if (val == 'IM'){
                        document.getElementById('pg:frm:relatedToFilter').value = '';
                        document.getElementById('relatedToVal').value = '';
                        document.getElementById('relatedToVal').disabled = true;    
                    } else
                        document.getElementById('relatedToVal').disabled = false;

                    if (val == 'ST'){
                        $("#relatedToVal option[value='Customer']").remove();
                        $("#relatedToVal option[value='Agency']").remove();
                    }

                }

                function mapRelatedTo(val){
                    document.getElementById('statusVal').value = '';
                    document.getElementById('statusVal').options[0].selected = 'selected';
                    document.getElementById('pg:frm:statusFilter').value = '';
                
                    document.getElementById('pg:frm:relatedToFilter').value = val;  
                }
                
                function editComments(taskId){
                    
                    document.getElementById('taskID').value = taskId;
                    
                    if (taskId.startsWith('00T'))
                        getTaskCommentsAction(taskId);
                                            
                }
                function openModal(){
                     clearPreviousValues();
                     $('#commentsModal').removeClass('slds-hide');
                     
                }
                function hideModal(){
                    document.getElementById('taskID').value = '';
                    $('#commentsModal').addClass('slds-hide');                    
                    window.scrollTo(0, 0);
            }
                
                function clearPreviousValues() {
                    $('.field').each(function(){
                        $(this).val('');
                    });
                }
                
                function saveTask(){
                    
                    var taskId = document.getElementById('taskID').value; 
                    taskUpsertAction(taskId);
                }
            </script>
        </body>
    </html>
    
</apex:page>