<apex:page controller="DAMAC_DialingList_Controller" id="pg" showHeader="false">
    <apex:form id="frm">
    <head>           
        <title>Dialer</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <apex:pageMessages id="msg"/>    
    
    <apex:includeScript value="{!$Resource.waybeo_updated}"/>
    
    <div class="slds-form-element slds-hide" style="display:none" id="enableDialer">
        <input type="hidden" id="userExt" value="{!userExtension}" />
        <input type="hidden" id="mobileNum" value="{!mobileNumber}" />
        <dl class="slds-list_horizontal slds-wrap ">
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Dialing Enabled">Dialing Enabled:</dt>
            <dd class="slds-item_detail slds-truncate">{!enableDialing}</dd>
            
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Online status">Online status:</dt>
            <dd class="slds-item_detail slds-truncate">{!isUseronline}</dd>
            
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="To Dial List">To Dial List:</dt>
            <dd class="slds-item_detail slds-truncate">
                <apex:variable value="{!0}" var="index"/>
                <apex:repeat value="{!todialList}" var="rec" id="rep">
                    <apex:outputPanel rendered="{!if (index == 0, true, false)}">
                        <input type="text" value="{!rec.Id}" id="dialFirstId"/>
                    </apex:outputPanel>
                    <apex:inputtext value="{!rec.Id}" id="didId" />
                    <apex:inputtext value="{!rec.Inquiry__c}" id="didInqId" />
                </apex:repeat>
            </dd>
            
            <dt class="slds-item_label slds-text-color_weak slds-truncate" title="All Pass">All Pass:</dt>
            <dd class="slds-item_detail slds-truncate">{!prechecksPass}</dd>
        </dl>
    </div>
   
    <apex:actionFunction action="{!updateAvailiableStatus}" name="funMakeAway" reRender="frm,msg,enableDial"/>
    <apex:actionPoller action="{!init}" enabled="true" interval="5" rerender="frm,msg,enableDial,rep"/>
    
    <input type="hidden" id='oncallid' />
    
     <center><label>My Dialer Status</label>
        <apex:inputField value="{!activeLog.Off_Reason__c}" id="enableDial" onchange="funMakeAway();"/>
        <script>
            var x = document.getElementById("pg:frm:enableDial");
            x.remove(0);
        </script>
        
        <br/><br/>
        <apex:outputPanel rendered="{!todialList.size == 0}">
            <h1 style="color:red">No Calls to Dial</h1>
        </apex:outputPanel>
         
        <apex:commandButton action="{!reset}" value="Reset" reRender="frm"/>  
    </center>
    <script>
        var gmyWin = null;
        console.log ({!prechecksPass});
        console.log (document.getElementById ('oncallid').value);
         if ({!!prechecksPass} ){
             readEvents();
         }
         var dialListFirstID = document.getElementById ('dialFirstId');
         if (dialListFirstID) {
             dialListFirstID = dialListFirstID.value;
         }
        if ({!prechecksPass} && dialListFirstID !='' && ( dialListFirstID != document.getElementById ('oncallid').value) || (document.getElementById ('oncallid').value =='') ){
            var toDialistId = document.getElementById ('pg:frm:rep:0:didId').value;
            var toDialListInq = document.getElementById ('pg:frm:rep:0:didInqId').value;
            document.getElementById ('oncallid').value = toDialistId; 
            if (toDialistId != '' && toDialistId != undefined) {
                DAMAC_DialingList_Controller.unlockDialing(toDialistId, 'Dialing',  function (result, event)
                {
                    if (event.status) {   
                        var userExt = document.getElementById ('userExt').value;    
                        var mobile = document.getElementById ('mobileNum').value;     
                        console.log('Encrypted==='+mobile);
                        Waybeo.makecall(userExt, mobile);    
                        var newwindow = window.open('/apex/DialerListener?inqId='+toDialListInq+'&dId='+toDialistId, 'dialer', 'width=1200,height=800,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=10,top=5');
                        if (window.focus) {
                            newwindow.focus();
                        }
                        
                        if (!newwindow.closed) {
                            newwindow.focus();
                        }
                        window.location.reload();                        
                    }
                });
                
            }
            
        }else{
            if({!enableDialing}){         
                readEvents();
            }
        }  
        
        
        function readEvents() {
            
            var userExt = document.getElementById ('userExt').value;
            console.log (userExt);
            Waybeo.agent (userExt, function(data){               
                var resultData = data;
                console.log (data);
                data = JSON.parse(data); 
                var direction = data.direction;
                if (direction == 'Outbound') {
                    if (data.status == 'Completed') {
                        console.log (data.status);
                        console.log (data.customer_clid);
                        console.log (data.CallID);
                        console.log (data.agent_ext);
                        var datacallId = data.CallID;
                        DAMAC_DialingList_Controller.unlockDialingCallId(datacallId , 'Dialing Complete',  function (result, event)
                        {
                            if(event.status){
                                console.log('DID update completed first time');    
                            }else{
                                console.log('DID update Failed');    
                                DAMAC_DialingList_Controller.unlockDialingCallId(datacallId , 'Dialing Complete',  function (result1, event1){
                                    console.log('DID update Retry Complete');
                                });
                            }
                            
                        });
                    }
                }                        
            }); 
        } 
       
        function myOpenWindow(winURL, winName, winFeatures, winObj){
            console.log('called');
            var theWin; // this will hold our opened window 
            
            // first check to see if the window already exists
            if (winObj != null){
                // the window has already been created, but did the user close it?
                // if so, then reopen it. Otherwise make it the active window.
                if (!winObj.closed) {
                    console.log('open');
                    winObj.focus();
                    return winObj;
                } 
                // otherwise fall through to the code below to re-open the window
            }
        
            // if we get here, then the window hasnot been created yet, or it
            // was closed by the user.
            theWin = window.open(winURL, winName, winFeatures); 
            theWin.focus();
            return theWin;
        }
    </script>
    
       
    
    </apex:form>
</apex:page>