<apex:page showheader="false" sidebar="false" standardStylesheets="false" Controller="DisplayRelatedUnitsController">
    <html>
        <head>            
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
            <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/>
            <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"/>
            <apex:styleSheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css"/>
            <apex:includescript value="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" />
            <apex:stylesheet value="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css" />
            <apex:includeScript value="{!URLFOR($Resource.PortalAssets, 'assets/js/upload.js')}"/>
            
            <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
            <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/style.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/bootstrap-datepicker.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.PortalAssets, 'assets/css/bootstrap-multiselect.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.assets, 'assets/css/diff-theme.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/normalize.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-default.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-style-bar.css')}"/>
            <apex:slds />          
            <apex:variable value="{!CONTAINS($CurrentPage.URL, 'lightning.force.com')}" var="isLightningMode"/>

            <style>
                .slds-scope:not(html), .slds-scope body{
                    font-size: 1.5rem !important;
                }
                .slds-modal__container, .slds-text-heading_medium {
                    font-size: 2.0rem !important;
                    max-width: 80rem !important;
                }
                .row {margin-left: 0px !important;}
                table.dataTable {width: 97%!important;margin-left: 0px;}
                select{border-radius: 15px!important;}
                input{border-radius: 15px!important;}
                textarea{border-radius: 15px!important;height: 80px!important;}
                .message{
                    border: 1px solid #b7bec5 !important;
                    width: 96% !important;
                    margin-left: 1% !important;
                    border-radius: 15px !important;
                    padding: 5px !important;
                    box-shadow: 10px 10px 20px -5px !important;
                    font-weight: bold !important;
                }
                .sectionClass {
                    border: 1px solid #b7bec5;
                    width: 97%;
                    margin-left: 1%;
                    border-radius: 15px;
                    padding: 5px;
                    box-shadow: 10px 10px 20px -5px;
                }
                .hideClass {
                    display:none;
                }
            </style>    
            
        </head>
        <body>            
            <apex:form id="frm">
                
                <apex:inputHidden value="{!poaAttachmentBody}" id="POAAttachBody"/>
                <apex:inputHidden value="{!poaAttachmentName}" id="POAAttachName"/>
                <apex:actionStatus id="blockUI" onStart="startProcess();" onStop="endProcess();"/>
                <div id="spinnerIcon" style="display:none">
                    <div id="assign-action-spinner-content">
                        <!-- <img src="/img/analytics/reportbuilder/icons/spinner32.gif" alt="Processing..." title="Processing..." /> <p>Processing...</p> -->
                        <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px; height:50px; position:fixed; top:50%; left:50%; z-index:10;"/>
                    </div>
                </div>
               <!-- <apex:inputHidden value="{!jsonOfAddDocsList }" id="additionalDocs"/> -->
                <section >
                <apex:pageMessages id="pgMsg"/>
                    <apex:outputPanel layout="block" styleClass="row">
                         <apex:outputPanel layout="block" styleClass="col-md-12" id="mainPanel" >
                            <apex:outputPanel >
                                <br/>
                                <section class="sectionClass">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>Property</label>
                                                    <apex:selectList id="propertyName" multiselect="false" styleClass="form-control propertyName" size="1" value="{!strPropertyType}"> 
                                                        <apex:selectOptions value="{!selectedPropertyType }"/>                                                        
                                                    </apex:selectList>
                                                     <!--  <apex:actionSupport event="onchange" action="{!PropList}" rerender="PropertyPanel" status="blockUI"/> -->
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required">*</span>Unit Number</label>
                                                    <apex:inputText styleClass="form-control" value="{!strUnitNumber}"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Communication</label>
                                                    <apex:selectList id="commName" multiselect="false" styleClass="form-control communication" size="1" value="{!strCommType}"> 
                                                        <apex:selectOptions value="{!selectedModeOfComm}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>One Email per Customer</label>
                                                    <apex:selectList id="noEmail" multiselect="false" styleClass="form-control noOfMail" size="1" value="{!strNoEmails}"> 
                                                        <apex:selectOptions value="{!selectedNoEmails}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div>
                                    </div>  
                                    
                                    <div class="row">
                                        <!--<div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Preferred Language</label>
                                                    <apex:selectList id="Lang" multiselect="false" styleClass="form-control propertyName" size="1" value="{!strPrefLanguage}"> 
                                                        <apex:selectOptions value="{!selectedPrefLanguage}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div>  -->
                                        
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>From Address</label>
                                                    <apex:selectList id="fromAddress" multiselect="false" styleClass="form-control fromAddress" size="1" value="{!strFromAddress}"> 
                                                        <apex:selectOptions value="{!selectedFromAddress}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>SMS Template</label>
                                                    <apex:selectList id="smsTemp" multiselect="false" styleClass="form-control smsTemp" size="1" value="{!strSMSTemplate}"> 
                                                        <apex:selectOptions value="{!selectedSMSTemplate}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Reply To</label>                                                    
                                                    <apex:selectList styleClass="form-control replyTo" size="1" value="{!strReplyTo}"> 
                                                        <apex:selectOptions value="{!selectedReplyTo}"/>  
                                                    </apex:selectList>    
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Email Tempelate</label>                                                    
                                                     <apex:selectList styleClass="form-control emailTemplate" size="1" value="{!strEmailTempelate}"> 
                                                        <apex:selectOptions value="{!selectedEmailTempelate}"/>  
                                                    </apex:selectList> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Email Engine</label>
                                                    <apex:selectList id="Email" multiselect="false" styleClass="form-control mail" size="1" value="{!strEmailEngine}"> 
                                                        <apex:selectOptions value="{!selectedEmailEngine}"/>  
                                                    </apex:selectList>
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required"></span>Report Type</label>                                                    
                                                    <apex:selectList styleClass="form-control reportType" size="1" value="{!strReportType}"> 
                                                        <apex:selectOptions value="{!selectedReportTypes}"/>  
                                                    </apex:selectList>    
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required"></span>Allow Disputed Units</label>                                                    
                                                    <apex:selectList styleClass="form-control dispute" size="1" value="{!strDispute}"> 
                                                        <apex:selectOptions value="{!allowDisputes}"/>  
                                                    </apex:selectList>    
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required"></span>Quarter</label>                                                    
                                                    <apex:selectList styleClass="form-control quarter" size="1" value="{!strQuarter}"> 
                                                        <apex:selectOptions value="{!selectedQuarter}"/>  
                                                    </apex:selectList>    
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label><span class="required"></span>Muliple Emails</label>                                                    
                                                    <apex:selectList styleClass="form-control multiple" size="1" value="{!strMultipleMails}"> 
                                                        <apex:selectOptions value="{!selectedMultipleEmails}"/>  
                                                    </apex:selectList>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">  
                                        <div class="col-lg-6">                                      
                                            <div class="form-group">  
                                                <apex:commandButton status="blockUI" value="Show Units"  action="{!displayRecords}" id="theButton" reRender="bookingUnitPanel,pgMsg" onClick="showUnits();" onComplete="displayTable();"/> &nbsp;                                                                                       
                                                <apex:commandButton status="blockUI" value="Add Extra Attchment" action="{!showAddDocs}" id="AddDocs" reRender="NewPPPanel" onClick="showHideSection();"/> &nbsp;                                             
                                                <apex:commandButton status="blockUI" value="Set Schedule" action="{!setSchedule}" id="schedule" reRender="SchedulePanel" onClick="showHideSchedSection();" onComplete="initiateDatePicker();displaySchedSection();"/>&nbsp;
                                                <apex:commandButton status="blockUI" value="Import From CSV" action="{!showImport}" id="import" reRender="upload, bookingUnitPanel" onClick="showHideImportSection();" onComplete="displayTable();"/>
                                            </div>                                   
                                        </div>
                                   </div>                                    
                                                                                              
                                </section>                                                                               
                            </apex:outputPanel>                             
                         </apex:outputPanel>
                     </apex:outputPanel>
                </section>
                <br/>  
                 <!--AKISHOR: to display properties list-->
                 <!--  <section class="sectionClass">
                 
                <apex:outputPanel layout="block" styleClass="col-md-12" id="PropertyPanel">
                <apex:outputPanel rendered="{!strPropertyType=='Property'}" layout="block" styleClass="col-md-12">
                <apex:commandButton status="blockUI" value="Fetch Units" action="{!displayUnits}" id="theButton1" reRender="bookingUnitPanel" onClick="showUnits();" onComplete="displayTable();"/> &nbsp; 
               <apex:datatable id="PropertyTable" value="{!LstPropList}" var="wrap" styleClass="slds-table slds-table_bordered slds-table_cell-buffer">
                            <apex:column headerValue="#">
                                <apex:facet name="header">
                                    <apex:inputCheckbox styleClass="selectAllCls" onchange="checkAll(this);" id="selectAllIdCheckbox">
                                        <apex:actionSupport event="onchange" reRender="bookingUnitPanel"/>
                                    </apex:inputCheckbox>
                                </apex:facet>
                                <apex:inputCheckbox value="{!wrap.BlnProperties}" styleClass="selectedClass"/>                                
                            </apex:column>
                            <apex:column headerValue="Property Name">
                               {!wrap.strName}
                            </apex:column>
                       </apex:datatable>
                    </apex:outputPanel>                                                         
                </apex:outputPanel> 
                </Section>-->
                <Section id="upload" class="sectionClass">
                    <apex:outputPanel id="UploadPanel" layout="block" styleClass="row">
                        <apex:outputPanel layout="block" styleClass="col-md-12" id="uploadSection">
                            <div>
                                <h4>
                                    <b>Upload CSV</b>
                                </h4>                               
                                <div class="col-lg-4">
                                    <!--<apex:inputFile value="{!poaAttachmentBody}" accept="csv" contentType="text/csv" /> -->
                                    <input type="file" id="inputFileSellerPOA"
                                       class="inputFilePOA"
                                       onchange="attachPOAFile();"/>                             
                                </div>
                                <div class="col-lg-4">
                                    <apex:commandButton value="Parse CSV" action="{!parseCSV}" id="parseButton" reRender="bookingUnitPanel" onComplete="displayTable();"/>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel>
                </Section>
                <br/>             
                <section id="addDocId" class="sectionClass" >
                <apex:outputPanel id="NewPPPanel" layout="block" styleClass="row">                  
                    <apex:outputPanel rendered="{!isAddDoc}" layout="block" styleClass="col-md-12" id="mainPanel2">                                                            
                        <div>
                            <h4>
                                <b>Additional Documents </b>
                            </h4>
                            <table class="paymentDue table table-striped payTerm" cellpadding="10" width="100%">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>
                                            <b>Document Name</b>
                                        </th>
                                        <th>
                                            <b>Document URL</b>
                                         </th>
                                         <th>Action</th>
                                     </tr>
                                  </thead>                                                    
                                  <tbody>
                                  <apex:variable value="{!0}" var="rowNum"/>
                                  <apex:repeat value="{!lstAdditionalDocs }" var="doc">
                                      <tr class="docTR">
                                          <td>
                                              <apex:inputText value="{!doc.docName}"/>
                                           </td>
                                           <td>
                                               <apex:inputText value="{!doc.docURL}"/>
                                           </td>
                                           <td>
                                               <apex:commandLink style="color:red" 
                                                   action="{!removeDoc}" value="Remove" rerender="NewPPPanel">
                                                    <apex:param value="{!rowNum}" name="rowToRemove" assignTo="{!rowToRemove}"/>
                                               </apex:commandLink>
                                               <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                               <apex:commandLink style="color:blue"
                                                   action="{!addDoc}" value="/ Add Attachment" rerender="NewPPPanel" >
                                               </apex:commandLink>
                                            </td>
                                         </tr>                                              
                                   </apex:repeat>
                                   </tbody>
                               </table>
                              </div>   
                                                                
                        </apex:outputPanel>                        
                     </apex:outputPanel>
                    </section>
                     
                <br/>
                <section id ="schedSection" class="sectionClass">
                    <apex:outputPanel id="SchedulePanel" layout="block" styleClass="row">
                        <apex:outputPanel rendered="{!isSchedule}" layout="block" styleClass="col-md-12" id="mainPanel3">
                            <div>
                                <h4>
                                    <b>Schedule Mail Mechanism</b>
                                </h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Frequency</label>
                                            <apex:selectList id="freq" multiselect="false" styleClass="form-control frequency" size="1" value="{!strFrequency}" onchange="displaySchedSection();"> 
                                                <apex:selectOptions value="{!selectedFrequency}"/>                                                  
                                            </apex:selectList>
                                     </div>
                                 </div>
                                 <!--<div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Recurs every week on</label>
                                            <apex:selectList id="day" multiselect="false" styleClass="form-control day" size="1" value="{!strDay}"> 
                                                <apex:selectOptions value="{!selectedDay}"/>  
                                            </apex:selectList>
                                     </div>
                                 </div>-->
                                 <!--<div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Preferred Start Time</label>
                                            <apex:selectList id="time" multiselect="false" styleClass="form-control propertyName" size="1" value="{!strTime}"> 
                                                <apex:selectOptions value="{!selectedTime}"/>  
                                            </apex:selectList>
                                     </div>
                                 </div>-->
                                 <!--<div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Start Date</label><br/>
                                        <apex:inputText styleClass="datepicker" value="{!strSelectedDate}" />
                                    </div>
                                </div>-->
                            </div>
                            <div id="monthly" Class="row">
                                <apex:outputPanel styleClass="col-md-12">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>On day of every month</label>
                                                <apex:selectList id="date" multiselect="false" styleClass="form-control dayOfMonth" size="1" value="{!strDate}"> 
                                                    <apex:selectOptions value="{!selectedDate}"/>  
                                                </apex:selectList>
                                         </div>
                                     </div>
                                 </apex:outputPanel>
                            </div>
                            <div id="daily" Class="row">
                                <apex:outputPanel styleClass="col-md-12">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Preferred Start Time</label>
                                            <apex:selectList id="time" multiselect="false" styleClass="form-control time" size="1" value="{!strTime}"> 
                                                <apex:selectOptions value="{!selectedTime}"/>  
                                            </apex:selectList>
                                         </div>
                                     </div>
                                 </apex:outputPanel>
                            </div>
                            <div id="weekly" Class="row">
                                <apex:outputPanel styleClass="col-md-12">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                        <label>Recurs every week on</label>
                                            <apex:selectList id="day" multiselect="false" styleClass="form-control day" size="1" value="{!strDay}"> 
                                                <apex:selectOptions value="{!selectedDay}"/>  
                                            </apex:selectList>
                                        </div>
                                     </div>
                                 </apex:outputPanel>
                            </div>
                            <div id="onDate" Class="row">
                                <apex:outputPanel styleClass="col-md-12">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Start Date</label><br/>
                                            <apex:inputText styleClass="datepicker" value="{!strSelectedDate}" />
                                         </div>
                                     </div>
                                     <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Preferred Start Time</label>
                                            <apex:selectList id="time1" multiselect="false" styleClass="form-control time" size="1" value="{!strTime}"> 
                                                <apex:selectOptions value="{!selectedTime}"/>  
                                            </apex:selectList>
                                         </div>
                                     </div>
                                 </apex:outputPanel>
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel>
                </section>
                <br/>                 
                <section class="sectionClass">
                    <apex:commandButton status="blockUI" value="Generate Documents" onClick="generateDocumentURL()" reRender="bookingUnitPanel" onComplete="displayTable();"/> &nbsp;
                    <apex:commandButton status="blockUI" value="Send Email/SMS" onClick="sendEmail()" reRender="bookingUnitPanel" onComplete="displayTable();"/>
                    <apex:outputPanel layout="block" id="bookingUnitPanel">           
                        <apex:datatable id="caseTable" value="{!lstBookingUnitWrapper}" var="wrap" styleClass="slds-table slds-table_bordered slds-table_cell-buffer">
                            <apex:column headerValue="#">
                                <apex:facet name="header">
                                    <apex:inputCheckbox styleClass="selectAllCls" onchange="checkAll(this);" id="selectAllIdCheckbox">
                                        <apex:actionSupport event="onchange" reRender="bookingUnitPanel"/>
                                    </apex:inputCheckbox>
                                </apex:facet>
                                <apex:inputCheckbox value="{!wrap.includeInMailing}" styleClass="selectedClass"
                                    html-data-regId="{!wrap.bookingUnitObj.Id}-{!wrap.bookingUnitObj.Registration_ID__c}"/>                        
                            </apex:column>
                            <apex:column headerValue="Unit Name">
                               <!-- <apex:outputField value="{!wrap.bookingUnitObj.Unit_Name__c }"></apex:outputField>   -->
                                <apex:outputLink rendered="{! isLightningMode == false}" value="/{!wrap.bookingUnitObj.Id}" target="_blank">{!wrap.bookingUnitObj.Unit_Name__c}</apex:outputLink>
                                <apex:outputLink rendered="{!isLightningMode}" value="{!'/one/one.app?#/sObject/'+ wrap.bookingUnitObj.Id + '/view'}" target="_blank" id="theLinkPayment">{!wrap.bookingUnitObj.Unit_Name__c}</apex:outputLink>                      
                            </apex:column>
                             <apex:column headerValue="Party Id">
                                <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.Party_ID__c}"></apex:outputField>                         
                            </apex:column>                          
                            <apex:column headerValue="Registration Id">
                                <apex:outputField value="{!wrap.bookingUnitObj.Registration_ID__c}"></apex:outputField>                         
                            </apex:column>
                            <apex:column headerValue="Party Name">
                              <!--  <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.Name}"></apex:outputField> -->
                                <apex:outputLink rendered="{! isLightningMode == false}" value="/{!wrap.bookingUnitObj.Booking__r.Account__c}" target="_blank">{!wrap.bookingUnitObj.Booking__r.Account__r.Name}</apex:outputLink>
                                <apex:outputLink rendered="{!isLightningMode}" value="{!'/one/one.app?#/sObject/'+ wrap.bookingUnitObj.Booking__r.Account__c + '/view'}" target="_blank" >{!wrap.bookingUnitObj.Booking__r.Account__r.Name}</apex:outputLink>                        
                            </apex:column>
                            <apex:column headerValue="Primary Language">
                                <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.Primary_Language__c}"></apex:outputField>                         
                            </apex:column>
                            <apex:column headerValue="Generated URLs">
                                <apex:outputField value="{!wrap.bookingUnitObj.URLs_of_Document__c}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="No of URLs">
                                <apex:outputField value="{!wrap.bookingUnitObj.No_of_URL_Documents__c}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="ZB Email Status">
                                <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.ZBEmailStatus__c}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Notice Sent Date">
                                <apex:outputField value="{!wrap.bookingUnitObj.FM_Notice_Sent_Date__c}"></apex:outputField>
                            </apex:column>
                            <apex:column headerValue="Resident Country">
                                <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.Country__pc}"></apex:outputField>                         
                            </apex:column>
                            <apex:column headerValue="Nationality">
                                <apex:outputField value="{!wrap.bookingUnitObj.Booking__r.Account__r.Nationality__pc}"></apex:outputField>                         
                            </apex:column>
                            <apex:column headerValue="FM Outstanding Amount">
                                <apex:outputField value="{!wrap.bookingUnitObj.FM_Outstanding_Amount__c}"></apex:outputField>                         
                            </apex:column>
                            <apex:column headerValue="Dispute Flag">
                                <!--<apex:outputField value="{!wrap.bookingUnitObj.Dispute__c}"></apex:outputField>-->
                                <apex:outputText value="{!wrap.bookingUnitObj.Dispute_Flag__c}"/>                        
                            </apex:column>
                            <apex:column headerValue="Handover Flag">
                                <!--<apex:outputField value="{!wrap.bookingUnitObj.Handover_Complete__c}"></apex:outputField> --> 
                                <apex:outputText value="{!wrap.bookingUnitObj.Handover_Flag__c}"/>                       
                            </apex:column>
                            <apex:column headerValue="Mortgage Flag">
                                <!--<apex:outputField value="{!wrap.bookingUnitObj.Mortgage__c}"></apex:outputField> -->
                                <apex:outputText value="{!IF(wrap.bookingUnitObj.Finance_Flag__c = 'M','Y','N')}"/>                       
                            </apex:column>
                       </apex:datatable>
                    </apex:outputPanel>
                 </Section>
                 <apex:outputPanel styleClass="error_popup" style="height: 1240px; display:none;" layout="block">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container" id="resend">
                            <header class="slds-modal__header">
                                <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <!-- <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate errorModel">Some of the units are not eligible for sending handover notice</h2> -->
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate errorModel"></h2>
                            </header>
                            <footer class="slds-modal__footer">
                                <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showErrorPopup();" reRender="bookingUnitPanel" value="Cancel" oncomplete="displayTable();"/> <!-- oncomplete="bindEvents();"-->
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </apex:outputPanel> 
                
                <!-- pop-up for email preview -->
                <apex:outputPanel styleClass="emailPreview_popup" style="height: 640px; display:none;" layout="block">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container" id="resend">
                            <header class="slds-modal__header">
                                <button reRender="bookingUnitPanel" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Email Preview</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium emailContent" id="modal-content-id-1"></div>
                            <footer class="slds-modal__footer">
                                <apex:commandButton styleClass="slds-button slds-button_neutral" onclick="showPreviewEmailPopup();" reRender="bookingUnitPanel" value="Close" oncomplete="displayTable();"></apex:commandButton>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </apex:outputPanel>                               
            </apex:form>  
                <script>         
                    var caseTable;
                    var errorMessage;
                    var docType;
                    var lstBookingIds = [];
                    var map;
                    var urlCount;
                    var urlDocs;
                    var serviceMap = JSON.parse('{!JSONMap}');
                    var soaDocType = 'Statement Of Account';                    
                    console.log('!!!!!!!serviceMap'+serviceMap);
                    $(document).ready(function () {
                        displayTable();
                        initiateDatePicker();
                        showHideSection();
                        showHideSchedSection();
                        showHideImportSection();
                        displayPropertySection();
                    });
                    function initiateDatePicker() {
                        $('.datepicker').datepicker({
                            format: 'dd-mm-yyyy',
                            minDate: 0
                        });
                    }
                    function showHideSection() {
                        var x = document.getElementById("addDocId");                     
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }                        
                    }
                    function showHideSchedSection() {                        
                        var y = document.getElementById("schedSection");                        
                        if (y.style.display === "none") {
                            y.style.display = "block";
                        } else {
                            y.style.display = "none";
                        }
                    }
                    function showHideImportSection() {                        
                        var z = document.getElementById("upload");                        
                        if (z.style.display === "none") {
                            z.style.display = "block";
                        } else {
                            z.style.display = "none";
                        }
                    }
                    function displaySchedSection() {
                        var freq = $('.frequency').val();
                        var monthly = document.getElementById("monthly"); 
                        var onDate = document.getElementById("onDate");
                        var weekly = document.getElementById("weekly");
                        var daily = document.getElementById("daily");
                        console.log('!!!!!monthly'+monthly);
                        if (freq == 'None') {
                            monthly.style.display = "none";
                            onDate.style.display = "none";
                            weekly.style.display = "none";
                            daily.style.display = "none";
                        } else if (freq == 'Monthly') {
                            monthly.style.display = "block";
                            weekly.style.display = "none";
                            onDate.style.display = "none";
                            daily.style.display = "none";
                        } else if (freq == 'Weekly') {
                            weekly.style.display = "block";
                            monthly.style.display = "none";
                            onDate.style.display = "none";
                            daily.style.display = "none";
                        } else if (freq == 'On Date /Time') {
                            onDate.style.display = "block";
                            monthly.style.display = "none";
                            weekly.style.display = "none";
                            daily.style.display = "none";
                        }  else if (freq == 'Daily') {
                            onDate.style.display = "none";
                            monthly.style.display = "none";
                            weekly.style.display = "none";
                            daily.style.display = "block";
                        }                   
                    }
                    function displayTable(){
                        showUnits();
                    }
                    function showUnits() { 
                            
                            console.log('!!!!!showSize');                            
                           
                           /* caseTable = $('[id$="caseTable"]').DataTable({
                                
                                'retrieve': true,
                                'paging': true,
                                'lengthChange': true,
                                'searching': true,
                                'ordering': true,
                                'info': false,
                                'autoWidth': false,
                                "pageLength": 25,
                                columnDefs: [
                                    {
                                        orderable: false,
                                        targets: "no-sort"
                                    }
                                ],
                                dom: 'lBfrtip'                                
                                
                            });*/
                            
                            if (caseTable != undefined) {
                                caseTable.destroy();
                            }
                            caseTable = $('[id$="caseTable"]').DataTable({
                                initComplete: function () {
                                    var counter = 0;
                                    this.api().columns().every(function () {
                                        counter++;
                                        if (counter == 1 ) {
                                            return true;
                                        }
            
                                        var column = this;
                                        var select = $('<select class="filterCls" style="width: 90%"><option value="">--None--</option></select>').prependTo($(column.header())).on('change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                            console.log('!!!val'+val);
                                            
                                            if(!val){
                                                column.search(
                                                   ''
                                                 , true
                                                 , false
                                                ).draw();
                                                
                                            } else {
                                                column.search(
                                                      val == 'blank'
                                                        ? '^\s*$'
                                                        : '^' + val + '$'
                                                    , true
                                                    , false
                                                ).draw();
                                            }
                                            
                                            
                                        });
            
                                        column.data().unique().sort().each(function (d, j) {
                                            d = d ? d : 'blank';
                                            select.append('<option>' + d + '</option>')
                                        });
                                    });
            
                                    $('.filterCls').on('click', function () {
                                        return false;
                                    });
                                },
            
                                oLanguage: {
                                    sLengthMenu: "Show <select id='myselect' onChange='setWrapper();'><option value='10'>10</option><option value='20'>20</option><option value='50'>50</option><option value='100'>100</option><option value='-1'>All</option></select> Entries"
                                },
                                "iDisplayLength": 10,
                                //"iDisplayLength": showSize,
                                "columnDefs": [ {
                                    "targets": [0],
                                    "orderable": false
                                }],
                                "order": [1, "asc"]
                                
                                
                            });
                        }
                        
                     function generateDocumentURL() {                         
                         
                         docType = $('.reportType').val();
                         console.log('!!!!!!!!!docType'+docType);                         
                         lstBookingIds = [];
                         errorMessage = '';
                         var isError = false;
                         var ch = document.getElementsByClassName('selectedClass');
                         console.log('selected class' + ch);
                         if (docType == "None") {
                             console.log('!!!!!inside none');
                             errorMessage = 'Report Type is not selected to generate documents';
                             isError = true;
                         } else if (ch != null && ch != undefined && ch.length > 0) {
                             console.log('!!!ch'+ch);                             
                             for (var i = 0; i < ch.length; i++) {
                                 if (ch[i].checked) {
                                      var regId = $(ch[i]).attr('data-regid');                                
                                      lstBookingIds.push(regId);
                                  }
                                  console.log('!!!!!!!lstBookingIds'+lstBookingIds);
                             }
                         }                         
                         if (isError) {
                             showErrorPopup();
                         } else {
                             getDocuments();
                         }
                     }
                     
                     function checkAll(cb) {
                        // debugger;
                        var inputElem = document.getElementsByClassName("selectedClass");
                        for (var i = 0; i < inputElem.length; i++) {
                            inputElem[i].checked = cb.checked;
                            // if (inputElem[i] != undefined && inputElem[i].checked == false) {inputElem[i].checked = true; } else if (inputElem[i] != undefined && inputElem[i].checked == true) {     inputElem[i].checked = false; }
                        }
                    }
                     //function to display error message for non-eligible booking units
                    function showErrorPopup() {
                        var modal = document.getElementsByClassName('error_popup');
                        if (modal != null && typeof modal != 'undefined') {
        
                            var errorMessageEle = document.getElementsByClassName('errorModel');
                            if (errorMessageEle) {
                                errorMessageEle[0].innerText = errorMessage;
                            }
                        
                            // modal[0].style.display = 'block';
                            modal[0].style.display = modal[0].style.display === 'none'
                                ? 'block'
                                : 'none';                           
                        }
                    }
                    
                    function getDocuments() {
                        var regIdsToSend = [];
                        regIdsToSend = lstBookingIds;
                        console.log('docType+++++' + docType);

                        //Added on 5/9/19 to generate SOA
                        if(regIdsToSend != null && regIdsToSend.length > 0 && docType == soaDocType) {
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.getUnitSOA}'
                                                                , regIdsToSend ,  function (result, event) {
                                if (event.status) {
                                    if (result == 'SUCCESS') {
                                        console.log('The unit soa batch called successfully.');
                                    } else {
                                        $('#message').html('An error occurred and the SOA were not able to be generated. <a href="/' 
                                        + bookingUnitId 
                                        + '">Click here</a> to return to the Account.<br/>Error message: ' 
                                        + result);
                                    }
                                } 
                                else if (event.type === 'exception') {
                                    $('#message').html('An error occurred and the SOA were not able to be generated. <a href="/' 
                                    + bookingUnitId 
                                    + '">Click here</a> to return to the Account.<br/>Error message: ' 
                                    + event.message);
                                }
                                else {
                                    $('#message').html('An error occurred and the SOA were not able to be generated. <a href="/' 
                                    + bookingUnitId 
                                    + '">Click here</a> to return to the Account.<br/>Error message: ' 
                                    + event.message);
                                }           
                                    
                            });
                        }
                        if (regIdsToSend != null && regIdsToSend.length > 0 && docType != 'FM Quarterly Notice' && docType != soaDocType) {
                            var deferred;
                            for (var i = 0; i < regIdsToSend.length; i++) {
                                var regId = regIdsToSend[i];
                                console.log('!!!!!!!regId'+regId);
                                if (deferred == null) {
                                    deferred = executeBookingUnit(regId, docType);
                                } else {
                                    console.log('!!!!!!inside else deffered');
                                    deferred = executeBookingUnitAsync(regId, docType, deferred);
                                }
                            }                            
                            deferred.then(function () {
                                console.log('Zip created for all booking units');
                            });
                        } else if (regIdsToSend != null && regIdsToSend.length > 0 && docType == 'FM Quarterly Notice' ) {
                            var quarter = $('.quarter').val();
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.callFMBatch}', regIdsToSend , quarter,  function (result, event) {
                                if (event.status) {
                                    if (result == 'SUCCESS') {
                                        console.log('The batch called successfully.');
                                    } else {
                                        $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + result);
                                    }
                                } else if (event.type === 'exception') {
                                    $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                                } else {
                                    $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                                }           
                                    
                            });
                        }
                    }
                    
                    function executeBookingUnit(regId, docType, controlDeferred) {
                        var parentDeferred = controlDeferred || $.Deferred();
                        var listDef = [];
                        urlCount = 0;
                        urlDocs = '';
                        map = {};
                        /*if (docType == 'Unit SOA') {
                            console.log('!!!!inside docType');
                            var servicesName = serviceMap[docType]; 
                            console.log('!!!!inside servicesName'+servicesName );
                            var arrayServices = servicesName.split(',');
                            for (var i = 0; i < arrayServices.length; i++) {
                                var service = arrayServices[i];
                                var defferred1 = makeCallout(regId, docType, 0, parentDeferred , service);
                                listDef.push(defferred1);
                            }
                            //var defferred1 = makeCallout(regId, docType, 0, parentDeferred );
                        }
                        if (docType == 'FM SOA') {
                            console.log('!!!!inside docType');
                            var servicesName = serviceMap[docType]; 
                            console.log('!!!!inside servicesName'+servicesName );
                            var arrayServices = servicesName.split(',');
                            console.log('!!!!!!!!arrayServices'+arrayServices.length);                            
                            for (var i = 0; i < arrayServices.length; i++) {
                                var service = arrayServices[i];
                                var defferred1 = makeCallout(regId, docType, 0, parentDeferred , service);
                                listDef.push(defferred1);
                            }
                        }
                        if (docType == 'Penalty SOA') {
                            console.log('!!!!inside docType');
                            var servicesName = serviceMap[docType]; 
                            console.log('!!!!inside servicesName'+servicesName );
                            var arrayServices = servicesName.split(',');
                            //var defferred1 = makeCallout(regId, docType, 0, parentDeferred );
                            for (var i = 0; i < arrayServices.length; i++) {
                                var service = arrayServices[i];
                                var defferred1 = makeCallout(regId, docType, 0, parentDeferred , service);
                                listDef.push(defferred1);
                            }
                        }*/
                        var servicesName = serviceMap[docType]; 
                        console.log('!!!!inside servicesName'+servicesName );
                        var arrayServices = servicesName.split(',');
                        console.log('!!!!!!!!arrayServices'+arrayServices.length);
                        for (var i = 0; i < arrayServices.length; i++) {
                            var service = arrayServices[i];
                            var defferred1 = makeCallout(regId, docType, 0, parentDeferred , service);
                            listDef.push(defferred1);
                        }
                        $.when.apply($, listDef).then(function () {
                            console.log('!!!!!inside list deffered'+map);                              
                            for (var i in map) {
                                console.log('!!!!!!!!map'+map[i]); 
                                if (docType == 'Unit SOA' || docType == 'FM SOA' || docType == 'Penalty SOA') {
                                    console.log('!!!docsinside');
                                    urlDocs = map[i];
                                } else if (urlDocs == '') {
                                        urlDocs =  '<ul><li>' + map[i] + '</li></ul>';
                                } else {
                                    if (urlDocs.includes("</ul>")) {
                                        urlDocs = urlDocs.replace("</ul>", "");
                                    }
                                    urlDocs = urlDocs +'<li>' + map[i] + '</li></ul>';
                                }
                            }
                            $(".docTR").each(function(){                            
                                var docName = $(this).find("td:first input").val(); 
                                console.log('!!!!!!!!!docName '+docName ); 
                                var docURL =  $(this).find("td:nth-child(2) input").val();
                                console.log('!!!!!!!!!docURL'+docURL);
                                console.log('!!!docType'+docType);
                                if (docType == 'Unit SOA' || docType == 'FM SOA' || docType == 'Penalty SOA') {
                                    console.log('!!!docs');
                                    urlDocs = docURL;
                                } else if (urlDocs == '') {
                                        console.log('###docName'+docName);
                                        urlDocs =  '<ul><li>' + '<a href="'+ docURL + '" target="_blank">'+docName + '</a>' + '</li></ul>';
                                } else {
                                    if (urlDocs.includes("</ul>")) {
                                        urlDocs = urlDocs.replace("</ul>", "");
                                    }
                                    urlDocs = urlDocs +'<li>' + '<a href="'+ docURL + '" target="_blank">'+docName + '</a>' + '</li></ul>';
                                }
                            });
                            console.log('!!!!!!!!urlDocs'+urlDocs);            
                            console.log('!!!urlCount'+urlCount);
                            console.log('!!!!!subregId'+regId);
                            saveData(regId.substr(0, regId.indexOf('-')), parentDeferred, urlCount, urlDocs, docType);
                        });
                        return parentDeferred;
                    }
                    
                    function executeBookingUnitAsync(regID, docType, currentParentDeferred) {
                        console.log('!!!!!!!!executeBookingUnitAsync'+currentParentDeferred);
                        var parentDeferred = $.Deferred();
                        currentParentDeferred.then(function () {
                            console.log('!!!inside currentParentDeferred');
                            executeBookingUnit(regID, docType, parentDeferred);
                        });
                        return parentDeferred;
                    }
                    
                    function makeCallout(regId, docType, index, parentDeferred, serviceName) {
                        console.log('!!!!!!!makeCallOut'+regId);
                        console.log('!!!!!!!serviceName'+serviceName);
                        var quarter = $('.quarter').val();
                        console.log('!!!!quarter'+quarter);
                        var deferred = $.Deferred();
                        var param = {};
                        param['__service'] = serviceName;
                        param['regID_BUID'] = regId;
                        param['__temp'] = index;
                        param['__report'] = docType;
                        param['__quarter'] = quarter;
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.getDocumentURLs}', param , function (result, event) {
                            if (event.status) {
                                var respObj = JSON.parse(result);
                                console.log('*****respObj=', respObj);
                                if (respObj != null) {
                                    urlCount++;
                                    console.log('!!!!!!count'+urlCount);
                                    map[urlCount] = respObj.docURL;
                                }
                                deferred.resolve();
                                //parentDeferred.resolve();
                            } else {
                                deferred.resolve();
                                //parentDeferred.resolve();
                            }
                        }, {
                            buffer: false,
                            escape: false,
                            timeout: 120000
                        });
                        return deferred;                      
                    }
                    
                    function saveData(bookingUnitId, parentDeferred, noOfURLs, urlDocs, docType) {
                        console.log('!!!!!noOfURLs'+noOfURLs);
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.saveData}', bookingUnitId, noOfURLs, urlDocs, docType, function (result, event) {
                            if (event.status) {
                                if (result == 'SUCCESS') {
                                    console.log('The files were successfully generated and a new zip file has been attached to the booking units.');
                                } else {
                                    $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + result);
                                }
                            } else if (event.type === 'exception') {
                                $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                            } else {
                                $('#message').html('An error occurred and the XML files were not able to be generated. <a href="/' + bookingUnitId + '">Click here</a> to return to the Account.<br/>Error message: ' + event.message);
                            }
            
                            parentDeferred.resolve();        
                        });
                    }
                    
                    function sendEmail() {
                        lstBookingIds = [];
                        var emailTemplate = $('.emailTemplate').val();
                        var fromAddress= $('.fromAddress').val();
                        var smsTemplate = $('.smsTemp').val();
                        var ch = document.getElementsByClassName('selectedClass');
                        var communication = $('.communication').val();
                        var typeOfEmail = $('.noOfMail').val();
                        var frequency = $('.frequency').val();
                        var day = $('.day').val();
                        var startDate = $('.datepicker').val();
                        var dayOfMonth = $('.dayOfMonth').val();
                        var time = $('.time').val();
                        var mailEngine = $('.mail').val();
                        var replyTo = $('.replyTo').val();
                        var reportType = $('.reportType').val();
                        console.log('!!!!!!!!!mailEngine'+mailEngine);
                        var isError = false;
                        if ((communication == "Email Only" || communication == "Email & SMS") && emailTemplate == "None") {
                            //if (emailTemplate == "None") {
                                 console.log('!!!!!inside none');
                                 errorMessage = 'Email Template is not selected to Send Email/SMS';
                                 isError = true;
                            //}
                        } else if (communication == "None") {
                            console.log('!!!!!inside none');
                            errorMessage = 'Communication is not selected to Send Email/SMS';
                            isError = true;
                        } else if ((communication == "Email Only" || communication == "Email & SMS") && fromAddress == "None") {
                            //if (fromAddress == "None") {
                                console.log('!!!!!inside none');
                                errorMessage = 'From Address is not selected to Send Email/SMS';
                                isError = true;
                            //}
                        } else if (ch != null && ch != undefined && ch.length > 0) {
                             console.log('!!!ch'+ch);                             
                             for (var i = 0; i < ch.length; i++) {
                                 if (ch[i].checked) {
                                      var regId = $(ch[i]).attr('data-regid');                                
                                      lstBookingIds.push(regId.substr(0, regId.indexOf('-')));
                                  }
                                  console.log('!!!!!!!lstBookingIds'+lstBookingIds);
                             }
                        } else if (ch == null || ch == undefined || ch.length == 0) {
                            errorMessage = 'Unit is not selected to Send Email/SMS';
                            isError = true;
                        } else if (communication == "SMS Only" || communication == "EMail & SMS") {
                            if (smsTemplate  == "None") {
                                errorMessage = 'SMS Template is not selected to Send Email/SMS';
                                isError = true;
                            }
                        }
                        
                        if (isError) {
                             showErrorPopup();
                         }
                        
                        if (communication == 'Email Only' || communication == 'Email & SMS') {                            
                            if (frequency == undefined) {
                                frequency ='None';
                                console.log('!!!inside frequency'+frequency );
                            }
                            if (day == undefined) {
                                day = 'None';
                                console.log('!!!inside undefined');
                            }
                            if (startDate == undefined) {
                                startDate = '';
                                console.log('!!!inside undefined');
                            }
                            if (dayOfMonth == undefined) {
                                dayOfMonth = 'None';
                                console.log('!!!inside undefined');
                            }
                            if (time == undefined) {
                                time = 'None';
                                console.log('!!!inside undefined');
                            }
                            console.log('!!!lstBookingIds'+lstBookingIds);
                            console.log('!!!emailTemplate'+emailTemplate );
                            console.log('!!!fromAddress'+fromAddress);
                            console.log('!!!communication'+communication);
                            console.log('!!!typeOfEmail'+typeOfEmail);
                            console.log('!!!frequency'+frequency);
                            console.log('!!!day'+day);
                            console.log('!!!startDate'+startDate);
                            console.log('!!!dayOfMonth'+dayOfMonth);
                            console.log('!!!time'+time);
                            console.log('!!!!!!!mailEngine'+mailEngine);
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.sendEmail}', lstBookingIds, emailTemplate , 
                                fromAddress, communication, typeOfEmail, frequency, day, startDate, dayOfMonth, time, mailEngine, smsTemplate, replyTo, reportType,                            
                            function (result, event) {
                                // bindEvents();                            
                                lstBookingIds = [];
                            });
                        }
                        if (communication == 'SMS Only') {
                            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.sendSMS}', lstBookingIds, smsTemplate ,
                            function (result, event) {
                                // bindEvents();                            
                                lstBookingIds = [];
                            });
                        }
                    }
                    function startProcess() {
                        // document.getElementById('loadingdetail').style.display = 'block';
                        document.getElementById('spinnerIcon').style.display = 'block';
                    }
        
                    function endProcess() {
                        // document.getElementById('loadingdetail').style.display = 'none';
                        document.getElementById('spinnerIcon').style.display = 'none';
                    }
                    
                    function attachPOAFile(){
                        var filename = document.getElementById("inputFileSellerPOA").value;
                        console.log('!!!!filename'+filename);
                        if( filename != '' ) {
                            $('[id$=POAAttachName]').val(filename);
                            console.log('!!!!!!!!!!!poa'+filename);
                            var fbody = document.getElementById("inputFileSellerPOA").files[0];
                            console.log('!!!fbody'+fbody);
                            var reader = new FileReader();
//                            reader.readAsDataURL(fbody);
                            reader.readAsText(fbody);
                            console.log('!!!!!!reader'+reader);
                            reader.onload = function(e) {
                                console.log('!!!!!this.result'+this.result);
                                //var blobfile = window.btoa(this.result);
                                var blobfile = this.result;
                                $('[id$=POAAttachBody]').val(blobfile);
                                console.log('!!!!blobfile'+blobfile);
                            }
                        }
                    }
                    <!--AKISHOR: for property table-->
                    function displayPropertySection()
                    {
                        var PropertyTable = $('[id$="PropertyTable"]').DataTable({
                                initComplete: function () {
                                    var counter = 0;
                                    this.api().columns().every(function () {
                                        counter++;
                                        if (counter == 1 ) {
                                            return true;
                                        }
            
                                        var column = this;
                                        var select = $('<select class="filterCls" style="width: 90%"><option value="">--None--</option></select>').prependTo($(column.header())).on('change', function () {
                                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                            console.log('!!!val'+val);
                                            
                                            if(!val){
                                                column.search(
                                                   ''
                                                 , true
                                                 , false
                                                ).draw();
                                                
                                            } else {
                                                column.search(
                                                      val == 'blank'
                                                        ? '^\s*$'
                                                        : '^' + val + '$'
                                                    , true
                                                    , false
                                                ).draw();
                                            }
                                            
                                            
                                        });
            
                                        column.data().unique().sort().each(function (d, j) {
                                            d = d ? d : 'blank';
                                            select.append('<option>' + d + '</option>')
                                        });
                                    });
            
                                    $('.filterCls').on('click', function () {
                                        return false;
                                    });
                                },
            
                                oLanguage: {
                                    sLengthMenu: "Show <select id='myselect' onChange='setWrapper();'><option value='10'>10</option><option value='20'>20</option><option value='50'>50</option><option value='100'>100</option><option value='-1'>All</option></select> Entries"
                                },
                                "iDisplayLength": 10,
                                //"iDisplayLength": showSize,
                                "columnDefs": [ {
                                    "targets": [0],
                                    "orderable": false
                                }],
                                "order": [1, "asc"]                                
                                
                            });
                    }
                    function previewEmail(buId) {
                        console.log('!!!!buId' + buId);
                        var emailTemplate = $('.emailTemplate').val();
                        //showPreviewEmailPopup();
                        Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.DisplayRelatedUnitsController.previewEmail}', buId, emailTemplate , function (result, event) {
                            if (event.status) {
                                var emailContent = $('.emailContent');
                                console.log('!!!!result', result);
                                var str = JSON.parse(result);
                                console.log('!!!!result', str);
                                var htmlContent = '<strong>To:</strong> ' + str.toAddress + '<br/>';
                                htmlContent += '<strong>Subject:</strong> ' + str.subject + '<br/>';
                                htmlContent += str.emailBody + '<br/>';
                                if (str.attachmentURL != null) {
                                    htmlContent += '<strong>Attachment: </strong><a href="/' + str.attachmentURL + '">' + str.attachmentName + '</a> <br/>';
                                }
                                emailContent.html(htmlContent);
                            }
                        }, {
                            buffer: false,
                            escape: false,
                            timeout: 120000
                        });
                    }
                    
                    function setWrapper() {
                    
                    }
                 </script>
        </body> 
    </html>     
</apex:page>