<apex:page standardController="Calling_List__c" extensions="FetchOpenCasesForCallingListController" showheader="false" sidebar="false">
  <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:styleSheet value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
<apex:form >
        <apex:slds />
        <div id= "infoMsg" class = "textClass">No Open cases are available</div>
        <table id="caseTable" class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead>
                <tr class="slds-text-title_caps">
                    <th scope="col">
                        <div class="slds-truncate" title="Case Number">Case Number</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Status">Status</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Created Date">Created Date</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Owner">Owner</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Approval Status">Approval Status</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Approval Status">RecordType Name</div>
                    </th>
                    
                </tr>
            </thead>
            <tbody id="tbodydataID">
                <apex:repeat value="{!caseList}" var="caseListInst" id="caseList">
                    <tr>
                        <th data-label="caseNumber" id= "headerId">
                            <div class="slds-truncate" >
                           <!--  <a href="/{!caseListInst.Id}">{!caseListInst.caseNumber}</a> -->
                            <apex:outputlink value="{!URLFOR($Action.Case.View,caseListInst.Id)}" target="_Top">{!caseListInst.caseNumber}
                         	</apex:outputlink>
                            </div>
                        </th>
                       <td data-label="Status">
                            <div class="slds-truncate" >{!caseListInst.Status}</div>
                        </td>
                        <td data-label="CreatedDate">
                            <div class="slds-truncate" >{!caseListInst.CreatedDate}</div>
                        </td>
                        <td data-label="FirstName">
                            <div class="slds-truncate" >{!caseListInst.Owner.FirstName}</div>
                        </td>
                        
                        <td data-label="Approval_Status">
                            <div class="slds-truncate" >{!caseListInst.Approval_Status__c}</div>
                        </td>
                        <td data-label="RecordType_Name">
                            <div class="slds-truncate" >{!caseListInst.RecordType.Name}</div>
                        </td>                        
                    
                    </tr>
                </apex:repeat>
            </tbody> 
            </table>
            </apex:form>
             <style type="text/css">
                .textClass{
                    text-align: center;
                    font-weight: bold;
                    MARGIN-TOP: 12%;
                    font-size: 18px;
                }
            </style>
            <script>
             j$ = jQuery.noConflict();
            j$(document).ready( function () {
                 var data = document.getElementById('headerId');
                 document.getElementById('infoMsg').style.display= 'none';
                 console.log('====data : ' + data);
                  if(data == null) {
                    console.log('====in If : ' + data);
                        document.getElementById('caseTable').style.display= 'None';
                        document.getElementById('infoMsg').style.display= 'block';
                  }
                  else{
                        var caseTable = j$('[id$="caseTable"]').DataTable({
                        oLanguage: {sLengthMenu: "Show <select>"+
                                    "<option value='1'>1</option>"+
                                    "<option value='3'>3</option>"+
                                    "<option value='5'>5</option>"+
                                    "<option value='-1'>All</option>"+
                                    "</select> Entries"},
                                    "iDisplayLength": 5
                        });
                  }
            });
     </script>
</apex:page>