<!--
  @File Name          : FinalNoticeHTMLDocument.page
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 10/14/2019, 7:30:43 PM
  @Modification Log   : 
  Ver       Date            Author                  Modification
  1.0    10/14/2019   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<apex:page controller="FmCaseHtmlDocController" renderAs="pdf"  
            showHeader="false" sidebar="false"  applyBodyTag="false" applyHtmlTag="false">
    <html>  
        <head>
                <style type="text/css" media="print">
                    @page {
                        border: 2px solid brown;
                        @bottom-left {
                            content: element(footer);
                            
                        }
                    }
                    div.footer{
                        display: block;
                        padding: 5px;
                        position: running(footer);
                        font-family: "Times New Roman";
                        color : #808080;
                        margin-top:-20px;
                        font-size:14px;
                    }
                </style>
        </head>
        <body>
            <div style="width: 100%; text-align: right;">
                    <img src="{!$Resource.LoamsLogo}" style="height: 50px;"/>
            </div>
            <p>
                <strong>
                    Case No: {!srObj.Name}
                </strong>
            </p>
            <p>
                <strong>
                    Date: {!todaysDate}
                </strong>
            </p>
            <p>
                <strong>
                    Property Owner: {!srObj.Account__r.Name}
                </strong>
               
            </p>
            <p>
                <strong>
                    Occupant: {!srObj.Booking_Unit__r.Resident__r.Name}
                </strong>
               
            </p>
            <p>
                <strong>
                    Unit&nbsp;&nbsp; : {!srObj.Unit_Name__c}
                </strong>
            </p>
            <p>
                <strong>
                    Building: {!srObj.Booking_Unit__r.Property_Name__c}
                </strong>
            </p>
            <p>
                <strong>
                    &nbsp;
                </strong>
            </p>
            <p>
                <strong>
                    COMMUNITY RULES VIOLATION NOTICE
                </strong>
            </p>
            <p>
                Dear Unit Owner/Occupant,
            </p>
            <p>
                Reference to the notice
                <strong>
                    {!srObj.Name}
                </strong>
                sent on
                <strong>
                    <apex:outputText value="{0,date,MM/dd/yyyy}">
                        <apex:param value="{!srObj.First_Notice_Generation_Date__c}" /> 
                    </apex:outputText>
                  
                </strong>
                pertaining to
                <strong>
                    {!srObj.Violation_rule_name__c}
                </strong>
                we have notice that you are still found in breach on the community rules for the mentioned violation after the grace period highlighted in the above referenced notice.
            </p>
            <p>
                Therefore; and in line with Article 19 of the Direction for General Regulation concerning Jointly Owned Properties and the Community Rules you are penalized an amount of
                <strong>
                    AED {!srObj.Payble_Fine__c}
                </strong>
                for non-compliance with the community rules as stated.
            </p>
            <p>
                Kindly note the penalty will reflect in the service charge account of the unit. Owners must clear the fine at the earliest, in cases of leased units, copy of this notice is sent to the landlord and the penalty amount is advised to be deducted from the security deposit.
            </p>
            <p>
                We kindly urge you to comply with the community rules and rectify the violation at the earliest; appropriate legal action will follow in cases of non-compliance.
            </p>
            <p>
                If you have any questions or require any clarification please contact us as soon as possible.
            </p>
            <p>
                Sincerely,
            </p>
            <p>
                <strong>
                    LOAMS Management
                </strong>
            </p>
        </body>
    </html>
            
</apex:page>