<!-- created By Naresh -->
<!--<apex:page standardController="Case" extensions="GenerateLienLetter" action="{!init}">

</apex:page>
-->

<apex:page standardcontroller="Case" extensions="GenerateLienLetter" action="{!callDrawloop}" >
    <apex:form >
        <apex:pageMessages escape="false" id="pgMsg" />
        <apex:commandButton action="{!returnToCase}" value="Return to Case"/>
    </apex:form>
</apex:page>