<!--
  @File Name          : GenerateFirstOrImmediateNoticePage.page
  @Description        : This will be main page which si called from 
                        First/Immediate Notice Doc Button of fm case
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 10/10/2019, 3:53:39 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    10/10/2019   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<apex:page showHeader="false" standardcontroller="FM_Case__c"  
    extensions="GenerateFmCaseDocumentController" action="{!callNoticePDFGenerator}">
    <apex:form >
        <apex:pageMessages id="pgMsg"/>   
        <apex:commandButton action="{!returnToCase}" value="Return to Case"/>
    </apex:form>
</apex:page>