<apex:page standardController="Task" extensions="GenerateNonSRCaseExtension" showheader="false" sidebar="false">
    <head>
        <apex:slds />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <apex:includeScript value="//code.jquery.com/jquery-1.12.3.js" />
        <apex:includeScript value="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" />
        <apex:stylesheet value="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
        
        <style>
            input{border-radius: 15px!important;}
            button{border-radius: 15px!important;}
            select{border-radius: 15px;!important;}
            .cblabel{margin-top: 5%;}
            .cbinput{margin-left:-18% !important;}
            .fieldCssContactLabel{margin-left: 1%;}
            .fieldCss{border: 0.5px solid #b7bec5;margin-left: 1%;border-radius: 15px;width: 40%;}
            .fieldCssContact{border: 0.5px solid #b7bec5;margin-left: 1%;border-radius: 15px;}
            .buttonCss{margin-left: 40%;margin-top: 5%;}
        </style>
    </head>
    <apex:form >
        <br />
        <section style="border: 1px solid #b7bec5;width: 95%;margin-left: 3%;height: 100px;border-radius: 15px;box-shadow: 10px 10px 20px -5px">
            <div class="row">
                <div class="col-lg-5"></div>
                 <div class="col-lg-5">
                    <!-- <b><label style=" font-size: 18px;margin-left: 1%;margin-top: 1%;">Customer Name : {!objTask.Who.Name}</label></b> -->
                    <b><label style=" font-size: 18px;margin-left: 1%;margin-top: 1%;text-align: center !important;">New Case: Non SR case</label></b>
                    
                </div>

            </div>
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-5">
                    <b><label style=" font-size: 18px;margin-left: 1%;margin-top: 1%;">Customer Name : {!strAccountName}</label></b>
                </div>
            </div> 
            
        </section>
        <br />
        <br />
        
        <section style="border: 0.5px solid #b7bec5;width: 95%;margin-left: 3%;border-radius: 15px;padding: 5px;box-shadow: 10px 10px 20px -5px">
            <div class="row">
                    
                    <div class="col-lg-4">
                            <label class="fieldCssContactLabels">Account Name: </label>
                            <apex:outputfield styleClass="fieldCssContact" value="{!objCase.AccountId}"/>
                    </div>
                    <div class="col-lg-4">
                        <label class="fieldCssLabel">Disposition: </label>
                        <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Disposition__c}"/>
                    </div>
                        
                    <div class="col-lg-4">
                        <label class="fieldCssLabel">Contact Reason: </label>
                        <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Contact_Reason__c}"/>
                    </div>                  
                    
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <label class="fieldCssLabel">Description: </label>
                    <apex:outputfield styleClass="form-control fieldCss" value="{!objCase.Description}"/>
                </div>

                <div class="col-lg-4">
                    <label class="fieldCssLabel">CRE Comments </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.CRE_Comments__c}"/>
                </div>
                
            </div>

            <!--<div class="row">
                
                <div class="col-lg-4">
                    <label class="fieldCssLabel cblabel">Final Offer Letter Uploded: </label>
                    <apex:inputField styleClass="form-control fieldCss cbinput" value="{!objCase.Final_Offer_Letter_Uploded__c}"/>
                </div>
                <div class="col-lg-4">
                    <label class="fieldCssLabel">Type: </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Type}"/>
                </div>
                
                <div class="col-lg-4">
                    <label class="fieldCssLabel">Status: </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Status}"/>
                </div>
                
            </div>
            <div class="row">
                

                <div class="col-lg-4">
                    <label class="fieldCssLabel">Subject: </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Subject}"/>
                </div>
                
                <div class="col-lg-4">
                    <label class="fieldCssLabel">Priority: </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Priority}"/>
                </div>
                <div class="col-lg-4">
                    <label class="fieldCssLabel">Origin: </label>
                    <apex:inputField styleClass="form-control fieldCss" value="{!objCase.Origin}"/>
                </div>
                
            </div>-->
 
            <div class="buttonCss">
                <apex:commandButton styleClass="slds-button slds-button_brand slds-m-around_small" action="{!createNonSRCase}" value="Save"/>
    
                <apex:commandButton styleClass="slds-button slds-button_brand slds-m-around_small" action="{!cancel}" value="Cancel"/>
    
            </div>

        </section>
    </apex:form>
</apex:page>