<apex:page standardController="Calling_List__c" extensions="InitiateSRController" >
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <style>
        .startClass { 
            position: fixed; 
            top: 0; 
            left: 0;
            right: 0; 
            bottom: 0; 
            opacity: 0.75; 
            z-index: 1000; 
            background-color: black;
        }
        .outerImgClass {
            position: fixed;
            left: 0; 
            top: 0; 
            bottom: 0; 
            right: 0; 
            z-index: 1001; 
            margin: 15% 50%
        }
        .imgClass {
            display: inline-block; 
            padding: 2px; 
            background-color:#fff; 
            width: 125px;
        }
    </style>
    <apex:actionStatus id="blockUI">
        <apex:facet name="start">
        <div class="startClass">
            &nbsp;
        </div>
        <div class ="outerImgClass">
            <div class="imgClass">
                <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
            </div>
        </div>
        </apex:facet>
    </apex:actionStatus>

    <apex:form id="form">
        <apex:pageMessages id="pgMsg"/>
        <apex:pageblock >
            <apex:actionfunction name="initiatePOPSR"  action="{!initiateFMPOPSR}" status="blockUI" rerender="form,pgMsg" />
        </apex:pageblock>
    </apex:form>
  
   <script>
        $( document ).ready(function() {
           // alert("ready");
            console.log( "ready!" );
            initiatePOPSR();
        });
    </script> 
</apex:page>