<apex:page standardStylesheets="false" id="page" showHeader="false" controller="InventoryDesignChangeController">
    <html lang="en">
        <head>
            <apex:slds />
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <title>Design Change Tower/Villa</title>
            <apex:stylesheet value="{!URLFOR($Resource.DesignChange_Inventory,'/css/font-awesome.min.css')}"/> 
            <apex:stylesheet value="{!URLFOR($Resource.DesignChange_Inventory,'/css/jquery-ui.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.DesignChange_Inventory,'/css/jquery.dataTables.min.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.DesignChange_Inventory,'/css/style.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.DesignChange_Inventory,'/js/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.DesignChange_Inventory,'/js/jquery-ui.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.DesignChange_Inventory,'/js/jquery.dataTables.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.DesignChange_Inventory,'/js/dataTables.fixedColumns.min.js')}"/>
            <apex:includeScript value="https://cdn.datatables.net/plug-ins/1.10.22/dataRender/datetime.js"/>
            <!--<apex:includeScript value="{!URLFOR($Resource.DesignChange_Inventory,'/js/design-change-tower.js')}"/>-->
            <!--TOASTER Related Files-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css "/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
            <style>
                .DTFC_LeftBodyWrapper{
                    top: -12px !important;
                }
                #toast-container{
                    align-items: center !important;
                }
                .toast-top-right {  
                    top: 12px; 
                    left: 50%; 
                    margin-left: -150px;  
                }
                .tower-wizard .upload-wrap .form-control {
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 25.0%;
                }
            </style> 
        </head>
        <body id="designChangeTowerPage">
            <div class="slds-scope">
                <div id="spinner" class="slds-hide">
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <apex:form styleclass="form-wizard" id="form">
           
                <apex:actionFunction name="uploadFileAF"  action="{!uploadFile}" rerender="reviewScript" onComplete="afterFileLoad('{!loadmsg}');">
                    <apex:param value="" name="fileBlob"/>
                    <apex:param value="" name="fileName"/>
                </apex:actionFunction>
                <apex:actionFunction name="reviewRecord" action="{!reviewRequest}" reRender="submitScript" oncomplete="hideSpinner();"/>
                <apex:actionFunction name="assignVals" action="{!assignProject}" reRender="submitScript" oncomplete="hideSpinner();"/>
                <apex:actionFunction name="submitRecord"  action="{!submitRequest}" oncomplete="afterSubmit('{!loadmsg}');"/>
                <apex:actionFunction name="delRecord" action="{!deleteRequest}" reRender="refreshScript" oncomplete="window.location.href = window.location.href;">
                    <apex:param value="" assignTo="{!recordId}" name="r"/>
                </apex:actionFunction>
                <header>
                    <ul class="breadcrumb">
                        <li>
                            <a>Technical Change</a>
                        </li>
                        <li>
                            <a href="design-change-tower.html">Design Change Tower/Villa</a>
                        </li>
                    </ul>
                </header>
                <section class="content-wrap cm-wizard tower-wizard"> 
                    <div class="step-tabs">
                        <div class="tab-separation"></div>
                        <div class="tab">
                            <p>Upload Unit(s)</p>
                        </div>
                        <div class="tab">
                            <p>Review &amp; Submit</p>
                        </div>
                        <div class="tab">
                            <p>Submit for Approval</p>
                        </div> 
                    </div>                    
                    <div id="towerChangeForm">
                        <div class="step step-one">
                            <div class="step-wrap step-1-wrap">
                                <div class="upload-wrap">
                                    <div class="form-control">
                                        <div class="file-wrap">
                                            <input type="file" id="designFile" accept=".csv,text/csv"/>
                                            <label class="err-lbl err-file-upload">Choose a file to upload.</label>
                                        </div>                                        
                                    </div>
                                    <div class="form-control">
                                        <div class="textarea-wrap">
                                            <apex:inputtextarea id="urlInput" value="{!cadURL}" html-placeholder="Enter comma delimited URL here....."/>
                                        </div>
                                    </div>
                                    <div class="form-control">
                                        <div class="textarea-wrap">
                                            <apex:inputtextarea value="{!reasonForChange}" id="textInput" html-placeholder="Enter text here....."/>
                                        </div>
                                        
                                    </div>
                                    <div class="form-control">
                                        <div class="step-nav-btn">
                                            <button type='button' class="step-btn btn-upload" onclick="uploadFileJS();">
                                                Upload <i class="fa fa-upload"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="cm-tab tab-wrap" style="width:100%">
                                    <div class="tabs-nav">
                                        <ul>
                                            <li class="active">
                                                <a href="#pending">Pending</a>
                                            </li>
                                            <li>
                                                <a href="#completed">Completed</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <section class="tabs-content">
                                        <div id="pending" class="cm-wrap pending-table-wrap">
                                            <div class="filter-wrap">
                                                <button type="button" class="cm-col-btn" id="sel-col-btn-pending">
                                                    <i class="fa fa-search"></i>
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="select-col">
                                                    <li class="active">All Columns</li>
                                                    <li>Batch No.</li>
                                                    <li>File</li>
                                                    <li>Project</li>
                                                    <li>Total Lines</li>
                                                    <li>Status</li>
                                                    <li>Reason for Change</li>
                                                    <li>CAD URL(s)</li>
                                                    <li>Last Actioned On</li>
                                                </ul>
                                                <input type="text" name="search-txt" class="cm-search-txt" id="search-txt-pending" placeholder="Search: All Text Columns"/>
                                                <button type="button" class="cm-search-btn" id="search-btn-pending">Go</button>
                                            </div>
                                            <table id="pending-tower-table" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Batch No.</th>
                                                        <th>File</th>
                                                        <th>Project</th>
                                                        <th>Total Lines</th>
                                                        <th>Status</th>
                                                        <th>Reason for Change</th>
                                                        <th>CAD
                                                            <br/> URL(s)</th>
                                                        <th>Last Actioned On</th>
                                                        <th>Last Modified By</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div id="completed" class="cm-wrap completed-table-wrap">
                                            <div class="filter-wrap">
                                                <button type="button" class="cm-col-btn" id="sel-col-btn-completed">
                                                    <i class="fa fa-search"></i>
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="select-col">
                                                    <li class="active">All Columns</li>
                                                    <li>Batch No.</li>
                                                    <li>File</li>
                                                    <li>Project</li>
                                                    <li>Total Lines</li>
                                                    <li>Status</li>
                                                    <li>Reason for Change</li>
                                                    <li>Reject Reason</li>
                                                    <li>CAD URL(s)</li>
                                                    <li>Last Actioned On</li>
                                                </ul>
                                                <input type="text" name="search-txt" class="cm-search-txt" id="search-txt-completed" placeholder="Search: All Text Columns"
                                                />
                                                <button type="button" class="cm-search-btn" id="search-btn-completed">Go</button>
                                            </div>
                                            <table id="completed-tower-table" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Batch No.</th>
                                                        <th>File</th>
                                                        <th>Project</th>
                                                        <th>Total Lines</th>
                                                        <th>Status</th>
                                                        <th>Reason for Change</th>
                                                        <th>Reject Reason</th>
                                                        <th>CAD
                                                            <br/> URL(s)</th>
                                                        <th>Last Actioned On</th>
                                                        <th>Record Id</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="step step-two">
                            <div class="step-nav-btn">
                                <div class="btn-wrap">
                                    <button type='button' class="green-btn step-btn review-submit-btn" onclick="showSpinner();reviewRecord();">
                                        Review &amp; Submit
                                        <i class="fa fa-check-circle-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="step-wrap step-2-wrap">
                                
                                <div id="review" class="cm-wrap review-table-wrap">
                                    <div class="filter-wrap">
                                        <button type="button" class="cm-col-btn" id="sel-col-btn-review">
                                            <i class="fa fa-search"></i>
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="select-col apartment">
                                            
                                            <li class="active">All Columns</li>
                                            <li>Floor</li>
                                            <li>Unit No</li>
                                            <li>Bedroom</li>
                                            <li>Merge Unit No</li>
                                            <li>Suite Area
                                                <br/>(Sqm)</li>
                                            <li>Suite Area
                                                <br/>(Sqft)</li>
                                            <li>Balcony Area
                                                <br/>(Sqm)</li>
                                            <li>Balcony Area
                                                <br/>(Sqft)</li>
                                            <li>Terrace Area
                                                <br/>(Sqm)</li>
                                            <li>Terrace Area
                                                <br/>(Sqft)</li>
                                            <li>Common Area
                                                <br/>(Sqm)</li>
                                            <li>Common Area
                                                <br/>(Sqft)</li>
                                            <li>Sellable Area
                                                <br/>(Sqm)</li>
                                            <li>Sellable Area
                                                <br/>(Sqft)</li>
                                        </ul>
                                        <ul class="select-col villa slds-hide">
                                            
                                            <li class="active">All Columns</li>
                                            <li>Plot No</li>
                                            <li>Prototype</li>
                                            <li>View Type</li>
                                            <li>Space Type</li>
                                            <li>Position</li>
                                            <li>Parking..</li>
                                            <li>Plot Area <br/>(Sqm)</li>
                                            <li>Plot Area<br/>(Sqft)</li>
                                            <li>Gross Floor Area <br/>(Sqm)</li>
                                            <li>Gross Floor Area <br/>(Sqft)</li>
                                            <li>Net Sellable Area <br/>(Sqm)</li>
                                            <li>Net Sellable Area <br/>(Sqft)</li>
                                        </ul>
                                        <input type="text" name="search-txt" class="cm-search-txt" id="search-txt-review" placeholder="Search: All Text Columns"
                                        />
                                        <button type="button" class="cm-search-btn" id="search-btn-review">Go</button>
                                    </div>
                                    <table id="review-tower-table" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Floor</th>
                                                <th>Unit No</th>
                                                <th>Bedroom</th>
                                                <th>Merge Unit No</th>
                                                <th>Suite Area
                                                    <br/>(Sqm)</th>
                                                <th>Suite Area
                                                    <br/>(Sqft)</th>
                                                <th>Balcony Area
                                                    <br/>(Sqm)</th>
                                                <th>Balcony Area
                                                    <br/>(Sqft)</th>
                                                <th>Terrace Area
                                                    <br/>(Sqm)</th>
                                                <th>Terrace Area
                                                    <br/>(Sqft)</th>
                                                <th>Common Area
                                                    <br/>(Sqm)</th>
                                                <th>Common Area
                                                    <br/>(Sqft)</th>
                                                <th>Sellable Area
                                                    <br/>(Sqm)</th>
                                                <th>Sellable Area
                                                    <br/>(Sqft)</th>
                                            </tr>
                                            
                                        </thead>
                                    </table>
                                    
                                    <table id="review-villa-table" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Plot No</th>
                                                <th>Prototype</th>
                                                <th>View Type</th>
                                                <th>Space Type</th>
                                                <th>Position</th>
                                                <th>Parking..</th>
                                                <th>Plot Area<br/>(Sqm)</th>
                                                <th>Plot Area<br/>(Sqft)</th>
                                                <th>Gross Floor Area <br/>(Sqm)</th>
                                                <th>Gross Floor Area <br/>(Sqft)</th>
                                                <th>Net Sellable Area <br/>(Sqm)</th>
                                                <th>Net Sellable Area <br/>(Sqft)</th>
                                            </tr>
                                            
                                        </thead>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="step step-three">
                            <div class="step-nav-btn">
                                <div class="btn-wrap">
                                    <!--<button type='button' class="yellow-btn validate-btn">
                                        Validate
                                        <i class="fa fa-exclamation-circle"></i>
                                    </button>-->
                                    <button type='button' class="light-blue-btn assign-project-btn">
                                        Assign Project
                                        <i class="fa fa-cogs"></i>
                                    </button>
                                    <button type='button' class="blue-btn save-btn">
                                        Save
                                        <i class="fa fa-floppy-o"></i>
                                    </button>
                                    <button type='button' class="green-btn submit-approval-btn" onclick="showSpinner();submitRecord();">
                                        Submit for Approval
                                        <i class="fa fa-check-circle-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="step-wrap step-3-wrap">
                                <div id="approval" class="cm-wrap approval-table-wrap">
                                    <div class="filter-wrap">
                                        <button type="button" class="cm-col-btn" id="sel-col-btn-approval">
                                            <i class="fa fa-search"></i>
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="select-col">
                                            <li class="active">All Columns</li>
                                            <li>Action</li>
                                            <li>Project</li>
                                            <li>Building</li>
                                            <li>Floor</li>
                                            <li>Floor Code</li>
                                            <li>Unit</li>
                                            <li>Merge With</li>
                                            <li>Unit Code</li>
                                            <li>Status</li>
                                            <li>Bedroom</li>
                                            <li>View Type</li>
                                            <li>Space Type</li>
                                            <li>Suite Area
                                                <br/>(Sqm)</li>
                                            <li>Suite Area
                                                <br/>(Sqft)</li>
                                            <li>Balcony Area
                                                <br/>(Sqm)</li>
                                            <li>Balcony Area
                                                <br/>(Sqft)</li>
                                            <li>Terrace Area
                                                <br/>(Sqm)</li>
                                            <li>Terrace Area
                                                <br/>(Sqft)</li>
                                            <li>Common Area
                                                <br/>(Sqm)</li>
                                            <li>Common Area
                                                <br/>(Sqft)</li>
                                            <li>Sellable Area
                                                <br/>(Sqm)</li>
                                            <li>Sellable Area
                                                <br/>(Sqft)</li>
                                        </ul>
                                        <ul class="select-col villa slds-hide">
                                            
                                            <li class="active">All Columns</li>
                                            <li>Action</li>
                                            <li>Project</li>
                                            <li>Building</li>
                                            <li>Unit</li>
                                            <li>Unit Code</li>
                                            <li>Status</li>
                                            <li>Bedroom</li>
                                            <li>View Type</li>
                                            <li>Space Type</li>
                                            <li>Position</li>
                                            <li>Parking(s)</li>
                                            <li>Plot No</li>
                                            <li>Plot Area
                                                <br/>(Sqm)</li>
                                            <li>Plot Area
                                                <br/>(Sqft)</li>
                                            
                                            <li>Gross Floor Area 
                                                <br/>(Sqm)</li>
                                            <li>Gross Floor Area 
                                                <br/>(Sqft)</li>
                                            <li>Net Sellable Area
                                                <br/>(Sqm)</li>
                                            <li>Net Sellable Area
                                                <br/>(Sqft)</li>
                                        </ul>
                                        <input type="text" class="cm-search-txt" name="search-txt" id="search-txt-approval" placeholder="Search: All Text Columns"
                                        />
                                        <button type="button" class="cm-search-btn" id="search-btn-approval">Go</button>
                                    </div>
                                    <table id="approval-tower-table" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Action</th>
                                                <th>Project</th>
                                                <th>Building</th>
                                                <th>Floor</th>
                                                <th>Floor Code</th>
                                                <th>Unit</th>
                                                <th>Merge With</th>
                                                <th>Unit Code</th>
                                                <th>Status</th>
                                                <th>Bedroom</th>
                                                <th>View Type</th>
                                                <th>Space Type</th>
                                                <th>Suite Area
                                                    <br/>(Sqm)</th>
                                                <th>Suite Area
                                                    <br/>(Sqft)</th>
                                                <th>Balcony Area
                                                    <br/>(Sqm)</th>
                                                <th>Balcony Area
                                                    <br/>(Sqft)</th>
                                                <th>Terrace Area
                                                    <br/>(Sqm)</th>
                                                <th>Terrace Area
                                                    <br/>(Sqft)</th>
                                                <th>Common Area
                                                    <br/>(Sqm)</th>
                                                <th>Common Area
                                                    <br/>(Sqft)</th>
                                                <th>Sellable Area
                                                    <br/>(Sqm)</th>
                                                <th>Sellable Area
                                                    <br/>(Sqft)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    
                                    <table id="approval-villa-table" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Action</th>
                                                <th>Project</th>
                                                <th>Building</th>
                                                <th>Unit</th>
                                                <th>Unit Code</th>
                                                <th>Status</th>
                                                <th>Bedroom</th>
                                                <th>View Type</th>
                                                <th>Space Type</th>
                                                <th>Position</th>
                                                <th>Parking(s)</th>
                                                <th>Plot No</th>
                                                <th>Plot Area
                                                    <br/>(Sqm)</th>
                                                <th>Plot Area
                                                    <br/>(Sqft)</th>
                                                
                                                <th>Gross Floor Area 
                                                    <br/>(Sqm)</th>
                                                <th>Gross Floor Area 
                                                    <br/>(Sqft)</th>
                                                <th>Net Sellable Area
                                                    <br/>(Sqm)</th>
                                                <th>Net Sellable Area
                                                    <br/>(Sqft)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Assign Project Modal -->
                    <div id="assign-project-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>Entity Details</h2>
                            </div>
                            <div class="modal-body">
                                <form id="entity-details-form">
                                    <div class="form-control">
                                        <div class="form-element">
                                            <apex:selectList id="project-name" value="{!selProperty}" size="1">
                                                <apex:selectOptions value="{!propertyOptions}"/>
                                                <apex:actionSupport event="onchange" action="{!fetchBuildings}" reRender="build"/>
                                            </apex:selectList>
                                        </div>
                                    </div>
                                    <apex:outputPanel id="build">
                                        <div class="form-control">
                                            <div class="form-element">
                                                <apex:selectList id="building-name" value="{!selBuilding}" disabled="{!IF(buildingOptions.size>1,false,true)}" size="1">
                                                    <apex:selectOptions value="{!buildingOptions}"/>
                                                </apex:selectList>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-cancel grey-btn">Cancel</button>
                                <button type="button" class="btn-assign blue-btn" onclick="showSpinner();assignVals();">
                                    Assign
                                    <i class="fa fa-check-circle-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- CAD URL Modal -->
                    <div id="cad-url-modal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>CAD URL</h2>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn-cancel grey-btn">Cancel</button>
                                <button type="button" class="btn-save blue-btn">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </apex:form>
        </body>
        <script>
            var error = false;
            function uploadFileJS(){
                console.log('first2');
                if(document.getElementById('page:form:urlInput').value == ''){
                    toastr.error('Please enter CAD URL and upload.');
                    error = true;
                }
                else{
                    error = false;
                    console.log('Uploading File');
                    if($("#designFile").val() == '') {
                        $('.err-lbl').css({'display': 'block'});
                    }
                    else{
                        var filePath = $("#designFile").val(); 
                        var allowedExtensions =  /(\.csv)$/i; 
                        console.log('filePath: ' + filePath);
                        console.log('allowedExtensions: ' + allowedExtensions);
                        if (!allowedExtensions.exec(filePath)) { 
                            toastr.error('Invalid File Type,  upload CSV File');
                        }
                        else{ 
                            showSpinner();
                            $('.err-lbl').css({'display': 'none'});
                            var fbody= document.getElementById("designFile").files[0];
                            
                            var reader = new FileReader();
                            reader.readAsDataURL(fbody);
                            reader.onload = attLoaded;
                        }
                    }
                }
            }

            function attLoaded(evt) {  
                var fileString = evt.target.result.replace(/^data:.+;base64,/, '');
                console.log('fileString: ' + fileString);  
                var fName= document.getElementById("designFile").files[0].name;
                console.log('fileName: '+fName);       
                uploadFileAF(fileString, fName);
            }

            function afterSubmit(msg){
                console.log('msg: ' + msg);
                if(msg == 'SUCCESS'){
                    window.location.href = '/apex/InventoryDesignChange';
                }
                else{
                    toastr.error(msg);
                }
            }

            function afterFileLoad(msg){
                console.log('msg: ' + msg);
                if(msg == 'File Uploaded Successfully'){
                    console.log('>>>>Inside>>>>>');
                    //nextStep(0);
                    toastr.success(msg);
                }
                else{
                    toastr.error(msg);
                }
                hideSpinner();
            }

            function showSpinner () {
                $ ('#spinner').removeClass ('slds-hide');
            }

            function hideSpinner () {
                $ ('#spinner').addClass ('slds-hide');
            }
            
            $(document).ready(function (){
                var pendingTable, completedTable, reviewTable, approvalTable;
                var reviewTableDataJson;
                pendingTableDataJson =  [
                    <apex:repeat value="{!pendingRequests}" var="p">
                    {   
                        batch_no: "{!p.Name}",
                        file: "{!p.File_Name__c}",
                        project: "{!p.Property__r.Name}",
                        total_lines: "{!p.No_of_Lines__c}",
                        status: "{!p.Status__c}",
                        reason_change: "{!p.Reason_for_Change__c}",
                        last_actioned_on: "{!p.LastModifiedDate}",
                        created_on: "{!p.CreatedDate}",
                        created_by: "{!p.LastModifiedBy.Name}",
                        last_modified_by: "{!p.CreatedBy.Name}",
                        record_Id: "{!p.Id}",
                        viewURL:"{!p.Attachment_View_URL__c}",
                        detailURL:"{!IF(p.Status__c == 'Draft','/apex/InventoryDesignChange?id='+p.Id,'/apex/InventoryDesignChangeDetail?id='+p.Id)}"
                    },
                    </apex:repeat>                    
                ];

                completedTableDataJson =   [
                    <apex:repeat value="{!completedRequests}" var="p">
                    {
                        batch_no: "{!p.Name}",
                        file: "{!p.File_Name__c}",
                        project: "{!p.Property__r.Name}",
                        total_lines: "{!p.No_of_Lines__c}",
                        status: "{!p.Status__c}",
                        reason_change: "{!p.Reason_for_Change__c}",
                        reject_reason:"",
                        last_actioned_on: "{!p.LastModifiedDate}",
                        created_on: "{!p.LastModifiedDate}",
                        created_by: "{!p.LastModifiedBy.Name}",
                        last_modified_by: "{!p.CreatedBy.Name}",
                        record_Id: "{!p.Id}"
                    },
                    </apex:repeat>
                ];

                // Wizard
                var currentStep = 0;

                if($("#towerChangeForm").length) {
                    showTab(currentStep);
                }

                $('.step-btn').on("click", function() {
                    console.log('first'+error);
                    if(error == false)
                        nextStep(currentStep);
                });

                function showTab(n) {
                    var steps = document.getElementsByClassName("step");
                    var stepNavBtns = document.getElementsByClassName("step-nav-btn");
                    if(n < steps.length) {
                        steps[n].style.display = "block";
                        stepNavBtns[n].style.display = "block";
                        fixStepIndicator(n);
                    }

                }

                function nextStep(n) {
                    var steps = document.getElementsByClassName("step");
                    var stepNavBtns = document.getElementsByClassName("step-nav-btn");
                    console.log('<<<n<<<<'+n);
                    if(!validateForm(n)) {
                        return false;
                    }
                    else {
                        $('.show-from-step-2').show();
                        steps[n].style.display = "none";
                        stepNavBtns[n].style.display = "none";

                        $(steps[currentStep]).addClass('finish');
                        currentStep = n+1;
                        if( currentStep == steps.length) {
                            $(steps[currentStep]).addClass('finish');
                            fixStepIndicator(currentStep);
                            //location.href = "design-change-tower.html";
                        } else {
                            showTab(currentStep);
                            if( currentStep == 1 ) {
                                initReviewTable();
                            }

                            if( currentStep == 2 ) {
                                initApprovalTable();
                            }
                        }
                    }
                }

                function validateForm(currentStep) {
                    switch (currentStep) {
                        case 0:
                            var valid,
                            valid = true;
                            if($("#file").val() == '') {
                                valid =  false;
                                $('.err-lbl').css({'display': 'block'});
                            } else {
                                $('.err-lbl').css({'display': 'none'});
                            }
                            
                            return valid;
                            break;
                        case 1:
                        var valid = true;
                        return valid;
                            break;
                        case 2:
                        var valid = true;
                        return valid;
                            break;

                        default:
                            break;
                    }
                }

                function fixStepIndicator(n) {
                    var i, x = document.getElementsByClassName("tab");
                    for (i = 0; i < x.length; i++) {
                        $(x[i]).removeClass('active finish');
                    }

                    for (i = 0; i < n; i++) {
                        $(x[i]).addClass('finish');
                    }
                    $(x[n]).addClass('active');
                }

                $("#file").change(function(){
                    ($("#file").val() == '') ? $('.err-file-upload').css({'display': 'block'}) : $('.err-file-upload').css({'display': 'none'});
                });


                // Pending and Completed tabs
                $(".tabs-nav a").click(function() {
                    // Check for active
                    $(".tabs-nav li").removeClass('active');
                    $(this).parent().addClass('active');

                    // Display active tab
                    let currentTab = $(this).attr('href');
                    $('.tabs-content > div').hide();
                    $(currentTab).show();
                    
                    if($(currentTab).hasClass("completed-table-wrap")) {
                        initCompletedTable();
                        showCadPopup();
                    }
                    else {
                        initPendingTable();
                        showCadPopup();
                    }
                    
                    return false;
                });

                // Select column for search - Pending
                $('#sel-col-btn-pending').click( function (e) {
                    $('.select-col').toggleClass('open');
                    e.stopPropagation();
                });

                $('ul.select-col li').click(function() {
                    $('ul.select-col li.active').removeClass("active");
                    $(this).addClass("active");
                    $('.select-col').removeClass('open');
                });

                // Close the select list on click outside
                $(document).on('click',function(event) {
                    if($('.select-col').hasClass('open')) {
                        $('.select-col').removeClass('open');
                    }
                });

                // Table filter and search
                $('.step-1-wrap #search-btn-pending').click( function (e) {
                    var colIndex = $('ul.select-col li.active').index();
                    var searchTxt = $('#search-txt-pending').val().toLowerCase();
                    if (colIndex <= 0) {
                        pendingTable.columns().search('').draw();
                        pendingTable.search(searchTxt).draw();
                    }
                    else {
                        pendingTable.columns().search('').draw();
                        pendingTable.column(colIndex + 1).search(searchTxt).draw();
                    }
                });

                // Select column for search - Completed
                $('#sel-col-btn-completed').click( function (e) {
                    $('.select-col').toggleClass('open');
                    e.stopPropagation();
                });

                $('ul.select-col li').click(function() {
                    $('ul.select-col li.active').removeClass("active");
                    $(this).addClass("active");
                    $('.select-col').removeClass('open');
                });

                // Table filter and search
                $('.step-1-wrap #search-btn-completed').click( function (e) {
                    var colIndex = $('ul.select-col li.active').index();
                    var searchTxt = $('#search-txt-completed').val().toLowerCase();
                    if (colIndex <= 0) {
                        completedTable.columns().search('').draw();
                        completedTable.search(searchTxt).draw();
                    }
                    else {
                        completedTable.columns().search('').draw();
                        completedTable.column(colIndex).search(searchTxt).draw();
                    }
                });

                // Select column for search - Review
                $('#sel-col-btn-review').click( function (e) {
                    $('.select-col').toggleClass('open');
                    e.stopPropagation();
                });

                $('ul.select-col li').click(function() {
                    $('ul.select-col li.active').removeClass("active");
                    $(this).addClass("active");
                    $('.select-col').removeClass('open');
                });
               
                // Table filter and search
                $('.step-2-wrap #search-btn-review').click( function (e) {
                    var colIndex = $('ul.select-col li.active').index();
                    var searchTxt = $('#search-txt-review').val().toLowerCase();
                    if (colIndex <= 0) {
                        reviewTable.columns().search('').draw();
                        reviewTable.search(searchTxt).draw();
                    }
                    else {
                        reviewTable.columns().search('').draw();
                        reviewTable.column(colIndex - 1).search(searchTxt).draw();
                    }
                });
                // Select column for search - Approval
                $('#sel-col-btn-approval').click( function (e) {
                    $('.select-col').toggleClass('open');
                    e.stopPropagation();
                });

                $('ul.select-col li').click(function() {
                    $('ul.select-col li.active').removeClass("active");
                    $(this).addClass("active");
                    $('.select-col').removeClass('open');
                });

                // Table filter and search
                $('.step-3-wrap #search-btn-approval').click( function (e) {
                    var colIndex = $('ul.select-col li.active').index();
                    var searchTxt = $('#search-txt-approval').val().toLowerCase();
                    if (colIndex <= 0) {
                        approvalTable.columns().search('').draw();
                        approvalTable.search(searchTxt).draw();
                    } else {
                        approvalTable.columns().search('').draw();
                        approvalTable.column(colIndex).search(searchTxt).draw();
                    }
                });

                setTimeout(
                    function(){
                        if('{!requestId}' != null && '{!requestId}' != ''){
                            nextStep(0);
                            console.log('>>>>>reviewScript Calling>>>>>');
                            console.log('>>>>>csvLines>>>>>'+'{!csvLines}');
                            if ('{!isVilla}' == 'true') {
                                $('.villa').each(function() {
                                    $(this).removeClass ('slds-hide');
                                });
                                $('.apartment').each(function() {
                                    $(this).addClass ('slds-hide');
                                });
                                reviewVillaScript();
                            } else {
                                $('.villa').each(function() {
                                    $(this).addClass ('slds-hide');
                                });
                                $('.apartment').each(function() {
                                    $(this).removeClass ('slds-hide');
                                });
                                
                                reviewScript();
                            }
                        }
                        else{
                            initPendingTable();
                            initCompletedTable();
                            showCadPopup();
                        }
                    },100
                );

                function initPendingTable() {
                    console.log('>>>>>>initPendingTable>>>>>>>');
                    pendingTable = $('#pending-tower-table').DataTable({
                        'destroy': true,
                        'data': pendingTableDataJson,
                        'columns': [
                            {
                                mRender: function (data, type, row) {
                                    return '<a><i class="fa fa-trash icon-red" onclick="showSpinner();delRecord(\''+row.record_Id+'\')"></i></a>';
                                }
                            },
                            {
                                mRender: function (data, type, row) {
                                    return '<a href="'+row.viewURL+'" target="_blank" class="download-row" download><i class="fa fa-download"></i></a>';
                                }
                            },
                            {
                                mRender: function (data, type, row) {
                                    return '<a target="_blank" href="'+row.detailURL+'" class="batch-no-link">'+row.batch_no+'</a>';
                                }
                            },
                            { 'data': 'file' },
                            { 'data': 'project' },
                            { 'data': 'total_lines', 'class': 'right-align' }, 
                            { 'data': 'status' },
                            { 'data': 'reason_change'},
                            {
                                mRender: function (data, type, row) {
                                    return '<button type="button" class="cad-url-row"><i class="fa fa-link"></i></button>';
                                }
                            },
                            { 'data': 'last_actioned_on'},
                            {'data':'last_modified_by'}
                        ],
                        'scrollY': '240px',
                        'scrollX':  true,
                        'scrollCollapse': true,
                        'fixedColumns':   {
                            leftColumns: 3
                        },
                        'ordering': true,
                        'aaSorting': [],
                        'columnDefs': [ 
                            {
                                bSortable: false, 
                                targets: [0 ,1 ]
                            }
                        ],
                        'bInfo': false,
                        'searching': true,
                        'lengthChange': false,
                        'pagingType': 'full_numbers',
                        'drawCallback': function(settings){
                            showCadPopup();
                        }
                    });
                    setTimeout(function(){
                        $(window).trigger('resize');
                    }, 500);
                }

                function initCompletedTable() {
                    completedTable = $('#completed-tower-table').DataTable( {
                    'destroy': true,
                    'data': completedTableDataJson,
                    'columns': [
                        {
                            mRender: function (data, type, row) {
                                return '<a href="'+row.viewURL+'" target="_blank" class="download-row" download><i class="fa fa-download"></i></a>';
                            }
                        },
                        {
                            mRender: function (data, type, row) {
                                return '<a target="_blank" href="/apex/InventoryDesignChangeDetail?id='+row.record_Id+'" class="batch-no-link">'+row.batch_no+'</a>';
                            }
                        },
                        { 'data': 'file' },
                        { 'data': 'project' },
                        { 'data': 'total_lines', 'class': 'right-align' },
                        { 'data': 'status' },
                        { 'data': 'reason_change'},
                        { 'data': 'reject_reason'},
                        {
                            mRender: function (data, type, row) {
                                return '<button type="button" class="cad-url-row"><i class="fa fa-link"></i></button>';
                            }
                        },
                        { 'data': 'last_actioned_on'},
                        { 'data': 'record_Id'}
                    ],
                    'scrollY': '200px',
                    'scrollX':  true,
                    'scrollCollapse': true,
                    'fixedColumns':   {
                    leftColumns: 2
                    },
                    'ordering': true,
                    'aaSorting': [],
                    'columnDefs': [ 
                    {bSortable: false, targets: [0]},
                    ],
                    'bInfo': false,
                    'searching': true,
                    'lengthChange': false,
                    'pagingType': 'full_numbers'
                    });
                    setTimeout(function(){
                    $(window).trigger('resize');
                    }, 500);

                }

                function initReviewTable() {

                }

                function initApprovalTable() {
                    
                }

                // Popup
                $('.assign-project-btn').on("click", function() {
                    $('#assign-project-modal').show();
                    initApprovalTable();
                });

                // Calling CAD Poup
                showCadPopup();

                function showCadPopup() {
                    $('.cad-url-row').on("click", function() {
                        $('#cad-url-modal').show();
                    });
                }

                $('.modal .close, .modal .btn-cancel, .btn-assign, .btn-save').on("click", function() {
                    $(this).closest('.modal').hide();
                });

            });         
 
        </script>
        <apex:outputPanel id="submitScript">
            <script>
                if ('{!isVilla}' == 'true') {
                    $('.villa').each(function() {
                        $(this).removeClass ('slds-hide');
                    });
                    $('.apartment').each(function() {
                        $(this).addClass ('slds-hide');
                    });
                    
                    submitVillaApproval();
                } else {
                    $('.villa').each(function() {
                        $(this).addClass ('slds-hide');
                    });
                    $('.apartment').each(function() {
                        $(this).removeClass ('slds-hide');
                    });
                    
                    submitApproval();
                }
                function submitApproval () {
                    console.log('>>>>>submitScript>>>>>');
                    console.log('>>>>>inside review>>>>>'+'{!csvLines}'); 
                    console.log('>>>>>submitScript>>>>>'+'{!csvLines.size}');
                    $('#approval-villa-table_wrapper').addClass('slds-hide');
                    $('#approval-villa-table').addClass ('slds-hide');
                    $('#approval-tower-table').removeClass ('slds-hide');
                    var approvalTableDataJson = [];
                    <apex:repeat value="{!csvLines}" var="line">
                        approvalTableDataJson.push(
                            { 
                                action: "{!line.Action}",
                                project: "{!line.project}",
                                building: "{!line.building}",
                                floor: "{!line.floor}",
                                floor_code: "{!line.floor_code}",
                                unit_no: "{!line.unit_no}",
                                merge_unit: "{!line.merge_unit}",
                                unit_code: "{!line.unit_code}",
                                status: "{!line.status}",
                                basic_price: "{!line.basic_price}",
                                bedroom: "{!line.bedroom}",
                                view_type: "{!line.view_type}",
                                space_type: "{!line.space_type}",
                                suite_area_sqm: "{!line.suite_area_sqm}",
                                suite_area_sqft: "{!line.suite_area_sqft}",
                                balcony_area_sqm: "{!line.balcony_area_sqm}",
                                balcony_area_sqft: "{!line.balcony_area_sqft}",
                                terrace_area_sqm: "{!line.terrace_area_sqm}",
                                terrace_area_sqft: "{!line.terrace_area_sqft}",
                                common_area_sqm: "{!line.common_area_sqm}",
                                common_area_sqft: "{!line.common_area_sqft}",
                                sellable_area_sqm: "{!line.sellable_area_sqm}",
                                sellable_area_sqft: "{!line.sellable_area_sqft}"
                            }
                        );
                    </apex:repeat>
    
                    console.log(approvalTableDataJson);
                    approvalTable = $('#approval-tower-table').DataTable( {
                        'destroy': true,
                        'data': approvalTableDataJson,
                        'columns': [
                            {
                                mRender: function (data, type, row) {
                                    return '<a href="" class="action-row"></a>';
                                }
                            },
                            { 'data': 'action' },
                            { 'data': 'project' },
                            { 'data': 'building'},
                            { 'data': 'floor'},
                            { 'data': 'floor_code'},
                            { 'data': 'unit_no'},
                            { 'data': 'merge_unit', 'class': 'right-align'},
                            { 'data': 'unit_code', 'class': 'right-align'},
                            { 'data': 'status', 'class': 'right-align'},
                            { 'data': 'bedroom', 'class': 'right-align'},
                            { 'data': 'view_type', 'class': 'right-align'},
                            { 'data': 'space_type', 'class': 'right-align'},
                            { 'data': 'suite_area_sqm','class': 'right-align'},
                            { 'data': 'suite_area_sqft','class': 'right-align'},
                            { 'data': 'balcony_area_sqm','class': 'right-align'},
                            { 'data': 'balcony_area_sqft','class': 'right-align'},
                            { 'data': 'terrace_area_sqm','class': 'right-align'},
                            { 'data': 'terrace_area_sqft','class': 'right-align'},
                            { 'data': 'common_area_sqm','class': 'right-align'},
                            { 'data': 'common_area_sqft','class': 'right-align'},
                            { 'data': 'sellable_area_sqm','class': 'right-align'},
                            { 'data': 'sellable_area_sqft','class': 'right-align'} 
                        ],
                        'ordering': true,
                        'aaSorting': [],
                        'columnDefs': [ 
                        {bSortable: false, targets: [0]},
                        ],
                        'scrollX':  true,
                        'scrollCollapse': true,
                        'bInfo': false,
                        'searching': true,
                        'lengthChange': false,
                        'pagingType': 'full_numbers'
                        });
                        setTimeout(function(){
                            $(window).trigger('resize');
                    }, 500);
                }
                
                function submitVillaApproval () {
                    console.log('>>>>>submitScript>>>>>');
                    console.log('>>>>>inside review>>>>>'+'{!csvLines}'); 
                    console.log('>>>>>submitScript>>>>>'+'{!csvLines.size}');
                    $('#approval-tower-table_wrapper').addClass('slds-hide');
                    $('#approval-villa-table').removeClass ('slds-hide');
                    $('#approval-tower-table').addClass ('slds-hide');
                    var approvalTableDataJson = [];
                    <apex:repeat value="{!csvLines}" var="line">
                        approvalTableDataJson.push(
                            { 
                                action: "{!line.Action}",
                                project: "{!line.project}",
                                building: "{!line.building}",
                                unit_no: "{!line.plotNo}",
                                plotno: '{!line.plotNo}',
                                unit_code: "{!line.unit_code}",
                                status: "{!line.status}",
                                basic_price: "{!line.basic_price}",
                                bedroom: "{!line.prototype}",
                                view_type: "{!line.view_type}",
                                space_type: "{!line.space_type}",
                                position: "{!line.position}",
                                free_parking: "{!line.free_parking}",
                                plot_area_sqm : '{!line.plot_area_sqm}',
                                plot_area_sqft : '{!line.plot_area_sqft}',
                                max_gfa_sqm : '{!line.max_gfa_sqm}',
                                max_gfa_sqft : '{!line.max_gfa_sqft}',
                                net_sellablearea_sqm: '{!line.net_sellablearea_sqm}',
                                net_sellablearea_sqft : '{!line.net_sellablearea_sqft}'
                            }
                        );
                    </apex:repeat>
    
                    console.log(approvalTableDataJson);
                    approvalTable = $('#approval-villa-table').DataTable( {
                        'destroy': true,
                        'data': approvalTableDataJson,
                        'columns': [
                            {
                                mRender: function (data, type, row) {
                                    return '<a href="" class="action-row"></a>';
                                }
                            },
                            { 'data': 'action' },
                            { 'data': 'project' },
                            { 'data': 'building'},
                            { 'data': 'unit_no'},
                            { 'data': 'unit_code', 'class': 'right-align'},
                            { 'data': 'status', 'class': 'right-align'},
                            { 'data': 'bedroom', 'class': 'right-align'},
                            { 'data': 'view_type', 'class': 'right-align'},
                            { 'data': 'space_type', 'class': 'right-align'},
                            { 'data': 'position','class': 'right-align'},
                            { 'data': 'free_parking','class': 'right-align'},
                            { 'data': 'plotno' },
                            
                            { 'data': 'plot_area_sqm','class': 'right-align'},
                            { 'data': 'plot_area_sqft','class': 'right-align'},
                            { 'data': 'max_gfa_sqm','class': 'right-align'},
                            { 'data': 'max_gfa_sqft','class': 'right-align'},
                            { 'data': 'net_sellablearea_sqm','class': 'right-align'},
                            { 'data': 'net_sellablearea_sqft','class': 'right-align'}
                        ],
                        'ordering': true,
                        'aaSorting': [],
                        'columnDefs': [ 
                        {bSortable: false, targets: [0]},
                        ],
                        'scrollX':  true,
                        'scrollCollapse': true,
                        'bInfo': false,
                        'searching': true,
                        'lengthChange': false,
                        'pagingType': 'full_numbers'
                        });
                        setTimeout(function(){
                            $(window).trigger('resize');
                    }, 500);
                }
                $('.step-3-wrap #search-btn-approval').click( function (e) {
                    var colIndex = $('ul.select-col li.active').index();
                    var searchTxt = $('#search-txt-approval').val().toLowerCase();
                    if (colIndex <= 0) {
                        approvalTable.columns().search('').draw();
                        approvalTable.search(searchTxt).draw();
                    } else {
                        approvalTable.columns().search('').draw();
                        approvalTable.column(colIndex).search(searchTxt).draw();
                    }
                });
            </script>
        </apex:outputPanel>

        <apex:outputPanel id="reviewScript">
            <script>
                console.log ('is Villa'+'{!isVilla}' );
                if ('{!isVilla}' == 'true') {
                    $('.villa').each(function() {
                        $(this).removeClass ('slds-hide');
                    });
                    $('.apartment').each(function() {
                        $(this).addClass ('slds-hide');
                    });
                    console.log ('Villa');
                    reviewVillaScript();
                } else {
                    $('.villa').each(function() {
                        $(this).addClass ('slds-hide');
                    });
                    $('.apartment').each(function() {
                        $(this).removeClass ('slds-hide');
                    });
                    
                    reviewScript();
                }
                
                function reviewScript(){
                    console.log('>>>>>reviewScript>>>>>');
                    console.log('>>>>>inside review>>>>>'+'{!csvLines}'); 
                    console.log('>>>>>reviewScript>>>>>'+'{!csvLines.size}');
                    $('#review-villa-table_wrapper').addClass('slds-hide');
                    $('#review-villa-table').addClass ('slds-hide');
                    $('#review-tower-table').removeClass ('slds-hide');
                    var reviewTableDataJson = [];
                    <apex:repeat value="{!csvLines}" var="line">
                        reviewTableDataJson.push(
                            {
                                action:'{!line.action}',
                                project:'{!line.project}',
                                building:'{!line.building}',
                                floor: '{!line.floor}',
                                unit_no: '{!line.unit_no}',
                                bedroom: '{!line.bedroom}',
                                merge_unit_no: '{!line.merge_unit_no}',
                                suite_area_sqm: '{!line.suite_area_sqm}',
                                suite_area_sqft: '{!line.suite_area_sqft}',
                                balcony_area_sqm: '{!line.balcony_area_sqm}',
                                balcony_area_sqft: '{!line.balcony_area_sqft}',
                                terrace_area_sqm: '{!line.terrace_area_sqm}',
                                terrace_area_sqft: '{!line.terrace_area_sqft}',
                                common_area_sqm: '{!line.common_area_sqm}',
                                common_area_sqft: '{!line.common_area_sqft}',
                                sellable_area_sqm: '{!line.sellable_area_sqm}',
                                sellable_area_sqft: '{!line.sellable_area_sqft}',
                            }
                        );
                    
                    </apex:repeat>

                    console.log(reviewTableDataJson);
                    reviewTable = $('#review-tower-table').DataTable({
                        'destroy': true,
                        'data': reviewTableDataJson,
                        'columns': [
                            { 'data': 'floor' },
                            { 'data': 'unit_no' },
                            { 'data': 'bedroom'},
                            { 'data': 'merge_unit_no', 'class': 'right-align'},
                            { 'data': 'suite_area_sqm','class': 'right-align'},
                            { 'data': 'suite_area_sqft','class': 'right-align'},
                            { 'data': 'balcony_area_sqm','class': 'right-align'},
                            { 'data': 'balcony_area_sqft','class': 'right-align'},
                            { 'data': 'terrace_area_sqm','class': 'right-align'},
                            { 'data': 'terrace_area_sqft','class': 'right-align'},
                            { 'data': 'common_area_sqm','class': 'right-align'},
                            { 'data': 'common_area_sqft','class': 'right-align'},
                            { 'data': 'sellable_area_sqm','class': 'right-align'},
                            { 'data': 'sellable_area_sqft','class': 'right-align'}
                        ],
                        'ordering': true,
                        'scrollX':  true,
                        'scrollCollapse': true,
                        'bInfo': false,
                        'searching': true,
                        'lengthChange': false,
                        'pagingType': 'full_numbers'
                    });
                    setTimeout(function(){
                        $(window).trigger('resize');
                    }, 500);  
                }
                
                function reviewVillaScript(){
                    console.log('>>>>>reviewScript>>>>>');
                    console.log('>>>>>inside review>>>>>'+'{!csvLines}'); 
                    console.log('>>>>>reviewScript>>>>>'+'{!csvLines.size}');
                    $('#review-tower-table_wrapper').addClass('slds-hide');
                    $('#review-villa-table').removeClass ('slds-hide');
                    $('#review-tower-table').addClass ('slds-hide');
                    var reviewTableDataJson = [];
                    <apex:repeat value="{!csvLines}" var="line">
                        reviewTableDataJson.push(
                            {
                                action:'{!line.action}',
                                project:'{!line.project}',
                                building:'{!line.building}',
                                plotno: '{!line.plotNo}',
                                protoType : '{!line.protoType}',
                                view_type: '{!line.view_type}',
                                space_type: '{!line.space_type}',
                                position : '{!line.position}',
                                free_parking : '{!line.free_parking}',
                                plot_area_sqm : '{!line.plot_area_sqm}',
                                plot_area_sqft : '{!line.plot_area_sqft}',
                                max_gfa_sqm : '{!line.max_gfa_sqm}',
                                max_gfa_sqft : '{!line.max_gfa_sqft}',
                                net_sellablearea_sqm: '{!line.net_sellablearea_sqm}',
                                net_sellablearea_sqft : '{!line.net_sellablearea_sqft}'
                            }
                        );
                    
                    </apex:repeat>

                    console.log(reviewTableDataJson);
                    reviewTable = $('#review-villa-table').DataTable({
                        'destroy': true,
                        'data': reviewTableDataJson,
                        'columns': [
                            { 'data': 'plotno' },
                            { 'data': 'protoType'},
                            { 'data': 'view_type', 'class': 'right-align'},
                            { 'data': 'space_type','class': 'right-align'},
                            { 'data': 'position','class': 'right-align'},
                            { 'data': 'free_parking','class': 'right-align'},
                            { 'data': 'plot_area_sqm','class': 'right-align'},
                            { 'data': 'plot_area_sqft','class': 'right-align'},
                            { 'data': 'max_gfa_sqm','class': 'right-align'},
                            { 'data': 'max_gfa_sqft','class': 'right-align'},
                            { 'data': 'net_sellablearea_sqm','class': 'right-align'},
                            { 'data': 'net_sellablearea_sqft','class': 'right-align'}
                        ],
                        'ordering': true,
                        'scrollX':  true,
                        'scrollCollapse': true,
                        'bInfo': false,
                        'searching': true,
                        'lengthChange': false,
                        'pagingType': 'full_numbers'
                    });
                    setTimeout(function(){
                        $(window).trigger('resize');
                    }, 500);  
                }
            // Table filter and search
            $('.step-2-wrap #search-btn-review').click( function (e) {
                var colIndex = $('ul.select-col li.active').index();
                var searchTxt = $('#search-txt-review').val().toLowerCase();
                if (colIndex <= 0) {
                    reviewTable.columns().search('').draw();
                    reviewTable.search(searchTxt).draw();
                }
                else {
                    reviewTable.columns().search('').draw();
                    reviewTable.column(colIndex - 1).search(searchTxt).draw();
                }
            });
            </script>
        </apex:outputPanel>
        
    </html>
</apex:page>