<apex:page showHeader="false" standardStylesheets="false" sidebar="false"
   applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" 
   standardController="Campaign__c">
   <html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <meta name="description" content=""/>
            <meta name="author" content="" />
            <link rel="icon" href=""/>
            <title>Campaign Quality Details</title>

            <link rel="stylesheet" crossorigin="anonymous"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
                integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
            <apex:stylesheet value="{!URLFOR($Resource.CallingListResources, 'css/jquery_UI.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.CallingListResources, 'css/style.css')}"/>
            <link rel="stylesheet" 
                href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
            <apex:stylesheet value="{!URLFOR($Resource.CallingListResources, 'fonts/fonts.css')}"/>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
            <apex:stylesheet value="{!URLFOR($Resource.CallingListResources, 'css/bootstrap-select.css')}"/>
        
            <style>
                
                select.form-control:not([size]):not([multiple]) {
                    height: calc(2.25rem + 5px) !important;
                }
                .saveBtn {
                    background-color: #005FB2 !important; 
                    border-color:#005FB2 !important; 
                    color: white !important;
                }
            </style>
        </head>

        <body>
        	<apex:form >
	        	<apex:actionStatus id="status">
	            <apex:facet name="start">
	                <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
	                    &nbsp;
	                </div>
	                <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 10% 20%">
	                    <img src="{!$Resource.LoaderImage}" style="height: 50px !important;margin: 45%;" />
	                </div>
	            </apex:facet>
	        </apex:actionStatus>
        		<div class="" id="createInquiryModal" style="display: block !important;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Enter Campaign Quality Details</h4>
                            </div>
                            <!-- <center>
                                <div id="errorDivEmail" style="color: red; font-weight: bold; padding: 1%;"/>
                            </center> -->
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group popupformGrp">
                                                <label>Venue quality</label>
                                                <apex:inputField styleClass="form-control newInq" 
                                                    value="{!Campaign__c.Venue_quality__c}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group popupformGrp">
                                                <label>Location quality</label>
                                                <apex:inputField styleClass="form-control newInq" 
                                                    value="{!Campaign__c.Location_quality__c}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group popupformGrp">
                                                <label>Client quality </label>
                                                <apex:inputField styleClass="form-control newInq newInqEmail" 
                                                    value="{!Campaign__c.Client_quality__c}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group popupformGrp">
                                                <label>Agent quality</label>
                                                <apex:inputField styleClass="form-control newInq" 
                                                    value="{!Campaign__c.Agent_quality__c}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group popupformGrp">
                                                <label>Walk-in media source</label>
                                                <apex:inputField styleClass="form-control newInq" 
                                                    value="{!Campaign__c.Walk_in_media_source__c}" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                            	<apex:commandButton value="Submit" action="{!quicksave}"
                            		rerender="pageid" status="status" onComplete="CloseAndRefresh();"
                            		Styleclass="btn saveBtn"/>
                                
                            </div>
                        </div>
                    </div>
                </div>
        	</apex:form>
        	
        </body>
        <script>
			function CloseAndRefresh(){
				window.close();
			}
		</script>
    </html>
</apex:page>