<!--
 * Description - Tenant Registration process visualforce page
 *
 * Version        Date            Author            Description
* 1.0            09/05/18        Ashish Agarwal      Initial Draft
 * -->
<apex:page showheader="false" sidebar="false" standardStyleSheets="false" standardController="FM_Case__c" extensions="FM_ProcessSelectionExtension" docType="html-5.0">
    <head>
        <title>Move In Request Process Page</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    </head>

    <style>
        .main-content-section {
            padding: 10px 0 10px 10px;
            height: 100vh;
        }
    </style>

    <body>
        <apex:form id="CREForm">
            <apex:outputPanel id="CREPanel">
                <!---------------------- Main content ------------------------>
                <section class="main-content-section">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-9">
                                <c:FM_ProcessSelectionComponent sharedObj="{!sharedInstance}"/>
                                <apex:outputPanel id="ComponentPanel">
                                    <c:MoveInSRComponent />
                                </apex:outputPanel>
                            </div>

                            <c:FMAccountDetailsComponent sharedObj="{!sharedInstance}"/>
                        </div>
                    </div>
                </section>
            </apex:outputPanel>
        </apex:form>
   </body>
</apex:page>