<apex:page standardController="Trip__c" extensions="MyTripsController" showHeader="false" standardStylesheets="false" title="My Trips" docType="html-5.0" id="pg">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
        <apex:slds />
        <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" rel="stylesheet" />
        <style>
            .slds-table td {
            padding: .25rem .5rem;
            white-space: pre-wrap !important;
            
            }            
            .slds-box {
            padding: 0rem !important; 
            border-radius: .25rem;
            border: 1px solid rgb(221, 219, 218);
            }
            .slds-card__body_inner, .slds-scope .slds-card__body--inner {
            padding: 0rem !important;
            }    
            .slds-is-current {
                color: rgb(255, 255, 255) !important;
            }  
            .slds-scope .slds-tabs_path__item+.slds-is-complete:before, 
            .slds-scope .slds-tabs_path__item+.slds-is-current:before, 
            .slds-scope .slds-tabs--path__item+.slds-is-complete:before, 
            .slds-scope .slds-tabs--path__item+.slds-is-current:before
            
            {
                background-color: #1172cf !important;
            } 
            .slds-scope .slds-tabs_path .slds-is-current+.slds-is-incomplete:before, 
            .slds-scope .slds-tabs--path .slds-is-current+.slds-is-incomplete:before {
                background-color: #1172cf !important;
            }
            .slds-scope .slds-tabs_path__item+.slds-is-incomplete:before, 
            .slds-scope .slds-tabs_path__item+.slds-is-lost:before, 
            .slds-scope .slds-tabs--path__item+.slds-is-lost:before {
                background-color: #c23934!important;
            }
            
                 
        </style>
        <div class="slds-box slds-box slds-theme_default">
            <apex:form id="frm" style="padding:10px;">
                
                <header class="slds-global-header_container">
                    <div class="slds-global-header slds-grid slds-grid--align-spread">                        
                        <ul>
                            <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
                                <apex:commandButton value="Refresh" action="{!reload}" styleClass="slds-button slds-button_brand"/> 
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b> {!$user.FirstName}-{!$user.LastName} </b>
                            </li>
                        </ul>
                        <ul>
                            <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-right--x-small">
                                <!--<button onclick="/secur/logout.jsp" class="slds-button slds-button_small slds-button_text-destructive">Logout</button>-->
                                <button onclick="return false;" class="slds-button slds-button_small slds-button_text-destructive">{!myTrips.size}-Trips</button>
                            </li>
                        </ul>                        
                    </div>
                </header>                
                <br/>
                <br/>
                <br/> 
                <h2 style="font-weight: bold; font-size: 20px;">Upcoming Trips</h2>
                <br/>
                <apex:variable value="{!0}" var="row" />
                <apex:repeat value="{!myTrips}" var="trip" id="rpt">
                    <article class="slds-card">
                        <div class="slds-grid slds-einstein-header slds-card__header">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title">
                                        <b style="font-size:12px"><a onclick="openChatModal();">{!trip.Customer_Name__c}</a></b> 
                                    </h2>
                                </div>
                                <div class="slds-media__body" style="max-width: 20% !important;">
                                    <h2 class="slds-card__header-title ">
                                        <b style="font-size:12px">{!trip.Status__c}</b>
                                    </h2>
                                </div>
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title ">
                                        <b style="font-size:12px">
                                        {!startTimemap[trip.id]}
                                            
                                        
                                        
                                        </b>
                                    </h2>
                                </div>
                            </header>
                        </div>
                        <div class="slds-card__body slds-card__body_inner" style="height:200px">
                            
                            <table class="slds slds-table" id="table" border="0" style="position:inherit">
                                      <tr>
                                          <td><br/></td>
                                      </tr>                          
                                <!--<tr>
                                    <td colspan="4">
                                        <apex:iframe src="{!trip.Car__r.Vehicle_Tracking_URL__c}" scrolling="true" height="400px"/>
                                    </td>
                                </tr> -->
   
                                <tr>
                                
                                    <td style="width: 100px;font-size:12px"><b> <i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Pick up</b></td>
                                    <td><apex:outputfield value="{!trip.Pick_Up_Address__c}"/></td>
                                </tr>
                                
                                <tr>
                                    <td style="width: 100px;font-size:12px"><b><i class="fa fa-map-marker fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Drop off  </b></td>
                                    <td><apex:outputfield value="{!trip.Drop_Address__c}"/></td>
                                </tr>
                                
                                <tr>
                                    <td style="width: 100px;font-size:12px"><b><i class="fa fa-sticky-note fa-fw fa-lg" aria-hidden="true"></i>&nbsp; Trip Description  </b></td>
                                    <td style="font-size:10px;white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;height: 200px;">{!trip.Trip_Requester_Comments__c}</td>
                                </tr>
                                
                                <div class="slds-grid">
                                    <div class="slds-tabs--path" role="application">
                                        <ul class="slds-tabs--path__nav" role="tablist">
                                        
                                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="shiftStart_{!trip.Id}" >
                                                <a class="slds-tabs--path__link" id="shiftStartLink_{!trip.Id}" onclick="statusUpdate('{!trip.Id}', 'Shift Start', '{!row}');return false">
                                                    <span class="slds-tabs--path__title slds-text-heading_small">
                                                        <b style="font-size:small;">Start </b>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="customerPicked_{!trip.Id}">
                                                <a class="slds-tabs--path__link" id="customerPickedLink_{!trip.Id}" onclick="statusUpdate('{!trip.Id}', 'Customer Picked', '{!row}');return false">
                                                    <span class="slds-tabs--path__title slds-text-heading_small">
                                                        <b style="font-size:small">Check In</b>
                                                    </span>
                                                </a>
                                            </li>
                                            
                                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="checkOut_{!trip.Id}">
                                                <a class="slds-tabs--path__link" id="checkOutLink_{!trip.Id}" onclick="checkOut('{!trip.Id}'); return false;">
                                                    <span class="slds-tabs--path__title slds-text-heading_small">
                                                        <b style="font-size:small">Check Out</b>
                                                    </span>
                                                </a>
                                            </li>
                                            
                                            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="cancelTrip_{!trip.Id}">
                                                <a class="slds-tabs--path__link" id="cancelTripLink_{!trip.Id}" onclick="openModal('cancel','{!trip.Id}');return false">
                                                    <span class="slds-tabs--path__title slds-text-heading_small">
                                                        <b style="font-size:small">Cancel Trip</b>
                                                    </span>
                                                </a>
                                            </li>
                                                         
                                        </ul>
                                        
                                        <script>
                                            if('{!trip.Check_In_Reason__c}' == '') {
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;                                            
                                        }
                                        
                                        if('{!trip.Check_In_Reason__c}' == 'Shift Start') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                        }
                                        if('{!trip.Check_In_Reason__c}' == 'Customer Picked') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                        }
                                        if ('{!trip.Check_Out_Location__latitude__s}' != '') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('checkOut_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                            
                                        }
                                        if('{!trip.Status__c }' == 'Cancelled') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-incomplete');
                                            document.getElementById('cancelTrip_{!trip.Id}').classList.add('slds-is-incomplete');
                                            
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('cancelTrip_{!trip.Id}').classList.add('slds-is-lost');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                        }
                                        </script>
                                    </div>
                                </div>
                                
                                
                              <!--  <apex:outputPanel rendered="{!trip.Check_In_Location__Latitude__s == NULL && trip.Check_Out_Location__Latitude__s == NULL}">-->
                                <!--<apex:outputPanel rendered="{!trip.Check_In_Reason__c != 'Customer Picked'}">  
                                   
                                    <tr>
                                        <td style="width:135px">                                
                                            <button onclick="openModal('checkIn', '{!trip.id}');return false" class="slds-button slds-button_success">Check In</button>                                
                                         </td>
                                         <td>                          
                                            <button onclick="openModal('cancel', '{!trip.id}');return false" class="slds-button slds-button_destructive">Cancel Trip</button>                                
                                        </td>
                                    </tr>
                                </apex:outputPanel>-->
                              <!--  <apex:outputPanel rendered="{!trip.Check_Out_Location__Latitude__s == NULL && trip.Check_In_Location__Latitude__s != NULL}"> -->
                              <!--<apex:outputPanel rendered="{!trip.Check_In_Reason__c == 'Customer Picked'}">  
                                    
                                    <tr>
                                        <td style="width:150px">                                
                                            <button onclick="checkOut('{!trip.Id}');return false" class="slds-button slds-button_small slds-button_text-destructive">Check Out</button>                                
                                        </td>
                                    </tr>
                                </apex:outputPanel>-->
                                
                            </table>
                        </div>        
                    </article>
                    
                     <!-- Chat modal Start -->
                        <div style="height:400px;display: none;" id="chatModalId">
                        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close" title="Close" onclick="closeChatModal();return false">
                                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Whats App</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                    <apex:iframe src="/apex/wamessage_driver?id={!trip.InquiryId__c}" height="400px" scrolling="true"/>
                                   
                                </div>   
                                </div>
                                </section>
                                </div>
                    <!-- Chat Modal End-->
                    
                    <div style="height:640px;display: none;" id="modalId">
                        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal();return false">
                                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Reason</h2>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="select-01">
                                            <abbr class="slds-required" title="required">* </abbr>Select Reason:</label>
                                        <div class="slds-form-element__control">
                                            <div class="slds-select_container" id="checkInReason">
                                                <apex:inputField value="{!trip.Check_In_Reason__c}" id="checkInReasonField" styleclass="reason slds-input" onchange="selectReason(this.value);return false"/>
                                            </div>
                                            
                                            <div class="slds-select_container" id="cancelReason">
                                                <apex:inputField value="{!trip.Cancel_Reason__c}" id="cancelTripReasonField" styleclass="reason slds-input" onchange="selectReason(this.value);return false"/>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <footer class="slds-modal__footer">

                                    <button class="slds-button slds-button_brand" id="checkInBtn" onclick="checkIn('{!row}', '{!trip.Id}');return false">Check In</button>
                                    <button class="slds-button slds-button_destructive" id="cancelBtn" onclick="cancelTrip('{!row}','{!trip.Id}');return false">Cancel Trip</button>
                                </footer>
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </div>  
                    <apex:variable value="{!row+1}" var="row" /> 
                    <br/>         
                </apex:repeat>
                <hr/>
                
                <h2 style="font-weight: bold; font-size: 20px;">Recent Trips</h2>
                <br/>
                <apex:variable value="{!0}" var="topRow" />
                <apex:repeat value="{!myTopTrips}" var="trip" id="lrpt">
                    <article class="slds-card">
                        <div class="slds-grid slds-einstein-header slds-card__header">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title">
                                        <b style="font-size:12px">{!trip.Customer_Name__c}</b>
                                    </h2>
                                </div>
                                <div class="slds-media__body" style="max-width: 20% !important;">
                                    <h2 class="slds-card__header-title">
                                        <b style="font-size:12px">{!trip.Status__c}</b>
                                    </h2>
                                </div>
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title">
                                        <b style="font-size:12px">
                                        {!startTimemap[trip.id]}
                                            
                                        
                                        
                                        </b>
                                    </h2>
                                </div>
                            </header>
                        </div>
                        <div class="slds-card__body slds-card__body_inner">
                            <div class="slds-grid">
                                <div class="slds-tabs--path" role="application">
                                    <ul class="slds-tabs--path__nav" role="tablist">
                                    
                                        <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="shiftStart_{!trip.Id}">
                                            <a class="slds-tabs--path__link" id="shiftStartLink_{!trip.Id}" >
                                                <span class="slds-tabs--path__title slds-text-heading--medium">
                                                    <b style="font-size:small">Start </b>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="customerPicked_{!trip.Id}">
                                            <a class="slds-tabs--path__link" id="customerPickedLink_{!trip.Id}" >
                                                <span class="slds-tabs--path__title slds-text-heading--medium">
                                                    <b style="font-size:small">Check In</b>
                                                </span>
                                            </a>
                                        </li>
                                        
                                        <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="checkOut_{!trip.Id}">
                                            <a class="slds-tabs--path__link" id="checkOutLink_{!trip.Id}" >
                                                <span class="slds-tabs--path__title slds-text-heading--medium">
                                                    <b style="font-size:small">Check Out</b>
                                                </span>
                                            </a>
                                        </li>
                                        
                                        <li class="slds-tabs--path__item slds-is-incomplete" role="presentation" id="cancelTrip_{!trip.Id}">
                                            <a class="slds-tabs--path__link" id="cancelTripLink_{!trip.Id}" >
                                                <span class="slds-tabs--path__title slds-text-heading--medium">
                                                    <b style="font-size:small">Cancel Trip</b>
                                                </span>
                                            </a>
                                        </li>
                                                     
                                    </ul>
                                    
                                    <script>
                                        if('{!trip.Check_In_Reason__c}' == '') {
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;                                            
                                        }
                                        
                                        if('{!trip.Check_In_Reason__c}' == 'Shift Start') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                        }
                                        if('{!trip.Check_In_Reason__c}' == 'Customer Picked') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                        }
                                        if ('{!trip.Check_Out_Location__latitude__s}' != '') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-current');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('checkOut_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-current');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                            
                                        }
                                        if('{!trip.Status__c }' == 'Cancelled') {
                                            document.getElementById('shiftStart_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.remove('slds-is-incomplete');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-incomplete');
                                            document.getElementById('cancelTrip_{!trip.Id}').classList.add('slds-is-incomplete');
                                            
                                            document.getElementById('shiftStart_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('customerPicked_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('checkOut_{!trip.Id}').classList.add('slds-is-lost');
                                            document.getElementById('cancelTrip_{!trip.Id}').classList.add('slds-is-lost');
                                            
                                            document.getElementById('shiftStartLink_{!trip.Id}').onclick = null;
                                            document.getElementById('customerPickedLink_{!trip.Id}').onclick = null;
                                            document.getElementById('checkOutLink_{!trip.Id}').onclick = null;
                                            document.getElementById('cancelTripLink_{!trip.Id}').onclick = null;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </article >
                    <apex:variable value="{!topRow+1}" var="topRow" /> 
                    <br/>
                </apex:repeat>
                
                
                
                <apex:actionStatus id="status">
                    <apex:facet name="start">
                        <div>
                            <div class="slds-spinner_container" style="position: fixed;">
                                <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                                    <span class="slds-assistive-text">Loading</span>
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionStatus>
                <apex:outputPanel id="trip">
                    <script>
                    if ('{!message}' != '') {
                        alert('{!message}');
                        location.reload();
                    }
                    </script>
                </apex:outputPanel>
                <apex:actionFunction name="changeAddr" action="{!updateLocation}" status="status" rerender="trip" oncomplete="closeModal();">
                    <apex:param name="tripId" value="" />
                    <apex:param name="type" value="" />
                    <apex:param name="lat" value="" />
                    <apex:param name="lang" value="" /> 
                    <apex:param name="reason" value="" />            
                    <apex:param name="tripEvent" value="" />            
                </apex:actionFunction>
                
                
                
            </apex:form>
        </div>
        <script>
        //openChatModal();
        var tripRecId = '', tripReason = '';;
        var options = {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        };
        function selectReason(val) {
            tripReason = val;
        }
        function statusUpdate(tripId, reason, count) {
            document.getElementById('pg:frm:rpt:'+count+':checkInReasonField').value = reason;
            tripReason = reason;
            checkIn(count, tripId);
        }
        
        function checkIn(count, tripId){
            var checkInReason = document.getElementById('pg:frm:rpt:'+count+':checkInReasonField').value;
            if (checkInReason != '' ) {
                tripRecId = tripId;
                if(navigator.geolocation){ 
                    navigator.geolocation.getCurrentPosition(checkInSuccess, callbackError, options);  
                }               
            } else {
                alert('Please select Check-In Reason.');
            }
            
        }
        function cancelTrip(count, tripId){
            var cancelReason = document.getElementById('pg:frm:rpt:'+count+':cancelTripReasonField').value;
            if(cancelReason != '') {
                tripRecId = tripId;
                if(navigator.geolocation){ 
                    navigator.geolocation.getCurrentPosition(cancelTripSuccess, callbackError, options);  
                }
            }else {
                alert('Please select Cancel Trip Reason.');
            }
        }
        function checkOut(tripId){
            tripRecId = tripId;
            if(navigator.geolocation){ 
                navigator.geolocation.getCurrentPosition(checkOutSuccess, callbackError, options);                 
            }            
        }
        
        function cancelTripSuccess(position) {
            var lat = position.coords.latitude; 
            var lon = position.coords.longitude;
            changeAddr(tripRecId, '', lat, lon, tripReason, 'Cancel Trip');
            
        }
        function checkInSuccess(position) {
            var lat = position.coords.latitude; 
            var lon = position.coords.longitude;
            if (tripReason == '') {
                alert('Please select the reason for CheckIn.');
            } else {
                changeAddr(tripRecId, 'checkIn', lat, lon, tripReason, '');
            }
        }        
        function checkOutSuccess(position) {
            var lat = position.coords.latitude; 
            var lon = position.coords.longitude;
            
            changeAddr(tripRecId, 'checkOut', lat, lon, '', '');            
        }
        function callbackError(error) {}
        
        function openModal(type, tripId) {
            tripRecId = tripId;
            document.getElementById('cancelReason').style.display = 'none';
            document.getElementById('checkInReason').style.display = 'none';
            document.getElementById('checkInBtn').classList.add('slds-hide');
            document.getElementById('cancelBtn').classList.add('slds-hide');
            
            if (type == 'checkIn') {
                document.getElementById('checkInReason').style.display = 'block';
                document.getElementById('checkInBtn').classList.remove('slds-hide');
            }
            if (type == 'cancel') {
                document.getElementById('cancelReason').style.display = 'block';
                document.getElementById('cancelBtn').classList.remove('slds-hide');
            }
            document.getElementById("modalId").style.display = 'block';
            tripReason = '';
        }
        function closeModal() {
            document.getElementById("modalId").style.display = 'none';
        }
        
        
        function openChatModal(){
            document.getElementById("chatModalId").style.display = 'block';
        
        }

        function closeChatModal(){
        
            document.getElementById("chatModalId").style.display = 'none';
        }
        
        
        </script>
    </html>
</apex:page>