<!--
Description : This page will control the users access to delete the New Step based on the profile
-->
<apex:page id="myPage" standardController="New_Step__c" extensions="NewStepDeleteOverride_ctrl" sidebar="false" showHeader="false">
    <script>
    
    if ( {!canDeleteRecord} ) {
        window.parent.location.href = "{!URLFOR($Action.New_Step__c.Delete,New_Step__c.id,[retURL=$Request.retURL],true)}";
    } else {
        alert("You are not allowed to delete the Step.");
        window.history.go(-1);
    }
    </script>
</apex:page>