<apex:page controller="PaymentPlanDetailsController" standardStyleSheets="false" lightningStylesheets="false" 
                                           showHeader="false" title="Payment Plan Setup" docType="html-5.0" >
    <html lang="en">
        <head>
            <apex:slds />
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
            <title>Payment Plan</title>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/font-awesome.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/style.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery.dataTables.min.css')}"/>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
            <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.dataTables.min.js')}"></script>
            <style>
                @font-face{
                    font-family: "fontawesome-webfont";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Bold";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.eot')}") format('embedded-opentype'), 
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Regular";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.eot')}") format('embedded-opentype'),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Light";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff2')}") format("woff2"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff')}") format("woff"),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.eot')}") format('embedded-opentype'),
                        url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.ttf')}") format("truetype");
                }

            </style>
        </head>
        <body>
            <!-- Spinner Div -->
            <div class="slds-scope">
                <div id="spinner" class="slds-hide">
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function showSpinner () {
                    $ ('#spinner').removeClass ('slds-hide');
                }

                function hideSpinner () {
                    $ ('#spinner').addClass ('slds-hide');
                }
                showSpinner();
            </script>
            <header>
                <ul class="breadcrumb">
                    <li><a href="/apex/InventorySetup">Setup</a></li>
                </ul>
                <div class="header-wrap">
                    <p>Payment Plan</p>
                    
            <div class="rgt-btn-wrap status-query-header-rgt">
                <input type="search" name="search-status-query" id="search-status-query" placeholder="Plan Name, Description " style="width: 419px;"/>
                <span class="refresh-btn" onclick="refreshTable();" style="height: 33px;"><i class="fa fa-refresh" aria-hidden="true"  ></i></span>
                <a href="/apex/CreatePaymentPlan" class="blue-btn" onclick="showSpinner();">New Payment Plan</a>
            </div>
                </div>
            </header>
            <div class="content-wrap payment-plan">
                <div class="table-wrap">
                    <div class="filter-wrap">
                        <button id="sel-col-btn" class="sel-col-btn"><i class="fa fa-search"></i><i class="fa fa-angle-down"></i></button>
                        <ul class="select-col">
                            <li class="active">All Columns</li>
                            <li>Plan name</li>
                            <li>Start Date</li>
                            <li>End Date</li>
                        </ul>
                        <input type="text" name="search-txt" id="search-txt" class="search-txt"/>
                        <button id="search-btn" class="search-btn">Go</button>
                    </div>
                    <table id="plan-table" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Plan Name</th><th>%</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="search-wrap">
                    <p class="search-placeholder"><i class="fa fa-search"></i> Payment Term Lines</p>
                    <div class="rgt-tbl-wrap">
                        <span><p class="rgt-blk-title" id="preview"></p></span>
                        <table id="plan-lines-table" class="display" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Installment</th>
                                <th>Description</th>
                                <th>Percent</th>
                                <th>Milestone</th>
                                <th>Translation</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <apex:form >
                <apex:actionFunction name="GetPaymentTerms" action="{!GetPaymentTerms}" 
                                oncomplete="DisplayTerms();hideSpinner();" reRender="scriptTag">
                    <apex:param name="planName" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="searchQuery" action="{!updateSearchQuery}"
                                 onComplete="hideSpinner();" rerender="scriptTag">
                    <apex:param name="search" value=""/>
        		</apex:actionFunction>
                 <apex:actionFunction name="initQuery" action="{!getPaymentPlan}"
                                 onComplete="OnCompleteRefresh();hideSpinner();" rerender="scriptTag1">
        		</apex:actionFunction>
            </apex:form>
        </body>
    </html>

    <apex:outputPanel id="scriptTag">
        <script>
           
            var milestoneFlag = false;
            var count = 0;
            var terms = '';
            var transArray = [];
            var termsObj = [];
            var termsArray =[];
            function DisplayTerms(){
                terms = {!paymentTermsListJSON}
                console.log('paymentTermsListJSON'+terms);
                var newData = '';
                var mileStone = '';
                var mileStoneArabic = '';
                terms.forEach(item => { 
                    if (item.Milestone_Event__c == undefined) {
                        mileStone = '--';
                    } else {
                        mileStone = item.Milestone_Event__c;
                    }
                    if (item.Milestone_Event_Arabic__c == undefined) {
                        mileStoneArabic = '--';
                    } else {
                        mileStoneArabic = item.Milestone_Event_Arabic__c;
                    }
                    var data = {
                        installment: item.Installment__c,
                        description: item.Description__c,
                        percent: item.Percent_Value__c,
                        milestone: mileStone,
                        mileStoneArab : mileStoneArabic
                    };
                    transArray.push(item.Description__c);
                    termsObj.push(data);
                    termsArray.push(data);
                });
                console.log('transArraytransArray'+transArray);
                console.log('termsArray'+termsArray);
                paymentTermLinesDataJson = termsObj;
                initPaymentTermLines();
            }

            function setUpData(milestoneFlag,count,des){
                // alert(installment);
                // var termsObj = [];
                var newTerms = termsObj;
                var newData = '';
                var mileStone = '';
                console.log(termsArray);
                termsArray.forEach(item =>{
                    console.log(item);
                if( des == item.description){
                 if(transArray.find(element => element == des) != undefined){
                        mileStone = item.mileStoneArab;
                        transArray = transArray.filter(x=>x != des);
                        console.log('if'+transArray);
                    }
                  else{
                      mileStone = item.milestone;
                      transArray.push(des);
                      console.log('else'+mileStone);
                      console.log('else'+transArray);
                   }
                  var data = {
                        installment: item.installment,
                        description: item.description,
                        percent: item.percent,
                        milestone: mileStone
                    };
                    console.log('data'+data);
                    var index = termsArray.indexOf(item);
                    console.log('index'+index);
                    if (index !== -1) {
                    newTerms[index] = data;
                    }  
                }
                 });  
                    
                console.log('termsObj'+termsObj);
                console.log(newTerms);
                paymentTermLinesDataJson = newTerms;
                initPaymentTermLines();
             
                
            }
            
            $("#plan-table").on("click", "#planEdit", function ()  {
   		 });

          function refreshTable(){
              //showSpinner();
                initQuery();
   		 	}

            function initPaymentTermLines() {
                $('.rgt-tbl-wrap').show();
                paymentTermLinesTable = $('#plan-lines-table').dataTable({
                    'destroy': true,
                    'data': paymentTermLinesDataJson,
                    'columns': [    
                        { 'data': 'installment', 'width' : '10%'},  
                        { 'data': 'description', 'width' : '30%' },   
                        { 'data': 'percent', 'width' : '10%' }, 
                        { 'data': 'milestone', 'width' : '40%' },                        
                        { mRender: function (data, type, row) {
                        return '<a href="#" class="alert-btn"><i class="fa fa-exclamation-triangle"></i></a>';
                        }
                    }],
                    'ordering': true,
                    'lengthChange': false,
                    'bInfo': false,
                    'searching': false,
                    'paging': false,
                    'scrollY': '420px',
                    'bDestroy': true
                });
            }
        </script>
    </apex:outputPanel>
    <apex:outputPanel id="scriptTag1">       
    <script type="text/Javascript">
        $(document).ready(function () {
            function OnCompleteRefresh(){
               console.log('OnCompleteRefresh');
               initPlanTable();
               }
    		$('#search-status-query').on("keypress", function(e){
       		 if(e.which == 13){
            	var searchTxt = $(this).val().toLowerCase();
            	planTable.columns().search('').draw();
            	planTable.search(searchTxt).draw();
            	showSpinner();
            	searchQuery(searchTxt);

        		}
    		});
            showSpinner();
            var paymentplans = '';
            var arabicText = '';
            var planTable, paymentTermLinesTable, paymentTermLinesDataJson = {};
            paymentplans = {!paymentPlanListJSON};
            var newData = [];
            console.log(paymentplans);
            paymentplans.forEach(item => {
                console.log(item);
                var startDate = '';
                var endDate = '';
                var planName = '';
                var percent = 0;
                var mileStoneArabic = '';
                // console.log('Payment_Terms__r'+item.Payment_Terms__r+' ');
                if (item.Payment_Terms__r != undefined) {
                    var paymentTerms = item.Payment_Terms__r;
                	console.log('paymentTerms'+paymentTerms+' ');
                    if (paymentTerms.totalSize > 0) {
                        paymentTerms.records.forEach(term => {
                            if (term.Percent_Value__c != undefined) {
                                percent += parseFloat(term.Percent_Value__c);
                            }
                        });
                    }
                    percent = Math.round(percent);
                }  
                console.log('perc'+percent+' ');
                if (item.Effective_From__c == undefined ) {
                    startDate = '--';
                } else {
                    startDate = moment(item.Effective_From__c).format('DD/MM/YYYY');
                }
                if (item.Effective_To_calculated__c == undefined) {
                    endDate = '--';
                } else {
                    endDate =  moment(item.Effective_To_calculated__c).format('DD/MM/YYYY');
                }
                if (item.Payment_Term_Description__c == undefined) {
                    planName = '-';
                    //planName = item.Name;
                } else {
                    planName = item.Payment_Term_Description__c;
                    // planName = item.Name + ' - ' + item.Payment_Term_Description__c;
                } 
                var data = {
                    plan_id: item.Id,
                    plan_name: planName,
                    start_date: startDate,
                    end_date:  endDate,
                perc :percent
                };
                newData.push(data);
            });
            console.log(newData);
            planDataJson = newData;
    		initPlanTable();
		function initPlanTable(){
                console.log('initPlanTable');
                console.log(planDataJson);
            planTable = $('#plan-table').DataTable({
                'destroy': true,
                'data': planDataJson,
                'columns': [
                     {
                    	mRender: function (data, type, row) {
                        return '<span class="planEdit" id="'+row.plan_id+'"><i class="fa fa-edit"></i></span>';
                    }
                	},
                    {
                        mRender: function (data, type, row) {
                            return '<a class="plan-name-link"  id="'+row.plan_id+'">' + row.plan_name + '</a>';
                        }
                    },{'data': 'perc'},
                    {'data': 'start_date'},
                    {'data': 'end_date'}
                ],
                'ordering': true,
                'lengthChange': false,
                'bFilter': true,
                'bInfo': false,
            });
            }

            // Table filter and search  
            $('#search-btn').click(function (e) {
                var colIndex = $('ul.select-col li.active').index();
                var searchTxt = $('#search-txt').val().toLowerCase();
                if (colIndex <= 0) {
                    planTable.columns().search('').draw();
                    planTable.search(searchTxt).draw();
                } else {
                    planTable.columns().search('').draw();
                    planTable.column(colIndex-1).search(searchTxt).draw();
                }
            });

            $("#plan-lines-table").on("click", ".alert-btn", function () {
                milestoneFlag = true;
                if (count == 1) {
                    count = 0;
                } else {
                    count = 1;
                }
               var mileStoneData =  $(this).closest('td').prev('td').text();
               var installment = $(this).closest('td').prev('td').prev('td').prev('td').text();
               setUpData(milestoneFlag, count,installment);
            });
            
            
            var values = [];
            var name = '';
            $("#plan-table").on("click", ".plan-name-link", function () { 
               
                 showSpinner();
                var $name = $(this).closest('tr').find('.plan-name-link').text();
                var planName = $(this).attr('id');
                 console.log($name);
                var previewText = 'Payment Plan for: ' + $name;
                $('#preview').text(previewText);
                if ($(this).hasClass('row_selected')) {
                    $(this).removeClass('row_selected');
                } else {
                    planTable.$('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                }
                fnGetSelected();
                GetPaymentTerms(planName);
            });

            $('#sel-col-btn').click(function (e) {
                $('.select-col').toggleClass('open');
                event.stopPropagation();
            });

            $('ul.select-col li').click(function () {
                $('ul.select-col li.active').removeClass("active");
                $(this).addClass("active");
                $('.select-col').removeClass('open');
            });

            // Close the select list on click outside
            $(document).on('click', function (event) {
                if ($('.select-col').hasClass('open')) {
                    $('.select-col').removeClass('open');
                }
            });

            /* Get the rows which are currently selected */
            function fnGetSelected() {
                var rowSelected = planTable.$('tr.row_selected');
                $('.search-placeholder').hide();
            }
            hideSpinner();
        });
    </script></apex:outputPanel>
</apex:page>