<apex:page controller="PaymentPlanBuildingController" standardStyleSheets="false" lightningStylesheets="false" 
                                                showHeader="false" title="Associate Payment Plan" docType="html-5.0" >
    <html lang="en">
        <head>
            <apex:slds />
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
            <title>Associate Payment Plan</title>
            <script src="/soap/ajax/38.0/connection.js"></script>
            <script src="/soap/ajax/38.0/apex.js"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="/soap/ajax/15.0/connection.js" type="text/javascript"></script>
            <script src="/soap/ajax/33.0/apex.js" type="text/javascript"></script>  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/font-awesome.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/style.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery.dataTables.min.css')}"/>
            <apex:styleSheet value="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/css/jquery-ui.min.css')}"/>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery-ui.min.js')}"></script
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.min.js')}"></script>
            <script src="{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/js/jquery.dataTables.min.js')}"></script>

            <style>
                @font-face{
                    font-family: "fontawesome-webfont";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fontawesome-webfont.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Bold";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.eot')}") format('embedded-opentype'), 
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Bold/OpenSans-Bold.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Regular";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Regular/OpenSans-Regular.ttf')}") format("truetype");
                }

                @font-face{
                    font-family: "OpenSans-Light";
                    src: url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff2')}") format("woff2"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.woff')}") format("woff"),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.eot')}") format('embedded-opentype'),
                    url("{!URLFOR($Resource.InventoryHTML, '/InventoryHTML/fonts/OpenSans-Light/OpenSans-Light.ttf')}") format("truetype");
                }
            </style>
        </head>
        <body>
            <!-- Spinner Div -->
            <div class="slds-scope">
                <div id="spinner" class="slds-hide">
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function showSpinner () {
                    $ ('#spinner').removeClass ('slds-hide');
                }
                
                function hideSpinner () {
                    $ ('#spinner').addClass ('slds-hide');
                }
                showSpinner();
            </script>
            <header>
                <ul class="breadcrumb">
                    <li><a href="/apex/InventorySetup">Setup</a></li>
                    <li><a href="/apex/associatePaymentPlan?id={!building.Property_Name__c}">Associate Payment Plan</a></li>
                </ul>
                <div class="header-wrap">
                    <p>Payment Plan For Building: {!building.Building_Name__c}</p>
                </div>
            </header>
            <div class="content-wrap payment-plan payment-plan-details">
                <div class="table-wrap details">
                    <p>Building/ Cluster Details</p>
                    <ul>
                        <li>
                            <span class="detail-lbl">Project</span>
                            <span class="detail-val">{!building.Property_Name__r.Property_Name__c}</span>
                        </li>
                        <li>
                            <span class="detail-lbl">Building/ Cluster</span>
                            <span class="detail-val">{!building.Building_Name__c}</span>
                        </li>
                        <li>
                            <span class="detail-lbl">Project Type</span>
                            <span class="detail-val">Building</span>
                        </li>
                        <li>
                            <span class="detail-lbl">No. of Floors</span>
                            <span class="detail-val">{!floorCount}</span>
                        </li>
                        <li>
                            <span class="detail-lbl">No. of Units</span>
                            <span class="detail-val">{!unitCount}</span>
                        </li>
                    </ul>
                </div>
                <div class="search-wrap floor-detail-rgt-sec">
                    <div class="title-wrap">
                        <p>Associate Payment Plans - Building/ Cluster</p>
                        <button class="add-plan-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <apex:outputPanel id="payPlanPanel">
                        <table id="associate-plan-building-table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Plan</th>
                                    <th>End Date</th>
                                    <th>Updated On</th>
                                </tr>
                            </thead>
                        </table>
                        <label class="no-plan-placeholder">No Payment Plan is associated with this Building.</label>
                    </apex:outputPanel>
                </div>

                <!-- Associate Payment Plan Modal -->
                <div id="asociate-payment-plan-modal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Associate Payment Plan</h2>
                        </div>
                        <apex:form >
                            <div class="modal-body">
                                <div class="form-control">
                                    <p><sup>*</sup> Select Plan</p>
                                    <div class="form-element">
                                        <select name="plan" id="plan">
                                            <option value="-1">-- Select Plan --</option>
                                            <apex:repeat value="{!planNamesList}" var="planName">
                                                <option value="{!planNamesMap[planName]}">{!planName}</option>
                                            </apex:repeat>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-control">
                                    <p>End Date</p>
                                    <div class="form-element date-input">
                                        <input type="text" name="end-date"  id="end-date" placeholder="MM/DD/YYYY" />
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <apex:actionFunction name="addPayPlan" action="{!associatePayPlan}" 
                                    oncomplete="loadPayPlanTable();hideAssocPanel();hideSpinner();" reRender="scriptTag,payPlanPanel">
                                <apex:param name="payPlanId" value=""/>
                                <apex:param name="endDate" value=""/>
                            </apex:actionFunction>
                        </apex:form> 
                        
                        <div class="modal-footer">
                            <button class="btn-cancel grey-btn plan-btn">Cancel</button>
                            <button class="btn-create blue-btn" onclick="addPayPlanJS();">Create</button>
                        </div>
                    </div>    
                </div>

                <!-- Associate Payment Plan Modal -->
                <div id="view-asociate-payment-plan-modal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Payment Plan Lines</h2>
                        </div>
                        <div class="modal-body">
                            <p>Payment Plan: <span id="planNameSpan">ZADATEST</span></p>
                            <table id="plan-lines-table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Installment</th>
                                        <th>Description</th>
                                        <th>Percent</th>
                                        <th>Event</th>
                                        <th>Created On</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="1">Report Total:</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>    
                </div>
            </div>
        </body>
    </html>
    <apex:outputPanel id="scriptTag">
        <script>
            function loadPayPlanTable(){
                var data = {!payplanJSON};
                console.log('payplanJSON:' + data);
                var endDateMap = jQuery.parseJSON('{!JSENCODE(payPlanEndDateMapJSON)}');
                console.log('endDateMap: ' + endDateMap );
                var newData = [];
                data.forEach(item => {
                    var planName = item.Name;
                    var endDate = '-';
                    if(item.Id != null && endDateMap[item.Id] != undefined && endDateMap[item.Id] != ''){
                        endDate = endDateMap [item.Id];
                    }
                    if(item.Payment_Term_Description__c != undefined && item.Payment_Term_Description__c != ''){
                        planName += ' - ' + item.Payment_Term_Description__c;
                    }
                    map.set(planName, item.Payment_Terms__r);
                    console.log('planName: ' + planName);
                    console.log('item.LastModifiedDate: ' + item.LastModifiedDate);
                    var data = {
                        plan: planName,
                        end_date: endDate,
                        updated_on: item.LastModifiedDate.substring(0,10),
                        payTerms: item.Payment_Terms__r
                    };
                    console.log('data: ' + data);
                    newData.push(data);
                });
                console.log('newData: ' + newData);
                var buildingPlansTable,
                buildingPlansTableJSON = newData,
                planLinesTable;

                if(buildingPlansTableJSON.length) {
                    $('.no-plan-placeholder').hide();
                    $('#associate-plan-building-table').show();
                } else {
                    $('#associate-plan-building-table').hide();
                    $('.no-plan-placeholder').show();
                }

                buildingPlansTable = $('#associate-plan-building-table').DataTable( {
                    'data': buildingPlansTableJSON,
                    'columns': [
                        {
                            mRender: function (data, type, row) {
                                var retURL = '<a class="view-plan-btn" onclick="showPaymentTerms(' 
                                            + '\'' + row.plan + '\'' + ')"><i class="fa fa-eye"></i></a>';
                                return retURL;
                            }
                        },
                        { 'data': 'plan' },
                        { 'data': 'end_date' },
                        { 'data': 'updated_on' }
                    ],
                    'ordering': true,
                    'lengthChange': false,
                    'bInfo': false,
                    'searching': false,
                    'paging': false
                });
            }
        </script>
    </apex:outputPanel> 
    <script>
    function addPayPlanJS(){
        showSpinner();
        var e = document.getElementById("plan");
        var payPlanId = e.options[e.selectedIndex].value;
        var endDate = document.getElementById("end-date").value;
        console.log('payPlanId: ' + payPlanId);
        console.log('endDate: ' + endDate);
        if(payPlanId == null || payPlanId == undefined || payPlanId == ''  || payPlanId == '-1'){
            alert('Select a Payment Plan!');
            hideSpinner();
        } else if(endDate == null || endDate == undefined || endDate == ''){
            alert('Select an End Date!');
            hideSpinner();
        } else{
            addPayPlan(payPlanId, endDate);
        }
    }

    function hideAssocPanel(){
        $('#asociate-payment-plan-modal').hide();
    }

    var map = new Map(); 
    function showPaymentTerms(payPlanName){
        console.log('payPlanName: ' + payPlanName);
        console.log('map: ' + map);
        var termData = map.get(payPlanName);
        var newData = [];
        console.log('termData: ' + termData);
        var eventData = '';
        if (termData != undefined) {
            termData.records.forEach(item => {
                if(item.Milestone_Event__c == undefined){
                    eventData = '--';
                } else{
                    eventData = item.Milestone_Event__c;
                }
                var data = {
                    installment:item.Installment__c,
                    description: item.Description__c,
                    percent: item.Percent_Value__c,
                    event: eventData,
                    created_on: item.CreatedDate.substring(0,10)
                };
                console.log('data: ' + data);
                newData.push(data);
            });
        }
        document.getElementById("planNameSpan").textContent = payPlanName;
        $('#view-asociate-payment-plan-modal').show();
        initPlanLinesTable(newData);
    }

    function initPlanLinesTable(planLinesTableJSON) {
        planLinesTable = $('#plan-lines-table').dataTable( {
            'destroy': true,
            'data': planLinesTableJSON,
            'columns': [
            { 'data' : 'installment'},
            { 'data' : 'description'},
            { 'data': 'percent' },
            { 'data': 'event' },
            { 'data': 'created_on' }
            ],
            'ordering': false,
            'lengthChange': false,
            'bInfo': false,
            'searching': false,
            'paging': false,
            "footerCallback": function (row, data, start, end, display) {   
                var totalAmount = 0,
                api = this.api();
                for (var i = 0; i < data.length; i++) {
                    totalAmount += parseFloat(data[i].percent);
                }
                console.log(totalAmount);
                $( api.column( 2 ).footer() ).html(totalAmount.toFixed(2));
            }
        });
    }

    $(document).ready(function (){
        $('.add-plan-btn').on("click", function() {
            document.getElementById("plan").value = '-1';
            document.getElementById("end-date").value = '';
            $('#asociate-payment-plan-modal').show();
            console.log('3');
        });

        $('.modal .close, .modal .btn-cancel, .modal .plan-btn').on("click", function() {
            $(this).closest('.modal').hide();
        });

        $("#end-date").datepicker({ dateFormat: 'dd/mm/yy' });
        $('.fa-calendar').click(function() {
            $(this).siblings('.hasDatepicker').focus();
        });
        loadPayPlanTable();
        hideSpinner();
    }); 
    </script>
</apex:page>