<apex:page controller="FetchOBIEEReports" sidebar="true">

    <apex:form >
    <center>
        <apex:pageBlock >
            <apex:pageBlockSection columns="2"  >
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Report Name"/>
                </apex:pageblockSectionItem>        
                <apex:pageblockSectionItem >                
                    <apex:selectList size="1" value="{!repNamePerf}">
                        <apex:selectOptions value="{!PerfReportName}"/>
                    </apex:selectList>                
                </apex:pageblockSectionItem>
     </apex:pageBlockSection>
    </apex:pageBlock>
    <apex:actionFunction action="{!redirect}" name="OpenPage" reRender="PerformanceReports">
    <apex:param assignTo="{!Page}" value="PerformanceReports" name="param1"/>
</apex:actionFunction>
    <apex:pageBlock id="PerformanceReports">
    <apex:pageBlockButtons >
        <apex:commandButton value="Generate Rankings" onclick="OpenPage(); return false;"/>
        </apex:pageBlockButtons>
       
        <apex:iframe id="theIframe1" src="{!OpenPageURL1}" scrolling="true" height="200" title="HOD Rankings"/>
 
        <apex:iframe id="theIframe2" src="{!OpenPageURL2}" scrolling="true" height="400" title="HOS Rankings"/>
       
        <apex:iframe id="theIframe3" src="{!OpenPageURL3}" scrolling="true" title="DOS Rankings"/>
      
        </apex:pageBlock>
  </center>
       
    </apex:form>

</apex:page>