<apex:page docType="html-5.0" controller="DAMAC_Project_Avaliability" id="pg" renderas="{!renderaspdf}" applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false" sidebar="false" showHeader="false" readOnly="true" tabStyle="projects__tab">
    
    <head>  
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no"/> 
        <style type="text/css" media="print">
        @page {
            size: letter;
            margin: 25mm;
            @top-center {    
                content: element(header) !important;
            }
            @bottom-center {
                content: element(footer) !important;
            }
        }
        div.header {
            padding: 0px;
            position: running(header);
            text-align="center";
        }
        div.footer {
            display: block;
            padding: 5px;
            color:red;
            font-size:10px;
            font-style: italic;
            position: running(footer);
        }
        .propertyLabel{
            font-size:12px;
            font-weight:bold;
            color:white;
            display: inline;
        }
        .statusLabel{
            font-size:12px !important;
            font-weight:bold !important;
            color:white !important;
            margin-right:5px !important;
        }
        </style>
    </head>
  
    
    <!-- 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css"/>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>    
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>    
    <apex:stylesheet value="{!URLFOR($Resource.pjs, 'bsmin.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.pjs, 'dtmin.css')}"/>
    -->
   
    
    
    <apex:outputPanel rendered="{!render}">    
    <apex:form id="frm">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <apex:stylesheet value="{!URLFOR($Resource.pjs, 'bsselmin.css')}"/>  
    <apex:includeScript value="{!URLFOR($Resource.pjs, 'jqmin.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.pjs, 'bsmin.js')}"/>
  <!--  <apex:includeScript value="{!URLFOR($Resource.pjs, 'bsselmin.js')}"/>   --> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script> 
    <apex:includeScript value="{!URLFOR($Resource.pjs, 'dtmin.js')}"/>  
    
        
    <style>    
        .btn-circle {
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
        }
       
        .overlay {
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        opacity: 0.3;
        -moz-opacity: 0.3;
        width: 100%;
        //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        //filter: alpha(opacity=30);
        background: #000;
        -khtml-opacity: 0.3;
        z-index: 1000;
        }
        .loader {
        background: url("/img/loading32.gif") scroll no-repeat 0 0;
        width: 32px;
        height: 32px;
        position: absolute;
        left: 50%;
        }
        .table-condensed{
        font-size: 10px;
        }    
        .sortingiconsize{
        background-size: 10px 10px; !important;
        }
        .nosortingicon{
        background : none;  !important;
        }
   
    </style>
   
    
 <!--*****************************************************************************************  MOBILE SF1  ********************************************************************************************************-->
    <apex:outputPanel rendered="{!ismobile}">        
   
        <table class="table table-responsive table-condensed">         
        <tr>
        <td>
        &nbsp;
        <b>Marketing Name</b>
        
        </td>
        <td>
       
        <apex:selectList value="{!idsselected}" multiselect="true" id="A" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!items}"/>
        </apex:selectList>
        
        </td>
        </TR>
        <tr>
         <td>
        &nbsp;
        <b>Property Name</b>
        
        </td>
        <td>
        
        <apex:selectList value="{!propertyNameFilter}" multiselect="true" id="B" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PropertyNames}"/>
        </apex:selectList>
        
        </td>
        
        </tr>
        
        <tr>
        <td>
        &nbsp;
        <b>Status</b>
        
        </td>
         <td>
       
        <apex:selectList value="{!propStatusTofilter}" multiselect="true" id="C" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PropStatus}"/>
        </apex:selectList>
        
        </td>
        </TR>
        <tr>
        <td>
        &nbsp;
        <b>City</b>
        
        </td>
         <td>
       
        <apex:selectList value="{!citiesToFilter}" multiselect="true" id="D" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!Cities}"/>
        </apex:selectList>
       
        </td>
        </tr>
        
        <tr>
         <td>
        &nbsp;
        <b>Unit Type</b>
        
        </td>
         <td>
       
        <apex:selectList value="{!unitTypeToFilter}" multiselect="true" id="E" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!UnitTypes}"/>
        </apex:selectList>
       
        </td>
        </TR>
        <tr>
         <td>
        &nbsp;
        <b>ACD</b>
        
        </td>
         <td>
       
        <apex:selectList value="{!acdFilter}" multiselect="true" id="F" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!Acd}"/>
        </apex:selectList>
        
        </td>
       
        </tr>
       
        <tr>
         <td>
        &nbsp;
        <b>Bedroom Type</b>
        
        </td>
         <td>
       
        <apex:selectList value="{!bedRoomFilter}" multiselect="true" id="G" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!BedRooms}"/>
        </apex:selectList>
        
        </td>
        </tr>
        <tr>
        <td>
        &nbsp;
        <b>Floor/Package</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!packageNamesFilter}" multiselect="true" id="H" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PkgNames}"/>
        </apex:selectList>
        
        </td>
       
        </tr>
       
        
        <tr>
            <td><b>Min Price:</b></td>
            <td><apex:inputtext value="{!minprice}" style="width: 100px;"/></td>
            </tr>
            <tr>
            <td><b>Max Price</b></td>
            <td><apex:inputtext value="{!maxprice}" style="width: 100px;"/></td>
        </tr>
        
        <tr>
            <td><b>Min Sft:</b></td>
            <td><apex:inputtext value="{!minsft}" style="width: 100px;"/></td>
            </tr>
            <tr>
            <td><b>Max Sft:</b></td>
            <td><apex:inputtext value="{!maxsft}" style="width: 100px;"/></td>
        </tr>
        
         <tr>       
        
        <td colspan="5"> <!-- BUTTONS -->        
        <apex:commandButton value="All / Filter" action="{!filterData}" status="status" styleclass="btn btn-success btn-sm" onclick="startLoading();"/>        
        &nbsp;       
       <!-- <input type="button" value="Clear" onclick="startLoading();window.location.reload();" class="btn btn-danger btn-sm"/> -->
        <apex:commandButton value="Clear" action="{!pageload}" status="status" styleclass="btn btn-danger btn-sm" onclick="startLoading();"/>  
             
        </td>
        </tr> 
        <tr>
            <td>
                <br/>
                <font color="red"> <i> PRICES ARE INCLUSIVE OF VAT (WHERE APPLICABLE) </i> </font> 
            </td>
        </tr>       
        </table>
      </apex:outputPanel>
      
      <!--********************************************************************************NORMAL****************************************************************** -->
      <apex:outputPanel rendered="{!!ismobile}">
      
          This page is moved to "Project Availability" Tab, Please refer the same.
      
      </apex:outputPanel>
      <apex:outputPanel rendered="false">
         
   
        <table class="table-responsive">
         
        <tr>
        <td>
        &nbsp;
        <b>Marketing Name</b>
        &nbsp;
        </td>
        <td>
       
        <apex:selectList value="{!idsselected}" multiselect="true" id="A1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!items}"/>
        </apex:selectList>
        
        </td>
         <td>
        &nbsp;
        <b>Property Name</b>
        &nbsp;
        </td>
        <td>
        
        <apex:selectList value="{!propertyNameFilter}" multiselect="true" id="B1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PropertyNames}"/>
        </apex:selectList>
        
        </td>
        
        </tr>
        <tr><td><br/></td></tr>
        <tr>
        <td>
        &nbsp;
        <b>Status</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!propStatusTofilter}" multiselect="true" id="C1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PropStatus}"/>
        </apex:selectList>
        
        </td>
        <td>
        &nbsp;
        <b>City</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!citiesToFilter}" multiselect="true" id="D1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!Cities}"/>
        </apex:selectList>
       
        </td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>
         <td>
        &nbsp;
        <b>Unit Type</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!unitTypeToFilter}" multiselect="true" id="E1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!UnitTypes}"/>
        </apex:selectList>
       
        </td>
         <td>
        &nbsp;
        <b>ACD</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!acdFilter}" multiselect="true" id="F1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!Acd}"/>
        </apex:selectList>
        
        </td>
       
        </tr>
        <tr><td><br/></td></tr>
         <tr>
         <td>
        &nbsp;
        <b>Bedroom Type</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!bedRoomFilter}" multiselect="true" id="G1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!BedRooms}"/>
        </apex:selectList>
        
        </td>
        
         <td>
        &nbsp;
        <b>Floor/Package</b>
        &nbsp;
        </td>
         <td>
       
        <apex:selectList value="{!packageNamesFilter}" multiselect="true" id="H1" styleclass="selectpicker" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
            <apex:selectOptions value="{!PkgNames}"/>
        </apex:selectList>
        
        </td>
       
        </tr>
        <tr><td><br/></td></tr>
        
       
        
        <tr>&nbsp;
            <td>&nbsp;Min Price:&nbsp;</td>
            <td>&nbsp;<apex:inputtext value="{!minprice}" style="width: 100px;"/>&nbsp;</td>
            <td>&nbsp;Max Price:&nbsp;</td>
            <td>&nbsp;<apex:inputtext value="{!maxprice}" style="width: 100px;"/>&nbsp;</td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>            
            <td>&nbsp;Min Sft:&nbsp;</td>
            <td>&nbsp;
            <apex:inputtext value="{!minsft}" style="width: 100px;"/>
            &nbsp;
            </td>
            <td>&nbsp;Max Sft:&nbsp;</td>
            <td>&nbsp;
            <apex:inputtext value="{!maxsft}" style="width: 100px;"/>
            &nbsp;</td>
        </tr>
        <tr><td><br/></td></tr>
        
        
        
       
         <tr>       
        
        <td colspan="5">
        
        <apex:commandButton value="All / Filter" action="{!filterData}"  status="status" styleclass="btn btn-success btn-sm" onclick="startLoading();"/>        
        &nbsp;       
        <!--<input type="button" value="Clear" onclick="startLoading();window.location.reload();" class="btn btn-danger btn-sm"/>-->
        <apex:commandButton value="Clear" action="{!pageload}" status="status" styleclass="btn btn-danger btn-sm" onclick="startLoading();"/> 
        &nbsp;
        
        <apex:commandlink value="Download" action="{!prepareData}" styleclass="btn btn-success btn-sm" target="__blank"/>
       
        </td>
        </tr>
        
        <tr>
            
            <td>
                <br/>
                <font color="red"> <i> PRICES ARE INCLUSIVE OF VAT (WHERE APPLICABLE) </i> </font> 
            </td>
        </tr> 
        
        </table>
      </apex:outputPanel>
<!-- ******************************************************************* FILTERS END ***********************************************************************-->
      <br/>
   
    
    <apex:outputPanel id="out">
        <apex:actionstatus id="status" startText="Fetching...">
            <apex:facet name="stop">
                <apex:outputPanel rendered="{!ismobile}">                    
                    <!-- DATA Table -->                    
                    <table class="{!IF(ismobile,'table table-striped table-responsive table-condensed','table table-striped table-responsive')}" style="{!IF(ismobile,'display:block;overflow-x: auto;','')}" id="example">
                    <thead>
                    <tr style="background-color: black;color: white;">
                        
                        <th class="sortingiconsize"> Project Name(Mktg) </th>
                        <th class="sortingiconsize"> Project Name (Int)</th>
                        <th class="sortingiconsize"> Unit </th>
                        <th class="sortingiconsize"> Bedroom Type </th>
                        <th class="sortingiconsize"> Bedrooms </th>
                        
                        <th class="sortingiconsize"> Area (Sft) </th>
                        <th class="sortingiconsize"> Special Price</th> 
                       
                        <th style="background : none;display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}"> U </th>
                        <th style="background : none;display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}"> F </th>
                        <th style="background : none;display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}"> P </th>                        
                        <th style="background : none;display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}"> SO </th> 
                        <th style="background : none;"> Details </th>                        
                    </tr>
                    </thead>
                    
                    <tbody>                  
                       
                        <apex:repeat value="{!filteredinventory}" var="inv">
                            <tr>
                            <td style="width: 300px;">
                                 <apex:outputField value="{!inv.Marketing_Name__c}" rendered="{!IF(inv.Marketing_Name__c !=null,true,false)}"/>
                                 <apex:outputField value="{!inv.Property_Name__c}" rendered="{!IF(inv.Marketing_Name__c ==null,true,false)}"/>
                            </td>
                            <td>
                                {!inv.Property_Name__c}
                            </td>
                            <td>
                                {!inv.Unit_Location__r.Name}
                            </td>
                            
                            <td>
                                {!inv.Bedroom_Type__c}
                            </td>
                            <td>
                                {!inv.IPMS_Bedrooms__c}
                            </td>
                             
                            <td>
                                <apex:outputText value="{0,number,#,##0}">    
                                   <apex:param value="{!inv.Area_sft__c}"/>
                                </apex:outputText>
                                <!--
                                <apex:outputfield value="{!FLOOR(inv.Area_Sqft_2__c)}"/> 
                                -->
                            </td>
                            
                           
                            
                            <td>
                               <apex:outputfield value="{!inv.Special_Price__c}"/>
                            </td>
                            
                            
                            
                            <td style="display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}">                               
                                <apex:outputPanel rendered="{!IF(inv.Unit_Plan__c==null,true,false)}">                                
                                    <i class="glyphicon glyphicon-minus-sign btn btn-circle" title="No Plan Avaliable"></i>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!IF(inv.Unit_Plan__c!=null,true,false)}">
                                    <a href="{!inv.Unit_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Unit Plan">
                                    <i class="glyphicon glyphicon-new-window"></i>                                
                                    </a>
                                </apex:outputPanel>                                 
                            </td>
                            <td style="display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}">
                                <apex:outputPanel rendered="{!IF(inv.Floor_Plan__c==null,true,false)}">                                
                                    <i class="glyphicon glyphicon-minus-sign btn btn-circle" title="No Plan Avaliable"></i>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!IF(inv.Floor_Plan__c!=null,true,false)}">
                                    <a href="{!inv.Floor_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Floor Plan">
                                    <i class="glyphicon glyphicon-new-window"></i>                                
                                    </a>
                                </apex:outputPanel>                                 
                            </td>
                           
                            <td style="display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}">
                                <apex:outputPanel rendered="{!IF(inv.Plot_Plan__c==null,true,false)}">                                
                                    <i class="glyphicon glyphicon-minus-sign btn btn-circle" title="No Plan Avaliable"></i>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!IF(inv.Plot_Plan__c!=null,true,false)}">
                                    <a href="{!inv.Plot_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Plot Plan">
                                    <i class="glyphicon glyphicon-new-window"></i>                                
                                    </a>
                                </apex:outputPanel>                                
                            </td>
                            
                            <td style="display:{!IF($User.UIThemeDisplayed == 'Theme4t','none','')}">
                                                                
                                
                                    <a href="/apex/Damac_InventoryDetail?Id={!inv.id}" target="__blank" class="btn btn-circle" title="Click for SO">
                                    <i class="glyphicon glyphicon-new-window"></i>                                
                                    </a>
                                                               
                            </td>
                            
                            
                            <td>
                                <a onclick="openDetails('{!inv.id}');" class="btn btn-circle" style="cursor:pointer !important;color:#0D80FC"><i class="glyphicon glyphicon-new-window" title="Click for more details"> </i> </a>
                                
                            </td>
                            
                            
                            </tr>
                        </apex:repeat>
                    </tbody>
                    </table>
                    
                </apex:outputPanel>
            </apex:facet>
        </apex:actionstatus>
       
         <!-- Loading Div -->
        <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
        <div class="loadingBox overlay"></div>
        
        
      
     
   
    <script>
        $(document).ready(function() {  
              
                var table = $('#example').DataTable( {   
                    "dom": '<"top"lf>rt<"bottom"ip><"clear">',                    
                    
                } );
        
            
            
            
            
       
           //sorting        
           function sortOptions(selList) {
                var options = document.getElementById(selList).options;
                var optionsArray = [];
                for (var i = 0; i < options.length; i++) {                    
                    optionsArray.push(options[i]);
                }
                optionsArray = optionsArray.sort(function (a, b) {           
                    return a.innerHTML.toLowerCase().charCodeAt(0) - b.innerHTML.toLowerCase().charCodeAt(0);    
                });
            
                for (var i = 0; i <= options.length; i++) {            
                    options[i] = optionsArray[i];
                }
                //options[0].selected = true;
            }
            if('{!ismobile}' == 'true'){
                sortOptions('pg:frm:A');
                sortOptions('pg:frm:B');
                sortOptions('pg:frm:C');
                sortOptions('pg:frm:D');
                sortOptions('pg:frm:E');
                //sortOptions('pg:frm:F');
                sortOptions('pg:frm:G');
            }
            if('{!ismobile}' == 'false'){
                sortOptions('pg:frm:A1');
                sortOptions('pg:frm:B1');
                sortOptions('pg:frm:C1');
                sortOptions('pg:frm:D1');
                sortOptions('pg:frm:E1');        
                //sortOptions('pg:frm:F1');
                sortOptions('pg:frm:G1');
            }        
    } );
    
   
    // loading icon
    function startLoading(){
        $('#load_scrl').css('top', $(document).scrollTop() + 100);
        $('.loadingBox').show();
    }
    function endLoading(){
         $('.loadingBox').hide();
    }
    /*
    function myFunction() {
        var x = document.getElementById('myDIV');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    
    function autoSearch(){
        console.log('called');
        startLoading();
        funautofilter();
        endLoading();
    }
    */
    
    function openDetails(recordid){
        if('{!$User.UIThemeDisplayed}' != 'Theme4t'){
        window.open('/'+recordid);
        
        }else{
            //alert();
            sforce.one.navigateToSObject(recordid,'detail');
        }
    }
    
    </script>
    </apex:outputPanel>
    <apex:actionFunction action="{!filterData}" name="funautofilter" reRender="out" status="status"/>  
  </apex:form>
  </apex:outputPanel>
    
    <!-- **************************************************** PDF FORM  ****************************************************-->
      
    <apex:form id="pdfform">
    
    <apex:outputPanel rendered="{!!render}" id="pdflayout">
    
    
    <html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="utf-8" http-equiv="encoding"/>
    <head>    
        
    </head>
    <body>  
    
        <div class="header" align="center">
            <img src="{!$Resource.DAMAC_logo}" width="150" height="50"/>            
        </div>
       
        
        
        
         <div class="footer" align="center">
        <!-- rendered="{!propId == null}" -->
            <apex:outputPanel >Avaliability List generated on : 
             <apex:outputText value="{0,date,MMM dd ',' yyyy hh:mm:ss a}">
                <apex:param value="{!NOW()+offset}"/>
             </apex:outputText>
             (Confidential and not for redistribution)</apex:outputPanel>
            <!--<apex:outputPanel rendered="{!propId != null}">Generated on : <apex:outputText value="{0,date,MMM dd ',' yyyy hh:mm:ss a}">
                <apex:param value="{!NOW()+offset}"/>
             </apex:outputText> (Confidential and not for redistribution)</apex:outputPanel> -->
        </div>
       
        <apex:variable var="cnt" value="{!0}" /> 
        <apex:repeat value="{!mpAvailable}" var="bld">
            <div style="display:block;page-break-after:auto">
            <apex:variable var="cnt" value="{!cnt+1}"/>
            <!--<div style="page-break-after:always;">-->
            <div style="background:#000000; color:white;height:35px;width:100%;" align="center">
                <div style="float:left">
                    <label class="propertyLabel" style="margin-left:5px;">{!mpBuildings[bld].Building_name__c}-{!mpAvailable[bld][0].Marketing_Name__c}</label>
                    <apex:repeat value="{!mpAvailable[bld]}" var="prop" rows="1">
                        <label class="propertyLabel">(Country :{!prop.Property_Country__c} )</label>
                        <label class="propertyLabel">({!prop.Property_City__c})</label>
                    </apex:repeat>
                   <!-- <label class="countryLabel">(Country :{!mpAvailable[bld].Property_Country__c} )</label>
                    <label class="statusLabel">({!mpAvailable[bld].Property_City__c})</label>-->
                </div>
                <div style="float:right">
                    <label class="statusLabel">Status : {!mpBuildings[bld].status__c}</label>
                </div> 
                
            </div>
                
            <br/>
            <br/>
            
            <table width="100%" style="font-size:10px;font-family: Arial Unicode MS;" cellspacing="0" border="1px solid #eee">
                <tr>
                   <th style="background:#000000; color:white;font-weight:bold;text-align:center; font-size:12px" colspan="{!$ObjectType.Inventory__c.fieldsets.Project_Unit.size}">Available Units - PRICES ARE INCLUSIVE OF VAT (WHERE APPLICABLE) </th> 
                </tr>
                <tr>
                    <apex:repeat value="{!$ObjectType.Inventory__c.fieldsets.Project_Unit}" var="f">
                        
                            <th style="width:{!widthpx};font-size:10px;font-family: Arial Unicode MS; font-weight:bold;background-color:#ccc;display:{!IF( f.Label = 'Currency ISO Code' , 'None', '')}">
                                <b>{!f.label}</b>
                            </th>
                        
                    </apex:repeat>
                </tr>
                <apex:repeat value="{!mpAvailable[bld]}" var="inv">
                    <tr style="page-break-inside:avoid; page-break-after:auto">
                        <apex:repeat value="{!$ObjectType.Inventory__c.fieldsets.Project_Unit}" var="f">
                            
                            <td style="width:{!widthpx};font-size:8px;display:{!IF( f.Label = 'Currency ISO Code' , 'None', '')}">
                                 <apex:outputPanel rendered="{!IF(f.Type == 'currency',true,false)}">
                                    <apex:outputText value="{!inv.CurrencyIsoCode}{0, number, ###,##0.00}"> 
                                        <apex:param value="{!inv[f]}"/> 
                                    </apex:outputText>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(f.Type != 'currency',true,false)}">
                                    <apex:outputText value="{!inv[f]}" style="text-transform: uppercase;"/>
                                </apex:outputPanel>
                            </td>
                         
                        </apex:repeat>
                    </tr>
                </apex:repeat> 
            </table>
            <br/>
            <br/>
                <apex:repeat rendered="{!IF(CONTAINS(planKeyStr,bld), true, false)}" value="{!mpPaymentPlans[bld]}" var="pp">
                    <table width="100%" style="font-size:10px;font-family: Arial Unicode MS;page-break-inside: avoid;" cellspacing="0" border="1px solid #eee">
                        <tr >
                           <th style="background:#000000; color:white;font-weight:bold;text-align:center; font-size:12px;font-family: Arial Unicode MS;" colspan="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New.size}">Payment Plan</th> 
                        </tr>
                        <tr>
                            <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                <th style="width:{!ptWidthPx};font-size:10px; font-weight:bold;background-color:#ccc;font-family: Arial Unicode MS;">
                                    <b>{!f.label}</b>
                                </th>
                            </apex:repeat>
                        </tr>
                        <apex:repeat value="{!mpPaymentTerms[pp.Id]}" rendered="{!IF(CONTAINS(pTermKeyStr,pp.Id), true, false)}"  var="term">
                            <tr>
                                <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                    <td style="width:{!ptWidthPx}; font-size:10px;font-family: Arial Unicode MS; " >
                                        <apex:outputtext value="{!term[f]}"/>
                                    </td>
                                </apex:repeat>
                            </tr>
                        </apex:repeat>  
                    </table>
                    <br/>
                    <br/>
                </apex:repeat>
            </div>
            
    
        </apex:repeat>
    
    </body>
    </html> 
  
  </apex:outputPanel>
  </apex:form>

</apex:page>