<apex:page sidebar="false" showHeader="false" controller="ProjectCollateralsController" standardStylesheets="false" action="{!getCollateralDetails}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>    
    <script type="text/javascript">
        
        var j$ = jQuery.noConflict();
        j$(document).ready(function(){
            var imgpara = {!$CurrentPage.parameters.imgpara};
            //alert(imgpara);
            if(imgpara == 1){
                iconMasterDevNeg();
            }
            if(imgpara == 2){
               iconProjectNeg(); 
            }
            if(imgpara == 3){
               iconBuildingNeg(); 
            }
            if(imgpara == 4){
               iconFeatAmenitiesNeg(); 
            }
            if(imgpara == 5){
               iconbrochureNeg(); 
            }
            if(imgpara == 6){
               iconwalkthroughNeg(); 
            }
            if(imgpara == 7){
               iconfactsheetNeg(); 
            }
            function iconbrochureNeg(){
                //alert('Inside function '+ imgpara);
                j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").show();
                j$(".iconbrochureNeg").hide();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                                
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").hide();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").hide();
                j$(".imgbrochure").show();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").hide();
            }
            
                function iconwalkthroughNeg(){
                //alert('Inside function '+ imgpara);
                j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").show();
                j$(".iconwalkthroughNeg").hide();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                                
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").hide();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").hide();
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").show();
                j$(".imgfactsheet").hide();
            }
            
                function iconfactsheetNeg(){
                //alert('Inside function '+ imgpara);
                j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").show();
                j$(".iconfactsheetNeg").hide();
                                
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").hide();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").hide();
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").show();
            }
            
            function iconMasterDevNeg(){
                //alert('Inside function '+ imgpara);
                j$(".iconMasterDev").show();
                j$(".iconMasterDevNeg").hide();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                
                j$(".imgMasterDevelopment").show();
                j$(".imgProject").hide();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").hide();
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").hide();
            }
            
            function iconProjectNeg(){
               j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").show();
                j$(".iconProjectNeg").hide();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                                
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").show();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").hide(); 
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").hide();
            }
            
            function iconBuildingNeg(){
                j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").show();
                j$(".iconBuildingNeg").hide();
                j$(".iconFeatAmenities").hide();
                j$(".iconFeatAmenitiesNeg").show();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                               
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").hide();
                j$(".imgBuilding").show();
                j$(".imgFeatures").hide();
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").hide();
            } 
            
            function iconFeatAmenitiesNeg(){
                j$(".iconMasterDev").hide();
                j$(".iconMasterDevNeg").show();
                j$(".iconProject").hide();
                j$(".iconProjectNeg").show();
                j$(".iconBuilding").hide();
                j$(".iconBuildingNeg").show();
                j$(".iconFeatAmenities").show();
                j$(".iconFeatAmenitiesNeg").hide();
                j$(".iconbrochure").hide();
                j$(".iconbrochureNeg").show();
                j$(".iconwalkthrough").hide();
                j$(".iconwalkthroughNeg").show();
                j$(".iconfactsheet").hide();
                j$(".iconfactsheetNeg").show();
                               
                j$(".imgMasterDevelopment").hide();
                j$(".imgProject").hide();
                j$(".imgBuilding").hide();
                j$(".imgFeatures").show();
                j$(".imgbrochure").hide();
                j$(".imgwalkthrough").hide();
                j$(".imgfactsheet").hide();
            }
            //Master Development
            j$(".iconMasterDevNeg").click(function(){
                iconMasterDevNeg();
                               
            });
            
            //Project
            j$(".iconProjectNeg").click(function(){
                iconProjectNeg();
                                
            });
            
            //Building
            j$(".iconBuildingNeg").click(function(){
                iconBuildingNeg();
                
            });
            
            //Features and Amenities
            j$(".iconFeatAmenitiesNeg").click(function(){
                iconFeatAmenitiesNeg();
                
            });  
            
                        //iconbrochureNeg
            j$(".iconbrochureNeg").click(function(){
                iconbrochureNeg();
                
            });  
            
                        //iconwalkthroughNeg
            j$(".iconwalkthroughNeg").click(function(){
                iconwalkthroughNeg();
                
            });  
            
                        //iconfactsheetNeg
            j$(".iconfactsheetNeg").click(function(){
                iconfactsheetNeg();
                
            });                                    
        });              
    </script>
  
    <apex:slds />
    <apex:form id="frm" styleClass="slds-scope">
        
        <apex:outputPanel id="idMainPanel" layout="block" styleClass="slds-box">
        
            <apex:outputPanel id="pnlHeader" layout="block" styleClass="slds-box slds-text-title_caps">
                <apex:outputLabel value="Project Collaterals"/>
            </apex:outputPanel>
            
            <apex:outputPanel id="pnlCollateralHeader" layout="block" styleClass="slds-box slds-grid slds-grid_align-space">
                <!--<div> -->
                <div class="iconMasterDev slds-avatar slds-avatar_medium">
                    <figure>
                    <apex:image id="iconMasterDev" title="Master Development"  value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/MD.png')}"/>
                    <figcaption>Master Development</figcaption>
                    </figure>
                    <!--<apex:outputlabel value="Master Development" for="iconMasterDev"></apex:outputlabel>-->
                </div>
                <apex:outputLink id="iconMasterDevNeg" styleClass="iconMasterDevNeg" value="javascript:void(0);" >
                    <div class="slds-avatar slds-avatar_medium">
                        <figure>
                        <apex:image title="Master Development" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/MD.png')}"/>
                        <figcaption >Master Development</figcaption>
                        </figure>
                     </div>
                     <!--<apex:outputlabel value="Master Development" for="iconMasterDevNeg"></apex:outputlabel>-->
                </apex:outputLink>
                <!--<apex:outputlabel value="Master Development" for="iconMasterDevNeg,iconMasterDev"></apex:outputlabel>-->
                <!--</div> -->
                <div class="iconProject slds-avatar slds-avatar_medium">
                    <apex:image id="iconProject" title="Project" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Project.png')}"/>
                </div>
                <apex:outputLink id="iconProjectNeg" styleClass="iconProjectNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="Project" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Project.png')}"/>
                    </div>
                </apex:outputLink>
                
                <div class="iconBuilding slds-avatar slds-avatar_medium">
                    <apex:image title="Building" id="iconBuilding" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Building.png')}"/>
                </div>
                <apex:outputLink styleClass="iconBuildingNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="Building" id="iconBuildingNeg" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Building.png')}"/>
                    </div>
                </apex:outputLink>
                
                <div class="iconFeatAmenities slds-avatar slds-avatar_medium">
                    <apex:image title="Features and Amenities" id="iconFeatAmenities" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Features_Amenities.png')}"/>
                </div>
                <apex:outputLink styleClass="iconFeatAmenitiesNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="Features and Amenities" id="iconFeatAmenitiesNeg" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Features_Amenities.png')}"/>
                    </div>
                </apex:outputLink>
                 <div class="iconBuilding slds-avatar slds-avatar_medium">
                    <apex:image title="brochure" id="iconbrochure" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Building.png')}"/>
                </div>
                 <apex:outputLink styleClass="iconbrochureNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="brochure" id="iconbrochureNeg" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Building.png')}"/>
                    </div>
                </apex:outputLink>
                 <div class="iconBuilding slds-avatar slds-avatar_medium">
                    <apex:image title="walkthrough" id="iconwalkthrough" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Features_Amenities.png')}"/>
                </div>
                   <apex:outputLink styleClass="iconwalkthroughNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="walkthrough" id="iconwalkthroughNeg" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Features_Amenities.png')}"/>
                    </div>
                </apex:outputLink>
                <div class="iconBuilding slds-avatar slds-avatar_medium">
                    <apex:image title="factsheet" id="iconfactsheet" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/selected/Features_Amenities.png')}"/>
                </div>
                   <apex:outputLink styleClass="iconfactsheetNeg" value="javascript:void(0);">
                    <div class="slds-avatar slds-avatar_medium">
                        <apex:image title="factsheet" id="iconfactsheetNeg" value="{!URLFOR($Resource.GSP_Icons, 'GSP_Icons/notselected/Features_Amenities.png')}"/>
                    </div>
                </apex:outputLink>
            </apex:outputPanel>
            <apex:outputPanel id="pnlCollateralDetail" layout="block" styleClass="slds-box">
                
                <apex:image id="imgMasterDevelopment" styleClass="imgMasterDevelopment" value="{!strMdUrl}"/>
                <apex:image id="imgProject" styleClass="imgProject" value="{!strProjectUrl}"/>
                <apex:image id="imgBuilding" styleClass="imgBuilding" value="{!strBuildingUrl}"/>
                <apex:image id="imgFeatures" styleClass="imgFeatures" value="{!strFeaturesUrl}"/>
                <apex:image id="imgbrochure" styleClass="imgbrochure" value="{!strbrochureUrl}"/>
                <apex:image id="imgwalkthrough" styleClass="imgwalkthrough" value="{!strwalkthroughUrl}"/>
                <apex:image id="imgfactsheet" styleClass="imgfactsheet" value="{!strfactsheetUrl}"/>
                
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:form>
</apex:page>