<apex:page showHeader="false" cache="false" sidebar="false" standardStylesheets="false" lightningStyleSheets="false" controller="PromotorInquiryController">
        
        
        
         
        
        <apex:composition template="Promoter_Header">
          <apex:define name="body">

            <!--<apex:includescript value="https://code.jquery.com/jquery-1.10.2.js"/>
            <apex:includescript value="https://code.jquery.com/ui/1.11.4/jquery-ui.js"/>-->
            
            
            
            <!--<apex:includeScript value="{!URLFOR($Resource.Datepicker, '/datpicker/bootstrap-datetimepicker.js')}"/>
              <apex:includeScript value="{!URLFOR($Resource.Datepicker, '/datpicker/locales/bootstrap-datetimepicker.fr.js')}"/>
              <apex:stylesheet value="{!URLFOR($Resource.Datepicker, '/datpicker/bootstrap.min.css')}"/>
              <apex:stylesheet value="{!URLFOR($Resource.Datepicker, '/datpicker/bootstrap-datetimepicker.min.css')}"/>-->
                           
              
          <script>
            $(document).ready(function(){
              var dashboardHeight = $('.main-dashboard').outerHeight();
              $('.left-navigation').outerHeight(dashboardHeight);
              $('.dahboard-item').removeClass("active");
              $('.video-item').removeClass("active");
              $('.notes-item').removeClass("active");
              $('.dahboard-item').addClass("active");
              $('.enquiry-form-status').text('0% Completed');
              $( '.glyphicon' ).addClass('fa');
              $( '.glyphicon' ).removeClass('glyphicon');
              $( '.glyphicon-arrow-left' ).addClass('fa-arrow-left');
              $( '.glyphicon-arrow-left' ).removeClass('glyphicon-arrow-left');
              $( '.glyphicon-arrow-right' ).addClass('fa-arrow-right');
              $( '.glyphicon-arrow-right' ).removeClass('glyphicon-arrow-right');
               $('.ChangeField').change(function() {
                      prograssBar();
                  });
             
              countryCodes();
            })
            function prograssBar(){
                $('.prograss').removeClass("active");
                  var p = 0;                  
                  if($('.first-name').val()!='' && $('.last-name').val()){
                      p = p+20;
                  }
                  if($('.contact-number').val()!='' && $('.email-address').val()){
                      p = p+20;
                  }
                  if($('.country-name').val()!='' && $('.city-name').val() && $('.nationality').val()){
                      p = p+20;
                  }
                  if($('.meeting-time').val()=='Scheduled Tour' && $('.tour-date').val()){
                      p = p+20;
                  }
                  $('.enquiry-form-status').text(p+'% Completed');
                  if(p>=20)
                      $('.step-one').addClass("active");
                  if(p>=40)
                      $('.step-two').addClass("active");
                  if(p>=60)
                      $('.step-three').addClass("active");
                  if(p>=80)
                      $('.step-four').addClass("active");
            }
            function clearprograssBar(){
                $('.prograss').removeClass("active");
                  var p = 0;
                  $('.enquiry-form-status').text(p+'% Completed');
            }
          </script>
          
          <style>
            .nav-menu a {
                display: block;
                background: url('{!($Resource.InquiryPageImageNavigationSprite)}') no-repeat;
                height: 60px;
                width: 100px;
            }
            .progress-bar-container h3 {
                font-size: 18px !important;
                font-weight: bold !important;
                letter-spacing: 1px !important;
                margin: 14px 0 !important;
            }
            .header-user-menu a {
                background: url('{!($Resource.InquiryPageUser_sprite)}') no-repeat;
                display: block;
                height: 30px;
                width: 30px;
                position: relative;
            }

            .login-form input[type=text] {
                border:0 none;
                border-bottom: 1px solid #9ec1d6;
                color: #59617b;
                background: url('{!($Resource.Inquirypage_shape_icon)}') left 7px no-repeat;
                width: 100%;
                margin-bottom: 10px;
                outline: 0 none;
                padding: 5px 10px 5px 30px;
            }

            .user-detail-header {
                background: url('{!($Resource.InquiryPageUser_Icon)}') left center no-repeat;
                padding-left: 40px;
                margin: 6px 0 0 0;
                line-height: 22px;
                font-family: 'ProximaNovaRegular';
                color: #000;
            }

            .progress-menu li a {
                background: url('{!($Resource.InquiryPageProgress_sprite)}') no-repeat;
                height: 45px;
                width: 45px;
                display: block;
                position: relative;
                z-index: 9;
            }

            div.hideCurrDate span.dateInput span.dateFormat{
               display:none;
            }
            .msgDiv {
                min-width: unset !important;
            }
            #spinnerIcon {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                z-index: 10;
                opacity: 0.6;
                filter: alpha(opacity=50);
            }
            #assign-action-spinner-main {
                position: fixed;
                left: 0;
                top: 0;
                background-color: rgba(0,0,0,.6);
                height: 100%;
                width: 100%;
                z-index: 999;
                align: center;
                vertical-align: middle;
            }
            #assign-action-spinner-content img {
                width: 32;
                height: 32;
                align: center;
                vertical-align: middle;
            }
            #assign-action-spinner-content p {
                display: inline;
                font-size: 135%;
                font-weight: bold;
            }
            .error {
                border: 2px solid #c00!important;
            }
            .element-checkbox input[type=checkbox] + label {
                display: inline-block;
                padding: 6px 0 0 40px;
                background: url('{!($Resource.Inquirypage_checkbox_icon)}') -33px -122px no-repeat;
                height: 30px;
                width: 200px;
            }

            .element-checkbox input[type=checkbox]:checked + label {
                background:url('{!($Resource.Inquirypage_checkbox_icon)}') -33px -32px no-repeat;
                height: 30px;
                display:inline-block;
                width: 200px;
            }
            @font-face {
                font-family: 'lucida_granderegular';
                src:url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/911fonts.com_lucidagranderegular__-_911fonts.com_fonts_ynwe-webfont.woff2')}") format('woff2'),
                   url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/911fonts.com_lucidagranderegular__-_911fonts.com_fonts_ynwe-webfont.woff')}") format('woff');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
              font-family: 'ProximaNovaRegular';
              src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.eot')}");
              src: local('ProximaNovaRegular'), 
              url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.woff')}") format('woff'),
              url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.ttf')}") format('truetype');
            }
            @font-face {
              font-family: 'AvenirNextLTPro-Regular';
              src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.eot?#iefix')}") format('embedded-opentype'),  
                   url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.otf')}")  format('opentype'),
                   url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.woff')}") format('woff'), 
                   url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.ttf')}")  format('truetype'), 
                   url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular')}") format('svg');
              font-weight: normal;
              font-style: normal;
            }
            @font-face {
                font-family: 'latoregular';
                src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/lato-regular-webfont.woff2')}") format('woff2'),
                     url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/lato-regular-webfont.woff')}") format('woff');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoregular';
                src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/roboto-regular-webfont.woff2')}") format('woff2'),
                     url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/roboto-regular-webfont.woff')}") format('woff');
                font-weight: normal;
                font-style: normal;

            }
            .date.form_datetime .input-group-addon {
                padding: 9px 12px;
                //display: inline;
               // position: relative;
                top: -28px;
            }
            .enquiry-form .form-element.element-checkbox {
                    margin-top: 21px;
                }
                .element-tour-date .form-group{
                 height:19px;
                }
                .form-instruction {
                    clear: both;
                }
                
          </style>
          <section class="main-dashboard">
            <div class="enquiry-btn-wrap">
              <button class="enquiry-button create-enquiry-button open" style="background-color: #f6ad03 !important;">Create new Inquiry <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></button>
              <button class="enquiry-button view-enquiry-button" onclick="window.open('/promoters/PromoterInquiryReports','_self')">View Inquiry reports <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></button>
            </div>
            <div class="enquiry-form-container">
              <div class="progress-bar-container">
                <h3 class="pull-left">Fill the required information fields</h3>
                <div class="progress-wrap pull-right">
                  <ul class="progress-menu">
                    <li class="step-one prograss"><a href="#/"></a></li>
                    <li class="step-two prograss"><a href="#/"></a></li>
                    <li class="step-three prograss"><a href="#/"></a></li>
                    <li class="step-four prograss"><a href="#/"></a></li>
                    <li class="step-last prograss"><a href="#/"></a></li>
                  </ul>
                  <span class="enquiry-form-status"></span>
                </div>
              </div>
              <apex:form styleClass="enquiry-form">
              <apex:outputPanel layout="block" id="mainPanel">
                <script>   

                  $('.form_datetime').datetimepicker({
                      //language:  'fr',
                      weekStart: 1,
                      todayBtn:  1,
                      autoclose: 1,
                      todayHighlight: 1,
                      startView: 2,
                      forceParse: 0,
                      showMeridian: 1
                  });
                  $(document).ready(function(){
                     prograssBar();
                     
                 });
                </script>
                <apex:actionStatus id="blockUI" onStart="startProcess();" onStop="endProcess();"/>
                  <div id="spinnerIcon" style="display:none">
                      <div id="assign-action-spinner-content">
                          <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px; height:50px; position:fixed; top:50%; left:50%; z-index:10;"/>
                      </div>
                  </div>
                  
                  <div id="validateMsg" class="slds-col slds-p-around--small slds-size_1-of-1 slds-notify_container slds-is-relative " style="display:none" layout="block">
                      <div class="msgDiv slds-notify slds-notify_toast slds-theme_error" role="alert">
                          <h2 class="slds-text-heading_small slds-align_absolute-center" >
                              Please fill all required fields
                          </h2>
                      </div>
                  </div>

                  
                  <div id="succMsg">
                      <apex:outputPanel id="pgMsg" styleClass="slds-col slds-p-around--small slds-size_1-of-1 slds-notify_container slds-is-relative" layout="block" rendered="{!showMessage}">
                          <div class="msgDiv slds-notify slds-notify_toast slds-theme_{!msgType}" role="alert">
                              <h2 class="slds-text-heading_small slds-align_absolute-center">
                                  {!msg}
                              </h2>
                          </div>
                      </apex:outputPanel>
                  </div>

                  <apex:inputHidden value="{!selectedCountryCode}" id="selectedCountryCode"/>
                  <apex:inputHidden value="{!selectedAlternateCode}" id="selectedAlternateCode"/>
                  <apex:inputHidden value="{!selectedNationality}" id="selectedNationality"/>
                  <apex:inputHidden value="{!selectedCountry}" id="selectedCountry"/>
                  <apex:inputHidden value="{!selectedCity}" id="selectedCity"/>
                  <apex:inputHidden value="{!selectedLanguage}" id="selectedLanguage"/>

                <div class="col-md-4 col-sm-4">
                    <fieldset>
                        <legend class="col-md-12 col-sm-12 col-xs-12">Personal Details</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="form-element">
                            <label onclick="regOfflineSoups()">First Name*</label>
                                <!-- <input type="text" value="{!objInquiry.First_Name__c}" class="first-name form-control" name="first-name" /> -->
                                <apex:inputField value="{!objInquiry.First_Name__c}" styleClass="first-name form-control requiredField inputTxt ChangeField"/>
                            </div>
                                <div class="form-element">
                                    <label>Last Name*</label>
                                    <apex:inputField value="{!objInquiry.Last_Name__c}" styleClass="last-name form-control requiredField inputTxt ChangeField" />
                                    <!-- <input type="text" value="{!objInquiry.Last_Name__c}" class="last-name form-control" name="last-name" /> -->
                                </div>
                                <div class="form-element">
                                    <label>Mobile Country Code*</label>
                                    <!-- <apex:inputField value="{!objInquiry.Mobile_CountryCode__c}" styleClass="country-code form-control requiredField inputTxt" /> -->
                                    <input id="CountryCode" class="country-code form-control requiredField inputTxt"/>
                                    <script>
                                        var countryCodeList = [];
                                        var arrayList = [];
                                        var res = '{!lstCountryCode}';
                                        //console.log('log of res'+res);
                                        res = res.substring(1, res.length-1);
                                        if( typeof res != 'undefined' && res.length > 0 ) {
                                            arrayList =  res.split(',');
                                            for( var i = 0; i < arrayList.length; i++ ){
                                                countryCodeList[i] = arrayList[i];
                                            }
                                        }
                                        $( "#CountryCode" ).autocomplete({
                                            source: countryCodeList,
                                            minLength: 1,
                                            select: function(event, ui) {
                                                event.preventDefault();
                                                $("#CountryCode").val(ui.item.label);
                                                console.log('==selectedCountryCode====' ,ui.item.value);
                                                $('[id$=selectedCountryCode]').val(ui.item.value);
                                            },
                                        });
                                    </script>
                                </div>
                                <div class="form-element">
                                    <label>Contact Number*</label>
                                    <apex:inputField value="{!objInquiry.Mobile_Phone_Encrypt__c}" styleClass="contact-number form-control requiredField inputTxt ChangeField" />
                                </div>
                                <div class="form-element">
                                    <label>Email Address*</label>
                                    <apex:inputField value="{!objInquiry.Email__c}" styleClass="email-address form-control requiredField inputTxt ChangeField"/>
                                </div>
                                <div class="form-element">
                                    <label>Alternate Country Code</label>
                                    <!-- <apex:inputField value="{!objInquiry.Mobile_Country_Code_2__c}" styleClass="country-code form-control inputTxt" /> -->
                                    <input id="AlternateCode" class="country-code form-control inputTxt"/>
                                    <script>
                                        var AlternateCodeList = [];
                                        var arrayAlternateList = [];
                                        var res1 = '{!lstAlternateCode}';
                                        res1 = res1.substring(1, res1.length-1);
                                        if( typeof res1 != 'undefined' && res1.length > 0 ) {
                                            arrayAlternateList =  res1.split(',');
                                            for( var i = 0; i < arrayAlternateList.length; i++ ){
                                                AlternateCodeList[i] = arrayAlternateList[i];
                                            }
                                        }
                                        $( "#AlternateCode" ).autocomplete({
                                            source: AlternateCodeList,
                                            minLength: 1,
                                            select: function(event, ui) {
                                                event.preventDefault();
                                                $("#AlternateCode").val(ui.item.label);
                                                console.log('==selectedAlternateCode====' ,ui.item.value);
                                                $('[id$=selectedAlternateCode]').val(ui.item.value);
                                            },
                                        });
                                    </script>
                                </div>
                                <div class="form-element">
                                    <label>Alternate Contact Number</label>
                                    <apex:inputField value="{!objInquiry.Mobile_Phone_Encrypt_2__c}" styleClass="contact-number form-control inputTxt ChangeField" />
                                </div>
                               
                          
                        </div>
                    </fieldset>
                    </div>

                <div class="col-md-4 col-sm-4">
                    <fieldset>
                    <legend class="col-md-12 col-sm-12 col-xs-12">Residence Information</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!--<div class="form-element element-checkbox ">
                                <apex:inputCheckbox id="UAECheckbox" value="{!objInquiry.UAE_Resident__c}" onchange="changeCountry(this);" styleClass=" inputCheckbox">
                                </apex:inputCheckbox>
                                <label for="j_id0:j_id1:j_id18:UAECheckbox">Is UAE Resident</label>
                            </div>-->
                            <div class="form-element">
                                <label>Country*</label>
                                <!-- <apex:inputField id="countryId" value="{!objInquiry.Country__c}" onchange="changeUAECheckbox();" styleClass="requiredField inputTxt country-name form-control ChangeField">
                                </apex:inputField> -->
                                <input id="countryId" class="requiredField inputTxt country-name form-control ChangeField"/>
                                
                                <script>
                                    var countryList = [];
                                    var arrayCountryList = [];
                                    var res4 = "{!lstCountry}";
                                    res4 = res4.substring(1, res4.length-1);
                                    if( typeof res4 != 'undefined' && res4.length > 0 ) {
                                        arrayCountryList =  res4.split(",");
                                        for( var i = 0; i < arrayCountryList.length; i++ ){
                                            countryList[i] = arrayCountryList[i];
                                        }
                                    }
                                    $( "#countryId" ).autocomplete({
                                        source: countryList,
                                        minLength: 1,
                                        select: function(event, ui) {
                                            event.preventDefault();
                                            $("#countryId").val(ui.item.label);
                                            console.log("==selectedCountry====" ,ui.item.value);
                                            $("[id$=selectedCountry]").val(ui.item.value);
                                            updateCityPicklist();
                                        },
                                    });
                                </script>
                            </div>
                             <div class="form-element">
                                <label>City*</label>
                                <!-- <apex:inputField value="{!objInquiry.City_new__c}" id="cityId" styleClass="requiredField city-name form-control inputTxt ChangeField" /> -->
                                <apex:outputPanel id="cityPannel1">
                                    <input id="cityId1" class="requiredField city-name form-control inputTxt ChangeField"/>
                                        <script>
                                              console.log("==Direct City LIst===={!lstCity}");
                                              // built city picklist
                                              var CityList = [];
                                              var arrayCityList = [];
                                              var res5 = "{!lstCity}";
                                              console.log("==Direct res5====res5 : " ,res5);
                                              res5 = res5.substring(1, res5.length-1);
                                              if( typeof res5 != 'undefined' && res5.length > 0 ) {
                                                  arrayCityList =  res5.split(',');
                                                  for( var i = 0; i < arrayCityList.length; i++ ){
                                                      CityList[i] = arrayCityList[i];
                                                  }
                                              }
                                              console.log("==Direct CityList====CityList : " ,CityList);
                                              $j( "#cityId1" ).autocomplete({
                                                  source: CityList,
                                                  minLength: 1,
                                                  select: function(event, ui) {
                                                      event.preventDefault();
                                                      $("#cityId1").val(ui.item.label);
                                                      console.log("==selectedCity====" ,ui.item.value);
                                                      $("[id$=selectedCity]").val(ui.item.value);
                                                  },
                                              });
                                              console.log("==Direct END CityList====CityList : " ,CityList);
                                        </script>
                                </apex:outputPanel>
                                
                            </div>
                            <div class="form-element">
                                <label>Nationality*</label>
                                <!-- <apex:inputField value="{!objInquiry.Nationality__c}" styleClass="requiredField inputTxt nationality form-control ChangeField"/> -->
                                <input id="NationalityId" class="requiredField inputTxt nationality form-control ChangeField"/>
                                <script>
                                    var NationalityList = [];
                                    var arrayNationalityList = [];
                                    var res3 = '{!lstNationality}';
                                    res3 = res3.substring(1, res3.length-1);
                                    if( typeof res3 != 'undefined' && res3.length > 0 ) {
                                        arrayNationalityList =  res3.split(',');
                                        for( var i = 0; i < arrayNationalityList.length; i++ ){
                                            NationalityList[i] = arrayNationalityList[i];
                                        }
                                    }
                                    $( "#NationalityId" ).autocomplete({
                                        source: NationalityList,
                                        minLength: 1,
                                        select: function(event, ui) {
                                            event.preventDefault();
                                            $("#NationalityId").val(ui.item.label);
                                            console.log('==selectedNationality====' ,ui.item.value);
                                            $('[id$=selectedNationality]').val(ui.item.value);
                                        },
                                    });
                                </script>
                            </div>
                            <div class="form-element">
                                <label>Preferred Language*</label>
                                <!-- <apex:inputField value="{!objInquiry.Preferred_Language__c}" styleClass="requiredField inputTxt pref-lang form-control" /> -->
                                <input id="LanguageId" class="requiredField inputTxt pref-lang form-control"/>
                                <script>
                                    var LanguageList = [];
                                    var arrayLanguageList = [];
                                    var res6 = '{!lstLanguage}';
                                    res6 = res6.substring(1, res6.length-1);
                                    if( typeof res6 != 'undefined' && res6.length > 0 ) {
                                        arrayLanguageList =  res6.split(',');
                                        for( var i = 0; i < arrayLanguageList.length; i++ ){
                                            LanguageList[i] = arrayLanguageList[i];
                                        }
                                    }
                                    $( "#LanguageId" ).autocomplete({
                                        source: LanguageList,
                                        minLength: 1,
                                        select: function(event, ui) {
                                            event.preventDefault();
                                            $("#LanguageId").val(ui.item.label);
                                            console.log('==selectedLanguage====' ,ui.item.value);
                                            $('[id$=selectedLanguage]').val(ui.item.value);
                                        },
                                    });
                                </script>
                            </div>
                        </div>
                    </fieldset> 
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <fieldset>
                    <legend class="col-md-12 col-sm-12 col-xs-12">Appointment</legend>
                    <div class="form-element col-md-12 col-sm-12 col-xs-12">
                        <label>Meeting Type</label>

                       <!--  <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Meeting_Type__c}" onchange="disableTime();"
                                styleClass="tourTypeCls slds-input inputTxt">
                            <apex:actionSupport event="onsubmit" reRender="mainPanel" status="blockUI"/>
                            </apex:inputField>
                        </div>
                        <label class="slds-form-element__label" for="input-id-01">Tour Date/Time</label>
                        <div class="hideCurrDate slds-form-element__control">
                            <apex:inputField html-disabled="true"
                            value="{!objInquiry.Tour_Date_Time__c}" styleClass="tourDateCls slds-input inputTxt"
                            html-placeholder="Select tour date"/>
                        </div> -->



                        <apex:inputField value="{!objInquiry.Meeting_Type__c}" onchange="disableTime();" styleClass="tourTypeCls meeting-time form-control inputTxt ChangeField">
                            <apex:actionSupport event="onsubmit" reRender="mainPanel" status="blockUI"/>
                        </apex:inputField>
                    </div>
                    <div class="form-element element-tour-date col-md-12 col-sm-12 col-xs-12">
                        <label>Tour Date/Time*</label>
                        <!-- <apex:inputField html-disabled="true" value="{!objInquiry.Tour_Date_Time__c}" styleClass="tourDateCls tour-date form-control inputTxt form_datetime"/> -->
                            <div class="form-group">
                                <div class="input-group date form_datetime col-md-5 "  data-date-format="dd/mm/yyyy HH:ii" data-link-field="dtp_input1" style="width:100%">
                                    <!-- <input class="form-control inputTxt pref-lang" size="16" type="text" value="{!objInquiry.Tour_Date_Time__c}" readonly= "true"/> -->
                                    <apex:inputField html-disabled="false" value="{!objInquiry.Tour_Date_Time__c}" styleClass="tourDateCls tour-date ChangeField form-control inputTxt " showDatePicker="false"/>
                                    <span class="input-group-addon"><span class="fa fa-times"></span></span>
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" /><br/>
                            </div>
                    </div>
                    <div class="form-element col-md-12 col-sm-12 col-xs-12">
                       <label>PC</label>
                       <c:Autocomplete id="hosName" required="false" SObject="User" labelField="Name" valueField="Id" targetFields="{!userId}" conString=" ( Profile.Name = \'Property Consultant China\' OR Profile.Name = \'Property Consultant UK\' OR Profile.Name = \'Property Consultant\') AND IsActive = true " rerenderPanel="false"></c:Autocomplete>
                       <script>
                          if($('.msgDiv').hasClass('slds-theme_success')) {
                             var autoInputBox = document.getElementsByClassName('autoInputBox');
                               if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                                   autoInputBox[0].value = '';
                              }
                            }
                     </script>
                    </div>
                   
                    <div class="form-element col-md-12 col-sm-12 col-xs-12">
                      <label>Remark</label>
                      <apex:inputField value="{!objInquiry.Comments__c}" styleClass="remark form-control inputTxt" />
                    </div>
                    
                  </fieldset>
                </div>
                <div class="col-md-12" style="clear:both">
                  <div class="form-element form-buttons">
                      <!--<input id="clearButton" value="Clear" />-->
                      <apex:commandButton status="blockUI" value="Clear" oncomplete="scroll();" onclick="clearDetails();" reRender="mainPanel" styleClass="slds-button slds-button_brand"/>
                      <!--<input type="button" style="background: #0077ff;" class="form-buttons" value="Submit" onclick="onSubmitHitApex();" />-->
                      <apex:commandButton value="Submit" onclick="if(!validateRequiredInput()) submitInquiry();" oncomplete="scroll();" styleClass="slds-button slds-button_brand"/>
                  </div>
                </div>
                <span class="form-instruction">* Indicates mandatory information</span>
              </apex:outputPanel>
              <apex:actionFunction action="{!submitInquiry}" name="submitInquiry"  status="blockUI" rerender="mainPanel" oncomplete="scroll();clearprograssBar();disableTime();countryCodes();"/>
              <apex:actionFunction action="{!updateCityList}" name="updateCityList" reRender="cityPannel1,cityPannel2" status="blockUI" oncomplete="CityPicklist();"/>
              <apex:outputPanel id="cityPannel2">
                  <script>
                      function CityPicklist() {
                          // built city picklist
                              var CityList = [];
                              var arrayCityList = [];
                              var res5 = "{!lstCity}";
                              res5 = res5.substring(1, res5.length-1);
                              if( typeof res5 != 'undefined' && res5.length > 0 ) {
                                  arrayCityList =  res5.split(',');
                                  for( var i = 0; i < arrayCityList.length; i++ ){
                                      CityList[i] = arrayCityList[i];
                                  }
                              }
                              $("#cityId1").attr("disabled", false);

                              $( "#cityId1" ).autocomplete({
                                  source: CityList,
                                  minLength: 1,
                                  select: function(event, ui) {
                                      event.preventDefault();
                                      $("#cityId1").val(ui.item.label);
                                      console.log("==selectedCity====" ,ui.item.value);
                                      $("[id$=selectedCity]").val(ui.item.value);
                                  },
                              });
                      }
                  </script>
              </apex:outputPanel>

              </apex:form>
            </div>
          </section>
        <apex:outputPanel id="scriptTag">
            <script>   

              $('.form_datetime').datetimepicker({
                  //language:  'fr',
                  weekStart: 1,
                  todayBtn:  1,
                  autoclose: 1,
                  todayHighlight: 1,
                  startView: 2,
                  forceParse: 0,
                  showMeridian: 1
              });

              function onSubmitHitApex() {
                  console.log(validateRequiredInput());
                  if(!validateRequiredInput()) {
                     submitInquiry();
                  } else {
                    console.log("Submit Cancellation");
                  }
              }
              function bindEvents() {
                    disableTime();
                }

                function updateCityPicklist() {
                    console.log("=====$j('[id$=countryId]').val()==", $j('[id$=countryId]').val());
                    if($j('[id$=countryId]').val() != null && $j('[id$=countryId]').val() != '') {
                        updateCityList();
                    }
                }

                
                function changeUAECheckbox() {
                    if($('[id$=countryId]') != null && $('[id$=countryId]') != undefined
                    && $('[id$=countryId]').val() != 'United Arab Emirates') {
                        $('[id$=UAECheckbox]').prop('checked',false);
                    }
                }
                function changeCountry(checkbox) {
                    //debugger;
                    //If UAE Resident is checked, set country as United Arab Emirates
                    if($('[id$=UAECheckbox]') != null && $('[id$=UAECheckbox]') != undefined &&
                            $('[id$=UAECheckbox]').is(':checked')) {
                        if($('[id$=countryId]') != null && $('[id$=countryId]') != undefined) {
                            $('[id$=countryId]').val('United Arab Emirates');
                        }
                        $('[id$=countryId]').trigger('change');
                    }
                }

                function disableTime() {
                    // debugger;
                    //To make PC field required if Meeting Type is Scheduled Tour/Direct Tour
                    var autoInputBox = document.getElementsByClassName('autoInputBox');
                    if($('.tourTypeCls :selected').val() == 'Meeting On Stand' ||
                        $('.tourTypeCls :selected').val() == 'Direct Tour') {
                            if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                            autoInputBox[0].classList.add('requiredField');
                            }
                    }
                    else {
                        if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                            autoInputBox[0].classList.remove('requiredField');
                            autoInputBox[0].classList.remove('error');
                        }
                    }
                    if($('.tourTypeCls :selected').val() == 'Scheduled Tour') {
                        $('.tourDateCls').prop('disabled', false);
                        $j('.autoInputBox').prop('disabled',true);
                        $j('.autoInputBox').val('');
                    }
                    else {
                        $('.tourDateCls').prop('disabled', true);
                        $('.tourDateCls').val('');
                        $j('.autoInputBox').prop('disabled',false);

                    }
                    
                    /*if($j('.tourTypeCls :selected').val() == 'Scheduled Tour') {
                        $j('.tourDateCls').prop('disabled', false);
                        $j('.autoInputBox').prop('disabled',true);
                        $j('.autoInputBox').val('');
                        // $j('.tourDateCls').addClass('requiredField');
                    }
                    else {
                        $j('.autoInputBox').prop('disabled',false);
                    }*/
                    
                }
                function clearDetails(){
                    document.getElementsByClassName('inputTxt1')[0].value = 'None';
                    var autoInputBox = document.getElementsByClassName('autoInputBox');
                    autoInputBox[0].value = '';
                    var textFields = document.getElementsByClassName('inputTxt');
                    if (textFields != null && textFields != undefined && textFields.length > 0) {
                        for (var i = 0; i < textFields.length; i++) {
                            textFields[i].value = '';
                        }
                    }
                    var checkboxes = document.getElementsByClassName('inputCheckbox');
                    if (checkboxes != null && checkboxes != undefined && checkboxes.length > 0) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            checkboxes[i].checked = false;
                        }
                    }
                    clearprograssBar();
                }

                function startProcess() {
                    document.getElementById('spinnerIcon').style.display = 'block';
                }

                function endProcess() {
                    document.getElementById('spinnerIcon').style.display = 'none';
                }

                // Method to validate the required input
                function validateRequiredInput() {
                    if($('.tourTypeCls :selected').val() == 'Scheduled Tour'
                        && $('.autoInputBox') != null && $('.autoInputBox') != undefined
                        &&$('.autoInputBox').val() != null && $('.autoInputBox').val() != undefined
                        && $('.autoInputBox').val() != '') {
                        $('.tourDateCls').addClass('requiredField');
                    }
                    else {
                        $('.tourDateCls').removeClass('requiredField');
                        $('.tourDateCls').removeClass('error');
                    }
                    var cmp = document.getElementsByClassName('requiredField');
                    var isError = false;
                    // Check if value is present or not for all required field, If not highlight the field.
                    for (var i = 0; i < cmp.length; i++) {
                        if (cmp[i].tagName == 'INPUT' || cmp[i].tagName == 'SELECT') {
                            if (cmp[i].value == '' || cmp[i].value == 'None') {
                                cmp[i].classList.add('error');
                                isError = true;
                            } else {
                                cmp[i].classList.remove('error');
                                //isError = false;
                            }
                        }
                    }
                    $('#validateMsg').show();
                    if (isError) {
                        $('#pgMsg').hide();
                        $('#validateMsg').show();
                    }
                    else {
                        $('#pgMsg').show();
                        $('#validateMsg').hide();
                    }
                    return isError;
                }
                function scroll() {
                    countryCodes();
                    setTimeout(function(){$('.msgDiv').fadeOut();}, 20000);
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
            </script>

            <!-- New Script Added on 10 April2018 -->
            
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
            <link rel="stylesheet" href="/resources/demos/style.css"/>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
              //$( function() {
              function countryCodes() {
                  $("#cityId1").attr("disabled", true);
                  //1
                  var countryCodeList = [];
                  var arrayList = [];
                  var res = '{!lstCountryCode}';
                  //console.log('log of res'+res);
                  res = res.substring(1, res.length-1);
                  if( typeof res != 'undefined' && res.length > 0 ) {
                      arrayList =  res.split(',');
                      for( var i = 0; i < arrayList.length; i++ ){
                          countryCodeList[i] = arrayList[i];
                      }
                  }
                  $( "#CountryCode" ).autocomplete({
                      source: countryCodeList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#CountryCode").val(ui.item.label);
                          console.log('==selectedCountryCode====' ,ui.item.value);
                          $('[id$=selectedCountryCode]').val(ui.item.value);
                      },
                  });

                  //2
                  var AlternateCodeList = [];
                  var arrayAlternateList = [];
                  var res1 = '{!lstAlternateCode}';
                  res1 = res1.substring(1, res1.length-1);
                  if( typeof res1 != 'undefined' && res1.length > 0 ) {
                      arrayAlternateList =  res1.split(',');
                      for( var i = 0; i < arrayAlternateList.length; i++ ){
                          AlternateCodeList[i] = arrayAlternateList[i];
                      }
                  }
                  $( "#AlternateCode" ).autocomplete({
                      source: AlternateCodeList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#AlternateCode").val(ui.item.label);
                          console.log('==selectedAlternateCode====' ,ui.item.value);
                          $('[id$=selectedAlternateCode]').val(ui.item.value);
                      },
                  });

                  // 3
                  var NationalityList = [];
                  var arrayNationalityList = [];
                  var res3 = '{!lstNationality}';
                  res3 = res3.substring(1, res3.length-1);
                  if( typeof res3 != 'undefined' && res3.length > 0 ) {
                      arrayNationalityList =  res3.split(',');
                      for( var i = 0; i < arrayNationalityList.length; i++ ){
                          NationalityList[i] = arrayNationalityList[i];
                      }
                  }
                  $( "#NationalityId" ).autocomplete({
                      source: NationalityList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#NationalityId").val(ui.item.label);
                          console.log('==selectedNationality====' ,ui.item.value);
                          $('[id$=selectedNationality]').val(ui.item.value);
                      },
                  });

                  //4
                  var countryList = [];
                  var arrayCountryList = [];
                  var res4 = "{!lstCountry}";
                  res4 = res4.substring(1, res4.length-1);
                  if( typeof res4 != 'undefined' && res4.length > 0 ) {
                      arrayCountryList =  res4.split(",");
                      for( var i = 0; i < arrayCountryList.length; i++ ){
                          countryList[i] = arrayCountryList[i];
                      }
                  }
                  $( "#countryId" ).autocomplete({
                      source: countryList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#countryId").val(ui.item.label);
                          console.log("==selectedCountry====" ,ui.item.value);
                          $("[id$=selectedCountry]").val(ui.item.value);
                          updateCityPicklist();
                      },
                  });

                  // 5
                  /*var CityList = [];
                  var arrayCityList = [];
                  var res5 = "{!lstCity}";
                  res5 = res5.substring(1, res5.length-1);
                  if( typeof res5 != 'undefined' && res5.length > 0 ) {
                      arrayCityList =  res5.split(',');
                      for( var i = 0; i < arrayCityList.length; i++ ){
                          CityList[i] = arrayCityList[i];
                      }
                  }
                  $( "#cityId1" ).autocomplete({
                      source: CityList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#cityId1").val(ui.item.label);
                          console.log("==selectedCity====" ,ui.item.value);
                          $("[id$=selectedCity]").val(ui.item.value);
                      },
                  });*/


                  // 6
                  var LanguageList = [];
                  var arrayLanguageList = [];
                  var res6 = '{!lstLanguage}';
                  res6 = res6.substring(1, res6.length-1);
                  if( typeof res6 != 'undefined' && res6.length > 0 ) {
                      arrayLanguageList =  res6.split(',');
                      for( var i = 0; i < arrayLanguageList.length; i++ ){
                          LanguageList[i] = arrayLanguageList[i];
                      }
                  }
                  $( "#LanguageId" ).autocomplete({
                      source: LanguageList,
                      minLength: 1,
                      select: function(event, ui) {
                          event.preventDefault();
                          $("#LanguageId").val(ui.item.label);
                          console.log('==selectedLanguage====' ,ui.item.value);
                          $('[id$=selectedLanguage]').val(ui.item.value);
                      },
                  });

              }
              //});
          </script>
        </apex:outputPanel>
        </apex:define>
        </apex:composition>
</apex:page>