<apex:page docType="html-5.0" controller="PromoterInventoryFilterController" renderas="{!renderaspdf}" id="pg"  applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false" sidebar="false" showHeader="false"  tabStyle="projects__tab">
   <apex:outputPanel id="mainPanel" >
    <apex:outputPanel rendered="{!render}" id="pdflayout1">
    <apex:composition template="Promoter_Header">
        <apex:define name="body">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
            <script>
                $(document).ready(function(){
                  //$('.left-navigation').outerHeight($('.main-dashboard').outerHeight());
                  $('.main-dashboard').width($(window).outerWidth()-197);
                   $('.nav_subMenu_active').removeClass('active');
                   $('.notes-item').addClass('active');
                   setTimeout(function(){
                    
                    $(".inventory-table").wrap( "<div class='table-scroll'></div>" );
                    var dashboardHeight = $('.main-dashboard').outerHeight();
                $('.left-navigation').outerHeight(dashboardHeight);
                $('.nav-submenu').outerHeight(dashboardHeight);
                   },100);
                   
                });
                $(window).resize(function() {
                  $('.dataTables_wrapper').css('height', ($(window).height() - 200));
                  $('.dataTables_wrapper').css('width', ($(window).width() - 200));
                });
                
                


            </script>
            <style>

              /*------------------------ Style from Old Page*/

              .btn-circle {
                width: 25px;
                height: 25px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
                }
               
                .overlay {
                display: none;
                height: 100%;
                left: 0;
                position: fixed;
                top: 0;
                opacity: 0.3;
                -moz-opacity: 0.3;
                width: 100%;
                //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                //filter: alpha(opacity=30);
                background: #000;
                -khtml-opacity: 0.3;
                z-index: 1000;
                }
                /*.loader {
                background: url("/img/loading32.gif") scroll no-repeat 0 0;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 0%;
                }*/
                .loader {
                    background: url(/img/loading32.gif) scroll no-repeat 0 0;
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    left: 0%;
                    right: 0;
                    z-index: 999;
                    margin: 0 auto;
                }
                .table-condensed{
                font-size: 10px;
                }    
                /*.sortingiconsize{
                background-size: 10px 10px; !important;
                }
                .nosortingicon{
                background : none;  !important;
                }*/

              /*---------------------------*/
                @font-face {
                    font-family: 'lucida_granderegular';
                    src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/911fonts.com_lucidagranderegular__-_911fonts.com_fonts_ynwe-webfont.woff2')}") format('woff2'),
                         url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/911fonts.com_lucidagranderegular__-_911fonts.com_fonts_ynwe-webfont.woff')}") format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'ProximaNovaRegular';
                    src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.eot')}");
                    src: local('ProximaNovaRegular'), 
                    url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.woff')}") format('woff'),
                    url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/ProximaNovaRegular.ttf')}") format('truetype');
                }
                @font-face {
                  font-family: 'AvenirNextLTPro-Regular';
                  src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.eot?#iefix')}") format('embedded-opentype'),  
                        url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.otf')}") format('opentype'),
                        url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.woff')}") format('woff'), 
                        url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.ttf')}") format('truetype'), 
                        url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular')}") format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
                @font-face {
                    font-family: 'latoregular';
                    src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/lato-regular-webfont.woff2')}") format('woff2'),
                         url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/lato-regular-webfont.woff')}") format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
                @font-face {
                    font-family: 'robotoregular';
                    src: url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/roboto-regular-webfont.woff2')}") format('woff2'),
                         url("{!URLFOR($Resource.InquiryPageFontsZip, '/fonts/roboto-regular-webfont.woff')}") format('woff');
                     font-weight: normal;
                    font-style: normal;
                
                }
                .search-records-form input[type=submit] {
                    background:  url('{!($Resource.InquiryPageUser_sprite)}') -32px -262px no-repeat;
                    height: 33px;
                    width: 29px;
                }

                .inventory-table .sort-icon {
                    display: inline-block;
                    background: url('{!($Resource.Inventory_page_Sort_icon)}') no-repeat;
                    width: 12px;
                    height: 14px;
                    position: relative;
                      top: 2px;
                      margin-left: 10px;
                }

                .download-btn {
                    background: url('{!($Resource.Inventory_page_Download_icon)}') no-repeat;
                    display: block;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    right: 42px;
                    top: 30px;
                    z-index :99;
                }

                .header-user-menu a {
                    background: url('{!($Resource.InquiryPageUser_sprite)}') no-repeat;
                    display: block;
                    height: 30px;
                    width: 30px;
                    position: relative;
                }
                .filter-inventory-button {
                    background: url('{!($Resource.Inquirypage_filter_icon)}') no-repeat #f6ad03 15px 30px;
                    padding: 25px 15px 25px 45px;
                } 
                .enquiry-button.filter-inventory-button .fa {
                  padding-left: 80px;
                }
                .inventory-filter-form input[type=submit] {
                  background: url('{!($Resource.Inquirypage_filter_icon)}') no-repeat #0077ff 15px 19px;
                  margin-left: 10px;
                }
                .inventory-results-container .top .dataTables_length, .dataTables_info {
                   display:none;
                }
                .search-records-form input[type=submit] {
                    font-size: 0;
                 }
                 .dataTables_wrapper .dataTables_paginate .paginate_button.previous,
                 .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
                    border: 0 none!important;
                    color: #fff!important;
                    font-size: 16px;
                    border-radius: 45px!important;
                    box-shadow: 0 5px 10px 0 rgba(0, 80, 255, 0.21);
                    text-transform: uppercase;
                    font-family: 'latoregular';
                    font-weight: bold;
                    padding: 16px 0;
                    width: 130px;
                    text-align: center;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    background-color: #bdbdbd;
                }
                .dataTables_wrapper .dataTables_paginate .paginate_button.next,
                .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
                    border: 0 none!important;
                    color: #FFF!important;
                    font-size: 16px;
                    border-radius: 45px;
                    box-shadow: 0 5px 10px 0 rgba(0, 80, 255, 0.21);
                    text-transform: uppercase;
                    font-family: 'latoregular';
                    font-weight: bold;
                    padding: 16px 0;
                    width: 130px;
                    text-align: center;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    background: #0077ff!important;
                }
                .dataTables_wrapper .dataTables_paginate {
                margin-right:25px;
                }
                .search-records-form {
                   display: none;
                }
                #example_filter input[type=search] {
                    padding: 8px 20px 8px 10px;
                    font-family: 'robotoregular';
                    font-size: 14px;
                    border: solid 1px #ced0da;
                    border-radius: 4px;
                    background: url(/resource/1520674863000/InquiryPageUser_sprite) 118px -262px no-repeat;
                    color: #ccc;
                }
                #example_filter {
                    position: relative;
                    top: -58px;
                    right: 25px;
                }
                 #example_filter label {
                     color: #fff;font-size: 0;
                 }
                 .dataTables_wrapper .dataTables_length {
                 display:none;
                 }
                 .btn-group.bootstrap-select .btn-default {
                     border-color:transparent!important;
                 }
                 .dataTables_wrapper .dataTables_scroll {
                    overflow-x: auto;
                }
                .table-scroll {
    width: 100%;
    overflow-x: scroll;
  }
                 
            </style>
      
            <section class="main-dashboard">
                    <div class="enquiry-btn-wrap">
                      <button class="enquiry-button filter-inventory-button open" style="background: url(../resource/Inquirypage_filter_icon) no-repeat #f6ad03 15px 30px;">Filter <i class="fa fa-caret-up" styleClass="display:  block;"></i><i class="fa fa-caret-down" styleClass=" display: none;"></i></button>
                    </div>
                    <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
                    <div class="loadingBox overlay"></div>
                    <div id="myDIV1" style="display:none">
                        <div class="enquiry-form-container col-md-8 col-sm-12 col-xs-12">
                               <a href="#/" class="download-btn" onclick="prepareData();" ></a>
                               <apex:form styleclass="enquiry-form inventory-filter-form">
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <legend class=""><b>Filter your inventory research</b></legend>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-element">
                                            <label>Product Name</label>
                                              <apex:selectList value="{!idsselected}" multiselect="true" id="A1" styleclass="selectpicker product-name form-control" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                  <apex:selectOptions value="{!items}"/>
                                              </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                              <label>Property Name</label>
                                                <apex:selectList value="{!propertyNameFilter}" multiselect="true" id="B" styleclass="selectpicker property-name form-control" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                    <apex:selectOptions value="{!PropertyNames}"/>
                                                </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                            <label>Status</label>
                                              <apex:selectList value="{!propStatusTofilter}" multiselect="true" id="C" styleclass="selectpicker status-inventory form-control" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                  <apex:selectOptions value="{!PropStatus}"/>
                                              </apex:selectList>
                                            
                                        </div>
                                        <div class="form-element">
                                          <label>Unit Type</label>
                                            <apex:selectList value="{!unitTypeToFilter}" multiselect="true" id="E" styleclass="selectpicker unit-type form-control" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                <apex:selectOptions value="{!UnitTypes}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                           <label>ACD</label>
                                            <apex:selectList value="{!acdFilter}" multiselect="true" id="F" styleclass="selectpicker acd-inventory form-control" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                <apex:selectOptions value="{!Acd}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                           <label>Bedroom Type</label>
                                            <apex:selectList value="{!bedRoomFilter}" multiselect="true" id="G" styleclass="selectpicker bedroom-type form-control" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                <apex:selectOptions value="{!BedRooms}"/>
                                            </apex:selectList>
                                        </div>
                                    </div>  
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-element">
                                            <label>Floor/Package</label>
                                             <apex:selectList value="{!packageNamesFilter}" multiselect="true" id="H" styleclass="selectpicker min-sft form-control" html-data-style="btn btn-default btn-transparent btn-sm btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                <apex:selectOptions value="{!PkgNames}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                            <label>City</label>
                                              <apex:selectList value="{!citiesToFilter}" multiselect="true" id="D" styleclass="selectpicker form-control" html-data-style="btn btn-default btn-transparent btn-sm" html-multiple="true" html-data-max-options="20" html-data-live-search="true">
                                                  <apex:selectOptions value="{!Cities}"/>
                                              </apex:selectList>
                                        </div>
                                        <div class="form-element">
                                            <label>Min Price</label>
                                            <apex:inputtext value="{!minprice}"  styleclass="min-price form-control"/>
                                        </div>
                                        <div class="form-element">
                                            <label>Max Price</label>
                                            <apex:inputtext value="{!maxprice}" styleclass="max-price form-control"/>
                                        </div>
                                        <div class="form-element">
                                            <label>Min sft</label>
                                            <apex:inputtext value="{!minsft}" styleclass="min-sft form-control"/>
                                        </div>
                                        <div class="form-element">
                                            <label>Max sft</label>
                                            <apex:inputtext value="{!maxsft}" styleclass="acd-inventory form-control"/>
                                        </div>
                                        
                                    </div> 
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-element form-buttons">
                                          <apex:commandButton value="Clear" action="{!pageload}" status="status" onclick="startLoading();"/> 
                                          <apex:commandButton value="Filter" action="{!filterData}"  status="status" onclick="startLoading();" reRender="out" oncomplete="makeTable()"/> 
                                        </div>   
                                    </div>     
                                </fieldset>       
                            </div>  
                                   
                            <apex:actionFunction action="{!prepareData}" name="prepareData" />
                            <!-- <apex:actionFunction action="{!filterData}" name="funautofilter" reRender="out example" status="status"/>   -->
                        </apex:form>    
                        </div>
                        <div class="inventory-results-container">
                            <div class="filter-search-header">
                            <h2 class="pull-left">Filter Search Results</h2>
                              <form class="search-records-form pull-right">
                                <input type="text" placeholder="Search Records" />
                                <input type="submit" value="" />
                              </form>
                            </div>
                        </div>
                    </div>

                    <div id="myDiv2">
                        <apex:outputPanel id="out">
                            <!--<div class="table-responsive">-->
                                <table class="table table-striped display nowrap inventory-table" id="example">
                                    <thead>
                                        <tr style="background-color: #f5f8fa;color: #7f8fa4;" role="row">
                                            <th style="width: 300px; padding: 8px 15px 8px 8px;" class="sortingiconsize"> Project Name (Mktg) </th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Project Name (Int)</th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Unit </th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Bedroom Type </th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Bedrooms </th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Area (Sft) </th>
                                            <th style="padding: 8px 15px 8px 8px;" class="sortingiconsize"> Special Price</th> 
                                            <th style="padding: 8px 15px 8px 8px;"> U </th>
                                            <th style="padding: 8px 15px 8px 8px;"> F </th>
                                            <th style="padding: 8px 15px 8px 8px;"> P </th>                        
                                            <th style="padding: 8px 15px 8px 8px;"> SO </th> 
                                            <!-- <th style="background : none;"> Details </th>                         -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                                        
                                        <apex:repeat value="{!filteredinventory}" var="inv">
                                            <tr>
                                                <td style="width: 300px;padding: 8px 14px 8px 8px;">
                                                   <apex:outputField value="{!inv.Marketing_Name__c}" rendered="{!IF(inv.Marketing_Name__c !=null,true,false)}"/>
                                                   <apex:outputField value="{!inv.Property_Name__c}" rendered="{!IF(inv.Marketing_Name__c ==null,true,false)}"/>
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   {!inv.Property_Name__c}
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   {!inv.Unit_Location__r.Name}
                                                </td> 
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   {!inv.Bedroom_Type__c}
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   {!inv.IPMS_Bedrooms__c}
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                  <apex:outputText value="{0,number,#,##0}">    
                                                     <apex:param value="{!inv.Area_sft__c}"/>
                                                  </apex:outputText>
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   <apex:outputfield value="{!inv.Special_Price__c}"/>
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">                               
                                                  <apex:outputPanel rendered="{!IF(inv.Unit_Plan__c==null,true,false)}">                                
                                                      <i class="fa fa-minus-circle btn btn-circle" title="No Plan Avaliable"></i>
                                                  </apex:outputPanel>
                                                  
                                                  <apex:outputPanel rendered="{!IF(inv.Unit_Plan__c!=null,true,false)}">
                                                      <a href="{!inv.Unit_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Unit Plan">
                                                      <i class="fas fa-external-link-alt"></i>                                
                                                      </a>
                                                  </apex:outputPanel>                                 
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                  <apex:outputPanel rendered="{!IF(inv.Floor_Plan__c==null,true,false)}">                                
                                                      <i class="fa fa-minus-circle btn btn-circle" title="No Plan Avaliable"></i>
                                                  </apex:outputPanel>
                                                  
                                                  <apex:outputPanel rendered="{!IF(inv.Floor_Plan__c!=null,true,false)}">
                                                      <a href="{!inv.Floor_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Floor Plan">
                                                      <i class="fas fa-external-link-alt"></i>                                
                                                      </a>
                                                  </apex:outputPanel>                                 
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                      <apex:outputPanel rendered="{!IF(inv.Plot_Plan__c==null,true,false)}">                                
                                                          <i class="fa fa-minus-circle btn btn-circle" title="No Plan Avaliable"></i>
                                                      </apex:outputPanel>
                                                      
                                                      <apex:outputPanel rendered="{!IF(inv.Plot_Plan__c!=null,true,false)}">
                                                          <a href="{!inv.Plot_Plan__c}" target="__blank" class="btn btn-circle" title="Click for Plot Plan">
                                                          <i class="fas fa-external-link-alt"></i>                                
                                                          </a>
                                                      </apex:outputPanel>                                
                                                </td>
                                                <td style="padding: 8px 14px 8px 8px;">
                                                   
                                                    <a href="/promoters/Damac_InventoryDetail?Id={!inv.id}" target="__blank" class="btn btn-circle" title="Click for SO">
                                                        <i class="fas fa-external-link-alt"></i>                                
                                                    </a>                             
                                                </td>
                                                <!-- <td>
                                                    <a onclick="openDetails('{!inv.id}');" class="btn btn-circle" style="cursor:pointer !important;color:#0D80FC"><i class="glyphicon glyphicon-new-window" title="Click for more details"> </i> </a> 
                                                </td> -->
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            <!--</div>-->
                        </apex:outputPanel>
                    </div>
            </section>
            
        <script>
        
           $(document).ready(function() {  
              /*$('.enquiry-button.filter-inventory-button').click(function(){
                  $(this).toggleClass('open');
              })*/
                // var table = $('#example').DataTable( {   
                //     // "dom": '<"top"lf>rt<"bottom"ip><"clear">',                    
                    
                // } );

                // $('#exampleTwo').DataTable( { 
                //     "pageLength": 10
                // });
                
                
             } );

            $(document).ready(function() {
                $('#example').DataTable( {
                    "pageLength": 10,
                    "bInfo": false,
                    //"scrollX": true,
                    "searching":false
                });
                
                $('.enquiry-button.filter-inventory-button').click(function(eve){
                    eve.preventDefault();
                    $(this).toggleClass('open');
                    $('#myDIV1').slideToggle();
                });
                
            });
            
            function makeTable(){
                $('#example').DataTable( {
                    //"scrollX": true
                });
                endLoading();
                      setTimeout(function(){
                    
                    $(".inventory-table").wrap( "<div class='table-scroll'></div>" );
                    var dashboardHeight = $('.main-dashboard').outerHeight();
                $('.left-navigation').outerHeight(dashboardHeight);
                $('.nav-submenu').outerHeight(dashboardHeight);
                    
                   },100);
            }
   
              // loading icon
              function startLoading(){
                $('#load_scrl').css('top', $(document).scrollTop() + 100);
                  $('.loadingBox').show();

              }
              function endLoading(){
                   $('.loadingBox').hide();
              }
              
    
              function openDetails(recordid){
                  if('{!$User.UIThemeDisplayed}' != 'Theme4t'){
                  window.open('/'+recordid);
                  
                  }else{
                      //alert();
                      sforce.one.navigateToSObject(recordid,'detail');
                  }
              }

              function myFunction() {
                var x = document.getElementById("myDIV1");
                var y = document.getElementById("myDiv2");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.display = "none";
                } else {
                    x.style.display = "none";
                    y.style.display = "block";
                }
             }

           /* window.onload = searchInventories();


            function searchInventories() {
              var tableBody = '' ;
            
              PromoterInventoryFilterController.searchinventory(function(result, event){
                if(event.status) {
                    if(result != null) {
                        for(var i=0;i<result.length;i++) {
                            tableBody +='<tr class=" "><td>'+(result[i].Marketing_Name__c !== undefined ?result[i].Marketing_Name__c:'') +'</td><td>'+(result[i].Property_Name__c !== undefined ?result[i].Property_Name__c:'')+'</td><td>'+(result[i].Unit_Type__c !== undefined ?result[i].Unit_Type__c:'')+'</td><td>'+(result[i].Bedroom_Type__c !== undefined ?result[i].Bedroom_Type__c:'')+'</td><td>'+(result[i].Area__c !== undefined ?result[i].Area__c:'')+'</td><td>'+(result[i].Plot_Area__c !== undefined ?result[i].Plot_Area__c:'')+'</td><td>'+(result[i].Special_Price_2__c !== undefined ?result[i].Special_Price_2__c:'AED 0.00')+'</td><td>'+(result[i].Property_Status__c !== undefined ?result[i].Property_Status__c:'')+'</td><td>'+(result[i].ACD_Date__c !== undefined ?result[i].ACD_Date__c:'')+'</td></tr>'

                        }
                        document.getElementById('tablebodyRows').innerHTML = tableBody;
                        
                        $('#exampleTwo').DataTable( { 
                            "pageLength": 10,
                            "searching":false
                        });
                        
                    }
                }else {

                }
              });
            }*/

    </script>

 <!-- **************************************************** PDF FORM  ****************************************************-->
    

    </apex:define>
    </apex:composition>
   </apex:outputPanel>
    
        <apex:outputPanel rendered="{! !render}" id="pdflayout">
            <apex:form id="pdfform">
            <html>      
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
                <meta content="utf-8" http-equiv="encoding"/>       
                <head>          
                     
                </head>     
                <body>  
                    <div class="header-div" align="center">
                        <img src="{!$Resource.DAMAC_logo}" width="150" height="50"/>            
                    </div>
           
            
            
            
                    <div class="footer-div" align="center" style="color:red;font-size:10px;font-style: italic;padding: 5px;">
                    <!-- rendered="{!propId == null}" -->
                        <apex:outputPanel >Avaliability List generated on : 
                         <apex:outputText value="{0,date,MMM dd ',' yyyy hh:mm:ss a}">
                            <apex:param value="{!NOW()+offset}"/>
                         </apex:outputText>
                         (Confidential and not for redistribution)</apex:outputPanel>
                        <!--<apex:outputPanel rendered="{!propId != null}">Generated on : <apex:outputText value="{0,date,MMM dd ',' yyyy hh:mm:ss a}">
                            <apex:param value="{!NOW()+offset}"/>
                         </apex:outputText> (Confidential and not for redistribution)</apex:outputPanel> -->
                    </div>
               
                    <apex:variable var="cnt" value="{!0}" /> 
                    <apex:repeat value="{!mpAvailable}" var="bld">
                        <div style="display:block;page-break-after:auto">
                            <apex:variable var="cnt" value="{!cnt+1}"/>
                            <!--<div style="page-break-after:always;">-->
                            <div style="background:#000000; color:white;height:35px;width:100%;" align="center">
                                <div style="float:left">
                                    <label class="propertyLabel" style="margin-left:5px;">{!mpBuildings[bld].Building_name__c}-{!mpAvailable[bld][0].Marketing_Name__c}</label>
                                    <apex:repeat value="{!mpAvailable[bld]}" var="prop" rows="1">
                                        <label class="propertyLabel">(Country :{!prop.Property_Country__c} )</label>
                                        <label class="propertyLabel">({!prop.Property_City__c})</label>
                                    </apex:repeat>
                                   <!-- <label class="countryLabel">(Country :{!mpAvailable[bld].Property_Country__c} )</label>
                                    <label class="statusLabel">({!mpAvailable[bld].Property_City__c})</label>-->
                                </div>
                                <div style="float:right">
                                    <label class="statusLabel">Status : {!mpBuildings[bld].status__c}</label>
                                </div> 
                            </div>
                                
                            <br/>
                            <br/>
                            
                            <table width="100%" style="font-size:10px;font-family: Arial Unicode MS;" cellspacing="0" border="1px solid #eee">
                                <tr>
                                    <th style="background:#000000; color:white;font-weight:bold;text-align:center; font-size:12px" colspan="{!$ObjectType.Inventory__c.fieldsets.Project_Unit.size}">Available Units - PRICES ARE INCLUSIVE OF VAT (WHERE APPLICABLE) </th> 
                                </tr>
                                <tr>
                                    <apex:repeat value="{!$ObjectType.Inventory__c.fieldsets.Project_Unit}" var="f">
                                        <th style="width:{!widthpx};font-size:10px;font-family: Arial Unicode MS; font-weight:bold;background-color:#ccc;display:{!IF( f.Label = 'Currency ISO Code' , 'None', '')}">
                                            <b>{!f.label}</b>
                                        </th>
                                    </apex:repeat>
                                </tr>
                                <apex:repeat value="{!mpAvailable[bld]}" var="inv">
                                    <tr style="page-break-inside:avoid; page-break-after:auto">
                                        <apex:repeat value="{!$ObjectType.Inventory__c.fieldsets.Project_Unit}" var="f">
                                            <td style="width:{!widthpx};font-size:8px;display:{!IF( f.Label = 'Currency ISO Code' , 'None', '')}">
                                                 <apex:outputPanel rendered="{!IF(f.Type == 'currency',true,false)}">
                                                    <apex:outputText value="{!inv.CurrencyIsoCode}{0, number, ###,##0.00}"> 
                                                        <apex:param value="{!inv[f]}"/> 
                                                    </apex:outputText>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!IF(f.Type != 'currency',true,false)}">
                                                    <apex:outputText value="{!inv[f]}" style="text-transform: uppercase;"/>
                                                </apex:outputPanel>
                                            </td>
                                        </apex:repeat>
                                    </tr>
                                </apex:repeat> 
                            </table>

                            <br/>
                            <br/>

                            <apex:repeat rendered="{!IF(CONTAINS(planKeyStr,bld), true, false)}" value="{!mpPaymentPlans[bld]}" var="pp">
                                <table width="100%" style="font-size:10px;font-family: Arial Unicode MS;page-break-inside: avoid;" cellspacing="0" border="1px solid #eee">
                                    <tr >
                                       <th style="background:#000000; color:white;font-weight:bold;text-align:center; font-size:12px;font-family: Arial Unicode MS;" colspan="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New.size}">Payment Plan</th> 
                                    </tr>
                                    <tr>
                                        <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                            <th style="width:{!ptWidthPx};font-size:10px; font-weight:bold;background-color:#ccc;font-family: Arial Unicode MS;">
                                                <b>{!f.label}</b>
                                            </th>
                                        </apex:repeat>
                                    </tr>
                                    <apex:repeat value="{!mpPaymentTerms[pp.Id]}" rendered="{!IF(CONTAINS(pTermKeyStr,pp.Id), true, false)}"  var="term">
                                        <tr>
                                            <apex:repeat value="{!$ObjectType.Payment_Terms__c.fieldsets.Payment_Term_New}" var="f">
                                                <td style="width:{!ptWidthPx}; font-size:10px;font-family: Arial Unicode MS; " >
                                                    <apex:outputtext value="{!term[f]}"/>
                                                </td>
                                            </apex:repeat>
                                        </tr>
                                    </apex:repeat>  
                                </table>
                                <br/>
                                <br/>
                            </apex:repeat>
                        </div>
                    </apex:repeat>
                </body>  
            </html> 
            </apex:form>
        </apex:outputPanel>
   </apex:outputPanel> 
</apex:page>