<apex:page showHeader="false" sidebar="false" standardStylesheets="true" lightningStyleSheets="true" controller="PromotorRegistrationController">
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0"/>
   <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <head>
    <apex:slds />
    <style>
        div.hideCurrDate span.dateInput span.dateFormat{
           display:none;
        }
        .msgDiv {
            min-width: unset !important;
        }
        #spinnerIcon {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            z-index: 10;
            opacity: 0.6;
            filter: alpha(opacity=50);
        }
        #assign-action-spinner-main {
            position: fixed;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,.6);
            height: 100%;
            width: 100%;
            z-index: 999;
            align: center;
            vertical-align: middle;
        }
        #assign-action-spinner-content img {
            width: 32;
            height: 32;
            align: center;
            vertical-align: middle;
        }
        #assign-action-spinner-content p {
            display: inline;
            font-size: 135%;
            font-weight: bold;
        }
        .error {
            border: 2px solid #c00!important;
        }
        .crossStyle{
            color: black !important;
            /* background-color: red; */
            background-color: #C73C35 !important;
            border: none !important;
        }
        .slds-scope .slds-p-around_small, .slds-scope .slds-p-around--small {
                padding: .3rem !important;

        }

    </style>
    </head>
   <body class= "slds-scope" style="overflow: visible !important;">
    <apex:form >
        
        <apex:outputPanel styleclass="mainPanel" layout="block" id="mainPanel">

        <apex:outputPanel rendered="{!!showInqPanel}" id="standPanel" styleClass="demo-only" style="height: 100% important;" layout="block">
          <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
              <header class="slds-modal__header">
                
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Stand</h2>
              </header>
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Stand</label>
                        <div class="slds-form-element__control">
                            <apex:selectList id="standPicklist1"
                                size="1" value="{!selectedStand}" multiselect="false"
                                styleClass="{!requiredCls} inputTxt1 slds-input slds-combobox__input">
                                <apex:selectOptions value="{!stands}"/>
                            </apex:selectList>
                        </div>
                    </div>
              </div>
              <footer class="slds-modal__footer">
                <apex:commandButton value="Cancel" styleClass="slds-button slds-button_neutral" action="{!cancel}"></apex:commandButton>
                <apex:commandButton value="Select" action="{!selectStand}" styleClass="slds-button slds-button_brand"  reRender="mainPanel,inqPanel,standPanel"></apex:commandButton>
              
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </apex:outputPanel>
            <apex:outputPanel id="inqPanel" rendered="{!showInqPanel}" 
                styleClass="slds-theme_shade" 
                layout="block">
                <apex:actionStatus id="blockUI" onStart="startProcess();" onStop="endProcess();"/>
                <!-- <div id="spinnerIcon" class="demo-only" style="height: 6rem;display:none"> <div role="status" style="width:50px; height:50px; position:fixed; top:50%; left:50%; z-index:10;" class="slds-spinner slds-spinner_brand slds-spinner_large"> <span
                class="slds-assistive-text">Loading</span> <div class="slds-spinner__dot-a"></div> <div class="slds-spinner__dot-b"></div> </div> </div> -->
                <div id="spinnerIcon" style="display:none">
                    <div id="assign-action-spinner-content">
                        <apex:image url="{!URLFOR($Resource.Spinner,'')}" id="loadingdetail" style="width:50px; height:50px; position:fixed; top:50%; left:50%; z-index:10;"/>
                    </div>
                </div>
                <div class="slds-align_absolute-center slds-page-header slds-page-header__title">
                    New Inquiry
                </div>



                <div class="slds-grid slds-wrap slds-grid--align-spread "> <!--     -->
                    <div id="validateMsg" class="slds-col slds-p-around--small slds-size_1-of-1 slds-notify_container slds-is-relative slds-hide"
                        layout="block">
                        <div class="msgDiv slds-notify slds-notify_toast slds-theme_error" role="alert">
<!--                          <button class="crossStyle slds-button slds-button--neutral" title="Close"> -->
<!--                            <svg aria-hidden="true" class="slds-button__icon"> -->
<!--                                  <use xlink:href="{!URLFOR($Resource.SLDS0121, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use> -->
<!--                           </svg>  -->
<!--                         </button> -->
                            <h2 class="slds-text-heading_small slds-align_absolute-center">
                                Please fill all required fields
                            </h2>
                        </div>
                    </div>
                      <apex:outputPanel id="pgMsg"
                    styleClass="slds-col slds-p-around--small slds-size_1-of-1 slds-notify_container slds-is-relative"
                    layout="block" rendered="{!showMessage}">
                        <div class="msgDiv slds-notify slds-notify_toast slds-theme_{!msgType}" role="alert">
<!--                          <button class="crossStyle slds-button slds-button--neutral" title="Close"> -->
<!--                            <svg aria-hidden="true" class="slds-button__icon"> -->
<!--                                  <use xlink:href="{!URLFOR($Resource.SLDS0121, '/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use> -->
<!--                           </svg>  -->
<!--                         </button> -->
                            <h2 class="slds-text-heading_small slds-align_absolute-center">
                                {!msg}
                            </h2>
                        </div>
                    </apex:outputPanel>
                    
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">First Name*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.First_Name__c}" styleClass="requiredField slds-input inputTxt" html-placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Last Name*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Last_Name__c}" styleClass="requiredField slds-input inputTxt" html-placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Mobile Country Code*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Mobile_CountryCode__c}" styleClass="requiredField slds-input inputTxt" html-placeholder="Contact Number"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Contact Number*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Mobile_Phone_Encrypt__c}" styleClass="requiredField slds-input inputTxt" html-placeholder="Contact Number"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Alternate Country Code</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Mobile_Country_Code_2__c}" styleClass="slds-input inputTxt" html-placeholder="Contact Number"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Alternate Contact Number</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Mobile_Phone_Encrypt_2__c}" styleClass="slds-input inputTxt" html-placeholder="Contact Number"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Email*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Email__c}" styleClass="requiredField slds-input inputTxt" html-placeholder="Email"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Nationality*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Nationality__c}" styleClass="requiredField inputTxt slds-input slds-combobox__input" html-placeholder="Nationality"/>
                        </div>
                    </div>
                    
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Country*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField id="countryId" value="{!objInquiry.Country__c}"
                                onchange="changeUAECheckbox();"
                            styleClass="requiredField inputTxt slds-input slds-combobox__input">
                            </apex:inputField>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">City*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.City_new__c}" id="cityId"
                            styleClass="requiredField slds-input inputTxt" html-placeholder="City"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Preferred Language*</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Preferred_Language__c}" styleClass="requiredField inputTxt slds-input slds-combobox__input" html-placeholder="City"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">* Indicates mandatory info</label>
                    </div>
                    <!--
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                    <label class="slds-form-element__label" for="input-id-01">Project</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Project__c}" styleClass="slds-input inputTxt" html-placeholder="Project"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        
                        <label class="slds-form-element__label" for="input-id-01">Offer</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Offer__c}" styleClass="slds-input inputTxt" html-placeholder="Offer"/>
                        </div>
                    </div>
                    -->
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Remark</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Comments__c}" styleClass="slds-input inputTxt" html-placeholder="Remark"/>
                        </div>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Meeting Type</label>
                        <div class="slds-form-element__control">
                            <apex:inputField value="{!objInquiry.Meeting_Type__c}" onchange="disableTime();"
                                styleClass="tourTypeCls slds-input inputTxt">
                            <apex:actionSupport event="onsubmit" reRender="mainPanel" status="blockUI"/>
                            </apex:inputField>
                        </div>
                        <label class="slds-form-element__label" for="input-id-01">Tour Date/Time</label>
                        <div class="hideCurrDate slds-form-element__control">
                            <apex:inputField html-disabled="true"
                            value="{!objInquiry.Tour_Date_Time__c}" styleClass="tourDateCls slds-input inputTxt"
                            html-placeholder="Select tour date"/>
                        </div>
                        <script>disableTime();</script>
                    </div>
                    <!--<div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Tour Date/Time</label>
                        <div class="hideCurrDate slds-form-element__control">
                            <apex:inputField html-disabled="true"
                            value="{!objInquiry.Tour_Date_Time__c}" styleClass="tourDateCls slds-input inputTxt"
                            html-placeholder="Select tour date"/>
                        </div>
                    </div> -->
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">PC</label>
                        <div class="slds-form-element__control">
                            <c:Autocomplete id="hosName" required="false" SObject="User" labelField="Name"
                            valueField="Id" targetFields="{!userId}" conString="Profile.Name=\'{!$Label.PC_Profile}\' AND IsActive = true "
                            rerenderPanel="false"></c:Autocomplete>
                        </div>
                        <script>
                        if($j('.msgDiv').hasClass('slds-theme_success')) {
                            var autoInputBox = document.getElementsByClassName('autoInputBox');
                            if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                                autoInputBox[0].value = '';
                            }
                        }
                        </script>
                    </div>
                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Stand</label>
                        <div class="slds-form-element__control">
                            <apex:inputText id="standPicklist" disabled="true" 
                                value="{!selectedStandStr}" 
                                styleClass="slds-input">
                            </apex:inputText>
                        </div>
                    </div>
                    <!-- <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <label class="slds-form-element__label" for="input-id-01">Meeting on stand</label>
                        <div class="slds-form-element__control">
                            <apex:inputCheckbox id="stand" value="{!meetingOnStand}" styleClass="slds-checkbox inputCheckbox">
                                <apex:actionSupport event="onchange" oncomplete="bindEvents();" reRender="mainPanel" status="blockUI"/>
                            </apex:inputCheckbox>
                        </div>
                    </div> -->

                    <div class="slds-col slds-p-around--small slds-size_1-of-1 slds-align_absolute-center">
<!--                         <apex:commandButton value="Clear" status="blockUI" action="{!refreshPage}" styleClass="slds-button slds-button_brand"/> -->
                       <apex:commandButton status="blockUI" value="Clear" oncomplete="scroll();" onclick="clearDetails();" reRender="mainPanel" styleClass="slds-button slds-button_brand"/>
                       <apex:commandButton value="Submit" onclick="if(!validateRequiredInput()) submitInquiry();" oncomplete="scroll();" styleClass="slds-button slds-button_brand"/>
                       <apex:commandButton value="Cancel"  action="{!cancel}" styleClass="slds-button slds-button_brand"/>
                    
                    </div>
                </div>
            </apex:outputPanel>
        </apex:outputPanel>
        <apex:actionFunction action="{!submitInquiry}" name="submitInquiry" reRender="mainPanel" status="blockUI"/>
        
        <apex:outputPanel id="scriptTag">
            <script>



                function bindEvents() {
                    $j('.autoInputBox').prop('disabled',true);
                    disableTime();
                }
                function changeUAECheckbox() {
                    if($j('[id$=countryId]') != null && $j('[id$=countryId]') != undefined
                    && $j('[id$=countryId]').val() != 'United Arab Emirates') {
                        $j('[id$=UAECheckbox]').prop('checked',false);
                    }
                }
                function changeCountry(checkbox) {
                    debugger;
                    //If UAE Resident is checked, set country as United Arab Emirates
                    if($j('[id$=UAECheckbox]') != null && $j('[id$=UAECheckbox]') != undefined &&
                            $j('[id$=UAECheckbox]').is(':checked')) {
                        if($j('[id$=countryId]') != null && $j('[id$=countryId]') != undefined) {
                            $j('[id$=countryId]').val('United Arab Emirates');
                        }
                        // $j('[id$=cityId]').removeAttr('disabled');
                        $j('[id$=countryId]').trigger('change');
                    }
                }

                function disableTime() {
                     debugger;
                    //To make PC field required if Meeting Type is Scheduled Tour/Direct Tour
                    var autoInputBox = document.getElementsByClassName('autoInputBox');
                    if($j('.tourTypeCls :selected').val() == 'Meeting On Stand' ||
                        $j('.tourTypeCls :selected').val() == 'Direct Tour') {
                            if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                            autoInputBox[0].classList.add('requiredField');
                            }
                    }
                    else {
                        if(autoInputBox != null && autoInputBox != undefined && autoInputBox.length > 0) {
                            // debugger;
                            autoInputBox[0].classList.remove('requiredField');
                            autoInputBox[0].classList.remove('error');
                        }
                    }
                    if($j('.tourTypeCls :selected').val() == 'Scheduled Tour') {
                        $j('.tourDateCls').prop('disabled', false);
                        $j('.autoInputBox').prop('disabled',true);
                        $j('.autoInputBox').val('');
                        // $j('.tourDateCls').addClass('requiredField');
                    }
                    else {
                        $j('.autoInputBox').prop('disabled',false);
                        // Added by Craig 
                        /*if($j('.tourTypeCls :selected').val() == 'Direct Tour') {
                            $j('.tourDateCls').prop('disabled', false);
                        } else {*/
                            $j('.tourDateCls').prop('disabled', true);
                           /* $j('.tourDateCls').val('');
                        }*/
                        // Added by Craig 
                        // $j('.tourDateCls').removeClass('requiredField');
                        // $j('.tourDateCls').removeClass('error');
                    }
                    // debugger;
                    /*if($j('.tourTypeCls :selected').val() == 'Meeting On Stand') {
                        $j('[id$=standPicklist]').prop('disabled', false);
                        if($j('[id$=standPicklist]') !=null && $j('[id$=standPicklist]') != undefined
                            && $j('[id$=standPicklist]').length >1)
                        $j('[id$=standPicklist]').addClass('requiredField');
                    }
                    else {
                        $j('[id$=standPicklist]').prop('disabled', true);
                        $j('[id$=standPicklist]').removeClass('requiredField');
                        $j('[id$=standPicklist]').removeClass('error');
                    }*/
                }
                function clearDetails() {
                    // debugger;
                    //document.getElementsByClassName('inputTxt1')[0].value = 'None';
                    var autoInputBox = document.getElementsByClassName('autoInputBox');
                    autoInputBox[0].value = '';
                    var textFields = document.getElementsByClassName('inputTxt');
                    if (textFields != null && textFields != undefined && textFields.length > 0) {
                        for (var i = 0; i < textFields.length; i++) {
                            textFields[i].value = '';
                           // textFields[i].classList.remove('msgDiv');
                        }
                     }
                   
                    var checkboxes = document.getElementsByClassName('inputCheckbox');
                    if (checkboxes != null && checkboxes != undefined && checkboxes.length > 0) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            checkboxes[i].checked = false;
                          //  checkboxes[i].classList.remove('msgDiv');
                        }
                         
                    }
                }
                function startProcess() {
                    // document.getElementById('loadingdetail').style.display = 'block';
                    document.getElementById('spinnerIcon').style.display = 'block';
                }
                function displayInqPanel() {
                    debugger;
                    $j('[id$=inqPanel]').addClass('slds-show');
                    $j('[id$=inqPanel]').removeClass('slds-hide');
                    $j('[id$=standPanel]').addClass('slds-hide');
                }
                function endProcess() {
                    // document.getElementById('loadingdetail').style.display = 'none';
                    document.getElementById('spinnerIcon').style.display = 'none';
                }

                // Method to validate the required input
                function validateRequiredInput() {
                    if($j('.tourTypeCls :selected').val() == 'Scheduled Tour'
                        && $j('.autoInputBox') != null && $j('.autoInputBox') != undefined
                        &&$j('.autoInputBox').val() != null && $j('.autoInputBox').val() != undefined
                        && $j('.autoInputBox').val() != '') {
                        $j('.tourDateCls').addClass('requiredField');
                    }
                    else {
                        $j('.tourDateCls').removeClass('requiredField');
                        $j('.tourDateCls').removeClass('error');
                    }
                    var cmp = document.getElementsByClassName('requiredField');
                    var isError = false;
                    // Check if value is present or not for all required field, If not highlight the field.
                    for (var i = 0; i < cmp.length; i++) {
                        if (cmp[i].tagName == 'INPUT' || cmp[i].tagName == 'SELECT') {
                            if (cmp[i].value == '' || cmp[i].value == 'None') {
                                cmp[i].classList.add('error');
                                isError = true;
                            } else {
                                cmp[i].classList.remove('error');
                            }
                        }
                    }
                    debugger;
                    // if (isError) {
                    //     $j('[id$=pgMsg]').addClass('slds-hide');
                    //     alert('Please provide value for all the required inputs');
                    // }
                    // else {
                    //     $j('[id$=pgMsg]').removeClass('slds-hide');
                    // }
                    $j('[id$=validateMsg]').removeClass('slds-hide');
                    if (isError) {
                        $j('[id$=pgMsg]').addClass('slds-hide');
                        $j('[id$=validateMsg]').addClass('slds-show');
                        $j('[id$=validateMsg]').removeClass('slds-hide');
                    }
                    else {
                        $j('[id$=pgMsg]').removeClass('slds-hide');
                        $j('[id$=validateMsg]').removeClass('slds-show');
                        $j('[id$=validateMsg]').addClass('slds-hide');
                    }
                    return isError;
                }
                function scroll() {
                    // $j('[id$=validateMsg]').removeClass('slds-show');
                    // $j('[id$=validateMsg]').addClass('slds-hide');
                    debugger;
                    $j('[id$=pgMsg]').addClass('slds-hide');
                    disableTime();
                    setTimeout(function(){$j('.msgDiv').fadeOut();}, 10000);
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
            </script>
        </apex:outputPanel>
    </apex:form>
    </body>
    </html>
</apex:page>