<apex:page extensions="RequestInventoryController"  standardController="Deal_Exception_Request__c"
applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false"  id="pg"
sidebar="false" showHeader="false" readOnly="false" tabStyle="projects__tab" title="Inventory Request">
    <head>
        <apex:slds />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
        <meta charset="UTF-8"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Inventory Request </title>
        <apex:stylesheet value="{!URLFOR($Resource.Jquery_Booking, '/bootstrap.min.css')}"/>
        <apex:includeScript value="{!URLFOR($Resource.pjs, 'jqmin.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.pjs, 'bsmin.js')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'css/style.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'fonts/fonts.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.ProjectSearchResources, 'css/bootstrap-select.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Jquery_Booking, '/jqueryUI.css')}"/>
        <apex:includeScript value="{!URLFOR($Resource.Jquery_Booking, '/jqueryUI.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.Jquery_Booking, '/all.js')}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
                    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
                    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <apex:includeScript value="{!URLFOR($Resource.ProjectSearchResources, 'js/bootstrap-select.js')}"/>
        <script src="/soap/ajax/20.0/connection.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css "/>
        <style>
            @page {
                size: letter;
                margin: 25mm;
                @top-center {
                    content: element(header) !important;
                }
                @bottom-center {
                    content: element(footer) !important;
                }
            }

            div.header {
                padding: 0px;
                position: running(header);
                text-align="center";
            }

            div.footer {
                display: block;
                padding: 5px;
                color:red;
                font-size:10px;
                font-style: italic;
                position: running(footer);
            }

            .propertyLabel{
                font-size:12px;
                font-weight:bold;
                color:white;
                display: inline;
            }

            .statusLabel{
                font-size:12px !important;
                font-weight:bold !important;
                color:white !important;
                margin-right:5px !important;
            }

            ul.dropdown-menu.inner {
                max-height: none !important;
            }

            .dropdown-menu {
                min-width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow: auto !important;
                max-height: none !important;
            }

            .searchItem:hover {
                background-color: #ffff99 !important; 
            }

            .bootstrap-select.btn-group .dropdown-menu {
                overflow: auto !important;
                transform: translate3d(0px, -2px, 0px) !important;
                top: 35px !important;
            }

            .floatingMenu {
                position: fixed;
                width: 60px;
                height: 60px;
                bottom: 40px;
                right: 40px;
            }

            .table{
                overflow-x: hidden !important;
            }

            .btn-circle {
                width: 25px;
                height: 25px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
            }

            .overlay {
                display: none;
                height: 100%;
                left: 0;
                position: fixed;
                top: 0;
                opacity: 0.3;
                -moz-opacity: 0.3;
                width: 100%;
                background: #000;
                -khtml-opacity: 0.3;
                z-index: 1000;
            }

            .loader {
                background: url("/img/loading32.gif") scroll no-repeat 0 0;
                width: 32px;
                height: 32px;
                position: absolute;
                left: 50%;
            }

            .table-condensed{
                font-size: 10px;
            }

            .sortingiconsize{
                background-size: 10px 10px; !important;
            }

            .nosortingicon{
                background : none;  !important;
            }

            .btn-blue {
                background-color: #1c81f9; !important;
                color: #fff; !important;
            }

            .blk-content{
                background-color: #f7f7fb !important;
            }

            .bootstrap-select>.dropdown-toggle {
                padding-right: 27px !important;
                padding-top: 9px;
            }

            h1, h2, h3, h4 {
                font-family: 'Avenir-Heavy';!important;
                font-weight: bold;!important;
                font-style: normal;
                font-size: 23px;!important;
            }

            .text-Boxes{
                background-color: #f9f9f9;
                border: 1px solid #dfe3e9;
                height: 40px;
                margin-bottom: -6px;
                font-size: 14px;
            }

            .btn{
                font-size: 14px !important;
            }

            .btn-default{
                background-color: #f9f9f9; !important;
                border: 1px solid #dfe3e9; !important;
            }

            .table tbody tr.boxed {
                background-color: #fff;
            }

            .navigationBtn {
                display: inline-flex !important;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 2.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                margin-left: -14px;
                width: 37px;
                padding-top: 10px;
                padding-bottom: 10PX;
                padding-left: 12px;
                margin-right: 7px;
            }

            .viewSelect {
                display: inline-block;
                width: 70px;
                height: calc(3.25rem + 2px)!important;
                padding-right: 0px;
                padding-left: 2px;
            }

            .displayNone{
                display: none;
            }

            .displayBlock{
                display: block;
            }

            .allFilterClass{
                height: 40px;
                margin: 0px 3px;
                width: 100%;
            }

            .floatingMenu ul {
                right: 40px;
                bottom: 70px;
            }
 
            .floatingMenu ul li{
                margin-bottom: 20px;
            }
 
            .floatingMenu .my-float {
                margin-top: 11px;
                margin-left: 2px;
            }
 
            .floatingMenu .float {
                width: 45px;
                height: 45px;
            }

            .floatingMenu ul li a{
                width: 45px;
                height: 45px;
            }
        </style>
    </head>
    <body>
        <apex:form id="reqForm">
            <div>
                <a id="blk-header" class="blk-header" data-toggle="collapse" href="#searchCollapse">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">
                            <h4>Inventory Request {!requestName}</h4>
                        </div>
                    </div>
                </a> 
                <div class="blk-content">
                    <div id="searchCollapse" class="collapse in">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="blk-col" >
                                    <h4>Property Details</h4>
                                    <form class="search-details">
                                        <div class="form-group">
                                            <label for="product">Product</label>
                                            <apex:selectList value="{!idsselected}" multiselect="true" id="product" styleclass="form-control selectpicker"
                                                         html-data-live-search="true" >
                                                <apex:selectOptions value="{!items}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-group">
                                            <label for="project">Project/ Cluster</label>
                                            <apex:selectList value="{!propertyNameFilter}" multiselect="true" id="project" styleclass="form-control selectpicker" 
                                                            html-data-live-search="true">
                                                <apex:selectOptions value="{!PropertyNames}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-group">
                                            <label for="statuss">Status</label>
                                            <apex:selectList value="{!propStatusTofilter}" multiselect="true" id="statuss" styleclass="form-control selectpicker" 
                                                            html-data-live-search="true">
                                                <apex:selectOptions value="{!PropStatus}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <apex:selectList value="{!citiesToFilter}" multiselect="true" id="city" styleclass="form-control selectpicker" 
                                                            html-data-live-search="true">
                                                <apex:selectOptions value="{!cities}"/>
                                            </apex:selectList>
                                        </div>
                                        <div class="form-group">
                                            <label for="projectFeatures">Location</label>
                                            <apex:selectList value="{!districtFtrsToFilter}" multiselect="true" id="projectFeatures" 
                                                        styleclass="form-control selectpicker" html-data-live-search="true">
                                                <apex:selectOptions value="{!location}"/>
                                            </apex:selectList>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="blk-col ">
                                    <h4>Unit Details</h4>
                                    <div class="form-group">
                                        <label for="unitFeatures">Units</label>
                                        <div>
                                          <!--  <input class="magicsearch form-control text-Boxes" id="unitFeatures" value="{!units}" placeholder="Search Units..."/> -->
                                            <apex:inputText value="{!units}"  styleClass=" form-control text-Boxes" html-placeholder="Search Units..."/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="unitType">Unit Type</label>
                                        <apex:selectList value="{!unitTypeToFilter}" multiselect="true" id="unitType" 
                                                    styleclass="form-control selectpicker" html-data-live-search="true">
                                            <apex:selectOptions value="{!UnitTypes}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="form-group">
                                        <label for="acd">ACD</label>
                                        <apex:selectList value="{!acdFilter}" multiselect="true" id="acd" 
                                                styleclass="form-control selectpicker" html-data-live-search="true">
                                            <apex:selectOptions value="{!Acd}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="form-group">
                                        <label for="bedroom">Bedroom Type</label>
                                        <apex:selectList value="{!bedRoomFilter}" multiselect="true" id="bedroom" 
                                                    styleclass="form-control selectpicker" html-data-live-search="true">
                                            <apex:selectOptions value="{!BedRooms}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="form-group">
                                        <label for="viewType">View Type</label>
                                        <apex:selectList value="{!viewTypeFilter}" multiselect="true" id="viewType" 
                                                    styleclass="form-control selectpicker" html-data-live-search="true">
                                            <apex:selectOptions value="{!viewTypes}"/>
                                        </apex:selectList>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="blk-col ">
                                    <h4>Other Details</h4>
                                    <div class="form-group">
                                        <label for="minPrice">Min Price</label>
                                        <apex:inputtext id="minPrice" value="{!minprice}" styleClass="form-control text-Boxes" 
                                                    html-placeholder="enter min price" onKeyPress="validate(event)"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxPrice">Max Price</label>
                                        <apex:inputtext id="maxPrice" value="{!maxprice}" styleClass="form-control text-Boxes" 
                                                    html-placeholder="enter max price" onKeyPress="validate(event)"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="minSqft">Min Sft.</label>
                                                <apex:inputtext id="minSqft" value="{!minsft}" styleClass="form-control text-Boxes" 
                                                            html-placeholder="enter min Sqft" onKeyPress="validate(event)"/>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                            <label for="maxSqft">Max Sft.</label>
                                                    <apex:inputtext id="maxSqft" value="{!maxsft}" styleClass=" form-control text-Boxes" 
                                                                html-placeholder="enter max Sqft" onKeyPress="validate(event)"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="minPriceSqft">Min. price/sft</label>
                                                <apex:inputtext id="minPriceSqft" value="{!minPriceSft}" styleClass=" form-control text-Boxes" 
                                                            html-placeholder="min price/sqft" onKeyPress="validate(event)"/>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <label for="maxPriceSqft">Max. price/sft</label>
                                                <apex:inputtext id="maxPriceSqft" value="{!maxPriceSft}" styleClass=" form-control text-Boxes" 
                                                        html-placeholder="max price/sqft" onKeyPress="validate(event)"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--ROWS DIV ENDS -->
                    </div><!--SEARCH COLLAPSE DIV ENDS -->
                    <div class="col-sm-8 col-xs-12 col-sm-offset-4" style="margin-top: 15px;">
                        <apex:outputPanel rendered="{!adminEditMode}">
                            <apex:outputPanel rendered="{!IF(status == 'Awaiting Sales Admin Review', true, false)}">
                                <button type="button" id="all-filter" class="btn btn-blue" onclick="modifyFilter();">Modify Filters</button>
                            </apex:outputPanel><br/><br/>
                        </apex:outputPanel>
                    </div>
                    <div class="col-sm-8 col-xs-12 col-sm-offset-1" style="margin-top: 15px;">

                        <apex:outputPanel rendered="{!IF(status != 'Draft', true, false)}">
                            <div style="margin-bottom: 30px;">
                                <table>
                                    <tr>
                                        <td><label for="status">Status &nbsp;</label> </td>
                                        <td style="margin-left:25px;"><apex:outputText value="{!status}" /><br/> </td>
                                    </tr>
                                    <tr>    
                                        <td style="margin-left:25px;"><label for="rmComments">RM Comments  &nbsp;</label> </td>
                                        <td><apex:outputField value="{!requestRecord.RM_Comments__c}"/> </td>
                                    </tr>
                                    <apex:outputPanel rendered="{!IF(status == 'Waiting for RM Confirmation' || status == 'Awaiting Sales Admin Manager Final Approval' || status == 'Approved' || status == 'Rejected' , true, false)}">
                                        <tr style="height:10px;"> <td/><td/> </tr>
                                        <tr>    
                                            <td style="margin-left:25px;"><label for="salesAdminComments">Sales Admin Comments  &nbsp;</label> </td>
                                            <td><apex:outputField value="{!requestRecord.Sales_Admin_Comments__c}"/> </td>
                                        </tr>
                                        <tr style="height:10px;"> <td/><td/> </tr>
                                        <tr>    
                                            <td style="margin-left:25px;"><label for="salesAdminManagerComments">Sales Admin Manager Comments  &nbsp;</label> </td>
                                            <td><apex:outputField value="{!requestRecord.Sales_Admin_Manager_Comments__c}"/> </td>
                                        </tr>
                                        <tr style="height:10px;"> <td/><td/> </tr>
                                        <tr>    
                                            <td style="margin-left:25px;"><label for="misHODComments">MIS HOD Comments  &nbsp;</label> </td>
                                            <td><apex:outputField value="{!requestRecord.MIS_HOD_Comments__c}"/> </td>
                                        </tr>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!IF(rmMode == false  && (adminMode || adminManagerMode || misHODMode), true, false)}">
                                        <tr style="height:10px;"> <td/><td/> </tr>
                                        <tr >    
                                            <td style="margin-left:25px;"><label for="internalComments">Internal Comments  &nbsp;</label> </td>
                                            <td><apex:outputField value="{!requestRecord.Internal_Comments__c}"/> </td>
                                        </tr>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!adminEditMode}">
                                        <apex:outputPanel rendered="{!!invPresent}">
                                           <tr><td colspan="2"> <br/>No Inventories present for the given filter. <br/> </td> </tr>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </table>
                                
                            </div>
                         </apex:outputPanel>
                    </div>
                   
                    <div class="col-sm-4 col-xs-12 col-sm-offset-4" >
                        <div>
                            <apex:outputPanel rendered="{!IF(editMode, true, false)}">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="approvalComments">Comments</label>
                                        <apex:inputTextarea value="{!approvalComments}"  styleClass=" form-control" html-placeholder="Enter Comments"/>
                                        <apex:outputPanel rendered="{!IF(editMode && !rmMode && status != 'Waiting for RM Confirmation', true, false)}">
                                            <br/>
                                            <label for="internalComments">Internal Comments</label>
                                            <apex:inputTextarea value="{!internalComments}"  styleClass=" form-control" html-placeholder="Enter Internal Comments"/>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 col-sm-offset-4" >
                        <div>
                            <apex:outputPanel rendered="{!rmEditMode}">
                                <apex:outputPanel rendered="{!IF(status == 'Draft', true, false)}">    
                                    <button type="button" id="all-filter" class="btn btn-blue allFilterClass" onclick="reqInventory();">Request Inventory</button>
                                </apex:outputPanel>
                                 <apex:outputPanel rendered="{!IF(status == 'Waiting for RM Confirmation', true, false)}">
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Approve');">Confirm</button>
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Reject');">Reject</button>
                                </apex:outputPanel>
                            </apex:outputPanel>
                            
                            <apex:outputPanel rendered="{!adminEditMode}">
                                <apex:outputPanel rendered="{!IF(status == 'Awaiting Sales Admin Review', true, false)}">
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Reject');">Reject Request</button>
                                    <apex:outputPanel rendered="{!invPresent}">
                                        <button type="button" id="all-filter" class="btn btn-blue" onclick="addInventories();">Add Selected Inventories to Request</button>
                                    </apex:outputPanel>
                                </apex:outputPanel><br/><br/>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!adminManagerMode}">
                                <apex:outputPanel rendered="{!IF(status == 'Awaiting Sales Admin Manager Approval', true, false)}">
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Approve');">Approve</button>
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Reject');">Reject</button>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(status == 'Awaiting Sales Admin Manager Final Approval', true, false)}">
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="applyInventories('false');">Release Inventory to RM</button>
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="applyInventories('true');">Release Inventory to All</button>
                                    <button type="button" id="all-filter" class="btn btn-blue" onclick="approveRejRequest('Reject');">Reject</button>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </div>
                    </div>
                    <apex:outputPanel rendered="{!IF(((status == 'Awaiting Sales Admin Manager Final Approval' || status == 'Awaiting Sales Admin Manager Approval') 
                                                        && adminManagerMode == true)
                                             || ((rmMode || misHODMode || adminMode || adminManagerMode ) 
                                                     && (status == 'Waiting for RM Confirmation' || status == 'Approved'))
                                             || adminEditMode, true, false)}">
                        <apex:outputPanel rendered="{!invPresent}">
                            <div class="projectItems">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <table id="searchResultTable" class="table table-striped table-responsive" style="border: none;">
                                            <thead>
                                                <tr>
                                                    <apex:outputPanel rendered="{!!rmMode}">
                                                        <th style="width:8%">Product</th>
                                                        <th style="width:8%">Project/ Cluster</th>
                                                        <th style="width:8%" >Unit Name</th>
                                                        <th style="width: 5%">Bedroom Type</th>
                                                        <th style="width: 5%">Bedrooms</th>
                                                        <th style="width: 5%">Area (sft)</th>
                                                        <th style="width: 8%">Inventory Status</th>
                                                        <th style="width:8%" >Latest Booking Status</th>
                                                        <th style="width:8%" >Restriction Category</th>
                                                        <th style="width:8%" >Restriction Remarks</th>
                                                        <th style="width:5%" >Ageing</th>
                                                        <th style="width:5%" >Staycae</th>
                                                        <th style="width:5%" >Active Tenant</th>
                                                        <apex:outputPanel rendered="{!if(status == 'Awaiting Sales Admin Manager Final Approval', true, false)}">
                                                            <th style="width: 5%">RM Selection</th>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!editMode}">
                                                            <th style="width: 5%">Select</th>
                                                        </apex:outputPanel>
                                                        
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!rmMode}">
                                                        <th style="width:20%">Product</th>
                                                        <th style="width:20%">Project/ Cluster</th>
                                                        <th style="width:10%" >Unit Name</th>
                                                        <th style="width: 10%">Bedroom Type</th>
                                                        <th style="width: 10%">Bedrooms</th>
                                                        <th style="width: 10%">Area (sft)</th>
                                                        <apex:outputPanel rendered="{!if(status == 'Waiting for RM Confirmation', true, false)}">
                                                            <th style="width: 5%">Select</th>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat value="{!filteredinventory}" var="inv">
                                                    <tr class="boxed">
                                                        <td> {!inv.Marketing_Name__c} </td>
                                                        <td style="width:8%"> {!inv.Property_Name__c} </td>
                                                        <td>{!inv.Unit_Location__r.Name}</td>
                                                        <td>{!inv.Bedroom_Type__c}</td>
                                                        <td>{!inv.IPMS_Bedrooms__c}</td>
                                                        <td>
                                                            <apex:outputText value="{0,number,#,##0}">
                                                                <apex:param value="{!inv.Area_sft__c}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        <apex:outputPanel rendered="{!if(status == 'Waiting for RM Confirmation' && rmMode, true, false)}">
                                                                <td style="width:5%">
                                                                    <input type="Checkbox" onchange="selectedUnits(this.id,this.checked);" 
                                                                                        class="reassignCheck" id="{!inv.id}"/>&nbsp;
                                                                </td>
                                                            </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!!rmMode}">
                                                            <td style="width:5%">{!inv.Status__c}</td>
                                                            <td style="width:5%">{!invLatestBookingStatusMap[inv.Id]}</td>
                                                            <td style="width:5%">{!inv.Restriction_Category__c}</td>
                                                            <td style="width:5%">{!inv.Restriction_Remarks__c}</td>
                                                            <td style="width:5%">{!invAgeingMap[inv.Id]}</td>
                                                            <td style="width: 5%">
                                                                 <apex:inputCheckbox value="{!inv.UpdateStaycation__c}" disabled="true"/>
                                                            </td>
                                                            <td style="width: 5%">
                                                                 <apex:inputCheckbox value="{!invTenantMap[inv.Id]}" disabled="true"/>
                                                            </td>
                                                            <apex:outputPanel rendered="{!if(status == 'Awaiting Sales Admin Manager Final Approval', true, false)}">
                                                                <td style="width: 5%">
                                                                 <apex:inputCheckbox value="{!invRMSelectedMap[inv.Id]}" disabled="true"/>
                                                                 </td>
                                                                 
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!editMode}">
                                                                <td style="width:5%">
                                                                    <input type="Checkbox" onchange="selectedUnits(this.id,this.checked);" 
                                                                                        class="reassignCheck" id="{!inv.id}"/>&nbsp;
                                                                </td>
                                                            </apex:outputPanel>
                                                            
                                                        </apex:outputPanel>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                        
                    </apex:outputPanel>
                </div>
            </div>
            <apex:inputHidden value="{!selectedInventoryIdsForBooking}" id="selectedidsHolder"/>
            <apex:actionFunction name="reqInv" action="{!requestInventory}" />
            <apex:actionFunction name="applyInv" action="{!applyInventoryShare}" rerender="none"  oncomplete="endLoading();gotoDERPage();">
                <apex:param name="applyInventIds" value=""/>
                <apex:param name="applyToAll" value=""/>
            </apex:actionFunction>
            <!--<apex:actionFunction name="gotoDERPage" action="{!reloadRequestPage}" /> -->
            <apex:actionFunction name="actionRequest" action="{!approveRejectInvRequest}" oncomplete="endLoading();">
                <apex:param name="inventIds" value=""/>
                <apex:param name="inventAction" value=""/>
            </apex:actionFunction>
            <apex:actionFunction name="addInv" action="{!addInventoriesToRequest}" oncomplete="endLoading();">
                <apex:param name="selectedInventIds" value=""/>
            </apex:actionFunction>
            
            <apex:actionFunction name="modFilter" action="{!modifyRequestFilter}" oncomplete="endLoading();"/>
        </apex:form>
        <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
        <script>
            $(document).ready(function() {
                var status = '{!status}';
                var rmMode = {!rmMode};
                var adminMode = {!adminMode};
                console.log(status+ ' - ' + rmMode + ' - ' + adminMode);
                if(status != 'Draft' && !(adminMode && status == 'Awaiting Sales Admin Review')){
                    var className = '.text-Boxes';
                    console.log('Disabling Input Fields');
                    $(className).each(function(){
                        $(this).attr('disabled', 'disabled');
                    });
                    var className = '.selectpicker';
                    $(className).each(function(){
                        $(this).attr('disabled', 'disabled');
                    });
                    if((rmMode == false && status == 'Waiting for RM Confirmation')){
                        var className = '.reassignCheck';
                        $(className).each(function(){
                            console.log('Disabling SELECT checkbox');
                            $(this).attr('disabled', 'disabled');
                        });
                    } 
                    if(status == 'Waiting for RM Confirmation' || status == 'Awaiting Sales Admin Manager Approval'
                            || status == 'Awaiting Sales Admin Manager Final Approval'){
                        console.log('Auto selecting list checkbox');
                        var className = '.reassignCheck';
                        $(className).each(function(){
                            $(this).attr('checked', 'true');
                           // selectedUnits(this.id, true);
                        });
                    } 
                }
            });

            function gotoDERPage(){
                location.reload();
            }

            function reqInventory(){
                buttonsEnabled(false);
                startLoading();
                reqInv();
            }

            function modifyFilter(){
                buttonsEnabled(false);
                startLoading();
                modFilter();
            }

            function success(msg){
                toastr.success(msg);
            }

            function validateInventorySelection(){
                var selInvIds = document.getElementById('pg:reqForm:selectedidsHolder').value;
                console.log('selInvIds: ' + selInvIds);
                if(selInvIds == null || selInvIds == ''){
                    alert('Select atleast one Inventory');
                    buttonsEnabled(true);
                    return '';
                } else{
                    selInvIds = selInvIds.replace(/,\s*$/, "");
                    return selInvIds;
                }
            }
            
            function addInventories(){
                buttonsEnabled(false);
                var selInvIds = validateInventorySelection();
                if(selInvIds != ''){
                    startLoading();
                    addInv(selInvIds);
                }
            }

            function applyInventories(applyToAll){
                buttonsEnabled(false);
                var selInvIds = validateInventorySelection();
                
                if(selInvIds != ''){
                    startLoading();
                    applyInv(selInvIds, applyToAll);
                }
            }
            
            function approveRejRequest(action){
                buttonsEnabled(false);
                if(action == 'Reject'){
                    startLoading();
                    actionRequest(selInvIds, action);
                } else {
                    var selInvIds = validateInventorySelection();
                    if(selInvIds != ''){
                        startLoading();
                        console.log('selInvIds2: ' + selInvIds);
                        console.log('action: ' + action);
                        actionRequest(selInvIds, action);
                    }
                }
            }
            
           function validate(e) {
                var keycode = (e.which) ? e.which : e.keyCode;
                if ((keycode < 48 || keycode > 57 ) && keycode != 13 ) {
                    if(keycode != 46){
                        e.preventDefault();
                        return false;
                    }
                } else {}
            }

            function selectedUnits(unitId,isSelected){
                if(isSelected == true){
                    document.getElementById('pg:reqForm:selectedidsHolder').value 
                            = document.getElementById('pg:reqForm:selectedidsHolder').value + ',' + unitId;
                } else{
                    var val = document.getElementById('pg:reqForm:selectedidsHolder').value;
                    val = val.replace(','+unitId,'');
                    document.getElementById('pg:reqForm:selectedidsHolder').value = val;
                    console.log('New Value: ' + val);
                }
            }

            function buttonsEnabled(enabled) {
                var $buttons = jQuery('.btn');
                if (enabled === false) {
                    $buttons.toggleClass('btnDisabled', true).attr('disabled', 'disabled');
                } else {
                    $buttons.toggleClass('btnDisabled', false).attr('disabled', null);
                } 
            }
 
            // loading icon
            function startLoading(){
                $('#load_scrl').css('top', $(document).scrollTop() + 100);
                $('.loadingBox').show();
            }
 
            function endLoading(){
                $('.loadingBox').hide();
            }
        </script>
    </body>
</apex:page>