<apex:page standardController="Inquiry__c" extensions="SendEmailController">

    <script>
        function showScreen(){
            document.getElementById('overlay').style.display='block';
        }
    
        function hideScreen(){
            document.getElementById('overlay').style.display='none';
        }
    </script>
    
    <div id="overlay" class="overlayBackground" style="width: 100%; height: 100%; display: none;"></div>
    <apex:pageMessages id="msgs"/>

    <apex:sectionHeader title="Send Email" subtitle="{!inq.First_Name__c} {!inq.Last_Name__c}"/>
    
    <apex:form id="form">
        
        <apex:pageblock title="Send Email">
            <apex:pageblockbuttons >
                <apex:commandButton value="Send Email" onclick="showScreen();" action="{!sendEmailTocustomer}"/>
                <apex:commandButton value="Cancel" action="/{!inq.id}" immediate="true"/>
            </apex:pageblockbuttons>
            <apex:pageblockSection columns="1">
                <apex:outputField value="{!inq.First_Name__c}"/>
                <apex:outputField value="{!inq.Last_Name__c}"/>
                <apex:outputField value="{!inq.Email__c}"/>
                <apex:inputField value="{!eMsg.CC_Address__c}" style="width:400px"/>
                <apex:inputField value="{!eMsg.BCC_Address__c}" style="width:400px"/>
                <apex:inputField required="true" value="{!eMsg.Subject__c}" style="width:500px"/>
                <apex:pageBlockSectionItem >
                    <apex:outputText value="Body" />
                    <apex:inputField value="{!eMsg.HTML_Version__c}"/>
                </apex:pageBlockSectionItem>  
                <!-- <apex:inputField value="{!eMsg.Description__c}"/>-->
            </apex:pageblockSection>
               
            <apex:pageblockSection title="Add Attachments" columns="1">
                <apex:repeat value="{!lstAttach}" var="a">
                    <apex:inputFile filename="{!a.name}" value="{!a.body}"/>
                </apex:repeat>
            </apex:pageblockSection>    
        </apex:pageblock>
    </apex:form>
</apex:page>