<apex:page lightningStylesheets="true" controller="DAMAC_sendSMSController" sidebar="false" docType="html-5.0" id="page" >
    <style>
        .wrap-text-cus {
            width: 6rem;
            overflow-wrap: break-word !important;
            word-wrap: break-word !important;
            -webkit-hyphens: auto !important;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            white-space: normal !important;
            overflow: hidden;
            position: relative;
            max-height: 3.65625rem;
        }
        .dateFormat {
            position: relative !important;
            left: 4px !important;
        }
        .resultValues {
            height: 250px;
            overflow-y: auto;
        }
        .submitForApproval {
            border: 1px solid #9bb0d5;
            border-radius: 6px;
            padding: 12px;
        }
        .errorMsg {
            color:red;
        }
        .select {
            border-left: 3px solid blue;
            font-weight: bold;
        }
        /* Calendar CSS */
        
        .slds-select-cus {
            width: auto !important;
            font-size: 0.8125rem !important;
        }
        
        .slds-date--icon--cus {
            margin-top: 6px !important;
            background-size: 100% !important;
            background-position: center center !important;
            font-size: 0.8125rem !important;
        }
        
        .datePicker .dateBar {
            padding: 0.6rem !important;
            padding-top : 2px !important;
            padding-bottom : 2px !important;
        }
        
        #calMonthPicker {
            border-color: white !important;
            -webkit-appearance: none !important;
            outline : 0 !important;
            font-size: 0.8125rem !important;
        }
        
        .datePicker .calDays .todayDate {
            color: #16325c;
            background-color: transparent !important;
            font-weight: bold;
            background: #f4f6f9 !important;
            cursor: pointer;
        }
        
        .datePicker .calDays .highlight {
            background-color: #f4f6f9 !important;
            color: #16325c;
            font-weight: bold;
        }
        
        .datePicker .calDays .selectedDate {
            background-color: transparent !important;
            border: 1px solid transparent !important;
            background: #005fb2 !important;
            color: #fff !important;
        }
        
        .datePicker .calDays .weekend, .datePicker .calDays .weekday {
            padding: 5px 0 !important;
            cursor: pointer !important;
            width: 0rem !important;
            height: 0rem !important;
            position: relative !important;
            min-width: 2rem !important;
            line-height: 1.4rem !important;
            border-radius: 50% !important;
            margin: auto !important;
            border: 0px !important;
        }
        
        .slds-icon--large {
            width: 1rem;
            height: 1rem;
        }
        
        .dateFormat {
            position: relative !important;
            left: -25px !important;
        }
        
        .slds-calendar {
            -webkit-margin-top : 0rem;
            -moz-margin-top : 17.125rem !important;
            -o-margin-top : 17.125rem !important;
            -ms-margin-top : 17.125rem !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" />
    <script>
        var allFields = ['Campaign__c', 'Country__c', 'City__c', 'Campaign_Type_New__c', 'Campaign_Category_New__c',
                            'Inquiry_Source__c', 'Inquiry_Status__c', 'Class__c', 'Inquiry__c',
                            'Mobile_CountryCode__c', 'Nationality__c'];
        window.onload=function () {
            $ ('#Campaign__c').focus ();
        }
        $(window).bind(
            "load",
            function() {
                lightningCal();
                
            }
        );
        function lightningCal() {
            $("#datePicker").addClass('slds-datepicker slds-dropdown slds-dropdown--left');
            $("#calMonthPicker").addClass('slds-select slds-select-cus');
            $("#calYearPicker").addClass('slds-select slds-select-cus');
            
            $(".calLeft").css('background-image',"url({!URLFOR($Asset.slds, '/assets/icons/utility/left_60.png')})");
            $(".calRight").css('background-image', "url({!URLFOR($Asset.slds, '/assets/icons/utility/right_60.png')})");
            $(".calLeft").addClass('slds-date--icon--cus');
            $(".calRight").addClass('slds-date--icon--cus');
            
            $(".calLeft").removeAttr("onblur");
            $(".calLeft").removeAttr("onfocus");
            $(".calLeft").removeAttr("onmouseout");
            $(".calLeft").removeAttr("onmouseover");
            
            $(".calRight").removeAttr("onblur");
            $(".calRight").removeAttr("onfocus");
            $(".calRight").removeAttr("onmouseout");
            $(".calRight").removeAttr("onmouseover");
            
            $(".calToday").addClass('slds-show--inline-block slds-p-bottom--x-small');
            
            var eventIcon = "{!URLFOR($Asset.slds, '/assets/icons/utility/close_60.png')}";
            
            $(".dateFormat").each(function(index){
                $(this).html("<img id='dateIcon_"+index+"' onclick='clearDateValues(this)' src='"+eventIcon+"' class='slds-icon slds-icon--x-small slds-hide'/>");
            });
            $('#calYearPicker').empty();
            for (var i = 2014; i <= 2025; i++) {
                $("#calYearPicker").append("<option value='" + i + "'>" + i + "</option>")
            }
            $("#datePicker").addClass('slds-calendar');
        }
        function clearDateValues (e) {
            
            if (e.parentElement.previousSibling.id)
                document.getElementById (e.parentElement.previousSibling.id).value = '';
            $ (e).addClass ('slds-hide');
        }
        function searchValues (val, type, objectAPI, fieldAPI) {
            
            for (var i = 0; i < allFields.length; i++) {
                if (type != allFields[i]) {
                    if ($('#'+allFields[i]).val () == '')
                        $('#'+allFields[i]+'Close').addClass ('slds-hide');
                    
                    $('#'+allFields[i]+'1').val ('');
                    $('#'+allFields[i]+'1').addClass ('slds-hide');
                    $('#'+allFields[i]+'1Div').addClass ('slds-hide');
                    $('#'+allFields[i]+'DIV').addClass ('slds-combobox-lookup').removeClass ('slds-is-open').attr ('aria-expanded', false);
                }
            }
            if ($('#'+type+'1').hasClass ('slds-hide')) {
                $('#'+type+'1').removeClass ('slds-hide');
                $('#'+type+'1').val ('');
                $('#'+type+'1Div').removeClass ('slds-hide');
                $('#'+type+'1').focus ();
            }
            else {
                $('#'+type+'1').val ('');
                $('#'+type+'1').addClass ('slds-hide');
                $('#'+type+'1Div').addClass ('slds-hide');
                $('#'+type+'DIV').addClass ('slds-combobox-lookup').removeClass ('slds-is-open').attr ('aria-expanded', false);
            }
                
        }
        var finalMap = {};
        
        function searchRecords (val, id, objectAPI, fieldAPI) {
            var query = '';
            
            var searchTerm = '\'%'+val+'%\'';
            
            if (objectAPI == 'Inquiry__c' && fieldAPI == 'RecordTypeId') {
                query = "SELECT Name FROM recordType Where SObjectType = '"+objectAPI+"' AND (Name != \'CIL\' AND Name != \'Agent team\') LIMIT 5";
            }
            if (objectAPI == 'Inquiry__c' && fieldAPI == 'Class__c') {
                query = "SELECT Class__c FROM Inquiry__c WHERE Class__c LIKE "+searchTerm +" group by Class__c ";
            }
            if (objectAPI == 'Campaign__c' && fieldAPI == 'Name')
                query = 'SELECT Name, Campaign_Name__c from Campaign__c WHERE (Name LIKE '+searchTerm +' OR Campaign_Name__c LIKE '+searchTerm +') LIMIT 20';
                
            DAMAC_sendSMSController.getValues (objectAPI, fieldAPI, query, val, function (result, event) {
                if (event.status) {
                    var lookupData = '' ;
                    var i = 0;
                    for (var key in result) {
                        var iconClass = '';
                        var selectedClass = '';
                        
                        var previouslySelected = {};
                        if (fieldAPI in finalMap) 
                            previouslySelected = finalMap[fieldAPI];
                        if (key in previouslySelected ) {
                            selectedClass = 'select';
                        }
                        else {
                            iconClass = 'slds-hide';    
                        }
                        var icon = "{!URLFOR ($Asset.slds, '/assets/icons/utility/check_60.png')}";
                        lookupData += '<li role="presentation" class="slds-listbox__item '+selectedClass+'" id="'+key+'" onclick="selectValue(\''+id+'\', \''+key+'\', \''+result[key]+'\', \''+objectAPI+'\', \''+fieldAPI+'\')">'
                                        +'<div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta slds-has-focus" role="option">'
                                            +'<span class="slds-media__body">'          
                                                +'<span class="slds-listbox__option-text slds-listbox__option-text_entity">'
                                                    +result[key]
                                                +'</span>'
                                            +'</span>'
                                            +'<span class="slds-media__figure '+iconClass+'" id="check_'+key+'">'
                                                +'<span class="slds-icon_container">'
                                                    +'<span class="slds-icon slds-icon_small" aria-hidden="true">'
                                                        +'<img src="'+icon+'" style="width:15px"/>'
                                                    +'</span>'
                                                +'</span>'
                                            +'</span>'
                                        +'</div>'
                                    +'</li>';
                        i = i+1;
                    }
                    var hasMoreThanFive = (i >= 5 ? true : false);
                    if (hasMoreThanFive) {
                        $('#'+id+'UL').addClass ('resultValues');
                    } else {
                        $('#'+id+'UL').removeClass ('resultValues');
                    }
                    $('#'+id+'UL').html ('');
                    $('#'+id+'UL').append(lookupData);
                    $('#'+id+'DIV').removeClass ('slds-combobox-lookup').addClass ('slds-is-open').attr ('aria-expanded', true);
                    
                }
            });            
        }
        
        function selectValue (id, key, value, objectAPI, fieldAPI) {
            
            var result = '';
            var selectedValues = {};
            var finalResult = '';
            if (fieldAPI in finalMap)
                selectedValues = finalMap[fieldAPI];
            if (key in selectedValues) {
                delete selectedValues[key];
                document.getElementById('check_'+key).classList.add('slds-hide');
                document.getElementById(key).classList.remove('select');
            }
            else {
                selectedValues [key] = value;
                document.getElementById('check_'+key).classList.remove('slds-hide');
                document.getElementById(key).classList.add('select');
            }
            finalMap [fieldAPI] = selectedValues;
            
            for (var i in selectedValues) {
                result += selectedValues [i]+',';
                finalResult += i+',';
            }
            result = result.slice(0, -1);
            $ ('#'+id).val (result); 
            document.getElementById ('page:form:'+fieldAPI).value = finalResult;
        }
        function countChars(displayto) {
            var len = document.getElementById('page:form:msgbox').value.length;
            document.getElementById(displayto).innerHTML = len;
            if(len > '160'){
                document.getElementById(displayto).style.color ='red';    
            }else{
                document.getElementById(displayto).style.color ='black';    
            }
        }
        function clearFieldValue (fieldId) {
            if (fieldId != 'startDate' && fieldId != 'endDate') {
                document.getElementById (fieldId).value = '';
                finalMap[fieldId] = {};
                $('#'+fieldId+'1').val ('');
                $('#'+fieldId+'1').addClass ('slds-hide');
                $('#'+fieldId+'1Div').addClass ('slds-hide');
                $('#'+fieldId+'DIV').addClass ('slds-combobox-lookup').removeClass ('slds-is-open').attr ('aria-expanded', false);
                if (fieldId == 'Campaign__c') {
                    fieldId = 'Name';
                }
                if (fieldId == 'Inquiry__c') {
                    fieldId = 'RecordTypeId';
                }
            }
            document.getElementById ('page:form:'+fieldId).value = '';
            
        }
        function clearFilters () {
            finalMap = [];
            
            for (var i = 0; i <allFields.length; i++) {
                $('#'+allFields[i]+'1').val ('');
                $('#'+allFields[i]+'Close').addClass ('slds-hide');
                $('#'+allFields[i]+'1').addClass ('slds-hide');
                $('#'+allFields[i]+'1Div').addClass ('slds-hide');
                $('#'+allFields[i]+'DIV').addClass ('slds-combobox-lookup').removeClass ('slds-is-open').attr ('aria-expanded', false);
            }
            allFields.push ('startDate');
            allFields.push ('endDate');
            for (var i = 0 ; i < allFields.length; i++)
                clearFieldValue (allFields[i]);
            
            $('#dateIcon_0').addClass ('slds-hide');
            $('#dateIcon_1').addClass ('slds-hide');
        }
        function showCloseIcon (id) {
            if (id == 'startDate') {
                $ ('#dateIcon_0').removeClass ('slds-hide');
            }
            if (id == 'endDate') {
                $ ('#dateIcon_1').removeClass ('slds-hide');
            }
            else {
                $ ('#'+id+'Close').removeClass ('slds-hide');
            }
        }
        function hideCloseIcon (id) {
            $ ('#'+id+'Close').addClass ('slds-hide');
        }
        
    
    </script>
    <apex:pageMessages id="errorPageMsg"/>
    <apex:form id="form">
        
        <script>
            lightningCal();
        </script>
        
        <apex:inputHidden value="{!campaigns}" id="Name" />
        <apex:inputHidden value="{!campaignCountry}" id="Country__c" />
        <apex:inputHidden value="{!campaignCity}" id="City__c" />
        <apex:inputHidden value="{!campaignType}" id="Campaign_Type_New__c" />
        <apex:inputHidden value="{!campaignCategory}" id="Campaign_Category_New__c" />
        
        <apex:inputHidden value="{!inquirySource}" id="Inquiry_Source__c" />
        <apex:inputHidden value="{!inquiryStatus}" id="Inquiry_Status__c" />
        <apex:inputHidden value="{!inquiryClass}" id="Class__c" />
        <apex:inputHidden value="{!inquiryRecordType}" id="RecordTypeId" />
        <apex:inputHidden value="{!phoneCodes}" id="Mobile_CountryCode__c" />
        <apex:inputHidden value="{!nationalities}" id="Nationality__c" />

        
        <apex:slds />
        <div class="slds-scope">
            <div class="submitForApproval">
                <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label">Inquiry Created Date From:&nbsp;</label>
                                    <apex:inputfield onclick="showCloseIcon('startDate'); return false;" id="startDate" styleClass="slds-input" value="{!newSMSRequest.Inquiry_Start_Date__c}" />
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label">Campaign:&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Campaign__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                
                                                <input onclick="showCloseIcon ('Campaign__c'); searchValues(this.value, 'Campaign__c', 'Campaign__c', 'Name'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Campaign__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Campaign__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Campaign__cClose" onclick="hideCloseIcon ('Campaign__c');clearFieldValue('Campaign__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Campaign__cList" role="listbox">
                                                <div id="Campaign__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Campaigns" 
                                                            onkeyup="searchRecords(this.value, 'Campaign__c', 'Campaign__c', 'Name'); return false;" 
                                                            type="text" id="Campaign__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Campaign__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Inquiry Created Date To:&nbsp;</label>
                                    <apex:inputfield onclick="showCloseIcon('endDate'); return false;" id="endDate" styleClass="slds-input" value="{!newSMSRequest.Inquiry_End_Date__c}" />
                                </div>
                                
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Campaign Country :&nbsp;</label>                                    
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Country__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Country__c'); searchValues(this.value, 'Country__c', 'Campaign__c', 'Country__c'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Country__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Country__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Country__cClose" onclick="hideCloseIcon ('Country__c');clearFieldValue('Country__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Country__cList" role="listbox">
                                                <div id="Country__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Campaign Countries" 
                                                            onkeyup="searchRecords(this.value, 'Country__c', 'Campaign__c', 'Country__c'); return false;" 
                                                            type="text" id="Country__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Country__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                            <div class="slds-form-element__row">
                                
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Inquiry Source :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Inquiry_Source__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Inquiry_Source__c'); searchValues(this.value, 'Inquiry_Source__c', 'Inquiry__c', 'Inquiry_Source__c'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Inquiry_Source__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Inquiry_Source__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Inquiry_Source__cClose"
                                                      onclick="hideCloseIcon ('Inquiry_Source__c');clearFieldValue('Inquiry_Source__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Inquiry_Source__cList" role="listbox">
                                                <div id="Inquiry_Source__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Inquiry Source" 
                                                            onkeyup="searchRecords(this.value, 'Inquiry_Source__c', 'Inquiry__c', 'Inquiry_Source__c'); return false;" 
                                                            type="text" id="Inquiry_Source__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Inquiry_Source__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Campaign City :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="City__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('City__c'); searchValues(this.value, 'City__c', 'Campaign__c', 'City__c'); return false;"
                                                       autocomplete="off" 
                                                       
                                                       type="text" id="City__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="City__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="City__cClose" 
                                                      onclick="hideCloseIcon ('City__c');clearFieldValue('City__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="City__cList" role="listbox">
                                                <div id="City__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Campaign City" 
                                                            onkeyup="searchRecords(this.value, 'City__c', 'Campaign__c', 'City__c'); return false;" 
                                                            type="text" id="City__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="City__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="slds-form-element__row">
                                
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Inquiry Class :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Class__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Class__c'); searchValues(this.value, 'Class__c', 'Inquiry__c', 'Class__c'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Class__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Class__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Class__cClose" onclick="hideCloseIcon ('Class__c');clearFieldValue('Class__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Class__cList" role="listbox">
                                                <div id="Class__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Inquiry Class" 
                                                            onkeyup="searchRecords(this.value, 'Class__c', 'Inquiry__c', 'Class__c'); return false;" 
                                                            type="text" id="Class__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Class__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Campaign Type :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Campaign_Type_New__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Campaign_Type_New__c');searchValues(this.value, 'Campaign_Type_New__c', 'Campaign__c', 'Campaign_Type_New__c'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Campaign_Type_New__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Campaign_Type_New__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Campaign_Type_New__cClose" onclick="hideCloseIcon ('Campaign_Type_New__c');clearFieldValue('Campaign_Type_New__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Campaign_Type_New__cList" role="listbox">
                                                <div id="Campaign_Type_New__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Campaign Type" 
                                                            onkeyup="searchRecords(this.value, 'Campaign_Type_New__c', 'Campaign__c', 'Campaign_Type_New__c'); return false;" 
                                                            type="text" id="Campaign_Type_New__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Campaign_Type_New__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Inquiry Status :&nbsp;</label>                                    
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Inquiry_Status__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Inquiry_Status__c'); searchValues(this.value, 'Inquiry_Status__c', 'Inquiry__c', 'Inquiry_Status__c'); return false;"
                                                       autocomplete="off" 
                                                       type="text" id="Inquiry_Status__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Inquiry_Status__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Inquiry_Status__cClose" onclick="hideCloseIcon ('Inquiry_Status__c');clearFieldValue('Inquiry_Status__c'); return false;"  
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Inquiry_Status__cList" role="listbox">
                                                <div id="Inquiry_Status__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Inquiry Status" 
                                                            onkeyup="searchRecords(this.value, 'Inquiry_Status__c', 'Inquiry__c', 'Inquiry_Status__c'); return false;" 
                                                            type="text" id="Inquiry_Status__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Inquiry_Status__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Campaign Category :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Campaign_Category_New__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Campaign_Category_New__c'); searchValues(this.value, 'Campaign_Category_New__c', 'Campaign__c', 'Campaign_Category_New__c'); return false;"
                                                       autocomplete="off" 
                                                       
                                                       type="text" id="Campaign_Category_New__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Campaign_Category_New__cList"
                                                       role="textbox"
                                                       readOnly="true"/>
                                                <span id="Campaign_Category_New__cClose" onclick="hideCloseIcon ('Campaign_Category_New__c');clearFieldValue('Campaign_Category_New__c'); return false;"  class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                                
                                            </div>
                                            
                                            <div id="Campaign_Category_New__cList" role="listbox">
                                                <div id="Campaign_Category_New__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Campaign Categories" 
                                                            onkeyup="searchRecords(this.value, 'Campaign_Category_New__c', 'Campaign__c', 'Campaign_Category_New__c'); return false;" 
                                                            type="text" id="Campaign_Category_New__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Campaign_Category_New__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="slds-form-element__row">
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Inquiry Recordtype :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Inquiry__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Inquiry__c'); searchValues(this.value, 'Inquiry__c', 'Inquiry__c', 'RecordTypeId'); return false;"
                                                        readOnly="true"
                                                       autocomplete="off" 
                                                       type="text" id="Inquiry__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Inquiry__cList"
                                                       role="textbox"/>
                                                <span id="Inquiry__cClose" onclick="hideCloseIcon ('Inquiry__c');clearFieldValue('Inquiry__c'); return false;"  
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                            </div>
                                            
                                            <div id="Inquiry__cList" role="listbox">
                                                <div id="Inquiry__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Inquiry Record Types"
                                                    onkeyup="searchRecords(this.value, 'Inquiry__c', 'Inquiry__c', 'RecordTypeId'); return false;" type="text" 
                                                            id="Inquiry__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Inquiry__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" 
                                                    role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Phone Country Code :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Mobile_CountryCode__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Mobile_CountryCode__c'); searchValues(this.value, 'Mobile_CountryCode__c', 'Inquiry__c', 'Mobile_CountryCode__c'); return false;"
                                                        readOnly="true"
                                                       autocomplete="off" 
                                                       type="text" id="Mobile_CountryCode__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Mobile_CountryCode__cList"
                                                       role="textbox"/>
                                                <span id="Mobile_CountryCode__cClose" onclick="hideCloseIcon ('Mobile_CountryCode__c');clearFieldValue('Mobile_CountryCode__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                            </div>
                                            
                                            <div id="Mobile_CountryCode__cList" role="listbox">
                                                <div id="Mobile_CountryCode__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Phone Country Codes"
                                                            onkeyup="searchRecords(this.value, 'Mobile_CountryCode__c', 'Inquiry__c', 'Mobile_CountryCode__c');  return false;" type="text" 
                                                            id="Mobile_CountryCode__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Mobile_CountryCode__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form-element__row">
                                
                                <div class="slds-form-element slds-size_1-of-2">
                                    <label class="slds-form-element__label" >Nationality :&nbsp;</label>
                                    <div class="slds-combobox_container slds-has-inline-listbox">
                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-lookup" id="Nationality__cDIV" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                <input onclick="showCloseIcon ('Nationality__c'); searchValues(this.value, 'Nationality__c', 'Inquiry__c', 'Nationality__c');  return false;"
                                                        readOnly="true"
                                                       autocomplete="off"                                                        
                                                       type="text" id="Nationality__c" class="slds-input" 
                                                       aria-autocomplete="list" aria-controls="Nationality__cList"
                                                       role="textbox"/>
                                                <span id="Nationality__cClose" onclick="hideCloseIcon ('Nationality__c');clearFieldValue('Nationality__c'); return false;" 
                                                      class="slds-hide slds-icon_x-small slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                    <span class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/close_60.png')}" />
                                                    </span>
                                                </span>
                                            </div>
                                            
                                            <div id="Nationality__cList" role="listbox">
                                                <div id="Nationality__c1Div" class="slds-hide" style="width: 100%;padding: 5px;">
                                                    <input placeHolder="Search Nationality"
                                                    onkeyup="searchRecords(this.value, 'Nationality__c', 'Inquiry__c', 'Nationality__c'); return false;" type="text" 
                                                            id="Nationality__c1" class="slds-input slds-hide" />
                                                </div>
                                                <ul id="Nationality__cUL" class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" 
                                                    role="presentation">
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form-element slds-size_1-of-2"></div>
                            </div>
                        </div>
                    </fieldset>
                    
                </div>
                <div style="float:right">
                    <button class="slds-button slds-button--neutral" onclick="clearFilters (); return false;">
                        Clear Filters
                    </button>
                    <apex:commandButton action="{!getFilterRecords}" 
                            status="status"
                            styleClass="slds-button slds-button--brand" 
                            value="Fetch Inquiries" rerender="errorPageMsg, msg, msgDiv" 
                            />
                    
                </div>
                <br/><br/>
            </div>
            <br/><br/>
            <apex:outputPanel id="msgDiv">
                <apex:outputPanel rendered="{!showMsgDiv}">
                    <script>
                        document.getElementById ('page:form:msgbox').focus ();
                        lightningCal();
                    </script>
                    <div id="showMessage" class="submitForApproval">
                    
                        <label class="slds-form-element__label" >No of Inquiries # <b><span id="result">{!inquiriesCount}</span></b></label>
                        <div class="slds-form slds-form_compound">
                            <fieldset class="slds-form-element">
                                <div class="slds-form-element__group">
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-2">
                                            <label class="slds-form-element__label" >Enter Message :&nbsp;</label>
                                            <apex:inputTextarea styleclass="slds-input"
                                                                value="{!newSMSRequest.SMS_Message__c}"
                                                                style="margin: 0px; height: 121px;"
                                                                id="msgbox"
                                                                onkeyup="countChars('charcount');"
                                                                onkeydown="countChars('charcount');"
                                                                onmouseout="countChars('charcount');"/>
                                        </div>
                                        <div class="slds-form-element slds-size_1-of-2"><br/><br/>
                                            * Please Make sure the length of the SMS does not exceed 160 Characters.<br/>
                                            * For UAE SMS , Please include Opt Out
                                        </div>                                
                                    </div>
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-1">
                                            <label class="slds-form-element__label" ><span id="charcount">0</span> characters entered.</label>
                                        </div>
                                                                       
                                    </div>
                                    <div class="slds-form-element__row">
                                        <div class="slds-form-element slds-size_1-of-1">
                                            <label class="slds-form-element__label" >Scheduled Date (Gulf Standard Time)</label>
                                            <apex:inputfield styleClass="slds-input" id="scheduledTime" value="{!newSMSRequest.Scheduled_Date_Time__c}" 
                                                             style="width:250px"/>
                                        </div> 
                                    </div>
                                </div>
                            </fieldset>
                            
                            <div style="float:right">
                                
                                <apex:commandButton value="Submit for Approval" action="{!submitForApproval}" styleClass="slds-button slds-button--brand" status="status" reRender="errorPageMsg, form, msg, historypan"/>
                            </div>
                            <br/><br/>
                        </div>
                    </div>
                </apex:outputPanel>
            </apex:outputPanel>
            
            <apex:outputPanel id="msg">
                <span class="errorMsg"> {!errorMessage} </span>
            </apex:outputPanel>

            
            <br/>
            <apex:outputPanel id="historypan">
                
                <div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container" title="Description of icon when needed">
                                <span class="slds-icon slds-page-header__icon" aria-hidden="true">
                                    <img src="{!URLFOR ($Asset.slds, '/assets/icons/utility/sms_60.png')}" style="width:25px"/>
                                </span>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle">
                                SMS History
                            </h1>
                            
                        </div>
                    </div>
                </div>
                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                    <thead>
                        <tr class="slds-text-title_caps">
                            <th scope="col" >
                                <div style="width:500px;" class="slds-truncate">MESSAGE</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate"># INQUIRIES</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate">APPROVAL STATUS</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate">SUBMITTED BY</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate">ACTION / SMS STATUS</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <apex:repeat value="{!campaignSMSHistory}" var="rec">
                            <tr>
                                <td>
                                    <div style="width:500px;" class="slds-truncate wrap-text-cus">
                                        <apex:outputField value="{!rec.SMS_Message__c}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="slds-truncate">
                                        <apex:outputField value="{!rec.Total_Inquiries_in_the_Date_Range__c}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="slds-truncate">
                                        <apex:outputField value="{!rec.Approval_Status__c}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="slds-truncate">
                                        <apex:outputField value="{!rec.CreatedBy.Name}"/>
                                    </div>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!rec.SMS_Queued__c && !rec.SMS_Process_Complete__c && !rec.Error_From_Provider__c}">
                                        Queued <img src="/img/icon/dashboards16.png" title="/img/icon/dashboards16.png"/>
                                    </apex:outputPanel> 
                                    
                                    <apex:outputPanel rendered="{!rec.SMS_Queued__c && rec.SMS_Process_Complete__c && !rec.Error_From_Provider__c}">
                                        Completed <img src="/img/msg_icons/confirm16.png" title="/img/msg_icons/confirm16.png"/>                          
                                    </apex:outputPanel> 
                                    
                                    <apex:outputPanel rendered="{!rec.Error_From_Provider__c}">
                                        Error <img src="/img/msg_icons/error16.png" title="/img/msg_icons/error16.png"/>                          
                                    </apex:outputPanel> 
                                    
                                    <apex:outputPanel rendered="{!rec.Approval_Status__c =='Approved' 
                                                                && !rec.SMS_Queued__c 
                                                                && !rec.Error_From_Provider__c}"
                                                      id="thisPan">
                                        <apex:commandButton value="Schedule" action="{!callSMSJob}"  
                                                          styleClass="slds-button slds-button--brand" 
                                                          status="status" rerender="errorPageMsg, historypan,msg"> 
                                            
                                            <apex:param name="campid" value="{!rec.id}" assignTo="{!selectedCampaignSMSID}"/>
                                        </apex:commandButton>
                                    </apex:outputPanel>  
                                </td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </apex:outputPanel>
        </div>
    </apex:form>
    <apex:actionStatus id="status">
        <apex:facet name="start">
            <div id="spinner" style="height: 6rem;">
                <div class="slds-spinner_container">
                    <div role="status" class="slds-spinner slds-spinner_brand slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
                
    
</apex:page>