<!--
Description : This page will prevent the users to delete the SR Docs based on the profile
-->
<!--
Created By : Sivasankar K
On : 24-04-2017
Ticket : #807
Change History : 
-->
<apex:page id="myPage" standardController="NSIBPM__SR_Doc__c" extensions="SR_Docs_Edit_Delete_Override_Controller" sidebar="false" showHeader="false">
    <script>
    
    if ( {!canDeleteRecord} ) {
        window.parent.location.href = "{!URLFOR($Action.NSIBPM__SR_Doc__c.Delete,NSIBPM__SR_Doc__c.id,[retURL=$Request.retURL],true)}";
    } else {
        alert("You are not allowed to delete the SR Doc.");
        window.history.go(-1);
    }
    </script>
</apex:page>