<apex:page docType="HTML-5.0" sidebar="false" showHeader="false" standardStylesheets="false" controller="DAMAC_ziwo_listener">

<apex:slds />
<html>
  
  <meta charset="utf-8" http-equiv="refresh" content="72000"/>
  <title>ZIWO WEBSOCKET</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  
 
   <body xmlns:xlink="http://www.w3.org/1999/xlink">
          <style>
              .highlight {
                  background: lightgrey !important;
              }
          </style>
  
        <div class="slds-scope">
            <div  style="padding:10px" id="searchpanel">
                 <!--<center><b>My Phone</b><br/></center>-->
                <span style="color:red" id="err"></span>
                <label> <center> Call </center> </label>
                
                <apex:repeat value="{!mappings}" var="rec">
                        <div style="padding:5px;text-align:center;cursor:pointer">
                            <div class="slds-input-has-icon slds-input-has-icon--right">
                                <span class="slds-pill slds-pill_link"
                                    style="margin:auto;display:table;width:9rem;border:1px solid lightgrey;padding:10px;padding-left:0px"
                                    
                                    id ="{!mappings[rec].Object_API__c}">
                                    <a href="javascript:void(0);"  style="padding: 4px;">
                                        <span class="slds-pill__label">{!mappings[rec].Label}</span>
                                        
                                        <span class="phoneDisplay" id="selectedPhone_{!mappings[rec].Object_API__c}"></span>
                                    </a>
                                    <button style="float:right;padding-top:3px" class="slds-button slds-button_icon slds-button_icon"
                                        onclick="getPhoneAPI('{!mappings[rec].Object_API__c}');">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Remove</span>
                                    </button>
                                    <div class="menulist slds-lookup__menu" role="listbox" id="{!mappings[rec].Object_API__c}_menu" 
                                        style="margin:auto;display:table;width:9rem;display: none;">
                                        
                                    </div>
                                </span>
                                
                            </div>
                        </div>
                        
                       
                    </apex:repeat>
                    <input type="hidden" id="objType" value="" />
                    <input type="hidden" id="phoneType" value="" />
                    
                    
                    
                    <div class="slds-input-has-icon " style="padding-top:10px;padding-bottom:5px">
                        <input type="text" Class="slds-input" value=""
                            placeholder="Search" html-aria-autocomplete="list"
                            html-role="combobox" html-aria-expanded="true" html-aria-activedescendant="agencySearchSection"
                            onkeyup="searchName($(this));" id="agency"/>
                        <div class="slds-lookup__menu" role="listbox" id="agencySearchSection" style="display: none;">
                            <div class="slds-lookup__item">
                                <span id="searchTextAccount"></span>
                            </div>
                            <span id="searchResultsAccount"></span>
                        </div>
                    </div>
                    
        
                
                <center><span onclick="Dial()" class="slds-icon_container slds-icon-action-call slds-icon_container--circle" title="Dial">
                    <svg class="slds-icon slds-icon--xx-small" aria-hidden="true">
                        <use 
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/action-sprite/svg/symbols.svg#call')}"
                        />
                    </svg>
                </span>
                </center>
                <input type="hidden" value="" id="selectedObjectId" />
            </div>
            
            
            <b><span id="status"></span></b><br/>
            <iframe src="" id="wraupScreen" frameborder="0" style="width:100%; height:340px"/>
        
        </div>
        <div id="spinner" class="slds-hide">
            
            <div class="slds-spinner_container" style="position: fixed;">
                <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
  </body>
  
  <script language="javascript" type="text/javascript"> 
      function getPhoneAPI (val) {
        document.getElementById('objType').value = val;
              $('.slds-pill').each (function () {
              
                  $(this).removeClass ('highlight');
              });
              $('#selectedPhone_'+val).html('');
              $('#'+val).addClass('highlight');
              
        $('#spinner').removeClass('slds-hide');     
        
        $('#phoneType').empty();
        $('#err').text ('');
        //var option = document.createElement("option");
        //option.text = '--Select--';
        //option.value = '';
        //var select = document.getElementById("phoneType");
        //select.appendChild(option); 
        
        $('.menulist').each(function() {
                $(this).hide();
        });
        $('.phoneDisplay').each(function() {
            $(this).html('');
        });
        
        DAMAC_ziwo_listener.getFieldApis (val, function (event, result) {
            result = result.result;
            var searchList = "<ul class=\"slds-lookup__list\" role=\"listbox\" style=\"max-height: 240px;\">";
            for (var i in result) {
                //var option = document.createElement("option");
                //option.text = result[i];
                //option.value = i;
                //document.getElementById("phoneType").appendChild(option); 
                
                searchList = searchList + '<li role="presentation" onclick="setphoneType(\''+val+'\', \''+i+'\', \''+result[i]+'\')">'+
                                 '<span class="slds-lookup__item-action slds-media slds-media--center" role="option">'
                                 +result[i]+
                                 '</span>'+
                                 '</li>';
                }
                searchList += '</ul>'; 
                $('#spinner').addClass('slds-hide'); 
                $('#'+val+'_menu').html(searchList);
                $('#'+val+'_menu').show();
                   
            
            
        });
        }
        
      
      
      function setphoneType(fieldapi, val, label) {
          $('#phoneType').val(val);
          $('#selectedPhone_'+fieldapi).html('<br/>'+label);
          $('.menulist').each(function() {
                $(this).hide();
            });
      }

      
      
      function Dial() {   
            
          var dialId =  $ ('#selectedObjectId').val(); 
          var phoneAPI = $('#phoneType').val();
          var objType = $ ('#objType').val();
          console.log(dialId);
          console.log(phoneAPI);
          console.log(objType);
          if (dialId != '' && phoneAPI != '' && objType != '') {    
              $('#spinner').removeClass('slds-hide'); 
              DAMAC_ziwo_listener.dialCustomer (dialId, phoneAPI, function (event, result) {
                  if (result.result != '' && result.result.length > 0) {
                      if (result.result.indexOf ('00T') > -1) {
                          $('#spinner').addClass('slds-hide');   
                          $ ('#selectedObjectId').val('');
                          $ ('#agency').val('');
                          $('#searchpanel').addClass ('slds-hide');
                      }
                  }
              },{ buffer: true, escape: true, timeout: 120000 });
          } else if (objType == '') {
              $('#err').text ('Pelase select entity');
          }
          else if (phoneAPI == '') {
              $('#err').text ('Pelase select phone');
          } else if (dialId == '') {
              var selectedObject =  $ ('#objType').val();
              selectedObject = selectedObject.replace ('__c', '');
              $('#err').text ('Pelase search '+selectedObject);
               
          }
      }
      function searchName(key){
            searchKey = key.val();
            if(searchKey == ''){
                $('#agencySearchSection').hide();
            }else if(searchKey != ''){
                $('#agencySearchSection').show();
            
                var searchObj = document.getElementById ('objType').value;
                var searchList = "<ul class=\"slds-lookup__list\" role=\"listbox\" style=\"max-height: 240px;\">";
                
                DAMAC_ziwo_listener.searchName(searchKey, searchObj,
                 function(event, result){
                     result = result.result;
                     for(var i in result){
                         searchList = searchList + '<li role="presentation">'+
                             '<span class="slds-lookup__item-action slds-media slds-media--center" role="option" id="'+i+'" onclick="selectName (\''+i+'\', \''+result[i]+'\')">'
                             +result[i]
                             +'</span>'
                             +'</li>';
                     }
                     searchList += '</ul>';
                     
                     $('#searchTextAccount').text('Searching records as "'+searchKey+'".');
                     $('#searchResultsAccount').html(searchList);
                 },{ buffer: true, escape: true, timeout: 120000 }
                );
            }
        }
    function selectName (id, name) {
        $ ('#selectedObjectId').val(id);
        $ ('#agency').val (name);
        $('#agencySearchSection').hide();
        $('#searchResultsAccount').html('');
        $('#err').text ('');
    }
           
    var callId = '';
    var wrapupScreen = false;
    function startListening(access_token){
        // Create SocketIO instance, connect
        //var socket = io.connect("https://damac-poc-poc-api.aswat.co/v2?version=v2&access_token="+access_token, {reconnection: true,path:'/socket',transports: ['websocket'] });
        var socket = io.connect("https://damac-api.aswat.co/v2?version=v2&access_token="+access_token, {reconnection: true,path:'/socket',transports: ['websocket'] });
            
        // Add a connect listener
        socket.on('connect',function() {
            
            //console.log('Client has connected to the server!');
            
            socket.emit('subscribe', 'GET /live/calls:insert');
            
            //socket.emit('subscribe', 'GET /live/calls:update');
            //socket.emit('subscribe', 'GET /live/calls:delete');
            //console.log(socket);
            
        });
        
        // socket.on('GET /live/stats', function (data) {
           // console.log(data);
           // console.log(JSON.stringify(data,null,'\t'));
    
        //});
        socket.on('GET /live/calls:delete', function (data) {
        
            //if (wrapupScreen)
                //location.reload();
        });
        
        
        socket.on('GET /live/calls:insert', function (data) {
            //console.log('--->Calls'+data);
            var dataForPage = JSON.parse(JSON.stringify(data))
            //console.log('callId'+dataForPage.content.callID);
            //console.log('callState='+dataForPage.content.callState);        
            //console.log('CustNUM='+dataForPage.content.callerID);
            //console.log('didCalled='+dataForPage.content.didCalled);
            
                    
            var callstate = dataForPage.content.callState;
            
            var customerNumber = dataForPage.content.callerID
            var agentnumber = dataForPage.content.didCalled;
            var direction  = dataForPage.content.direction;
            
            
            if (callId == '' && '{!UserDetails.Ziwo_DID__c}' == customerNumber) { // Here CustomerNumber is DID of the Logged in user
                var objType = $ ('#objType').val();
                //console.log (callId);
                document.getElementById ('wraupScreen').src = '';
                document.getElementById ('status').innerText = 'Ringing';
                $('#searchpanel').addClass ('slds-hide');
                callId = dataForPage.content.callID;
                if(objType !='Calling_List__c'){
                    openWrapUp (callId, customerNumber);
                }
            }
            
    
        });
        
        function handleResult(result, event) {
            if (event.status) {
                //console.log(result);
            } else {
                //console.log(result);
            }
        }
        
        // Add a connect listener
        socket.on('message',function(data) {
            //console.log('Received a message from the server!',data);
        });
        
        // Add a disconnect listener
        socket.on('disconnect',function() {
            //console.log('The client has disconnected!');
        });
    
    }
    
    function getAccessToken(){
    
        document.getElementById ('status').innerText = '';
        document.getElementById ('wraupScreen').src = '';
        var creds = "{!$label.ziwo_listener_username}";        
        var uName = creds.split('|')[0];
        var pwd = creds.split('|')[1];
        var settings = {
            "url": "https://damac-api.aswat.co/auth/login",
            //"url": "https://damac-poc-poc-api.aswat.co/auth/login",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            "data": {
                "username": uName,
                "password": pwd
            }
        };
        
        $.ajax(settings).done(function (response) {
            
            //console.log(JSON.parse(JSON.stringify(response)));
            var obj = JSON.parse(JSON.stringify(response), function (key, value) {
                if (key == "access_token") {
                    //return value;
                    //console.log(value);
                    //return value;
                    startListening(value);
                } 
            });
        });
    
    }
    
    function openWrapUp (callId, customerNumber) {
        DAMAC_ziwo_listener.getTaskId (callId, customerNumber, function (event, result) {
            result = result.result;
            //console.log (result);
            if (result != '') {
                wrapupScreen = true;
                document.getElementById ('status').innerText = '';
                document.getElementById ('wraupScreen').src = '/apex/ziwo_inbound_wrapup?id='+result+'&homePage=true';
            }
            if (result == '') {
                openWrapUp (callId, customerNumber);
            }
            
        });
    }
    
    window.onload =  getAccessToken();
    </script>
   
  </html>


</apex:page>