<apex:page standardController="task" extensions="DAMAC_Ziwo_Click_to_Call" id="page" showQuickActionVfHeader="false" docType="HTML-5.0" sidebar="false" showHeader="false">
    <apex:slds />
    <apex:form id="form">
       
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" />
        <apex:actionStatus id="status">
            <apex:facet name="start">
                <div>
                    <div class="slds-spinner_container" style="position: fixed;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand" >
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
        <div id="spinner">
            
            <div class="slds-spinner_container" style="position: fixed;">
                <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
        <apex:outputpanel rendered="{!task.Activity_Outcome__c!=null}">
            Wrap up completed.
        </apex:outputpanel>
        <apex:outputpanel rendered="{!task.Activity_Outcome__c==null}">
        <center>    
            <h1 style="font-size:1rem">Wrap up <br/> {!RelatedToName}</h1>
            <div id="taskModal" class="slds-hide" style="text-align: left;border: 1px solid grey;border-radius: 5px;padding: 10px;">

                
                <apex:actionFunction name="outcome" reRender="outComePanel" />
                <div class="slds-form-element">
                     <label class="slds-form-element__label" for="form-element-01">Activity Outcome</label>
                    <div class="slds-form-element__control">
                        <apex:outputPanel id="outComePanel">
                            <apex:inputField value="{!taskRecord.Activity_Outcome__c}" id="outcome" styleclass="slds-input" required="true"/>
                        </apex:outputPanel>
                    </div>
                </div>
                
                <div class="slds-form-element">
                     <label class="slds-form-element__label" for="form-element-01">Next Activity Date</label>
                    <div class="slds-form-element__control">
                        <apex:inputField id="nextActivityDate" value="{!taskRecord.Next_activity_Date__c}" styleclass="slds-input"/>
                    </div>
                </div>
                
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="form-element-01">Comments</label>
                    <div class="slds-form-element__control">
                        <apex:outputPanel rendered="{!contains ($Profile.Name, 'Property Consultant')}">
                        <apex:inputField value="{!taskRecord.RM_Comments__c}" styleclass="slds-input" required="true"/>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!!contains ($Profile.Name, 'Property Consultant')}">
                        <apex:inputField value="{!taskRecord.Description}" styleclass="slds-input" required="true"/>
                        </apex:outputPanel>
                    </div>
                </div>
                
                <div class="slds-form-element">
                   
                    <div class="slds-form-element__control">                        
                        <apex:inputfield value="{!taskRecord.Activity_Type_3__c}" styleclass="slds-input" id="type" style="visibility:hidden"/>
                    </div>
                </div>
            
                <br/>
                <div style="text-align:center">
                    <button onclick="showSpinner();return false;" name="Save" value="Save" Class="slds-button slds-button--brand" >Save</button> <!-- rerender="page,form,outcome" -->
                    <apex:actionFunction action="{!updateTask}" status="status" name="updateTaskFunc"/>
                </div>
                <br/>
                <div style="text-align:center" id="backBtn">
                    <input type="button" value="Back" class="slds-button slds-button_destructive" onclick="navigateTo('{!task.whatid}');"/>
                </div>
                
            </div>
            
            
        </center>
       </apex:outputpanel>
       
         
    
        <script>
            window.onload = function() {
                var fromHomePage = '{!$CurrentPage.parameters.homePage}';
                if (fromHomePage == 'true') {
                    document.getElementById ('backBtn').classList.add ('slds-hide');
                }
                
                openTaskModal();  
                $('#spinner').addClass('slds-hide');   
                checkCallType();          
            };
            
            function openTaskModal() {
                $('#taskModal').removeClass('slds-hide');
                
            }
            
            function showSpinner() {
                var outcome = document.getElementById('page:form:outcome').value;
                var activityDate = document.getElementById ('page:form:nextActivityDate').value;
                
                if (outcome != 'Not interested' && activityDate == '') {
                    alert ('Please fill all required fields.');
                    
                }
                else {
                    updateTaskFunc ();
                    $('#spinner').removeClass('slds-hide');
                }
            }
            
            /* To hide the spinner */
            function hideSpinner() {
                $('#spinner').addClass('slds-hide');
                var view = '{!$User.UITheme}';
                var recordId = '{!$CurrentPage.parameters.id}';
                if (view == 'Theme4d') {
                    sforce.one.navigateToSObject(recordId);
                } else {
                    window.top.location.href = '/'+recordId;
                }
            }
            
            function navigate() {
                var fromHomePage = '{!$CurrentPage.parameters.homePage}';
                if (fromHomePage  == 'true') {
                    parent.location.href=parent.location.href;
                }
            }
            
               
            
            function navigateTo(sObjectId) {
                
                if ((typeof sforce != 'undefined') && sforce && (!!sforce.one)){
                    // Salesforce1 navigation                 
                    sforce.one.navigateToSObject(sObjectId, 'detail');
                } else {
                    // Set the window's URL using a Visualforce expression
                    window.location.href = '{!$Site.Prefix}' + '/' + sObjectId;
                    // site prefix helps when navigation in community
                }
                
            }
            
            function checkCallType(){
                
                var typ =  document.getElementById('page:form:type').value;
                
                if( typ == ''){
                    document.getElementById('page:form:type').value='Call - Outbound';
                    outcome();
                }
                
            }
            
        </script>
    
        
    </apex:form>

</apex:page>