<apex:component controller="additionalParkingCREController_CC" allowDML="true" id="additionalParking">
    
    <style>
      .errorStyle, .errorMsg, .importantWarning, .pbBody .errorStyle a, .pbBody .errorMsg a 
      {
          color: #d74c3b!important;
      }
      
      .errorStyle, .errorMsg, .importantWarning, .pbBody .errorStyle a, .pbBody .errorMsg a 
      {
          color: #c00!important;
      }
      
      .message 
      {
          background-color: #ffc!important;
          border-style: solid!important;
          border-width: 1px!important;
          color: #000!important;
          padding: 6px 8px 6px 6px!important;
          border-radius: 4px!important;
      }
      
      .errorM6, .errorM4, .errorM3, .errorM2, .errorS1 
      {
          border-color: #c00!important;
      }
      
      .sideBarFixed
      {
         position: absolute!important;
      }

   </style>
    <apex:attribute name="accountID" type="ID" description="Account ID" assignTo="{!strAccoundId}"/> 
    <apex:attribute name="srType" type="String" description="SR Type" assignTo="{!strSRType}"/> 

    <apex:inputHidden value="{!strPOAAttachmentBody}" id="POAAttachBody"/>
    <apex:inputHidden value="{!strPOAAttachmentName}" id="POAAttachName"/>
    
    <apex:inputHidden value="{!strPRFAttachmentBody}" id="PRFAttachBody"/>
    <apex:inputHidden value="{!strPRFAttachmentName}" id="PRFAttachName"/>
    
    <apex:inputHidden value="{!strPOPAttachmentBody}" id="POPAttachBody"/>
    <apex:inputHidden value="{!strPOPAttachmentName}" id="POPAttachName"/>
    
    <apex:inputHidden value="{!strPDCAttachmentBody}" id="PDCAttachBody"/>
    <apex:inputHidden value="{!strPDCAttachmentName}" id="PDCAttachName"/>
  
    <div style="display: none;">
        <apex:outputText value="{!Name}"></apex:outputText>
    </div>
    <apex:actionfunction name="fetchUnitDetails" action="{!fetchUnitDetails}" 
    rerender="showmsg,SelectedUnitPanel,parkingInfoPanel,POAPanel,PRFPanel,buttonPanel" status="blockUI" oncomplete="formatNumber();" /> 
    
    <apex:pageMessages id="showmsg"  escape="false"></apex:pageMessages>
    <apex:inputHidden id="serviceRequestId" value="{!strCaseID}"/>
    <br/>
    <section>
      <!-- <div class="wrapper">-->
          <div class="row">
              <div class="col-md-12">
                <apex:outputPanel id="mainUnitPanel">
                  <section id="">
                      <div class="well">
                          <h4>
                              Additional Parking
                              <span style="float:right;color:red;    font-size: 15px;">
                                NOTE : The parking will be blocked for the customer only on submission of the SR
                              </span>
                          </h4>
                          <div class="row">
                              <div class="col-lg-5">
                                  <div class="form-group">
                                  <label>Select Booking Unit</label>
                                  <apex:selectList value="{!strSelectedUnit}"
                                        multiselect="false" size="1" required="true"
                                        styleClass="form-control units" id="units"
                                        onchange="fetchUnitDetails();">
                                        <apex:selectOptions value="{!lstUnits}" />
                                  </apex:selectList>
                                  </div>
                              </div>
                              <div class="col-lg-5">
                              </div>
                          </div>
                          <apex:outputPanel id="SelectedUnitPanel" >
                            <apex:outputPanel rendered="{!blnUnitSelected}">
                              <div id="contentToToggle">
                                  <div>
                                      <apex:inputText value="{!strSoAURL}" styleclass="soaURL" style="display:none"/>
                                      <apex:commandButton rendered="{!blnUnitSelected}" id="generateSOA"
                                        value="Generate SOA" styleClass="btn btn-sm btn-success" 
                                        action="{!GenarateSOA}" oncomplete="showSoA();"
                                        status="blockUI" reRender="SelectedUnitPanel,showmsg"
                                      />
                                  </div>
                                  <br/>
                                  <div>
                                      <apex:commandButton rendered="{!blnUnitSelected}" 
                                        value="Fetch Parkings" styleClass="btn btn-sm btn-success" 
                                        action="{!getParkingInformation}" 
                                        oncomplete="formatNumber();" 
                                        disabled="{!if(blnUnitSelected == true,false,true)}" 
                                        status="blockUI" reRender="parkingInfoPanel,showmsg"
                                      />
                                  </div>
                              </div>
                            </apex:outputPanel>
                          </apex:outputPanel>
                          <br/><br/><br/>
                          <apex:outputPanel id="parkingInfoPanel">
                              <apex:outputPanel rendered="{!if(lstParkingInformation != null && lstParkingInformation.size > 0 && blnUnitSelected == true,true,false)}">
                                <section>
                                      <div class="well">
                                          <apex:pageMessages id="parkingSelectionError"  escape="false"></apex:pageMessages>
                                          <h4>
                                            Parkings For Sale
                                          </h4>
                                          <br/>
                                          <div class="row">
                                            <div class="col-md-12 form-group" style="max-height: 400px;overflow-y: scroll;">
                                              <table class="parkingInfo table" cellpadding="10" width="100%" >
                                                  <thead class="thead-inverse">
                                                      <tr>
                                                          <th><b>Select</b></th>
                                                          <th><b>PARKING BAY NO</b></th>
                                                          <th><b>DETAIL ID</b></th>
                                                          <th><b>STATUS</b></th>
                                                          <th><b>PARKING TYPE </b></th>
                                                          <th><b>PARKING TYPE DESC </b></th>
                                                          <th><b>PRICE</b></th>
                                                          <th><b>BUILDING NAME</b></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <apex:variable value="{!0}" var="rowNum"/>
                                                      <apex:repeat value="{!lstParkingInformation}" var="objParking">
                                                          <tr style="display:{!if(objParking.STATUS == 'Available',"contents","none")};">
                                                            <td>
                                                                <apex:inputCheckbox value="{!objParking.blnIsSelected}">
                                                                    <apex:actionSupport event="onchange" reRender="parkingInfoPanel,buttonPanel,parkingSelectionError" status="blockUI" 
                                                                        action="{!calculateTotalPrice}">
                                                                        <apex:param id="rowIndex" name="rowToFetchPrice" value="{!rowNum}" 
                                                                            assignTo="{!rowToFetchPrice}"/>
                                                                    </apex:actionSupport>
                                                                </apex:inputCheckbox>
                                                            </td>
                                                            <td>{!objParking.PARKING_BAY_NUMBER}</td>
                                                            <td>{!objParking.DETAIL_ID}</td>
                                                            <td>{!objParking.STATUS}</td>
                                                            <td>{!objParking.PARKING_TYPE}</td>
                                                            <td>{!objParking.PARKING_TYPE_DESC}</td>
                                                            <td>{!objParking.PRICE}</td>
                                                            <td>{!objParking.BUILDING_NAME}</td>
                                                          </tr>
                                                        <apex:variable var="rowNum" value="{!rowNum + 1}"/>
                                                      </apex:repeat>
                                                  </tbody>
                                              </table>
                                            </div>
                                              <label style="padding: 5px;margin-left: 13px;">Total Amount: {!totalPrice}</label>
                                          </div>
                                      </div>
                                </section>
                                    <apex:outputPanel rendered="{!if(totalPrice > 0 && blnIsMaxParkingLimitReached == false, true,false)}">
                                      <section>
                                          <div class="well">
                                              <apex:pageMessages id="paymentTermsError"  escape="false"></apex:pageMessages>
                                              <h4>
                                                Payment Terms Selection
                                              </h4>
                                              <br/>
                                              <div class="row">
                                                <div class="col-lg-5 form-group">
                                                    <label>Select Type Of Payment </label>
                                                    <apex:selectList id="paymentMode"  size="1" styleClass="form-control" 
                                                        style="height: 34px" value="{!strPaymentType}" >
                                                        <apex:actionSupport event="onchange"  rerender="parkingInfoPanel,showmsg,paymentTermsError,buttonPanel" status="blockUI" oncomplete="formatNumber();"/>
                                                        <apex:selectOption itemValue="None" itemLabel="None"/>
                                                        <apex:selectOption itemValue="Full Payment" itemLabel="Full Payment"/>
                                                        <apex:selectOption itemValue="Installment Based Payment" itemLabel="Installment Based Payment"/>
                                                    </apex:selectList>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <apex:outputPanel rendered="{!if(strPaymentType == 'Full Payment' ,true,false)}">
                                                    <div class="col-lg-5 form-group">
                                                        <label>Select Mode Of Payment </label>
                                                        <apex:selectList id="paymentModeType"  size="1" styleClass="form-control" 
                                                            style="height: 34px" value="{!strPaymentModeType}" >
                                                            <apex:selectOption itemValue="Cash Payment" itemLabel="Cash Payment"/>
                                                            <apex:selectOption itemValue="Cheque Payment" itemLabel="Cheque Payment"/>
                                                            <apex:selectOption itemValue="Credit Card Payment" itemLabel="Credit Card Payment"/>
                                                            <apex:selectOption itemValue="Online Transfer" itemLabel="Online Transfer"/>
                                                        </apex:selectList>
                                                    </div>
                                                    <apex:outputPanel id="POPPanel">
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <apex:outputPanel >
                                                                 <div class="form-group">
                                                                      <div class="fileupload fileupload-new" data-provides="fileupload" style="display:{!IF(lstSRPOPattachments == null || lstSRPOPattachments.size == 0, '','none')};">
                                                                        <span class="btn btn-primary btn-file">
                                                                            <span class="fileupload-new"><i class="fa fa-address-card-o" aria-hidden="true"></i><br/>Upload Proof Of Payment</span>
                                                                            <span class="fileupload-exists"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><br/>Change</span>
                                                                            <input type="file" id="POPAttach" onchange="attachPOPFile();"/>
                                                                        </span>
                                                                          <div style="text-align: center;">
                                                                              <span class="fileupload-preview"></span>
                                                                              <a href="#" class="close fileupload-exists" onclick="removeAttachmentFile('POP')" data-dismiss="fileupload" style="float: none">×</a>
                                                                          </div>
                                                                        </div>
                                                                    </div>
                                                              </apex:outputPanel>
                                                              <div>
                                                                <apex:outputPanel rendered="{!blnShowPOP}" id="POPAttachmentPanel">
                                                                  <table class="paymentDue table" cellpadding="10" width="100%">
                                                                      <tr style="display:{!IF(lstSRPOPattachments != null && lstSRPOPattachments.size > 0, 'table-row','none')};">
                                                                        <th> Remove </th>
                                                                        <th>Attachment Name </th>
                                                                        <th>Type </th>
                                                                        <th> Is Valid </th>
                                                                        <th>View </th>
                                                                      </tr>
                                                                      <apex:repeat value="{!lstSRPOPattachments}" var="l">
                                                                          <tr style="display:{!IF(l.Type__c == 'Proof Of Payment', 'table-row','none')};">
                                                                              <td>
                                                                                  <apex:commandLink title="Remove Attachment" style="width:80px;" action="{!removeAttachment}" styleClass="remove" status="blockUI" reRender="PRFPanel">
                                                                                      <apex:param name="RemoveSelected" value="{!l.id}" assignTo="{!RemoveSelected}" /> 
                                                                                      <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                                                      <!-- <apex:param name="DocType" value="POA" assignTo="{!strTypeOfDoc}" />  -->
                                                                                  </apex:commandLink>
                                                                              </td>
                                                                              <td>{!l.name} </td>
                                                                              <td>{!l.type__c } </td>
                                                                              <!-- <td>{!l.isValid__c} </td>  -->
                                                                              <td align="left" >
                                                                                  <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == false,true,false)}" />
                                                                                  <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == true,true,false)}" /> 
                                                                              </td>
                                                                              <td>
                                                                              <a href="{!l.Attachment_URL__c}" target="_blank">VIEW</a> 
                                                                              </td> 
                                                                          </tr>
                                                                      </apex:repeat> 
                                                                  </table>
                                                                </apex:outputPanel>
                                                              </div>
                                                          </div>
                                                        </div>
                                                    </apex:outputPanel>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!if(strPaymentType == 'Installment Based Payment' ,true,false)}">
                                                      <div class="col-lg-5 form-group">
                                                          <label># Of Installment :</label> &nbsp;&nbsp;
                                                          <apex:inputText value="{!intTotalPaymentTermsInstallment}" style="width: 10%">
                                                            <apex:actionSupport action="{!generatePaymentTerms}" event="onblur"  
                                                             rerender="NewPaymentTermsPanel,showmsg,paymentTermsError" status="blockUI" oncomplete="applyDatePicker();"  />
                                                          </apex:inputText>
                                                      </div>
                                                    <apex:outputPanel id="NewPaymentTermsPanel">
                                                      <div class="row">
                                                        <div class="col-md-12 form-group">
                                                          <table class="parkingInfo table" cellpadding="10" width="100%" >
                                                              <thead class="thead-inverse">
                                                                  <tr>
                                                                      <th><b>DEPOSIT</b></th>
                                                                      <th><b>DATE</b></th>
                                                                      <th><b>AMOUNT</b></th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  <apex:repeat value="{!lstPaymentTerms}" var="objParking">
                                                                      <tr>
                                                                        <td>{!objParking.strInstallment}</td>
                                                                        <td>
                                                                           <apex:inputText value="{!objParking.strDate}"  
                                                                            styleClass="form-control newPtDate" 
                                                                            id="dateExp" style="width: 30%;" html-placeholder="YYYY-MM-dd"/>
                                                                        </td>
                                                                        <td>{!objParking.strAmount}</td>
                                                                      </tr>
                                                                  </apex:repeat>
                                                              </tbody>
                                                          </table>
                                                        </div>
                                                      </div>
                                                    </apex:outputPanel>
                                                    <br/>
                                                    <apex:outputPanel id="PDCPanel">
                                                      <apex:outputPanel >
                                                         <div class="row">
                                                            <div class="col-md-12">
                                                              <apex:outputPanel >
                                                                 <div class="form-group">
                                                                    <div class="fileupload fileupload-new" data-provides="fileupload" style="display:{!IF(lstSRPDCattachments == null || lstSRPDCattachments.size == 0, '','none')};">
                                                                      <span class="btn btn-primary btn-file">
                                                                          <span class="fileupload-new"><i class="fa fa-address-card-o" aria-hidden="true"></i><br/>Upload PDC Receipt</span>
                                                                          <span class="fileupload-exists"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><br/>Change</span>
                                                                          <input type="file" id="PDCAttach" onchange="attachPDCFile();"/>
                                                                      </span>
                                                                      <div style="text-align: center;">
                                                                          <span class="fileupload-preview"></span>
                                                                          <a href="#" class="close fileupload-exists" onclick="removeAttachmentFile('PDC')" data-dismiss="fileupload" style="float: none">×</a>
                                                                      </div>
                                                                  </div>
                                                                   </div>
                                                                </apex:outputPanel>
                                                                 <div>
                                                                  <apex:outputPanel rendered="{!blnShowPDC}" id="PDCAttachmentPanel">
                                                                    <table class="paymentDue table" cellpadding="10" width="100%">
                                                                        <tr style="display:{!IF(lstSRPDCattachments != null && lstSRPDCattachments.size > 0, 'table-row','none')};">
                                                                          <th> Remove </th>
                                                                          <th>Attachment Name </th>
                                                                          <th>Type </th>
                                                                          <th> Is Valid </th>
                                                                          <th>View </th>
                                                                        </tr>
                                                                        <apex:repeat value="{!lstSRPDCattachments}" var="l">
                                                                            <tr style="display:{!IF(l.Type__c == 'Post Dated Cheque', 'table-row','none')};">
                                                                                <td>
                                                                                    <apex:commandLink title="Remove Attachment" style="width:80px;" action="{!removeAttachment}" styleClass="remove" status="blockUI" reRender="PRFPanel">
                                                                                        <apex:param name="RemoveSelected" value="{!l.id}" assignTo="{!RemoveSelected}" /> 
                                                                                        <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                                                        <!-- <apex:param name="DocType" value="POA" assignTo="{!strTypeOfDoc}" />  -->
                                                                                    </apex:commandLink>
                                                                                </td>
                                                                                <td>{!l.name} </td>
                                                                                <td>{!l.type__c } </td>
                                                                                <!-- <td>{!l.isValid__c} </td>  -->
                                                                                <td align="left" >
                                                                                    <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == false,true,false)}" />
                                                                                    <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == true,true,false)}" /> 
                                                                                </td>
                                                                                <td>
                                                                                <a href="{!l.Attachment_URL__c}" target="_blank">VIEW</a> 
                                                                                </td> 
                                                                            </tr>
                                                                        </apex:repeat> 
                                                                    </table>
                                                                  </apex:outputPanel>
                                                                </div>
                                                            </div>
                                                         </div>
                                                      </apex:outputPanel>
                                                  </apex:outputPanel>
                                                </apex:outputPanel>
                                              </div>
                                          </div>
                                      </section>
                                    </apex:outputPanel>
                              </apex:outputPanel>
                              <br/>
                          </apex:outputPanel>
                          <br/>
                          <apex:outputPanel id="POAPanel">
                              <apex:outputPanel rendered="{!blnUnitSelected}">
                                <section id="POA">
                                    <div class="well">
                                      <div class="row">
                                          <div class="col-lg-5">
                                              <div class="form-group">
                                                  <label>Select Power of Attorney: </label>
                                                  <apex:inputCheckbox value="{!blnIsPOA}" id="POASelected">
                                                    <apex:actionSupport reRender="POADetailsPanel,showMsg" event="onchange" status="blockUI" oncomplete="applyDatePicker();" />
                                                  </apex:inputCheckbox>
                                              </div>
                                          </div>
                                      </div>
                                      <apex:outputPanel id="POADetailsPanel">
                                        <apex:outputPanel rendered="{!if(blnIsPOA,true,false)}">
                                          <div>
                                            <h5>Power of Attorney Details</h5>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <apex:inputField value="{!objCase.POA_Name__c}" html-placeholder="Enter name" styleClass="form-control" id="POAName" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Purpose of POA<span style="font-size:18px; color:#cc0000;">*</span></label>
                                                        <apex:inputField value="{!objCase.Purpose_of_POA__c }" html-placeholder="Enter Purpose Of POA" styleClass="form-control" id="POAPurpose"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Date of Issue</label>
                                                        <apex:inputText value="{!dtDateOfExpiry}" 
                                                        styleClass="form-control datepicker POAExpiryDate" 
                                                        id="dateExp" html-placeholder="dd/mm/yyyy"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Issued by (Authority)</label>
                                                        <apex:inputField value="{!objCase.POA_Issued_By__c }" html-placeholder="Enter name" styleClass="form-control" id="IssuedByName"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Buyer POA Country Code</label>
                                                        <apex:inputField value="{!objCase.Buyer_POA_Country_Code__c}" html-placeholder="Enter POA Country Code" styleClass="form-control" id="buyerPOACountryCode"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="form-group">
                                                        <label>Buyer POA Phone</label>
                                                        <apex:inputField value="{!objCase.Buyer_POA_Phone__c}" html-placeholder="Enter POA Phone" styleClass="form-control" id="buyerPOAPhone"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <apex:outputPanel id="POAAttachmentPanel">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                          <div class="fileupload fileupload-new" data-provides="fileupload" style="display:{!IF(lstSPOAattachments == null || lstSPOAattachments.size == 0, '','none')};">
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileupload-new"><i class="fa fa-address-card-o" aria-hidden="true"></i><br/>Upload POA</span>
                                                                <span class="fileupload-exists"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><br/>Change</span>
                                                                <input type="file" id="POAAttach" onchange="attachPOAFile();"/>
                                                            </span>
                                                            <div style="text-align: center;">
                                                                <span class="fileupload-preview"></span>
                                                                <a href="#" class="close fileupload-exists" onclick="removeAttachmentFile('POA')" data-dismiss="fileupload" style="float: none">×</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                    
                                                      <apex:outputPanel rendered="{!blnShowPOA}">
                                                          <table class="paymentDue table" cellpadding="10" width="100%">
                                                              <tr style="display:{!IF(lstSPOAattachments != null && lstSPOAattachments.size > 0, 'table-row','none')};">
                                                                <th> Remove </th>
                                                                <th>Attachment Name </th>
                                                                <th>Type </th>
                                                                <th> Is Valid </th>
                                                                <th>View </th>
                                                              </tr>
                                                              <apex:repeat value="{!lstSPOAattachments}" var="l">
                                                                  <tr style="display:{!IF(l.Type__c == 'Power Of Attorney', 'table-row','none')};">
                                                                      <td>
                                                                          <apex:commandLink title="Remove Attachment" style="width:80px;" action="{!removeAttachment}" styleClass="remove" status="blockUI" 
                                                                          reRender="POAAttachmentPanel">
                                                                              <apex:param name="RemoveSelected" value="{!l.id}" assignTo="{!RemoveSelected}" /> 
                                                                              <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                                              <!-- <apex:param name="DocType" value="POA" assignTo="{!strTypeOfDoc}" />  -->
                                                                          </apex:commandLink>
                                                                      </td>
                                                                      <td>{!l.name} </td>
                                                                      <td>{!l.type__c } </td>
                                                                      <!-- <td>{!l.isValid__c} </td>  -->
                                                                      <td align="left" >
                                                                          <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == false,true,false)}" />
                                                                          <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == true,true,false)}" /> 
                                                                      </td>
                                                                      <td>
                                                                      <a href="{!l.Attachment_URL__c}" target="_blank">VIEW</a> 
                                                                      </td> 
                                                                  </tr>
                                                              </apex:repeat> 
                                                          </table>
                                                      </apex:outputPanel>
                                                    </div>
                                                </div>
                                            </div>
                                            </apex:outputPanel>
                                          </div>
                                        </apex:outputPanel>
                                      </apex:outputPanel>
                                    </div>
                                </section>
                              </apex:outputPanel>
                          </apex:outputPanel>

                          <apex:outputPanel id="PRFPanel">
                              <apex:outputPanel rendered="{!blnUnitSelected}">
                                <section>
                                  <div class="well">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <apex:outputPanel >
                                            <h4>
                                              <span class="pull-right">
                                              <apex:inputText value="{!strPRFURL}" styleclass="prfURL" style="display:none"/>
                                                  <apex:commandButton rendered="{!blnUnitSelected}" title="Generate Parking Request Form"
                                                    value="View Parking Request Form" styleClass="btn btn-sm btn-success" 
                                                    action="{!viewAndDownloadPRF}" oncomplete="showPRF();"
                                                    status="blockUI" 
                                                    reRender="SelectedUnitPanel,showmsg,PRFPanel,parkingSelectionError,paymentTermsError"
                                                 />
                                              </span>
                                            </h4>
                                            <br/><br/>
                                             <div class="form-group">
                                                          <div class="fileupload fileupload-new" data-provides="fileupload" style="display:{!IF(lstSRPRFattachments == null || lstSRPRFattachments.size == 0, '','none')};">
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileupload-new"><i class="fa fa-address-card-o" aria-hidden="true"></i><br/>Upload Parking Request Form</span>
                                                                <span class="fileupload-exists"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><br/>Change</span>
                                                                <input type="file" id="PRFAttach" onchange="attachPRFFile();"/>
                                                            </span>
                                                            <div style="text-align: center;">
                                                                <span class="fileupload-preview"></span>
                                                                <a href="#" class="close fileupload-exists" onclick="removeAttachmentFile('PRF')" data-dismiss="fileupload" style="float: none">×</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                          </apex:outputPanel>
                                           <div>
                                            <apex:outputPanel rendered="{!blnShowPRF}" id="PRFAttachmentPanel">
                                              <table class="paymentDue table" cellpadding="10" width="100%">
                                                  <tr style="display:{!IF(lstSRPRFattachments != null && lstSRPRFattachments.size > 0, 'table-row','none')};">
                                                    <th> Remove </th>
                                                    <th>Attachment Name </th>
                                                    <th>Type </th>
                                                    <th> Is Valid </th>
                                                    <th>View </th>
                                                  </tr>
                                                  <apex:repeat value="{!lstSRPRFattachments}" var="l">
                                                      <tr style="display:{!IF(l.Type__c == 'Parking Request Form', 'table-row','none')};">
                                                          <td>
                                                              <apex:commandLink title="Remove Attachment" style="width:80px;" action="{!removeAttachment}" styleClass="remove" status="blockUI" reRender="PRFPanel">
                                                                  <apex:param name="RemoveSelected" value="{!l.id}" assignTo="{!RemoveSelected}" /> 
                                                                  <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                                  <!-- <apex:param name="DocType" value="POA" assignTo="{!strTypeOfDoc}" />  -->
                                                              </apex:commandLink>
                                                          </td>
                                                          <td>{!l.name} </td>
                                                          <td>{!l.type__c } </td>
                                                          <!-- <td>{!l.isValid__c} </td>  -->
                                                          <td align="left" >
                                                              <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == false,true,false)}" />
                                                              <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(l.isValid__c == true,true,false)}" /> 
                                                          </td>
                                                          <td>
                                                          <a href="{!l.Attachment_URL__c}" target="_blank">VIEW</a> 
                                                          </td> 
                                                      </tr>
                                                  </apex:repeat> 
                                              </table>
                                            </apex:outputPanel>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                              </apex:outputPanel>
                          </apex:outputPanel>

                            <div class="row">
                                <apex:outputPanel id="buttonPanel">
                                    <div class="col-lg-5">
                                        <div class="form-group" style="float:right;">

                                          <!--  <button type="button" class="btn btn-sm btn-success" disabled="{!if(blnUnitSelected == true && totalPrice > 0 && (strPaymentType != null && strPaymentType != 'None')
                                          && blnIsMaxParkingLimitReached == false,false,true)}" onclick="if (validateRequiredInput()) {submitSr(); }">Submit</button>
                                            <apex:actionFunction name="createCase" action="{!createSR}" status="blockUI" reRender="showmsg" oncomplete="submitSr();"/> -->



                                          <apex:commandButton value="Submit SR" styleClass="btn btn-sm btn-success" 
                                          status="blockUI" action="{!createSR}" reRender="showmsg,serviceRequestId" disabled="{!if(blnUnitSelected == true && totalPrice > 0 && (strPaymentType != null && strPaymentType != 'None')
                                          && blnIsMaxParkingLimitReached == false,false,true)}"
                                          onclick="if(validateRequiredInput()) return false;" oncomplete="checkSrStatus();">
                                            <apex:param name="caseStatus" value="Submitted" assignTo="{!strCaseStatusSubmitted}"/>
                                          </apex:commandButton>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                          <apex:commandButton value="Save As Draft" styleClass="btn btn-sm btn-success" status="blockUI" reRender="showmsg" action="{!createSR}" disabled="{!if(blnUnitSelected == true && 
                                          totalPrice > 0 && (strPaymentType != null && strPaymentType != 'None')
                                          && blnIsMaxParkingLimitReached == false ,false,true)}"
                                          onclick="toastr.info('Saving Service Request');if(validateRequiredInput()) return false;">
                                          <apex:param name="caseStatus" value="Draft" assignTo="{!strCaseStatusSubmitted}"/>
                                          </apex:commandButton>
                                        </div>
                                    </div>
                               </apex:outputPanel>
                            </div>
                      </div>
                  </section>
                </apex:outputPanel>
              </div>
          </div>
      <!--</div> -->
  </section>
    
    <script>
        $(document).ready(function(){
            //hideUnitDetails();
            formatNumber();
            disableInputs();
            applyDatePicker();
        });

        function checkSrStatus() {
            var serviceRequestId = $('[id$="serviceRequestId"]').val();
            console.log('>>>>serviceRequestId '+serviceRequestId);
            if (serviceRequestId) {
                toastr.success('Thank you, your Service Request has been submitted successfully');
                ccUtils.switchView('CaseDetails', serviceRequestId);
            } else {
                console.log('>>>else');
                var hasConfirm = $('.confirmM3');
                var confirmMessages = hasConfirm.find('li');
                if (confirmMessages.length) {
                    confirmMessages.each(function(index, el){toastr.success($(this).text())});
                } else if (hasConfirm.length) {
                    toastr.success(hasConfirm.find('.messageText').text());
                }
                var hasError = $('.errorM3');
                var errorMessages = hasError.find('li');
                if (errorMessages.length) {
                    $('.errorM3 li').each(function(index, el){toastr.error($(this).text())});
                } else if (hasError.length) {
                    toastr.error(hasError.find('.messageText').text());
                }
            }
        }
        
        function showSoA()
        {
            var soaUrlValue = $('.soaURL').val();
            console.log('soaUrlValue***********'+soaUrlValue);
            if(soaUrlValue != undefined && soaUrlValue != 'undefined'
            && soaUrlValue.trim() != '')
            {
                window.open(soaUrlValue,'_blank');
            }
        }

        function showPRF()
        {
            var prfUrlValue = $('.prfURL').val();
            console.log('prfUrlValue***********'+prfUrlValue);
            if(prfUrlValue != undefined && prfUrlValue != 'undefined' && prfUrlValue != 'error null'
            && prfUrlValue.trim() != '')
            {
                window.open(prfUrlValue,'_blank');
            }
            else
            {
              alert('Error Generating Parking Request Form');
            }
        }

        
        function hideUnitDetails(){
            var selCategory = $('select[id$=categories]').val();
            if(selCategory == 'Unit Details'){
                $('#unitDetails').show();
                $('#flags').hide();
                $('#unitStatus').hide();
                $('#sr').hide();
            }
            if(selCategory == 'Flags'){
                $('#unitDetails').hide();
                $('#flags').show();
                $('#unitStatus').hide();
                $('#sr').hide();
            }
            if(selCategory == 'Unit Status'){
                $('#unitDetails').hide();
                $('#flags').hide();
                $('#unitStatus').show();
                $('#sr').hide();
            }
            if(selCategory == 'Open SRs'){
                $('#unitDetails').hide();
                $('#flags').hide();
                $('#unitStatus').hide();
                $('#sr').show();
            }
        }

        //Method used for formatting number values to thousand places
        function formatNumber() {
            $(".formatNumber").each(function() {
               var number = $(this).text();
               
               if(number != undefined && number != '' && isNaN(number) == false) {
                   number = parseFloat(number).toFixed(2);
                   number = number.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                   $(this).text(number);
               }
            });
        }

        // apply date picker
        function applyDatePicker()
        {
            $('.POAExpiryDate').datepicker({ 
                  format: 'dd/mm/yyyy',
                  autoclose: true,
                  endDate: '+0d'
            });
            console.log('Inside apply Date Picker');
            var date = new Date();
            $('.newPtDate').datepicker({ 
                  //format: 'yyyy-mm-dd',
                  format: 'dd/mm/yyyy',
                  autoclose: true,
                  startDate:date
            });
        }

        function attachPOAFile()
        {
            var filename = document.getElementById("POAAttach").value;

            if( filename != '' ) 
            {
                var Extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
                if (Extension == "gif" || Extension == "png" || Extension == "jpeg" || Extension == "pdf" || Extension == "txt" || Extension == "jpg"|| Extension == "docx" || Extension == "xlsx") 
                {
                  console.log('POA file upload');
                  $('[id$=POAAttachName]').val(filename);
                  var fbody = document.getElementById("POAAttach").files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(fbody);
                  reader.onload = function(e) 
                  {
                      var blobfile = window.btoa(this.result);
                      $('[id$=POAAttachBody]').val(blobfile);
                  }
                }
                else
                {
                  alert('Please select valid file for POA');
                  $('[id$=POAAttachName]').val('');
                  $('[id$=POAAttachBody]').val('');
                }
            }
            else
            {
              alert('Please select POA File.');
            }
        }

        function attachPRFFile()
        {
            var filename = document.getElementById("PRFAttach").value;

            if( filename != '' ) 
            {
                var Extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
                if (Extension == "gif" || Extension == "png" || Extension == "jpeg" || Extension == "pdf" || Extension == "txt" || Extension == "jpg"|| Extension == "docx" || Extension == "xlsx") 
                {
                  console.log('PRF file upload');
                  $('[id$=PRFAttachName]').val(filename);
                  var fbody = document.getElementById("PRFAttach").files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(fbody);
                  reader.onload = function(e) 
                  {
                      var blobfile = window.btoa(this.result);
                      $('[id$=PRFAttachBody]').val(blobfile);
                  }
                }
                else
                {
                  alert('Please select valid file for Parking Request Form');
                  $('[id$=PRFAttachName]').val('');
                  $('[id$=PRFAttachBody]').val('');
                }
            }
            else
            {
              alert('Please select Parking Request Form File.');
            }
        }

        function attachPOPFile()
        {
            var filename = document.getElementById("POPAttach").value;

            if( filename != '' ) 
            {
                var Extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
                if (Extension == "gif" || Extension == "png" || Extension == "jpeg" || Extension == "pdf" || Extension == "txt" || Extension == "jpg"|| Extension == "docx" || Extension == "xlsx") 
                {
                  console.log('POP file upload');
                  $('[id$=POPAttachName]').val(filename);
                  var fbody = document.getElementById("POPAttach").files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(fbody);
                  reader.onload = function(e) 
                  {
                      var blobfile = window.btoa(this.result);
                      $('[id$=POPAttachBody]').val(blobfile);
                  }
                }
                else
                {
                  alert('Please select valid file for Proof Of Payment');
                  $('[id$=POPAttachName]').val('');
                  $('[id$=POPAttachBody]').val('');
                }
            }
            else
            {
              alert('Please select Proof Of Payment File.');
            }
        }

        function attachPDCFile()
        {
            var filename = document.getElementById("PDCAttach").value;

            if( filename != '' ) 
            {
                var Extension = filename.substring(filename.lastIndexOf('.') + 1).toLowerCase();
                if (Extension == "gif" || Extension == "png" || Extension == "jpeg" || Extension == "pdf" || Extension == "txt" || Extension == "jpg"|| Extension == "docx" || Extension == "xlsx") 
                {
                  console.log('PDC file upload');
                  $('[id$=PDCAttachName]').val(filename);
                  var fbody = document.getElementById("PDCAttach").files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(fbody);
                  reader.onload = function(e) 
                  {
                      var blobfile = window.btoa(this.result);
                      $('[id$=PDCAttachBody]').val(blobfile);
                  }
                }
                else
                {
                  alert('Please select valid file for PDC');
                  $('[id$=PDCAttachName]').val('');
                  $('[id$=PDCAttachBody]').val('');
                }
            }
            else
            {
              alert('Please select PDC File.');
            }
        }

        function removeAttachmentFile(val1)
        {
            try
            {
                if(val1 == 'POA')
                {
                    $('[id$=PDCAttachName]').val('');
                    $('[id$=POAAttachBody]').val('');
                }

                if(val1 == 'PRF')
                {
                    $('[id$=PRFAttachName]').val('');
                    $('[id$=PRFAttachBody]').val('');
                }

                if(val1 == 'POP')
                {
                    $('[id$=POPAttachName]').val('');
                    $('[id$=POPAttachBody]').val('');
                }

                if(val1 == 'PDC')
                {
                    $('[id$=PDCAttachName]').val('');
                    $('[id$=PDCAttachBody]').val('');
                }
            }
            catch(err)
            {
                alert('--error--'+err);
            }
        }

        function validateRequiredInput()
        {
            console.log('method called');
            var isError = false;
            var poaName = $('[id$=POAName]').val();
            var dateExp = $('[id$=dateExp]').val();
            var issuedByName = $('[id$=IssuedByName]').val();
            //var POASelected = $('[id$=POASelected]').val();
            var POASelected = $('[id$=POASelected]').is(':checked'); 
            var POAPurpose = $('[id$=POAPurpose]').val();


            console.log('POASelected '+POASelected);
            console.log('dateExp '+dateExp);
            console.log('issuedByName '+issuedByName);
            //if(POASelected != null && POASelected != 'None' && POASelected != 'No')
            if(POASelected != null && POASelected == true)
            {
                if(POAPurpose == '' || POAPurpose == undefined || POAPurpose == null)
                {
                    alert('Please enter value for POA Purpose');
                    isError = true;
                    return isError;
                }
                var POAAttachmentSize = '{!lstSPOAattachments.size}';
                console.log('POAAttachmentSize '+POAAttachmentSize);
                if(POAAttachmentSize == null || POAAttachmentSize <=0)
                {
                    var filename = document.getElementById("POAAttach").value;
                    if(filename == '' || filename == undefined || filename == null)
                    {
                        alert('Please select document for POA.');
                        isError = true;
                        return isError;
                    }
                }
            }

            var PRFAttachmentSize = '{!lstSRPRFattachments.size}';
            if((PRFAttachmentSize == null || PRFAttachmentSize <= 0) && $('#PRFAttach').length > 0)
            {
              var PRFFilename = document.getElementById("PRFAttach").value;
              if(PRFFilename == '' || PRFFilename == undefined || PRFFilename == null)
              {
                alert('Please select file for Parking Request Form.');
                isError = true;
                return isError;
              }
            }

            // add validation for payment mode
            var paymentMode = $('[id$=paymentMode]').val();
            console.log('paymentMode '+paymentMode);
            if(paymentMode !== 'None' && paymentMode !== undefined)
            {
              if(paymentMode === 'Full Payment')
              {
                console.log('full payment is selected');
                var POPAttachmentSize = '{!lstSRPOPattachments.size}';
                console.log('POPAttachmentSize '+POPAttachmentSize);
                if(POPAttachmentSize == null || POPAttachmentSize <=0)
                {
                    var filename = document.getElementById("POPAttach").value;
                    if(filename == '' || filename == undefined || filename == null)
                    {
                        alert('Please select document for Proof Of Payment.');
                        isError = true;
                        return isError;
                    }
                }
              }

              if(paymentMode === 'Installment Based Payment')
              {
                console.log('installment based payment is selected');
                /*var PDCAttachmentSize = '{!lstSRPDCattachments.size}';
                console.log('PDCAttachmentSize '+PDCAttachmentSize);
                if(PDCAttachmentSize == null || PDCAttachmentSize <=0)
                {
                    var filename = document.getElementById("PDCAttach").value;
                    if(filename == '' || filename == undefined || filename == null)
                    {
                        alert('Please select document for Post Dated Cheque.');
                        isError = true;
                        return isError;
                    }
                }*/
              }
            }

            var isDateError = false;
            var isDateNotInIncrementOrder = false;
            var dateValueArray = new Array();
            $(".newPtDate").each(function() 
            {
                var dateValue = $(this).val();
                console.log('dateValue '+dateValue);

                if(dateValue === 'undefined' || dateValue === '') 
                {
                  console.log('date value not empty');
                  isDateError = true;
                  return;
                }
                else
                {
                  dateValueArray.push(stringToDate(dateValue,'dd/MM/yyyy','/'));
                }
            }); 

            if(isDateError)
            {
              alert('Please select value for Installment Date.');
            }

            if(isDateError)
            {
              isError = isDateError;
            }
            console.log('isDateError after '+isDateError);

            console.log('dateValueArray '+dateValueArray);
            console.log('dateValueArray length'+dateValueArray.length);
            if(dateValueArray != null && dateValueArray.length > 1)
            {
              for(var i=0 ; i < dateValueArray.length ; i++)
              { 
                console.log(i+' - '+dateValueArray.length);
                if( i !== dateValueArray.length - 1)
                {
                  console.log(' 1- '+dateValueArray[i]);
                  console.log(' 2- '+dateValueArray[i+1]);
                  console.log('dates compare '+dates.compare(dateValueArray[i+1],dateValueArray[i]));
                  var dateDiff = dates.compare(dateValueArray[i+1],dateValueArray[i]);
                  if( dateDiff < 1 )
                  {
                    console.log('inside if isDateNotInIncrementOrder');
                    isDateNotInIncrementOrder = true;
                    isError = isDateNotInIncrementOrder;
                    alert('Please select value for Installment Date in increasing order.');
                    break;
                  }
                }
              }
            }

            console.log('isError '+isError);
            return isError;
        }

        // method used to convert string to date 26/02/2018
        function stringToDate(_date,_format,_delimiter)
        {
          var formatLowerCase=_format.toLowerCase();
          var formatItems=formatLowerCase.split(_delimiter);
          var dateItems=_date.split(_delimiter);
          var monthIndex=formatItems.indexOf("mm");
          var dayIndex=formatItems.indexOf("dd");
          var yearIndex=formatItems.indexOf("yyyy");
          var month=parseInt(dateItems[monthIndex]);
          month-=1;
          var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
          return formatedDate;
        }

        var dates = {
          convert:function(d) {
              // Converts the date in d to a date-object. The input can be:
              //   a date object: returned without modification
              //  an array      : Interpreted as [year,month,day]. NOTE: month is 0-11.
              //   a number     : Interpreted as number of milliseconds
              //                  since 1 Jan 1970 (a timestamp) 
              //   a string     : Any format supported by the javascript engine, like
              //                  "YYYY/MM/DD", "MM/DD/YYYY", "Jan 31 2009" etc.
              //  an object     : Interpreted as an object with year, month and date
              //                  attributes.  **NOTE** month is 0-11.
              return (
                  d.constructor === Date ? d :
                  d.constructor === Array ? new Date(d[0],d[1],d[2]) :
                  d.constructor === Number ? new Date(d) :
                  d.constructor === String ? new Date(d) :
                  typeof d === "object" ? new Date(d.year,d.month,d.date) :
                  NaN
              );
          },
          compare:function(a,b) {
              // Compare two dates (could be of any type supported by the convert
              // function above) and returns:
              //  -1 : if a < b
              //   0 : if a = b
              //   1 : if a > b
              // NaN : if a or b is an illegal date
              // NOTE: The code inside isFinite does an assignment (=).
              return (
                  isFinite(a=this.convert(a).valueOf()) &&
                  isFinite(b=this.convert(b).valueOf()) ?
                  (a>b)-(a<b) :
                  NaN
              );
          },
          inRange:function(d,start,end) {
              // Checks if date in d is between dates in start and end.
              // Returns a boolean or NaN:
              //    true  : if d is between start and end (inclusive)
              //    false : if d is before start or after end
              //    NaN   : if one or more of the dates is illegal.
              // NOTE: The code inside isFinite does an assignment (=).
             return (
                  isFinite(d=this.convert(d).valueOf()) &&
                  isFinite(start=this.convert(start).valueOf()) &&
                  isFinite(end=this.convert(end).valueOf()) ?
                  start <= d && d <= end :
                  NaN
              );
          }
      }

      function disableInputs() 
      {
        var caseStatus = '{!objCase.Status}';
        console.log('--case status--'+caseStatus);
        if(caseStatus == 'Submitted' || caseStatus == 'Approved' || caseStatus == 'Rejected' || caseStatus == 'Closed'
            || caseStatus == 'Cancelled')
        {
            $("input").prop('disabled', true);
            //$(".remove").prop('disabled', true);
            $(".remove").css("pointer-events","none");
            $("button").prop('disabled', true);
            $("select").prop('disabled', 'disabled');
            $('[id$=selectedUnits]').prop('disabled', false);
            $('[id$=generateSOA]').prop('disabled', false);
            $('[id$=unitDetail]').prop('disabled', false);
        }
      }
    </script>

</apex:component>