<apex:component controller="DashboardController">
    <style>
        .portfolioNTasks .well.recommendedProjects
        {
            min-height: 650px !important;
        }
        .doughNutLegends span.black{
            background-color : black;
        }
        .doughNutLegends span.green{
            background-color : #30B32D;
        }
        .doughNutLegends span.orange{
            background-color : #FD5F00;
        }
        #canvas-holder {
            width: 100%;
            text-align: left;
        }
        #chartjs-tooltip {
            opacity: 1;
            position: absolute;
            background: rgba(0, 0, 0, .7);
            color: white;
            padding: 0px;
            border-radius: 3px;
            -webkit-transition: all .1s ease;
            transition: all .1s ease;
            pointer-events: none;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
        #chartjs-tooltip.below {
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
        #chartjs-tooltip.below:before {
            border: solid;
            border-color: #111 transparent;
            border-color: rgba(0, 0, 0, .8) transparent;
            border-width: 0 8px 8px 8px;
            bottom: 1em;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            z-index: 99;
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
        }
        #chartjs-tooltip.above {
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
        }
        #chartjs-tooltip.above:before {
            border: solid;
            border-color: #111 transparent;
            border-color: rgba(0, 0, 0, .8) transparent;
            border-width: 8px 8px 0 8px;
            bottom: 1em;
            content: "";
            display: block;
            left: 50%;
            top: 100%;
            position: absolute;
            z-index: 99;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    </style>
    <style>
        body{
            font-family: 'Poppins', sans-serif;
        }

        .nav-side-menu ul, .nav-side-menu li {
            list-style-type:disc;
        }

        .nav-side-menu li a i.rightMenuIcon {
            position: absolute;
            margin: 0px 0px 0px -16px;
            padding-left: 0px;
        }
        .hand-point {
            cursor: pointer;
        }
        .cardStats .stat3:hover {
            background-color: #bb4fd2;
        }
        .myPortfolio thead.thead-default {
            background-color: #B2BED0;
            color: #fff;
        }

        .empt-placeholder {
            display: flex;
            height: 200px;
            align-items: center;
        }

        .empt-placeholder h5 {
            font-size: 24px;color: #337ab7;
        }


        @media (max-width: 767px)
        {
            .empt-placeholder{
                height: auto;
                width: 100%;
                text-align: center;
            }
        }
    </style>
    <!-- Number Statistics -->
    <div id="chartjs-tooltip"></div>
    <div class="cardStats">
        <div class="well stat1 hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'portfolio');">
            <div class="row">
                <br/>
                <div class="col-xs-2 col-sm-2">
                    <img class="" src="{!URLFOR($Resource.AllProcessesAssets, '/img/investment_active_card.png')}" alt=""/>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <h4 >{!strTotalSellingPrice} AED</h4>
                    <h6>Overall Portfolio Value</h6>
                </div>
            </div>
        </div>
        <div class="well stat2 hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'portfolio');">
            <div class="row">
                <br/>
                <div class="col-xs-2 col-sm-2">
                    <img class="" src="{!URLFOR($Resource.AllProcessesAssets, '/img/current_value.png')}" alt=""/>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <h4>{!strCurrentValue} AED</h4>
                    <h6>Current Portfolio Value</h6>
                </div>
            </div>
        </div>
        <div class="well stat3 hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'payments');">
            <div class="row">
                <br/>
                <div class="col-xs-2 col-sm-2">
                    <img class="" src="{!URLFOR($Resource.AllProcessesAssets, '/img/pending_payments.png')}" onclick="" alt=""/>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <h4>{!strTotalDue} AED</h4>
                    <!-- id="widget-payments-due" -->
                    <h6>Payments Due</h6>
                </div>
            </div>
        </div>
        <div class="well stat4 hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'payments');">
            <div class="row">
                <br/>
                <div class="col-xs-2 col-sm-2">
                    <img class="" src="{!URLFOR($Resource.AllProcessesAssets, '/img/next_payment.png')}" alt=""/>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <h4 id="next-payment-date" onclick="ccUtils.switchView('MyProfileView', '', 'payments');">
                        <apex:outputText value="{0,date,MM/dd/yy}">
                            <apex:param value="{!myNextPaymentDate}"/>
                        </apex:outputText>
                    </h4>
                    <h6>Next Payment Due</h6>
                </div>
            </div>
        </div>
        <div class="well stat5 hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'sr');">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
            <br/>
                <img class="" src="{!URLFOR($Resource.AllProcessesAssets, '/img/pending_request.png')}" alt=""/>
            </div>
            <div class="col-xs-8 col-sm-8">
                <!--<h4>{!pendingRequests}</h4>
                <h6>Pending Requests</h6>-->
                <h4>{!openCaseCount}</h4>
                    <h6>Open Service Requests</h6>
                    <h4>{!closedCaseCount}</h4>
                    <h6>Closed Service Requests</h6>
            </div>
        </div>
    </div>
    </div>
    <!-- Graphical Statistics -->
    <div class="row chartSection">
        <div class="col-xs-12 col-md-4">
            <!-- <div class="well"> -->
            <div class="well">
                <div class="row">
                    <div class="col-sm-12 cardHeading">
                        <h5>Service Request</h5>
                        <span class="pull-right dropdown">
                            <a class="dropdown-trigger dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                            <ul class="row dropdown-menu site-dropdown">
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-expand" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-arrows" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <!--Line Chart Section-->
                    <div class="col-sm-12">
                        <div class="chart-container service-request">
                            <canvas class="hand-point" id="canvas" onclick="ccUtils.switchView('MyProfileView', '', 'sr');"></canvas>
                        </div>
                        <apex:outputPanel rendered="{!openCaseCount==0 && closedCaseCount==0}">
                            <h5 style="margin-top: -124px;font-size: 24px;color: #337ab7;">
                        You have no pending cases
                    </h5>
                        </apex:outputPanel>
                    </div>
                    <div class="col-sm-12 pieLegends" style="margin-top: 10%;">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-sm-2">
                                    <span class="pink"></span>
                                </div>
                                <div class="col-sm-10">
                                    <h6>Open Service Requests</h6>
                                    <h4>{!openCaseCount}</h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="col-sm-2">
                                    <span class="blue"></span>
                                </div>
                                <div class="col-sm-10">
                                    <h6>Closed Service Requests</h6>
                                    <h4>{!closedCaseCount}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Booking Section ends here-->
        <!-- Performance Status -->
        <div class="col-xs-12 col-md-8">
            <div class="well my-project-progress">
                <div class="row">
                    <div class="col-sm-12 cardHeading">
                        <h5>My Project Progress</h5>
                        <span class="pull-right dropdown">
                            <a class="dropdown-trigger dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                            <ul class="row dropdown-menu site-dropdown">
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-expand" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="col-xs-4 col-md-4">
                                    <a href="#">
                                        <i class="fa fa-arrows" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group col-sm-12 projectSelection">
                        <apex:selectList size="1" value="{!bookingId}" style="color: black;" id="selectedUnit" onchange="getRemoteAccountNew();" styleClass="selectedstyle form-control notranslate">
                            <apex:selectOptions value="{!selectedBookingUnitfields}" />
                        </apex:selectList>
                        <!--
                <select class="form-control projectStatusBtn" id="projectMenu"><option value="">Select Project (select one)</option><option value="">The Trump Estate Park</option><option value="">Just Cavalli Villas</option><option value="">Golf Vita at DAMAC Hills</option><option value="">Bait Al Aseel</option><option value="">Aurum Villas</option></select>
                -->
                    </div>
                    <!--Doughnut Chart Section-->
                </div>
                <div class="row payment-progress">
                    <div class="col-sm-6">
                        <h5 class="pull-left unitChartTitle">Payment Progress</h5>
                        <div class="row doughNut">
                            <div id="canvas-holder2" style="display : none;margin-bottom:0px;">
                                <!-- class="col-sm-12" -->
                                <!-- style="display : none;width: 100%;" -->
                                <!-- <div class="chart-container" > -->
                                <!-- style="width: 100% !important;" -->
                                <center><canvas id="performance-chart" class="hand-point" onclick="ccUtils.switchView('MyProfileView', '', 'payments');"></canvas></center>
                                <!-- </div> -->
                                <!-- style="display: block;width: 100%;height: 100%" style="width: 100% !important;" -->
                            </div>
                            <div class="col-sm-12" id="canvas-holder1">
                                <div class="chart-container">
                                    <div class="empt-placeholder">
                                        <h5>
                                            No Data Available.
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 doughNutLegends">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="row">
                                            <!-- <div class="col-sm-2"><span class="green"></span></div><div class="col-sm-10"><h6>Total Paid Amount *</h6><h4 id="paid">0</h4></div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-4">
                                        <div class="row">
                                            <!-- <div class="col-sm-2"><span class="black"></span></div><div class="col-sm-10"><h6>Total Invoice Amount *</h6><h4 id="down">0</h4></div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="row">
                                            <!-- <div class="col-sm-2"><span class="orange"></span></div><div class="col-sm-10"><h6>Total Due Amount *</h6><h4 id="due">0</h4></div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-4">
                                        <!-- <div class="row"><div class="col-sm-2"><span class="black"></span></div><div class="col-sm-10"><h6>Base Price</h6><h4 id="totalPrice">0</h4></div></div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <!--  <h6><i>* Includes Dubai Land Department registration fees, oQood/Developer Self Registration fees, penalties, Title Deed fees, Utility recharges etc. if applicable</i></h6> -->
                                </div>
                                <br/>
                                <div class="row">
                                    <apex:inputText value="{!strSoAURL}" styleclass="soaURL" style="display:none"/>
                                    <!-- <h6><a href="https://www.dubailand.gov.ae/English/services/Eservices/Pages/Project-Indicator.aspx" target="_blank">
                                    Check Construction Update for Dubai Units Only</a></h6> -->
                                    <br/>
                                    <br/>
                                    <center><p id="accountStatement"><button id="generateSOA" type="button" class="btn btn-primary"
                                                value="Account Statement"
                                                 onclick="showSoA();"
                                                status="blockUI"
                                                    >Account Statement</button></p></center>
                                </div>
                                <div class="row">
                                    <br/>
                                    <center><button id="paymentPlan" type="button" class="btn btn-primary"
                                                value="Payment Plan"
                                                status="blockUI" onclick="ccUtils.switchView('MyProfileView', '', 'payments');"
                                              >Payment Plan</button></center>
                                </div>
                                <div class="row">
                                    <br/>
                                    <center><button id="receiptsbtn" type="button" class="btn btn-primary"
                                                value="Receipts"
                                                status="blockUI" onclick="ccUtils.switchView('MyProfileView', '', 'receipts');"
                                              >Receipts</button></center>
                                </div>
                                <div class="row">
                                    <br/>
                                    <center><button type="button" value="Make Payment"
                                                    class="btn btn-primary unitDetail">Make Payment</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <h5 class="pull-left unitChartTitle">Construction Progress (for Dubai Units Only)</h5>
                        <div class="row">
                            <!-- style="margin-bottom: 20px; width: 100%; text-align: left;" -->
                            <div>
                                <!-- class="col-sm-12" -->
                                <center><canvas id="foo" class="hand-point"></canvas></center>
                                <!-- style="width: 100% !important;" style="display: block;width: 100%;height: 100%" -->
                            </div>
                            <!-- </div> -->
                            <div class="col-sm-12 doughNutLegends">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <br/>
                                        <br/>
                                        <div class="col-sm-2">
                                            <span class="black"></span>
                                        </div>
                                        <div class="col-sm-10">
                                            <h6>Completion Date</h6>
                                            <h4 id="CurrentACD">0</h4>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <!-- <div class="col-sm-2"></div> -->

                                    <!--Removed RERA link on 4 Mar'20 (Shubham Suryawanshi)-->
                                    <!-- <div class="col-sm-12">
                                        <h6>
                                            <a href="https://www.dubailand.gov.ae/English/services/Eservices/Pages/Project-Indicator.aspx" target="_blank">
                            Check Construction Progress in Dubai Land Department website (for Dubai Units Only)</a>
                                        </h6>
                                    </div> -->
                                    
                                    <div class="col-sm-12">
                                        <h6>
                                            <!-- <apex:commandLink action="" id = 'inspecionUrl'
                                            target="_blank"><b>SPA</b></apex:commandLink>
                                                style="margin-left: 105px;" -->
                                            <center><!-- <button id="inspecionUrl" type="button" class="btn btn-primary"
                                                value="Download Rera Report"
                                                onclick="" target="_blank" >Download Rera Report</button> --></center>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <!-- <br/> -->
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <!-- <div class="col-sm-2"></div> -->
                                    <div class="col-sm-12">
                            <h6>

                                       Note: It may take between 45 to 90 days, from the above date, for handover notices to be progressively issued in batches. Your unit will be ready for viewing after you receive a Handover Notice from us.

                            </h6>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Performance Stats Section ends here -->
    </div>
    <!-- Graphical Statistics Ends here -->
    <!-- Case list section -->
    <div class="row portfolioNTasks">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Case List -->
            <div>
                <c:CaseList />
            </div>
        </div>
    </div>
    <!-- Case list section ends here -->
    <!-- Portfolio and Task Row -->
    <div class="row portfolioNTasks">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <c:My_Portfolio AccountId="{!customerAccount.Id}"/>
        </div>
        <!-- My Portfolio Ends Here -->
        <!-- Recommended Projects -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <!-- <div class="well recommendedProjects serviceRecommended"><div class="row"><div class="col-xs-12 col-sm-12 cardHeading"><h5 class="pull-left">Recommended Projects</h5><span class="pull-right dropdown"><a class="dropdown-trigger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a><ul class="row dropdown-menu site-dropdown"><li class="col-xs-4 col-md-4"><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li><li class="col-xs-4 col-md-4"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></li><li class="col-xs-4 col-md-4"><a href="#"><i class="fa fa-arrows" aria-hidden="true"></i></a></li></ul></span></div> -->
            <!-- <div id="myCarousel" class="col-xs-12 col-sm-12 side-section" > -->
            <!-- <c:OffersCarousel /> -->
            <c:Be_My_Colleague />
            <!-- </div> -->
            <!-- </div></div> -->
        </div>
        <!---------------Recommended Projects ends here------------------->
    </div>
    <!-- Portfolio and Task Row Ends Here -->
    <!-- Recent Activity and Calendar Row -->
    <!-- Recent Activity ends here -->
    <!-- Calendar Section
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7"><div class="well calendarContainer"><div class="row"><div class="col-sm-12"><c:FullCalendar /></div></div></div></div></div> Recent Activity and Calendar Row Ends here -->
    <script>
    Chart.defaults.global.customTooltips = function(tooltip) {
          // Tooltip Element
          var tooltipEl = $('#chartjs-tooltip');
            // Hide if no tooltip
            if (!tooltip) {
                tooltipEl.css({
                    opacity: 0
                });
                return;
            }

            // Set caret Position
            tooltipEl.removeClass('above below');
            tooltipEl.addClass(tooltip.yAlign);

            // Set Text
            tooltipEl.html(tooltip.text);

            // Find Y Location on page
            var top;
            if (tooltip.yAlign == 'above') {
                top = tooltip.y - tooltip.caretHeight - tooltip.caretPadding;
            } else {
                top = tooltip.y + tooltip.caretHeight + tooltip.caretPadding;
            }

            // Display, position, and set styles for font
            tooltipEl.css({
                opacity: 1,
                left: tooltip.chart.canvas.offsetLeft + tooltip.x + 'px',
                top: tooltip.chart.canvas.offsetTop + top + 'px',
                fontFamily: tooltip.fontFamily,
                fontSize: tooltip.fontSize,
                fontStyle: tooltip.fontStyle,
            });
        };
    </script>
    <script>
    var firstRun = false;
     ccUtils.blockScreen();
    //$.blockUI({ message: $('#domMessage') });
    $(document).ready(function(){
        ccUtils.unblockScreen();
        getRemoteAccountNew();

    });

    $('.unitDetail').off('click').on('click',function unitDetailPage() {

      var unitId = $(".selectedstyle").val();
      console.log('>>>unitId',unitId );
      /*if (!unitId) {
        return;
      }*/
      ccUtils.switchView('UnitDetail',unitId,'');
    });

    function getRemoteAccountNew(){
        var registration = $(".selectedstyle").val();
        ccUtils.blockScreen('.my-project-progress');
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.DashboardController.fetchPaymentDetails_SFnIPMS}',
            registration,
            function(result, event){
                console.log(result);
                if (event.status) {
                    $("#paid").html(ccUtils.formatCurrency(result.paidamount));
                    // $("#down").html(result.deposit);
                    $("#down").html(ccUtils.formatCurrency(result.deposit));
                    // $("#due").html(result.totalDue);
                    $("#due").html(ccUtils.formatCurrency(result.totalDue));
                    $("#totalPrice").html(ccUtils.formatCurrency(result.totalprice));
                    $("#widget-payments-due").html(result.strPaymentDue);
                    $("#next-payment-date").html(result.strNextPaymentDate);
                    $("#percentStatus").html(result.constructionPercentage+'% Complete');
                    $("#CurrentACD").html(result.strCurrentACD);
                    //$("#ACDDate").html(result.strACDDate);
                    $("#progressBar").css("width",result.constructionPercentage+'%');
                    $("#progressBar").html(result.constructionPercentage+'% Complete');
                    //$('#inspecionUrl').attr("onclick",'window.location.href='+'\"'+result.inspecionURL+'\"');
                    $('#inspecionUrl').attr("onclick",'window.open('+'\"'+result.inspecionURL+'\"'+',"_blank")');
                    console.log('>>>>inspecionUrl '+result.inspecionURL);
                    checkPerformanceChart(result);
                    newFunction(result);
                    newFunctionACD(result);
                    ccUtils.unblockScreen('.my-project-progress');
                }else if (event.type === 'exception') {
                    $('.my-project-progress').unblock();
                    ccUtils.unblockScreen('.my-project-progress');
                }else {
                    $('.my-project-progress').unblock();
                    ccUtils.unblockScreen('.my-project-progress');
                }
            },
            {escape: true}
        );
    }

    // function getRemoteAccount() {
    //     var registration = $(".selectedstyle").val();
    //     //$('.my-project-progress').block({ message:  $('#domMessage') });
    //     ccUtils.blockScreen('.my-project-progress');
    //     // $.blockUI({ message:  });
    //     Visualforce.remoting.Manager.invokeAction(
    //         '{$RemoteAction.DashboardController.PaymentDetails}',
    //         registration,
    //         function(result, event){
    //             if (event.status) {
    //                 // $("#paid").html(result.paidamount);
    //                 $("#paid").html(ccUtils.formatCurrency(result.paidamount));
    //                 // $("#down").html(result.deposit);
    //                 $("#down").html(ccUtils.formatCurrency(result.deposit));
    //                 // $("#due").html(result.totalDue);
    //                 $("#due").html(ccUtils.formatCurrency(result.totalDue));
    //                 $("#widget-payments-due").html(result.strPaymentDue);
    //                 $("#next-payment-date").html(result.strNextPaymentDate);
    //                 $("#percentStatus").html(result.dblPercent+'% Complete');
    //                 $("#CurrentACD").html(result.strCurrentACD);
    //                  $("#progressBar").css("width",result.dblPercent+'%');
    //                 $("#progressBar").html(result.dblPercent+'% Complete');
    //                 renderPerformanceChart(result);
    //                 checkPerformanceChart(result);
    //                 //$('.my-project-progress').unblock();
    //                 ccUtils.unblockScreen('.my-project-progress');
    //             } else if (event.type === 'exception') {
    //                 $('.my-project-progress').unblock();
    //                 ccUtils.unblockScreen('.my-project-progress');
    //             } else {
    //                 $('.my-project-progress').unblock();
    //                 ccUtils.unblockScreen('.my-project-progress');
    //             }
    //         },
    //         {escape: true}
    //     );
    // }

    var checkPerformanceChart = function(result){
        //console.log('>> result.totalprice : ',result.totalprice);
        if(result.totalprice == 0 ){
            $('#canvas-holder1').show();
            $("#canvas-holder2").hide();
        }
        else{
            $("#canvas-holder2").show();
        }
    }
    function showSoA(){

     var registration = $(".selectedstyle").val();
     console.log(">>>>>>>registration",registration);
        ccUtils.blockScreen('.my-project-progress');
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.DashboardController.GenarateSOA}',
            registration,
            function(result, event){
                console.log(result);
                if (event.status) {
                   var arrayEnglish;
                    var arrayOtherLang= [];
                    for (var n=0; n<result.length; n++){
                        var result1 = result[n];
                        console.log('-->> result1 : ', result1 , ' --- ', n);
                        var arrayUrlAndLang = result1.split('-');
                        console.log('-->> arrayUrlAndLang : ', arrayUrlAndLang);
                        console.log('-->> arrayUrlAndLang[0] : ', arrayUrlAndLang[0]);
                        console.log('-->> arrayUrlAndLang[1] : ', arrayUrlAndLang[1]);
                        if(arrayUrlAndLang[1] == 'English'){
                            arrayEnglish = arrayUrlAndLang[0];
                        } else {
                            arrayOtherLang[0] = arrayUrlAndLang[0];
                            arrayOtherLang[1] = arrayUrlAndLang[1];
                        }
                    }
                    if(arrayOtherLang && arrayOtherLang.length > 0){
                        document.getElementById("accountStatement").innerHTML = '<span style="width:auto;"><a href="' + arrayEnglish + '" target="_blank">Click to View</a></span><span style="width:auto;"><a href="' + arrayOtherLang[0] + '" target="_blank">Click to View in ' + arrayOtherLang[1] + '.</a></span>';
                    } else {
                        document.getElementById("accountStatement").innerHTML = '<span style="width:auto;"><a href="' + arrayEnglish + '" target="_blank">Click to View</a></span>';
                    }
                    $('.my-project-progress').unblock();
                    ccUtils.unblockScreen('.my-project-progress');
                }else if (event.type === 'exception') {
                    $('.my-project-progress').unblock();
                    ccUtils.unblockScreen('.my-project-progress');
                }else {
                    $('.my-project-progress').unblock();
                    ccUtils.unblockScreen('.my-project-progress');
                }
            },
           {buffer: true, escape: true, timeout: 150000}
        );
    }

var newFunction = function(result){
    console.log(result);
    if(result.totalprice != 0){
    $('#canvas-holder1').hide();
    var opts = {
          angle: 0.16,
          lineWidth: 0.44,
          limitMax: 'true',
          strokeColor: '#ff0000',
          radiusScale: 1,
          generateGradient: true,
            pointer: {
            length: 0.5, // // Relative to gauge radius
            strokeWidth: 0.03, // The thickness
            color: '#ff0000' // Fill color
          },
          staticLabels: {
              font: "90% sans-serif",  // Specifies font
              labels: [0, result.totalprice],  // Print labels at these values
              color: "black",  // Optional: Label text color
              fractionDigits: 0  // Optional: Numerical precision. 0=round off.
            },  // just experiment with them
          strokeColor: '#ff0000',   // to see which ones work best for you
          staticZones: [
           {strokeStyle: "#30B32D", min: 0, max: result.ipmsAmountPaid}, // Yellow
           {strokeStyle: "#FD5F00", min: result.ipmsAmountPaid, max: result.ipmsInvoiceRaised}, // Yellow
           {strokeStyle: "#FFDD00", min: result.ipmsInvoiceRaised, max: result.totalprice}, // Green
           // {strokeStyle: "#2E78BC", min: 66, max: 100}, // Yellow
          ],
          generateGradient: true

    };

    var target = document.getElementById('performance-chart'); // your canvas element
    console.log(target);
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    console.log(gauge);
    // gauge.availableHeight = 105;
    gauge.minValue = 0;
    gauge.maxValue = result.totalprice; // set max gauge value
    gauge.animationSpeed = 32; // set animation speed (32 is default value)
    gauge.set(result.ipmsAmountPaid);
    console.log(gauge);
    console.log('>>>>>>>>>>>>>>ipmsAmountPaid',result.ipmsAmountPaid);
    console.log('>>>>>>>>>>>>>>ipmsInvoiceRaised',result.ipmsInvoiceRaised);
    console.log('>>>>>>>>>>>>>>totalprice',result.totalprice);

    $("#totalPrice").html(result.totalprice);
    $("#paid").html(result.ipmsAmountPaid);
    $("#down").html(result.ipmsInvoiceRaised);
    $("#due").html((result.ipmsInvoiceRaised)-(result.ipmsAmountPaid));

    }
}

var newFunctionACD = function(result){
    var opts = {
          angle: 0.16,
          lineWidth: 0.44,
          limitMax: 'true',
          strokeColor: '#ff0000',
          radiusScale: 1,
          generateGradient: true,
            pointer: {
            length: 0.5, // // Relative to gauge radius
            strokeWidth: 0.03, // The thickness
            color: '#ff0000' // Fill color
          },
          staticLabels: {
              font: "90% sans-serif",  // Specifies font
              labels: [result.constructionPercentage],  // Print labels at these values
              color: "black",  // Optional: Label text color
              fractionDigits: 0  // Optional: Numerical precision. 0=round off.
            },  // just experiment with them
          strokeColor: 'red',   // to see which ones work best for you
          staticZones: [
           {strokeStyle: "#30B32D", min: 0, max: result.constructionPercentage}, // Yellow
           {strokeStyle: "#FFDD00", min: result.constructionPercentage, max: 100}, // Green
           // {strokeStyle: "#2E78BC", min: 66, max: 100}, // Yellow
          ],
          generateGradient: true
    };
    var target = document.getElementById('foo'); // your canvas element
    var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
    gauge.maxValue = 100; // set max gauge value
    gauge.animationSpeed = 32; // set animation speed (32 is default value)
    // gauge.availableHeight = 105;
    gauge.set(result.constructionPercentage);
}

var renderPerformanceChart = function(result){

            //@TODO replace with count
            // @TODO make sure the order is correct
            $('#canvas-holder1').hide();
            var config_myDoughnut = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                        result.paidamount,
                        result.deposit,
                        result.totalDue,
                        ],
                        backgroundColor: [
                        window.chartColors.purple,
                        window.chartColors.yellow,
                        window.chartColors.blue,
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                    "",
                    "",
                    ""
                    ]
                },
                options: {
                    tooltips: {
                        enabled: true
                    },
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'top'
                    },
                    title: {
                        display: false,
                        text: 'Performance Status'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            var qtx = document.getElementById("performance-chart").getContext("2d");
            if( window.myDoughnut ){
                window.myDoughnut.clear();
                window.myDoughnut.destroy();
            }
            window.myDoughnut = new Chart(qtx, config_myDoughnut);
        }

        //-------------------Booking and Request Chart--------------------
        //********************* Line Chart ******************
        function onDocumentLoad(){

            // $("#progressBar").css("display",'none');

        }


        window.onload = function() {
            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            // '1','1'
                            parseInt('{!openCaseCount}'),
                            parseInt('{!closedCaseCount}')
                            ],
                            backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.blue,
                            ],
                            label: 'Dataset 1'
                        }],
                        labels: [
                        "Open",
                        "Closed"
                        ]
                    },
                    options: {

                        responsive: true,
                        legend: {
                            display: false,
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: 'Performance Status'
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        }
                    }
                };

                var ctx = document.getElementById("canvas").getContext("2d");
                window.myLine = new Chart(ctx, config);

            //-------------------Performance Status--------------------
            // var qtx = document.getElementById("performance-chart").getContext("2d");
            // window.myDoughnut = new Chart(qtx, config_myDoughnut);
            // window.myDoughnut.clear();

            //-------------------Project Status--------------------
            // var ptx = document.getElementById("projectStatus").getContext("2d");
            // window.myLine = new Chart(ptx, config_projectStatus);

            //-------------------Progress Bar--------------------
            /*var elem = document.getElementById("myBar");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= 60) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.width = width + '%';
                }
            };*/

            //-------------------Nice Scroll--------------------
            //var nice = $("html").niceScroll();  // The document page (body)
            //$(".recommendedProjects").niceScroll({cursorborder:"",cursorcolor:"#d6d6d6",boxzoom:true}); // First scrollable DIV

            //-------------------Live Chat--------------------
            (function() {
                $('#live-chat header').on('click', function() {
                    $('.chat').slideToggle(300, 'swing');
                    $('.chat-message-counter').fadeToggle(300, 'swing');
                });
                $('.chat-close').on('click', function(e) {
                    e.preventDefault();
                    $('#live-chat').fadeOut(300);
                });
            }) ();

        };

        //---------------------------Calendar Script----------------------------
       /* $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                defaultDate: '2017-09-12',
                navLinks: true, // can click day/week names to navigate views

                weekNumbers: true,
                weekNumbersWithinDays: true,
                weekNumberCalculation: 'ISO',

                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                {
                    title: 'All Day Event',
                    start: '2017-09-01',
                    color: '#3a87ad'
                },
                {
                    title: 'Long Event',
                    start: '2017-09-07',
                    end: '2017-09-10',
                    color: '#f39c12'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-09-09T16:00:00',
                    color: '#00c0ef'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-09-16T16:00:00',
                    color: '#00c0ef'
                },
                {
                    title: 'Conference',
                    start: '2017-09-11',
                    end: '2017-09-13',
                    color: '#f56954'
                },
                {
                    title: 'Meeting',
                    start: '2017-09-12T10:30:00',
                    end: '2017-09-12T12:30:00',
                    color: '#00a65a'
                },
                {
                    title: 'Meeting',
                    start: '2017-09-12T14:30:00',
                    color: '#00a65a'
                },
                {
                    title: 'Dinner',
                    start: '2017-09-12T20:00:00',
                    color: '#f56954'
                },
                {
                    title: 'Birthday Party',
                    start: '2017-09-13T07:00:00',
                    color: '#00a65a'
                }
                ]
            });
        });*/
    </script>
</apex:component>