<apex:component layout="none">

      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" /> -->
      <script src="{!URLFOR($Resource.PortalAssets, '/assets/js/bootstrap-multiselect.js')}" />
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/upload.js')}" />
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/ease.js')}" />
      <script src="{!URLFOR($Resource.PortalAssets, '/assets/js/fileinput.min.js')}" />
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/steps.js')}" />
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/moment.js')}" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
      <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/15.2.5/js/dx.chartjs.js"></script> -->
      <script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/utils.js')}" />
      <script src="{!URLFOR($Resource.AllProcessUpdated,'js/fullcalendar.min.js')}" />
      <!-- <script src="{!URLFOR($Resource.AllProcessUpdated,'js/jquery.nicescroll.min.js')}" /> -->

    <!--  <script src="{!URLFOR($Resource.AllProcessUpdated,'js/customerchart.js')}" /> -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" />

</apex:component>