<apex:component >

  <div class="row">


    <div class="col-lg-5 col-md-5">
      <div class="">
        <div class="well profileDisplay">
          <section>
            <c:GenericDataRenderer configDocumentName="{!IF(BEGINS($CurrentPage.parameters.id, '500'),'CaseDetailsDisplayConfig','FmcCaseDetailsDisplayConfig')}" recordId="{!$CurrentPage.parameters.id}" callbackNamespace="fmcCaseDetails" callback="caseDataRenderCallback" />
          </section>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var fmcCaseDetails = {};

      fmcCaseDetails.caseDataRenderCallback = function(config) {
        fmcCaseDetails.showContextActions(config);
      }

      fmcCaseDetails.getViewUrlForRequestType = function(requestType, srId) {
        switch (requestType) {
          case 'Service Charge Enquiry':
            return '?view=ServiceChargeEnquiry&id=' + srId;
            break;
          case 'Move In':
            return '?view=MoveIn&id=' + srId;
            break;
          case 'Move Out':
            return '?view=MoveOut&id=' + srId;
            break;
          case 'Suggestion':
            return '?view=Suggestions&id=' + srId;
            break;
          case 'Tenant Registration':
            return '?view=TenantRegistration&id=' + srId;
            break;
          case 'Maintenance Request':
            return '?view=HelpdeskRequest&id=' + srId;
            break;
          case 'Proof Of Payment':
            return '?view=ProofOfPayment&id=' + srId;
            break;
          case 'Tenant Renewal':
            return '?view=TenantRenewal&id=' + srId;
            break;
          case 'Appointment':
            return '?view=NewAppointment&id=' + srId;
            break;
          case 'Change of Contact Details':
            return '?view=COCD&id=' + srId + '&CaseId=' + srId;
            break;
          case 'Name Nationality Change':
            return '?view=COCD&id=' + srId + '&CaseId=' + srId;
            break;
          case 'Passport Detail Update':
            return '?view=COCD&codType=Passport Detail Update&id=' + srId + '&CaseId=' + srId;
            break;
          case 'Vacation Notice':
            return '?view=VacationNotice&id=' + srId;
            break;
          case 'Work Permit':
            return '?view=ApplyWorkPermit&id=' + srId;
            break;
          case 'Request For Built-in Drawings':
            return '?view=asbuiltdrawings&id=' + srId;
            break;
          case 'Request For Access Card':
            return '?view=AccessCards&id=' + srId;
            break;
          case 'Gate Pass Request':
            return '?view=GatePassRequest&id=' + srId;
            break;
          case 'NOC for Fit out/Alterations':
            return '?view=NOCforFitOutAlterations&id=' + srId;
            break;
          default:
            return '?view=&id=' + srId;
        }
      }

      fmcCaseDetails.showContextActions = function(config) {
        if (!config || !config.dataList || !config.dataList.length) {
          return;
        }
        var sr = config.dataList[0];
        if (sr.Status__c === 'New' || sr.Status__c === 'Draft Request' || sr.Status__c === 'In Progress' || sr.Status__c === 'Awaiting Correction') {
          $('#FmcCaseDetailsDisplayConfig span.status').after('<span><a class="btn btn-primary btn-edit-sr">Edit</a></span>');

          $('.btn-edit-sr').attr('href', fmcCaseDetails.getViewUrlForRequestType(sr.Request_Type__c, sr.Id));

          if (sr.Status__c === 'Awaiting Correction' && sr.CRE_Comments__c) {
            $('.btn-edit-sr').closest('span').before(
              '<span style="margin: 1rem;"><b>Comments: </b> ' + sr.CRE_Comments__c + '</span>'
            );
          }
        }
      }
    </script>

  </div>

</apex:component>