<apex:component controller="FmcProofOfPaymentController" allowDML="true" >
  <link rel="stylesheet" type="text/css"
      href="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/normalize.css')}" />
  <link rel="stylesheet" type="text/css"
      href="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-default.css')}" />
  <link rel="stylesheet" type="text/css"
      href="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/css/ns-style-bar.css')}" />

  <apex:stylesheet value="{!URLFOR($Resource.FM_CSS, 'HTML/assets/css/style.css')}" />

  <script
    src="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/modernizr.custom.js')}"></script>
  <script
    src="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/classie.js')}"></script>
  <script
    src="{!URLFOR($Resource.NotificationStyles, 'NotificationStyles/js/notificationFx.js')}"></script>

  <style>
    /*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");*/

    .uploadIcon {
      vertical-align: middle;
      color: #a9a9a9;
      margin-right: 8px;
      font-size: 48px!important;
    }

    .well.recent-pop .col-lg-2, .well.recent-pop .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px;
    }
    .well.recent-pop .formLabelValue {
      font-size: 13px!important;
    }
    .well.recent-pop .row {
        margin-bottom: 0.5rem;
    }
  </style>

  <apex:inputHidden value="{!strDocumentBody}" id="DocumentBody" />
  <apex:inputHidden value="{!strDocumentName}" id="DocumentName" />

  <section class="main-content-section"
    style="padding-left: 0px; padding-top: 0px;">

    <apex:outputPanel id="POPBlock" layout="block">
      <section id="">
        <div class="well">
          <div style="float: right">
            <apex:outputLink value="{!strHelpPageId}"
              rendered="{!NOT(ISNULL(strHelpPageId))}" target="_blank">
              <small>Help for this process?</small>
            </apex:outputLink>
          </div>
          <h4>Proof Of Payment</h4>
        <!-- </div> -->

        <apex:inputHidden id="strCaseId" value="{!strCaseId}"/>
        <apex:pageMessages id="messages" escape="false"></apex:pageMessages>

<!--       </section>

      <section>
        <div class="well"> -->
        <h4>Select Units :</h4>
        <p>Select Unit(s) in order to enter document details for your Proof Of Payment</p>
        <apex:outputPanel layout="block"
              rendered="{!NOT(ISNULL(lstUnitsWrap)) && lstUnitsWrap.size > 0}">



          <!-- <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <label>Checkbox</label>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <label>Unit Name</label>
              </div>
            </div>
          </div> -->

          <apex:repeat value="{!lstUnitsWrap}" var="objUnitItr">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-check">
                  <label>
                    <apex:inputCheckBox value="{!objUnitItr.isChecked}" styleclass="chk-unit"/><span class="label-text">{!objUnitItr.objUnit.Unit_Name__c}</span>
                  </label>
                </div>
              </div>
            </div>
          </apex:repeat>
        </apex:outputPanel>
        <apex:outputPanel layout="block"
              rendered="{!ISNULL(lstUnitsWrap) || lstUnitsWrap.size == 0}">
          No units to display.
        </apex:outputPanel>
        </div>
      </section>

       <!-- <section id="">
        <div class="well">
          <h4>Unit Details</h4>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>Unit Name</label>
                <div>
                  <apex:outputText value="{!objUnit.Unit_Name__c}" />
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Price</label>
                <div>
                  <apex:outputText value="{!objUnitInfoWrap.strPrice}"/>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Amount Paid</label>
                <div>
                  <apex:outputText value="{!objUnitInfoWrap.strAmountPaid}" />
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Outstanding</label>
                <div>
                  <apex:outputText value="{!objUnitInfoWrap.strTotalOutstanding}" />
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label>Overdue</label>
                <div>
                  <apex:outputText value="{!objUnitInfoWrap.strAmountOverdue}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->


      <section id="">
        <div class="well recent-pop">
          <h4>Recent Proof Of Payments</h4>

          <apex:outputPanel layout="block"
                    rendered="{! NOT(ISNULL(lstRecentAttachment)) && lstRecentAttachment.size>0 }" >
            <div class="row">
              <div class="col-lg-1" style="padding-left: 15px;">
                <div class="form-group">
                  <label class="formLabel">Case Number</label>
                </div>
              </div>
              <div class="col-lg-2" style="padding-left: 15px; padding-right: 15px;">
                <div class="form-group">
                  <label class="formLabel">Payment Date</label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="formLabel">Payment Mode</label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="formLabel">Allocation Remarks</label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="formLabel">Currency</label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="formLabel">Total Amount</label>
                </div>
              </div>
              <div class="col-lg-1">
                <div class="form-group">
                  <label class="formLabel">Document</label>
                </div>
              </div>
            </div>
            <apex:repeat value="{!lstRecentAttachment}" var="objAttach" >
              <div class="row">
                <div class="col-lg-1" style="padding-left: 15px;">
                  <div class="form-group formLabelValue">
                    {!objAttach.FM_Case__r.Name}
                  </div>
                </div>
                <div class="col-lg-2" style="padding-left: 15px; padding-right: 15px;">
                  <div class="form-group formLabelValue">
                    <apex:outputText value="{0,date,dd-MMM-yyyy}">
                      <apex:param value="{!objAttach.FM_Case__r.Payment_Date__c}"/>
                    </apex:outputText>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group formLabelValue">
                    {!objAttach.FM_Case__r.Payment_Mode__c}
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group formLabelValue">
                    {!objAttach.FM_Case__r.Payment_Allocation_Details__c}
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group formLabelValue">
                    {!objAttach.FM_Case__r.Currency__c}
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group formLabelValue">
                    {!objAttach.FM_Case__r.Total_Amount__c}
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group formLabelValue">
                    <apex:outputLink value="{!objAttach.Attachment_URL__c}"
                              target="_blank">VIEW</apex:outputLink>
                  </div>
                </div>
              </div>
            </apex:repeat>
          </apex:outputPanel>

          <apex:outputPanel layout="block"
                    rendered="{!ISNULL(lstRecentAttachment) || lstRecentAttachment.size==0 }"
                    style="text-align: center;">
            <h5>No Recent Proof Of Payments.</h5>
          </apex:outputPanel>

        </div>
      </section>

      <section id="">
        <div class="well">
          <h4>Payment Details</h4>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Payment Date</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl inpPaymentDate"
                           value="{!objFMCase.Payment_Date__c}" showDatePicker="false"/>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Payment Mode</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl mandatory"
                           value="{!objFMCase.Payment_Mode__c}" />
                  <span class="glyphicon glyphicon-menu-down selectDownIcon"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Payment Allocation Details</label>
                <div>
                    <apex:inputField styleClass="form-control siteFormControl"
                           value="{!objFMCase.Payment_Allocation_Details__c}" id="allocationDetails" />
                    <span id="myCounter"><strong> 100 </strong> characters remaining</span>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Currency</label>
                <div>
                  <!-- <apex:inputField styleClass="form-control siteFormControl" -->
                                    <!-- value="{!objFMCase.Currency__c }" /> -->
                  <apex:selectList size="1"
                       multiselect="false"
                       value="{!objFMCase.Currency__c}"
                       styleClass="form-control siteFormControl mandatory">
                    <apex:selectOptions value="{!lstCurrency}"/>
                  </apex:selectList>
                  <span class="glyphicon glyphicon-menu-down selectDownIcon"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Total Amount</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl mandatory"
                           value="{!objFMCase.Total_Amount__c}" />
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Sender Name</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl"
                           value="{!objFMCase.Sender_Name__c}" />
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Bank Name</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl"
                           value="{!objFMCase.Bank_Name__c}" />
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="formLabel">Swift Code</label>
                <div>
                  <apex:inputField styleClass="form-control siteFormControl"
                           value="{!objFMCase.Swift_Code__c}" />
                </div>
              </div>
            </div>
          </div>

          <apex:outputPanel id="UploadCaseButton" layout="block">
            <apex:outputPanel rendered="{!ISNULL(objFMCase.Id)}"
                layout="block"
                style="text-align: right;">
            <apex:commandButton value="Upload Documents"
                  action="{!insertCase}"
                  status="blockUI"
                  styleClass="btn btn-sm btn-success"
                  reRender="DocumentsBlock,UploadCaseButton"
                  onComplete="bindFileChangeEvent(); validateSubmission(); return false;"/>
            </apex:outputPanel>
          </apex:outputPanel>
        </div>
      </section>

      <apex:outputPanel id="DocumentsBlock" layout="block">
        <apex:outputPanel rendered="{!NOT(ISNULL(objFMCase.Id))}" layout="block">
          <section id="">
            <div class="well">
              <h4>Documents</h4>

              <apex:outputPanel layout="block"
                      rendered="{! NOT(ISNULL(lstDocuments)) && lstDocuments.size>0 }">
                <apex:variable var="Index" value="{!1}"/>
                <apex:repeat value="{!lstDocuments}" var="objDoc">
                  <div class="row">
                    <div class="col-lg-2">
                      <i class="material-icons uploadIcon">cloud_upload</i>
                    </div>
                    <div class="col-lg-5" style="/*margin-top: 13px;*/">
                      {!objDoc.Document_Name__c}
                      <span style="{!IF(objDoc.Mandatory__c, '', 'display: none;')} color:red;font-size: initial;"> *</span>
                      <input type="file" name="file" id="file{!Index}"
                         class="inputfile {!IF(objDoc.Mandatory__c,'required','')}"/>
                      <label for="file{!Index}"><span>Select File</span></label>
                    </div>
                    <!-- <div class="col-lg-5 text-center">
                    </div> -->
                    <div class="col-lg-2" style="margin-top: 13px;">
                      <button id="UploadButton{!Index}"
                           onClick="return attachDocuments(this)"
                           class="btn btn-primary uploadBtn"
                           html-data-inputId="file{!Index}"
                           html-data-fileName="{!objDoc.DeveloperName}">Upload</button>
                    </div>
                  </div>
                  <apex:variable var="Index" value="{!Index+1}"/>
                </apex:repeat>
              </apex:outputPanel>

              <apex:outputPanel layout="block"
                  rendered="{! NOT(ISNULL(lstUploadedDocs)) && lstUploadedDocs.size>0 }">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Document Name</label>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group text-center">
                      <label>Type</label>
                    </div>
                  </div>
                  <!-- <div class="col-lg-1">
                    <div class="form-group text-center">
                      <label>Verified</label>
                    </div>
                  </div> -->
                  <div class="col-lg-4">
                    <div class="form-group text-center">
                      <label>Action</label>
                    </div>
                  </div>
                </div>
                <apex:repeat value="{!lstUploadedDocs}" var="objDoc">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>{!objDoc.Name}</label>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group text-center">
                        <label>{!objDoc.Type__c}</label>
                      </div>
                    </div>
                    <!-- <div class="col-lg-1">
                      <div class="form-group text-center">
                        <label>{!objDoc.isValid__c}</label>
                      </div>
                    </div> -->
                    <div class="col-lg-4">
                      <div class="form-group text-center">
                        <apex:outputLink value="{!objDoc.Attachment_URL__c}"
                                 target="_blank">VIEW</apex:outputLink>
                        <apex:commandLink action="{!deleteAttachment}"
                            styleClass="delLink"
                  onclick="if(!confirm('Are you sure?')) return false;"
                  reRender="DocumentsBlock"
                  status="blockUI"
                  style="padding-left: 25px;"
                  oncomplete="validateSubmission()"> DELETE
                        <apex:param value="{!objDoc.Id}"
                            name="recToDel2"
                assignTo="{!deleteAttRecId}" />
            </apex:commandLink>
                      </div>
                    </div>
                  </div>
                </apex:repeat>
              </apex:outputPanel>

              <apex:outputPanel layout="block"
                      rendered="{! ( ISNULL(lstDocuments) || lstDocuments.size==0 ) &&
                           ( ISNULL(lstUploadedDocs) || lstUploadedDocs.size==0) }"
                      style="text-align: center;">
                <h5>No documents needed.</h5>
              </apex:outputPanel>
            </div>
          </section>
        </apex:outputPanel>
      </apex:outputPanel>

      <section id="">
        <div class="well">
          <div class="row" style="text-align: center;">
            <apex:commandButton Id="submitButton"
                  action="{!submitSr}"
                      value="Submit"
                      styleClass="btn btn-sm btn-success"
                      status="blockUI"
                      reRender="tempBlock,POPBlock" oncomplete="checkSrStatus();"/>

            <apex:commandButton value="Save as Draft"
                  action="{!saveAsDraft}"
                      status="blockUI"
                      styleClass="btn btn-sm btn-success"
                      style="margin-left: 40px;"
                      reRender="tempBlock,POPBlock" oncomplete="checkSrStatus();"/>
          </div>
        </div>
      </section>

    </apex:outputPanel>
  </section>

  <apex:actionFunction status="blockUI"
         name="uploadDocument"
         action="{!uploadDocument}"
         reRender="DocumentsBlock"
         oncomplete="validateSubmission();" />

<!--     <apex:actionFunction status="blockUI"  -->
<!--               name="insertCase" -->
<!--                 action="{!insertCase}"  -->
<!--                 reRender="tempBlock DocumentsBlock" -->
<!--                 oncomplete="validateSubmission();" /> -->

  <apex:outputPanel id="tempBlock"
        layout="block">
  <script>
      var caseStatus = '{!objFMCase.Status__c}';
    </script>
  </apex:outputPanel>

    <script>
    var text_max = '100';
    $('[id$=allocationDetails]').on( "keyup", countCharacters);
    function countCharacters() {
        var text_length = $('[id$=allocationDetails]').val().length;
        var textEntered = $('[id$=allocationDetails]').val();
        console.log('===text_max=', text_max);
        if (text_length > text_max)
            textEntered = textEntered.substring(0, text_max);
        var text_remaining = text_max - text_length;

        $('#myCounter').html('<strong>' + text_remaining + '</strong> characters remaining');
    }

    window.onload = function () {

      $('.inpPaymentDate').datepicker({
        daysOfWeekDisabled: [5,6]
      });

      //insertCase();
      validateSubmission();
      var disablesub = {!disableIt};
      if(disablesub == false){
        $('[id$=submitButton]').prop("disabled", true);
      }
      disableInputs();
      bindFileChangeEvent();
    };

    function bindFileChangeEvent() {
      // To show file name for input type : File
      $( '.inputfile' ).each( function(){
        var $input   = $(this),
        $label   = $input.siblings( 'label' ),
        labelVal = $label.html();

        $input.change(function(e) {
          var fileName = '';

          if( this.files && this.files.length > 1 )
            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
          else if( e.target.value )
            fileName = e.target.value.split( '\\' ).pop();

          if( fileName )
            $label.children('span').html( fileName );
          else
            $label.html( labelVal );
        });
      });
    };

    function disableInputs() {
      var caseStatus = '{!objFMCase.Status__c}';
      if( caseStatus == 'Submitted' ) {
        $(".main-content-section :input").prop('disabled', true);
        $('.delLink').hide();
      }
    }

    function attachDocuments(e){
      // console.log('==Attach Doc method called ==');
      // console.log('== input Id ==',$(e).attr('html-data-inputId'));
      var inputFileId = $(e).attr('html-data-inputId');
      var inputFileName = $('[id$='+ inputFileId +']').val();
      if( inputFileName ) {
        // console.log('== Input file name ==', $('[id$='+ inputFileId +']').val());
        $('[id$=DocumentName]').val( $(e).attr('html-data-fileName') + inputFileName.substring(inputFileName.lastIndexOf("."), inputFileName.length));
        var fbody = document.getElementById( inputFileId ).files[0];
        var reader = new FileReader();
        reader.readAsDataURL(fbody);
        reader.onload = function(e) {
          var blobfile = window.btoa(this.result);
          $('[id$=DocumentBody]').val(blobfile);
          uploadDocument();
        }
      }
      return false;
    }

    function validateSubmission() {
      if( validateMandatoryFields() && validateMandatoryDocs() ) {
        $('[id$=submitButton]').prop("disabled", false);
      }
      else {
        $('[id$=submitButton]').prop("disabled", true);
      }
    }

    function validateMandatoryFields() {
      var counter = 0;
      $('.mandatory').each(function(){
        // console.log( 'value==', $(this).val() );
        if($(this).val() ) {
         counter++;
        }
      });
      if ($('.chk-unit:checked').length && $('.mandatory').length === counter) {
        return true;
      } else {
        return false;
      }
    }

    function validateMandatoryDocs() {
      if( $('.required').length == 0 ) {
        return true;
      } else {
        return false;
      }
    }

    function checkSrStatus() {
      var strCaseId = $('[id$="strCaseId"]').val();
      // console.log('>>>>strCaseId '+strCaseId);
      if (strCaseId) {
        toastr.success('Thank you, your Service Request has been submitted successfully');
        fmUtil.switchView('CaseDetails', { id:strCaseId });
      } else {
        var hasConfirm = $('.confirmM3');
        var confirmMessages = hasConfirm.find('li');
        if (confirmMessages.length) {
          confirmMessages.each(function(index, el){toastr.success($(this).text())});
        } else if (hasConfirm.length) {
          toastr.success(hasConfirm.find('.messageText').text());
        }
        var hasError = $('.errorM3');
        var errorMessages = hasError.find('li');
        if (errorMessages.length) {
          $('.errorM3 li').each(function(index, el){toastr.error($(this).text())});
        } else if (hasError.length) {
          toastr.error(hasError.find('.messageText').text());
        }
      }
    }
  </script>
</apex:component>