<apex:component controller="FmcReferAFriendController" layout="none" allowDML="true">
  <style>
    span.required {
      color: red;
      margin-left: 0.2rem;
    }

    .neighbour-offer {
    margin: 30px;
    }

    .neighbour-offer h5 {
      margin: 20px;
      line-height: 18px;
    }

    .neighbour-offer .title-badge h4{
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    }

    .mobile-phone {
      margin-top: 1.4rem;
    }

  </style>
  <apex:stylesheet value="{!URLFOR($Resource.Stylesheets, 'style.css')}"/>
  <apex:outputPanel id="leadPanel">
  <apex:inputHidden id="savedLead" value="{!savedLead}"/>


<!--   <div class="well recommendedProjects">
    <div class="neighbour-offer">
      <center>
        <div class="title-badge">
          <h4>Be My <b>Neighbour</b></h4>
        </div>
        <h5>Make your friend your neighbour, recommend and earn 2% commission <br /> sharing equally with your friend</h5>
      </center>
    </div>

    <apex:pageMessages id="page-messages" />

    <div class="col-lg-6">
      <div class="form-group">
        <label>First Name<span class="required">*</span></label>
        <apex:inputField html-data-label="First Name" styleclass="form-control requiredInput" id="leadFirstName" value="{!inquiry.First_Name__c}" />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Last Name<span class="required">*</span></label>
        <apex:inputField html-data-label="Last Name" styleclass="form-control requiredInput" id="leadLastName" value="{!inquiry.Last_Name__c}" />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label>Email<span class="required">*</span></label>
        <apex:inputField html-data-label="Email" styleclass="form-control requiredInput" id="leadEmail" value="{!inquiry.Email__c}" />
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label>Mobile Phone<span class="required">*</span></label><br/>
        <apex:inputField id="leadMobileCC" value="{!inquiry.Mobile_CountryCode__c}" styleClass="form-control requiredInput notranslate" style="width: 30%;display: inline-block;" html-data-label="Mobile Country Code"/>
        <apex:inputField styleclass="form-control requiredInput" html-data-label="Mobile Phone Number" id="leadMobilePhone" value="{!inquiry.Mobile_Phone__c}" style="width: 70%;display: inline-block;"/>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Comments</label>
        <apex:inputTextarea rows="4" styleClass="form-control" html-data-label="Enter Comments" style="height: 50px;" id="leadComments" value="{!inquiry.Comments__c}"/>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="pull-right">
        <button class="btn btn-primary pull-right btnDisabled" disabled="" onkeypress="onEnterOfInquiry(event);" onclick="if (bindValidations()) {createLead(); }" type="button">Refer and Earn</button>
      </div>
    </div>
  </div> -->


  <div>

    <!-- <div class="headerNameBox">
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <h4 class="pageHeaderName">Refer a Friend</h4>
        </div>
      </div>
    </div> -->

    <div class="row">
      <!-- Form  -->
      <div class="col-md-12">

        <apex:pageMessages id="page-messages" />

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="referFriendBox">
              <div class="referFriendBoxHeader">
                <img src="{!URLFOR($Resource.LoamsPortalAssets, 'img/refer.png')}"/> Be my <span>Neighbour</span>
                <p>
                  Make your friend your neighbour, recommend and earn 2% commission sharing equality with your friend
                </p>
              </div>
              <hr class="referFriendHR"/>
              <div class="">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="formLabel">First Name <span class="requiredField">*</span></label>
                      <!-- <input type="text" class="form-control siteFormControl"/> -->
                      <apex:inputField html-data-label="First Name" styleclass="form-control requiredInput siteFormControl" id="leadFirstName" value="{!inquiry.First_Name__c}" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="formLabel">Last Name <span class="requiredField">*</span></label>
                      <!-- <input type="text" class="form-control siteFormControl"/> -->
                      <apex:inputField html-data-label="Last Name" styleclass="form-control siteFormControl requiredInput" id="leadLastName" value="{!inquiry.Last_Name__c}" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="formLabel">Email <span class="requiredField">*</span></label>
                      <!-- <input type="text" class="form-control siteFormControl"/> -->
                      <apex:inputField html-data-label="Email" styleclass="form-control siteFormControl requiredInput" id="leadEmail" value="{!inquiry.Email__c}" />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="formLabel">Mobile No <span class="requiredField">*</span></label>
                      <!-- <select class="form-control siteFormControl">
                        <option selected="" disabled="">-Select-</option>
                        <option>(+91) - India</option>
                        <option>(+971) - Dubai </option>
                      </select> -->
                      <apex:inputField id="leadMobileCC" value="{!inquiry.Mobile_CountryCode__c}" styleClass="form-control siteFormControl requiredInput notranslate" style="/*width: 30%;display: inline-block;*/" html-data-label="Mobile Country Code"/>
                      <span class="glyphicon glyphicon-menu-down selectDownIcon"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <label class="formLabel"></label>
                      <!-- <input type="text" class="form-control siteFormControl"/> -->
                      <apex:inputField styleclass="form-control siteFormControl requiredInput mobile-phone" html-data-label="Mobile Phone Number" id="leadMobilePhone" value="{!inquiry.Mobile_Phone__c}" style="/*width: 70%;display: inline-block;*/"/>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="formLabel">Comments</label>
                      <!-- <textarea rows="2" class="form-control sitetextArea"></textarea> -->
                      <apex:inputTextarea rows="2" styleClass="form-control sitetextArea" html-data-label="Enter Comments" style="height: 50px;" id="leadComments" value="{!inquiry.Comments__c}"/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="referandearnBtnBox" style="text-align: center;">
                      <!-- <button type="button" class="btn btn-primary submitBtn">Refer &amp; Earn</button> -->
                      <button class="btn btn-primary submitBtn pull-rightt btnDisabled" disabled="" onkeypress="onEnterOfInquiry(event);" onclick="if (bindValidations()) {createLead(); }" type="button">Refer and Earn</button>
                    </div>
                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col-md-2"></div>
        </div>

      </div>
      <!-- Form Ends -->

      <apex:actionFunction name="createLead" action="{!save}" status="blockUI" oncomplete="checkLeadStatus(event);" reRender="leadPanel,messages"/>

    </div>

  </div>

  </apex:outputPanel>

   <script>
    function onEnterOfInquiry(event) {
      if (event.keyCode === 13) {
        if (bindValidations()) {
          createLead();
        }
      }
    }

    function bindValidations() {
      formIsValid = true;
      $('.requiredInput').each(function(index, el) {
        var $el = $(el);
        if ($el.val() === '') {
          formIsValid = false;
          toastr.error(
            "Please "
            + (el.type === 'file' ? "attach" : ($el.is('select') ? "select" : "enter"))
            + " "
            + $el.data('label') || ''
          );
          return formIsValid;
        }
      });
      if(formIsValid == true){
        var email = $('[id$="leadEmail"]').val();
        var phone = $('[id$="leadMobilePhone"]').val();
        var phoneNum = phone.replace(/[^\d]/g, '');

        var emailFilter = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
        var phoneFilter = /^(1\s|1|)?((\(\d{3}\))|\d{3})(\-|\s)?(\d{3})(\-|\s)?(\d{4})$/;

        if (!emailFilter.test(email)) {
          formIsValid = false;
          toastr.error("Please enter a valid e-mail address");
          return formIsValid;
        }

        if (phone.length != phoneNum.length ) {
          formIsValid = false;
          toastr.error("Please correct your phone number.");
          return formIsValid;
        }
      }
      if(formIsValid){
        buttonsEnabled(false);
      }
      return formIsValid;
    }

    function checkLeadStatus() {
      var savedLead = $('[id$="savedLead"]').val();
      if (savedLead) {
        $('[id$=page-messages]').hide();
        toastr.success('Thank you, your Lead has been created successfully');
        setTimeout(function() {
          window.location.href = "/Customer";
        }, 5000);
      } else {
        toastr.error('Please refresh and create Lead');
      }
    }

    function buttonsEnabled(enable) {
      var $buttons = jQuery('.btnDisabled'); // find all buttons in the page
      if (enable === false) {
        $buttons.attr('disabled', 'disabled');
      } else {
        $buttons.attr('disabled', null);
      }
    }
  </script>
</apex:component>