<apex:component controller="FmcUnitDetailsController">

  <!-- <div class="well">
    <c:GenericDataRenderer configDocumentName="FmcUnitDetailsDisplayConfig"
        recordId="{!$CurrentPage.parameters.id}" />
  </div> -->

  <style>
    #soaIframe {
      margin-top:2rem;
    }

    .infoBoxes h5 a {
        font-size: 14px;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      /*background-color: #1b2431!important;*/
    }
    .text-align-center {
      text-align: center;
    }
    tbody {
      word-wrap: break-word;
    }
    .spc-bottom-5 {
      margin-bottom: 5rem;
    }
    .soa-section button, .soa-section a {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    .termsx {
      overflow-y: scroll;
      height: 100px;
      width: 100%;
      border: 1px solid #DDD;
      padding: 5px;
      margin-bottom: 1rem;
    }
    .termsx-text {
      font-size: 11px!important;
    }
  </style>

  <apex:outputPanel id="unitDetails">
    <apex:outputPanel id="unitDetailsInner">

      <div class="row">

        <div class="col-md-{!IF(isOwner, '9', '12')}">
          <section id="">

            <div class="well" >
              <div class="sspc-bottom-5">
                <h4 style="padding-left: 15px;" class="notranslate">{!unit.Unit_Name__c}</h4>
                <!-- <h5 class="col-md-12">Status:
                  <span class="status {!LOWER(unit.Registration_Status__c)}">
                    {! unit.Registration_Status__c }
                  </span>
                </h5> -->
              </div>

              <div class="row unit-data-block">
                <div class="salesforce-data-block">
                  <!-- SALESFORCE RECORD DATA -->
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="infoBoxes">
                      <h6 class="col-md-12">Project Name</h6>
                      <h5 class="col-md-12 ipms-field notranslate" data-field="strProjectCity">{!unit.Property_Name__c}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="infoBoxes">
                      <h6 class="col-md-12">Bedroom Type</h6>
                      <h5 class="col-md-12 ipms-field" data-field="strBedroomType_UnitType">{!unit.Bedroom_Type__c}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="infoBoxes">
                      <h6 class="col-md-12">Unit Type</h6>
                      <h5 class="col-md-12 ipms-field" data-field="strUnitType">{!unit.Unit_Type__c}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="infoBoxes">
                      <h6 class="col-md-12">Permitted Use</h6>
                      <h5 class="col-md-12 ipms-field" data-field="strPermittedUse">{!unit.Permitted_Use__c}</h5>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-xs-6">
                    <div class="infoBoxes">
                      <h6 class="col-md-12">Area sq.ft</h6>
                      <h5 class="col-md-12 ipms-field" data-field="strArea">{!IF(unit.Handover_Flag__c == 'Y' || unit.Early_Handover__c, unit.JOPD_Area__c, unit.Area_sft__c)}</h5>
                    </div>
                  </div>
                </div>
                <!-- SALESFORCE RECORD DATA -->
              </div>

            </div>

            <div class="well">
              <h4>
                Related Service Requests
              </h4>
              <div class="row">
                <div class="col-lg-12">

                  <c:GenericDataRenderer configDocumentName="FmcUnitSRDisplayConfig" filter="{!srFilter}"/>

                  <!-- <ul class="nav nav-pills">
                    <li role="presentation" class=""><a href="#plan1" data-toggle="tab" data-original-title="Related Service Requests" aria-expanded="true">Service Requests</a></li>
                    <apex:outputPanel layout="none" rendered="{!isOwner}">
                      <li role="presentation" class="tabHeader"><a href="#plan2" data-toggle="tab" data-original-title="Transaction History" aria-expanded="true">Transaction History</a></li>
                    </apex:outputPanel>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade active in" role="tabpanel" id="plan1">
                      <c:GenericDataRenderer configDocumentName="FmcUnitSRDisplayConfig" filter="{!srFilter}"/>
                    </div>
                    <div class="tab-pane fade in" role="tabpanel" id="plan2">
                      <c:UnitPaymentTerms unit="{!unit}"/>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>

          </section>
        </div>


        <apex:outputPanel layout="none" rendered="{!isOwner}">
          <!-- Sidebar Fixed -->
          <div class="col-md-3">

            <div class="well profileDisplay text-align-center">
              <div class="soa-section">
                <h5>Generate Statement</h5>
                <div>
                  <button type="button" class="btn btn-sm btn-success btn-gen-unit-soa" onClick="getUnitSOA()">Statement for this Unit</button>
                </div>

                <div>
                  <button type="button" class="btn btn-sm btn-success btn-gen-location-soa" onClick="getLocationSOA()">Statement for units in<br/>this project</button>
                </div>

                <div>
                  <button type="button" class="btn btn-sm btn-success btn-gen-bulk-soa" onClick="getBulkSOA()">Statement for all my units</button>
                </div>

              </div>

            </div>

            <!-- <div class="well profileDisplay text-align-center">
              <h4>Make Payment</h4>
              <div class="termsx-text">
                <div>
                  Outstanding Amount ({!unit.CurrencyIsoCode})&nbsp;
                  <apex:inputText id="DueAmountToBePaid" styleClass="currencyClass form-control" style="display:inline;"/>
                  <input type="hidden" class="strAmountOverdue" />
                </div>

                <input type="checkbox" id="mustCheck"/> I have read and accepted the following Terms and conditions of use of this online payment facility before proceeding with payment.
                <br/><br/>

                <div class="termsx">
                  <span>
                    <p class="termsx-text">
                     1. The customer understands that he/she intends to make this on-line non-refundable payment towards dues/overdues for his/her residential / retail / commercial unit in one of DAMAC Properties' developments.
                    </p><p class="termsx-text">
                     2. The customer agrees to use credit cards in his/her name only for making online payment. The customer further understands that third party credit cards i.e. credit cards not in the name of the owner of the property are strictly not allowed.
                    </p><p class="termsx-text">
                     3. The customer understands that online payments are subject to maximum payment of AED 50,000 in one transaction subject to total payments by credit cards not exceeding 10% of the price of your property from booking till handover.
                    </p><p class="termsx-text">
                     4. Damac reserves the right to accept or reject any payments made credit cards at its discretion without the need for justification.
                     </p><p class="termsx-text">
                     5. The customer understands that on clicking Make Payment button he/she will be taken to a 3rd party website over which Damac or its subsidiaries have no control. Damac has not reviewed these third party sites and does not control and is not responsible for any of these sites or their content. Thus, Damac does not endorse or make any representations about them, or any information, software or other products or materials found there, or any results that may be obtained from using them. If the customer decides to access any of the third party sites linked to this Site, they do this entirely at your own risk.
                     </p><p class="termsx-text">
                     6. The customer assumes full liability that the above information provided by them is complete, accurate, true and reliable and Damac is under no obligation to verify it.
                     </p><p class="termsx-text">
                     7. It is the responsibility of the customer to ensure that sufficient funds are available in the account from which the payment is to be processed on the date the installment is due.
                     </p><p class="termsx-text">
                     8. It is the customer's responsibility to ensure that the payment is correct and received by Damac on time. Damac accepts no liability whatsoever in this respect and is under no obligation to notify the customer of any outstanding, incorrect, rejected and/or declined payments, whatever the reason.
                     </p><p class="termsx-text">
                     9. In the event of an outstanding, incorrect, rejected or declined payment for whatever reason, the customer will be liable to pay a Late Payment Penalty at a rate fixed by Damac.
                     </p><p class="termsx-text">
                     10. If any transaction is found to be incorrect, unauthorized or fraudulent for reasons beyond the customer’s control, payment may be reversed. To avoid doubt, the customer remains bound to make the remaining payment to Damac immediately.
                     </p><p class="termsx-text">
                     11. Any payment not processed due to interrupted service or technological problems or errors beyond the customer's control shall not excuse him/her from his/her obligation to make the requested payment on the due date. Neither will it relieve him/her from his/her obligation to pay Late Payment Fees. The customer shall indemnify Damac from any claim, action, damage, loss or expense incurred due to these reasons.
                     </p><p class="termsx-text">
                     12. Damac has the right (without liability) to suspend, terminate, change limits or discontinue this transaction (whether temporarily or permanently) at any time at its discretion for any reason whatsoever without the need for justification or notification, including rejecting any processed payment. In such cases the customer will be obliged to make the payment(s) on the due date to Damac, through other means acceptable to Damac.
                     </p><p class="termsx-text">
                     13. Damac will (but is under no obligation to) send to the customer an electronic receipt to their email address within five working days for payments processed as per their transaction. It is the customer's responsibility to maintain documents and receipts evidencing payment by this method.
                     </p><p class="termsx-text">
                     14. The customer agrees to fully indemnify and hold Damac, its subsidiaries, affiliates, shareholders, directors, representatives, agents and employees exempt from any claim, action, damage, loss or expense, which they may suffer or incur as a result of this transaction or as a result of a breach by the customer of these Terms and conditions.
                     </p><p class="termsx-text">
                     15. The customer assumes all risks inherent to payments via credit card and will not hold Damac, its subsidiaries, affiliates, shareholders, directors, representatives, agents or employees liable for any claim, action, demand, damage or loss as a result of this transaction.
                     </p><p class="termsx-text">
                     16. Damac has the right to amend these Terms and conditions at any time without the need for notification to the customer.
                     </p><p class="termsx-text">
                     17. These Terms and conditions are supplemental to those provided in the Sales and Purchase Agreement and its schedules, which the customer has entered into in respect of the sale/purchase of the property.
                     </p><p class="termsx-text">
                     18. Damac's failure to insist upon or enforce strict performance of any provision of these Terms and conditions will not be construed as a waiver of any provision or right.
                     </p><p class="termsx-text">
                     19. These Terms and conditions are governed by the applicable laws in Dubai and any dispute arising thereof shall be referred to the courts in Dubai.
                     <br/> </p>
                  </span>
                </div>

                <button type="button" class="btn btn-sm btn-success" onClick="doPay();">Make Payment Now</button>
              </div>
            </div> -->
          </div>
        </apex:outputPanel>
      </div>
    </apex:outputPanel>
  </apex:outputPanel>

  <script type="text/javascript">
    var unitDetails = {};
    jQuery(document).ready(function($) {
      var urlParams = ccUtils.getUrlParameters();
      if (urlParams && urlParams.id) {
        unitDetails.unitId = urlParams.id;
        unitDetails.registrationId = '{!unit.Registration_ID__c}';
        unitDetails.propertyCode = '{!unit.Inventory__r.Property_Code__c}';
        unitDetails.partyId = '{!partyId}';
        getUnitDetailsFromIPMS();
      }
    });

    function getUnitDetailsFromIPMS() {
      Visualforce.remoting.Manager.invokeAction(
        "{!$RemoteAction.FmcUnitDetailsController.getUnitDetailsFromIPMS}"
        , unitDetails.registrationId || ''
        , function(result, event) {
          // ccUtils.unblockScreen($('.unit-data-block'));
          if (event.status) {
            if (result) {
              var overdueAmount = (Number(result.strAmountOverdue) || 0.00);
              // overdueAmount = overdueAmount > 50000 ? 50000 : 0;
              $('.strAmountOverdue').val(overdueAmount);
              $('[id$=DueAmountToBePaid]').val(overdueAmount > 50000 ? 50000 : overdueAmount);

            } else {
              toastr.error('Error while getting the Unit Details From IPMS');
            }
            // window.open(result, '_blank');
          } else if (event.type === 'exception') {
            console.error(event.message, event.where);
            toastr.error(event.message);
          } else {
            console.error(event.message);
            toastr.error(event.message);
          }
        }
      );
      // ccUtils.blockScreen($('.unit-data-block'), 'Fetching data...');
    }

    function getUnitSOA() {
      var $btn = $('.btn-gen-unit-soa');
      Visualforce.remoting.Manager.invokeAction(
        "{!$RemoteAction.FmcUnitDetailsController.generateUnitSoa}"
        , unitDetails.registrationId || ''
        , function(soaUrl, event) {
          ccUtils.unblockScreen($('.soa-section').closest('.well'));
          // console.log('getSOA result', soaUrl);
          if (event.status) {
            if (soaUrl) {
              $btn.replaceWith(
                '<a class="btn btn-sm btn-success btn-gen-fm-soa" href="' + soaUrl + '" target="_blank">View Statement for this Unit</a>'
              );
            } else {
              toastr.error('Error 000: while getting the Statement of Account');
            }
            // window.open(result, '_blank');
          } else if (event.type === 'exception') {
            console.error(event.message, event.where);
            toastr.error('Error 000: while getting the Statement of Account - ' + event.message);
          } else {
            console.error(event.message);
            toastr.error('Error 000: while getting the Statement of Account - ' + event.message);
          }
        }
      );
      ccUtils.blockScreen($('.soa-section').closest('.well').closest('.well'), 'Generating...');
    }

    function getLocationSOA() {
      var $btn = $('.btn-gen-location-soa');
      Visualforce.remoting.Manager.invokeAction(
        "{!$RemoteAction.FmcUnitDetailsController.generateLocationSoa}"
        , unitDetails.partyId || ''
        , unitDetails.propertyCode || ''
        , function(soaUrl, event) {
          ccUtils.unblockScreen($('.soa-section').closest('.well'));
          // console.log('getSOA result', soaUrl);
          if (event.status) {
            if (soaUrl) {
              $btn.replaceWith(
                '<a class="btn btn-sm btn-success btn-gen-fm-soa" href="' + soaUrl + '" target="_blank">View Statement for<br/>Units in this Property</a>'
              );
            } else {
              toastr.error('Error 000: while getting the Statement of Account');
            }
            // window.open(result, '_blank');
          } else if (event.type === 'exception') {
            console.error(event.message, event.where);
            toastr.error('Error 000: while getting the Statement of Account - ' + event.message);
          } else {
            console.error(event.message);
            toastr.error('Error 000: while getting the Statement of Account - ' + event.message);
          }
        }
      );
      ccUtils.blockScreen($('.soa-section').closest('.well'), 'Generating...');
    }

    function getBulkSOA() {
      var $btn = $('.btn-gen-bulk-soa');
      Visualforce.remoting.Manager.invokeAction(
        "{!$RemoteAction.FmcUnitDetailsController.generateBulkSoa}"
        , unitDetails.partyId || ''
        , function(soaUrl, event) {
          ccUtils.unblockScreen($('.soa-section').closest('.well'));
          // console.log('getSOA result', soaUrl);
          if (event.status) {
            if (soaUrl) {
              $btn.replaceWith(
                '<a class="btn btn-sm btn-success btn-gen-fm-soa" href="' + soaUrl + '" target="_blank">View Statement for all my Units</a>'
              );
            } else {
              toastr.error('Error 000: while getting the Statement of Account');
            }
            // window.open(result, '_blank');
          } else if (event.type === 'exception') {
            console.error(event.message, event.where);
            toastr.error('Error 000: while getting the Statement of Account');
          } else {
            console.error(event.message);
            toastr.error('Error 000: while getting the Statement of Account');
          }
        }
      );
      ccUtils.blockScreen($('.soa-section').closest('.well'), 'Generating...');
    }
  </script>

  <script src="/soap/ajax/40.0/connection.js"></script>
  <script src="/soap/ajax/40.0/apex.js"></script>

  <script>
      sforce.connection.sessionId = '{!$Api.Session_ID}';
      baseSecureUrl = '{!$Site.BaseSecureUrl}'
      // console.log('$Site.BaseSecureUrl', baseSecureUrl);
      // console.log('$Site.Prefix', '{!$Site.Prefix}');
      function doPay() {
          // console.log( '-- Amount To Be Paid --' + $('[id$=DueAmountToBePaid]').val() );

          var outstandingAmount = Number($('.strAmountOverdue').val());
          var payingAmount = Number( $('[id$=DueAmountToBePaid]').val() );

          if (isNaN(payingAmount)) {
              toastr.info('Please enter a proper value for the payment amount');
              return;
          } else if (!outstandingAmount) {
              toastr.info('You have no outstanding amount for this unit.');
              return;
          } else if ( payingAmount > outstandingAmount ) {
              toastr.error('You cannot pay more than your outstanding amount.')
              return;
          } else if ( payingAmount > 50000 ) {
              toastr.error('Payment amount cannot be greater than 50000.')
              return;
          }

          if (document.getElementById("mustCheck").checked == false) {
              toastr.error('Please check the User Declaration.')
              return;
          }

          /*if (!outstandingAmount) {
              toastr.info('You have no Outstanding amount for this unit.');
              return;
          }
          outstandingAmount = outstandingAmount > 50000 ? 50000 : outstandingAmount;*/

          var reqval = sforce.apex.execute("FmcUnitDetailsController","doPay",{buID:unitDetails.unitId, amt:"" + payingAmount, url : baseSecureUrl});
          //alert(reqval);
          //var loc =  'https://secure.ccavenue.ae/transaction/transaction.do?command=initiateTransaction' +
            //'&encRequest='+reqval ;
          //loc = loc + '?' + reqval;
          var form = document.createElement("form");
          //var req = document.createElement("input");
         // console.log('loc = ', loc);
          // console.log('reqval = ', reqval);
         // req.setAttribute("type","hidden");
          //req.setAttribute("name","requestParameter");
          //req.setAttribute("value",reqval);
          //req.setAttribute("id",reqval);
          //form.appendChild(req);

          form.setAttribute("method", "post");
          form.setAttribute("action", reqval);
          form.setAttribute("target", "_blank");
          window.parent.document.body.appendChild(form);
          //alert('Submit');
          form.submit();

      }
      /*
      window.onload=function(){
          alert('{!$CurrentPage.parameters.responseParameter}');
          var respParam = '{!$CurrentPage.parameters.responseParameter}';

          var reqval = sforce.apex.execute("NIPaymentGateway","decryptResponse",{resp:respParam});
          alert(reqval);
      }*/
  </script>

</apex:component>