<apex:component controller="MyPaymentsController">
  <apex:attribute name="AccountId" type="Id" assignTo="{!personAccountId}" description=""/>
   <apex:attribute name="AssignUnitId" type="String" required="true" assignTo="{!UnitId}" description="" />

  <style type="text/css">

    .payment-terms {
      margin-top: 2rem;
      margin-bottom: 1rem;
      width: 100%;
    }

  </style>

  <div>
    <div class="recommendedProjects" >
        <!-- <h4>Select a Unit to view the Payment terms</h4> -->
      <div class="row">
<div class="col-md-12 col-xs-12">
        <select id="select-payment-terms" class="form-control" >
          <option value="">
              Select a Unit to view its Payment terms
          </option>
          <apex:repeat value="{!bookingUnitList}" var="bookingUnit">
              <option data-reg-id="{!bookingUnit.Registration_ID__c}"
                      value="{!bookingUnit.Id}">
                  {!bookingUnit.Unit_Name__c}
              </option>
          </apex:repeat>
        </select>
        <br/>
        <button type="button" value="Make Payment" class="btn btn-sm btn-success unitDetail" style="display: none;">
          Make Payment
        </button>
        <div id="unit-payment-terms" class="payment-terms">
        </div>
        <!-- ccUtils.switchView('UnitDetail', '{!Wrapper.unitId}') -->
        <!-- <apex:repeat value="{!bookingUnitList}" var="bookingUnit">
            <a data-toggle="collapse" href="#{!bookingUnit.Id}-payment-terms" onclick="getPaymentTerms('{!bookingUnit.Id}', '{!bookingUnit.Registration_ID__c}')">{!bookingUnit.Unit_Name__c}</a>
            <div id="{!bookingUnit.Id + '-payment-terms'}" class="panel-collapse collapse payment-terms">
            </div>
        </apex:repeat> -->
      </div>
      </div>
    </div>
  </div>

  <script>

    $('#select-payment-terms').off('change').on('change', function() {
      $('#unit-payment-terms').html('');
      unitId = $(this).val();
      if (!unitId) {
        return;
      }
      regId = $(this).find('option[value="' + unitId + '"]').data('regId');
      getPaymentTerms(unitId, regId);
    });
    

    function getPaymentTerms(unitId, regId) {

      Visualforce.remoting.Manager.invokeAction(
            "{!$RemoteAction.MyPaymentsController.retrievePaymentTerms}"
            , regId || ''
            , function(result, event) {
                ccUtils.unblockScreen();
                console.log('payment terms', result);
                if (event.status) {
                    var unitPaymentTermsPanel = $('#unit-payment-terms');
                    unitPaymentTermsPanel.addClass('in')
                    .html(
                      _.template(
                        $( "script.table-template" ).html()
                      ) ( createPaymentTermsRendererConfig(result) )
                    ).find("table").DataTable({
                      responsive: true
                    });
                    $(".unitDetail").removeAttr("style");
                    $('.unitDetail').css('margin-left', '350px');
                    changePaidAmountcolor();
                } else if (event.type === 'exception') {
                    console.error(event.message, event.where);
                } else {
                    console.error(event.message);
                }
            }, {
              buffer: false,
              timeout: 60000
            }
        );

        ccUtils.blockScreen();
    }

    $('.unitDetail').off('click').on('click',function unitDetailPage() {

      var unitId = $('#select-payment-terms').val();
      console.log('>>>unitId',unitId );
      /*if (!unitId) {
        return;
      }*/
      ccUtils.switchView('UnitDetail',unitId,'');
    });    

    function changePaidAmountcolor() {
    $('td[data-label="Paid Amount"]')
                .each(function(index,element)
                {
                    console.log('>>>>InFunction',$(element).html().trim());
                    if ($(element).html().trim()) {
                         console.log('>>>>InIf',$(element).html().trim());
                         if($(element).html().trim() != "0.00"){
                              $(element).parent().css("background-color", "#d7f4a4");
                         }
                    }

                });

                $('.paginate_button').on('click',function(){
                  console.log('>>>inOnclickFunction');
                  setTimeout(function() {
                  console.log('>>>inOnclickFunction2');
                  changePaidAmountcolor();
                 }, 1000);
                });

          }

    // function createPaymentTermsRendererConfig(paymentTerms) {
    //   var dataRenderConfig = {
    //     "strategy": "",
    //     // "recordLimit": "1",
    //     "objectName": "",
    //     "fieldset": "",
    //     "fieldList": [
    //       // {
    //       //   "field": "RegistrationId",
    //       //   "title" : "Registration Id"
    //       // },
    //       // {
    //       //   "field": "CustomerId",
    //       //   "title" : "Customer Id"
    //       // },
    //       // {
    //       //   "field": "CustomerName",
    //       //   "title" : "Customer Name"
    //       // },
    //       {
    //         "field": "DocumentNumber",
    //         "title" : "Document Number"
    //       },
    //       {
    //         "field": "DocumentType",
    //         "title" : "Document Type"
    //       },
    //       {
    //         "field": "Description",
    //         "title" : "Description"
    //       },
    //       {
    //         "field": "Debit",
    //         "title" : "Debit",
    //         "type": "currency"
    //       },
    //       {
    //         "field": "Credit",
    //         "title" : "Credit",
    //         "type": "currency"
    //       },
    //       {
    //         "field": "DocDate",
    //         "title" : "Doc Date"
    //       },
    //       {
    //         "field": "DueDate",
    //         "title" : "Due Date"
    //       }
    //   ],
    //   "detailFieldList": [
    //       // {
    //       //   "field": "RegistrationId",
    //       //   "title" : "Registration Id"
    //       // },
    //       // {
    //       //   "field": "CustomerId",
    //       //   "title" : "Customer Id"
    //       // },
    //       // {
    //       //   "field": "CustomerName",
    //       //   "title" : "Customer Name"
    //       // },
    //       // {
    //       //   "field": "DocumentNumber",
    //       //   "title" : "Document Number"
    //       // },
    //       // {
    //       //   "field": "DocumentType",
    //       //   "title" : "Document Type"
    //       // },
    //       // {
    //       //   "field": "DocDate",
    //       //   "title" : "Doc Date"
    //       // },
    //       // {
    //       //   "field": "DueDate",
    //       //   "title" : "Due Date"
    //       // },
    //       // {
    //       //   "field": "Description",
    //       //   "title" : "Description"
    //       // },
    //       // {
    //       //   "field": "Debit",
    //       //   "title" : "Debit"
    //       // },
    //       // {
    //       //   "field": "Credit",
    //       //   "title" : "Credit"
    //       // }
    //   ],
    //     "displayAs": "table",
    //     "dataProviderClass": "",
    //     "dataList": [],
    //     "configJSON": "PaymentsDataConfig"
    //   }
    //   if (paymentTerms && Array.isArray(paymentTerms)) {
    //       dataRenderConfig.dataList = paymentTerms;
    //       dataRenderConfig.recordLimit = paymentTerms.length;
    //   }
    //   return dataRenderConfig;
    // }

      function createPaymentTermsRendererConfig(data) {
      var dataRenderConfig = {
        "strategy": "",
        // "recordLimit": "1",
        "objectName": "",
        "fieldset": "",
        "fieldList": [
          {
            "field": "INSTALLMENT",
            "title": "Installment"
          },
          // {
          //   "field": "DESCRIPTION",
          //   "title": "Description"
          // },
          {
            "field" : "MILESTONE_EVENT",
            "title" : "Milestone Event"
          },
          /*{
            "field": "REGISTRATION_ID",
            "title": "Registration Id",
          },*/
          {
            "field" : "DUE_DATE",
            "title" : "Due Date"
          },/*{
            "field": "MILESTEON_PERCENT_VALUE",
            "title": "Milestone percent value"
          },*/
          // {
          //   "field" : "PAID_AMOUNT",
          //   "title" : "Paid Amount",
          //   "type": "currency"
          // },
          /*{
            "field": "PAID_PERCENTAGE",
            "title": "Paid Percentage"
          },*/
          // {
          //   "field" : "DUE_AMOUNT",
          //   "title" : "Due Amount",
          //   "type": "currency"
          // },
          {
            "field": "MILESTEON_PERCENT_VALUE",
            "title": "%"
          },

          /*{
            "field": "LINE_ID",
            "title": "Line ID"
          },*/
          /*{
            "field" : "MILESTONE_EVENT_AR",
            "title" : "Milestone Event AR"
          },*/
          {
            "field": "INVOICE_AMOUNT",
            "title": "Amount"
          },
          {
            "field" : "PAID_AMOUNT",
            "title" : "Paid Amount",
            "type": "currency"
          }
          // {
          //   "field": "TERM_ID",
          //   "title": "Term ID"
          // }
        ],
        "detailFieldList": [
            {
              "field": "REGISTRATION_ID",
              "title": "Registration Id",
            },
          {
              "field": "LINE_ID",
              "title": "Line ID"
            },
          {
              "field": "TERM_ID",
              "title": "Term ID"
            },
          {
              "field": "MILESTEON_PERCENT_VALUE",
              "title": "Milestone percent value"
            },
            {
              "field" : "MILESTONE_EVENT_AR",
              "title" : "Milestone Event AR"
            },
          {
              "field" : "MILESTONE_EVENT",
              "title" : "Milestone Event"
            },
          {
              "field": "DESCRIPTION",
              "title": "Description"
            },
          {
              "field" : "DUE_AMOUNT",
              "title" : "Due Amount",
              "type": "currency"
            },
          {
              "field": "INVOICE_AMOUNT",
              "title": "Invoice Amount",
              "type": "currency"
            },
            {
              "field" : "PAID_AMOUNT",
              "title" : "Paid Amount",
              "type": "currency"
            }
        ],
        "displayAs": "table",
        "dataProviderClass": "",
        "dataList": [],
        "configJSON": "PaymentsDataConfig"
      }
      if (data && data.REG_TERM_PYMNT_TABLE && Array.isArray(data.REG_TERM_PYMNT_TABLE)) {
            dataRenderConfig.dataList = data.REG_TERM_PYMNT_TABLE;
            dataRenderConfig.recordLimit = data.REG_TERM_PYMNT_TABLE.length;
      }
      return dataRenderConfig;
    }
  </script>
</apex:component>