<apex:component controller="NOCVisaController_CC" allowDML="true">
    <apex:attribute name="accId" type="Id" description="Id of the customer selected" assignTo="{!accountId}" required="true" />
    <apex:attribute name="srType" type="String" description="SR Type" assignTo="{!strSRType}"/>
    <div style="display: none;">
        <apex:outputText value="{!Name}"></apex:outputText>
    </div>
    <style>
        .symbol {
            font-size: 0.9em;
            font-family: Times New Roman;
            border-radius: 1em;
            padding: .1em .6em .1em .6em;
            font-weight: bolder;
            color: white;
            background-color: #4E5A56; 
        } 
         
        .icon-tick {
            background: #13c823;
        }
        
        .icon-tick:before {
            content: '\002713';
        }
        
        .ns-box.ns-bar {
            background-color: #14544d !important;
            font-size: x-large;
            color: white !important;
            opacity: 0.9;
            margin-top: 55px;
            margin-left: 198px;
            width: 86%;
        }
        
        .icon-cross {
            background: #c31010;
        }
        
        .icon-cross:before {
            content: '\002715';
        }
        
        .messageCell {
            color: #a83136 !important;
        }
        
        .multiselect {
            height: 100%!important;
        }
        
        .errorBorder {
            border-width: 2px!important;
            border-color: red!important;
        }
        table {table-layout:fixed; word-wrap:break-word;}
    </style>
    <apex:PageMessages id="pageMessage"></apex:PageMessages>
    <apex:inputHidden id="serviceRequestId" value="{!strCaseID}"/>
    <apex:outputPanel id="exceptionDiv"></apex:outputPanel>
    <apex:outputPanel rendered="{! BookingUnitList != null && BookingUnitList.size > 0 }">
        <section id="">
            <div class="well">
                <div align="right">
                    <apex:outputLink onclick="openCRFDoc('{!strHelpPageUrl}'); return false;" rendered="{!NOT(ISNULL(strHelpPageUrl))}" target="_blank">
                        <small>Help for this process?</small>
                    </apex:outputLink>
                </div>
                <h4>
                  NOC for Visa
              </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Select Unit for NOC</label>
                            <apex:selectList id="BookingUnitList" title="Select a booking unit" size="1" multiselect="false" value="{!bookingUnitId}" styleClass="form-control">
                                <apex:selectOptions value="{!BookingUnitList}" />
                                <apex:actionSupport event="onchange" action="{!getBookinUnitDetails}" rerender="unitPanel,BookingUnitLinkPanel,otherPanel,notificationPanel,modePanel" oncomplete="datepickerReload();caseSubmitted();hidePOA();notificationFunction();reRenderUnitInfo();" status="blockUI" />
                            </apex:selectList>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
        </section>
    </apex:outputPanel>
    <apex:outputPanel rendered="{! BookingUnitList == null || BookingUnitList.size == 0 }" >
        <section id="">
            <div class="well">
                <h4 style="padding-top: 3%;padding-left: 3%;">
                    <span style="padding-right: 10px;" class="glyphicon glyphicon-info-sign"></span>You have no units eligible for Visa NOC 
                </h4>
            </div>
        </section>
    </apex:outputPanel>
    <div id="navigate"></div>
    <apex:outputPanel id="otherPanel" styleClass="otherSection">
        <apex:outputPanel rendered="{!renderOtherDetails}">
            <apex:outputText value="{!numberOfBuyer}" styleclass="buyerNumber hide" />
            <section id="">
                <div class="well">
                    <h4>
                            Enter Details
                            
                        <span class="pull-right">
                            <!-- <apex:commandButton status="blockUI" value="Generate Statement of Account" 
                                        action="{!insertStatementOfAccount}" styleClass="btn btn-sm btn-success" style="margin-left: 75px;" oncomplete="notificationFunction();return false;" reRender="notificationPanel"/> -->
                        </span>
                    </h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Select Buyer for NOC issue 
                                    <span style="color:red;font-size: initial;">*</span>
                                </label>
                                <apex:outputPanel layout="block" id="buyerValue">
                                    <apex:outputpanel rendered="{!IF(OR(caseRecord.Status == 'Submitted',caseRecord.Status == 'New'), FALSE, True)}">
                                        <apex:selectList id="chooseColor" styleclass="form-control multiselect submitInput buyerNoc" value="{!caseRecord.Buyer_For_NOC__c}" size="{!numberOfBuyer+1}" multiselect="true">
                                            <apex:selectOptions value="{!BuyerList}" />
                                            <apex:actionSupport event="onchange" action="{!createnewCase}" rerender="POAInfoBlock" status="blockUI" />
                                        </apex:selectList>
                                        <script>
                                            $( ".buyerNoc" ).change(function() {
                                                var buyerNumber = parseInt($('.buyerNumber').text().trim());
                                                $(".multiselect").removeClass('errorBorder');
                                                $(".multiselectError").remove();
                                                if ($(".multiselect option:selected").length > buyerNumber) {
                                                    $(".multiselect").addClass('errorBorder');
                                                $('[id$=buyerValue]').append('<span class="help-inline multiselectError" style="color:red">Cannot select more than '+buyerNumber+' buyer.</span>');
                                                    $(".multiselect").val('');
                                                } else {
                                                    $(".multiselect").removeClass('errorBorder');
                                                    $(".multiselectError").remove();
                                                }
                                                checkSubmit();
                                            });
                                        
                                        </script>
                                    </apex:outputPanel>
                                    <apex:outputpanel rendered="{!IF(OR(caseRecord.Status == 'Submitted',caseRecord.Status == 'New'), TRUE, FALSE)}">
                                        <apex:repeat value="{!buyerNameList}" var="buyerName">
                                            <apex:outputtext value="{!buyerName}" style="margin-left: 15px;" />
                                            <br />
                                        </apex:repeat>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Mode of collection</label>
                                <apex:inputField value="{!caseRecord.Mode_of_Collection__c}" styleclass="form-control submitInput" />
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <apex:outputPanel layout="block" rendered="{!NOT(titleDeedAttachmentWrapper.isPresent)}">
                            <div class="col-lg-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <input type="hidden" />
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileupload-new">
                                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                            <br />Select file
                                        </span>
                                        <span class="fileupload-exists">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            <br />Change
                                        </span>
                                        <input type="file" id="TDAttach" class="fileAttachmentnew,fileAttachment" onchange="attachtitledeedFile();" />
                                    </span>
                                    <div>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                    </div>
                                </div>
                                <label>Title Deed</label>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" rendered="{!NOT(passportAttachmentWrapper.isPresent)}">
                            <div class="col-lg-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <input type="hidden" />
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileupload-new">
                                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                            <br />Select file
                                        </span>
                                        <span class="fileupload-exists">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            <br />Change
                                        </span>
                                        <input type="file" id="EVAttach" class="fileAttachment" onchange="attachPassportFile();" />
                                    </span>
                                    <div>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                    </div>
                                </div>
                                <label>Passport</label>
                            </div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" rendered="{!NOT(additionalAttachmentWrapper.isPresent)}">
                            <div class="col-lg-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <input type="hidden" />
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileupload-new">
                                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                            <br />Select file
                                        </span>
                                        <span class="fileupload-exists">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            <br />Change
                                        </span>
                                        <input type="file" id="EIAttach" class="fileAttachment" onchange="attachAdditionalFile();" />
                                    </span>
                                    <div>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                    </div>
                                </div>
                                <label>
                                    <apex:outputtext rendered="{!userNationality == 'UAE/KSA'}" value="Emirates ID" />
                                    <apex:outputtext rendered="{!userNationality == 'GCC'}" value="GCC ID" />
                                    <apex:outputtext rendered="{!userNationality == 'Other'}" value="Emirates ID/ GCC ID/ Entry Visa Stamp" />
                                </label>
                            </div>
                        </apex:outputPanel>
                    </div>
                    <!--  <apex:outputPanel id="allSRs">-->
                    <apex:outputPanel layout="block" rendered="{!listAttachmentWrapper.size > 0}">
                        <div class="row text-center">
                            <table class="paymentDue" cellpadding="10" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;" class="deleteClass">Action</th>
                                        <!--<th style="text-align: center;">ID</th>-->
                                        <th style="text-align: center;">Document Name</th>
                                        <th style="text-align: center;">Type</th>
                                        <th style="text-align: center;">Verified</th>
                                        <th style="text-align: center;">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!listAttachmentWrapper}" var="attachmentWrapper">
                                        <tr>
                                            <td class="deleteClass">
                                                <apex:commandLink action="{!deleteAttachment}" onclick="if(!confirm('Are you sure?')) return false;" reRender="notificationPanel,otherPanel" onComplete="notificationFunction();" status="blockUI"> Del
                                                    
                                                    <apex:param value="{!attachmentWrapper.srAttachment.Id}" name="recToDel2" assignTo="{!deleteAttRecId}" />
                                                </apex:commandLink>
                                            </td>
                                            <!-- <td><apex:outputField value="{!attachmentWrapper.srAttachment.ID}" /></td>-->
                                            <td>
                                                <apex:outputField value="{!attachmentWrapper.srAttachment.Name}" />
                                            </td>
                                            <td>
                                                <apex:outputField value="{!attachmentWrapper.srAttachment.Type__c}" />
                                            </td>
                                            <td>
                                                <apex:outputField value="{!attachmentWrapper.srAttachment.isValid__c}" />
                                            </td>
                                            <td>
                                                <apex:outputPanel rendered="{!IF((attachmentWrapper.srAttachment.Attachment_URL__c == ''), TRUE, FALSE)}">
                                                    <a href="/servlet/servlet.FileDownload?file={!attachmentWrapper.srAttachment.Attachment__c}" target="_blank">VIEW</a>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!IF((attachmentWrapper.srAttachment.Attachment_URL__c == ''), false, true)}">
                                                    <a href="{!attachmentWrapper.srAttachment.Attachment_URL__c}" target="_blank">VIEW</a>
                                                </apex:outputPanel>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </apex:outputPanel>
                    <!-- </apex:outputPanel>-->
                </div>
            </section>
            <section id="">
                <div class="well">
                    <h4>
                        Power Of Attorney
                    </h4>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>POA?</label>
                                <apex:inputField value="{!caseRecord.IsPOA__c}" style="margin-left: 30px;" id="POACheck" styleclass="submitInput">
                                    <apex:actionSupport event="onchange" action="{!changePOACheckbox}" rerender="POAInfoBlock" status="blockUI" oncomplete="datepickerReload();" />
                                </apex:inputField>
                            </div>
                        </div>
                    </div>
                    <apex:outputPanel id="POAInfoBlock">
                        <apex:outputpanel rendered="{!isPOAPresent}">
                            <div class="row">
                                <!--                                 <div class="col-lg-5"><div class="form-group"><label>Name<span style="color:red;font-size: initial;">*</span></label><apex:inputField id="POAName" styleclass="form-control submitInput" value="{!caseRecord.POA_Name__c}" onchange="checkSubmit();" /></div></div> -->
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <!--<label>Name of Attorney</label>-->
                                        <label>POA Name</label>
                                        <apex:inputField id="POAName" styleclass="form-control submitInput" value="{!caseRecord.POA_Name__c}" onchange="checkSubmit();"/>
                                    </div>
                                </div>
                                <!--                <div class="col-lg-5"><div class="form-group"><label>Relationship with Owner</label><apex:inputField id="POARelation" styleclass="form-control submitInput" value="{!caseRecord.POA_Relationship_with_Buyer__c}" onchange="checkSubmit();" /></div></div> -->
                                <div class="col-lg-5" >
                                    <div class="form-group">
                                        <label>Purpose of POA
                                            <span style="color:red;font-size: initial;">*</span>
                                        </label>
                                        <apex:inputField id="POAPurpose" styleclass="form-control submitInput" value="{!caseRecord.Purpose_of_POA__c}" onchange="checkSubmit();" onkeyup="checkSubmit();" onclick="checkSubmit();"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group" id="DOEBlock">
                                        <!--<label>Date of Expiry</label>  -->
                                        <label>POA Expiry Date</label>
                                        <apex:inputText id="POADateOfExp" styleclass="form-control datepickerDOE submitInput" value="{!poaDateOfExpiry}" onkeyup="checkSubmit();" onchange="checkSubmit();" />
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <!--<label>Issued by (Authority)</label>  -->
                                        <label>POA Issued by</label>
                                        <apex:inputField id="POAIssuedBy" styleclass="form-control submitInput" value="{!caseRecord.POA_Issued_By__c}" onchange="checkSubmit();" />
                                    </div>
                                </div>
                            </div>
                            <!--  <div class="row"><div class="col-lg-5" ><div class="form-group"><label>Purpose of POA<span style="color:red;font-size: initial;">*</span></label><apex:inputField id="POAPurpose" styleclass="form-control submitInput" value="{!caseRecord.Purpose_of_POA__c}" onchange="checkSubmit();" onkeyup="checkSubmit();" onclick="checkSubmit();"/></div></div></div>   -->
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-xs-12 text-center">
                                    <apex:outputPanel layout="block" id="POAAttachmentBlock">
                                        <apex:outputPanel layout="block" rendered="{!poaAttachmentWrapper.isPresent}">
                                            <table class="paymentDue" cellpadding="10" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;" class="deleteClass">Action</th>
                                                        <th style="text-align: center;">Document Name</th>
                                                        <th style="text-align: center;">Type</th>
                                                        <th style="text-align: center;">Verified</th>
                                                        <th style="text-align: center;">View</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="deleteClass">
                                                            <apex:commandLink action="{!deleteAttachment}" onclick="if(!confirm('Are you sure?')) return false;" reRender="notificationPanel,otherPanel" onComplete="notificationFunction();" status="blockUI"> Del
                                                                
                                                                <apex:param value="{!poaAttachmentWrapper.srAttachment.Id}" name="recToDel2" assignTo="{!deleteAttRecId}" />
                                                            </apex:commandLink>
                                                        </td>
                                                        <td>
                                                            <apex:outputField value="{!poaAttachmentWrapper.srAttachment.Name}" />
                                                        </td>
                                                        <td>
                                                            <apex:outputField value="{!poaAttachmentWrapper.srAttachment.Type__c}" />
                                                        </td>
                                                        <td>
                                                            <apex:outputField value="{!poaAttachmentWrapper.srAttachment.isValid__c}" />
                                                        </td>
                                                        <td>
                                                            <!--  <a href="/servlet/servlet.FileDownload?file={!poaAttachmentWrapper.srAttachment.Attachment__c}" target="_blank">VIEW</a>-->
                                                            <!--<a href="{!poaAttachmentWrapper.srAttachment.Attachment_URL__c}" target="_blank">VIEW</a>-->
                                                            <apex:outputPanel rendered="{!IF((poaAttachmentWrapper.srAttachment.Attachment_URL__c == ''), TRUE, FALSE)}">
                                                                <a href="/servlet/servlet.FileDownload?file={!poaAttachmentWrapper.srAttachment.Attachment__c}" target="_blank">VIEW</a>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF((poaAttachmentWrapper.srAttachment.Attachment_URL__c == ''), false, true)}">
                                                                <a href="{!poaAttachmentWrapper.srAttachment.Attachment_URL__c}" target="_blank">VIEW</a>
                                                            </apex:outputPanel>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" rendered="{!NOT(poaAttachmentWrapper.isPresent)}">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <span class="btn btn-primary btn-file">
                                                    <span class="fileupload-new">
                                                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                                        <br/>Upload Power Of Attorney
                                                    </span>
                                                    <span class="fileupload-exists">
                                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                        <br/>Change
                                                    </span>
                                                    <input type="file" id="POAAttach" class="fileAttachment" onchange="attachPOAFile();" />
                                                </span>
                                                <div>
                                                    <span class="fileupload-preview"></span>
                                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </div>
                            </div>
                        </apex:outputpanel>
                    </apex:outputPanel>
                </div>
            </section>
            <!-- <section id="CRFAttachmentBlockID">
                <div class="well">
                    <h4>Customer Request Form
                        <span class="pull-right"> -->
                            <!--
                        <button id="ViewCRFButton" class="btn btn-sm btn-success" title="View CRF" onclick="return showCRF();"> View CRF</button>
                        -->
                            <!--                  <button id="DownCRFButton" class="btn btn-sm btn-success" title="Download CRF" onclick="window.open('/apex/CRF?id={!caseRecord.Id}&recTypeName=NOC For VISA');return false;"><i class="fa fa-download"></i> CRF</button> -->
                            <!-- <apex:commandButton id="ViewCRFButton" status="blockUI" styleClass="btn btn-sm btn-success" value="View CRF"  action="{!generateCRForm}"  oncomplete="notificationFunction();return false;" reRender="notificationPanel"/>
                        </span>
                    </h4>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-xs-12 text-center">
                            <apex:outputPanel layout="block" id="CRFAttachmentBlock2">
                                <apex:outputPanel layout="block" rendered="{!crfAttachmentWrapper.isPresent}">
                                    <table class="paymentDue" cellpadding="10" width="100%">
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" class="deleteClass">Action</th>
                                                <th style="text-align: center;">Document Name</th>
                                                <th style="text-align: center;">Type</th>
                                                <th style="text-align: center;">Verified</th>
                                                <th style="text-align: center;">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="deleteClass">
                                                    <apex:commandLink action="{!deleteAttachment}" onclick="if(!confirm('Are you sure?')) return false;" reRender="notificationPanel,otherPanel" onComplete="validateSubmission();notificationFunction();" status="blockUI"> Del
                                                        
                                                        <apex:param value="{!crfAttachmentWrapper.srAttachment.Id}" name="recToDel2" assignTo="{!deleteAttRecId}" />
                                                    </apex:commandLink>
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!crfAttachmentWrapper.srAttachment.Name}" />
                                                </td>
                                                <td>
                                                    <apex:outputField value="{!crfAttachmentWrapper.srAttachment.Type__c}" />
                                                </td>
                                                <td>
                                                    <apex:outputField id="CRFValid" value="{!crfAttachmentWrapper.srAttachment.isValid__c}" />
                                                </td>
                                                <td> -->
                                                    <!-- <a href="/servlet/servlet.FileDownload?file={!crfAttachmentWrapper.srAttachment.Attachment__c}" target="_blank">VIEW</a>-->
                                                    <!--  <a href="{!crfAttachmentWrapper.srAttachment.Attachment_URL__c}" target="_blank">VIEW</a>-->
                                                    <!-- <apex:outputPanel rendered="{!IF((crfAttachmentWrapper.srAttachment.Attachment_URL__c == ''), TRUE, FALSE)}">
                                                        <a href="/servlet/servlet.FileDownload?file={!crfAttachmentWrapper.srAttachment.Attachment__c}" target="_blank">VIEW</a>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF((crfAttachmentWrapper.srAttachment.Attachment_URL__c == ''), false, true)}">
                                                        <a href="{!crfAttachmentWrapper.srAttachment.Attachment_URL__c}" target="_blank">VIEW</a>
                                                    </apex:outputPanel>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </apex:outputPanel>
                            </apex:outputPanel>
                            <apex:outputPanel layout="block" id="CRFAttachmentBlock">
                                <apex:outputPanel layout="block" rendered="{!NOT(crfAttachmentWrapper.isPresent)}">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <span class="btn btn-primary btn-file">
                                            <span class="fileupload-new">
                                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                                <br/>Upload Signed CRF
                                            </span>
                                            <span class="fileupload-exists">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                <br/>Change
                                            </span>
                                            <input type="file" id="CRFAttach" class="fileAttachmentnew,fileAttachment" onchange="attachCRFFile();" />
                                        </span>
                                        <div>
                                            <span class="fileupload-preview"></span>
                                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                        </div>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </div>
                    </div>
                </div>
            </section>
 -->            <section id="">
                <div class="well">
                    <apex:outputpanel id="lastSection">
                        <!-- <apex:outputText value="{!caseRecord.Status}" id="test"/>-->
                        <apex:outputpanel rendered="{!caseRecord.Status != 'Submitted'}">
                            <div class="row">
                                <!-- <apex:commandButton id="submitButton" value="Submit SR" status="blockUI" action="{!submitCase}" styleClass="btn btn-sm btn-success" style="margin-left: 197px;" onComplete="notificationFunction();caseSubmitted();deleteAttach();return false;" reRender="notificationPanel,otherPanel,lastSection,buyerValue" />
                               -->
                                <!--                                 <apex:commandButton id="submitButton" value="Submit SR" status="blockUI" action="{!submitCase}" styleClass="btn btn-sm btn-success" style="margin-left: 197px;" onComplete="caseSubmitted();deleteAttach();return false;" reRender="notificationPanel,otherPanel,lastSection,buyerValue" /> -->
                                <apex:commandButton value="Submit SR" id="submitButton" action="{!executews}" status="blockUI"  onclick="SubmitSR();" styleclass="btn btn-sm btn-success" reRender="showmsg,allSRs,notificationPanel,otherPanel,lastSection,buyerValue,CRFAttachmentBlock,serviceRequestId,pageMessage" oncomplete="notificationFunction(); checkSrStatus();"/>
                                <apex:commandButton value="Save as Draft" style="margin-left: 100px;" action="{!executews}" status="blockUI" onclick="saveasdraft();"  styleclass="btn btn-sm btn-success" reRender="showmsg,allSRs,notificationPanel,otherPanel,lastSection,buyerValue,CRFAttachmentBlock" oncomplete="notificationFunction();"/>
                                <!--<apex:commandButton value="Save as Draft" action="{!executews}" style="margin-left: 100px;" onclick="saveasdraft();" status="blockUI" styleclass="btn btn-sm btn-success" reRender="showmsg,allSRs" oncomplete="actionFunName();" />
                            -->
                                <apex:commandButton status="blockUI" style="margin-left: 100px;" value="Close SR" action="{!closeCase}" styleClass="btn btn-sm btn-success closeSR" />
                            </div>
                        </apex:outputpanel>
                        <apex:outputpanel rendered="{!caseRecord.Status == 'Submitted'}">
                            <apex:outputpanel rendered="{!NOT(caseRecord.Is_NOC_For_Visa_Generated__c)}">
                                <apex:outputpanel rendered="{!IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE)}">
                                    <center>
                                        <div class="alert alert-info" style="width: 52%;">
                                            <strong>NOC can be generated once POA document has been verified.</strong>
                                        </div>
                                    </center>
                                </apex:outputpanel>
                                <!--
                                <apex:outputpanel rendered="{!OR(showNOCVisabutton,IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE))}"><center><div class="alert alert-info" style="width: 52%;"><strong>NOC can be generated once POA document has been verified.</strong></div></center></apex:outputpanel>
                                <!---
                                <apex:outputpanel rendered="{!isPOAPresent}"><center><div class="alert alert-info" style="width: 52%;"><strong>NOC can be generated once POA document has been verified.</strong></div></center></apex:outputpanel>
                                -->
                                <center>
                                    <!-- <apex:commandButton value="Generate NOC" action="{!generateNOC}" styleClass="btn btn-sm btn-success" onComplete="notificationFunction();caseSubmitted();deleteAttach();return false;" style="margin-right: 10px;" reRender="lastSection" status="blockUI" disabled="{!IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE)}" />
                                   -->
                                    <!-- <apex:commandButton value="Generate NOC" action="{!generateNOC}" styleClass="btn btn-sm btn-success" style="margin-right: 10px;" reRender="lastSection" status="blockUI" disabled="{!IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE)}" />-->
                                    <!--<apex:commandButton status="blockUI" value="Generate NOC" action="{!generateNOC}" styleClass="btn btn-sm btn-success" style="margin-right: 10px;" reRender="lastSection" disabled="{!IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE)}"/>
                                    -->
                                    <!--  <apex:commandButton value="Generate NOC" status="blockUI" onclick="generatenoc();" styleClass="btn btn-sm btn-success" style="margin-right: 10px;" 
                                    reRender="lastSection" disabled="{!IF(isPOAPresent,IF(poaAttachmentWrapper.srAttachment.isValid__c,FALSE,TRUE), FALSE)}" /> -->
                                    <apex:commandButton status="blockUI" value="Close SR" action="{!closeCase}" styleClass="btn btn-sm btn-success" />
                                </center>
                            </apex:outputpanel>
                            <apex:outputpanel rendered="{!caseRecord.Is_NOC_For_Visa_Generated__c}">
                                <h4>
                                    Generated NOC for VISA
                                    
                                    <span class="pull-right">
                                        <apex:commandButton status="blockUI" value="Close SR" action="{!closeCase}" styleClass="btn btn-sm btn-success" />
                                    </span>
                                </h4>
                                <div class="row">
                                    <table class="paymentDue" cellpadding="10" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Document Name</th>
                                                <th style="text-align: center;">Type</th>
                                                <th style="text-align: center;">Buyer</th>
                                                <th style="text-align: center;">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <apex:repeat value="{!listNOCforVisa}" var="nocForVisa">
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <apex:outputField value="{!nocForVisa.Name}" />
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <apex:outputField value="{!nocForVisa.Type__c}" />
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <apex:outputField value="{!nocForVisa.Description__c}" />
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <!-- <a href="/servlet/servlet.FileDownload?file={!nocForVisa.Attachment__c}" target="_blank">Download</a>-->
                                                        <!-- <a href="{!nocForVisa.Attachment_URL__c}" target="_blank">Download</a>-->
                                                        <apex:outputPanel rendered="{!IF((nocForVisa.Attachment_URL__c == ''), TRUE, FALSE)}">
                                                            <a href="/servlet/servlet.FileDownload?file={!nocForVisa.Attachment__c}" target="_blank">VIEW</a>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF((nocForVisa.Attachment_URL__c == ''), false, true)}">
                                                            <a href="{!nocForVisa.Attachment_URL__c}" target="_blank">VIEW</a>
                                                        </apex:outputPanel>
                                                    </td>
                                                </tr>
                                            </apex:repeat>
                                        </tbody>
                                    </table>
                                </div>
                            </apex:outputpanel>
                        </apex:outputpanel>
                    </apex:outputpanel>
                </div>
            </section>
        </apex:outputPanel>
        <script>
            var caseStatus = '{!caseRecord.Status}';

            function validateCloseSR() {
                if ('{!caseRecord.Id}' == '' || '{!caseRecord.Id}' == NULL) {
                    $('.closeSR').prop('disabled', true);
                } else {
                    $('.closeSR').prop('disabled', false);
                }
            }

            function downloadCRF() {
                window.open("/apex/CRF?id={!caseRecord.Id}&recTypeName=NOC For VISA");
                return false;
            }

            function deleteAttach(){
                if (caseStatus != 'New'){
                    $('.deleteClass').remove();
                }
            }
            validateCloseSR();
            deleteAttach();
        </script>
    </apex:outputPanel>
    <apex:outputPanel id="notificationPanel">
        <script>
            function notificationFunction() {
                var messageConfig = {
                    wrapper: document.body,
                    message: '{!strDisplayMessage}',
                    layout: 'bar',
                    effect: 'exploader',
                    ttl: 6000,
                    type: 'notice'
                };
                
                //var confirmMessages = '{!strDisplayMessage}';
                if ('{!strDisplayMessage}' != '') {
                    toastr.success('{!strDisplayMessage}');
                    //confirmMessages.each(function(index, el){toastr.success($(this).text())});
                    //var notification = new NotificationFx(messageConfig);
                    //$('[id$=exceptionDiv]').append(notification.show());
                }
                if( '{!soaUrl}' != '' ) {
                    window.open('{!soaUrl}', '_blank');
                } 
                if ('{!strDocUrl}' != '') {
                    window.open('{!strDocUrl}', '_blank');
                }

            }

            function caseSubmitted() {
                if ('{!caseRecord.Status}' == 'Submitted') {
                    $(".submitInput").each(function() {
                        $(this).prop("disabled", true);
                    });
                }
            }
        </script>
    </apex:outputPanel>
    <apex:inputHidden value="{!strCRFAttachmentBody}" id="CRFAttachBody"/>
    <apex:inputHidden value="{!strCRFAttachmentName}" id="CRFAttachName"/>
    <apex:inputHidden value="{!strPOAAttachmentBody}" id="POAAttachBody"/>
    <apex:inputHidden value="{!strPOAAttachmentName}" id="POAAttachName"/>
    <apex:inputHidden value="{!titleDeedAttachmentBody}" id="TitleAttachBody"/>
    <apex:inputHidden value="{!titleDeedAttachmentName}" id="TitleAttachName"/>
    <apex:inputHidden value="{!passportAttachmentBody}" id="PDCAttachBody"/>
    <apex:inputHidden value="{!passportAttachmentName}" id="PDCAttachName"/>
    <apex:inputHidden value="{!additionalAttachmentBody}" id="AdditionalAttachBody"/>
    <apex:inputHidden value="{!additionalAttachmentName}" id="AdditionalAttachName"/>
    <apex:inputHidden value="{!isSaveAsDraft}" id="isSaveAsDraftID"/>
    <!--     <apex:inputText value="{!poaAttachmentWrapper.attachmentBody}" styleclass="POAAttachBody" style="display:none;" /> -->
    <!--     <apex:inputText value="{!poaAttachmentWrapper.attachmentName}" styleclass="POAAttachName" style="display:none;" /> -->
    <!--     <apex:inputText value="{!crfAttachmentWrapper.attachmentBody}" styleclass="CRFAttachBody" style="display:none;" /> -->
    <!--     <apex:inputText value="{!crfAttachmentWrapper.attachmentName}" styleclass="CRFAttachName" style="display:none;" /> -->
    <!--     <apex:inputText value="{!titleDeedAttachmentWrapper.attachmentBody}" styleclass="TDAttachBody" style="display:none;" /> -->
    <!--     <apex:inputText value="{!titleDeedAttachmentWrapper.attachmentName}" styleclass="TDAttachName" style="display:none;" /> -->
    <!--     <apex:inputText value="{!passportAttachmentWrapper.attachmentBody}" styleclass="EVAttachBody" style="display:none;" /> -->
    <!--     <apex:inputText value="{!passportAttachmentWrapper.attachmentName}" styleclass="EVAttachName" style="display:none;" /> -->
    <!--     <apex:inputText value="{!additionalAttachmentWrapper.attachmentBody}" styleclass="EIAttachBody" style="display:none;" /> -->
    <!--     <apex:inputText value="{!additionalAttachmentWrapper.attachmentName}" styleclass="EIAttachName" style="display:none;" /> -->
    <script>
        datepickerReload();
        caseSubmitted();

        $("document").ready(function() {
            $('[id$=FlagsRow]').hide();
            $('[id$=UnitDetailsRow]').hide();
            $('[id$=UnitStatusRow]').hide();
            $('[id$=OpenSR]').hide();
            $('[id$=ClosedSR]').hide();     
        });

        function redirectToGeneratedDocument() {
            
            var url = '{!strDocUrl}';
            console.log( 'url  :  '  +  url);
            if( url != null ) {
                window.open( url );
            }
            else {
                notificationFunction();
            }
        }


        function checkSrStatus() {
            var serviceRequestId = $('[id$="serviceRequestId"]').val();
            console.log('>>>>serviceRequestId '+serviceRequestId);
            if (serviceRequestId) {
                toastr.success('Thank you, your Service Request has been submitted successfully');
                ccUtils.switchView('CaseDetails', serviceRequestId);
            } else {
                console.log('>>>else');
                var hasConfirm = $('.confirmM3');
                var confirmMessages = hasConfirm.find('li');
                if (confirmMessages.length) {
                    confirmMessages.each(function(index, el){toastr.success($(this).text())});
                } else if (hasConfirm.length) {
                    toastr.success(hasConfirm.find('.messageText').text());
                }
                var hasError = $('.errorM3');
                var errorMessages = hasError.find('li');
                if (errorMessages.length) {
                    $('.errorM3 li').each(function(index, el){toastr.error($(this).text())});
                } else if (hasError.length) {
                    toastr.error(hasError.find('.messageText').text());
                }
            }
        }

        function reRenderUnitInfo() {
            if ($('[id$=UnitInfoCategory]').val() == 'Unit Details') {
                $('[id$=FlagsRow]').hide();
                $('[id$=UnitDetailsRow]').show();
                $('[id$=UnitStatusRow]').hide();
                $('[id$=OpenSR]').hide();
                $('[id$=ClosedSR]').hide();  
                $('[id$=JointBuyer]').hide();
            }

            if ($('[id$=UnitInfoCategory]').val() == 'Flags') {
                $('[id$=FlagsRow]').show();
                $('[id$=UnitDetailsRow]').hide();
                $('[id$=UnitStatusRow]').hide();
                $('[id$=OpenSR]').hide();
                $('[id$=ClosedSR]').hide(); 
                $('[id$=JointBuyer]').hide();
            }

            if ($('[id$=UnitInfoCategory]').val() == 'Unit Status') {
                $('[id$=FlagsRow]').hide();
                $('[id$=UnitDetailsRow]').hide();
                $('[id$=UnitStatusRow]').show();
                $('[id$=OpenSR]').hide();
                $('[id$=ClosedSR]').hide();
                $('[id$=JointBuyer]').hide();
            }

           if( $('[id$=UnitInfoCategory]').val() == 'Open SRs' ) {
                $('[id$=FlagsRow]').hide();
               $('[id$=UnitDetailsRow]').hide();
               $('[id$=UnitStatusRow]').hide();
               $('[id$=OpenSR]').show();
               $('[id$=ClosedSR]').hide();
               $('[id$=JointBuyer]').hide();
           }
           if( $('[id$=UnitInfoCategory]').val() == 'Joint Buyers' ) {
                       $('[id$=FlagsRow]').hide();
                       $('[id$=UnitDetailsRow]').hide();
                       $('[id$=UnitStatusRow]').hide();
                       $('[id$=OpenSR]').hide();
                       $('[id$=ClosedSR]').hide();
                       $('[id$=JointBuyer]').show();
          }
           if( $('[id$=UnitInfoCategory]').val() == 'Closed SRs' ) {
               $('[id$=FlagsRow]').hide();
               $('[id$=UnitDetailsRow]').hide();
               $('[id$=UnitStatusRow]').hide();
               $('[id$=OpenSR]').hide();
               $('[id$=ClosedSR]').show();
               $('[id$=JointBuyer]').hide();
           }            
        }

        function setFocus() {
            $("html, body").scrollTop($('#navigate').offset().top);
        }

        function datepickerReload() {
            $('.otherSection input.datepickerDOE').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                Date:'today'
            });
        }

        function populateAttachment() {
            $(".fileAttachmentnew").each(function() {
                var idValue = $(this).attr("Id");

                var filename = document.getElementById(idValue).value;
                if (filename != '') {
                    $('.' + idValue + 'Name').val(filename.split('\\').pop());
                    var fbody = document.getElementById(idValue).files[0];
                    var reader = new FileReader();
                    reader.readAsDataURL(fbody);
                    reader.onload = function(e) {
                        var blobfile = window.btoa(this.result);
                        $('.' + idValue + 'Body').val(blobfile);
                    }
                }
            });
            checkSubmit();
        }

        function hidePOA() {
            console.log('in hide POA');
            $('[id$=OpenSR]').hide();
            $('[id$=ClosedSR]').hide();
            $('[id$=FlagsRow]').hide();
            $('[id$=UnitStatusRow]').hide();
        }
/*
        function checkSubmit() {
            var isSubmit = true;
            $(".fileAttachment").each(function() {
                var idValue = $(this).attr("Id");
                var filename = document.getElementById(idValue).value;
                if (filename == '') {
                    isSubmit = false;
                }
            });

            if ($('[id$=POACheck]').is(":checked")) {
                if ($('[id$=POAName]').val().trim() == '' || $('[id$=POAName]').val().trim() == '' ||
                    $('[id$=POAIssuedBy]').val().trim() == '') {
                    isSubmit = false;
                }
            }

            if ($('.multiselect').val() == '' || $('.multiselect').val() == null) {
                isSubmit = false;
            }

            if (isSubmit) {
                $('[id$=submitButton]').prop("disabled", false);
                $('[id$=submitButton]').prop("title", '');
            } else {
                $('[id$=submitButton]').prop("disabled", true);
                $('[id$=submitButton]').prop("title", 'Please input all the required fields and attachments to enable submission.');
            }
        }
  */
          function checkSubmit() {
            var isSubmit = true;
            $(".fileAttachmentnew").each(function() {
                var idValue = $(this).attr("Id");
                var filename = document.getElementById(idValue).value;
                if (filename == '') {
                    
                    //isSubmit = false;
                    console.log('....isSubmit....1'+isSubmit);
                }
            });

            if ($('[id$=POACheck]').is(":checked")) {
                if ($('[id$=POAName]').val().trim() == '' || 
                    $('[id$=POAName]').val().trim() == '' ||
                    $('[id$=POAIssuedBy]').val().trim() == '') {
                        
                    //isSubmit = false;
                     console.log('....isSubmit....2'+isSubmit);
                }
            }
            
            //console.log('...TDAttach...'+ document.getElementById("TDAttach").files[0] );
            //console.log('...CRFAttach...'+ document.getElementById("CRFAttach").files[0] );
            var TDAttachfile = document.getElementById("TDAttach").value;
            if( TDAttachfile == '' ) {
                isSubmit = false;
                console.log('....isSubmit....6'+isSubmit);
            }
            var EVAttach = document.getElementById("EVAttach").value;
            if( EVAttach == '' ) {
                isSubmit = false;
                console.log('....isSubmit....passport'+isSubmit);
            }
            var EIAttach = document.getElementById("EIAttach").value;
            if( EIAttach == '' ) {
                isSubmit = false;
                console.log('....isSubmit....EIAttach'+isSubmit);
            }
            
            /*var filenameCRFAttach = document.getElementById("CRFAttach").value;
            if( filenameCRFAttach == '' ) {
                isSubmit = false;
                console.log('....isSubmit....7'+isSubmit);
            }*/
            
            if ($('.multiselect').val() == '' || $('.multiselect').val() == null) {
                isSubmit = false;
                 console.log('....isSubmit....3'+isSubmit);
            }

            if (isSubmit) {
                $('[id$=submitButton]').prop("disabled", false);
                 $('[id$=SaveCloseButton]').prop("disabled", false);
                
                $('[id$=submitButton]').prop("title", '');
                 $('[id$=SaveCloseButton]').prop("title", '');
                console.log('....isSubmit....4'+isSubmit);
            } else {
                $('[id$=submitButton]').prop("disabled", true);
                $('[id$=SaveCloseButton]').prop("disabled", true);
                $('[id$=submitButton]').prop("title", 'Please input all the required fields and attachments to enable submission.');
                $('[id$=SaveCloseButton]').prop("title", 'Please input all the required fields and attachments to enable submission.');
                 console.log('....isSubmit....5'+isSubmit);
            }
        }
         function saveasdraft(){
                $('[id$=isSaveAsDraftID]').val(true);
         }
          function SubmitSR(){
                $('[id$=isSaveAsDraftID]').val(false);
                /*console.log( document.getElementById("TDAttach").files[0] );
                console.log( document.getElementById("CRFAttach").files[0] );
                var TDAttachfile = document.getElementById("TDAttach").value;
                var filename = document.getElementById("CRFAttach").value;
                if( TDAttachfile == '' ) {
                    {!strDisplayMessage} = 'Please upload Title Deed document';
                }
                if( filename == '' ) {
                    {!strDisplayMessage} = 'Please upload CRF document';
                }
                else{
                    submitbutton();
                }
                */
         }
  
       function attachAdditionalFile(){
        console.log( document.getElementById("EIAttach").files[0] );
        var filename = document.getElementById("EIAttach").value;
        if( filename != '' ) {
            $('[id$=AdditionalAttachName]').val(filename);
            var fbody = document.getElementById("EIAttach").files[0];
            var reader = new FileReader();
            reader.readAsDataURL(fbody);
            reader.onload = function(e) {
                var blobfile = window.btoa(this.result);
                $('[id$=AdditionalAttachBody]').val(blobfile);
            }
        }
        checkSubmit();
      }
        
     function attachCRFFile() 
      {
        console.log( document.getElementById("CRFAttach").files[0] );
        var filename = document.getElementById("CRFAttach").value;
        if( filename != '' ) {
            $('[id$=CRFAttachName]').val(filename);
            var fbody = document.getElementById("CRFAttach").files[0];
            var reader = new FileReader();
            reader.readAsDataURL(fbody);
            reader.onload = function(e) {
                var blobfile = window.btoa(this.result);
                $('[id$=CRFAttachBody]').val(blobfile);
            }
        }
         checkSubmit();
      }

      function attachPassportFile() 
      {
        console.log( document.getElementById("EVAttach").files[0] );
        var filename = document.getElementById("EVAttach").value;
        if( filename != '' ) {
            $('[id$=PDCAttachName]').val(filename);
            var fbody = document.getElementById("EVAttach").files[0];
            var reader = new FileReader();
            reader.readAsDataURL(fbody);
            reader.onload = function(e) {
                var blobfile = window.btoa(this.result);
                $('[id$=PDCAttachBody]').val(blobfile);
            }
        }
      }

      function attachPOAFile()
      {
        console.log( document.getElementById("POAAttach").files[0] );
        var filename = document.getElementById("POAAttach").value;
        if( filename != '' ) {
            $('[id$=POAAttachName]').val(filename);
            var fbody = document.getElementById("POAAttach").files[0];
            var reader = new FileReader();
            reader.readAsDataURL(fbody);
            reader.onload = function(e) {
                var blobfile = window.btoa(this.result);
                $('[id$=POAAttachBody]').val(blobfile);
            }
        }
        checkSubmit();
      }

      function attachtitledeedFile()
      {
        console.log( document.getElementById("TDAttach").files[0] );
        var filename = document.getElementById("TDAttach").value;
        if( filename != '' ) {
            $('[id$=TitleAttachName]').val(filename);
            var fbody = document.getElementById("TDAttach").files[0];
            var reader = new FileReader();
            reader.readAsDataURL(fbody);
            reader.onload = function(e) {
                var blobfile = window.btoa(this.result);
                $('[id$=TitleAttachBody]').val(blobfile);
            }
        }
        checkSubmit();
      }
       function openCRFDoc(val1) {        
        console.log('--openCRFDoc val1--'+val1);
        if(val1 != '' && val1 != null && val1 != 'null' && val1 != undefined ){
            window.open(val1, '_blank');
        }
    }
    </script>
</apex:component>