<apex:component controller="ParentCaseSearchCtrl">
    <style>
        .Search-Key {
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .fa-search {
            width: 37px;
            height: 34px;
            border: 0px;
            color: black;
            border-radius: 4px;
        }
        button#closeModal {
            background: transparent;
            padding: 15px 20px;
            border: none;
            position: absolute;
            right: 0;
        }
    </style>
    <apex:attribute name="DraftedParentCaseId" type="Id" description="stores the id of parent case"/>
    <apex:attribute id="draftId" name="DraftedparentSearchKey" type="String" description="stores the parent case number"/>
    <apex:outputPanel layout="block">
        
        <section id="">
            <div class="well">
              <apex:actionFunction action="{!searchParentCase}" 
                                    name="searchOwnersAf" 
                                    rerender="popUpSearchPanel,pgMsg" 
                                    onComplete="document.getElementById('modalBtn').click();" 
                                    status="blockUI"/> 
                <button id ="modalBtn" type="button" data-toggle="modal" data-target="#ownerPopUp" aria-hidden="true" style="display:none"> </button>                    
                <h4 color="black">Parent Case/Approval Case</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div width="50%">
                            <h5>Select parent/approval case</h5>
                            <apex:inputText id="searchKey" value="{!parentSearchKey}" styleclass="inputs Search-Key" />
                            <button type="button" class="fa fa-search" onClick="validateSearchKey();"></button>
                            <apex:commandLink value="Clear" 
                                            onClick="$('[id$=draftId]').val('');$('[id$=parentId]').val('');$('[id$=searchKey]').val('');$('[id$=DraftedParentCaseId]').val(''); return false;"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </apex:outputPanel>
    <apex:outputPanel id="popUpSearchPanel">
        
        <div id="ownerPopUp" class="modal fade" role="dialog" align="center" style="padding-top:3%">
            <div class="modal-dialog" style="max-width:40%">
                <!-- Modal content-->
                <div class="modal-content" style="height:500px; overflow-y:auto;">
                    <button type="button" id="closeModal" class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" 
                        data-dismiss="modal" align="right">
                    <span class="slds-assistive-text">X</span></button>
                    <div class="modal-header slds-text-heading_medium" >
                        <b>Select Parent Case</b>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="container" style="max-width:80%">
                            <div class="row">
                                <div class="col-12">
                                    <apex:outputPanel rendered="{!AND(listParentCases != null,listParentCases.size > 0)}">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Case Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat value="{!listParentCases}" var="parentCase">
                                                    <tr>
                                                        <td>
                                                            <apex:commandLink onClick="closeModal( '{!parentCase}', '{!parentCase.CaseNumber}'); return false;">
                                                                {!parentCase.CaseNumber}
                                                            </apex:commandLink>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!OR(listParentCases == null,listParentCases.size <= 0)}">
                                        No Records Found.
                                    </apex:outputPanel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    <apex:inputHidden value="{!parentCaseId}" id="parentId"/>
    <apex:inputHidden value="{!parentSearchKey}" id="parentSearchKey"/>
    <script>
        $( document ).ready(function() {
            $('[id$=searchKey]').val("{!DraftedparentSearchKey}");
            $('[id$=parentId]').val("{!DraftedParentCaseId}");
            debugger;
        });
        
        function validateSearchKey() {
                var charLength = $('[id$=searchKey]').val().length;
                if(charLength < 4){
                    alert('Enter atleast 4 characters');
                }else{
                    $("[id$=parentSearchKey]").val( $('[id$=searchKey]').val() );
                    searchOwnersAf();
                }
            }
            function closeModal( ownerId, ownerName ) {
        
                document.getElementById('closeModal').click();
                $('[id$=parentId]').val( ownerId );
                $('[id$=searchKey]').val( ownerName );
                debugger;
            }
    </script>
</apex:component>