<apex:component layout="none">

  <script type="text/template" class="table-template">
      <%
      if( displayAs == 'table'  ) {
          if (dataList ) {
          %>
              <table class=" <%=displayAs%> table table-striped table-hover dt-responsive display nowrap"
                         data-pagination="true"
                         data-search="true">
              <thead>
                  <tr>
                      <% _.each( fieldList , function( field ){
                        if (!field.isQueryOnly) { %>
                          <th>
                              <%=field.title%>
                          </th>
                      <%}
                      });
                      if (detailFieldList && detailFieldList.length) {
                      %>
                          <th>View Details</th>
                      <%
                      }
                      %>
                  </tr>
              </thead>

              <tbody>
                  <%
                  _.each( dataList , function( record, index ){
                  %>
                      <tr data-row='<%=JSON.stringify(record)%>' data-id="<%=record.Id || index%>">

                            <div class="modal fade" id="myModalNew1<%=record.Id || index%>" tabindex="-1" role="dialog" aria-labelledby="#myModalNew1<%=record.Id || index%>" aria-hidden="true" data-case-id="<%=record.Id || index%>">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                          <button type="button" class="close"
                                                  data-dismiss="modal">
                                              <span aria-hidden="true">&times;</span>
                                              <span class="sr-only">Close</span>
                                          </button>
                                      </div>

                                      <!-- Modal Body -->
                                      <div class="modal-body">
                                              <div class="form-group">
                                              <span>
                                                  <%_.each( detailFieldList , function( fieldDetail ){
                                                      if (fieldDetail.isTitleField) { %>
                                                      <h4><%= record[fieldDetail.field] %></h4>
                                                      <% }
                                                  })%>
                                              </span>

                                              <%_.each( detailFieldList , function( fieldDetail ){
                                                  if (!fieldDetail.isTitleField) { %>
                                                  <h6><%=fieldDetail.title%></h6>
                                                  <label><%= ((fieldDetail.type === "currency")
                                                          ? (isNaN(Number(record[fieldDetail.field]))
                                                              ? ''
                                                              : Number(record[fieldDetail.field])
                                                                  .toLocaleString(
                                                                      'en',
                                                                      {
                                                                          minimumFractionDigits: 2,
                                                                          maximumFractionDigits: 2
                                                                      }
                                                                  )
                                                              )
                                                          : record[fieldDetail.field]) %></label>
                                                  <% }
                                              }) %>
                                          </div>
                                      </div>

                                      <!-- Modal Footer -->
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default"
                                                  data-dismiss="modal">
                                              Close
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <%_.each( fieldList , function( fieldDetail ){
                            if (!fieldDetail.isQueryOnly) { %>
                              <td data-label="<%=fieldDetail.title%>" data-sort="<%=record[fieldDetail.field]%>" >
                              <% if (record[fieldDetail.field] == '' && fieldDetail.defaultValue != undefined) { %>
                                  <%=fieldDetail.defaultValue%>
                              <% } else if (fieldDetail.type === "html") { %>
                                  <%=record[fieldDetail.field]%>
                              <% } else if (fieldDetail.type === "link") { %>
                                      <a class="<%=fieldDetail.class || ''%>"
                                        <% if (record[fieldDetail.field + 'onClick']) { %>
                                          onclick="<%=record[fieldDetail.field + 'onClick']%>"
                                        <% } %>
                                        <% if (record.href) { %>
                                          href="<%=record.href%>"
                                          target="<%=(fieldDetail.target ? fieldDetail.target : '_blank')%>"
                                        <% } %>
                                          style="border: 0;text-align: initial;width: initial;">
                                          <%=fieldDetail.linkText
                                              ? fieldDetail.linkText
                                              : record[fieldDetail.field]%>
                                      </a>
                              <% } else if (fieldDetail.type === "currency") { %>
                                  <%= (isNaN(Number(record[fieldDetail.field]))
                                          ? ''
                                          : Number(record[fieldDetail.field])
                                              .toLocaleString(
                                                  'en',
                                                  {
                                                      minimumFractionDigits: 2,
                                                      maximumFractionDigits: 2
                                                  }
                                              )
                                      )
                                  %>
                              <% } else if (fieldDetail.type === "datetime" && record[fieldDetail.field] != '') {%>
                                  <%= new Date(record[fieldDetail.field]).toLocaleDateString('en-in', {hour: '2-digit', minute:'2-digit'})%>
                              <% } else if (fieldDetail.type === "date" && record[fieldDetail.field] != '') {%>
                                  <%= new Date(record[fieldDetail.field]).toLocaleDateString('en-in')%>
                              <% } else if (fieldDetail.type === "time" && record[fieldDetail.field] != '') {%>
                                  <%= new Date(record[fieldDetail.field]).toLocaleTimeString('en-in', {hour: '2-digit', minute:'2-digit'})%>
                              <% } else {%>
                                  <%=record[fieldDetail.field]%>
                              <% } %>
                          </td>
                          <%}
                          });%>
                          <%
                          if (detailFieldList && detailFieldList.length) {
                          %>
                            <td data-label="View Details">
                                <button type="button" onclick="$('#myModalNew1<%=record.Id || index%>').modal('show');" class="btn btn-primary btn-xs" data-toggle="" title="View Details" data-content="Default popover" data-target=""><i class="fa fa-info-circle" aria-hidden="true" ></i></button>
                          </td>
                            <%
                            }
                            %>
                      </tr>
                  <% }) %>
                  </tbody>
              </table>

          <%
          } else {
              %>

              <h5>No records to display</h5>

          <%
          }
      }
      %>

      <% if( displayAs == 'recordDetail'  ) { %>

          <% _.each( dataList , function( record ){ %>

                  <span>
                      <%_.each( fieldList , function( fieldDetail ){
                          if (fieldDetail.isTitleField) { %>
                          <h4><%= record[fieldDetail.field] %></h4>
                          <% } else if (fieldDetail.isSubTitleField) {%>
                              <%= fieldDetail.title %> : <span style="display: inline;font-weight: 600;"><%= record[fieldDetail.field] %></span>
                          <%} else if (fieldDetail.isStatusField) {%>
                              <span class="status <%= (record[fieldDetail.field] || '' ).toString().toLowerCase() %>"><%= record[fieldDetail.field] %></span>
                          <%}
                      })%>
                  </span>

                  <%_.each( fieldList , function( fieldDetail ){
                      if (record[fieldDetail.field]
                          && !fieldDetail.isTitleField
                          && !fieldDetail.isSubTitleField
                          && !fieldDetail.isStatusField
                          && !fieldDetail.isQueryOnly) { %>


                          <div class="row">
                              <div class="col-lg-12 col-xs-6">
                              <h6><%=fieldDetail.title%></h6>
                              </div>
                              <div class="col-lg-12 col-xs-6">
                                  <label>
                                      <% if (fieldDetail.type === "html") { %>
                                          <%=record[fieldDetail.field]%>
                                      <% } else if (fieldDetail.type === "link") { %>
                                              <a  onclick="<%=record[fieldDetail.field + 'onClick']%>"
                                                  style="border: 0;text-align: initial;width: initial;">
                                                  <%=fieldDetail.linkText
                                                      ? fieldDetail.linkText
                                                      : record[fieldDetail.field]%>
                                              </a>
                                       <% } else if (fieldDetail.type === "currency") { %>
                                          <%= (isNaN(Number(record[fieldDetail.field]))
                                                  ? ''
                                                  : Number(record[fieldDetail.field])
                                                      .toLocaleString(
                                                          'en',
                                                          {
                                                              minimumFractionDigits: 2,
                                                              maximumFractionDigits: 2
                                                          }
                                                      )
                                              )
                                          %>
                                      <% } else if (fieldDetail.type === "datetime" && record[fieldDetail.field] != '') { %>
                                          <%= new Date(record[fieldDetail.field]).toLocaleString('en-GB')%>
                                      <% } else if (fieldDetail.type === "date" && record[fieldDetail.field] != '') { %>
                                          <%= new Date(record[fieldDetail.field]).toLocaleDateString('en-GB')%>
                                      <% } else {%>
                                          <%=record[fieldDetail.field]%>
                                      <% }%>
                                  </label>
                              </div>
                          </div>



                      <% }
                  })%>

          <% }) %>

       <% } %>

  </script>

</apex:component>