<!--
  @Page Name          : UnitDetails.component
  @Description        :
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              :
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 7/17/2019, 3:55:07 PM
  @Modification Log   :
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    7/17/2019, 2:52:22 PM   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<apex:component controller="UnitDetailController">

    <!-- <apex:attribute name="recordId"
                  description="Id of the Unit record"
                  type="String"
                  required="false"
                  assignTo="{!unitId}" /> -->

    <style>
      #soaIframe {
        margin-top :2rem;
      }

      .infoBoxes h5 a {
          font-size : 14px;
      }

      .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        /*background-color: #1b2431!important;*/
      }
      .text-align-center {
        text-align : center;
      }
      tbody {
        word-wrap : break-word;
      }
      .spc-bottom-5 {
        margin-bottom : 5rem;
      }
      .btn-gen-fm-soa {
        margin-bottom : 1rem;
        margin-top : 1rem;
      }
      .termsx {
        overflow-y : scroll;
        height : 100px;
        width : 100%;
        border : 1px solid #DDD;
        padding : 5px;
        margin-bottom : 1rem;
      }
      .termsx-text {
        font-size : 11px!important;
      }
      table, th, td {
        padding : 10px;
        text-align : center;
      }
      .modal-header {
         padding:9px 15px;
         border-bottom:1px solid #eee;
         background-color: white;
         color:black;
     }
     .modal-header .close {
        margin-top:2px;
    }
     .modal-header h4 {
        margin:0;
        line-height:30px;
    }
    .modal-footer small {
        text-align : center;
        font-weight: bold;
        font-style: italic;
    }
    .btn-align {
      overflow: auto;
    }
    .cardStats .stat1:hover {
        background-color: #D3D3D3  ;
    }

    @media screen and (max-width: 480px) {
      .btn-align {
        align-items: center;
      }
    }
    </style>

    <apex:actionFunction name="initializeVariables" action="{!initializeVariables}" reRender="unitDetails,unitDetailsInner">
      <apex:param name="unitId" value="" assignTo="{!unitId}"/>
    </apex:actionFunction>
    <apex:actionFunction name="getCharge" reRender="amountDiv" status="blockUI"></apex:actionFunction>

    <apex:outputPanel id="unitDetails">
        <apex:outputPanel id="unitDetailsInner">

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Schedule Administration Fee</h4>
                        </div>
                        <div class="modal-body">
                            <table border="2"  width="100%">
                                <thead style="width:100%;">
                                    <tr>
                                        <th colspan="2">Payments/Transactions</th>
                                        <th>Charges</th>
                                    </tr>
                                    <tr>
                                        <th>Min ({!unit.CurrencyIsoCode})</th>
                                        <th>Max ({!unit.CurrencyIsoCode})</th>
                                        <th> ({!unit.CurrencyIsoCode}) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <apex:repeat value="{!lstCharges}" var="charges">
                                        <tr>
                                            <td> {!charges.Minimum_Value__c} </td>
                                            <td> {!charges.Maximum_Value__c} </td>
                                            <td> {!charges.Charges__c} </td>
                                        </tr>
                                     </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalConfirm" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="lblTitleConfirm" class="modal-title">Please confirm amount as below : </h4>
                        </div>
                        <div class="modal-body">
                            <p id="lblMsgConfirm1"></p>
                            <p id="lblMsgConfirm2"></p>
                            <p id="lblMsgConfirm3"></p>
                        </div>
                        <div class="modal-footer">
                          <div class="modal-body">
                              <h4 id="lblMsgConfirm5" style="text-align: center;"></h4>
                          </div>

                          <h5 class="modal-title" style="text-align:center;">Select Payment Gateway</h5>   

                           
                                  <apex:outputPanel rendered="{!IF(CONTAINS('1',$Label.CustomerPortalPaymentGatewayOption),true,false)}">

                                   <center>
                                        <div class="cardStats">
                                            <div class="well stat1 hand-point" onclick="proceedToPayfort();" style="margin: 3rem; margin-left: 3rem; cursor: pointer; padding: 1rem; box-shadow: 5px 5px 10px grey;">
                                                <div class="row" style="padding-bottom: 3rem;">
                                                    <br/>
                                                    <div class="col-lg-11" style="float:left;">
                                                        <img class="" src="{!URLFOR($Resource.payfortLogo)}" alt="" style="width: 185px; height: 50px; padding-left: 4rem;" />
                                                    </div>
                                                    <div class="clear" style="clear:both;"></div>
                                                    <div class="col-lg-12">
                                                        <h6 style="text-align: center;">Pay with Payfort</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                  </apex:outputPanel>

                                  <apex:outputPanel rendered="{!IF(CONTAINS('2',$Label.CustomerPortalPaymentGatewayOption),true,false)}">

                                      <center>
                                        <div class="cardStats">
                                          <div class="well stat1 hand-point" onclick="doPay();" style="margin: 3rem; cursor: pointer; padding: 1rem;box-shadow: 5px 5px 10px grey;">
                                              <div class="row" style="padding-top: 1rem; padding-bottom: 2rem;">
                                                  <br/>
                                                  <center>
                                                      <div class="col-lg-11" style="float:left;">
                                                          <img class="" src="{!URLFOR($Resource.ccAvenuelogo)}" alt="" style="width: 200px; height: 40px; padding-left: 4rem;"/>
                                                      </div>
                                                  </center>
                                                  <div class="clear" style="clear:both;"></div>
                                                  <div class="col-lg-12">
                                                      <h6 style="text-align: center;">Pay with ccAvenue</h6>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>

                                    </center>
                                  </apex:outputPanel>

                                  <!--for both the PG-->
                                  <apex:outputPanel rendered="{!IF(CONTAINS('3',$Label.CustomerPortalPaymentGatewayOption),true,false)}">
                                      <center>
                                          <div class="cardStats">

                                              <div class="well stat1 hand-point" onclick="proceedToPayfort();" style="margin: 3rem; margin-left: 3rem; cursor: pointer; padding: 1rem; box-shadow: 5px 5px 10px grey;">
                                                  <div class="row" style="padding-bottom: 3rem;">
                                                      <br/>
                                                      <div class="col-xs-2 col-sm-2" style="float:left;">
                                                          <img class="" src="{!URLFOR($Resource.payfortLogo)}" alt="" style="width: 200px; height: 50px; padding-left: 4rem;" />
                                                      </div>
                                                      <div class="clear" style="clear:both;"></div>
                                                      <div class="col-lg-12">
                                                          <h6 style="text-align: center;">Pay with Payfort</h6>
                                                      </div>
                                                      
                                                  </div>
                                              </div>
                                                                     
                                              <div class="well stat1 hand-point" onclick="doPay();" style="margin: 3rem; cursor: pointer; padding: 1rem; box-shadow: 5px 5px 10px grey;">
                                                  <div class="row" style="padding-top: 1rem; padding-bottom: 3rem;">
                                                      <br/>
                                                      <div class="col-xs-2 col-sm-2" style="float:left;">
                                                          <img class="" src="{!URLFOR($Resource.ccAvenuelogo)}" alt="" style="width: 190px; height: 40px; padding-left: 4rem;"/>
                                                      </div>
                                                      <div class="clear" style="clear:both;"></div>
                                                      <div class="col-lg-12">
                                                          <h6 style="text-align: center;">Pay with ccAvenue</h6>
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                      </center>
                                  </apex:outputPanel>
                                  <!--END for both the PG-->

                              <!-- </div>
                            </center> -->
                                

                               <!--  <button id="btnPayfortConfirm" type="button" class="btn btn-primary" onclick="proceedToPayfort();">Pay with Payfort </button> 
                                <button id="btnYesConfirm" type="button" class="btn btn-primary">Pay </button> -->
                                <button id="btnNoConfirm" type="button" class="btn btn-default">Cancel</button>
                                <br /> <div style="text-align:left;"><small id="lblMsgConfirm4"></small></div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

              <div class="col-md-9">
                  <section id="">

                      <div class="well" >
                          <div class="spc-bottom-5">
                            <!-- <c:Portal_Help section="UnitDetails" InventoryId="{!unit.Inventory__c}"/> -->
                              <h4 style="padding-left: 15px;" class = "notranslate">{!unit.Unit_Name__c}</h4>
                              <h5 class="col-md-12">Status:
                                <span class="status {!LOWER(unit.Registration_Status__c)}">
                                  {! unit.Registration_Status__c }
                                </span>
                              </h5>

                          </div>

                          <div class="row unit-data-block">
                            <div class="salesforce-data-block">
                                <!-- SALESFORCE RECORD DATA -->
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Project City</h6>
                                        <h5 class="col-md-12 ipms-field notranslate" data-field="strProjectCity"></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Bedroom Type</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strBedroomType_UnitType"><!-- {!unit.Bedroom_Type__c} --></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Unit Type</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strUnitType"><!-- {!unit.Unit_Type__c} --></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Permitted Use</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strPermittedUse"><!-- {!unit.Permitted_Use__c} --></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Ready/Off plan</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strReady_Offplan"></h5>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Invoices raised</h6>
                                        <h5 class="col-md-12 ipms-field notranslate" data-field="strInvoicesRaised" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} -->
                                            <!-- <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass">
                                               <apex:param value="{!ROUND(unit.Total_Collections__c + unit.Total_due_Overdue__c, 2)}" />
                                            </apex:outputText>
                                        </h5>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Amount paid</h6>
                                        <h5 class="col-md-12 ipms-field notranslate" data-field="strAmountPaid" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} -->
                                            <!-- <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass">
                                               <apex:param value="{!ROUND(unit.Total_Collections__c, 2)}" />
                                            </apex:outputText>
                                        </h5>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Penalties</h6>
                                        <h5 class="col-md-12 notranslate" data-field="strPenalties" data-type="currency">{!unit.CurrencyIsoCode}&nbsp;
                                            <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass">
                                               <apex:param value="{ROUND(VALUE(objWrap.strPenalties), 2)}" />
                                            </apex:outputText>
                                        </h5>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Overdue</h6>
                                        <h5 class="col-md-12 ipms-field notranslate" data-field="strOverdue" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} --><!-- &nbsp;
                                            <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass">
                                               <apex:param value="{!ROUND(unit.Total_due_Overdue__c, 2)}" />
                                            </apex:outputText>
                                        </h5>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Payment Plan</h6>
                                        <h5 class="col-md-12" data-field="objPlan"></h5>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Booking Date</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strBookingDate"></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Agreement Date</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strAgreementDate">
                                          <apex:outputText value="{0, date, dd-MMM-yyyy}">
                                            <apex:param value="{!unit.Agreement_Date__c}" />
                                          </apex:outputText>
                                        </h5>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Unit Plan</h6>
                                        <h5 class="col-md-12"><a href="{!unit.Unit_Plan__c}" target="_blank"
                                            style="{!IF(ISBLANK(unit.Unit_Plan__c) || ISNULL(unit.Unit_Plan__c), 'display: none;', '')}">View</a></h5>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Floor Plan</h6>
                                        <h5 class="col-md-12"><a href="{!unit.Floor_Plan__c}" target="_blank"
                                            style="{!IF(ISBLANK(unit.Floor_Plan__c) || ISNULL(unit.Floor_Plan__c), 'display: none;', '')}">View</a></h5>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Area sq.ft</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="{!IF(unit.Handover_Flag__c == 'Y' || unit.Early_Handover__c, 'strJOPDArea', 'strArea')}"><!-- {!unit.Area_sft__c} --></h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Price</h6>
                                        <h5 class="col-md-12 ipms-field notranslate" data-field="strPrice" data-type="currency"><!-- {!unit.CurrencyIsoCode} -->
                                            <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass">
                                               <apex:param value="{!ROUND(unit.Requested_Price__c, 2)}" />
                                            </apex:outputText>
                                        </h5>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">RERA Construction Status</h6>
                                        <h5 class="col-md-12" data-field="strReraConstructionStatus">{!unit.Construction_Status__c}</h5>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <div class="infoBoxes">
                                        <h6 class="col-md-12">Completion Date</h6>
                                        <h5 class="col-md-12 ipms-field" data-field="strCurrentACD">
                                          <!-- {!unit.Anticipated_Completion_Date__c} -->
                                          <apex:outputText value="{0, date, dd-MMM-yyyy}">
                                            <apex:param value="{!unit.Anticipated_Completion_Date__c}" />
                                          </apex:outputText>
                                        </h5>
                                    </div>
                                </div>
                          </div>
                          <!-- SALESFORCE RECORD DATA -->



                          <div class="ipms-data-block">

                              <!-- IPMS DATA -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Paid %</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strPaidPercent"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">% Overdue</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strPercentOverdue"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">%PDC coverage</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strPercentPDCCoverage"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">No. of times customer defaulted on instalments</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strNoOfTimesCustomerDefaultedOnInstalments"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Recovery flag</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strRecoveryFlag"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Assignment NOC issuance in last 15 days</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strNOCIssuanceInLast15Days"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6" style="clear: left;">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">AR PCC</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strARPCC"></h5>
                                  </div>
                              </div> -->
<!--                               <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Total Outstanding</h6>
                                      <h5 class="col-md-12 ipms-field notranslate" data-field="strTotalOutstanding" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} --><!-- &nbsp;</h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Default</h6>
                                      <h5 class="col-md-12 ipms-field" data-field="strDefault"></h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Penalty / Over dues (Portfolio level)</h6>
                                      <h5 class="col-md-12 ipms-field notranslate" data-field="strPenalty_Overdues" data-type="currency">{!unit.CurrencyIsoCode}&nbsp;</h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Penalty</h6>
                                      <h5 class="col-md-12 ipms-field notranslate" data-field="strPenaltyRemaining" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} --><!-- &nbsp;</h5>
                                  </div>
                              </div> -->
                             <!--  <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Dues towards Service Charges</h6>
                                      <h5 class="col-md-12 ipms-field notranslate" data-field="strOverdues_DuesTowardsServiceCharges" data-type="currency"> --><!-- {!unit.CurrencyIsoCode} --><!-- &nbsp;</h5>
                                  </div>
                              </div> -->
                              <!-- <div class="col-lg-4 col-sm-6 col-xs-6">
                                  <div class="infoBoxes">
                                      <h6 class="col-md-12">Penalties/ Late payment fee on Service Charges</h6>
                                      <h5 class="col-md-12 ipms-field notranslate" data-field="strPenalties_LatePaymentFeeOnServiceCharges" data-type="currency">{!unit.CurrencyIsoCode}&nbsp;</h5>
                                  </div>
                              </div> -->
                              <!-- IPMS DATA -->
                            </div>
                        </div>

                      </div>


                      <div class="well joint-buyers">
                          <h4>
                              My Joint Buyers
                          </h4>

                          <div class="row">
                              <div class="col-lg-12">
                                <c:GenericDataRenderer configDocumentName="UnitBuyersDisplayConfig" filter="{!buyersFilter}"/>
                              </div>
                          </div>

                      </div>
                    <!--  <apex:outputPanel rendered="{!caseLst.size > 0}">
                        <div class = "well handover" >
                          <h4>
                            Handover
                          </h4>
                          <div class = "row">
                            <div class = "col-lg-12">
                              <c:HandoverUnitDetails recordId="{!unit.id}" unitLocation="{!unit.Inventory__r.Building_Location__c}"/>
                            </div>
                          </div>
                        </div>
                      </apex:outputPanel> -->
                      <div class="well">
                          <h4>
                              <!-- Related Details -->
                              Related Service Requests
                          </h4>
                          <div class="row">
                              <div class="col-lg-12">
                                  <ul class="nav nav-pills">
                                      <li role="presentation" class=""><a href="#plan1" data-toggle="tab" data-original-title="Related Service Requests" aria-expanded="true"><!-- Related Service Requests --></a></li>
                                      <!-- <li role="presentation" class="tabHeader"><a href="#plan2" data-toggle="tab" data-original-title="Transaction History" aria-expanded="true">Transaction History</a></li> -->
                                  </ul>
                                  <div class="tab-content">
                                      <div class="tab-pane fade active in" role="tabpanel" id="plan1">
                                          <c:GenericDataRenderer configDocumentName="UnitSRDisplayConfig" filter="{!srFilter}"/>
                                      </div>
                                      <!-- <div class="tab-pane fade in" role="tabpanel" id="plan2">
                                          <c:UnitPaymentTerms unit="{!unit}"/>
                                      </div> -->
                                      <div class="tab-pane fade in" role="tabpanel" id="plan3">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="well">
                          <h4>
                              Transaction History
                          </h4>
                          <div class="row">
                              <div class="col-lg-12">
                                  <ul class="nav nav-pills">
                                      <!-- <li role="presentation" class="active tabHeader"><a href="#plan1" data-toggle="tab" data-original-title="Related Service Requests" aria-expanded="true">Related Service Requests</a></li> -->
                                      <!-- <li role="presentation" class="active tabHeader"> -->
                                        <li role="presentation" class=""><a href="#plan2" data-toggle="tab" data-original-title="Transaction History" aria-expanded="true"><!-- Transaction History --></a></li>
                                  </ul>
                                  <div class="tab-content">
                                      <!-- <div class="tab-pane fade active in" role="tabpanel" id="plan1">
                                          <c:GenericDataRenderer configDocumentName="UnitSRDisplayConfig" filter="{!srFilter}"/>
                                      </div> -->
                                      <div class="tab-pane fade active in" role="tabpanel" id="plan2">
                                          <c:UnitPaymentTerms unit="{!unit}"/>
                                      </div>
                                      <div class="tab-pane fade in" role="tabpanel" id="plan3">

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                     <apex:outputPanel rendered = "{!listWrapper.size > 0}">
                      <div class="well">
                          <h4>
                              Unit Documents
                          </h4>
                          <br/>
                          <!--<div class="row">
                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].SPA}" target="_blank" rendered="{!listWrapper[0].SPA != null}"><b>SPA</b></apex:commandLink>
                            </div>

                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].AGRMNT1}" target="_blank" rendered="{!listWrapper[0].AGRMNT1 != null}"><b>Addendum 1</b></apex:commandLink>
                            </div>

                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].AGRMNT2}" target="_blank" rendered="{!listWrapper[0].AGRMNT2 != null}"><b>Addendum 2</b></apex:commandLink>
                            </div>
                          </div>-->

                          <div class="row">
                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].SPA}" target="_blank" rendered="{!OR(listWrapper.size > 0,listWrapper[0].SPA !=null )}"><b>SPA</b></apex:commandLink>
                            </div>

                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].AGRMNT1}" target="_blank" rendered="{!OR(listWrapper.size > 0,listWrapper[0].AGRMNT1 != null)}"><b>Addendum 1</b></apex:commandLink>
                            </div>

                            <div class="col-lg-4">
                              <apex:commandLink action="{!listWrapper[0].AGRMNT2}" target="_blank" rendered="{!OR(listWrapper.size > 0,listWrapper[0].AGRMNT2 != null)}"><b>Addendum 2</b></apex:commandLink>
                            </div>
                          </div>
                        </div>
                        </apex:outputPanel>
                  </section>
              </div>


              <!-- Sidebar Fixed -->
              <div class="col-md-3">

                <!-- <div class="sidebar ">
                  <c:GenericDataRenderer configDocumentName="UnitDetailsDisplayConfig" recordId="{!unitId}" />
                </div> -->

                  <div class="well profileDisplay text-align-center">
                    <div class="soa-section">

                      <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-download"></i> Generate<br/>Statement of Account
                      </button>
                      <ul class="dropdown-menu" style="position: inherit;margin-left: 4rem;">
                          <li onClick="getSOA()"><a>SOA</a></li>
                          <li onClick="getSOA('FM')"><a>FM SOA</a></li>
                          <li onClick="getSOA('Penalty')"><a>Penalty SOA</a></li>
                      </ul> -->


                      <div id="accountStatement">
                        <button type="button" class="btn btn-sm btn-success" onClick="getSOA('accountStatement','soa')">
                          Account Statement
                        </button>
                      </div>

                      <div>
                      <button type="button" class="btn btn-sm btn-success" id="penaltyStatement" onClick="getSOA('penaltyStatement', 'Penalty')" style="margin-top: 10px;">
                        Penalty Statement
                      </button>
                      </div>

                      <div>
                        <button type="button" class="btn btn-sm btn-success btn-gen-fm-soa" id="serviceChargesStatement" onClick="getSOA('serviceChargesStatement', 'FM')">
                        Service Charges Statement
                            <!--  Management -->
                      </button>
                      </div>
                      <!-- <iframe id="soaIframe" style="display: none;" src=""></iframe> -->
                      <!-- <apex:variable var="c" value="{!listWrapper}"/> -->
                      <!-- <div>
                        <apex:commandLink action="{!listWrapper[0].SPA}" target="_blank" rendered="{!listWrapper[0].SPA != null}">SPA</apex:commandLink>
                      </div>
                       <div>
                        <apex:commandLink action="{!listWrapper[0].AGRMNT1}" target="_blank" rendered="{!listWrapper[0].AGRMNT1 != null}">AGRMNT 1</apex:commandLink>
                      </div>
                      <div>
                        <apex:commandLink action="{!listWrapper[0].AGRMNT2}" target="_blank" rendered="{!listWrapper[0].AGRMNT2 != null}">AGRMNT 2</apex:commandLink>
                      </div> -->
                    <!-- </apex:variable> -->
                    </div>

                  </div>

                  <div class="well profileDisplay text-align-center">
                    <h4>Make Payment</h4>
                    <div class="termsx-text" id="amountDiv">
                      <div>
                        Outstanding Amount ({!unit.CurrencyIsoCode})
                        <apex:inputText id="amountToPay" styleClass="currencyClass form-control" style="display:inline; margin-bottom:5px;"
                                        onchange="updateAmount();checkPaidAmount();return false;"/>
                        Administration Fee ({!unit.CurrencyIsoCode})
                        <apex:inputText id="charges" styleClass="currencyClass form-control" style="display:inline; margin-bottom:5px;" disabled="true"/>
                        Total Payable ({!unit.CurrencyIsoCode})
                        <apex:inputText id="DueAmountToBePaid" styleClass="currencyClass form-control" style="display:inline;" disabled="true"/>
                        <input type="hidden" class="strAmountOverdue" />
                        <!--  <apex:outputText value="{0, number, #,###.##}" styleClass="currencyClass" style="display:inline;">
                           <apex:param value="{!IF(ISNULL(unit.Total_due_Overdue__c), 0, ROUND(IF(unit.Total_due_Overdue__c > 50000,50000,unit.Total_due_Overdue__c), 2))}" />
                        </apex:outputText> -->
                      </div>

                      <div>
                        <a href="#myModal" class="btn">Administration Fee Details</a>
                      </div>

                      <div>
                        <p style="font-size: 11px;">The Administration Fee covers all of DAMAC Properties costs in relation to the handling and processing of customer payments.</p>
                      </div>

                      <input type="checkbox" id="mustCheck"/> I have read and accepted the following Terms and conditions of use of this online payment facility before proceeding with payment.
                      <br/><br/>
                      <!-- <div class="termsx">
                          <span>

                              <p class="termsx-text">
                                  1.       I intend to purchase a residential / retail / commercial unit in one of DAMAC Properties' developments and make this on-line payment towards non-refundable initial reservation deposit for the unit.<br/>

                              </p><p class="termsx-text">
                              2.       After payment of this initial reservation deposit, the reservation of the unit will be confirmed by DAMAC's representative in the form of an Irrevocable Reservation Form, subject to availability of the requested unit at the time of reservation. I also understand that this payment does not ensure availability of the requested unit at the time of payment.<br/>

                              </p><p class="termsx-text">

                              3.       This payment facility cannot be used for any other payment / s to DAMAC Properties, including payment of balance of deposit and/or subsequent instalment/s for the reserved unit.<br/> </p>

                          </span>
                      </div> -->
                      <div class="termsx">
                          <span>
                            <p class="termsx-text">
                             1. The customer understands that he/she intends to make this on-line non-refundable payment towards dues/overdues for his/her residential / retail / commercial unit in one of DAMAC Properties' developments.
                            </p><p class="termsx-text">
                             2. The customer agrees to use credit cards in his/her name only for making online payment. The customer further understands that third party credit cards i.e. credit cards not in the name of the owner of the property are strictly not allowed.
                            </p><p class="termsx-text">
                             3. Damac reserves the right to accept or reject any payments made through credit cards at its discretion without the need for justification.
                            </p><p class="termsx-text">
                             4. The customer understands that on clicking Make Payment button he/she will be taken to a 3rd party website over which Damac or its subsidiaries have no control. Damac has not reviewed these third party sites and does not control and is not responsible for any of these sites, the payment mechanism followed or their content. Thus, Damac does not endorse or make any representations about them, or any information, software or other products or materials found there, or any results that may be obtained from using them. If the customer decides to access any of the third party sites linked to this Site, they do this entirely at your own risk. Damac recommends to review the terms and conditions of the 3rd party website prior to making any payment.
                             </p><p class="termsx-text">
                             5. The customer assumes full liability that the above information provided by them is complete, accurate, true and reliable and Damac is under no obligation to verify it.
                             </p><p class="termsx-text">
                             6. It is the responsibility of the customer to ensure that sufficient funds are available in the account from which the payment is to be processed on the date the installment is due.
                             </p><p class="termsx-text">
                             7. It is the customer's responsibility to ensure that the payment details and the payment is correct and received by Damac on time. Damac accepts no liability whatsoever in this respect and is under no obligation to notify the customer of any outstanding, incorrect, rejected and/or declined payments, whatever the reason.
                             </p><p class="termsx-text">
                             8. In the event of an outstanding, incorrect, rejected or declined payment for whatever reason, the customer will be liable to pay a Late Payment Penalty at a rate fixed by Damac.
                             </p><p class="termsx-text">
                             9. If any transaction is found to be incorrect, unauthorized or fraudulent for reasons beyond the customer’s control, payment may be reversed, at Damac’s discretion. To avoid doubt, the customer remains bound to make the remaining payment to Damac immediately.
                             </p><p class="termsx-text">
                             10. Any payment not processed due to interrupted service or technological problems or errors beyond the customer's control shall not excuse him/her from his/her obligation to make the requested payment on the due date. Neither will it relieve him/her from his/her obligation to pay Late Payment Fees. The customer shall indemnify Damac from any claim, action, damage, loss or expense incurred due to these reasons.
                             </p><p class="termsx-text">
                             11. Damac has the right (without liability) to suspend, terminate, change limits or discontinue this transaction (whether temporarily or permanently) at any time at its discretion for any reason whatsoever without the need for justification or notification, including rejecting any processed payment. In such cases the customer will be obliged to make the payment(s) on the due date to Damac, through other means acceptable to Damac.
                             </p><p class="termsx-text">
                             12. Damac will (but is under no obligation to) send to the customer an electronic receipt to their email address within five working days for payments processed as per their transaction. It is the customer's responsibility to maintain documents and receipts evidencing payment by this method.
                             </p><p class="termsx-text">
                             13. The customer agrees to fully indemnify and hold Damac, its subsidiaries, affiliates, shareholders, directors, representatives, agents and employees harmless from any claim, action, damage, loss or expense, which they may suffer or incur as a result of this transaction or as a result of a breach by the customer of these Terms and conditions.
                             </p><p class="termsx-text">
                             14. The customer assumes all risks inherent to payments via credit card and will not hold Damac, its subsidiaries, affiliates, shareholders, directors, representatives, agents or employees liable for any claim, action, demand, damage or loss as a result of this transaction.
                             </p><p class="termsx-text">
                             15. Damac has the right to amend these Terms and Conditions at any time without the need for notification to the customer.
                             </p><p class="termsx-text">
                             16. These Terms and Conditions are supplemental to those provided in the Sales and Purchase Agreement and its schedules, which the customer has entered into in respect of the sale/purchase of the property.
                             </p><p class="termsx-text">
                             17. Damac's failure to insist upon or enforce strict performance of any provision of these Terms and conditions will not be construed as a waiver of any provision or right.
                             </p><p class="termsx-text">
                             18. These Terms and Conditions shall be governed by the laws applicable in the emirate of Dubai and the federal laws of the United Arab Emirates. Any dispute arising from or in relation to these Terms and Conditions shall be referred to exclusive jurisdiction of the Dubai Courts.
                             </p>
                          </span>
                      </div>
                      <div class="btn-align">
                        <button type="button" class="btn btn-sm btn-success" onClick="confirmAmount();">Make Payment Now</button>
                      </div>
                    </div>
                      <!-- <iframe id="soaIframe" style="display: none;" src=""></iframe> -->
                  </div>
              </div>
            </div>
        </apex:outputPanel>
    </apex:outputPanel>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            // executes when HTML-Document is loaded and DOM is ready
            console.log("document is ready");
            jQuery('.btn[href^=#]').click(function(e){
                e.preventDefault();
                var href = jQuery(this).attr('href');
                jQuery(href).modal('toggle');
            });
        });

      var unitDetails = {};
      jQuery(document).ready(function($) {
        var urlParams = ccUtils.getUrlParameters();
        console.log('urlParams: ',urlParams);
        if (urlParams && urlParams.id) {
          unitDetails.unitId = urlParams.id;
          unitDetails.registrationId = '{!unit.Registration_ID__c}';
          getUnitDetailsFromIPMS();
        }
      });

      function getUnitDetailsFromIPMS() {
        Visualforce.remoting.Manager.invokeAction(
          "{!$RemoteAction.UnitDetailController.getUnitDetailsFromIPMS}"
          , unitDetails.registrationId || ''
          , function(result, event) {
            ccUtils.unblockScreen($('.unit-data-block'));
            if (event.status) {
              if (result) {

                $('.unit-data-block').find('.ipms-field').each(function() {
                  $this = $(this);
                  data = $this.data() || {};
                  fieldValue = result[data.field];
                  if (data.type === 'currency') {
                    fieldValue = isNaN(Number(fieldValue))
                                  ? ''
                                  : Number(fieldValue).toLocaleString(
                                      'en',
                                      {
                                          minimumFractionDigits: 2,
                                          maximumFractionDigits: 2
                                      }
                                  );
                  } else if (data.field === 'strDefault') {
                    fieldValue = fieldValue === 'Y' ? 'Yes' : 'No';
                  }
                  $this.text(fieldValue);
                });
                var overdueAmount = (Number(result.strAmountOverdue) || 0.00);
                // overdueAmount = overdueAmount > 50000 ? 50000 : 0;
                console.log('---overdueAmount---',overdueAmount);
                $('.strAmountOverdue').val(overdueAmount);
                  $('[id$=amountToPay]').val(overdueAmount);
                  /*$('[id$=charges]').val('0');
                  console.log('amountToPay : ',$('[id$=amountToPay]').val());
                  $('[id$=DueAmountToBePaid]').val(Number($('[id$=amountToPay]').val()) + Number($('[id$=charges]').val()));

                  console.log('--Method Initiated--');
                console.log('--Method Executed--');
                $('[id$=DueAmountToBePaid]').val(Number($('[id$=amountToPay]').val()) + Number($('[id$=charges]').val()));*/
				        updateAmount();
                checkPaidAmount();
              } else {
                toastr.error('Error while getting the Unit Details From IPMS');
              }

            $('[id$=amountToPay]').val($('[id$=amountToPay]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $('[id$=charges]').val($('[id$=charges]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            $('[id$=DueAmountToBePaid]').val($('[id$=DueAmountToBePaid]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
              // window.open(result, '_blank');
            } else if (event.type === 'exception') {
              console.error(event.message, event.where);
              toastr.error(event.message);
            } else {
              console.error(event.message);
              toastr.error(event.message);
            }
          }
        );
        ccUtils.blockScreen($('.unit-data-block'), 'Fetching data...');
        updateAmount();
        checkPaidAmount();
      }

      function getSOA(current, soaType) {
        console.log('....current : ', current);
        Visualforce.remoting.Manager.invokeAction(
          "{!$RemoteAction.UnitDetailController.getStatementOfAccount}"
          , unitDetails.registrationId || ''
          , soaType || 'soa'
          , function(result, event) {
            ccUtils.unblockScreen($('.soa-section'));
            console.log('getSOA result', result);
            if (event.status) {
              console.log('-->> List : ');
              // var soaIframe = document.getElementById('soaIframe')
              // soaIframe.style = 'display: block;width: 100%;height: 100%;min-height: 480px;'
              // soaIframe.src = result;
              if (result) {
                if(current == "accountStatement") {
                  var arrayEnglish;
                  var arrayOtherLang = [];
                  for (var n = 0; n < result.length; n++) {
                    var resultTemp = result[n];
                    console.log('-->> resultTemp : ', resultTemp , ' --- ', n);
                    var arrayUrlAndLang = resultTemp.split('-');
                    console.log('-->> arrayUrlAndLang : ', arrayUrlAndLang);
                    console.log('-->> arrayUrlAndLang[0] : ', arrayUrlAndLang[0]);
                    console.log('-->> arrayUrlAndLang[1] : ', arrayUrlAndLang[1]);
                    if (arrayUrlAndLang[1] == 'English') {
                      arrayEnglish = arrayUrlAndLang[0];
                    } else {
                      arrayOtherLang[0] = arrayUrlAndLang[0];
                      arrayOtherLang[1] = arrayUrlAndLang[1];
                    }
                  }
                  if (arrayOtherLang && arrayOtherLang.length > 0) {
                    document.getElementById("accountStatement").innerHTML = '<span><a href="' + arrayEnglish + '" target="_blank">Click to View</a></span><span><a href="' + arrayOtherLang[0] + '" target="_blank">Click to View in ' + arrayOtherLang[1] + '.</a></span>';
                  } else {
                    document.getElementById("accountStatement").innerHTML = '<a href="' + arrayEnglish + '" target="_blank">Click to View</a>';
                  }
                } else if(current == "penaltyStatement"){
                  ccUtils.downloadFile(result[0]);
                } else if(current == "serviceChargesStatement"){
                  ccUtils.downloadFile(result[0]);
                }
                //ccUtils.downloadFile(result);
              } else {
                toastr.error('Error 000: while getting the Statement of Account');
              }
              // window.open(result, '_blank');
            } else if (event.type === 'exception') {
              console.error(event.message, event.where);
              toastr.error('Error 000: while getting the Statement of Account');
            } else {
              console.error(event.message);
              toastr.error('Error 000: while getting the Statement of Account');
            }
          }
        );
        ccUtils.blockScreen($('.soa-section'), 'Generating...');
      }

      function updateAmount() {
       var amountToPay = $('[id$=amountToPay]').val().replace(',', '');
        Visualforce.remoting.Manager.invokeAction(
          "{!$RemoteAction.UnitDetailController.chargesDetails}"
          , amountToPay
          , function(result, event) {

               if(result){
                console.log('Amount to pay : ',$('[id$=amountToPay]').val());
                $('[id$=charges]').val(result).toString();
                console.log('Charges : ',$('[id$=charges]').val());
                $('[id$=DueAmountToBePaid]').val(Number($('[id$=amountToPay]').val().replace(',', '')) +
                            Number($('[id$=charges]').val().replace(',', '')));
               }
               else{
                console.log(event.message);
               }
              $('[id$=amountToPay]').val($('[id$=amountToPay]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
              $('[id$=charges]').val($('[id$=charges]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
              $('[id$=DueAmountToBePaid]').val($('[id$=DueAmountToBePaid]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
          });
          getCharge();
      }

      /* This method checks if Paying Amount + Paid Amount < 50% of Unit price 
         If Yes - Skip admin fee addition
         If No  - Add admin fee
      */
      function checkPaidAmount() {

          var regId = '{!unit.Registration_ID__c}';
          console.log('Unit regId: ',regId);
          var unitPrice = '{!unit.Requested_Price__c}';
          console.log('Unit price ',unitPrice);

          Visualforce.remoting.Manager.invokeAction(
          "{!$RemoteAction.UnitDetailController.getUnitDetailsFromIPMS}"
          , regId || ''
          , function(result, event) {
            console.log('unitDetails service response: ',result);
            console.log('result.strAmountPaid: ',result.strAmountPaid);
            console.log('Amount to pay : ',$('[id$=amountToPay]').val());

              //New formula regarding Admin fee calculation [When amountToPay + paidAmount < 50% of unitPrice skip the admin fee addition]

              var halfOfUnitPrice = Number('{!unit.Requested_Price__c}') / 2;
              console.log('halfOfUnitPrice: ',halfOfUnitPrice);

              var paidPlusUnpaidAmt = Number(result.strAmountPaid) + Number($('[id$=amountToPay]').val().replace(',', ''));
              console.log('paidPlusUnpaidAmt: ',paidPlusUnpaidAmt);
              //End of New formula

              //If paid amount + paying amount is less than 50% of unitPrice than skiping addition of admin fees
              if(paidPlusUnpaidAmt < halfOfUnitPrice) {
                  $('[id$=DueAmountToBePaid]').val(Number($('[id$=amountToPay]').val().replace(',', '')));
                  $('[id$=charges]').val(0);
                  console.log('dueAmount payable : ',$('[id$=DueAmountToBePaid]').val());
                  getCharge();
              }
              else {
                  console.log('calling updateAmount');
                  updateAmount(); //calling this to add the admin fees as before;
              }
            
          });

      }

    </script>

    <script src="/soap/ajax/38.0/connection.js"></script>
    <script src="/soap/ajax/38.0/apex.js"></script>

    <script>
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        baseSecureUrl = '{!$Site.BaseSecureUrl}'
        console.log('$Site.BaseSecureUrl', baseSecureUrl);
        console.log('$Site.Prefix', '{!$Site.Prefix}');
        function doPay() {
            console.log( '-- Amount To Be Paid --' + $('[id$=DueAmountToBePaid]').val() );
            var outstanding = Number( $('[id$=amountToPay]').val().replace(',', '') );
            var adminFee = Number( $('[id$=charges]').val().replace(',', '') );
            // var outstandingAmount = Number('{!unit.Total_due_Overdue__c}');
            var outstandingAmount = Number($('.strAmountOverdue').val());
            var payingAmount = Number( $('[id$=DueAmountToBePaid]').val().replace(',', '') );

            if (isNaN(payingAmount)) {
                toastr.info('Please enter a proper value for the payment amount');
                return;
            } /*else if (!outstandingAmount) {
                toastr.info('You have no outstanding amount for this unit.');
                return;
            } else if ( payingAmount > outstandingAmount + Number($('[id$=charges]').val().replace(',', ''))) {
                toastr.error('You cannot pay more than your outstanding amount.')
                return;
            } else if ( payingAmount > 50000 ) {
                toastr.error('Payment amount cannot be greater than 50000.')
                return;
            }*/

            if (document.getElementById("mustCheck").checked == false) {
                toastr.error('Please check the User Declaration.')
                return;
            }

            /*if (!outstandingAmount) {
                toastr.info('You have no Outstanding amount for this unit.');
                return;
            }
            outstandingAmount = outstandingAmount > 50000 ? 50000 : outstandingAmount;*/

            var reqval = sforce.apex.execute("UnitDetailController","doPay",{buID:unitDetails.unitId, amt:"" + payingAmount, url : baseSecureUrl, adminFee:""+adminFee, outstanding: ""+outstanding});
            var form = document.createElement("form");
            console.log('reqval = ', reqval);

            form.setAttribute("method", "post");
            form.setAttribute("action", reqval);
            form.setAttribute("target", "_blank");
            window.parent.document.body.appendChild(form);
            form.submit();
        }

        function AsyncConfirm(title, msg1, msg2, msg3, btnName, yesFn, msg4, msg5) {
            var form = document.createElement("form");
            var $confirm = $("#modalConfirm");
            $confirm.modal('show');
            $("#lblTitleConfirm").html(title);
            $("#lblMsgConfirm1").html(msg1);
            $("#lblMsgConfirm2").html(msg2);
            $("#lblMsgConfirm3").html(msg3);
            $("#lblMsgConfirm5").html(msg5);
            $("#btnYesConfirm").html(btnName);
            $("#btnYesConfirm").off('click').click(function () {
                yesFn();
                $confirm.modal("hide");
            });
            $("#btnNoConfirm").off('click').click(function () {
                $confirm.modal("hide");
                return false;
            });
            $("#lblMsgConfirm4").html(msg4);
        }

        function confirmAmount() {
            AsyncConfirm(
                "Please confirm amount as below",
                "Amount that will be credited to your statement is  " + $('[id$=amountToPay]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " {!unit.CurrencyIsoCode}",
                "Administration Fee is " + $('[id$=charges]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " {!unit.CurrencyIsoCode}",
                "Total payable amount that will be debited / credited is " + $('[id$=DueAmountToBePaid]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " {!unit.CurrencyIsoCode}",
                "Pay " + $('[id$=DueAmountToBePaid]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " {!unit.CurrencyIsoCode}" ,
                doPay,
                "You will be taken to 3rd party payment gateway",
                "Amount: "+$('[id$=DueAmountToBePaid]').val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " {!unit.CurrencyIsoCode}"
            );
        }

        function proceedToPayfort() {
            console.log('amount to pay :: ',$('[id$=DueAmountToBePaid]').val().toString().replace(',','') );
            window.location.href = "{!$Site.BaseUrl}/PayfortTokenizationPage?amount="+$('[id$=DueAmountToBePaid]').val().toString().replace(',','')+'&adminfee='+$('[id$=charges]').val().toString().replace(',','')+'&amountToPay='+$('[id$=amountToPay]').val().toString().replace(',','')+'&unitId='+'{!unitId}';
        }

        /*
        window.onload=function(){
            alert('{!$CurrentPage.parameters.responseParameter}');
            var respParam = '{!$CurrentPage.parameters.responseParameter}';

            var reqval = sforce.apex.execute("NIPaymentGateway","decryptResponse",{resp:respParam});
            alert(reqval);
        }*/
    </script>

</apex:component>