<apex:component controller="WaiverSRCtrl" id="WaiverSRComp" allowDML="true" >
    <apex:outputPanel layout="block" styleClass="row" >
        <apex:outputPanel layout="block" styleClass="col-md-12" id="mainPanel">
            <apex:actionFunction name="SaveDraftJS" 
                                 action="{!saveAsDraft}" 
                                 Status="blockUI"
                                 reRender="sourceUnitPanel, pgMsg"/>
            <apex:actionFunction name="SubmitJS" 
                                 action="{!submitSR}" 
                                 Status="blockUI"
                                 reRender="pgMsg, sourceUnitPanel"/>
            <apex:actionFunction name="getUnitDetailsJS" 
                                 action="{!getUnitDetails}" 
                                 Status="blockUI"
                                 reRender="FEtCSID,sourceUnitPanel, pgMsg,showUnitDtId,WaiverTypesMsg,currencyLbl,AmountID"
                                 status="blockUI"/> 
            
            <apex:actionFunction name="doValidationPageJS" 
                                 action="{!doValidationcntrl}" 
                                 Status="blockUI"
                                 reRender="FEtCSID,TABLEID,sourceUnitPanel"
                                 status="blockUI"/> 
                                 
            <section >
                <apex:outputPanel layout="block" styleclass="well" id="mainBlock">
                    <h4>Waiver</h4>
                    <apex:PageMessages id="pgMsg" escape="false"></apex:PageMessages>
                    <apex:inputHidden value="{!casestatus}" id="casestatus"/>
                    <apex:inputHidden value="{!pagnastr}" id="pagNa"/>
                    <apex:inputHidden value="{!strSOAAttachmentBody}" id="SOAAttachBody"/>
                    <apex:inputHidden value="{!strSOAAttachmentName}" id="SOAAttachName"/>
                    <apex:inputHidden value="{!strODAttachmentBody}" id="ODAttachBody1"/>
                    <apex:inputHidden value="{!strODAttachmentName}" id="ODAttachName1"/>
                    <apex:inputHidden value="{!strOtDoAttachmentBody}" id="ODAttachBody2"/>
                    <apex:inputHidden value="{!strOtDoAttachmentName}" id="ODAttachName2"/>
                    <apex:inputHidden value="{!strOtDocAttachmentBody}" id="ODAttachBody3"/>
                    <apex:inputHidden value="{!strOtDocAttachmentName}" id="ODAttachName3"/>
                    <apex:inputHidden value="{!strOthDocAttachmentBody}" id="ODAttachBody4"/>
                    <apex:inputHidden value="{!strOthDocAttachmentName}" id="ODAttachName4"/>
                    <apex:outputPanel layout="block">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label id="SuDIV" >
                                        Select Unit&nbsp;<span aria-hidden="true" style=" color: red;">*</span> 
                                    </label>
                                    <apex:selectList id="SelectUnitID" styleClass="chosen-select form-control disabledSelect disabledSelect2" 
                                                     value="{!selectedUnitId}" 
                                                     multiselect="false" >
                                        <apex:actionsupport event="onchange" action="{!getRequestedPrice}" status="blockUI"/>
                                        <apex:selectOptions value="{!lstSourceUnits}"/>
                                    </apex:selectList>
                                    
                                    <label id="otpDiv">
                                        Waiver Type<!-- &nbsp;<span aria-hidden="true" style=" color: red;">*</span> -->
                                    </label> 
                                    &nbsp;&nbsp;
                                    <apex:selectList id="WaiverTypeID" 
                                                     value="{!selectedWaiverType}" 
                                                     multiselect="false"
                                                     styleClass="chosen-select form-control disabledSelect disabledSelect2" 
                                                     onchange="checkWaiverType();">
                                        <apex:selectOptions value="{!lstWaiverTypes}"/>
                                    </apex:selectList>
                                    
                                    <apex:outputPanel id="waiverTypePanel">
                                        <label id="UnitRequested price" >
                                            Requested Price&nbsp;   
                                        </label>
                                        <apex:outputText id="RequestedPR" styleClass="Emailref" value="{!decRequestedPrice}"  /><br/>
                                        <label id="typeWaiver">
                                            Type of Waiver<!-- &nbsp;<span aria-hidden="true" style=" color: red;">*</span> -->
                                        </label> 
                                        &nbsp;&nbsp;
                                        <apex:selectList id="TypeWaiverID" styleClass="chosen-select form-control disabledSelect disabledSelect2" 
                                                        multiselect="false">
                                            <apex:actionSupport event="onchange"  rerender="" onsubmit="enableInput();" />
                                            <apex:selectOption itemValue="% Of Property Value" itemLabel="% Of Property Value"/>
                                            <apex:selectOption itemValue="Amount" itemLabel="Amount"/>
                                        </apex:selectList>
                                        
                                        
                                        <label id="WaiverPercentageLb1">
                                            Waiver Percentage <!-- &nbsp;<span aria-hidden="true" style=" color: red;">*</span> -->
                                        </label>
                                        <apex:input id="WaiverPercentageLbIp"
                                                    value="{!WavierPercentage}"  
                                                    onkeyup="calculateAmount(this.id);" 
                                                    StyleClass="form-control disabledSelect disabledSelect2 disabledClass" />
                                    
                                    </apex:outputPanel>
                                    <label id="AmountID">
                                        Waiver Amount ({!currencyIsoCode})<!-- &nbsp;<span aria-hidden="true" style=" color: red;">*</span> -->
                                    </label>
                                    <apex:input id="amount"
                                                value="{!amount}"  
                                                StyleClass="form-control disabledSelect disabledSelect2 disabledClass" 
                                                onkeyup="calculatePercent();"/>
                                   
                                    <label id="FeeID">
                                        % Fee / charge / VAT / Balance<!-- &nbsp;<span aria-hidden="true" style=" color: red;">*</span>  -->
                                        <apex:input value="{!Fee_charge_VAT_Balance}"   id="Fee_charge_VAT_Balance" 
                                                    StyleClass="form-control disabledSelect disabledSelect2"/>
                                        <label> <i style="color:black;font-size:10px">Please enter the % of the total Fee/Charge/VAT/Balance amount that needs to be waived e.g. If Assignment fee is AED 500 and amount to be waived that you entered  Above is AED 250 then fill 50% here </i></label>
                                        
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <button type="button" Class="btn btn-sm btn-primary disabledClass" onclick="validate('FUD');">Fetch Unit Details</button>
                        
                        <br/><br/><br/> 
                    </apex:outputPanel>
                </apex:outputPanel>
            </section>
            <apex:outputPanel id="FEtCSID">
                <apex:outputPanel rendered="{!showcaseDetails}">
                    <section>
                        <div class="well">
                            <!-- <table style="border-collapse: inherit; padding: 20px; width:850px" > -->
                            
                            <apex:outputPanel id="TABLEID" rendered="{!If(lstExistingSR != Null && lstExistingSR.size > 0,true,false)}" >
                                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" >
                                    <tr class="rowstyle " style="background-color: #ddd; height: 20px;">
                                        
                                        <th style="text-align: center; width:20%;"> Case Number </th>
                                        <th style="text-align: center; width:30%;"> Waiver Type </th>
                                        <th style="text-align: center; width:20%;"> Waiver Amount </th>
                                        <th style="text-align: center; width:20%;"> Waiver %</th>
                                    </tr>
                                    <apex:repeat value="{!lstExistingSR}" var="srObj" id="existinggSR">
                                        <tr class="rowstyle" style="height: 20px;">
                                            <!--     <td><a href="{!srObj.Id}">{!srObj.CaseNumber}</a></td> -->
                                            <td style="text-align: center; width:20%;"> <apex:outputLink value="/{!srObj.id}" target="_blank">{!srObj.CaseNumber} </apex:outputLink> </td>
                                            <td style="text-align: center; width:30%;"> <apex:outPutText value="{!srObj.Waiver_Type__c}" /> </td>
                                            <td style="text-align: center; width:20%;"> <apex:outPutText value="{!srObj.Waiver_Amount_AED__c}" /> </td>
                                            <td style="text-align: center; width:20%;"> <apex:outPutText value="{!srObj.Fee_charge_VAT_Balance__c}" /> </td>
                                        </tr>
                                    </apex:repeat>
                                    
                                </table>
                                <!-- <label> <b>No records to display </b></label> -->
                                <apex:panelgroup >
                                    <span class="selectorTarget">
                                        <label> <i> Page {!pagecount} of {!totalpages}</i></label>
                                    </span>
                                </apex:panelgroup>
                            </apex:outputPanel>
                            <!--<apex:outputPanel id="TABLENOREC" rendered="{!If(lstExistingSR == Null || lstExistingSR.size == 0,true,false)}">
                                <label> <b>No records to display </b></label>
                            </apex:outputPanel>-->
                            
                            <div class="container">
                                <apex:commandButton value="Exit"
                                                    styleClass="btn btn-sm btn-destructive"
                                                    action="{!Exit}"
                                                    status="blockUI"
                                                    reRender="pgMsg"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                                <!--  <button type="button" Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('First Page');">First Page</button> 
                                <button type="button" Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('PreviousPage');">PreviousPage</button>
                                <button type="button"  Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('NextPage');">NextPage</button>
                                <button type="button"  Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('LastPage');">LastPage</button> -->
                                <button type="button" Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('PreviousPage');"><i class="fa fa-angle-double-left" style="font-size:36px"></i></button>
                                <button type="button" Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('First Page');"><i class="fa fa-angle-left" style="font-size:36px"></i></button>
                                <button type="button"  Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('NextPage');"> <i class="fa fa-angle-right" style="font-size:36px"></i> </button>
                                <button type="button"  Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('LastPage');"><i class="fa fa-angle-double-right" style="font-size:36px"></i></button>
                                
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
                                
                                <button type="button"  Class="btn btn-success btn-xs disabledClass" onclick="doValidationPage('Proceed');">Proceed</button>
                                
                                
                                
                                
                                <!--        <button type="button"  Class="btn btn-xs btn-primary disabledClass" onclick="doValidationPage('Go Back');">Go Back</button> -->
                                <!-- <div class="centerBtn">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" style="height:30px" Class="btn btn-xs btn-primary disabledClass" onclick="doValidation('Draft');"><div style="Padding-down:10px">Go Back</div></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" style="height:30px" Class="btn btn-success btn-xs  disabledClass " onclick="doValidation('Submit');"><div style="Padding-down:10px"> Proceed </div></button> 
                                </div> -->
                            </div>
                        </div>
                    </section >
                </apex:outputPanel>
            </apex:outputPanel>
            <apex:outputPanel id="sourceUnitPanel" layout="block" >
                <apex:outputPanel rendered="{!showUnitDetails}" >
                    <c:ParentCaseSearchComp DraftedparentSearchKey="{!existingParentNumber}"/>
                    <!-- <apex:actionRegion> -->
                    <section>
                        <div class="col-lg-12">
                            <h4 id="SOAID" > <b> SOA </b>&nbsp;<span aria-hidden="true" style=" color: red;">*</span> </h4>
                            
                            <br/>
                            <apex:outputPanel rendered="{!If(lstcrfattachment == null || lstcrfattachment.size = 0,true,false)}">
                                <div class="col-lg-12 col-md-6 col-xs-12 text-center">
                                    <apex:outputPanel id="fileupload" layout="block" >
                                        <div class="fileupload fileupload-new"
                                             data-provides="fileupload" style="text-align: center;">
                                            <span class="btn btn-primary btn-file"> 
                                                <span class="fileupload-new">
                                                    <i class="fa fa-address-card-o" aria-hidden="true"></i><br />
                                                    Click to Upload
                                                </span> 
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br />
                                                    Change
                                                </span>
                                                <input type="file" id="SOAAttach" class="disabledSelect"
                                                       onchange="attachSOAFile();" />
                                            </span>
                                            <div>
                                                <span class="fileupload-preview"></span> 
                                                <a href="#"
                                                   class="close fileupload-exists" data-dismiss="fileupload"
                                                   onclick="removeAttachmentFile('SOA')" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                </div>
                            </apex:outputPanel>
                            <div style="padding-bottom: 4%;">
                                <apex:outputPanel id="crfAttachmentPanel" rendered="{!If(lstcrfattachment != Null && lstcrfattachment.size > 0,true,false)}">
                                    <table cellpadding="10" width="100%" class=".docTable">
                                        <thead>
                                            <tr >
                                                <th> Remove</th>
                                                <th>Attachment Name</th>
                                                <th>Type</th>
                                                <th>Is Valid</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <apex:commandLink title="Remove Attachment" style="width:80px;"
                                                                      action="{!removeAttachments}" 
                                                                      reRender="sourceUnitPanel,pgMsg" status="blockUI"
                                                                      styleClass="remove disabledClass">
                                                        <apex:param name="RemoveSelected" value="{!lstcrfattachment[0].id}" assignTo="{!RemoveSelected}" />
                                                        <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                    </apex:commandLink>
                                                </td>
                                                <td>{!lstcrfattachment[0].name} </td>
                                                <td>{!lstcrfattachment[0].type__c } </td>
                                                <td align="left" >
                                                    <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(lstcrfattachment[0].isValid__c == false,true,false)}" />
                                                    <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(lstcrfattachment[0].isValid__c == true,true,false)}" />
                                                </td>
                                                <td>
                                                    <a href="{!lstcrfattachment[0].Attachment_URL__c}" target="_blank">VIEW</a> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </apex:outputPanel>
                            </div>
                            <!--  </div> -->
                            <div >
                                <apex:outputPanel id="ODAttachmentPanel" rendered="{!If(lstCRFattachment1 != Null && lstCRFattachment1.size > 0 ,true,false)}">
                                    <h4> <b>Other Document(s) </b></h4>
                                    <apex:repeat value="{!lstCRFattachment1}" var="att">
                                        <div style="padding-bottom: 4%;">
                                            <table cellpadding="10" width="100%" class=".docTable">
                                                <thead>
                                                    <tr >
                                                        <th> Remove</th>
                                                        <th>Attachment Name</th>
                                                        <th>Type</th>
                                                        <th>Is Valid</th>
                                                        <th>View</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <apex:commandLink title="Remove Attachment" style="width:80px;"
                                                                              action="{!removeAttachments}" 
                                                                              reRender="sourceUnitPanel,pgMsg" status="blockUI"
                                                                              styleClass="remove disabledClass">
                                                                <apex:param name="RemoveSelected" value="{!att.id}" assignTo="{!RemoveSelected}" />
                                                                <apex:image value="{!$Resource.Remove}"  style="height:20px;" />
                                                            </apex:commandLink>
                                                        </td>
                                                        <td>{!att.name}</td>
                                                        <td>{!att.type__c}</td>
                                                        <td align="left" >
                                                            <apex:image value="{!$Resource.UnCheck_Icon}"  style="height:20px;" rendered="{!IF(att.isValid__c == false,true,false)}" />
                                                            <apex:image value="{!$Resource.Check_Icon}"  style="height:20px;" rendered="{!IF(att.isValid__c == true,true,false)}" />
                                                        </td>
                                                        <td>
                                                            <a href="{!att.Attachment_URL__c}" target="_blank">VIEW</a> 
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </apex:repeat>
                                </apex:outputPanel>
                            </div>
                            <div class="col-lg-12">
                                <apex:outputPanel rendered="{!If(ODsize != null && ODsize.size > 0,true,false)}">
                                    <h4> <b>Other Document (s)</b></h4>
                                    <apex:repeat value="{!ODsize}" var="at">
                                        <td>
                                            <apex:outputPanel >
                                                <div class="col-lg-3 col-md-3 col-xs-3 text-center">
                                                    <apex:outputPanel id="fileupload1" layout="block" >
                                                        <div class="fileupload fileupload-new"
                                                             data-provides="fileupload" style="text-align: center;">
                                                            <span class="btn btn-primary btn-file"> 
                                                                <span class="fileupload-new">
                                                                    <i class="fa fa-address-card-o" aria-hidden="true"></i><br />
                                                                    Click to Upload
                                                                </span> 
                                                                <span class="fileupload-exists">
                                                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i><br />
                                                                    Change
                                                                </span>
                                                                <input type="file" id="ODAttach" class="disabledSelect"
                                                                       onchange="attachODFile({!at});" />
                                                            </span>
                                                            <div>
                                                                <span class="fileupload-preview"></span> 
                                                                <a href="#"
                                                                   class="close fileupload-exists" data-dismiss="fileupload"
                                                                   onclick="removeAttachmentFile('Other Document')" style="float: none">×</a>
                                                            </div>
                                                        </div>
                                                    </apex:outputPanel>
                                                </div>
                                            </apex:outputPanel>
                                        </td>
                                    </apex:repeat>
                                </apex:outputPanel>
                            </div>
                        </div>
                    </section>
                    <section>
                        <apex:outputPanel id="btnId" layout="block">
                            <div class="well">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="centerBtn">
                                                    <apex:commandButton value="Exit"
                                                                        styleClass="btn btn-sm btn-destructive"
                                                                        action="{!Exit}"
                                                                        status="blockUI"
                                                                        reRender="pgMsg"/>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button type="button" Class="btn btn-sm btn-primary disabledClass" onclick="doValidation('Draft');">Save As Draft</button>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button type="button" Class="btn btn-success btn-sm  disabledClass " onclick="doValidation('Submit');">Submit</button> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </section>
                </apex:outputPanel>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
    <script>
    
        window.onload = function() {
            
            console.log("lst source units = " + '{!lstSourceUnits}');
            
            console.log('isSRSubmitted = ' + '{!isSRSubmitted}');
            //$("[id$='amount']").attr('disabled',true);
            $("[id$='WaiverPercentageLbIp']").attr('disabled',true); 
            $("[id$='waiverTypePanel']").hide();
            
            //disable inputs if SR is submiited
            if('{!isSRSubmitted}' == 'true') {
                console.log('SR Submitted');
                $('.disabledClass').each(function(i, obj) {
                    $(this).attr('disabled',true);
                });
                
                $(".disabledSelect").prop('disabled', true).trigger("chosen:updated");
                $(".remove").css("visibility", "hidden");
                
            }
        }
        function calculateAmount( data ) {
            var requestedPrice = '{!decRequestedPrice}';
            var valPer = $("[id$='WaiverPercentageLbIp']").val();
            $('[id$="amount"]').val( requestedPrice * (valPer/100) );
        }

        function calculatePercent() {
            var requestedPrice = '{!decRequestedPrice}';
            var amt = $('[id$="amount"]').val();
            $("[id$='WaiverPercentageLbIp']").val( ( ( amt/requestedPrice ) * 100 ).toFixed(2) );
        }
    
        function checkWaiverType() {
            if( $( "[id$='WaiverTypeID']" ).val() == 'Service Charge' ){
                $("[id$='waiverTypePanel']").show();
                $("[id$='amount']").attr('disabled',true);
                $("[id$='WaiverPercentageLbIp']").attr('disabled',true); 
                enableInput();
            }
            else {
                $("[id$='waiverTypePanel']").hide();
                $("[id$='amount']").attr('disabled',false);
            }
        }
        function enableInput() {
            
            var typeOfWavier =$("[id$='TypeWaiverID']").val(); 
            
            if( typeOfWavier =='% Of Property Value' ){
                $("[id$='WaiverPercentageLbIp']").attr('disabled',false);
                $("[id$='amount']").attr('disabled',true);
            }
            else if( typeOfWavier =='Amount'){
                $("[id$='amount']").attr('disabled',false);
                $("[id$='WaiverPercentageLbIp']").attr('disabled',true); 
            }
        }
        
        $( function () {
            $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({allow_single_deselect: true});
        });

        function attachSOAFile(){
            console.log( document.getElementById("SOAAttach").files[0] );
            var filename = document.getElementById("SOAAttach").value;
            if( filename != '' ) {
                $('[id$=SOAAttachName]').val(filename);
                var fbody = document.getElementById("SOAAttach").files[0];
                var reader = new FileReader();
                reader.readAsDataURL(fbody);
                reader.onload = function(e) {
                    var blobfile = window.btoa(this.result);
                    $('[id$=SOAAttachBody]').val(blobfile);
                }
            }
        }
        function doValidationPage(val1) {
            //alert('Enter>>>');
            
            $('[id$=pagNa]').val(val1);
            doValidationPageJS();
            /*  if(val1=='Proceed'){
                alert('>>>>Inside IF>>>');
                bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    console.log('This was logged in the callback: ' + result);
                }
            });
                }if(val1!='Proceed'){
                    doValidationPageJS();
                }*/
                
            }
        function attachODFile(index){
            //console.log( document.getElementById("ODAttach").files[0] );
            var fileInput = document.getElementById("ODAttach");
            var filenameId = '[id$="ODAttachName' + index + '"]';
            var fileBodyId =  '[id$="ODAttachBody' + index + '"]';
            console.log( 'filenameId ==',filenameId);
            console.log('fileBodyId==', fileBodyId);
            console.log('fileInput==', fileInput);
            console.log('index==', index);
            debugger;
            var filename = fileInput.value;
            if( filename != '' ) {
                $( filenameId ).val( filename );
                var fbody = fileInput.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(fbody);
                reader.onload = function(e) {
                    var blobfile = window.btoa(this.result);
                    $( fileBodyId ).val(blobfile);
                }
            }
            
            console.log( '$( filenameId ).val == ' , $( filenameId ).val());
            console.log( '$( fileBodyId ).val == ' , $( fileBodyId ).val());
            debugger;
        }
        function doValidation(actionName){
            var filename = $('[id$="SOAAttach"]').val();
            var uploadedSoaName = $('[id$="SOAAttachName"]').val();
            $("#SOAERR").remove();
            if( filename || uploadedSoaName ){
                if(actionName=='Draft'){
                    SaveDraftJS();
                }
                if(actionName=='Submit'){
                    validate('Submit');
                    //SubmitJS();
                }
            }else{
                $("#SOAID").after('<label id="SOAERR" style="color:red;"> Please upload SOA document!</label>');
            }
        }
        function removeAttachmentFile(val1){
            try{
                if(val1 == 'SOA'){
                    $('[id$=SOAAttachName]').val('');
                    $('[id$=SOAAttachBody]').val('');
                }
                else if(val1 == 'OtDoAttach'){
                    $('[id$=ODAttachName2]').val('');
                    $('[id$=ODAttachBody2]').val('');
                }
                    else if(val1 == 'OtDocAttach'){
                        $('[id$=ODAttachName3]').val('');
                        $('[id$=ODAttachBody3]').val('');
                    }
                        else if(val1 == 'OthDocAttach'){
                            $('[id$=ODAttachName4]').val('');
                            $('[id$=ODAttachBody4]').val('');
                        }
            }catch(err){
                alert('--error--'+err);
            }
        }
        
        function validate(val) {
            //SubmitJS();
            
            var selval=$("[id$='WaiverTypeID']").val(); 
            var casestatus=$("[id$='casestatus']").val(); 
            var selunit=$("[id$='SelectUnitID']").val(); 
            var selamt=$("[id$='amount']").val();
            var selFee=$("[id$='Fee_charge_VAT_Balance']").val(); 
            console.log( 'selval -' + selval )
            $("#otpErr").remove();
            $("#otpErr2").remove();
            $("#otpErr3").remove();
            if(val=='Submit'){
                $("#AmountID").after("{!currencyIsoCode}");
                if( selval==null ) {
                    $("#otpDiv").after('<label id="otpErr" style="color:red;"> Please Select Waiver Type</label>');
                }if(selunit==null){
                    $("#SuDIV").after('<label id="otpErr" style="color:red;"> Please Select Select Unit </label>');
                }if(selFee==null || (selFee<0 || selFee>100 )){
                    errorlog=true;
                    //$("#otpErr").remove();
                    $("#FeeID").after('<label id="otpErr" style="color:red;"> Please Enter The  Valid Value </label>');
                }if(selval!=null && selval.includes("Service Charge") && selamt==''){
                    $("#AmountID").after('<label id="otpErr2" style="color:red;">* Amount is Mandatory for Service Charge Waiver</label>');
                    $("#currencyLbl").after('<label id="otpErr3" style="color:red;">* Amount is Mandatory for Service Charge Waiver</label>');
                }
                if(val=='Submit'&& selval!=null  && selunit!=null && selamt!=null && selFee!=null && selval.includes("Service Charge") && selamt!=''){
                    if(selFee>=0 && selFee<=100){
                        $("#otpErr").remove();
                        $("#otpErr3").remove();
                        SubmitJS();
                    }
                }
                if(val=='Submit'&& selval!=null  && selunit!=null && selamt!=null && selFee!=null && !selval.includes("Service Charge")){
                    if(selFee>=0 && selFee<=100){
                        $("#otpErr").remove();
                        $("#otpErr2").remove();
                        SubmitJS();
                    }
                }
            }
            if(val=='FUD'){
                $("#otpErr").remove();
                $("#otpErr2").remove();
                //$("#otpErr1").remove();
                if(selunit==null){
                    $("#SuDIV").after('<label id="otpErr" style="color:red;"> Please Select Select Unit </label>');
                } if( selval==null ) {
                    $("#otpDiv").after('<label id="otpErr" style="color:red;"> Please Select Waiver Type</label>');
                }
                /*if(selval!=null && selval.includes("Service Charge") && selamt==''){
                    $("#AmountID").after('<label id="otpErr2" style="color:red;">* Amount is Mandatory for Service Charge Waiver</label>');
                }*/
                if(selunit!=null && selval!=null){
                    $("#otpErr").remove();
                    //$("#otpErr2").remove();
                    getUnitDetailsJS();
                }
                /*if(selunit!=null && selval!=null && !selval.includes("Service Charge")){
                    $("#otpErr").remove();
                    $("#otpErr2").remove();
                    getUnitDetailsJS();
                }*/
            }
            /*if(selval!=null  && selunit!=null && ((selamt!=null || selamt>0) && (selFee!=null || selFee>0))) {
                    $("#otpErr").remove();
                    getUnitDetailsJS();
                } */
                
        }
    </script>
</apex:component>